.modal {
    background: black;
    height: 100vh;
    width: 100vw;
    opacity: 0.5;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 10;

    .header-nav {

        a {
            width: 100%;
            display: block;
            font-size: 6.4rem;
        }
    }
}

.top-header {
    color: white;
    background-color: rgba(141, 154, 166, 0.5);
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 100;

    .header-container{
        height: 100%;
        width: 100%;
        max-width: 1024px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 8.25%;

        .header-logo {
            font-size: 2.4rem;
            font-weight: bold;
        }

        .header-hamburger {
            cursor: pointer;
            .bar {
                width: 31px;
                height: 4px;
                background: white;
                margin: 5px 0;
                border-radius: 5px;
            }
        }
    }
}