.jumbo {
  .width-100();

  img {
    z-index: 2;
    .width-100();
  }

  h1 {
    // font-size: calc(6.4rem + 0.5vw);
    font-size: 6.4rem;
    font-weight: bold;
    line-height: 75px;
    color: @SJ-color-white;
    padding: 0 8.4rem;
    z-index: 1;
    margin-top: -275px;
    padding-bottom: 48px;
  }
}
