.jumbo {
  .width-100();
  position: relative;


  img {
    width: 100%;
    z-index: -1;


    @media @mobile {
      height: 300px;
      padding-top: 79px;
      height: 405px;
    }
  }

  h1 {
    position: absolute;
    top: 54%;
    // bottom: 20%;
    left: 8%;
    // bottom: -100;
    // padding: 325px 0 50px 8.25rem;
    width: 80%;
    height: auto;
    // font-size: calc(6.4rem + 0.5vw);
    font-size: 6.4rem;
    font-weight: bold;
    line-height: 75px;
    color: @SJ-color-white;

    @media @mobile {
      top: 43%;
      left: 5%;
      font-size: 5.5rem;
      line-height: 65px;
      letter-spacing: .05rem;
      // padding: 0 0 0 25px;
      // margin-top: -235px;
    }
  }
}

// <style>
// img {
//     position: absolute;
//     left: 0px;
//     top: 0px;
//     z-index: -1;
// }
// </style>
// </head>
// <body>

// <h1>This is a heading</h1>
// <img src="w3css.gif" width="100" height="140">
// <p>Because the image has a z-index of -1, it will be placed behind the text.</p>

// .jumbo {
//   .width-100();

//   img {
//     z-index: 2;
//     .width-100();

//     @media @mobile {
//       padding-top: 75px;
//       height: 405px;
//     }
//   }

//   h1 {
//     .width-100();
//     // font-size: calc(6.4rem + 0.5vw);
//     font-size: 6.4rem;
//     font-weight: bold;
//     line-height: 75px;
//     color: @SJ-color-white;
//     padding: 0 8.4rem 48px 8.4rem;
//     z-index: 1;
//     margin-top: -275px;

//     @media @mobile {
//       font-size: 5.5rem;
//       line-height: 65px;
//       color: red;
//       padding: 0 0 0 25px;
//       margin-top: -235px;
//     }
//   }
// }
