.header-container {
    background-color: #828282;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 0 auto;
    position: relative;

    .navigation {
        display: flex;
        justify-content: space-between;
        padding: 10px 80px 10px 80px;

        position: relative;

        .header-logo {
            color: #FFFFFF;
        }
    }
    
    .navigation-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #7084A1;
        // opacity: 0.5; 
        h1 {
            color: #FFFFFF;
            position: absolute;
            top: 10px;
            left: 80px;
        }
        .navigation-button {
            position: absolute;
            top: 15px;
            right: 80px;
        }
    }

    .navigation-hidden {
        display: none;
    }

    .header-image {
        position: relative;
        width: 100%;
        img {
            width: 100%;
        }
        .header-buzzwords {
            position: absolute;
            bottom: 30px;
            left: 40px;
            color: #FFFFFF;
            font-weight: bold;
            font-size: 5.5rem;
            line-height: 7rem;
            width: 30%;
        }
    }
}

a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 5rem;
}