.container {
  // when on desktop view, hide all mobile images
  .img--mobile {
    display: none;
  }
  // when on desktop view, hide all mobile images
  .img--mobile {
    display: none;
  }
  @media @mobile {
    max-width: 500px; // when on mobile view, show mobile images and hide desktop images
    .img--mobile {
      display: block;
    }
    .img--desktop {
      display: none;
    }
  }
  // header section
  .header-section {
    position: relative;
    @media @mobile {
      img {
        width: 100%;
      }
    }
    header {
      h1 {
        letter-spacing: 2px;
        position: absolute;
        bottom: 50px;
        left: 80px;
        @media @mobile {
          font-size: 5rem;
          line-height: 60px;
          left: 25px;
          bottom: 30px;
        }
      }
    }
  } 
}
