.headerdiv {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #99A4AF;
    padding: 10px 2.75%;
    img {
      width: auto;
    }
  }
  width: 315px;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;

  @media @mobile {
    width: 1025px;
    left: 0%;
  }
  h1 {
    font-size: 2.2rem;
    color: white;
  }
  img {
    background-color: #99A4AF;
    width:100%;
  }
  .MainNav {
    border: solid green;
    display: none;
  }
  background-color: solid black;

}