.header {
  .width-100();

  img {
    .scooby();
    z-index: 1;
  }

  h1 {
    font-size: 6.4rem;
    font-weight: bold;
    line-height: calc (75px + 0.5vw);
    color: @SJ-color-white;
    padding: 0 9rem;
    z-index: 2;
  }
}

// 	<section class="container header">
//   <img src="img/home/home-jumbotron.png" alt="Walt-Disney-Concert-Hall">
//   <h1>
//     Integrity,</br>
//     Excellence,</br>
//     Progress.</br>
//   </h1>
// </section>


// Font Weight: Bold
// Font Size: 64px
// Line Height: 75px
// Color: #FFFFFF