nav {

  max-width: 1024px;
  width: 100%;


  .nav-heading {
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    z-index: 2;
    position: fixed;

    .logo {
      padding: 10px 4rem;
      color: white;
    }

    .nav-hamburger {
      padding: 10px 4rem;
    }
  }

  .nav-tabs {
    display: none;
    position: fixed;
    z-index: 2;
  }

  h1 {
    color: white;
    position: absolute;
    left: 5rem;
    top: 300px;
    z-index: 1;
  }
};