.project-card {
  // border: 1px solid black;
  max-width: 855px;

  .banner {
    // border: 1px solid black;

    width: 855px;
    height: 230px;

    max-width: 855px;
    max-height: 230px;

    .label {
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid black;
      background-color: #D4D5D7;
      width: 280px;
      height: 85px;
      position: relative;
      top: 184px;

      p {
        font-size: 2.4rem;
        letter-spacing: 5px;
      }
    }

    .right {
      left: 575px;
    }

    .left {

    }
  }

  .text-container {
    width: 70%;
    margin: 75px auto 0 auto;

    p {
      font-size: 2rem;
      margin-bottom: 2vw;
      line-height: 28px;
    }
  }

}
