.project-card {
  // border: 1px solid black;
  width: 95vw;
  max-width: 855px;
  min-width: 410px;
  overflow: hidden;

  .banner {
    // border: 1px solid black;

    width: 95vw;
    height: 230px;
    max-width: 855px;
    margin: auto;
    max-height: 230px;
    background-position: center;
    background-size: 855px 100%;
    @media only screen and (max-width: 910px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }

    .label {
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid black;
      background-color: #D4D5D7;
      width: 280px;
      height: 85px;
      position: relative;
      top: 184px;
      @media only screen and (max-width: 910px) {
        top: 60px;
      }

      p {
        font-size: 2.4rem;
        letter-spacing: 5px;
      }
    }

    .right {
      left: 575px;
      @media only screen and (max-width: 910px) {
        left: auto;
      }
    }

    .left {

    }
  }

  .text-container {
    width: 70%;
    margin: 75px auto 0 auto;

    p {
      font-size: 2rem;
      margin-bottom: 2vw;
      line-height: 28px;
    }
  }

}
