.FooterMainContent {
    display: flex;
    justify-content: space-around;
}

.FooterMainContent h3 {
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.4rem;
    color: white;
}
.FooterMainContent p {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: white;
}

.Copyright {
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: white;
    text-align: center;
    margin-top: 4rem;
}

.SubmitEmail input {
    margin-top: 1rem;
    margin-bottom: 5px;
    width: 28rem;
    height: 4rem;
    border-radius: 4px;
    font-size: 1.6rem;
    padding: 0 5px;
}
@media (max-width: 880px) and (min-width: 501px) {
    .FooterMainContent {
    flex-wrap: wrap;
    }
    .SubmitEmail {
        width: 100%;
        text-align: center;
        margin-bottom: 5rem;
    }
}
@media (max-width: 500px) {
    .FooterMainContent {
        flex-flow: column;
    }
    .SubmitEmail input {
        height: 5rem;
    }
    .Copyright {
        text-align: left;
        margin-top: 1rem;
    }
}