/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.main-nav {
  background: #97A4B0;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 854px;
  height: 50px;
  font-size: 24px;
  font-weight: bold;
  padding: 0 85px;
  position: fixed;
  z-index: 1;
}
@media ( max-width: 320px ) {
  .main-nav {
    width: 288px;
    padding: 0 16px;
  }
}
.main-nav .top-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 14px;
}
.main-nav nav {
  height: 350px;
  font-weight: bold;
  font-size: 48px;
  line-height: 85px;
  padding-bottom: 118px;
  padding-left: 7px;
}
.main-nav nav a {
  text-decoration: none;
  color: #FFF;
}
.main-nav nav a:hover {
  color: #222;
}
.main-nav nav .selected-link {
  color: #222;
}
.main-nav .main-nav-btn:hover {
  cursor: pointer;
}
.toggle-display {
  display: none;
}
.toggle-height {
  height: 100%;
}
.toggle-opacity {
  opacity: 0.9;
}
.main-content {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 50px;
}
@media ( max-width: 320px ) {
  .main-content {
    margin-bottom: 31px;
  }
}
.main-content .mobile-content {
  display: none;
}
@media ( max-width: 320px ) {
  .main-content .desktop-content {
    display: none;
  }
  .main-content .mobile-content {
    display: initial;
  }
}
.main-content .jumbotron {
  background-image: url("../img/contact/contact-jumbotron.png");
  background-position: 0 -50px;
  background-repeat: no-repeat;
  height: 250px;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #FFF;
  margin: auto;
}
@media ( max-width: 320px ) {
  .main-content .jumbotron {
    background-image: url("../img/contact/contact-mobile-jumbotron.png");
    font-size: 35px;
  }
}
.main-content .jumbotron .tagline {
  padding-top: 108px;
  padding-left: 85px;
}
@media ( max-width: 320px ) {
  .main-content .jumbotron .tagline {
    padding-top: 128px;
    padding-left: 16px;
  }
}
.main-content .content-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media ( max-width: 320px ) {
  .main-content .content-section {
    padding: 0 14px;
    margin-top: -10px;
    flex-direction: column;
  }
}
.main-content .content-section .get-in-touch {
  margin-left: -107px;
  margin-top: -1px;
}
@media ( max-width: 320px ) {
  .main-content .content-section .get-in-touch {
    width: 100%;
    margin: auto;
  }
}
.main-content .content-section .get-in-touch h2 {
  font-weight: bold;
  font-size: 24px;
  color: #222;
  margin-bottom: 45px;
}
@media ( max-width: 320px ) {
  .main-content .content-section .get-in-touch h2 {
    margin-bottom: 56px;
  }
}
.main-content .content-section .get-in-touch label {
  line-height: 22px;
}
.main-content .content-section .get-in-touch p {
  font-size: 13px;
  margin-bottom: 43px;
}
@media ( max-width: 320px ) {
  .main-content .content-section .get-in-touch p {
    margin-bottom: 32px;
  }
}
.main-content .content-section .get-in-touch input[type=text] {
  height: 27px;
  width: 400px;
  padding: 5px 0;
  padding-left: 10px;
  margin-top: 8px;
  border-radius: 5px;
  color: #828282;
  font-size: 16px;
}
@media ( max-width: 320px ) {
  .main-content .content-section .get-in-touch input[type=text] {
    width: 278px;
    height: 16px;
    padding: 10px 5px 10px 4px;
    margin-top: 2px;
    margin-bottom: 8px;
  }
}
.main-content .content-section .get-in-touch select {
  width: 100%;
  margin-top: 8px;
  border-radius: 5px;
  height: 38px;
  padding: 0px 12px;
  font-size: 20px;
  margin-bottom: 43px;
}
@media ( max-width: 320px ) {
  .main-content .content-section .get-in-touch #buildings {
    margin-top: 2px;
    font-size: 16px;
    padding-left: 7px;
    margin-bottom: 20px;
  }
}
.main-content .content-section .get-in-touch textarea {
  margin-top: 10px;
  width: 406px;
  height: 128px;
  margin-bottom: 26px;
}
@media ( max-width: 320px ) {
  .main-content .content-section .get-in-touch textarea {
    margin-top: 15px;
    width: 283px;
    margin-bottom: 16px;
  }
}
.main-content .content-section .get-in-touch input[type=radio] {
  height: 16px;
  width: 16px;
  margin-left: 1px;
  margin-top: 5px;
}
.main-content .content-section .get-in-touch input[type=submit] {
  margin-top: 26px;
  padding: 12px 41px;
  font-size: 16px;
}
@media ( max-width: 320px ) {
  .main-content .content-section .get-in-touch input[type=submit] {
    width: 291px;
  }
}
.main-content .content-section .where-we-work {
  margin-left: -36px;
  margin-top: -63px;
  font-size: 18px;
  line-height: 28px;
}
@media ( max-width: 320px ) {
  .main-content .content-section .where-we-work {
    margin-top: 52px;
    margin-left: -110px;
  }
}
.main-content .content-section .where-we-work h2 {
  font-weight: bold;
  font-size: 24px;
  color: #222;
  margin-bottom: 37px;
}
.main-content .content-section .where-we-work address {
  margin-top: 32px;
  line-height: 28px;
}
.main-content .content-section .where-we-work h3 {
  font-weight: bold;
  font-size: 20px;
}
footer {
  background-color: #828282;
  color: #FFF;
  height: 255px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 84px;
  width: 100%;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 26px;
}
footer address {
  width: 16%;
}
@media ( max-width: 320px ) {
  footer {
    height: auto;
    padding: 0 15px;
  }
  footer div {
    width: 100%;
    margin-bottom: -3px;
  }
  footer address {
    width: 100%;
  }
}
footer h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-top: 25px;
}
footer input {
  height: 27px;
  width: 265px;
  padding: 5px 5px;
  margin-top: 14px;
  border-radius: 5px;
  color: #828282;
  font-size: 16px;
}
@media ( max-width: 320px ) {
  footer input {
    width: 272px;
    padding: 10px 5px 10px 4px;
    margin-bottom: 8px;
  }
}
footer .copyright {
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding-bottom: 8px;
}
@media ( max-width: 320px ) {
  footer .copyright {
    margin-top: 36px;
    text-align: left;
    margin-bottom: 36px;
  }
}
body {
  display: flex;
  justify-content: center;
  font-family: Roboto, Arial, sans-serif;
}
body .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1024px;
}
@media ( max-width: 320px ) {
  body .container {
    width: 320px;
  }
}
