.contact_us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact_us .get_in_touch {
  width: 40%;
  line-height: 50px;
}
.contact_us .where_we_work {
  line-height: 2rem;
  margin-bottom: 22px;
}
.contact_us .where_we_work h1 {
  font-weight: bold;
}
