/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
body {
  background-color: #FFF;
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
@media only screen and (max-width: 425px) {
  body {
    width: 100vw;
  }
}
html {
  font-size: 62.5%;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.header-container {
  width: 102.4rem;
  margin: 0 auto;
  display: none;
  background-color: #97A2AD;
  position: sticky;
  top: 0;
  z-index: 9999;
}
@media only screen and (max-width: 425px) {
  .header-container {
    width: 100%;
  }
}
.nav-items {
  display: flex;
  justify-content: space-between;
  width: 86rem;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  padding: 1.3rem;
}
@media only screen and (max-width: 425px) {
  .nav-items {
    width: 90%;
  }
}
.expanded-nav {
  display: none;
  background-color: #97A2AD;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  z-index: 9999;
  overflow-x: hidden;
}
@media only screen and (max-width: 425px) {
  .expanded-nav {
    width: 100%;
    height: 100vh;
  }
}
.expanded-nav .nav-links {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  top: 25%;
  left: 45%;
}
@media only screen and (max-width: 425px) {
  .expanded-nav .nav-links {
    left: 26%;
  }
}
.expanded-nav .nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  line-height: 85px;
}
.expanded-nav .nav-links a:hover {
  color: #222;
}
.show {
  display: block;
}
.footer-wrapper {
  width: 102.4rem;
  margin: 0 auto;
  background-color: #828282;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin-top: 8.5rem;
}
@media only screen and (max-width: 425px) {
  .footer-wrapper {
    width: 100vw;
    height: auto;
    margin-top: 6rem;
  }
}
@media only screen and (max-width: 425px) {
  .footer-flex-wrap {
    padding: 2.5rem 1.5rem;
    margin: 0;
    width: 100%;
  }
}
.footer-flex-wrap .footer-items {
  width: 86rem;
  margin: 0 auto;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  width: 84%;
  padding: 6.3rem 0 3rem;
}
@media only screen and (max-width: 425px) {
  .footer-flex-wrap .footer-items {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 0;
    width: 100%;
  }
}
.footer-flex-wrap .footer-items h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
.footer-flex-wrap .footer-items .ny-add {
  padding-left: 5rem;
}
@media only screen and (max-width: 425px) {
  .footer-flex-wrap .footer-items .ny-add {
    padding: 2rem 0 0;
  }
}
.footer-flex-wrap .footer-items .florida-add {
  padding-left: 8rem;
}
@media only screen and (max-width: 425px) {
  .footer-flex-wrap .footer-items .florida-add {
    padding: 2rem 0 0;
  }
}
.footer-flex-wrap .footer-items .cali-add {
  padding-left: 9rem;
}
@media only screen and (max-width: 425px) {
  .footer-flex-wrap .footer-items .cali-add {
    padding: 2rem 0 0;
  }
}
@media only screen and (max-width: 425px) {
  .footer-form-container #email-input {
    margin: 1.5rem 0 1rem;
  }
  .footer-form-container h4 {
    width: 88%;
  }
}
.footer-form-container h4:last-child {
  padding-bottom: 0.5rem;
}
.footer-form-container #email-input {
  width: 27rem;
  height: 4rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
}
@media only screen and (max-width: 425px) {
  .footer-form-container #email-input {
    width: 25rem;
  }
}
::placeholder {
  color: light-gray;
  font-size: 15px;
}
.footer-disclaimer {
  font-size: 12px;
}
.copy-right {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  font-size: 12px;
}
@media only screen and (max-width: 425px) {
  .copy-right {
    display: flex;
    justify-content: flex-start;
    padding-left: 1.5rem;
  }
}
