.menu-expanded {
  max-width: 1024px;
  height: 100vh;
  background-color: #99A4AF;
  opacity: .97;
  padding: 100px 0;
  position: absolute;
  z-index: 1;
  top: 50px;
  display: none;
  width: 100%;
}
@media (max-width: 500px) {
  .menu-expanded {
    margin: 10px 25%;
  }
}
@media (max-width: 500px) {
  .menu-expanded {
    height: 210px;
    padding: 30px 0;
  }
}
.menu-expanded-item {
  margin: 30px 35%;
}
@media (max-width: 500px) {
  .menu-expanded-item {
    margin: 10px 25%;
  }
}
a {
  color: #FFFFFF;
  font-size: 48px;
  line-height: 85px;
  font-weight: bold;
  margin: 30px 35%;
}
a:hover {
  background-color: #222222;
}
a:link {
  text-decoration: none;
}
