.first_panals {
  display: flex;
  padding: 55px 75px 0px 70px;
}
.first_panals .left_side {
  padding: 45px 0px 0px 0px;
}
.first_panals .left_side .title {
  font-size: 1.5rem;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  padding: 0px 0px 20px 0px;
}
.first_panals .left_side .content {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5;
  padding: 0px 0px 25px 0px;
}
.first_panals .left_side .button {
  height: 48px;
  width: 135px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  border: solid black 0.5px;
  background-color: white;
}
.second_panals {
  display: flex;
  padding: 90px 75px 40px 85px;
}
.second_panals .second_left_side {
  margin: 0px 30px 0px 0px;
}
.second_panals .second_right_side {
  padding: 45px 0px 0px 0px;
}
.second_panals .second_right_side .title {
  font-size: 1.5rem;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  padding: 0px 0px 20px 0px;
}
.second_panals .second_right_side .content {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5;
  padding: 0px 0px 25px 0px;
}
.second_panals .second_right_side .button {
  height: 48px;
  width: 135px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  border: solid black 0.5px;
  background-color: white;
}
