.first_panals {
  display: flex;
  padding: 55px 75px 0px 70px;
}
.first_panals .mobile_right_side {
  display: none;
}
.first_panals .left_side {
  padding: 45px 0px 0px 0px;
}
.first_panals .left_side .title {
  font-size: 1.5rem;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  padding: 0px 0px 20px 0px;
}
.first_panals .left_side .content {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5;
  padding: 0px 0px 25px 0px;
}
.first_panals .left_side .button {
  height: 48px;
  width: 135px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  border: solid black 0.5px;
  background-color: white;
}
.second_panals {
  display: flex;
  padding: 90px 75px 40px 85px;
}
.second_panals .second_left_side {
  margin: 0px 30px 0px 0px;
}
.second_panals .second_right_side {
  padding: 45px 0px 0px 0px;
}
.second_panals .second_right_side .title {
  font-size: 1.5rem;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  padding: 0px 0px 20px 0px;
}
.second_panals .second_right_side .content {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1.5;
  padding: 0px 0px 25px 0px;
}
.second_panals .second_right_side .button {
  height: 48px;
  width: 135px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  border: solid black 0.5px;
  background-color: white;
}
@media (max-width: 500px) {
  .first_panals {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .first_panals .mobile_right_side {
    display: flex;
  }
  .first_panals .mobile_right_side img {
    margin: 40px 0px 0px 40px;
    height: 350px;
    width: 400px;
  }
  .first_panals .left_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
  .first_panals .left_side .content {
    width: 350px;
    width: 75%;
  }
  .first_panals .left_side .button {
    width: 90%;
    margin: 0px 0px 50px 0px;
  }
  .first_panals .right_side {
    display: none;
  }
  .second_panals {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .second_panals .second_right_side {
    display: flex;
  }
  .second_panals .second_right_side img {
    margin: 40px 0px 0px 40px;
    height: 350px;
    width: 400px;
  }
  .second_panals .second_right_side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .second_panals .second_right_side .content {
    width: 350px;
    width: 75%;
  }
  .second_panals .second_right_side .button {
    width: 450px;
  }
}
