.footer-block {
  width: 100%;
  background-color: #828282;
  display: flex;
  justify-content: space-around;
}
.footer-block .column h3 {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-bottom: 5px;
}
.footer-block .column p {
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
#copyright {
  width: 100%;
  background-color: #828282;
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 20px;
}
