.footer {
  height: 250px;
  width: 100%;
  padding: 10px;
  background: gray;
}
.footer .email-regions {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  font-size: 16px;
}
.footer .email {
  color: #FFFFFF;
  font-size: 16px;
  margin: 0 100px 0 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
.footer .email p {
  margin-top: 15px;
}
.footer .regions {
  color: #FFFFFF;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}
.footer .copyright {
  color: #FFFFFF;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 55px;
}
