@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
.white-btn {
  text-transform: capitalize;
  background: #FFFFFF;
  border-color: #222222;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  text-decoration: none;
}
footer {
  margin: 0 auto;
  padding: 48px 0 0;
  width: 75.79570688%;
  background: #818181;
}
footer .cta-text {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  margin-bottom: 6px;
}
footer .cta-email {
  display: block;
  width: 85%;
  height: 48px;
  border-radius: 5px;
}
footer .cta-disclosure {
  color: #FFFFFF;
  font-size: 1.4rem;
  line-height: 2.6rem;
}
footer .places {
  display: flex;
  justify-content: space-around;
}
footer .city-name {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}
footer .address,
footer .phone-number {
  color: #FFFFFF;
  font-size: 1.4rem;
  line-height: 2.6rem;
}
footer .copyright {
  text-align: center;
  margin-top: 24px;
  color: #FFFFFF;
  font-size: 1.2rem;
}
footer .row {
  margin-bottom: 0;
}
@media (max-width: 480px) {
  footer {
    width: 100%;
    padding-bottom: 24px;
  }
  footer .places {
    flex-direction: column;
  }
  footer .city-name {
    margin-top: 24px;
  }
  footer .copyright {
    text-align: start;
  }
}
