* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', Arial, sans-serif;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #FFFFFF;
}
h2 {
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 75px;
  color: #FFFFFF;
}
h3 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #222222;
}
h4 {
  font-size: 2rem;
  font-weight: bold;
}
h5 {
  font-size: 2rem;
  color: #FFFFFF;
  line-height: 2.4rem;
  font-weight: normal;
}
p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: normal;
}
.container {
  max-width: 1025px;
  width: 100%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
}
