.header {
  width: 100%;
  background: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 50px;
}
.header h2 {
  margin-left: 50px;
}
.header img {
  margin-right: 50px;
  color: black;
  height: 70%;
  width: 40px;
}
.header .nav {
  margin-right: 30px;
}
.header .nav a {
  justify-content: flex-end;
  color: red;
}
