header {
  width: 100%;
}
header .nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header .nav .top {
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #98A4AE;
  opacity: 0.95;
  width: 86.96%;
}
header .nav .top h3 {
  font-weight: regular;
  font-size: 2rem;
  color: #FFFFFF;
  line-height: 24px;
}
@media (max-width: 600px) {
  header .nav .top {
    width: 95%;
    align-self: center;
  }
}
header .nav .bottom {
  position: fixed;
  z-index: 2;
  width: 87%;
  background-color: #98A4AE;
  opacity: 0.95;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  text-align: left;
}
@media (max-width: 600px) {
  header .nav .bottom {
    width: 95%;
    align-self: center;
  }
}
header .nav .bottom div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
}
header .nav .bottom div a {
  text-decoration: none;
  font-weight: regular;
  font-size: 3.5rem;
  color: white;
  line-height: 5px;
  margin: 25px 0px;
}
@media (max-width: 600px) {
  header .nav .bottom div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 25%;
  }
}
header .nav div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header .Section1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0px 0px 40px 50px;
  width: 100%;
  padding-top: 40%;
  background-image: url("../img/home/home-jumbotron.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
header .Section1 h1 {
  font-weight: bold;
  font-size: 4.8rem;
  color: #FFFFFF;
  line-height: 60px;
}
.open {
  display: block;
}
.close {
  display: none;
}
