.header {
  width: 100%;
  background: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 50px;
}
.header h2 {
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  margin-left: 50px;
}
.header img {
  margin-right: 50px;
  height: 70%;
  width: 40px;
  cursor: pointer;
}
.header .nav {
  opacity: 0;
}
.header .nav-hamburger {
  margin-right: 30px;
}
.header .nav-hamburger a {
  justify-content: flex-end;
  color: red;
}
