.headerImage {
  width: 800px;
  margin: 0px auto;
  display: flex;
}
.building {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.header-box {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  position: relative;
}
.jumbotron {
  position: absolute;
  left: 90px;
  bottom: 75px;
}
.top-containers .content-section {
  margin-top: 35px;
}
.top-containers .test-one {
  display: flex;
  flex-direction: row;
  padding-top: 75px;
}
.top-containers .test-two {
  display: flex;
  flex-direction: row;
  padding-top: 75px;
}
.top-containers .text-content {
  display: flex;
  flex-direction: column;
  width: 38%;
  padding-left: 5%;
  color: #222222;
}
.top-containers .text-content h3 {
  font-weight: bold;
  font-size: 28px;
  padding-bottom: 20px;
}
.top-containers .text-content p {
  line-height: 24px;
}
.top-containers .text-content button {
  background-color: white;
  height: 40px;
  width: 125px;
  border: 1px solid black;
  margin-top: 20px;
}
.top-containers .text-content img {
  align-self: flex-end;
}
.top-containers #futuristicpic {
  padding-left: 5%;
  margin-bottom: 100px;
}
.top-containers #futuristic {
  padding-right: 5%;
  margin-top: 50px;
}
.top-containers .img-content {
  width: 38%;
  padding-right: 5%;
}
.lower-containers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
.lower-containers .villa-container h2 {
  font-size: 28px;
  font-weight: bold;
}
.lower-containers .villa-container p {
  width: 440px;
  box-sizing: border-box;
  margin-left: 33%;
  padding-bottom: 25px;
  font-size: 14px;
  line-height: 26px;
}
.lower-containers .villa-container .villa-box {
  display: flex;
  flex-direction: column;
  position: relative;
}
.lower-containers .villa-container .villa-box .villa {
  margin-bottom: 100px;
  margin-top: 50px;
}
.lower-containers .villa-container .villa-box #outskirt-text {
  position: absolute;
  padding-left: 0%;
  left: 0px;
  bottom: 60px;
}
.lower-containers .villa-container .villa-box h2 {
  text-align: center;
  box-sizing: border-box;
  width: 350px;
  height: 90px;
  background-color: #D8D8D8;
  letter-spacing: 10px;
  padding-top: 30px;
  font-weight: lighter;
  position: absolute;
  bottom: 65px;
  right: 1px;
}
