.container {
  max-width: 100%;
}
.container .big-img {
  position: relative;
  text-align: center;
  max-width: 100%;
}
.container .big-img .IEP {
  position: absolute;
  left: 100px;
  bottom: 100px;
  font-size: 75px;
  display: flex;
  justify-content: flex-start;
  color: white;
}
.container .big-img img {
  width: 100%;
  height: 550px;
}
.container .main {
  margin: 0 50px;
}
.container .main .content-div {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .main .content-div .txt-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 48%;
}
.container .main .content-div .txt-content p {
  margin: 20px 0;
}
.container .main .content-div button {
  width: 125px;
  height: 40px;
}
.container .main .inverse-div {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .main .inverse-div .txt-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 48%;
}
.container .main .inverse-div .txt-content p {
  margin: 20px 0;
}
.container .main .inverse-div button {
  width: 125px;
  height: 40px;
}
