@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
.white-btn {
  text-transform: capitalize;
  background: #FFFFFF;
  border-color: #222222;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  text-decoration: none;
}
.jumbo-home {
  width: 100%;
}
.jumbo-home .desk-img {
  display: block;
  margin: 0 auto;
}
.jumbo-home .container {
  position: relative;
}
.jumbo-home .jumbo-text {
  position: absolute;
  bottom: 0;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  margin-bottom: 45px;
}
@media (max-width: 480px) {
  .jumbo-home .desk-img {
    display: none;
  }
  .jumbo-home .jumbo-text {
    font-size: 3.4rem;
    line-height: 4.5rem;
    margin-bottom: 25px;
  }
}
.learn-more {
  margin-top: 52px;
}
.learn-more .info-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.learn-more .pic-side {
  width: 100%;
}
.learn-more .btn-learn-more {
  align-self: flex-start;
  text-transform: capitalize;
  background: #FFFFFF;
  border-color: #222222;
  padding: 12px 4.67836257%;
}
.learn-more .row:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 480px) {
  .learn-more .pic-side {
    margin-bottom: 24px;
  }
  .learn-more .info-side {
    height: 300px;
  }
  .learn-more .row {
    flex-direction: column-reverse;
  }
  .learn-more .row:nth-child(2) {
    flex-direction: column-reverse;
  }
  .learn-more .btn-learn-more {
    width: 100%;
  }
}
.projects .img-wrapper {
  position: relative;
}
.projects .img-wrapper .project-title {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(25%);
  padding: 30px 7.01754386%;
  letter-spacing: 8px;
  font-size: 2.4rem;
  background: lightgrey;
  text-transform: uppercase;
}
.projects .sub-heading {
  margin-bottom: 48px;
}
.projects .all-info {
  margin-top: 72px;
}
.projects .info {
  margin: 0 auto 24px;
  text-align: start;
  width: 50%;
}
.projects .row:nth-child(2) .project-title {
  left: 0;
  right: auto;
}
@media (max-width: 480px) {
  .projects .info {
    width: 100%;
  }
  .projects .row .img-wrapper,
  .projects .row:nth-child(2) .img-wrapper {
    display: flex;
    justify-content: center;
  }
  .projects .row .img-wrapper .project-title,
  .projects .row:nth-child(2) .img-wrapper .project-title {
    left: auto;
    right: auto;
    transform: translateY(90%);
  }
  .projects .all-info {
    margin-top: 100px;
  }
}
