.jumbo-home {
  width: 1024px;
  height: 598px;
  background: url("/img/home/home-jumbotron.png");
  margin: 0 auto;
}
.jumbo-home .container {
  height: 100%;
  position: relative;
}
.jumbo-home h1 {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #ffffff;
  position: absolute;
  bottom: 35px;
}
.container.section__intro {
  margin-top: 40px;
  display: flex;
}
.container.section__intro .section__intro-top h2 {
  margin-top: 35px;
  font-size: 2.2rem;
  margin-bottom: 15px;
  font-weight: 700;
}
.container.section__intro .section__intro-top p {
  font-size: 1.6rem;
  margin-right: 30px;
  line-height: 2.4rem;
}
.container.section__intro .section__intro-top .button {
  margin-top: 15px;
  border: solid 2px black;
  width: 15rem;
  font-size: 2.2rem;
  text-align: center;
  padding: 12px;
}
.container.section__intro .section__intro-top img {
  height: 410px;
  width: 275px;
}
