.header {
  background-image: url("../img/home/home-jumbotron.png");
  background-repeat: no-repeat;
  height: 350px;
  background-size: 100%;
  margin: auto;
  background-position: center;
  font-family: "Roboto", arial, sans-serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #ffffff;
}
