body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
body .jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
body .jumbotron .jumbotron-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #ffffff;
}
body .jumbotron .jumbotron-image {
  display: flex;
  width: 100%;
}
body .jumbotron .jumbotron-image img {
  width: 100%;
}
body .architects-designs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 35px;
}
body .architects-designs .architects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 20px 0px 20px;
}
body .architects-designs .architects .architects-image {
  width: 100%;
}
body .architects-designs .architects .architects-image img {
  width: 100%;
}
body .architects-designs .architects .architects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .architects-designs .architects .architects-content h2 {
  display: flex;
  font-size: 28px;
  font-weight: bold;
  margin-top: 15px;
}
body .architects-designs .architects .architects-content p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 24px;
}
body .architects-designs .architects .architects-content button {
  background: #ffffff;
  border: 1px solid #222222;
  height: 35px;
  width: 100%;
  font-size: 16px;
  margin-top: 15px;
}
body .architects-designs .designs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 0px 20px;
  width: 100%;
  margin-top: 35px;
}
body .architects-designs .designs .designs-image {
  width: 100%;
}
body .architects-designs .designs .designs-image img {
  width: 100%;
}
body .architects-designs .designs .designs-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body .architects-designs .designs .designs-content h2 {
  margin-right: auto;
  font-size: 28px;
  font-weight: bold;
  margin-top: 15px;
}
body .architects-designs .designs .designs-content p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 24px;
}
body .architects-designs .designs .designs-content button {
  background: #ffffff;
  border: 1px solid #222222;
  height: 35px;
  width: 100%;
  font-size: 16px;
  margin-top: 15px;
}
body .projects {
  padding: 0px 20px 0px 20px;
  margin-top: 35px;
}
body .projects .projects-title {
  margin-top: 35px;
}
