/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.width-100 {
  width: 100%;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', Arial, sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 320px;
  /* border: solid black; */
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .container {
    max-width: 1025px;
  }
}
.container.services .servicesintro {
  color: black;
  text-align: left;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 50px;
}
.container.services .tabs {
  color: black;
  font-weight: bold;
}
.container.services .tabs .topics {
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
  padding-bottom: 35px;
}
.container.services .tabs .topics .active-tab {
  background: #5E9FB9;
  color: white;
}
.container.services .tabs .tab {
  padding: 20px 2%;
  border: 1px solid black;
  font-size: 2rem;
}
.container.services .card {
  display: flex;
  color: black;
  text-align: left;
}
.container.services .card .headline {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 30px;
}
.container.services .card p {
  font-size: 1.6rem;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 20px;
}
.container.services .card img {
  width: auto;
  height: 40%;
  align-self: center;
  padding-right: 7%;
}
.container.services .card .cardmobileimage {
  display: none;
}
.container.services footer {
  text-align: left;
}
.headerdiv {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: solid black;
}
.headerdiv .aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #99A5B0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 2;
}
.headerdiv .aside .MainNav {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  font-size: 4.8rem;
  text-align: left;
  margin-top: 200px;
}
.headerdiv .aside .MainNav a {
  color: black;
  text-align: left;
  padding-left: 40%;
  padding-top: 100px;
  text-decoration: none;
}
.headerdiv .open {
  opacity: 1;
  visibility: visible;
}
.headerdiv header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #99A4AF;
  padding: 10px 2.75%;
}
.headerdiv header img {
  width: auto;
}
@media (min-width: 500px) {
  .headerdiv {
    width: 100%;
    left: 0%;
  }
}
.headerdiv h1 {
  font-size: 2.2rem;
  color: white;
}
.headerdiv img {
  background-color: #99A4AF;
  width: 100%;
}
.aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(200deg, #27156E, #6A2A88, #9F4981);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 2;
}
.open {
  opacity: 1;
  visibility: visible;
}
.topsection {
  position: relative;
  text-align: center;
  color: white;
}
.topsection .mainimage {
  display: none;
}
@media (min-width: 500px) {
  .topsection .minimainimage {
    display: none;
  }
  .topsection .mainimage {
    display: block;
  }
}
/* Bottom left text */
.threetitles {
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: left;
}
@media (min-width: 500px) {
  .threetitles h2 {
    font-size: 6.4rem;
    text-align: left;
    padding-left: 80px;
  }
}
.CTA {
  width: 100%;
  margin: auto;
  margin-top: 30px;
}
@media (min-width: 500px) {
  .CTA {
    margin-top: 50px;
    width: 100%;
  }
}
.CTA .ctacontent {
  display: flex;
  flex-direction: column;
}
@media (min-width: 500px) {
  .CTA .ctacontent {
    flex-direction: row-reverse;
    padding-top: 0px;
    padding-left: 0%;
    padding-right: 0%;
    margin-bottom: 100px;
  }
  .CTA .ctacontent .smallarchitectimg {
    display: none;
  }
  .CTA .ctacontent .smallwaterbuildings {
    display: none;
  }
}
.CTA .ctacontent .architectimg {
  display: none;
}
@media (min-width: 500px) {
  .CTA .ctacontent .architectimg {
    display: block;
  }
}
.CTA .ctacontent .waterbuildings {
  display: none;
}
@media (min-width: 500px) {
  .CTA .ctacontent .waterbuildings {
    display: block;
  }
}
@media (min-width: 500px) {
  .CTA .cta2 {
    flex-direction: row;
  }
  .CTA .cta2 img {
    padding-left: 8%;
    padding-right: 0%;
  }
}
.CTA img {
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 500px) {
  .CTA img {
    width: 47%;
    max-width: 90%;
    height: 90%;
    padding-left: 0%;
    padding-right: 8%;
  }
}
@media (min-width: 500px) {
  .CTA .ctacontentdiv {
    width: 50%;
  }
}
.CTA h3 {
  font-size: 2.5rem;
  color: black;
  padding-top: 25px;
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 500px) {
  .CTA h3 {
    padding-top: 30px;
    padding-left: 6%;
    padding-right: 6%;
  }
}
.CTA p {
  padding: 20px 5%;
}
@media (min-width: 500px) {
  .CTA p {
    padding-top: 20px;
    padding-left: 6%;
    padding-right: 6%;
  }
}
.CTA button {
  width: 92%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  background: white;
  border: 1px solid black;
}
@media (min-width: 500px) {
  .CTA button {
    width: 30%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
  }
}
.projectstitle {
  width: 100%;
  margin: auto;
  font-size: 2.5rem;
  color: black;
  padding-top: 10px;
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 500px) {
  .projectstitle {
    width: 100%;
    padding-left: 8%;
  }
}
.recentprojects {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 500px) {
  .recentprojects {
    width: 100%;
  }
}
.recentprojects .projectholder {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 100px;
}
.recentprojects .projectholder .apartments {
  display: none;
}
@media (min-width: 500px) {
  .recentprojects .projectholder .tinyapartments {
    display: none;
  }
  .recentprojects .projectholder .apartments {
    display: flex;
    width: 100%;
    padding: 0px 10%;
  }
}
.recentprojects .projecttitle {
  position: absolute;
  top: 95%;
  left: 4%;
  width: 92%;
}
@media (min-width: 500px) {
  .recentprojects .projecttitle {
    top: 80%;
    left: 70%;
    width: 30%;
  }
}
.recentprojects h4 {
  padding: 35px 0px;
  background: #D8D8D8;
  color: black;
}
@media (min-width: 500px) {
  .recentprojects h4 {
    padding: 30px 20%;
  }
}
.recentprojects p {
  padding: 10px 4%;
  line-height: 2.75rem;
  font-size: 1.65rem;
  font-weight: 100;
  margin-bottom: 20px;
}
@media (min-width: 500px) {
  .recentprojects p {
    padding: 0px 30%;
  }
}
@media (min-width: 500px) {
  .projectholder .outskirts {
    left: 0%;
  }
}
footer {
  width: 320px;
  margin: auto;
  background-color: #828282;
  color: white;
  padding: 10px 4%;
  margin-top: 100px;
}
@media (min-width: 500px) {
  footer {
    width: 100%;
  }
  footer .footercontent {
    display: flex;
  }
  footer .footercontent .addressfooter {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}
footer input {
  margin-top: 5px;
  width: 98%;
}
footer h4 {
  font-size: 2rem;
}
footer h5 {
  font-size: 1.8rem;
}
footer p {
  margin-top: 5px;
  font-size: 1.2rem;
  line-height: 2.75rem;
}
footer address {
  margin-top: 10px;
  font-size: 1.4rem;
  line-height: 2.75rem;
}
footer address h6 {
  font-size: 1.8rem;
  font-weight: bold;
}
@media (min-width: 500px) {
  .copyright {
    text-align: center;
  }
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  color: #222222;
  font-family: 'Roboto', Arial, sans-serif;
}
