.container {
  width: 900px;
  margin: auto;
  border: dotted teal 3px;
}
.cta {
  display: flex;
  justify-content: center;
  border: dotted green 8px;
}
.cta h2 {
  font-size: 3rem;
}
.cta .cta-content {
  border: dashed red 3px;
  width: 80%;
  margin: 30px 0;
}
.index-caption {
  border: dotted blue 5px;
}
