/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Roboto', arial, sans-serif;
  background-color: #FFFFFF;
  color: #222222;
}
.container {
  max-width: 1024px;
  width: 100%;
}
@media (max-width: 500px) {
  .container {
    max-width: 320px;
  }
}
h1 {
  font-weight: bold;
  font-size: 24px;
}
h2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
}
h3 {
  font-weight: bold;
  font-size: 24px;
}
h4 {
  font-size: 24px;
  letter-spacing: 8px;
  color: #222222;
}
p {
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 500px) {
  .img-mobile {
    display: none;
  }
}
@media (max-width: 500px) {
  .img-desktop {
    display: none;
  }
}
.menu {
  max-width: 1024px;
  width: 100%;
  background: #828282;
  color: #FFFFFF;
  position: fixed;
  z-index: 1;
}
.menu .menu-content {
  margin: 1.3% 8.3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer {
  max-width: 1024px;
  width: 100%;
  background: #828282;
  color: #FFFFFF;
  padding-top: 6%;
}
footer h3 {
  font-size: 20px;
  line-height: 24px;
}
footer p {
  font-size: 14px;
  line-height: 26px;
}
footer .footer {
  margin: 0 8.3% 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footer .input-contact input {
  width: 98%;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5% 2%;
  font-size: 14px;
}
footer .footer .input-contact p {
  font-size: 13px;
}
footer .footer .locations {
  width: 61%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .copyright p {
  text-align: center;
  font-size: 12px;
}
.page-header {
  max-width: 1024px;
  width: 100%;
  position: relative;
}
.page-header img {
  width: 100%;
}
.page-header h2 {
  position: absolute;
  left: 8%;
  bottom: 8.3%;
}
.page-content {
  margin: 4.9% 8.3%;
}
.page-content .intro-content .intro-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11.3%;
}
.page-content .intro-content .intro-section p {
  margin: 5% 0;
  padding-right: 2%;
}
.page-content .intro-content .intro-section .btn {
  color: #222222;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  width: 135px;
  text-align: center;
  padding: 3% 0;
}
.page-content .intro-content .intro-section .btn:hover {
  color: #FFFFFF;
  background-color: #222222;
  border: 1px solid #FFFFFF;
}
.page-content .intro-content .inverse-intro .intro-text {
  padding-right: 0%;
  padding-left: 3.4%;
}
.page-content .main-content h3 {
  padding-top: 0.5%;
  margin-bottom: 5.5%;
}
.page-content .main-content .main-section .bldg-block {
  position: relative;
}
.page-content .main-content .main-section .bldg-block img {
  width: 100%;
}
.page-content .main-content .main-section .bldg-block .bldg-block-text {
  background-color: #D8D8D8;
  border: 1px solid #FFFFFF;
  width: 37%;
  padding: 4%;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: -16%;
}
.page-content .main-content .main-section .bldg-block .inverse-bldg-block {
  left: 0;
}
.page-content .main-content .main-section .text-block {
  margin: 10% 23.5% 12%;
}
.page-content .main-content .main-section .text-block p {
  font-size: 18px;
  margin-bottom: 24px;
}
