@charset "UTF-8";
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-size: 1.6rem;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  color: #222;
  line-height: 2.4rem; }

h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem; }

footer {
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #fff; }
  footer h3 {
    font-weight: 400; }
  footer .copyright {
    font-size: 1.2rem;
    text-align: center; }

.navbar__logo {
  font-weight: 700;
  color: #fff;
  font-size: 2.4rem; }
  .navbar__logo:link {
    text-decoration: none;
    text-transform: uppercase; }

.heading-primary {
  font-size: 6.4rem;
  line-height: 7.5rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2rem;
  text-shadow: 0.5rem 1rem 2rem rgba(34, 34, 34, 0.4); }
  .heading-primary--services {
    font-size: 6rem; }
  @media screen and (max-width: 576px) {
    .heading-primary {
      font-size: 3.6rem;
      line-height: 4.8rem; } }
  .heading-primary--dark {
    color: #8e9aaf;
    text-shadow: none; }

.text-content__heading {
  font-weight: 700;
  font-size: 2.4rem; }

.display__title {
  font-size: 2.4rem;
  letter-spacing: 0.8rem;
  text-align: center; }

.projects {
  font-size: 1.8rem; }

.form__input {
  font-size: 1.6rem; }
  .form__input::placeholder {
    color: #888; }

.form__small-text {
  font-size: 1.3rem;
  color: #888; }

.tabs__links {
  font-size: 2rem;
  font-weight: 700; }

.collapse__link a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 8.5rem; }

.collapse__link:hover a {
  color: #222; }

.contacts__contact-info p {
  line-height: 1.8; }

.contacts__contact-info h3 {
  line-height: 2; }

.project-details__heading {
  font-size: 4.8rem;
  line-height: 1.2;
  color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center; }

.about__lead {
  font-size: 2.4rem;
  line-height: 1.5; }

.about__title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 2;
  color: #fff;
  text-shadow: 0.5rem 0.8rem 2rem rgba(34, 34, 34, 0.4); }

.timeline__title {
  font-size: 3.6rem;
  line-height: 1.5;
  font-weight: 700;
  color: #8e9aaf;
  text-align: center;
  letter-spacing: 0.8rem;
  text-transform: uppercase; }

@media screen and (max-width: 576px) {
  html {
    font-size: 55%; } }

@media screen and (max-width: 576px) {
  body {
    margin-top: 5rem; } }

.container {
  max-width: 1024px; }

.header {
  max-width: 1024px;
  margin: 0 auto; }

.hero {
  position: relative; }
  .hero__img {
    max-width: 100%;
    display: block;
    height: auto; }
    .hero__img--mobile {
      display: none; }
      @media screen and (max-width: 320px) {
        .hero__img--mobile {
          display: block; } }
    @media screen and (max-width: 320px) {
      .hero__img--desktop {
        display: none; } }
    @media screen and (max-width: 576px) {
      .hero__img {
        margin-top: 45px; } }
  .hero .heading-primary {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 8%;
    padding-bottom: 4.9rem; }
    .hero .heading-primary, .hero .heading-primary--1, .hero .heading-primary--2, .hero .heading-primary--3 {
      animation-name: moveInTop;
      animation-duration: 1s;
      animation-delay: 0.5s;
      animation-timing-function: ease-out;
      animation-fill-mode: backwards; }
    @media screen and (max-width: 576px) {
      .hero .heading-primary {
        padding-left: 6%;
        padding-bottom: 2.4rem; } }
    .hero .heading-primary--2 {
      animation-delay: 1.5s; }
    .hero .heading-primary--3 {
      animation-delay: 2.5s; }
    .hero .heading-primary--services {
      padding-bottom: 1.8rem;
      padding-left: 8.5%; }

.footer {
  background-color: #828282;
  margin: 0 auto;
  padding: 6.4rem 0 1rem; }
  .footer .contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem; }
    @media screen and (max-width: 768px) {
      .footer .contact-info {
        flex-direction: column; } }
    @media screen and (max-width: 768px) {
      .footer .contact-info > * {
        margin-bottom: 1.5rem; } }

.form__heading {
  margin-bottom: 1rem; }

.form label {
  line-height: 2; }

.form__input {
  display: inline-block;
  padding: 1rem 0.8rem;
  width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 4px; }

.form select.form__input {
  height: calc(3.6rem + 2px);
  text-indent: 0.5rem; }

.form__check {
  position: relative;
  display: flex;
  align-items: center;
  height: 2rem; }
  .form__check input[type='radio'] {
    position: absolute;
    top: 0; }
  .form__check label {
    margin-left: 2rem; }

.contacts__city {
  padding: 0.8rem;
  transition: all 0.2s; }
  .contacts__city:hover {
    box-shadow: 0.2rem 1rem 2rem rgba(142, 154, 175, 0.5);
    transform: scale(1.1); }

.text-content {
  max-width: 45rem;
  margin: 0 auto;
  margin-bottom: 9.8rem; }
  .text-content p {
    margin-bottom: 2.4rem; }

.img-responsive {
  max-width: 100%;
  display: block;
  height: auto; }

.flex-prepend {
  order: -1; }
  @media screen and (max-width: 576px) {
    .flex-prepend-sm {
      order: -1; } }

.container-sm {
  max-width: 880px; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
    height: 0; }
  50% {
    opacity: 0;
    transform: scale(0.3);
    height: calc(100vh - 40px); }
  90% {
    opacity: 1;
    transform: scale(1.3); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(50px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes fill {
  0% {
    transform: scaleX(0) skewX(-10deg) rotateX(85deg); }
  50% {
    transform: scaleX(1.5) skewX(-10deg) rotateX(85deg); }
  100% {
    transform: scaleX(1.5) skewX(-10deg); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: rotateY(180deg); }
  100% {
    opacity: 1;
    transform: rotateY(0deg); } }

.navbar {
  background-color: rgba(142, 154, 175, 0.96);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
  .navbar .container {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 6% 1rem;
    flex-wrap: wrap; }
  .navbar .collapse__button {
    cursor: pointer; }
  .navbar .collapse__content {
    height: calc(100vh - 40px);
    flex-basis: 100%;
    display: none;
    justify-content: center;
    align-items: center; }
    .navbar .collapse__content.show {
      display: flex;
      animation: zoomIn 0.6s; }
  .navbar .collapse__link {
    list-style: none;
    position: relative;
    cursor: pointer; }
    .navbar .collapse__link:hover::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: -1;
      transform: scaleX(1.5) skewX(-10deg);
      animation: fill 0.4s; }
  .navbar .collapse__links {
    flex-direction: column; }

.button {
  display: inline-block;
  padding: 1.1rem 2.5rem;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  font: inherit; }
  .button:link {
    text-decoration: none; }
  .button--outline {
    background-color: transparent;
    border: 1px solid #222;
    color: #222; }
    .button--outline:hover {
      background-color: #222;
      color: #fff; }
  @media screen and (max-width: 576px) {
    .button--block-sm {
      width: 100%; } }

.tabs__links {
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 576px) {
    .tabs__links {
      flex-direction: column; } }

.tabs__link {
  flex-basis: 18rem;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s; }
  .tabs__link--active-tab {
    background-color: #5e9fb9;
    color: #fff; }
  @media screen and (max-width: 576px) {
    .tabs__link {
      flex-basis: auto;
      margin-bottom: 2rem; } }

.tabs__content {
  display: none; }
  .tabs__content--active-tab {
    display: block;
    animation: fadeIn 0.5s; }
  .tabs__content .text-content__heading {
    margin-bottom: 2rem; }
  .tabs__content p {
    margin-bottom: 2.6rem;
    line-height: 2.5rem; }

.tabs__image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 275px; }
  .tabs__image--1 {
    background-image: url(../../img/services/services-tab-pre-construction-img.png); }
    @media screen and (max-width: 320px) {
      .tabs__image--1 {
        background-image: url(../../img/services/services-tab-mobile-pre-construction-img.png); } }
  .tabs__image--2 {
    background-image: url(../../img/services/services-tab-construction-img.png); }
    @media screen and (max-width: 320px) {
      .tabs__image--2 {
        background-image: url(../../img/services/services-tab-mobile-construction-img.png); } }
  .tabs__image--3 {
    background-image: url(../../img/services/services-tab-design-build-img.png); }
    @media screen and (max-width: 320px) {
      .tabs__image--3 {
        background-image: url(../../img/services/services-tab-mobile-design-build-img.png); } }
  .tabs__image--4 {
    background-image: url(../../img/services/services-tab-sustainability-img.png); }
    @media screen and (max-width: 320px) {
      .tabs__image--4 {
        background-image: url(../../img/services/services-tab-mobile-sustainability-img.png); } }
  @media screen and (max-width: 576px) {
    .tabs__image {
      height: 290px; } }

.carousel {
  position: relative;
  overflow: hidden; }
  .carousel__img {
    max-width: 100%;
    display: block;
    height: auto;
    display: none;
    position: relative;
    top: 0; }
    .carousel__img--active {
      display: block; }
  .carousel__left-button, .carousel__right-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: #222;
    font-size: 2.4rem;
    box-shadow: 0 0.5rem 1rem rgba(34, 34, 34, 0.3);
    transition: all 0.2s; }
    .carousel__left-button:hover, .carousel__right-button:hover {
      background-color: #fff; }
  .carousel__left-button {
    left: 2rem; }
  .carousel__right-button {
    right: 2rem; }

.scroll-fade {
  opacity: 0;
  transition: all 0.5s; }
  .scroll-fade.scroll-fade--show {
    opacity: 1; }

.home .top-section {
  margin-top: 5rem; }
  .home .top-section .row {
    margin-bottom: 10rem; }
  .home .top-section .text-content {
    margin-top: 5rem; }
    .home .top-section .text-content__heading {
      margin-bottom: 2rem; }
    .home .top-section .text-content__paragraph {
      margin-bottom: 2.5rem; }
  .home .top-section .img-content {
    height: 27.5rem;
    background-size: cover;
    background-position: top; }
    .home .top-section .img-content--1 {
      background-image: url(../img/home/home-img-1.png); }
      @media screen and (max-width: 576px) {
        .home .top-section .img-content--1 {
          background-image: url(../img/home/home-mobile-img-1.png); } }
    .home .top-section .img-content--2 {
      background-image: url(../img/home/home-img-2.png); }
      @media screen and (max-width: 576px) {
        .home .top-section .img-content--2 {
          background-image: url(../img/home/home-mobile-img-2.png); } }

.home .projects h2 {
  margin-bottom: 4.5rem; }

.home .projects .text-content {
  max-width: 45rem;
  margin: 0 auto;
  margin-bottom: 9.8rem; }
  .home .projects .text-content p {
    margin-bottom: 2.4rem; }

.home .display {
  position: relative;
  margin-bottom: 9.3rem; }
  .home .display__img230 {
    height: 23rem;
    background-size: center;
    background-position: center;
    background-repeat: no-repeat; }
    .home .display__img230--1 {
      background-image: url(../img/home/home-villas-img.png); }
      @media screen and (max-width: 576px) {
        .home .display__img230--1 {
          background-image: url(../img/home/home-mobile-villas-img.png); } }
    .home .display__img230--2 {
      background-image: url(../img/home/home-outskirts-img.png); }
      @media screen and (max-width: 576px) {
        .home .display__img230--2 {
          background-image: url(../img/home/home-mobile-outskirts-img.png); } }
    .home .display__img230--3 {
      background-image: url(../img/home/home-the-blocks-img.png); }
      @media screen and (max-width: 576px) {
        .home .display__img230--3 {
          background-image: url(../img/home/home-mobile-the-blocks-img.png); } }
    @media screen and (max-width: 576px) {
      .home .display__img230 {
        margin-left: -15px;
        margin-right: -15px; } }
  .home .display__title {
    position: absolute;
    bottom: 0;
    border: 1px solid #fff;
    background-color: #d8d8d8;
    padding: 3.5rem 0;
    width: 31.5rem;
    transform: translateY(45%); }
    .home .display__title--right {
      right: 0; }
    @media screen and (max-width: 576px) {
      .home .display__title, .home .display__title--right {
        left: 50%;
        transform: translate(-50%, 75%); } }

.project-details__heading {
  background-image: linear-gradient(to right, rgba(34, 34, 34, 0.2), rgba(34, 34, 34, 0.2)), url(../img/projects/projects-jumbotron.jpg);
  background-size: cover;
  background-position: top;
  background-clip: text;
  -webkit-background-clip: text; }

.about__hero-section {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  min-height: 95vh;
  background-image: linear-gradient(to top left, rgba(142, 154, 175, 0.98), rgba(216, 216, 216, 0.9)), url(../../img/about/about-jumbotron.jpg);
  background-position: center;
  background-size: cover;
  position: relative; }

.about__profile {
  flex-basis: 60%;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 3rem 0 2rem black;
  clip-path: polygon(0 0, 100% 0, 83.33% 100%, 0 100%);
  padding: 6rem;
  padding-right: 13rem;
  opacity: 0.8; }

.about__testimonials {
  flex-basis: 40%;
  padding: 0 5rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.about__testimonial {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .about__testimonial:not(:last-child) {
    margin-bottom: 3rem; }
  .about__testimonial i {
    font-size: 8rem;
    margin-right: 1rem; }

.about__profile-img {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 50%; }

.about__title {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%); }

.about__scroll-down {
  margin-top: 3rem;
  text-align: center;
  font-size: 5rem;
  color: #fff; }
  .about__scroll-down i {
    cursor: pointer; }

.timeline__events {
  padding: 2rem;
  border-right: 5px solid #8e9aaf; }

.timeline__event {
  padding: 2rem;
  background-color: #8e9aaf;
  color: #fff;
  border: 1px solid #8e9aaf;
  text-align: justify;
  position: relative; }
  .timeline__event-heading {
    text-align: right; }
  .timeline__event:not(:last-child) {
    margin-bottom: 3rem; }
  .timeline__event::before {
    content: ' ';
    position: absolute;
    top: 50%;
    right: -2.8rem;
    transform: translateY(-50%);
    border: 4px solid #8e9aaf;
    border-radius: 100px;
    box-shadow: 0 0 0 6px #fff; }
  .timeline__event:nth-child(even) {
    left: calc(100% + 4rem + 5px); }
    .timeline__event:nth-child(even) .timeline__event-heading {
      text-align: left; }
    .timeline__event:nth-child(even)::before {
      left: -2.8rem;
      right: auto; }
