/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-weight: Bold;
  font-size: 2.3rem;
  color: #222222;
}
h4 {
  font-size: 1.8rem;
  padding-bottom: 10px;
  letter-spacing: 4px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.home-page {
  position: relative;
}
.home-page .header-img {
  height: 600px;
  width: 100%;
}
@media ( max-width: 500px ) {
  .home-page .header-img {
    display: none;
    width: 100%;
  }
}
.home-page .jumbo-mobile {
  display: none;
}
@media ( max-width: 500px ) {
  .home-page .jumbo-mobile {
    width: 100%;
    display: block;
  }
}
.home-page .img-text {
  position: absolute;
  bottom: 8%;
  left: 8%;
  color: #ffffff;
  animation-name: welcSign;
  animation-duration: 10s;
  animation-iteration-count: 1;
}
.home-page .img-text h2 {
  font-size: 6.5rem;
  font-weight: bold;
}
@media ( max-width: 500px ) {
  .home-page .img-text h2 {
    font-size: 5rem;
  }
}
.new-contain {
  width: 100%;
}
.new-contain .sandj {
  display: flex;
  justify-content: center;
  padding: 5% 5% 5% 5%;
  width: 100%;
}
@media ( max-width: 500px ) {
  .new-contain .sandj {
    flex-wrap: wrap-reverse;
  }
}
.new-contain .sandj .sandj-text {
  width: 50%;
  padding: 5% 2.5% 2.5% 2.5%;
  margin-right: 2.5%;
}
@media ( max-width: 500px ) {
  .new-contain .sandj .sandj-text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0px;
  }
}
.new-contain .sandj .sandj-text h3 {
  margin-bottom: 4%;
}
@media ( max-width: 500px ) {
  .new-contain .sandj .sandj-text h3 {
    margin-left: -20%;
  }
}
.new-contain .sandj .sandj-text .btn {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 47px;
  background-color: #ffffff;
  color: #222222;
  border: 1px solid #222222;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 5% 0;
}
.new-contain .sandj .sandj-text .btn:hover {
  background-color: #222222;
  color: #ffffff;
}
@media ( max-width: 500px ) {
  .new-contain .sandj .sandj-text .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 50px;
    background-color: #ffffff;
    color: #222222;
    border: 1px solid #222222;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 25px;
  }
  .new-contain .sandj .sandj-text .btn:hover {
    background-color: #222222;
    color: #ffffff;
  }
}
.new-contain .sandj .sandj-img {
  max-width: 100%;
}
@media ( max-width: 500px ) {
  .new-contain .sandj .sandj-img {
    display: none;
    width: 100%;
  }
}
.new-contain .sandj .sandj-mobile {
  display: none;
}
@media ( max-width: 500px ) {
  .new-contain .sandj .sandj-mobile {
    display: block;
    width: 100%;
  }
}
.new-contain .futuristic-designs {
  display: flex;
  justify-content: center;
  padding: 5% 5% 5% 4.5%;
  width: 100%;
}
@media ( max-width: 500px ) {
  .new-contain .futuristic-designs {
    flex-wrap: wrap;
    width: 100%;
  }
}
.new-contain .futuristic-designs .fd-img {
  margin-right: 2%;
  margin-left: 5%;
  max-width: 100%;
}
@media ( max-width: 500px ) {
  .new-contain .futuristic-designs .fd-img {
    display: none;
    width: 100%;
    margin: 6% 0;
  }
}
.new-contain .futuristic-designs .fd-mobile {
  display: none;
}
@media ( max-width: 500px ) {
  .new-contain .futuristic-designs .fd-mobile {
    display: block;
  }
}
.new-contain .futuristic-designs .fd-text {
  width: 50%;
  padding: 2%;
}
@media ( max-width: 500px ) {
  .new-contain .futuristic-designs .fd-text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin-left: 0px;
  }
}
.new-contain .futuristic-designs .fd-text h3 {
  margin-top: 30px;
  margin-bottom: 4%;
}
@media ( max-width: 500px ) {
  .new-contain .futuristic-designs .fd-text h3 {
    margin-left: -45%;
  }
}
.new-contain .futuristic-designs .fd-text .btn {
  justify-content: center;
  align-items: center;
  height: 47px;
  background-color: #ffffff;
  color: #222222;
  border: 1px solid #222222;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  margin: 4% 0;
  width: 100%;
  width: 135px;
}
.new-contain .futuristic-designs .fd-text .btn:hover {
  background-color: #222222;
  color: #ffffff;
}
@media ( max-width: 500px ) {
  .new-contain .futuristic-designs .fd-text .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 50px;
    background-color: #ffffff;
    color: #222222;
    border: 1px solid #222222;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 25px;
    width: 100%;
  }
  .new-contain .futuristic-designs .fd-text .btn:hover {
    background-color: #222222;
    color: #ffffff;
  }
}
.recent-projects {
  margin-left: 8.5%;
}
@media ( max-width: 500px ) {
  .recent-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media ( max-width: 500px ) {
  .recent-projects h3 {
    margin-left: 4%;
  }
}
@media ( max-width: 500px ) {
  .recent-projects {
    margin: 0;
  }
}
.recent-projects .villas-img {
  position: relative;
  margin: 5% 0 10% 0;
}
@media ( max-width: 500px ) {
  .recent-projects .villas-img .villas-desktop {
    display: none;
  }
}
.recent-projects .villas-img .villas-mobile {
  display: none;
}
@media ( max-width: 500px ) {
  .recent-projects .villas-img .villas-mobile {
    display: block;
    width: 450px;
  }
}
.recent-projects .villas-img .img-block-text {
  position: absolute;
  right: 7.2%;
  bottom: -15%;
  background-color: #d8d8d8;
  width: 330px;
  height: 80px;
  animation-name: archiA;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
}
@media ( max-width: 500px ) {
  .recent-projects .villas-img .img-block-text {
    width: 350px;
    right: 0%;
    left: 5%;
    bottom: -25%;
  }
}
.recent-projects .villa-content {
  padding: 0 40% 0 20%;
}
@media ( max-width: 500px ) {
  .recent-projects .villa-content {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
  }
}
.recent-projects .villa-content p {
  margin: 2%;
}
.recent-projects .outskirts-img {
  position: relative;
  margin: 5% 0 10% 0;
}
@media ( max-width: 500px ) {
  .recent-projects .outskirts-img .outskirts-desktop {
    display: none;
  }
}
.recent-projects .outskirts-img .outskirts-mobile {
  display: none;
}
@media ( max-width: 500px ) {
  .recent-projects .outskirts-img .outskirts-mobile {
    display: block;
    width: 450px;
  }
}
.recent-projects .outskirts-img .img-block-text {
  position: absolute;
  left: 0%;
  bottom: -15%;
  background-color: #d8d8d8;
  width: 330px;
  height: 100px;
  border: 1px solid white;
  animation-name: archi;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  font-size: 2.4rem;
  font-weight: 100;
  letter-spacing: 6px;
}
@media ( max-width: 500px ) {
  .recent-projects .outskirts-img .img-block-text {
    width: 90%;
    bottom: -25%;
    margin-left: 5.75%;
  }
}
.recent-projects .outskirts-content {
  padding: 0 40% 0 20%;
}
@media ( max-width: 500px ) {
  .recent-projects .outskirts-content {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
  }
}
.recent-projects .outskirts-content p {
  margin: 2%;
}
.recent-projects .blocks-img {
  position: relative;
  margin: 5% 0 10% 0;
}
@media ( max-width: 500px ) {
  .recent-projects .blocks-img {
    width: 100%;
    margin: 0;
  }
}
@media ( max-width: 500px ) {
  .recent-projects .blocks-img .blocks-desktop {
    display: none;
  }
}
.recent-projects .blocks-img .blocks-mobile {
  display: none;
}
@media ( max-width: 500px ) {
  .recent-projects .blocks-img .blocks-mobile {
    display: block;
    width: 100%;
  }
}
.recent-projects .blocks-img .img-block-text {
  position: absolute;
  right: 8.1%;
  bottom: -15%;
  background-color: #d8d8d8;
  width: 330px;
  height: 100px;
  border: 1px solid white;
  animation-name: archiC;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  font-size: 2.4rem;
  font-weight: 100;
  letter-spacing: 6px;
}
@media ( max-width: 500px ) {
  .recent-projects .blocks-img .img-block-text {
    width: 90%;
    right: 5%;
    bottom: -25%;
  }
}
.recent-projects .blocks-content {
  padding: 0 40% 0 20%;
  margin-bottom: 10%;
}
@media ( max-width: 500px ) {
  .recent-projects .blocks-content {
    padding: 2%;
    margin-top: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.recent-projects .blocks-content p {
  margin: 2%;
}
.container .new-contain .sandj {
  width: 100%;
}
.container .new-contain .sandj .sandj-img {
  width: 50%;
}
.container .new-contain .futuristic-designs {
  width: 100%;
}
.container .new-contain .futuristic-designs .fd-img {
  width: 50%;
}
.container .new-contain .services {
  display: flex;
  width: 73%;
  margin-left: 10%;
  font-size: 1.4rem;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.container .new-contain .services .sandj-img {
  width: 50%;
}
.home-page .img-text1 {
  position: absolute;
  bottom: 30%;
  left: 8%;
  color: #ffffff;
  animation-name: welcSigna;
  animation-duration: 7.2s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
.home-page .img-text1 h2 {
  font-size: 6.5rem;
  font-weight: bold;
}
@media ( max-width: 500px ) {
  .home-page .img-text1 h2 {
    font-size: 5rem;
  }
}
.home-page .img-text2 {
  position: absolute;
  bottom: 18.5%;
  left: 8%;
  color: #ffffff;
  animation-name: welcSignb;
  animation-duration: 7.8s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
.home-page .img-text2 h2 {
  font-size: 6.5rem;
  font-weight: bold;
}
@media ( max-width: 500px ) {
  .home-page .img-text2 h2 {
    font-size: 5rem;
  }
}
.home-page .img-texttt {
  position: absolute;
  bottom: 8%;
  left: 8%;
  color: #ffffff;
  animation-name: welcSignc;
  animation-duration: 8.3s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
.home-page .img-texttt h2 {
  font-size: 6.5rem;
  font-weight: bold;
}
@media ( max-width: 500px ) {
  .home-page .img-texttt h2 {
    font-size: 5rem;
  }
}
.sandj .btn:hover {
  animation-name: shake;
  animation-duration: 0.5s;
  opacity: 0.5;
}
.futuristic-designs .btn:hover {
  animation-name: shake;
  animation-duration: 0.5s;
  opacity: 0.5;
}
@keyframes welcSign {
  0% {
    color: white;
    left: 8%;
    bottom: 8%;
  }
  50% {
    color: white;
    left: 50%;
    bottom: 8%;
  }
  70% {
    color: red;
    left: 150%;
    bottom: 8%;
  }
  100% {
    color: white;
    left: 8%;
    bottom: 8%;
  }
}
@keyframes welcSigna {
  0% {
    color: white;
    left: 8%;
    bottom: 30%;
  }
  10% {
    color: white;
    left: 20%;
    bottom: 30%;
  }
  40% {
    color: white;
    left: 20%;
    bottom: 30%;
  }
  70% {
    color: red;
    left: 350%;
    bottom: 30%;
  }
  100% {
    color: white;
    left: 8%;
    bottom: 30%;
  }
}
@keyframes welcSignb {
  0% {
    color: white;
    left: 8%;
    bottom: 18.5%;
  }
  10% {
    color: white;
    left: 27%;
    bottom: 18.5%;
  }
  40% {
    color: white;
    left: 27%;
    bottom: 18.5%;
  }
  70% {
    color: red;
    left: 250%;
    bottom: 18.5%;
  }
  100% {
    color: white;
    left: 8%;
    bottom: 18.5%;
  }
}
@keyframes welcSignc {
  0% {
    color: white;
    left: 8%;
    bottom: 8%;
  }
  10% {
    color: white;
    left: 34%;
    bottom: 8%;
  }
  40% {
    color: white;
    left: 34%;
    bottom: 8%;
  }
  70% {
    color: red;
    left: 200%;
    bottom: 8%;
  }
  100% {
    color: white;
    left: 8%;
    bottom: 8%;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@keyframes archiA {
  0% {
    right: 7.2%;
    bottom: -15%;
  }
  50% {
    right: 66.8%;
    bottom: -15%;
  }
  100% {
    right: 7.2%;
    bottom: -15%;
  }
}
@keyframes archiC {
  0% {
    right: 8%;
    bottom: -15%;
  }
  50% {
    right: 64.8%;
    bottom: -15%;
  }
  100% {
    right: 8%;
    bottom: -15%;
  }
}
@keyframes archi {
  0% {
    left: 0%;
    bottom: -15%;
  }
  50% {
    left: 56%;
    bottom: -15%;
  }
  100% {
    left: 0%;
    bottom: -15%;
  }
}
.home-nav {
  background-color: #97a4b0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.2% 4.2%;
  z-index: 2;
  position: fixed;
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
  animation-delay: 2s;
}
@media ( max-width: 500px ) {
  .home-nav {
    padding: 4% 6.2%;
  }
}
.home-nav h1 {
  font-size: 2.5rem;
  color: #ffffff;
}
.home-nav .hidden {
  display: none;
  animation-delay: 2s;
}
.home-nav .hamburger {
  height: 100%;
  cursor: pointer;
  animation-delay: 2s;
}
footer {
  width: 100%;
  background-color: #828282;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 250px;
  padding: 5% 5% 0 5%;
}
@media ( max-width: 500px ) {
  footer {
    height: auto;
  }
}
footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
@media ( max-width: 500px ) {
  footer .footer-content {
    flex-direction: column;
  }
}
footer .footer-content .email h5 {
  margin-bottom: 2%;
  font-weight: bold;
}
footer .footer-content .email input[type="text"] {
  width: 270px;
  height: 35px;
  border-radius: 4px;
  margin-bottom: 2%;
  border: none;
}
@media ( max-width: 500px ) {
  footer .footer-content .email input[type="text"] {
    height: 45px;
    padding: 2%;
    width: 280px;
    margin-top: 2%;
  }
}
@media ( max-width: 500px ) {
  footer .footer-content .email {
    margin: 2% 0 8% 0;
  }
}
footer .footer-content .address {
  line-height: 24px;
}
@media ( max-width: 500px ) {
  footer .footer-content .address {
    margin: 3% 0;
  }
}
footer .footer-content h5 {
  font-size: 2rem;
  font-weight: bold;
}
@media ( max-width: 500px ) {
  footer .footer-content h5 {
    margin: 2% 0;
  }
}
footer .footer-content p {
  font-size: 1.4rem;
  font-weight: none;
}
@media ( max-width: 500px ) {
  footer .footer-content p {
    font-size: 1rem;
    line-height: 20px;
  }
}
footer .copyright {
  align-self: center;
  font-size: 1.4rem;
}
.services-header {
  position: relative;
}
.services-header .services-header-img {
  height: 400px;
}
.services-header .header-text {
  position: absolute;
  color: #ffffff;
  bottom: 13%;
  left: 8%;
  font-weight: bold;
}
.services-header .header-text h1 {
  font-size: 6rem;
}
.header-content {
  margin: 5% 5%;
  width: 84%;
}
.menu {
  display: none;
  opacity: 0.3;
  top: 2.99%;
  width: 100vw;
  height: 100vh;
  background-color: #97a4b0;
  color: #ffffff;
  z-index: 2;
  border-left: none;
  border-bottom: none;
}
@media ( max-width: 500px ) {
  .menu {
    top: 4.75%;
    left: 0;
    width: 100vw;
    height: 26vh;
  }
}
.menu-items {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
@media ( max-width: 500px ) {
  .menu-items {
    margin-top: 0;
  }
}
.menu-items a {
  text-decoration: none;
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
}
.menu .menu-items a:hover {
  color: #222222;
}
.menu--open {
  display: block;
}
.tab-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5%;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 5%;
}
.tab-menu .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  color: #222222;
  border: 1px solid #222222;
  font-size: 1.5rem;
  cursor: pointer;
}
.tab-menu .btn:hover {
  background-color: #222222;
  color: #ffffff;
  animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  opacity: 0.5;
}
.tab-menu .btn-selected {
  z-index: 2;
  background-color: #5e9fb9;
  color: black;
}
.tab-content {
  display: none;
}
.tab-content-selected {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
}
.tab-content-selected .content {
  width: 45%;
  margin-right: 5%;
}
