/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', Arial, sans-serif;
}
h1 {
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 75px;
}
h2 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #222222;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 24px;
  color: #FFFFFF;
}
h5 {
  font-size: 1.4rem;
  line-height: 26px;
  color: #FFFFFF;
}
p {
  line-height: 24px;
  font-size: 1.6rem;
  color: #222222;
}
img {
  max-width: 100%;
  height: auto;
}
.main-navigation {
  position: fixed;
  display: block;
  background: rgba(157, 172, 183, 0.95);
  width: 100%;
  z-index: 10;
}
.main-navigation .dropdown-hidden {
  display: none;
}
.main-navigation .nav-container {
  max-width: 850px;
  width: 95%;
  height: 50px;
  margin: 0 auto;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 320px) {
  .main-navigation .nav-container {
    max-width: 320px;
    width: 90%;
    margin-left: 3%;
  }
}
.main-navigation .nav-container .logo-heading {
  font-size: 2.4rem;
  line-height: 26px;
  color: #FFFFFF;
}
.main-navigation .nav-container .hamburger-close {
  height: 20px;
  cursor: pointer;
}
.main-navigation .expanded-nav {
  width: 100%;
  height: 539px;
  padding-top: 50px;
}
@media (max-width: 320px) {
  .main-navigation .expanded-nav {
    max-width: 320px;
    width: 100%;
    height: 443px;
  }
}
.main-navigation .expanded-nav .open-menu {
  max-width: 850px;
  width: 100%;
  position: absolute;
  margin: -89px 0 0 89.4%;
  cursor: pointer;
}
@media (max-width: 320px) {
  .main-navigation .expanded-nav .open-menu {
    max-width: 320px;
    width: 100%;
    margin-left: 86%;
  }
}
.main-navigation .expanded-nav .navigation {
  display: flex;
  flex-direction: column;
  margin: 7.5% 0 0 41%;
}
@media (max-width: 320px) {
  .main-navigation .expanded-nav .navigation {
    width: 90%;
    justify-content: center;
    margin-left: 19%;
  }
}
.main-navigation .expanded-nav .navigation .nav-link {
  font-weight: bold;
  text-decoration: none;
  font-size: 5rem;
  color: #FFFFFF;
  margin: 20px 0;
  cursor: pointer;
}
.main-navigation .expanded-nav .navigation .nav-link:hover {
  color: #3B2C1C;
}
.home-header {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.home-header .jumbo-text {
  color: #FFFFFF;
  margin: -280px 8.2% 60px;
}
@media (max-width: 320px) {
  .home-header .jumbo-text {
    width: 100%;
    font-size: 3.6rem;
    line-height: 40px;
    margin: -143px 0% 25px 4%;
  }
}
@media (max-width: 320px) {
  .home-header .jumbotron-image {
    display: none;
  }
}
.home-header .jumbo-mobile {
  display: none;
}
@media (max-width: 320px) {
  .home-header .jumbo-mobile {
    display: block;
    width: 100%;
  }
}
.container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}
.intro {
  width: 100%;
  margin-top: 55px;
}
@media (max-width: 320px) {
  .intro {
    margin-top: 35px;
  }
}
.architects {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 100px;
}
@media (max-width: 320px) {
  .architects {
    width: 96%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 50px;
  }
}
.architects h2 {
  margin: 50px 0 20px 4%;
}
@media (max-width: 320px) {
  .architects h2 {
    margin: 25px 2% 20px;
  }
}
.architects p {
  margin: 0 4% 30px;
}
@media (max-width: 320px) {
  .architects p {
    margin: 0 3% 30px;
  }
}
.architects .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 47px;
  color: #222222;
  border: 1px solid #222222;
  cursor: pointer;
  font-size: 1.6rem;
  margin-left: 4%;
}
@media (max-width: 320px) {
  .architects .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 47px;
    color: #222222;
    border: 1px solid #222222;
    cursor: pointer;
    font-size: 1.6rem;
    margin-left: 2%;
  }
}
@media (max-width: 320px) {
  .architects .drafting-desk {
    display: none;
  }
}
.architects .drafting-mobile {
  display: none;
}
@media (max-width: 320px) {
  .architects .drafting-mobile {
    display: block;
    width: 96%;
  }
}
.designs {
  width: 90%;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 0 100px 2%;
}
@media (max-width: 320px) {
  .designs {
    width: 96%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 60px;
  }
}
.designs h2 {
  margin: 50px 0 20px 8%;
}
@media (max-width: 320px) {
  .designs h2 {
    margin: 25px 2% 20px;
  }
}
.designs p {
  width: 100%;
  margin: 0 0 30px 8%;
}
@media (max-width: 320px) {
  .designs p {
    width: 95%;
    margin: 0 5% 30px 2%;
  }
}
.designs .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 47px;
  color: #222222;
  border: 1px solid #222222;
  cursor: pointer;
  font-size: 1.6rem;
  margin-left: 8%;
}
@media (max-width: 320px) {
  .designs .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    height: 47px;
    color: #222222;
    border: 1px solid #222222;
    cursor: pointer;
    font-size: 1.6rem;
    margin-left: 2%;
  }
}
@media (max-width: 320px) {
  .designs .designs-desk {
    display: none;
  }
}
.designs .designs-mobile {
  display: none;
}
@media (max-width: 320px) {
  .designs .designs-mobile {
    display: block;
    width: 96%;
  }
}
.recent-projects {
  width: 100%;
}
.recent-projects h2 {
  margin: 0 0 50px 2.5%;
}
@media (max-width: 320px) {
  .recent-projects h2 {
    margin: 0 0 30px 4%;
  }
}
.recent-projects p {
  margin: 50px 25% 0;
  font-size: 1.8rem;
}
.recent-projects p:last-child {
  margin: 24px 25% 87px;
}
@media (max-width: 320px) {
  .recent-projects p {
    width: 90%;
    margin: 25px 5% 0 5%;
  }
  .recent-projects p:last-child {
    width: 90%;
    margin: 24px 4% 55px;
  }
}
.villas {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.villas .title {
  margin-top: -58px;
  width: 95%;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 95px;
  background-color: #D8D8D8;
  color: #222222;
  letter-spacing: 8px;
  border: 1px solid #FFFFFF;
  font-size: 2.4rem;
}
@media (max-width: 320px) {
  .villas .title {
    width: 95%;
    margin: -15px 5% 0px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 95px;
    background-color: #D8D8D8;
    color: #222222;
    letter-spacing: 8px;
    border: 1px solid #FFFFFF;
    font-size: 2.4rem;
  }
}
.villas .villas-desk {
  margin-left: 2.5%;
  width: 95%;
}
@media (max-width: 320px) {
  .villas .villas-desk {
    display: none;
  }
}
.villas .villas-mobile {
  display: none;
}
@media (max-width: 320px) {
  .villas .villas-mobile {
    display: block;
    width: 100%;
    margin: 0 0;
  }
}
.outskirts {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.outskirts .title {
  margin: -58px 0 0 2.4%;
  width: 95%;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 95px;
  background-color: #D8D8D8;
  color: #222222;
  letter-spacing: 8px;
  border: 1px solid #FFFFFF;
  font-size: 2.4rem;
}
@media (max-width: 320px) {
  .outskirts .title {
    width: 95%;
    margin: -15px 5% 0px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 95px;
    background-color: #D8D8D8;
    color: #222222;
    letter-spacing: 8px;
    border: 1px solid #FFFFFF;
    font-size: 2.4rem;
  }
}
.outskirts .outskirts-desk {
  margin-left: 2.5%;
  width: 95%;
}
@media (max-width: 320px) {
  .outskirts .outskirts-desk {
    display: none;
  }
}
.outskirts .outskirts-mobile {
  display: none;
}
@media (max-width: 320px) {
  .outskirts .outskirts-mobile {
    display: block;
    width: 100%;
    margin: 0 0;
  }
}
.blocks {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.blocks .title {
  margin-top: -58px;
  width: 95%;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 95px;
  background-color: #D8D8D8;
  color: #222222;
  letter-spacing: 8px;
  border: 1px solid #FFFFFF;
  font-size: 2.4rem;
}
@media (max-width: 320px) {
  .blocks .title {
    width: 95%;
    margin: -15px 5% 0px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 95px;
    background-color: #D8D8D8;
    color: #222222;
    letter-spacing: 8px;
    border: 1px solid #FFFFFF;
    font-size: 2.4rem;
  }
}
.blocks .blocks-desk {
  margin-left: 2.5%;
  width: 95%;
}
@media (max-width: 320px) {
  .blocks .blocks-desk {
    display: none;
  }
}
.blocks .blocks-mobile {
  display: none;
}
@media (max-width: 320px) {
  .blocks .blocks-mobile {
    display: block;
    width: 100%;
    margin: 0 0;
  }
}
.services-header {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (max-width: 320px) {
  .services-header .services-desk {
    display: none;
  }
}
.services-header .services-mobile {
  display: none;
}
@media (max-width: 320px) {
  .services-header .services-mobile {
    width: 100%;
    display: block;
  }
}
.services-header h1 {
  align-self: flex-start;
  margin: -98px 0 20px 8%;
  color: #FFFFFF;
}
@media (max-width: 320px) {
  .services-header h1 {
    font-size: 3.8rem;
    margin: -81px 0 20px 5%;
  }
}
.services-header p {
  margin: 5.5% 8.4% 5.4% 8.1%;
}
@media (max-width: 320px) {
  .services-header p {
    width: 90%;
    margin: 20px auto 40px;
  }
}
.content-items {
  width: 85%;
  margin: 70px 8% 80px;
}
@media (max-width: 320px) {
  .content-items {
    width: 90%;
    margin: 20px auto;
  }
}
.content-items .item {
  width: 100%;
  display: none;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 50px;
}
@media (max-width: 320px) {
  .content-items .item {
    flex-direction: column;
  }
  .content-items .item .desktop-img {
    display: none;
  }
}
.content-items .item .mobile-img {
  display: none;
}
@media (max-width: 320px) {
  .content-items .item .mobile-img {
    display: block;
  }
}
.content-items .item p {
  margin: 17px 6% 37px 0;
}
.content-items .active-item {
  display: flex;
}
.tabs {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 0 8% 43px;
}
@media (max-width: 320px) {
  .tabs {
    width: 90%;
    flex-direction: column;
    margin: 0 auto;
  }
}
.tabs .tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 50px;
  color: #222222;
  border: 1px solid #222222;
  cursor: pointer;
  font-size: 1.6rem;
  font-size: 2rem;
  font-weight: bold;
}
.tabs .tab:hover {
  text-decoration: underline;
}
@media (max-width: 320px) {
  .tabs .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #222222;
    border: 1px solid #222222;
    cursor: pointer;
    font-size: 1.6rem;
    font-size: 2.1rem;
    margin-bottom: 25px;
  }
}
.tabs .active-tab {
  display: flex;
  background-color: #5E9FB9;
  color: #FFFFFF;
}
.contact-header {
  display: flex;
  flex-direction: column;
}
.contact-header .contact-mobile {
  display: none;
}
.contact-header .contact-desk {
  width: 100%;
}
.contact-header h1 {
  color: #FFFFFF;
  margin: -90px 0 70px 10%;
}
.contact-container {
  max-width: 850px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 50px 8%;
}
.contact-container .contact-content {
  width: 70%;
}
.contact-container .contact-content .email {
  width: 80%;
  margin: 50px 0;
}
.contact-container .contact-content .email input[type="text"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  color: #222222;
  border: 1px solid #222222;
  cursor: pointer;
  font-size: 1.6rem;
  border: 1px solid #97A4B0;
  border-radius: 4px;
  margin: 10px 0 4px;
}
.contact-container .contact-content .email p {
  font-size: 1.4rem;
  color: #97A4B0;
}
.contact-container .contact-content .planning {
  width: 80%;
  margin-bottom: 50px;
}
.contact-container .contact-content .planning #building {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  color: #222222;
  border: 1px solid #222222;
  cursor: pointer;
  font-size: 1.6rem;
  border: 1px solid #97A4B0;
  background-color: #FFFFFF;
  margin-top: 10px;
}
.contact-container .contact-content .overview {
  width: 80%;
  margin-bottom: 30px;
}
.contact-container .contact-content .overview #overview {
  width: 100%;
  height: 200px;
  border-radius: 4px;
  border: 1px solid #97A4B0;
  margin-top: 10px;
}
.contact-container .contact-content .selection {
  margin-bottom: 30px;
}
.contact-container .contact-content .selection input[type="radio"] {
  margin: 8px 0;
}
.contact-container .contact-content .submit input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 50px;
  color: #222222;
  border: 1px solid #222222;
  cursor: pointer;
  font-size: 1.6rem;
}
.contact-container .location {
  width: 30%;
}
.contact-container .location .location-info h2 {
  margin: 5px 0;
}
.contact-container .location .location-info h3 {
  font-weight: bold;
  margin-top: 40px;
  font-size: 1.8rem;
}
.contact-container .location .location-info p {
  line-height: 25px;
  margin-top: 5px;
}
footer {
  background-color: #828282;
  color: #FFFFFF;
}
footer p {
  color: #FFFFFF;
}
footer h5 {
  text-align: center;
}
@media (max-width: 320px) {
  footer h5 {
    text-align: left;
  }
}
@media screen {
  footer .copyright {
    margin-left: 5%;
  }
}
.footer-content {
  max-width: 850px;
  width: 100%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 320px) {
  .footer-content {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.footer-content .email {
  width: 35%;
  margin: 50px 8% 30px 0;
  flex-wrap: nowrap;
}
.footer-content .email input[type=text] {
  width: 100%;
  height: 44px;
  font-size: 1.6rem;
  border-radius: 5px;
}
@media (max-width: 320px) {
  .footer-content .email {
    font-size: 1.8rem;
    width: 96%;
    margin: 30px 0;
  }
  .footer-content .email input[type=text] {
    width: 90%;
    height: 44px;
    font-size: 1.6rem;
    border-radius: 5px;
    margin: 10px auto;
  }
}
.footer-content .footer-location {
  width: 18%;
}
@media (max-width: 320px) {
  .footer-content .footer-location {
    width: 90%;
    margin-bottom: 30px;
    line-height: 40px;
  }
}
