/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  background-color: #ffffff;
  color: #222222;
}
body {
  font-family: 'Roboto', sans-serif;
}
.fullContainer {
  max-width: 1025px;
}
@media (max-width:500px) {
  .fullContainer {
    max-width: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.headerContainer {
  width: 1025px;
  margin: 0 auto;
}
@media (max-width:500px) {
  .headerContainer {
    max-width: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.container {
  max-width: 900px;
  padding: 0 1.5%;
  margin: 0 auto;
}
@media (max-width:500px) {
  .container {
    max-width: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
/* Your Code Goes Here */
.service-hero {
  background-image: url("../img/services/services-jumbotron.png");
  width: 1025px;
  position: relative;
  height: 250px;
}
.service-hero .servHeaderText {
  position: absolute;
  color: white;
  font-size: 6rem;
  bottom: 0.5em;
  left: 1.5em;
}
.servicesContainer {
  max-width: 1000px;
  width: 900px;
  line-height: 3em;
  margin: 0 auto;
}
.servicesContainer .firstText {
  font-size: 1.6rem;
  font-weight: normal;
  padding: 7% 0 4% 0;
}
section.tab-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
section.tab-links h3 {
  font-size: 2.5rem;
  border: 1px solid black;
  padding: 10px 2%;
  cursor: pointer;
}
section.tab-links h3:hover {
  background-color: #5E9FB9;
  color: white;
}
.active-link {
  background-color: #5e9fb9;
  color: white;
}
.content {
  padding-top: 5%;
  display: none;
  padding-bottom: 10%;
}
.content .text {
  width: 60%;
}
.content .text p {
  font-size: 1.4rem;
  margin-bottom: 4%;
  padding-right: 6%;
}
.content .text h3 {
  font-size: 2.5rem;
}
.content .constructionImg {
  margin-top: 3.9%;
  background-image: url('../img/services/services-tab-construction-img.png');
  width: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.content .preConstructionImg {
  margin-top: 3.9%;
  background-image: url('../img/services/services-tab-pre-construction-img.png');
  width: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.content .design-BuildImg {
  margin-top: 3.9%;
  background-image: url('../img/services/services-tab-design-build-img.png');
  width: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.content .sustainabilityImg {
  margin-top: 3.9%;
  background-image: url('../img/services/services-tab-sustainability-img.png');
  width: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.change {
  display: flex;
}
.GeneralText {
  font-size: 1.6rem;
  line-height: 24px;
}
.JumbotronHeader {
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.SubHeaders {
  font-size: 2.8rem;
  color: #222222;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.FooterHeadings {
  font-size: 2rem;
  line-height: 24px;
  color: #FFFFFF;
}
.FooterText {
  font-size: 1.4rem;
  line-height: 26px;
  color: #FFFFFF;
}
.NavLogo {
  font-size: 2.4rem;
  color: #FFFFFF;
}
.NavTextExp {
  font-size: 4.8rem;
  line-height: 85px;
  color: #FFFFFF;
}
.NavTextExp:hover {
  color: #222222;
}
.Button {
  text-decoration: none;
  max-width: 150px;
  text-align: center;
  padding: 10px 25px;
  border: 1px solid black;
  color: black;
  margin: 25px 25px 25px 0;
}
.Button:hover {
  background-color: black;
  color: white;
}
.FloatingText {
  font-size: 2.5rem;
  cursor: pointer;
  background-color: #D8D8D8;
  padding: 25px 30px;
  position: absolute;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  top: 10.5em;
}
.FloatingText:hover {
  background-color: #222222;
  color: #fff;
}
.home-hero {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
@media (max-width:500px) {
  .home-hero {
    max-width: 480px;
    margin: 0;
  }
}
.home-hero .jumboImg {
  background-image: url("../img/home/home-jumbotron.png");
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 600px;
  padding-top: 20px;
  margin-bottom: 50px;
}
@media (max-width:500px) {
  .home-hero .jumboImg {
    background-image: url("../img/home/home-mobile-jumbotron.png");
    max-width: 500px;
    background-repeat: no-repeat;
    width: 500px;
    height: 260;
    margin: 0;
    padding: 0;
    padding-top: 58px;
  }
}
.home-hero .ourMotto {
  display: flex;
  position: absolute;
  text-align: start;
  top: 4.5em;
  left: 1.3em;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
@media (max-width:500px) {
  .home-hero .ourMotto {
    font-size: 3.9rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 61px;
    top: 123px;
    left: 19px;
    margin: 0;
    padding: 0;
  }
}
.textOne {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5em;
  padding: 0;
}
@media (max-width:500px) {
  .textOne {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    max-width: 500px;
    width: 500px;
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-family: Roboto, Arial, sans-serif;
    font-weight: normal;
  }
}
.textOne .pushText {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
}
@media (max-width:500px) {
  .textOne .pushText {
    order: 2;
    align-items: center;
    max-width: 500px;
    width: 100%;
    margin: 0;
    padding: 0 25px;
    border: 0;
  }
}
.textOne .pushText h3 {
  font-size: 2.8rem;
  color: #222222;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  display: block;
  margin-bottom: 15px;
}
@media (max-width:500px) {
  .textOne .pushText h3 {
    max-width: 500px;
    font-size: 3.9rem;
  }
}
.textOne .pushText p {
  padding: 5px 0;
  font-size: 1.6rem;
  line-height: 24px;
}
@media (max-width:500px) {
  .textOne .pushText p {
    max-width: 500px;
    font-size: 2.4rem;
    line-height: 40px;
    font-weight: normal;
  }
}
.textOne .pushText .button {
  text-decoration: none;
  max-width: 150px;
  text-align: center;
  padding: 10px 25px;
  border: 1px solid black;
  color: black;
  margin: 25px 25px 25px 0;
  justify-content: flex-start;
  font-size: 1.6rem;
  line-height: 24px;
}
.textOne .pushText .button:hover {
  background-color: black;
  color: white;
}
@media (max-width:500px) {
  .textOne .pushText .button {
    max-width: 500px;
    width: 96.5%;
    font-size: 2.4rem;
    padding: 19px 0;
  }
}
.textOne .imgOne {
  background-image: url("../img/home/home-img-1.png");
  width: 50%;
  height: 270px;
  overflow: hidden;
  background-repeat: no-repeat;
}
@media (max-width:500px) {
  .textOne .imgOne {
    background-image: url("../img/home/home-mobile-img-1.png");
    max-width: 500px;
    order: 1;
    width: 88%;
    background-size: 100%;
    height: 456px;
    margin: 5em 0 0 0;
  }
}
.textOne .imgTwo {
  background-image: url("../img/home/home-img-2.png");
  width: 50%;
  height: 270px;
  overflow: hidden;
  background-repeat: no-repeat;
}
@media (max-width:500px) {
  .textOne .imgTwo {
    max-width: 500px;
    background-image: url('../img/home/home-mobile-img-2.png');
    order: 1;
    width: 88%;
    background-size: 100%;
    height: 456px;
    margin: 5em 0 0 0;
  }
}
.midSectionOne {
  position: relative;
  padding-top: 2em;
}
@media (max-width:500px) {
  .midSectionOne {
    max-width: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.midSectionOne h3 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 2.8rem;
  margin-bottom: 1.2em;
}
@media (max-width:500px) {
  .midSectionOne h3 {
    max-width: 500px;
    font-size: 3.5rem;
    padding: 12% 10% 0% 5%;
  }
}
.midSectionOne .theVillasImg {
  background-image: url("../img/home/home-villas-img.png");
  width: 855px;
  height: 230px;
}
@media (max-width:500px) {
  .midSectionOne .theVillasImg {
    max-width: 500px;
    background-image: url("../img/home/home-mobile-villas-img.png");
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 313px;
  }
}
.midSectionOne .theVillas {
  right: 0em;
  font-size: 2.5rem;
  cursor: pointer;
  background-color: #D8D8D8;
  padding: 25px 30px;
  position: absolute;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  top: 10.5em;
}
.midSectionOne .theVillas:hover {
  background-color: #222222;
  color: #fff;
}
@media (max-width:500px) {
  .midSectionOne .theVillas {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    font-size: 4rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    top: 8.7em;
    left: 0.5em;
    width: 459px;
    height: 131px;
  }
}
.midSectionOne .theOutSkirtsImg {
  background-image: url("../img/home/home-outskirts-img.png");
  width: 855px;
  height: 230px;
}
@media (max-width:500px) {
  .midSectionOne .theOutSkirtsImg {
    background-image: url("../img/home/home-mobile-outskirts-img.png");
    width: 100%;
    height: 309px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.midSectionOne .theOutskirts {
  left: 0em;
  font-size: 2.5rem;
  cursor: pointer;
  background-color: #D8D8D8;
  padding: 25px 30px;
  position: absolute;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  top: 10.5em;
  top: 8em;
}
.midSectionOne .theOutskirts:hover {
  background-color: #222222;
  color: #fff;
}
@media (max-width:500px) {
  .midSectionOne .theOutskirts {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    font-size: 4rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    top: 6.9em;
    left: 0.5em;
    width: 459px;
    height: 131px;
  }
}
.midSectionOne .theBlocksImg {
  background-image: url("../img/home/home-the-blocks-img.png");
  width: 855px;
  height: 230px;
}
@media (max-width:500px) {
  .midSectionOne .theBlocksImg {
    max-width: 500px;
    background-image: url("../img/home/home-mobile-the-blocks-img.png");
    width: 100%;
    height: 309px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.midSectionOne .theBlocks {
  right: 0em;
  font-size: 2.5rem;
  cursor: pointer;
  background-color: #D8D8D8;
  padding: 25px 30px;
  position: absolute;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  top: 10.5em;
  top: 8em;
}
.midSectionOne .theBlocks:hover {
  background-color: #222222;
  color: #fff;
}
@media (max-width:500px) {
  .midSectionOne .theBlocks {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    font-size: 4rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    top: 6.9em;
    left: 0.5em;
    width: 459px;
    height: 131px;
  }
}
.midSectionOne img {
  margin-bottom: 0;
}
@media (max-width:500px) {
  .midSectionOne img {
    max-width: 480px;
    height: auto;
    margin: 0;
    padding: 0;
  }
}
.midSectionOne .midText {
  width: 100%;
  padding: 8% 26.2%;
  margin: 0 auto;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
@media (max-width:500px) {
  .midSectionOne .midText {
    padding: 29% 0 18% 0;
    max-width: 500px;
    width: 90%;
  }
}
.midSectionOne .midText p {
  font-size: 1.6rem;
  line-height: 24px;
  margin-bottom: 10px;
  font-weight: normal;
}
@media (max-width:500px) {
  .midSectionOne .midText p {
    font-size: 2.4rem;
    line-height: 1.5em;
    max-width: 500px;
    width: 100%;
  }
}
.navH1 {
  display: none;
}
.open {
  font-size: 6.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 20;
  top: 40px;
  margin-left: calc(-100vw / 2 + 1025px / 2);
  margin-right: calc(-100vw / 2 + 1025px / 2);
}
.open a {
  width: 200px;
  line-height: 2em;
  color: white;
  text-decoration: none;
}
.open a:hover {
  color: #0011ff;
}
.nav {
  width: 1025px;
  background-color: #98A4AF;
  position: fixed;
  z-index: 1;
}
@media (max-width:500px) {
  .nav {
    max-width: 500px;
    min-height: 58px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.nav .main-nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 8px 8%;
  align-items: center;
}
@media (max-width:500px) {
  .nav .main-nav {
    max-width: 500px;
    min-height: 58px;
    width: 500px;
    margin: 0 5% 0 5%;
  }
}
.nav .logo {
  font-size: 2.4rem;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto';
}
.nav .logo:hover {
  color: #46f9ff5b;
}
@media (max-width:500px) {
  .nav .logo {
    max-width: 500px;
    width: 100%;
    padding-left: 2%;
    font-size: 3.3rem;
    font-weight: normal;
  }
}
.nav .burger {
  background-image: url("../img/nav-hamburger.png");
  height: 20px;
  background-repeat: no-repeat;
  font-size: 2.4rem;
  color: #FFFFFF;
  width: 33px;
  cursor: pointer;
}
.nav .burger:hover {
  color: #000000;
}
@media phone {
  .nav .burger {
    width: 50px;
  }
}
.nav .burgerClose {
  background-image: url("../img/nav-hamburger-close.png");
  z-index: 200;
  height: 25px;
  background-repeat: no-repeat;
  font-size: 2.4rem;
  color: #FFFFFF;
  z-index: 20;
  width: 33px;
  cursor: pointer;
}
.nav .burgerClose:hover {
  color: #000000;
}
@media phone {
  .nav .burgerClose {
    width: 50px;
  }
}
.nav .logoClose {
  font-size: 2.4rem;
  color: #FFFFFF;
  z-index: 20;
  text-decoration: none;
  font-family: 'Roboto';
}
.nav .logoClose:hover {
  color: #46f9ff5b;
}
@media (max-width:500px) {
  .nav .logoClose {
    max-width: 500px;
    width: 100%;
    padding-left: 2%;
    font-size: 3.3rem;
    font-weight: normal;
  }
}
.nav .expandNav {
  position: fixed;
  background-color: #98A4AF;
  height: 100vh;
  width: 100vw;
  opacity: 0.97;
  z-index: 1;
  margin-left: calc(-100vw / 2 + 1025px / 2);
  margin-right: calc(-100vw / 2 + 1025px / 2);
  top: 0;
}
.footContainer {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  position: relative;
  margin: 0 auto;
  width: 1025px;
  background-color: #828282;
  padding: 50px;
  font-size: 1.4rem;
  line-height: 26px;
  color: #FFFFFF;
  display: flex;
}
@media (max-width:500px) {
  .footContainer {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    max-width: 500px;
    height: auto;
    margin: 0;
    padding: 25px;
    width: 500px;
  }
}
.footContainer p {
  font-size: 1.6rem;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
}
@media (max-width:500px) {
  .footContainer p {
    max-width: 500px;
    width: 398px;
    font-size: 2rem;
    line-height: 2.2em;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: normal;
  }
}
.footContainer h6 {
  font-size: 1rem;
  font-weight: normal;
}
@media (max-width:500px) {
  .footContainer h6 {
    max-width: 500px;
    width: 398px;
    font-size: 1.8rem;
    margin: 0.8em 0 0 0;
  }
}
.footContainer h4 {
  font-weight: normal;
  font-size: 2.4rem;
}
@media (max-width:500px) {
  .footContainer h4 {
    font-size: 3.5rem;
    max-width: 500px;
    width: 398px;
    line-height: 1.3em;
    margin: 1em 0 0 0;
  }
}
.footContainer .columnOne {
  width: 40%;
}
.footContainer .columnOne form {
  margin-top: 10px;
}
@media (max-width:500px) {
  .footContainer .columnOne form {
    margin-top: 11%;
  }
}
.footContainer .columnOne form input {
  width: 334px;
  height: 29px;
  padding: 10px;
  border: 0;
  border-radius: 2.3px;
  font-size: 1.2rem;
  color: #B1B1B1;
}
@media (max-width:500px) {
  .footContainer .columnOne form input {
    width: 448px;
    height: 76px;
    font-size: 2.4rem;
    border-radius: 5px;
  }
}
.footContainer .columnTwo {
  width: 20%;
}
.footContainer .columnThree {
  width: 20%;
}
.footContainer .columnFour {
  width: 20%;
}
.footContainer .copyWrite {
  width: 0%;
}
.copywrite {
  display: flex;
  justify-content: center;
  background: #828282;
  width: 1025px;
  margin: 0 auto;
  padding-bottom: 10px;
  color: #ffffff;
  font-size: 1rem;
}
@media (max-width:500px) {
  .copywrite {
    display: block;
    max-width: 500px;
    font-size: 1.8rem;
    margin: 0 0 3px 0;
    padding: 0 0 1% 5%;
    height: 1.3%;
  }
}
