/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.header {
  width: 100%;
  background: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 50px;
}
.header h2 {
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  margin-left: 30px;
}
@media (max-width: 500px) {
  .header h2 {
    margin-left: 30px;
  }
}
.header .main-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #D8D8D8;
  margin-top: 50px;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
}
.header nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-weight: bold;
  font-size: 48px;
  line-height: 85px;
}
.header nav a {
  text-decoration: none;
  color: #FFFFFF;
}
.header nav a:hover {
  color: #222222;
}
.header .hamburger {
  margin-right: 30px;
  height: 70%;
  width: 40px;
  cursor: pointer;
}
.header .x-expand {
  display: flex;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #D8D8D8;
}
.header .nav-x {
  display: none;
}
.footer {
  width: 100%;
  background: #828282;
}
@media (max-width: 500px) {
  .footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
.footer .email-regions {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  font-size: 16px;
}
@media (max-width: 500px) {
  .footer .email-regions {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.footer .email-regions .email {
  color: #FFFFFF;
  font-size: 16px;
  margin: 0 100px 0 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
@media (max-width: 500px) {
  .footer .email-regions .email {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
  }
}
.footer .email-regions .email p {
  margin-top: 15px;
}
.footer .email-regions .regions {
  color: #FFFFFF;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}
@media (max-width: 500px) {
  .footer .email-regions .regions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 50px;
  }
}
.footer .email-regions .regions .NY {
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 24px;
}
@media (max-width: 500px) {
  .footer .email-regions .regions .NY {
    width: 100%;
  }
  .footer .email-regions .regions .NY h3 {
    font-size: 25px;
    margin: 5px 0;
  }
}
.footer .email-regions .regions .FL {
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 24px;
}
@media (max-width: 500px) {
  .footer .email-regions .regions .FL {
    width: 100%;
  }
  .footer .email-regions .regions .FL h3 {
    font-size: 25px;
    margin: 5px 0;
  }
}
.footer .email-regions .regions .CA {
  height: 100%;
  display: flex;
  flex-direction: column;
  line-height: 24px;
}
@media (max-width: 500px) {
  .footer .email-regions .regions .CA {
    width: 100%;
  }
  .footer .email-regions .regions .CA h3 {
    font-size: 25px;
    margin: 5px 0;
  }
}
.footer .copyright {
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 20px;
}
@media (max-width: 500px) {
  .footer .copyright {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
}
.container {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 500px) {
  .container {
    max-width: 100%;
  }
}
.container .big-img {
  position: relative;
  text-align: center;
  max-width: 100%;
  z-index: -1;
}
.container .big-img .IEP {
  font-family: Roboto, Arial, sans-serif;
  font-size: 75px;
  color: #FFFFFF;
}
.container .big-img .IEP h1 {
  position: absolute;
  bottom: 250px;
  left: 30px;
}
.container .big-img .IEP h2 {
  position: absolute;
  bottom: 175px;
  left: 30px;
}
.container .big-img .IEP h3 {
  position: absolute;
  bottom: 100px;
  left: 30px;
}
.container .big-img img {
  width: 100%;
  height: 550px;
}
.container .main {
  margin: 0 50px;
}
@media (min-width: 1024px) {
  .container .main {
    margin: 0 50px;
  }
}
@media (max-width: 500px) {
  .container .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.container .main .content-div {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .container .main .content-div {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: 20px 0;
  }
}
.container .main .content-div .txt-content {
  line-height: 24px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 48%;
  font-family: Roboto, Arial, sans-serif;
}
@media (max-width: 500px) {
  .container .main .content-div .txt-content {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.container .main .content-div .txt-content h2 {
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .container .main .content-div .txt-content h2 {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
}
.container .main .content-div .txt-content p {
  margin: 20px 0;
}
.container .main .content-div button {
  background-color: #FFFFFF;
  width: 125px;
  height: 40px;
  cursor: pointer;
  border-color: #222222;
  font-family: Roboto, Arial, sans-serif;
}
@media (max-width: 500px) {
  .container .main .content-div button {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container .main .image1 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container .main .image1 img {
    width: 100%;
  }
}
.container .main .inverse-div {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .container .main .inverse-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
  }
}
@media (max-width: 500px) {
  .container .main .inverse-div .image2 {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container .main .inverse-div .image2 img {
    width: 100%;
  }
}
.container .main .inverse-div .txt-content {
  line-height: 24px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 48%;
  font-family: Roboto, Arial, sans-serif;
}
@media (max-width: 500px) {
  .container .main .inverse-div .txt-content {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.container .main .inverse-div .txt-content h2 {
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .container .main .inverse-div .txt-content h2 {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
.container .main .inverse-div .txt-content p {
  margin: 20px 0;
}
.container .main .inverse-div button {
  background-color: #FFFFFF;
  width: 125px;
  height: 40px;
  cursor: pointer;
  border-color: #222222;
}
@media (max-width: 500px) {
  .container .main .inverse-div button {
    width: 100%;
  }
}
.container .main .recent {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}
.container .main .third-content {
  width: 100%;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .container .main .third-content {
    margin-left: 45px;
    width: 300px;
  }
}
.container .main .third-content p {
  width: 50%;
  margin: 25px 0;
  line-height: 24px;
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .container .main .third-content p {
    width: 70%;
  }
}
.container .main .fourth-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 500px) {
  .container .main .fourth-content {
    margin-left: 45px;
    width: 300px;
  }
}
.container .main .fourth-content p {
  width: 50%;
  margin: 25px 0;
  line-height: 24px;
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}
@media (max-width: 500px) {
  .container .main .fourth-content p {
    width: 70%;
  }
}
.container .main .fifth-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 500px) {
  .container .main .fifth-content {
    margin-left: 45px;
    width: 300px;
  }
}
.container .main .fifth-content p {
  width: 50%;
  margin: 25px 0;
  line-height: 24px;
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}
@media (max-width: 500px) {
  .container .main .fifth-content p {
    width: 70%;
  }
}
.container .main .villas-img {
  position: relative;
  text-align: center;
  max-width: 100%;
  z-index: -1;
}
.container .main .villas-img .background-villas {
  background: #D8D8D8;
  height: 75px;
  width: 300px;
  position: absolute;
  bottom: 5px;
  right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .container .main .villas-img .background-villas {
    position: absolute;
    top: 80%;
    left: 11%;
  }
}
.container .main .villas-img h2 {
  line-height: 24px;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, Arial, sans-serif;
}
.container .main .villas-img .villas {
  width: 100%;
  margin: 15px 0 25px 0;
}
@media (max-width: 500px) {
  .container .main .villas-img .villas {
    width: 100%;
    height: 200px;
  }
}
.container .main .outskirts-img {
  position: relative;
  text-align: center;
  max-width: 100%;
  z-index: -1;
}
.container .main .outskirts-img .background-outskirts {
  background: #D8D8D8;
  height: 75px;
  width: 300px;
  position: absolute;
  bottom: 5px;
  left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .container .main .outskirts-img .background-outskirts {
    position: absolute;
    top: 80%;
    left: 11%;
  }
}
.container .main .outskirts-img h2 {
  line-height: 24px;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, Arial, sans-serif;
}
.container .main .outskirts-img .outskirts {
  width: 100%;
  margin: 15px 0 25px 0;
}
@media (max-width: 500px) {
  .container .main .outskirts-img .outskirts {
    width: 100%;
    height: 200px;
  }
}
.container .main .blocks-img {
  position: relative;
  text-align: center;
  max-width: 100%;
  z-index: -1;
}
.container .main .blocks-img .background-blocks {
  background: #D8D8D8;
  height: 75px;
  width: 300px;
  position: absolute;
  bottom: 5px;
  right: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .container .main .blocks-img .background-blocks {
    position: absolute;
    top: 80%;
    left: 11%;
  }
}
.container .main .blocks-img h2 {
  line-height: 24px;
  font-size: 24px;
  font-weight: bold;
  font-family: Roboto, Arial, sans-serif;
}
.container .main .blocks-img .blocks {
  width: 100%;
  margin: 15px 0 25px 0;
}
@media (max-width: 500px) {
  .container .main .blocks-img .blocks {
    width: 100%;
    height: 200px;
  }
}
