/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.jumbo-text {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #FFFFFF;
}
.nav-text {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 8.5rem;
  color: #FFFFFF;
}
.sub-header {
  font-weight: 700;
  font-size: 2.8rem;
  color: #222222;
}
.footer-headings {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}
.footer-text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #FFFFFF;
}
html {
  font-size: 62.5%;
}
body {
  background: #FFFFFF;
  color: #222222;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.container {
  max-width: 855px;
  margin: 0 auto;
}
.box {
  height: 75px;
  width: 30rem;
  background: #D8D8D8;
  border: 1px solid #FFFFFF;
}
.navigation {
  position: fixed;
  top: 0;
  display: flex;
  height: 55px;
  width: 100%;
  z-index: 1;
  /* background-color: #828282;
  opacity: 0.85; */
}

.navigation h2 {
  left: 21rem;
  top: 0;
}
.hamburger img {
  cursor: pointer;
  position: fixed;
  right: 21rem;
  top: 24px;
}
.gray {
  background: gray;
  opacity: .9;
}
.container.footer {
  width: 100%;
  height: 250px;
  background: #828282;
}
@media (max-width: 400px) {
  .container.footer {
    height: 650px;
  }
}
.text-muted {
  color: #FFFFFF !important;
  font-size: 1.2rem;
}
.copyright {
  color: #FFFFFF;
  font-size: 1.2rem;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.feet {
  margin: 100px 0 0 0!important;
  padding-top: 30px;
}
@media (max-width: 400px) {
  .form-group {
    margin-right: 0!important;
  }
}
@media (max-width: 400px) {
  .office {
    margin-bottom: 10px;
  }
}
.jumbo-home {
  width: 100%;
  max-width: 1024px;
  height: 598px;
  background: url("../img/home/home-jumbotron.png");
  margin: auto;
}
@media (max-width: 400px) {
  .jumbo-home {
    max-width: 100%;
    height: 260px;
  }
}
@media (max-width: 400px) {
  .imgOne {
    z-index: -4;
  }
}
@media (max-width: 400px) {
  .row-one {
    display: flex;
    flex-direction: column-reverse;
  }
}
.container {
  height: 100%;
  width: 1024px;
  position: relative;
}
@media (max-width: 400px) {
  .container {
    max-width: 100%;
  }
}
.hamburger {
  position: fixed;
  right: 7rem;
  line-height: 8rem;
}
@media (max-width: 400px) {
  .hamburger {
    right: 5rem;
  }
}
h2 {
  position: fixed;
  left: 8.5rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 7rem;
  color: #FFFFFF;
}
@media (max-width: 400px) {
  h2 {
    left: 3rem;
  }
}
h1 {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #FFFFFF;
  position: absolute;
  bottom: 5rem;
}
@media (max-width: 400px) {
  h1 {
    font-size: 3.2rem;
    line-height: 4rem;
    margin-left: 2rem;
  }
}
h4 {
  font-weight: 400;
  font-size: 2.4rem;
  color: #222222;
  letter-spacing: 5px;
}
h3 {
  font-weight: 700;
  font-size: 2.8rem;
  color: #222222;
}
@media (max-width: 400px) {
  h3 {
    text-align: center;
    font-size: 2.4rem;
  }
}
.box-right {
  position: absolute;
  right: 0;
  top: 175px;
}
@media (max-width: 400px) {
  .box-right {
    top: 75px;
    right: 2rem;
  }
}
.right-headline {
  position: absolute;
  right: 5.5rem;
  top: 200px;
}
@media (max-width: 400px) {
  .right-headline {
    right: 9rem;
    top: 100px;
  }
}
.box-left {
  position: absolute;
  left: 0;
  top: 175px;
}
@media (max-width: 400px) {
  .box-left {
    left: 2.5rem;
    top: 75px;
  }
}
.left-headline {
  position: absolute;
  left: 6.5rem;
  top: 200px;
}
@media (max-width: 400px) {
  .left-headline {
    left: 9.5rem;
    top: 100px;
  }
}
.row {
  margin: 100px 0;
}
@media (max-width: 400px) {
  .row {
    margin: 50px 0;
  }
}
.row-one {
  margin: 40px 0 100px 0;
}
p {
  margin: 10px;
}
@media (max-width: 400px) {
  p {
    margin: 15px 0;
  }
}
.btn {
  height: 50px;
  width: 150px;
  background: #FFFFFF;
  color: #222222;
  border-color: #222222;
  font-size: 1.6rem;
  border-radius: 0;
}
.med-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 1.75rem;
}
.office h5 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}
.office h6 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #FFFFFF;
}
.jumbo-services {
  width: 100%;
  max-width: 1024px;
  height: 250px;
  background: url("../img/services/services-jumbotron.png");
  margin: auto;
}
@media (max-width: 400px) {
  .jumbo-services {
    max-width: 100%;
  }
}
.para {
  margin: 50px 30px;
}
h1 {
  position: absolute;
  bottom: 20px;
  left: 0;
}
.tabs .tabs-links {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 400px) {
  .tabs .tabs-links {
    flex-direction: column;
    align-items: center;
  }
}
.tabs .tabs-link {
  height: 50px;
  width: 150px;
  border: 1px solid black;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #222222;
  color: #FFFFFF;
}
@media (max-width: 400px) {
  .tabs .tabs-link {
    width: 25rem;
    margin-bottom: 25px;
  }
}
.tabs .tabs-link-selected {
  background-color: #5E9FB9;
  color: #FFFFFF;
}
.tabs .tabs-link-selected:hover {
  background-color: #5E9FB9;
}
.tabs-items {
  margin: 30px 50px;
}
@media (max-width: 400px) {
  .tabs-items {
    margin: 30px 50px 20px 50px;
  }
}
.tabs-items .tabs-item {
  display: flex;
  margin-top: 50px;
  display: none;
}
@media (max-width: 400px) {
  .tabs-items .tabs-item {
    flex-direction: column;
  }
}
.tabs-items .tabs-item-selected {
  display: flex;
}
.tabs-items .together {
  display: flex;
  flex-direction: column;
}
.tabs-items .tabs-item-title {
  font-weight: 700;
  font-size: 1.8rem;
}
.tabs-items .tabs-item-description {
  width: 100%;
}
.jumbo-contact {
  width: 100%;
  max-width: 102.4rem;
  height: 250px;
  background: url("../img/contact/contact-jumbotron.png");
  margin: auto;
}
@media (max-width: 400px) {
  .jumbo-contact {
    max-width: 100%;
  }
}
.locations {
  max-width: 100%;
}
@media (max-width: 400px) {
  .locations {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.form-group {
  margin: 25px 10rem 25px 0;
  font-size: 1.4rem;
}
.form-check-input {
  bottom: 6px;
  left: .9rem;
}
.form-check-label {
  font-size: 1.4rem;
}
.btnCon {
  margin-top: 30px;
  height: 50px;
  width: 15rem;
  background: #FFFFFF;
  color: #222222;
  border: 1px solid #222222;
  font-size: 1.6rem;
  border-radius: 0;
}
@media (max-width: 400px) {
  .btnCon {
    width: 30rem;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
  }
}
.title {
  margin-top: 25px;
  margin-bottom: 35px;
}
@media (max-width: 400px) {
  .title {
    margin-top: 50px;
    margin-bottom: 15px;
  }
}
.location {
  margin: 15px 0;
}
.location h3 {
  font-size: 2rem;
}
@media (max-width: 400px) {
  .info h3 {
    text-align: left;
  }
}

/*-----------------------------MODAL------------------------------*/

.menu{
  background-color: #828282;
  opacity: .85;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  display: none;
}

.menu nav {
  display: flex;
  flex-direction: column;
}

.menu nav a {
  color: white;
  font-weight: 700;
  font-size: 6rem;
  line-height: 10rem;
}