/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.header-container {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d8d8d8;
  border: 1px solid red;
  position: sticky;
  top: 0;
}
.header-container .logo {
  color: white;
  font-size: 1.4rem;
  margin-left: 10%;
  border: 1px solid yellow;
}
.header-container .menu {
  width: 25px;
  height: 20px;
  margin-right: 10%;
  border: 1px solid yellow;
}
.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content-container .main-image {
  position: relative;
}
.content-container .main-image img {
  height: 350px;
}
.content-container .main-image .slogan {
  width: 20rem;
  font-size: 3rem;
  color: white;
  position: absolute;
  bottom: 2rem;
  left: 4.5rem;
  border: 1px solid purple;
}
.content-container .learn-more {
  display: flex;
  margin: 2rem;
  border: 1px solid red;
}
.content-container .learn-more .text {
  align-self: center;
  border: 1px solid green;
}
.content-container .learn-more .text h2 {
  font-size: 1.4rem;
  margin: 1rem 0rem;
}
.content-container .learn-more .text p {
  font-size: 1rem;
  margin: 1rem 0;
}
.content-container .learn-more .text a {
  display: block;
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
  text-align: center;
  width: 8rem;
  height: 2rem;
  padding-top: 1.3rem;
  border: 2px solid black;
  box-shadow: 7px 10px #d8d8d8;
}
.content-container .learn-more .text a:hover {
  color: black;
  box-shadow: 5px 10px black;
}
.content-container .learn-more img {
  width: 20rem;
  height: 12rem;
  margin: 1rem;
}
.content-container .recent-projects h2 {
  font-size: 1.6rem;
  margin: 1rem 0.5rem;
}
.content-container .recent-projects .project .image-name {
  position: relative;
  border: 1px solid purple;
}
.content-container .recent-projects .project .project-name {
  width: 12rem;
  text-align: center;
  padding: 1.3rem 2rem;
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  bottom: -2rem;
  border: 1px solid white;
  background-color: #d8d8d8;
}
.content-container .recent-projects .project .content {
  font-size: 1rem;
  width: 50%;
  margin: 3rem auto;
  border: 1px solid yellow;
}
.content-container .recent-projects .project .content p {
  margin: 1rem 0;
}
.content-container .recent-projects .reverse .project-name {
  position: absolute;
  left: 0;
  bottom: -2rem;
}
.footer {
  background-color: gray;
}
.footer .footer-content {
  display: flex;
  height: 10rem;
  font-size: 1rem;
  color: white;
  justify-content: space-around;
  margin: 0 2rem;
  align-items: center;
}
.footer .subscribe {
  width: 15rem;
}
.footer .subscribe .email {
  width: 13rem;
  height: 1.5rem;
  margin-top: 1rem;
  border: 1px solid gray;
  border-radius: 2px;
}
.footer .subscribe .disclaimer {
  margin-top: 0.5rem;
  font-size: 0.5rem;
}
.footer .location {
  font-size: 0.5rem;
  font-style: light;
  width: 15%;
}
.footer .location h4 {
  font-size: 1rem;
}
.footer .location p {
  margin: 0.5rem 0;
}
.footer .copyright {
  margin: 1rem 0;
  color: white;
  text-align: center;
}
.container {
  font-family: "Roboto", Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  font-size: 62%;
  border: 2px solid blue;
}
img {
  width: 100%;
}
