/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Roboto, Arial, sans-serif;
  font-size: 62.5%;
  color: #222222;
  background-color: #FFFFFF;
}
body {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
@media (max-width: 500px) {
  body {
    padding: 0;
  }
}
.container {
  margin: 0 auto;
}
.main {
  width: 84%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .main {
    width: 100%;
  }
}
h1,
h2 {
  font-weight: bold;
  font-size: 2.4rem;
}
p {
  margin-bottom: 2.5rem;
}
.header {
  position: absolute;
  z-index: 10;
  width: 100%;
  color: #FFFFFF;
  background-color: #99A4AF;
}
.header a {
  text-decoration: none;
  color: inherit;
}
.header .navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #99A4AF;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  font-size: 8rem;
  line-height: 10rem;
  font-weight: bold;
}
.header .navbar .menu--item:hover {
  color: black;
}
.header .display__toggle {
  display: none;
}
.header .header--hamburger .close {
  display: none;
}
.header .header--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 8%;
  font-size: 2.4rem;
  font-weight: 600;
}
@media (max-width: 500px) {
  .header .header--top {
    font-weight: 500;
    padding: 1.3rem 2rem;
  }
}
.jumbotron {
  width: 100%;
  position: relative;
}
.jumbotron .mobile {
  display: none;
}
@media (max-width: 500px) {
  .jumbotron .mobile {
    display: block;
  }
  .jumbotron .desktop {
    display: none;
  }
}
.jumbotron img {
  width: 100%;
}
.jumbotron .jumbotron--text,
.jumbotron .jumbotron--text {
  position: absolute;
  bottom: 5.6rem;
  left: 8%;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #FFFFFF;
}
@media (max-width: 500px) {
  .jumbotron .jumbotron--text,
  .jumbotron .jumbotron--text {
    font-size: 4rem;
    line-height: 4.5rem;
    left: 2rem;
  }
}
.footer {
  width: 100%;
  min-height: 25rem;
  background-color: #828282;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #FFFFFF;
  text-align: center;
  padding: 6rem 8.1rem 0 8.1rem;
}
@media (max-width: 500px) {
  .footer {
    padding: 3rem 2rem 0 2rem;
  }
}
.footer .footer--contact {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 2.4rem;
}
@media (max-width: 500px) {
  .footer .footer--contact {
    flex-direction: column;
  }
}
.footer .footer--contact h4 {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}
.footer .footer--contact input {
  padding: 1rem;
  border-radius: 0.5rem;
  width: 80%;
  font-size: 1.4rem;
  margin: 1.3rem auto 0.6rem auto;
}
@media (max-width: 500px) {
  .footer .footer--contact input {
    width: 100%;
  }
}
.footer .footer--contact .footer-subscribe {
  width: 40%;
  font-size: 1.3rem;
}
@media (max-width: 500px) {
  .footer .footer--contact .footer-subscribe {
    width: 100%;
  }
}
.footer .footer--contact .address {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}
@media (max-width: 500px) {
  .footer .footer--contact .address {
    flex-direction: column;
  }
}
.footer .footer--contact .address .address-item {
  padding: 2rem 0rem;
}
.footer .footer--copyright {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}
.footer .footer--copyright p {
  margin: 0;
}
.cta {
  width: 100%;
  padding-top: 4.4rem;
}
@media (max-width: 500px) {
  .cta {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.cta .cta--item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0rem;
  padding-bottom: 10rem;
}
@media (max-width: 500px) {
  .cta .cta--item {
    flex-direction: column;
  }
}
.cta .cta--item img {
  width: 100%;
}
@media (max-width: 500px) {
  .cta .cta--item {
    padding-bottom: 5rem;
  }
}
.cta .cta--item h1,
.cta .cta--item h2 {
  margin: 2rem 0;
}
.cta .cta--item .cta--header--text {
  margin-top: 3.2rem;
  margin-right: 3rem;
}
.cta .cta--item .cta--intro--text {
  margin-top: 2.2rem;
  margin-left: 3rem;
}
@media (max-width: 500px) {
  .cta .cta--item .cta--item--text {
    margin: 0;
  }
}
.cta .cta--item .img {
  max-width: 41rem;
}
.cta .cta--item .mobile {
  display: none;
}
@media (max-width: 500px) {
  .cta .cta--item .mobile {
    display: block;
  }
  .cta .cta--item .desktop {
    display: none;
  }
}
.cta .cta--item .button {
  margin-top: 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 13.4rem;
  height: 4.6rem;
  border: 1px solid #222222;
}
@media (max-width: 500px) {
  .cta .cta--item .button {
    width: 100%;
  }
}
.cta .cta--header img {
  order: 1;
}
@media (max-width: 500px) {
  .cta .cta--header img {
    order: -1;
  }
}
.project {
  width: 100%;
}
@media (max-width: 500px) {
  .project h2 {
    padding: 0 2rem;
  }
}
.project .project--item {
  margin-top: 4.6rem;
}
.project .project--item .mobile {
  display: none;
}
@media (max-width: 500px) {
  .project .project--item .mobile {
    display: block;
  }
  .project .project--item .desktop {
    display: none;
  }
}
.project .project--item .project--item--img {
  position: relative;
}
.project .project--item .project--item--img img {
  width: 100%;
}
.project .project--item .project--item--img .project--img--title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #D8D8D8;
  border: 0.1rem solid #FFFFFF;
  font-weight: 300;
  letter-spacing: 0.9rem;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  width: 31.4rem;
  height: 9rem;
  transform: translateY(30%);
}
@media (max-width: 500px) {
  .project .project--item .project--item--img .project--img--title {
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    width: 90%;
  }
}
.project .project--item .project--item--img .project--img--title p {
  letter-spacing: 0.8rem;
  font-size: 2.4rem;
  margin: 0;
}
.project .project--item .left-align {
  left: 0rem;
}
@media (max-width: 500px) {
  .project .project--item .left-align {
    left: 50%;
  }
}
.project .project--item .project--item--text {
  margin: 8.2rem 0 10rem 0;
  padding: 0 20.5rem;
  letter-spacing: 0.85px;
}
@media (max-width: 500px) {
  .project .project--item .project--item--text {
    padding: 0 2rem;
    margin-bottom: 5rem;
  }
}
.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .service {
    width: 90%;
  }
}
.service p {
  margin: 4.4rem 0;
}
.service .tabs-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 500px) {
  .service .tabs-links {
    flex-direction: column;
  }
}
.service .tabs-links .tabs-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 22%;
  height: 5rem;
  text-align: center;
  border: 1px solid #222222;
  font-size: 2rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  .service .tabs-links .tabs-link {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.service .tabs-links .tabs-link:hover {
  background-color: #222222;
  color: #FFF;
}
.service .tabs-links .tabs-link-selected {
  background-color: #5E9FB9;
  color: #FFF;
  border-color: #FFF;
}
.service .tabs-items {
  padding: 5.5rem 0rem;
}
.service .tabs-items .tabs-item .mobile {
  display: none;
}
@media (max-width: 500px) {
  .service .tabs-items .tabs-item .mobile {
    display: block;
  }
  .service .tabs-items .tabs-item .desktop {
    display: none;
  }
}
.service .tabs-items .tabs-item .content {
  padding: 1.2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .service .tabs-items .tabs-item .content {
    flex-direction: column;
  }
}
.service .tabs-items .tabs-item .content img {
  width: 100%;
}
.service .tabs-items .tabs-item .content p {
  margin: 3rem 0rem;
}
.service .hidden {
  display: none;
}
