/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.mobileIMG {
  display: none;
}
nav {
  background: #99A4AF;
  display: flex;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav .navbar {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10%;
}
nav .dropdownNav {
  display: none;
  height: 100vh;
  margin-top: 300px;
  text-align: center;
  width: 100%;
}
nav .dropdownNav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
}
nav .logoText {
  margin-top: 16px;
  font-weight: bold;
  font-size: 2.8rem;
}
.jumbotronIMG {
  width: 100%;
}
header {
  position: relative;
  max-width: 100%;
}
header img {
  z-index: -1;
}
header h1 {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
  position: absolute;
  top: 270px;
  left: 10%;
}
.mainSection {
  margin: 0 auto;
  width: 83.5%;
}
.leadIn {
  margin-top: 40px;
}
.leadIn article {
  display: flex;
  justify-content: space-between;
}
.leadIn article .mainContent {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 48.5%;
}
.leadIn article .mainContent h2 {
  margin-top: 16px;
  font-weight: bold;
  font-size: 2.8rem;
}
.leadIn article .mainContent p {
  font-weight: regular;
  font-size: 1.6rem;
  line-height: 24px;
  margin: 20px 0;
}
.leadIn article .mainContent .articleButton {
  font-weight: regular;
  font-size: 1.6rem;
  line-height: 24px;
  border: 1px solid black;
  padding: 12px 26px;
}
.reversedLeadIn {
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 63px;
}
.reversedLeadIn .designHeader {
  font-weight: bold;
  font-size: 2.8rem;
  margin-top: 41px;
}
.projectHeader {
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 47px;
  margin-top: 100px;
}
.projects .projectContent {
  position: relative;
}
.projects img {
  position: relative;
  z-index: -1;
}
.projects h3 {
  background: #D8D8D8;
  bottom: -37px;
  font-size: 1.7rem;
  letter-spacing: 3px;
  padding: 30px 85px;
  position: absolute;
  right: 0px;
}
.projects .leftLabel {
  right: 516px;
}
.projects .projectText {
  font-weight: regular;
  font-size: 1.6rem;
  line-height: 24px;
  width: 49%;
  margin: 90px auto;
}
.projects .projectText .upperText {
  margin-bottom: 30px;
}
.jumbotronHeader {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
}
.subHeader {
  font-weight: bold;
  font-size: 2.8rem;
}
.pageText {
  font-weight: regular;
  font-size: 1.6rem;
  line-height: 24px;
}
.leadInButton {
  border: 1px solid black;
  padding: 12px 26px;
}
.footerHeader {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: regular;
  line-height: 24px;
}
.footerText {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: regular;
  line-height: 26px;
}
footer {
  align-items: center;
  background: #99A4AF;
  margin-top: 178px;
  padding: 60px 40px 0px 40px;
  width: 100%;
}
footer .footerContent {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
footer .footerContent .input-form {
  display: flex;
  flex-direction: column;
}
footer .footerContent .input-form h4 {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: regular;
  line-height: 24px;
}
footer .footerContent .input-form input {
  border-radius: 5px;
  border-style: none;
  color: #D8D8D8;
  margin: 20px 0;
  padding: 10px 5px;
  width: 80%;
}
footer .footerContent .input-form p {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: regular;
  line-height: 26px;
}
footer .footerContent .companyAddress {
  display: flex;
  flex-direction: column;
}
footer .footerContent .companyAddress h4 {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: regular;
  line-height: 24px;
  margin-bottom: 20px;
}
footer .footerContent .companyAddress address {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: regular;
  line-height: 26px;
  display: flex;
  flex-direction: column;
}
footer .copyright {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: regular;
  line-height: 26px;
  font-size: 0.8rem;
  margin: 60px 0 30px 0;
}
html {
  font-size: 62.5%;
}
body {
  background: #FFFFFF;
  box-sizing: border-box;
  color: #222222;
  font-family: 'Roboto', Arial, sans-serif;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
  background: #ffffff;
  color: #222222;
}
