/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.first_panals {
  background-color: gray;
  display: flex;
}
body {
  width: 1000px;
  margin: auto;
}
.main_splash .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #9AA5B0;
  height: 50px;
}
.main_splash .top .main_title {
  padding: 0px 0px 0px 70px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.6rem;
  color: white;
}
.main_splash .top .nav_link {
  padding: 0px 75px 0px 0px;
}
.main_splash .title_page {
  display: flex;
  background: url("../img/home/home-jumbotron.png") no-repeat center center;
  height: 550px;
  width: 100%;
}
.main_splash .title_page .title_page_p {
  display: flex;
  align-items: flex-end;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 4rem;
  padding: 0px 0px 65px 70px;
  line-height: 1.2;
}
.main_splash .nav_contain {
  display: none;
}
