/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
/*Imports*/
/*Mixins*/
/*Variables Less*/
/*General*/
/*Home*/
/*Home Grey Label*/
/*Button*/
/*Button Hover*/
/*Services*/
/*Service Tab Hover*/
/*Footer*/
/*Jumbotron Headings*/
/*Sub Headers*/
/*Footer Headings*/
/*Footer Text*/
/*Navigation Logo*/
/*Navigation Text (Expanded)*/
/*Media Query*/
/*Global LESS*/
* {
  box-sizing: border-box;
  max-width: 820px;
}
html {
  font-size: 62.5%;
}
.main-container {
  max-width: 820px;
}
/*Navigation Bar LESS*/
.navigation {
  display: flex;
  background-color: #ACB5B9;
  justify-content: space-between;
  padding: 10px 5px 10px 5px;
}
.navigation .company-name {
  font-size: 2rem;
  color: #FFFFFF;
}
.navigation .nav-menu .nav-button {
  display: flex;
  cursor: pointer;
}
.navigation .nav-menu .nav-items {
  display: none;
  width: 100%;
  background-color: #5E9FB9;
  color: #FFFFFF;
}
.navigation .nav-menu .nav-items a {
  font-weight: Bold;
  font-size: 48px;
  line-height: 85px;
  color: #FFFFFF;
}
.navigation .nav-menu .nav-items a:hover {
  color: #222222;
}
.navigation .nav-menu .nav-items a {
  font-weight: Bold;
  font-size: 48px;
  line-height: 85px;
  color: #FFFFFF;
}
.navigation .nav-menu .nav-items a:hover {
  color: #222222;
}
.navigation .nav-menu .nav-items a {
  font-weight: Bold;
  font-size: 48px;
  line-height: 85px;
  color: #FFFFFF;
}
.navigation .nav-menu .nav-items a:hover {
  color: #222222;
}
.navigation .nav-menu .nav-items .nav-hidden {
  display: block;
}
/*Footer Page*/
.footer-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: grey;
  color: white;
  padding: 10px 10px 10px 10px;
}
.footer-content .interested-box .footer-p {
  font-size: 1.6rem;
}
.footer-content .interested-box .footer-p2 {
  font-size: 1.3rem;
}
.footer-content .NewYork-address {
  width: 20%;
}
.footer-content .NewYork-address p {
  font-size: 1.6rem;
}
.footer-content .Florida-address {
  width: 18%;
}
.footer-content .Florida-address p {
  font-size: 1.6rem;
}
.footer-content .California-address {
  width: 18%;
}
.footer-content .California-address p {
  font-size: 1.6rem;
}
.copyright {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copyright p {
  margin: 10px 0 5px 0;
}
/*Home Page LESS*/
.homepage-content {
  background-color: #FFFFFF;
}
@media (max-width: 500px) {
  .homepage-content {
    display: flex;
    flex-direction: column;
  }
}
.homepage-content .section1 .homeImg img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
@media (max-width: 500px) {
  .homepage-content .section1 .homeImg img {
    display: none;
  }
}
.homepage-content .section1 h1 {
  position: absolute;
  top: 350px;
  color: #FFFFFF;
  font-size: 4rem;
}
.homepage-content .section1 .mobile {
  display: none;
}
@media (max-width: 500px) {
  .homepage-content .section1 .mobile {
    display: block;
  }
}
.homepage-content .section2 {
  display: flex;
  margin: 20px auto;
}
@media (max-width: 500px) {
  .homepage-content .section2 {
    display: flex;
    flex-direction: column;
  }
}
.homepage-content .section2 .box {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 50%;
  margin: 55px 15px 10px 15px;
}
.homepage-content .section2 .box h2 {
  margin: 10px 0 10px 0;
  font-size: 2.5rem;
}
.homepage-content .section2 .box p {
  font-size: 1.6rem;
}
.homepage-content .section2 .box .button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background-color: #FFFFFF;
  color: #222222;
  font-size: 1.6rem;
  margin: 10px;
  border: 1px solid #222222;
  cursor: pointer;
}
.homepage-content .section2 .box .button:hover {
  background-color: #5E9FB9;
  color: #FFF;
}
.homepage-content .section3 {
  display: flex;
}
@media (max-width: 500px) {
  .homepage-content .section3 {
    display: flex;
    flex-direction: column;
  }
}
.homepage-content .section3 .box {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  margin: 55px 15px 10px 15px;
}
.homepage-content .section3 .box h2 {
  margin: 10px 0 10px 0;
  font-size: 2.5rem;
}
.homepage-content .section3 .box p {
  font-size: 1.6rem;
}
.homepage-content .section3 .box .button {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background-color: #FFFFFF;
  color: #222222;
  font-size: 1.6rem;
  margin: 10px;
  border: 1px solid #222222;
  cursor: pointer;
}
.homepage-content .section3 .box .button:hover {
  background-color: #5E9FB9;
  color: #FFF;
}
.homepage-content .recent-projects {
  font-size: 2.5rem;
  margin: 10px 0 10px 0;
}
@media (max-width: 500px) {
  .homepage-content .recent-projects {
    display: flex;
    flex-direction: column;
  }
}
.homepage-content .project-box1 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-content .project-box1 .villa-img img {
  width: 100%;
  position: absolute;
  z-index: 1;
}
@media (max-width: 500px) {
  .homepage-content .project-box1 .villa-img img {
    display: none;
  }
}
.homepage-content .project-box1 .project-villas {
  position: relative;
  top: -50px;
  left: 41%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 75px;
  background-color: #D8D8D8;
  color: black;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .homepage-content .project-box1 .project-villas {
    width: 100%;
  }
}
.homepage-content .project-box1 .mobile .villa-mobile {
  display: none;
}
@media (max-width: 500px) {
  .homepage-content .project-box1 .mobile .villa-mobile {
    display: block;
  }
}
.homepage-content .project-p {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-content .project-p p {
  font-size: 1.6rem;
  width: 50%;
}
.homepage-content .project-p p {
  font-size: 1.6rem;
}
.homepage-content .project-box2 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-content .project-box2 .outskirt-img img {
  width: 100%;
  position: absolute;
  z-index: 1;
}
@media (max-width: 500px) {
  .homepage-content .project-box2 .outskirt-img img {
    display: none;
  }
}
.homepage-content .project-box2 .project-outskirts {
  position: relative;
  top: -50px;
  left: -41%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 75px;
  background-color: #D8D8D8;
  color: black;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .homepage-content .project-box2 .project-outskirts {
    width: 100%;
  }
}
.homepage-content .project-box2 .mobile .out-mobile {
  display: none;
}
@media (max-width: 500px) {
  .homepage-content .project-box2 .mobile .out-mobile {
    display: block;
  }
}
.homepage-content .project-p p {
  padding: 5px 0 5px 0;
  margin: 10px 0 10px 0;
}
.homepage-content .project-box3 {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}
.homepage-content .project-box3 .block-img img {
  width: 100%;
  position: absolute;
  z-index: 1;
}
@media (max-width: 500px) {
  .homepage-content .project-box3 .block-img img {
    display: none;
  }
}
.homepage-content .project-box3 .project-blocks {
  position: relative;
  top: -50px;
  left: 41%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 75px;
  background-color: #D8D8D8;
  color: black;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .homepage-content .project-box3 .project-blocks {
    width: 100%;
  }
}
.homepage-content .project-box3 .mobile .block-mobile {
  display: none;
}
@media (max-width: 500px) {
  .homepage-content .project-box3 .mobile .block-mobile {
    display: block;
  }
}
/*Contact Page*/
/*Services LESS*/
.servicespage-content {
  background-color: #FFFFFF;
}
.servicespage-content .section1 .servicesImg img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.servicespage-content .section1 h1 {
  position: absolute;
  top: 150px;
  color: #FFFFFF;
  font-size: 5rem;
}
.servicespage-content .section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.servicespage-content .section2 .section2-p {
  font-size: 1.6rem;
  color: #222222;
}
.servicespage-content .tabs .tab-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.servicespage-content .tabs .tab-links .link {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background-color: #FFFFFF;
  color: black;
  font-size: 1.6rem;
  margin: 10px;
  border: 1px solid #222222;
  cursor: pointer;
}
.servicespage-content .tabs .tab-links .link:hover {
  background-color: #5E9FB9;
  color: #FFFFFF;
}
.servicespage-content .tabs .tab-links .link {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background-color: #FFFFFF;
  color: black;
  font-size: 1.6rem;
  margin: 10px;
  border: 1px solid #222222;
  cursor: pointer;
}
.servicespage-content .tabs .tab-links .link:hover {
  background-color: #5E9FB9;
  color: #FFFFFF;
}
.servicespage-content .tabs .tab-links .link {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background-color: #FFFFFF;
  color: black;
  font-size: 1.6rem;
  margin: 10px;
  border: 1px solid #222222;
  cursor: pointer;
}
.servicespage-content .tabs .tab-links .link:hover {
  background-color: #5E9FB9;
  color: #FFFFFF;
}
.servicespage-content .tabs .tab-links .link {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background-color: #FFFFFF;
  color: black;
  font-size: 1.6rem;
  margin: 10px;
  border: 1px solid #222222;
  cursor: pointer;
}
.servicespage-content .tabs .tab-links .link:hover {
  background-color: #5E9FB9;
  color: #FFFFFF;
}
.servicespage-content .tab-content .content {
  display: none;
}
.servicespage-content .tab-content .content .tab-cont1 {
  display: flex;
  flex-direction: column;
}
.servicespage-content .tab-content .content .tab-cont1 h2 {
  font-size: 2.5rem;
}
.servicespage-content .tab-content .content .tab-cont1 p {
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
  padding: 30px 0;
}
.servicespage-content .tab-content .content .tab-cont2 h2 {
  font-size: 2.5rem;
}
.servicespage-content .tab-content .content .tab-cont2 p {
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
}
.servicespage-content .tab-content .content .tab-cont3 h2 {
  font-size: 2.5rem;
}
.servicespage-content .tab-content .content .tab-cont3 p {
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
}
.servicespage-content .tab-content .content .tab-cont4 h2 {
  font-size: 2.5rem;
}
.servicespage-content .tab-content .content .tab-cont4 p {
  font-size: 1.6rem;
  margin: 10px 0 10px 0;
}
.servicespage-content .tab-content .tab-toggle {
  display: flex;
}
