/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-weight: regular;
}
html,
body {
  font-family: "Roboto", Arial, sans-serif;
  color: #222222;
  background: #ffffff;
}
p {
  font-size: 1.6rem;
  line-height: 24px;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.home-page {
  max-width: 1000px;
  margin: 0 auto;
}
.home-page .jumbotron {
  background-image: url("https://github.com/DaftBeowulf/User-Interface-Project-Week/blob/master/img/home/home-jumbotron.png?raw=true");
  width: 100%;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-end;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #ffffff;
}
@media (max-width:500px) {
  .home-page .jumbotron {
    height: auto;
    padding-top: 180px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://github.com/DaftBeowulf/User-Interface-Project-Week/blob/master/img/home/home-mobile-jumbotron.png?raw=true");
  }
}
.home-page .jumbotron h1 {
  padding: 50px 7%;
}
@media (max-width:500px) {
  .home-page .jumbotron h1 {
    padding: 0 4% 40px;
    font-size: 5.6rem;
    line-height: 62px;
  }
}
.home-page .intro-section {
  width: 87.5%;
  margin: 0 auto;
}
@media (max-width:500px) {
  .home-page .intro-section {
    width: 90%;
  }
}
.home-page .intro-section .intro-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0%;
  justify-content: space-between;
}
@media (max-width:500px) {
  .home-page .intro-section .intro-content {
    flex-direction: column-reverse;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0;
  }
}
.home-page .intro-section .intro-content .text-content {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
@media (max-width:500px) {
  .home-page .intro-section .intro-content .text-content {
    width: 100%;
  }
}
.home-page .intro-section .intro-content .text-content .header {
  font-size: 2.4rem;
  font-weight: bold;
  padding: 10px 0;
}
@media (max-width:500px) {
  .home-page .intro-section .intro-content .text-content .header {
    font-size: 3.75rem;
  }
}
.home-page .intro-section .intro-content .text-content p {
  padding: 20px 0;
}
@media (max-width:500px) {
  .home-page .intro-section .intro-content .text-content p {
    font-size: 2.5rem;
    line-height: 38px;
  }
}
.home-page .intro-section .intro-content .text-content .button {
  background: #ffffff;
  padding: 10px 0;
  margin: 12px;
  width: 32%;
  border: 1px solid black;
}
@media (max-width:500px) {
  .home-page .intro-section .intro-content .text-content .button {
    padding: 25px 0;
    margin: 20px 0;
    width: 100%;
    font-size: 2.4rem;
  }
}
.home-page .intro-section .intro-content .image-content {
  width: 46%;
}
@media (max-width:500px) {
  .home-page .intro-section .intro-content .image-content {
    width: 100%;
    overflow: hidden;
    margin-bottom: 35px;
    height: 430px;
    content: url("https://github.com/DaftBeowulf/User-Interface-Project-Week/blob/master/img/home/home-mobile-img-1.png?raw=true");
  }
}
@media (max-width:500px) {
  .home-page .intro-section .reverse {
    flex-direction: column;
  }
}
@media (max-width:500px) {
  .home-page .intro-section .reverse .image-content {
    content: url("https://github.com/DaftBeowulf/User-Interface-Project-Week/blob/master/img/home/home-mobile-img-2.png?raw=true");
  }
}
.home-page .projects {
  width: 86%;
  margin: 0 auto;
  padding: 30px 0;
}
@media (max-width:500px) {
  .home-page .projects {
    width: 100%;
  }
}
.home-page .projects h2 {
  font-size: 2.4rem;
  font-weight: bold;
  margin: 40px 0;
}
@media (max-width:500px) {
  .home-page .projects h2 {
    font-size: 3.8rem;
    margin: 30px 0;
    padding: 0 5%;
  }
}
.home-page .projects img {
  width: 100%;
}
.home-page .projects .project-content .project-text {
  width: 52%;
  text-align: left;
  margin: 55px auto;
  font-size: 1.8rem;
}
@media (max-width:500px) {
  .home-page .projects .project-content .project-text {
    width: 94%;
    font-size: 2.8rem;
    line-height: 38px;
  }
}
.home-page .projects .project-content .project-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}
.home-page .projects .project-content .project-banner .project-header {
  background: #d8d8d8;
  width: 37%;
  font-size: 2.4rem;
  text-align: center;
  margin-top: -50px;
  z-index: 2;
  letter-spacing: 8px;
  padding: 35px 0;
  border: 1px solid #ffffff;
}
@media (max-width:500px) {
  .home-page .projects .project-content .project-banner .project-header {
    width: 94%;
    margin: 0 auto;
    font-size: 4rem;
    margin-top: -16px;
    letter-spacing: 10px;
    padding: 55px 0;
  }
}
.home-page .projects .project-content .inverse {
  align-items: flex-end;
}
@media (max-width:500px) {
  .home-page .projects .villas img {
    content: url("https://github.com/DaftBeowulf/User-Interface-Project-Week/blob/master/img/home/home-mobile-villas-img.png?raw=true");
  }
}
@media (max-width:500px) {
  .home-page .projects .outskirts img {
    content: url("https://github.com/DaftBeowulf/User-Interface-Project-Week/blob/master/img/home/home-mobile-outskirts-img.png?raw=true");
  }
}
@media (max-width:500px) {
  .home-page .projects .blocks img {
    content: url("https://github.com/DaftBeowulf/User-Interface-Project-Week/blob/master/img/home/home-mobile-the-blocks-img.png?raw=true");
  }
}
.services-page {
  max-width: 1000px;
  margin: 0 auto;
}
.services-page .jumbotron {
  background-image: url("https://github.com/DaftBeowulf/User-Interface-Project-Week/blob/master/img/services/services-jumbotron.png?raw=true");
  width: 100%;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-end;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #ffffff;
}
@media (max-width:500px) {
  .services-page .jumbotron {
    height: 400px;
    padding-top: 180px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://github.com/DaftBeowulf/User-Interface-Project-Week/blob/master/img/services/services-mobile-jumbotron.png?raw=true");
  }
}
.services-page .jumbotron h1 {
  padding: 20px 8.5%;
}
@media (max-width:500px) {
  .services-page .jumbotron h1 {
    padding: 0 4% 30px;
    font-size: 5.6rem;
    line-height: 62px;
  }
}
.services-page .services-intro {
  width: 82.5%;
  margin: 50px auto;
}
@media (max-width:500px) {
  .services-page .services-intro {
    width: 90%;
  }
}
@media (max-width:500px) {
  .services-page .services-intro p {
    font-size: 2.6rem;
    line-height: 40px;
  }
}
.services-page .tabs {
  width: 82.5%;
  margin: 0 auto;
}
@media (max-width:500px) {
  .services-page .tabs {
    width: 90%;
  }
}
.services-page .tabs .tab-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
}
@media (max-width:500px) {
  .services-page .tabs .tab-links {
    flex-direction: column;
  }
}
.services-page .tabs .tab-links .tab-link {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  width: 22.5%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid #222222;
  padding: 13px 0;
}
.services-page .tabs .tab-links .tab-link:hover {
  background: #222222;
  color: #fff;
}
@media (max-width:500px) {
  .services-page .tabs .tab-links .tab-link {
    width: 100%;
    font-size: 3.1rem;
    padding: 25px 0;
    margin-bottom: 30px;
  }
}
.services-page .tabs .tab-items {
  margin: 0 auto 100px;
}
.services-page .tabs .tab-items .tab-item {
  display: none;
}
.services-page .tabs .tab-items .tab-item .tab-item-title {
  margin: 55px 0 15px;
  font-weight: bold;
  font-size: 2rem;
}
@media (max-width:500px) {
  .services-page .tabs .tab-items .tab-item .tab-item-title {
    font-size: 3.8rem;
  }
}
.services-page .tabs .tab-items .tab-item .tab-item-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media (max-width:500px) {
  .services-page .tabs .tab-items .tab-item .tab-item-content {
    flex-direction: column;
  }
}
.services-page .tabs .tab-items .tab-item .tab-item-content .tab-item-text {
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width:500px) {
  .services-page .tabs .tab-items .tab-item .tab-item-content .tab-item-text {
    width: 100%;
    margin-bottom: 40px;
  }
}
.services-page .tabs .tab-items .tab-item .tab-item-content .tab-item-text p {
  padding: 10px 0;
}
@media (max-width:500px) {
  .services-page .tabs .tab-items .tab-item .tab-item-content .tab-item-text p {
    font-size: 2.5rem;
    line-height: 40px;
  }
}
.services-page .tabs .tab-items .tab-item .tab-item-content .tab-item-image {
  max-height: 275px;
  width: 45%;
}
@media (max-width:500px) {
  .services-page .tabs .tab-items .tab-item .tab-item-content .tab-item-image {
    width: 100%;
    max-height: 500px;
  }
}
@media (max-width:500px) {
  .services-page .tabs .tab-items .tab-item .tab-item-content img[data-tab="1"] {
    content: url("https://github.com/DaftBeowulf/User-Interface-Project-Week/blob/master/img/services/services-tab-mobile-pre-construction-img.png?raw=true");
  }
  .services-page .tabs .tab-items .tab-item .tab-item-content img[data-tab="2"] {
    content: url("https://github.com/DaftBeowulf/User-Interface-Project-Week/blob/master/img/services/services-tab-mobile-construction-img.png?raw=true");
  }
  .services-page .tabs .tab-items .tab-item .tab-item-content img[data-tab="3"] {
    content: url("https://github.com/DaftBeowulf/User-Interface-Project-Week/blob/master/img/services/services-tab-mobile-design-build-img.png?raw=true");
  }
  .services-page .tabs .tab-items .tab-item .tab-item-content img[data-tab="4"] {
    content: url("https://github.com/DaftBeowulf/User-Interface-Project-Week/blob/master/img/services/services-tab-mobile-sustainability-img.png?raw=true");
  }
}
.services-page .tabs .tab-items .tab-item-selected {
  display: block;
}
.services-page .tabs .tab-link-selected {
  background: #5e9fb9;
  color: #ffffff;
}
.menu {
  max-width: 1000px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 2.4rem;
  color: #ffffff;
  background-color: #97a2ac;
  padding: 15px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  z-index: 100;
  width: 100%;
  opacity: 0.95;
}
@media (max-width:500px) {
  .menu {
    font-size: 3.6rem;
    padding: 20px 5%;
  }
}
.menu .button-img {
  cursor: pointer;
}
@media (max-width:500px) {
  .menu .button-img {
    width: 13%;
  }
}
@media (max-width:500px) {
  .menu .button-img img {
    width: 100%;
  }
}
.menu .nav {
  display: none;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.menu .nav .nav-link {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 8.5rem;
  color: #ffffff;
  text-decoration: none;
}
.menu .nav .nav-link:hover {
  color: #222222;
}
.footer {
  border: 1px solid #ffffff;
  background: #828282;
  text-align: left;
  color: #ffffff;
}
.footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 50px 7% 18px;
  justify-content: space-between;
}
@media (max-width:500px) {
  .footer .footer-content {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer .footer-content h2 {
  font-weight: regular;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ffffff;
  font-weight: bold;
}
@media (max-width:500px) {
  .footer .footer-content h2 {
    font-size: 3rem;
    white-space: nowrap;
    overflow: hidden;
    line-height: 40px;
  }
}
.footer .footer-content p {
  line-height: 28px;
}
.footer .footer-content .contact input {
  color: #b1b1b1;
  width: 100%;
  padding: 12px 5px;
  margin: 7px 0;
  border-radius: 5px;
  font-size: 1.6rem;
}
@media (max-width:500px) {
  .footer .footer-content .contact input {
    font-size: 2.5rem;
    padding: 20px 5%;
    border-radius: 10px;
  }
}
.footer .footer-content .contact p {
  font-size: 1.4rem;
}
@media (max-width:500px) {
  .footer .footer-content .contact p {
    font-size: 2rem;
  }
}
@media (max-width:500px) {
  .footer .footer-content .info {
    padding: 30px 0;
  }
}
@media (max-width:500px) {
  .footer .footer-content .info p {
    font-size: 2.4rem;
    line-height: 40px;
  }
}
.footer .copyright {
  text-align: center;
}
.footer .copyright p {
  font-size: 1.2rem;
}
@media (max-width:500px) {
  .footer .copyright p {
    font-size: 1.9rem;
    padding: 20px 5%;
    text-align: left;
  }
}
