/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  border: 1px solid black;
  margin-bottom: 14px;
  margin-top: 26px;
  font-size: 1.3rem;
  width: 135px;
  height: 46px;
}
@media (max-width: 500px) {
  .btn {
    width: 290px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
.tabBtn {
  margin-top: 39px;
  border: 1px solid black;
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 1.6rem;
  width: 189px;
  height: 51px;
}
.gray-square {
  position: absolute;
  bottom: -37px;
  opacity: 0.95;
  height: 93px;
  background-color: #D8D8D8;
  width: 316px;
  border: 1px solid white;
}
@media (max-width: 500px) {
  .gray-square {
    width: 292px;
    height: 98px;
    bottom: 25px;
    left: 14px;
  }
}
.blurb {
  font-size: 1.3rem;
  letter-spacing: 0.77px;
  line-height: 1.95rem;
  padding: 92px 210px 92px 202px;
}
@media (max-width: 500px) {
  .blurb {
    padding: 0;
    margin-top: 200px;
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-weight: regular;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
}
html h1,
html h2 {
  font-weight: bold;
}
html h1 {
  color: #FFFFFF;
  font-size: 1.9rem;
  letter-spacing: 0.005rem;
}
html h2 {
  margin-bottom: 19px;
  font-size: 2rem;
  letter-spacing: -0.04rem;
  padding-bottom: 5px;
}
html h3 {
  font-weight: lighter;
  letter-spacing: 0.6rem;
  font-size: 2rem;
  padding-left: 6px;
  padding-bottom: 2px;
}
html h4 {
  color: #FFFFFF;
  line-height: 2rem;
  font-size: 1.1rem;
}
html p {
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
}
@media (max-width: 500px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
  .containerTwo {
    width: 320px;
  }
}
.header {
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
}
.header .menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  opacity: 0.9;
  width: 1024px;
  height: 50px;
  z-index: 1;
  background-color: #9CAAB6;
}
.header .menu a {
  display: none;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding-right: 300px;
  font-size: 3.5rem;
  line-height: 2.2em;
}
.header .menu a:hover {
  color: black;
}
.header .menu h1 {
  margin-right: auto;
  margin-left: 85px;
  margin-top: 14px;
  align-self: flex-start;
}
.header .menu .hamburger {
  margin-right: 84px;
  margin-top: 14px;
  align-self: flex-start;
}
@media (max-width: 500px) {
  .header {
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }
  .header .menu {
    max-width: 320px;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    opacity: 0.9;
    height: 50px;
    z-index: 1;
    background-color: #9CAAB6;
  }
  .header .menu .navItems {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-bottom: 334px;
  }
  .header .menu .navItems .home {
    margin-top: 36px;
    margin-bottom: 54px;
  }
  .header .menu .navItems .services {
    margin-bottom: 54px;
  }
  .header .menu h1 {
    margin-left: 15px;
  }
  .header .menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-right: 26px;
    font-size: 3.8rem;
    margin-bottom: 70px;
    line-height: 2.5rem;
  }
  .header .menu .hamburger {
    margin-right: 15px;
  }
}
/* Homepage */
.mobile {
  display: none;
}
.wrapper {
  position: relative;
  top: 0;
}
.wrapper .jumbotron {
  width: 1024px;
  margin: 0 auto;
  height: 547px;
  margin-bottom: 103px;
}
.wrapper .jumbotron #mobile {
  display: none;
}
.wrapper .jumbotron .hugeFont {
  position: relative;
  bottom: 275px;
  left: 83px;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 0.07rem;
}
.containerTwo {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 85px;
}
.containerTwo .content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.containerTwo .content .copy {
  width: 430px;
  line-height: 1.8rem;
}
.containerTwo .content .copy button {
  border: 1px solid black;
  margin-bottom: 14px;
  margin-top: 26px;
  font-size: 1.3rem;
  width: 135px;
  height: 46px;
}
@media (max-width: 500px) {
  .containerTwo .content .copy button {
    width: 290px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
.containerTwo .one-three {
  padding-top: 26px;
}
.containerTwo .one-three p {
  line-height: 1.9rem;
}
.containerTwo .spacer {
  margin-top: 97px;
}
.containerTwo .two-three {
  padding-left: 12px;
  padding-top: 10px;
}
.containerTwo .two-three p {
  width: 412px;
  margin-bottom: 8px;
}
.containerTwo .main-content {
  margin-top: 0px;
}
.recent-projects {
  margin-top: 92px;
}
.recent-projects .h2-space {
  margin-bottom: 39px;
}
.recent-projects .img-text-comp {
  position: relative;
}
.recent-projects .img-text-comp .overlay {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -37px;
  opacity: 0.95;
  height: 93px;
  background-color: #D8D8D8;
  width: 316px;
  border: 1px solid white;
}
@media (max-width: 500px) {
  .recent-projects .img-text-comp .overlay {
    width: 292px;
    height: 98px;
    bottom: 25px;
    left: 14px;
  }
}
.recent-projects .img-text-comp .outskirts {
  left: 0;
  padding-left: 0px;
  padding-right: 5px;
}
.recent-projects .img-text-comp .comp {
  padding-top: 6px;
}
.recent-projects .img-text-comp .blurb {
  font-size: 1.3rem;
  letter-spacing: 0.77px;
  line-height: 1.95rem;
  padding: 92px 210px 92px 202px;
}
@media (max-width: 500px) {
  .recent-projects .img-text-comp .blurb {
    padding: 0;
    margin-top: 200px;
  }
}
@media (max-width: 500px) {
  .mobile {
    display: block;
  }
  .blurbSpace {
    height: 253px;
    margin-bottom: 100px;
  }
  .wrapper .jumbotron {
    width: 320px;
    height: 150px;
  }
  .wrapper .jumbotron .hugeFont {
    position: relative;
    bottom: 197px;
    left: 15px;
    font-size: 2.5rem;
    line-height: 3.3rem;
    letter-spacing: 0.2rem;
  }
  .wrapper .jumbotron #mobile {
    display: block;
    margin-bottom: 50px;
  }
  .desktop {
    display: none;
  }
  .containerTwo {
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
  }
  .containerTwo .content {
    display: flex;
    align-content: center;
    align-items: center;
  }
  .containerTwo .content .copy {
    width: 320px;
    line-height: 1.8rem;
  }
  .containerTwo .content .copy button {
    border: 1px solid black;
    margin-bottom: 14px;
    margin-top: 26px;
    font-size: 1.3rem;
    width: 135px;
    height: 46px;
  }
  .containerTwo img,
  .containerTwo h2,
  .containerTwo p {
    margin: 0 auto;
    width: 290px;
  }
  .containerTwo img {
    padding-top: 16px;
  }
  .containerTwo h2 {
    margin-top: 30px;
  }
  .containerTwo p {
    margin-top: 17px;
    line-height: 1.95rem;
    width: 290px;
  }
  .containerTwo button {
    margin-left: 14px;
  }
  .containerTwo .one-three {
    padding-top: 26px;
  }
  .containerTwo .spacer {
    margin-top: 21px;
  }
  .containerTwo .two-three {
    padding-left: 0;
  }
  .containerTwo .two-three p {
    width: 290px;
    margin-bottom: 0px;
    margin-top: 14px;
  }
  .recent-projects {
    margin-top: 50px;
  }
  .recent-projects .fullSize {
    position: absolute;
    padding-top: 0px;
    bottom: 110px;
    width: 320px;
    margin: 0;
    margin: 0 auto;
  }
  .recent-projects .h2-space {
    margin-bottom: 328px;
  }
  .recent-projects .img-text-comp {
    position: absolute;
  }
  .recent-projects .img-text-comp .overlay {
    height: 89px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -37px;
    opacity: 0.95;
    height: 93px;
    background-color: #D8D8D8;
    width: 316px;
    border: 1px solid white;
  }
  .recent-projects .img-text-comp .blurb {
    margin-top: 300px;
  }
  .recent-projects .img-text-comp .blurbSpace {
    height: 300px;
    margin-bottom: 100px;
  }
  .recent-projects .blockSpace {
    height: 300px;
    margin-bottom: 53px;
  }
  .recent-projects .the-blocks {
    margin-top: 0px;
    padding-top: 2px;
  }
  .recent-projects .the-blocks .footerSpace {
    height: 0px;
  }
  .recent-projects .the-blocks p {
    margin-top: 0px;
  }
}
@media (max-width: 500px) and (max-width: 500px) {
  .containerTwo .content .copy button {
    width: 290px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
@media (max-width: 500px) and (max-width: 500px) {
  .recent-projects .img-text-comp .overlay {
    width: 292px;
    height: 98px;
    bottom: 25px;
    left: 14px;
  }
}
.forService .serviceJumbo {
  width: 1024px;
  margin: 0 auto;
  height: 200px;
  margin-bottom: 100px;
}
.forService .serviceJumbo #mobile {
  display: none;
}
.forService .serviceJumbo .serviceHugeFont {
  position: relative;
  bottom: 95px;
  left: 85px;
  font-size: 5rem;
  line-height: 6rem;
  letter-spacing: 0.07rem;
}
.forService .serviceTop {
  margin: 0 auto;
  width: 856px;
}
.forService p {
  line-height: 1.85em;
}
.forService .tabNav {
  width: 856px;
  margin: 0 auto;
}
.forService .tabNav button {
  margin-right: 29px;
  margin-top: 39px;
  border: 1px solid black;
  font-weight: bold;
  margin-bottom: 50px;
  font-size: 1.6rem;
  width: 189px;
  height: 51px;
}
.forService .tabNav .sus {
  margin-right: 0px;
}
.forService .footer {
  margin: 0 auto;
  width: 1024px;
}
.conContent,
.preContent,
.desContent,
.susContent {
  width: 856px;
  height: 416px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.conContent h2,
.preContent h2,
.desContent h2,
.susContent h2 {
  width: 856px;
  display: block;
  margin-bottom: 8px;
}
.conContent .summary,
.preContent .summary,
.desContent .summary,
.susContent .summary {
  width: 400px;
  margin-right: 0px;
  margin-right: auto;
}
.conContent .summary p,
.preContent .summary p,
.desContent .summary p,
.susContent .summary p {
  line-height: 2.1rem;
}
.conContent .textImgContent,
.preContent .textImgContent,
.desContent .textImgContent,
.susContent .textImgContent {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.conContent .img,
.preContent .img,
.desContent .img,
.susContent .img {
  position: absolute;
  margin-left: auto;
  top: 38px;
  left: 456px;
}
.infinityFooter {
  position: absolute;
  top: 3584px;
  display: flex;
  width: 100%;
  height: 256px;
  background-color: #828282;
  display: absolute;
  z-index: -1;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
body .service {
  top: 930px;
}
.footer {
  display: flex;
  padding: 60px 20px 0 46px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  height: 249px;
  margin: 5px auto 0 auto;
  margin: 0 auto;
  background-color: #828282;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer .list {
  padding-left: 25px;
}
.footer .list h1 {
  font-size: 1.4rem;
  margin-bottom: 5px;
}
.footer .list .ny {
  margin-right: 28px;
}
.footer .list :first-child {
  margin-right: 30px;
}
.footer .list :last-child {
  margin-right: 30px;
}
.footer .form h1 {
  width: 285px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
}
.footer .email {
  width: 278px;
  height: 44px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 1.6rem;
  color: white;
}
.footer .input {
  margin-top: 5px;
  color: white;
  font-size: 1.05rem;
  font-weight: lighter;
}
.footer .copyright {
  margin: 0 auto;
  margin-top: 2px;
  padding-bottom: 10px;
  font-size: 1rem;
}
.ny,
.fl,
.ca {
  align-self: top;
  padding-bottom: 20px;
}
@media (max-width: 500px) {
  .footerSpace {
    height: 77px;
  }
  .infinityFooter {
    display: none;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    width: 320px;
    height: 700px;
    margin: 0 auto;
    background-color: #828282;
    padding: 0px;
    align-items: flex-start;
  }
  .footer .list {
    padding-left: 18px;
    margin-right: 0px;
    width: 300px;
    align-content: center;
  }
  .footer .form h1 {
    padding-top: 18px;
    width: 300px;
    font-size: 1.59rem;
    font-weight: 600;
    line-height: 2rem;
  }
  .footer .email {
    width: 278px;
    height: 44px;
    border-radius: 5px;
    font-size: 1.6rem;
    color: white;
  }
  .footer .input {
    margin-top: 5px;
    color: white;
    font-size: 1.05rem;
    font-weight: lighter;
  }
  .footer .input h4 {
    font-size: 0.99rem;
  }
  .footer .copyright {
    margin: 0 auto;
    margin-top: 2px;
    padding-bottom: 10px;
    font-size: 1rem;
    margin-left: 18px;
  }
}
/* Your Code Goes Here */
