/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  line-height: 24px;
}
body {
  background-color: #FFFFFF;
  color: #222222;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header .navigation {
  background-color: #97A4B0;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}
header .navigation .nav-logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-decoration: none;
}
header .navigation .nav-link {
  font-weight: bold;
  font-size: 3rem;
  line-height: 85px;
  color: #FFFFFF;
  text-decoration: none;
}
header .navigation .hide {
  display: none;
}
footer {
  background-color: #828282;
  font-size: 0.875rem;
  color: #FFFFFF;
}
footer h4 {
  font-weight: regular;
  font-size: 1.25rem;
  line-height: 24px;
  color: #FFFFFF;
}
.home .home-motto {
  position: relative;
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: bold;
  line-height: 75px;
}
.home .home-motto .home-motto-content {
  position: absolute;
  bottom: 5%;
  left: 1%;
}
