/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  background: #ffffff;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 24px;
}
body a {
  color: #ffffff;
  text-decoration: none;
}
.hide {
  display: none;
}
.top-bar {
  background-color: rgba(152, 164, 175, 0.8);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
  font-size: 2.5rem;
  width: 100vw;
  position: fixed;
  z-index: 1;
}
.top-bar p {
  padding-left: 8.5%;
  z-index: 3;
}
.top-bar .nav-btn {
  cursor: pointer;
  position: fixed;
  top: 13px;
  left: calc(100vw - 8.5% - 32px);
  z-index: 3;
}
.top-bar nav .nav-items {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(152, 164, 175, 0.9);
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 85px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-bar nav .nav-items a:hover {
  color: #222222;
}
.jumbotron {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  margin-bottom: 50px;
  color: #ffffff;
  background-image: url(../img/home/home-jumbotron.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 547px;
  height: calc(100vh);
}
@media (max-width:650px) {
  .jumbotron {
    height: 210px;
    padding-top: 100px;
    background-image: url(../img/home/home-mobile-jumbotron.png);
  }
}
.jumbotron h1 {
  position: relative;
  left: 8.5%;
  top: calc(100vh - 276px);
  display: inline-block;
}
@media (max-width:650px) {
  .jumbotron h1 {
    font-size: 4rem;
    line-height: 54px;
    top: 26px;
  }
}
.home {
  width: 100%;
  max-width: 855px;
  margin: 0 auto;
}
.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
@media (max-width:650px) {
  .cta {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
.cta .cta-text {
  width: 47.95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 275px;
}
@media (max-width:650px) {
  .cta .cta-text {
    width: 90.625%;
    margin: 0 auto;
    order: 1;
  }
}
.cta .cta-text h2 {
  font-weight: bold;
  font-size: 2.4rem;
  padding-top: 10px;
}
.cta .cta-text p {
  padding: 20px 0;
}
@media (max-width:650px) {
  .cta .cta-text p {
    margin: 0 auto;
  }
}
.cta .cta-text .btn {
  border: 1px solid #222222;
  display: inline-block;
  width: 135px;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}
@media (max-width:650px) {
  .cta .cta-text .btn {
    width: 100%;
  }
}
.cta .cta-img {
  width: 47.95%;
  height: 275px;
  background-color: #222222;
}
@media (max-width:650px) {
  .cta .cta-img {
    width: 90.625%;
    margin: 0 auto;
    order: 0;
  }
}
.cta .intro-img {
  background-image: url(../img/home/home-img-1.png);
}
@media (max-width:650px) {
  .cta .intro-img {
    background-image: url(../img/home/home-mobile-img-1.png);
    background-size: cover;
  }
}
.cta .design-img {
  background-image: url(../img/home/home-img-2.png);
}
@media (max-width:650px) {
  .cta .design-img {
    background-image: url(../img/home/home-mobile-img-2.png);
    background-size: cover;
  }
}
.recent-projects h2 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 46px;
}
@media (max-width:650px) {
  .recent-projects h2 {
    width: 90.625%;
    margin: 0 auto 24px auto;
  }
}
.recent-projects .project .image {
  background: black;
  height: 230px;
}
.recent-projects .project h3 {
  font-size: 2.4rem;
  border: 1px solid white;
  background-color: #d8d8d8;
  width: 315px;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -55px;
  margin-bottom: 50px;
  letter-spacing: 8px;
}
@media (max-width:650px) {
  .recent-projects .project h3 {
    margin: -12px auto 30px auto;
  }
}
.recent-projects .project p {
  width: 440px;
  letter-spacing: 0.75px;
  margin: 0 auto;
  margin-bottom: 25px;
}
.recent-projects .project p:last-of-type {
  margin-bottom: 99px;
}
@media (max-width:650px) {
  .recent-projects .project p:last-of-type {
    margin-bottom: 50px;
  }
}
@media (max-width:650px) {
  .recent-projects .project p {
    width: 90.625%;
    margin-bottom: 30px;
  }
}
.recent-projects .villas .image {
  background-image: url('../img/home/home-villas-img.png');
}
@media (max-width:650px) {
  .recent-projects .villas .image {
    background-image: url(../img/home/home-mobile-villas-img.png);
    background-size: cover;
  }
}
.recent-projects .villas h3 {
  position: relative;
  left: 540px;
}
@media (max-width:650px) {
  .recent-projects .villas h3 {
    position: static;
    margin: -12px auto 30px auto;
  }
}
.recent-projects .outskirts .image {
  background-image: url('../img/home/home-outskirts-img.png');
}
@media (max-width:650px) {
  .recent-projects .outskirts .image {
    background-image: url(../img/home/home-mobile-outskirts-img.png);
    background-size: cover;
  }
}
.recent-projects .blocks .image {
  background-image: url('../img/home/home-the-blocks-img.png');
}
@media (max-width:650px) {
  .recent-projects .blocks .image {
    background-image: url(../img/home/home-mobile-the-blocks-img.png);
    background-size: cover;
  }
}
.recent-projects .blocks h3 {
  position: relative;
  left: 540px;
}
@media (max-width:650px) {
  .recent-projects .blocks h3 {
    position: static;
    margin: -12px auto 30px auto;
  }
}
.jumbotron-services {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #ffffff;
  background-image: url(../img/services/services-jumbotron.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 250px;
}
@media (max-width:650px) {
  .jumbotron-services {
    height: 210px;
    padding-top: 100px;
    background-image: url(../img/home/home-mobile-jumbotron.png);
  }
}
.jumbotron-services h1 {
  padding-top: 150px;
  padding-left: 8.25%;
}
@media (max-width:650px) {
  .jumbotron-services h1 {
    font-size: 4rem;
    line-height: 54px;
    top: 26px;
  }
}
.services {
  width: 100%;
  max-width: 855px;
  margin: 0 auto;
}
.services p {
  padding: 50px 0;
}
.footer {
  background-color: #828282;
  margin-top: 105px;
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 26px;
}
.footer h2 {
  font-size: 2rem;
  line-height: 24px;
}
.footer .footer-content {
  display: flex;
  justify-content: space-evenly;
  padding: 57px 0 28px 0;
  max-width: 1024px;
  margin: 0 auto;
}
@media (max-width:650px) {
  .footer .footer-content {
    flex-direction: column;
    width: 90.625%;
  }
}
.footer .email {
  display: flex;
  flex-direction: column;
}
.footer .email input {
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 13px;
  font-size: 1.6rem;
  padding-left: 2%;
}
.footer .email p {
  font-size: 1.2rem;
}
.footer .copyright {
  text-align: center;
  padding-bottom: 10px;
  font-size: 1.2rem;
}
@media (max-width:650px) {
  .footer address {
    margin: 15px 0;
  }
}
.footer address h2 {
  padding-bottom: 2px;
}
