/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.menu {
  display: flex;
  height: 10px;
  background: #97A4B0;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 40px;
  position: fixed;
  top: 0;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  opacity: 1;
  color: #222222;
}
.primary-nav {
  color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #97A4B0;
  width: 100%;
  height: 800px;
  line-height: 85px;
  font-weight: bold;
  font-size: 48px;
  margin-top: 400px;
  position: fixed;
  display: none;
}
.primary-nav a {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.menu-on {
  position: fixed;
  top: 0;
  right: 0;
  padding: 40px;
  z-index: 1000;
  opacity: 0;
}
.hamburger {
  background: #97A4B0;
  width: 36px;
  height: 24px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 40px 40px 0 0;
}
#toggle-menu:checked ~ .primary-nav {
  display: inherit;
}
.Big-Home-Img {
  position: relative;
  text-align: left;
  color: white;
  font-size: 3rem;
  font-family: Arial;
  z-index: -1;
  font-size: 64px;
}
img {
  width: 100%;
  height: 500px;
}
.bottom-left {
  position: absolute;
  bottom: 30px;
  left: 60px;
}
.home-container {
  margin: 100px;
  padding: 10px;
  font-size: 1.2rem;
  font-family: Arial;
  color: #222222;
}
h1 {
  font-size: 1.6rem;
  padding-bottom: 20px;
}
.Smith-Jones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}
.smith-jones-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 60px;
  padding-top: 30px;
  width: 40%;
}
.smith-jones-img {
  height: 275px;
  width: 450px;
}
.learn-more-button {
  margin-top: 20px;
  border: 2px solid black;
  height: 40px;
  width: 150px;
  padding-top: 13px;
  text-align: center;
}
.Futuristic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}
.Futuristic-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 60px;
  padding-top: 30px;
  width: 40%;
}
.Futuristic-Designs-img {
  height: 275px;
  width: 450px;
}
.View-Designs-Button {
  margin-top: 20px;
  border: 2px solid black;
  height: 40px;
  width: 150px;
  padding-top: 13px;
  text-align: center;
}
.Villas {
  padding-top: 40px;
  width: 100%;
  height: 300px;
}
.Villas-Box {
  height: 100px;
  margin-left: 705px;
  margin-top: -50px;
  width: 300px;
  background: #D8D8D8;
  position: relative;
  text-align: center;
  line-height: 100px;
}
.Villas-content {
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 40px;
  padding-bottom: 80px;
}
.Outskirts-img {
  width: 100%;
  height: 300px;
  z-index: -1;
}
.Outskirts-Box {
  height: 100px;
  margin-top: -50px;
  width: 300px;
  background: #D8D8D8;
  position: relative;
  text-align: center;
  line-height: 100px;
}
.Outskirts-content {
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 40px;
  padding-bottom: 80px;
}
.Blocks-img {
  width: 100%;
  height: 300px;
}
.Blocks-Box {
  height: 100px;
  margin-left: 705px;
  margin-top: -50px;
  width: 300px;
  background: #D8D8D8;
  position: relative;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}
.Blocks-content {
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 40px;
}
body {
  color: black;
  opacity: 1;
}
.Footer-container {
  width: 100%;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  Background: #828282;
  font-size: 14px;
  padding-left: 160px;
  color: #ffffff;
}
.submit-form {
  width: 30%;
}
.email {
  height: 30px;
  width: 250px;
  background: white;
  color: black;
  line-height: 30px;
  vertical-align: middle;
}
.New-York {
  width: 23.3%;
}
.Florida {
  width: 23.3%;
}
.California {
  width: 23.3%;
}
h2 {
  font-size: 20px;
}
h3 {
  text-align: center;
  width: 100%;
  margin-top: 80px;
}
.big-pic-services {
  position: relative;
  text-align: left;
  color: white;
  font-size: 3rem;
  font-family: Arial;
  z-index: -1;
  font-size: 64px;
}
.big-pic {
  width: 100%;
  height: 300px;
}
.bottom-left {
  position: absolute;
  bottom: 30px;
  left: 60px;
}
.main-content {
  margin: 30px;
  font-family: Arial;
}
.tabs {
  width: 75%;
  margin: 0 150px;
  z-index: -1000;
}
.tabs .tabs-items {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs-item-description {
  display: flex;
}
.pre-construction {
  width: 50%;
  height: 50%;
}
.pre-construction-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.construction {
  width: 50%;
  height: 50%;
}
.construction-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.design-build {
  width: 50%;
  height: 50%;
}
.design-build-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.sustainability {
  width: 50%;
  height: 50%;
}
.sustainability-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  background-color: #fff;
  margin-left: 100px;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: #fff;
  border: 1px solid black;
  color: #222;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #5E9FB9;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #fff;
  background-color: #5E9FB9;
  color: white;
}
.tabs .tabs-link-selected:hover {
  background-color: #222;
}
@media (max-width: 500px) {
  .home-container {
    margin: 0px;
  }
}
@media (max-width: 500px) {
  .Smith-Jones {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .smith-jones-content {
    width: 100%;
    padding: 0;
  }
  .Futuristic-content {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .learn-more-button {
    width: 450px;
  }
  .View-Designs-Button {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .Villas-Box {
    height: 100px;
    margin-left: 5px;
    margin-top: -50px;
    width: 450px;
    background: #D8D8D8;
    position: relative;
    text-align: center;
    line-height: 100px;
  }
}
@media (max-width: 500px) {
  .Villas-content {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .smith-jones-content {
    order: 1;
  }
}
@media (max-width: 500px) {
  .Futuristic {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .Blocks-content {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .Blocks-Box {
    margin-left: 5px;
    width: 450px;
  }
}
@media (max-width: 500px) {
  .Outskirts-Box {
    width: 450px;
    margin-left: 5px;
  }
}
@media (max-width: 500px) {
  .Outskirts-content {
    padding: 0;
  }
}
@media (max-width: 500px) {
  .New-York {
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .Florida {
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  .California {
    margin-top: 30px;
  }
}
