/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: Roboto, Arial, sans-serif;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.container header {
  color: #FFFFFF;
  background-color: #c1d0f0;
  padding: 1% 0% 1% 0%;
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}
.container header h1 {
  font-size: 1.9rem;
}
.container header nav {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.container header nav img {
  margin: 0% 0% 0% 100%;
}
.container header nav a {
  display: none;
  font-size: 1.5rem;
  text-decoration: none;
}
.container .main-image {
  position: relative;
}
.container .main-image img {
  display: block;
  width: 100%;
  background-size: cover;
  height: auto;
}
.container .main-image h1 {
  color: #FFFFFF;
  font-weight: bold;
  position: absolute;
  left: 8%;
  bottom: 23%;
  font-size: 4rem;
}
.container .header-style {
  position: fixed;
  z-index: 1;
  width: 74%;
  top: -51px;
}
.show-div {
  display: none;
  max-width: 1090px;
  margin: 0 auto;
  background-color: #c1d0f0;
}
.show-div .check {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.show-div .check h1 {
  margin-top: 5%;
  margin-left: 10%;
  color: #FFFFFF;
}
.show-div .check p {
  margin-top: 5%;
  margin-right: 10%;
  color: #FFFFFF;
}
.show-div nav {
  width: 100%;
  height: 580px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  background-color: #c1d0f0;
}
.show-div nav a:first-child {
  color: gray;
  font-weight: bold;
}
.show-div nav a {
  padding: 2% 2%;
  text-decoration: none;
}
.close {
  cursor: pointer;
}
.second-container {
  max-width: 900px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 414px) {
  .second-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-x: hidden;
  }
}
.second-container .middle-content {
  margin-top: 5%;
  display: flex;
}
@media (max-width: 414px) {
  .second-container .middle-content {
    flex-direction: column-reverse;
  }
}
.second-container .middle-content .middle-content-paragraph {
  line-height: 1.4;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
}
.second-container .middle-content .middle-content-paragraph h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #222222;
}
@media (max-width: 414px) {
  .second-container .middle-content .middle-content-paragraph h3 {
    margin-left: 2%;
  }
}
.second-container .middle-content .middle-content-paragraph p {
  font-size: 1.4rem;
  margin-right: 16%;
}
@media (max-width: 414px) {
  .second-container .middle-content .middle-content-paragraph p {
    width: 95%;
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
    line-height: 2;
  }
}
.second-container .middle-content .middle-content-paragraph p button {
  margin-top: 4%;
  padding: 3%;
  display: block;
  width: 35%;
}
@media (max-width: 414px) {
  .second-container .middle-content .middle-content-paragraph p button {
    width: 100%;
    padding: 6% 6%;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    border: 1px solid black;
  }
}
.futur-design {
  margin-top: 5%;
  display: flex;
}
@media (max-width: 414px) {
  .futur-design {
    flex-direction: column;
  }
}
.futur-design .futur-content {
  line-height: 1.4;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
}
.futur-design .futur-content h3 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 16%;
  color: #222222;
}
@media (max-width: 414px) {
  .futur-design .futur-content h3 {
    margin-left: 2%;
  }
}
.futur-design .futur-content p {
  font-size: 1.4rem;
  margin-left: 16%;
  line-height: 2;
}
@media (max-width: 414px) {
  .futur-design .futur-content p {
    width: 95%;
    display: block;
    margin: 0 auto;
  }
}
.futur-design .futur-content p button {
  margin-top: 4%;
  padding: 3%;
  display: block;
  width: 35%;
  border: 1px solid black;
}
@media (max-width: 414px) {
  .futur-design .futur-content p button {
    width: 100%;
    padding: 6% 6%;
    display: block;
    margin: 0 auto;
  }
}
.recent-project {
  display: flex;
  flex-direction: column;
  margin-top: 9%;
}
.recent-project h3 {
  font-weight: bold;
  margin-bottom: 5%;
  font-size: 2rem;
  color: #222222;
}
@media (max-width: 414px) {
  .recent-project h3 {
    margin-left: 2%;
  }
}
@media (max-width: 414px) {
  .first-image {
    display: none;
  }
}
.recent-projects-image,
.outskirts-projects-image,
.blocks-projects-image {
  position: relative;
  margin-bottom: 5%;
}
@media (max-width: 414px) {
  .recent-projects-image,
  .outskirts-projects-image,
  .blocks-projects-image {
    display: block;
    width: 100%;
  }
}
@media (max-width: 414px) {
  .first-image {
    display: block;
    width: 100%;
    background-size: cover;
  }
}
.recent-projects-image h2,
.outskirts-projects-image h2,
.blocks-projects-image h2 {
  position: absolute;
  right: 5%;
  bottom: -11%;
  z-index: 2;
  display: block;
  width: 20%;
  font-size: 1.8rem;
  background-color: #e6e6e6;
  padding: 2% 2%;
  text-align: center;
}
@media (max-width: 414px) {
  .recent-projects-image h2,
  .outskirts-projects-image h2,
  .blocks-projects-image h2 {
    width: 93%;
    bottom: -20%;
    padding: 10% 10%;
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }
}
.outskirts-projects-image h2 {
  position: absolute;
  left: 0;
  bottom: -11%;
}
@media (max-width: 414px) {
  .outskirts-projects-image h2 {
    margin-left: 2%;
    bottom: -25%;
  }
}
.para-villas p,
.para-outskirts p,
.para-blocks p {
  font-size: 1.5rem;
  width: 39%;
  display: block;
  margin: 0 auto;
  margin-bottom: 2%;
  line-height: 2.5;
}
@media (max-width: 414px) {
  .para-villas p,
  .para-outskirts p,
  .para-blocks p {
    margin-top: 15%;
    width: 95%;
    display: block;
    margin: 0 3 auto;
  }
}
button:hover {
  background: #c1d0f0;
  box-shadow: 1px 1px blueviolet;
  border-radius: 4%;
}
footer {
  margin-top: 5%;
  background-color: #828282;
  display: flex;
  justify-content: space-around;
  line-height: 2;
}
@media (max-width: 414px) {
  footer {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
  }
}
footer h4 {
  color: #FFFFFF;
  font-size: 1.5rem;
}
@media (max-width: 414px) {
  footer h4 {
    font-size: 2rem;
  }
}
footer p {
  font-size: 1rem;
  line-height: 2;
  color: #FFFFFF;
}
@media (max-width: 414px) {
  footer p {
    font-size: 1.3rem;
  }
}
@media (max-width: 414px) {
  input {
    width: 100%;
    display: block;
    padding: 6% 6%;
    border-radius: 10%;
    margin: 0 auto;
  }
}
.fot {
  background-color: #828282;
}
.copy-right {
  text-align: center;
  margin-bottom: 4%;
  color: #FFFFFF;
  font-size: 1.4rem;
}
.secondary-container {
  max-width: 890px;
  margin: 0 auto;
}
.secondary-container .main-para {
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 1.5rem;
  line-height: 1.5;
}
.service-footer {
  margin-top: 15%;
}
.content-service {
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.content-service h2 {
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 2rem;
}
.content-service p {
  width: 70%;
  font-size: 1.4rem;
  line-height: 2;
}
.second-content-service {
  display: flex;
  flex-direction: column;
}
.main-para {
  margin-top: 5%;
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  width: 100%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  justify-content: space-between;
  background-color: white;
}
@media (max-width: 414px) {
  .tabs .tabs-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.tabs .tabs-link {
  margin-top: 10%;
  padding: 1.5% 1.5%;
  font-size: 1.2rem;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  width: 21%;
  color: black;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: gray;
}
@media (max-width: 414px) {
  .tabs .tabs-link {
    width: 96%;
    display: block;
    margin: 5% 5% auto;
  }
}
.tabs .tabs-link-selected {
  z-index: 2;
  color: black;
}
.flex {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 414px) {
  .flex {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 414px) {
  .tabs-item-title {
    margin: 0 5% 5%;
  }
}
@media (max-width: 414px) {
  .tabs-item-description {
    width: 96%;
    display: block;
    margin: 0 auto;
    font-size: 1.3rem;
  }
}
@media (max-width: 414px) {
  img {
    margin-top: 12%;
    margin-bottom: 5%;
    width: 96%;
    margin-left: 2%;
  }
}
.flex-title {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1040px;
  margin: 0 auto;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.container header {
  color: #FFFFFF;
  background-color: #c1d0f0;
  padding: 1% 0% 1% 0%;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}
.container header h1 {
  font-size: 1.2rem;
}
.container header nav {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.container header nav img {
  margin-left: 77%;
}
.container header nav a {
  display: none;
  font-size: 1.5rem;
  text-decoration: none;
}
.container .main-image {
  position: relative;
}
.container .main-image img {
  display: block;
  width: 100%;
  background-size: cover;
  height: auto;
}
.container .main-image h1 {
  color: #FFFFFF;
  font-weight: bold;
  position: absolute;
  left: 8%;
  bottom: 23%;
  font-size: 3rem;
}
