/* Your Code Goes Here */
.general-font-style {
  background: #ffffff;
  color: #222222;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.4rem;
}
html {
  font-size: 62.5%;
}
body {
  general-font-style: 400;
}
