/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.header {
  width: 100%;
  background: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.header h2 {
  margin-left: 50px;
}
.header img {
  margin-right: 50px;
  color: black;
  height: 70%;
  width: 40px;
}
.header .nav {
  margin-right: 30px;
}
.header .nav a {
  justify-content: flex-end;
  color: red;
}
.container {
  max-width: 100%;
}
.container .big-img {
  position: relative;
  text-align: center;
  max-width: 100%;
}
.container .big-img .IEP {
  position: absolute;
  left: 100px;
  bottom: 100px;
}
.container .big-img img {
  width: 100%;
  height: 550px;
}
.container .main {
  margin: 0 50px;
}
.container .main .content-div {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .main .content-div .txt-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 48%;
}
.container .main .content-div .txt-content p {
  margin: 20px 0;
}
.container .main .content-div button {
  width: 125px;
  height: 40px;
}
.container .inverse-div {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .inverse-div .txt-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 48%;
}
.container .inverse-div .txt-content p {
  margin: 20px 0;
}
.container .inverse-div button {
  width: 125px;
  height: 40px;
}
