/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font: inherit;
}
html,
body {
  background: #FFFFFF;
  font-family: 'Roboto', 'Arial', 'sans-serif';
}
.container {
  max-width: 1024px;
  margin: auto;
}
.section1 {
  width: 100%;
  display: flex;
}
.jumbotron {
  display: flex;
  width: 100%;
  height: 597px;
  position: relative;
  z-index: 0;
}
.jtron-text {
  z-index: 2;
  display: flex;
  font-weight: bold;
  font-size: 64px;
  color: #FFFFFF;
  position: absolute;
  width: 480px;
  height: 360px;
  line-height: 75px;
  background: transparent;
  top: 237px;
  padding: 80px;
}
.desktop-jumbotron {
  display: flex;
  width: 100%;
  height: 597px;
  z-index: 1;
  position: absolute;
}
.home-header {
  position: fixed;
  display: flex;
  width: 1024px;
  height: 80px;
  background: #D8D8D8;
  color: #FFFFFF;
  justify-content: space-between;
  z-index: 3;
}
.logo {
  font-weight: bold;
  font-size: 28px;
  width: 80px;
  display: flex;
  z-index: 3;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 75px;
}
a .menu-icon {
  z-index: 3;
  display: flex;
  cursor: pointer;
  color: #FFFFFF;
  width: 80px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  background: #D8D8D8;
  right: 75px;
}
.menu-content {
  width: 100%;
  height: 100vh;
  background-color: #D8D8D8;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
  position: fixed;
}
.menu-hidden {
  display: none;
}
.menu-link {
  text-align: center;
  flex-direction: column;
  text-decoration: none;
  list-style-type: none;
  font-size: 48px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
}
.menu-link :hover {
  color: #222222;
  text-decoration: underline;
}
.section2 {
  display: flex;
  height: 350px;
}
.liner {
  display: flex;
  align-self: center;
  margin: 50px 0 50px 0;
}
.architects-text {
  display: flex;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  flex-direction: column;
  padding: 30px 0 30px 80px;
}
.architects-text h4 {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 20px;
}
.learn-more {
  border: 1px double #222222;
  font-size: 16px;
  width: 135px;
  height: 48px;
  cursor: pointer;
  margin-top: 20px;
}
.learn-more:hover {
  background: #222222;
  color: #FFFFFF;
}
.architects-img {
  display: flex;
  margin-left: 50px;
  padding: 0 60px 0 40px;
}
.section3 {
  display: flex;
  height: 350;
}
.liner {
  display: flex;
  align-self: center;
  margin: 50px 0 50px 0;
}
.designs-img {
  display: flex;
  margin-right: 50px;
  padding-left: 80px;
}
.designs-text {
  display: flex;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  flex-direction: column;
  padding: 30px 80px 30px 0;
}
.designs-text h4 {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 20px;
}
.view-designs {
  border: 1px double #222222;
  font-size: 16px;
  width: 135px;
  height: 48px;
  cursor: pointer;
  margin-top: 20px;
}
.view-designs:hover {
  background: #222222;
  color: #FFFFFF;
}
.interstitial {
  width: 876px;
  height: 60px;
  display: flex;
  margin-left: 90px;
  align-items: flex-end;
  margin-bottom: -40px;
}
.interstitial h4 {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
}
.section4 {
  display: flex;
  width: 876px;
  height: 615px;
}
.villas {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin: 0 80px 0 80px;
}
.desktop-villas {
  display: flex;
}
.villas .custom-span {
  display: flex;
  width: 318px;
  height: 86px;
  position: relative;
  left: 558px;
  top: 270px;
  font-weight: regular;
  font-size: 28px;
  color: #222222;
  background: #D8D8D8;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.villas-text {
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  padding: 20px 220px 0 220px;
  width: 876px;
  height: 637px;
  flex-direction: column;
}
.villas-text p {
  margin-top: 50px;
}
.section5 {
  display: flex;
  width: 876px;
  height: 615px;
}
.outskirts {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin: 0 80px 0 80px;
}
.desktop-outskirts {
  display: flex;
}
.outskirts .custom-span {
  display: flex;
  width: 318px;
  height: 86px;
  position: relative;
  left: 0;
  top: 270px;
  font-weight: regular;
  font-size: 28px;
  color: #222222;
  background: #D8D8D8;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.outskirts-text {
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  padding: 20px 220px 0 220px;
  width: 876px;
  height: 637px;
  flex-direction: column;
}
.outskirts-text p {
  margin-top: 50px;
}
.section6 {
  display: flex;
  width: 876px;
  height: 750px;
}
.blocks {
  display: flex;
  position: absolute;
  flex-direction: column;
  margin: 0 80px 0 80px;
}
.desktop-blocks {
  display: flex;
}
.blocks .custom-span {
  display: flex;
  width: 318px;
  height: 86px;
  position: relative;
  left: 560px;
  top: 270px;
  font-weight: regular;
  font-size: 28px;
  color: #222222;
  background: #D8D8D8;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.blocks-text {
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  padding: 20px 220px 0 220px;
  width: 876px;
  height: 637px;
  flex-direction: column;
}
.blocks-text p {
  margin-top: 50px;
}
.home-footer {
  width: 100%;
  height: 251px;
  background: #828282;
  color: #FFFFFF;
}
.footer-top {
  display: flex;
  width: 100%;
  height: 216px;
}
.email-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 50px 10px 50px 50px;
  margin-left: 25px;
}
.email-form h5 {
  font-weight: regular;
  font-size: 20px;
  line-height: 24px;
}
.form-control {
  margin: 10px 0 10px 0;
}
.email-form p {
  font-weight: regular;
  font-size: 14px;
  line-height: 26px;
}
.contact-cities {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 50px 70px 30px 10px;
}
.city-info {
  width: 20%;
  display: flex;
  flex-direction: column;
}
.city-info h5 {
  font-weight: regular;
  font-size: 20px;
  line-height: 24px;
}
.city-info ul {
  font-weight: regular;
  font-size: 14px;
  line-height: 26px;
}
.footer-bottom {
  display: flex;
  width: 100%;
  height: 35px;
  justify-content: center;
  align-items: flex-end;
  font-size: 12px;
}
