/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
body {
  background-color: #FFFFFF;
  color: #222222;
  font-Family: Roboto, Arial, sans-serif;
}
.container {
  max-width: 1025px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #828282;
  /*opacity: 0.75;*/
  color: #FFFFFF;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 1025px;
  z-index: 50;
}
.logo {
  font-size: 24px;
}
nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  font-size: 48px;
  line-height: 85px;
}
a {
  text-decoration: none;
  color: white;
  font-weight: 800;
}
a:hover {
  color: #222222;
}
.jumbotron {
  width: 100%;
}
h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 75px;
  margin-top: -250px;
  margin-bottom: 100px;
  color: white;
}
main {
  max-width: 80%;
  margin: 0 auto;
}
h2,
h3 {
  font-weight: 700;
}
.sj,
.futuristic {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sj-img,
.fut-img {
  width: 90%;
}
.sj-cont,
.fut-cont {
  width: 50%;
}
.fut-img {
  text-align: right;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button {
  border: solid black 1px;
  padding: 10px;
  margin: 10px 10px;
  display: inline;
  width: 200px;
  text-align: center;
}
h2,
p {
  margin: 10px 10px 10px 10px;
  line-height: 1.5rem;
}
h3 {
  width: 400px;
  background-color: #D8D8D8;
  padding: 20px 20px;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 10px;
  margin-left: auto;
  margin-right: 26px;
  position: relative;
  bottom: 5%;
}
.inverse {
  margin-left: 26px;
  margin-right: auto;
}
.villas {
  background: url('../img/home/home-villas-img.png') no-repeat;
  background-size: 100% 90%;
  height: 500px;
  display: flex;
  align-items: flex-end;
}
.outskirts {
  background: url('../img/home/home-outskirts-img.png') no-repeat;
  background-size: 100% 90%;
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-end;
}
.blocks {
  background: url('../img/home/home-the-blocks-img.png') no-repeat;
  background-size: 100% 90%;
  height: 500px;
  display: flex;
  align-items: flex-end;
}
.recent,
.proj {
  width: 100%;
}
.vill,
.blks {
  align: left;
}
.projp {
  max-width: 50%;
  margin: 10px auto 30px;
}
footer {
  margin: 0 auto;
  background-color: #828282;
  color: #FFFFFF;
}
.footer-services {
  margin-top: 200px;
}
.foot-top {
  display: flex;
  justify-content: space-around;
  max-width: 80%;
  margin: auto;
}
h4 {
  font-weight: regular;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}
.copy {
  text-align: center;
  margin: 20px;
}
.mailcap {
  margin-top: 0px;
  margin-left: 0px;
  font-size: 0.75rem;
  font-style: italic;
  line-height: 26px;
  font-size: 14px;
  margin-bottom: 20px;
}
address {
  line-height: 26px;
  font-size: 14px;
  font-weight: 0;
  margin-bottom: 20px;
}
.talk {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*services styles begin here*/
.h1Serv {
  margin-top: -95px;
  margin-bottom: 75px;
}
.servNav {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  max-width: 1025px;
}
/*menu styles*/
.menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #828282;
  opacity: 0.75;
  border-left: none;
  border-bottom: none;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
}
.menu-button {
  padding-right: 30px;
}
.menu ul li {
  list-style-type: none;
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
}
.menu--open {
  display: block;
  padding-top: 100px;
  max-width: 1026px;
}
/*component styles*/
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  justify-content: center;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  /*border-right: 1px solid white;*/
  cursor: pointer;
}
.tabs .tabs-link-selected {
  z-index: 2;
  background-color: #5E9Fb9;
  color: white;
}
@media (max-width: 500px) {
  body,
  .container,
  .nav-header {
    max-width: 480px;
    margin: 0 auto;
  }
  h1 {
    font-size: 36px;
    line-height: 42px;
    margin-top: -135px;
    margin-bottom: 50px;
  }
  h3 {
    position: relative;
    width: 90%;
    border-top: 10px;
    width: 300px;
    margin: 0 auto;
  }
  .sj {
    flex-direction: column-reverse;
    align-items: baseline;
  }
  .futuristic {
    flex-direction: column;
    align-items: baseline;
  }
  p,
  .button {
    width: 100%;
  }
  .projp {
    max-width: 90%;
    margin: auto;
  }
  .foot-top {
    flex-direction: column;
  }
  .villas {
    background: url('../img/home/home-mobile-villas-img.png') no-repeat;
    height: 250px;
    width: 400px;
    margin: 0 auto;
  }
  .outskirts {
    background: url('../img/home/home-mobile-outskirts-img.png') no-repeat;
    height: 250px;
    width: 400px;
    margin: 0 auto;
  }
  .blocks {
    background: url('../img/home/home-mobile-the-blocks-img.png') no-repeat;
    height: 250px;
    width: 400px;
    margin: 0 auto;
  }
  .tabs-item {
    display: flex;
    flex-direction: column;
  }
}
