/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #FFFFFF;
  color: #222222;
  font-family: Roboto, Ariel, sans-serif;
}
body .body-container {
  max-width: 1024px;
  margin: 0 auto;
}
body .body-container .container {
  max-width: 896px;
}
body nav {
  width: 100%;
  background: #99A4AF;
  opacity: .9;
  font-size: 24px;
  font-weight: bold;
}
body nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
body nav .container a {
  color: #FFFFFF;
}
body nav .container #navClose {
  display: none;
}
body .nav-expand {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #99A4AF;
  opacity: .9;
}
body .nav-expand .nav-expand-links {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
body .nav-expand .nav-expand-links a {
  text-align: center;
  width: 100%;
  color: #FFFFFF;
  font-size: 48px;
  line-height: 85px;
  font-weight: bold;
}
body .nav-expand .nav-expand-links a:hover {
  color: #222222;
  text-decoration: none;
}
body footer {
  background: #828282;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 26px;
}
body footer h4 {
  font-size: 16px;
  font-weight: bold;
}
body footer small {
  font-size: 12px;
}
body footer .cities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 320px) {
  body footer .cities {
    justify-content: flex-start;
  }
}
body footer .cities .city {
  width: 33%;
  margin-bottom: 25px;
}
@media (max-width: 320px) {
  body footer .cities .city {
    width: 100%;
  }
}
body footer .cities div {
  align-self: center;
}
body footer .copyright {
  text-align: center;
  font-size: 12px;
}
@media (max-width: 320px) {
  body footer .copyright {
    text-align: left;
  }
}
.home-page .jumbo {
  background: url(../img/home/home-jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 598px;
  display: flex;
  width: 100%;
  margin-top: -50px;
  align-items: flex-end;
}
@media (max-width: 320px) {
  .home-page .jumbo {
    background: url(../img/home/home-mobile-jumbotron.png);
    min-height: 260px;
  }
}
.home-page .jumbo h1 {
  width: 60%;
  font-size: 64px;
  line-height: 75px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 50px;
  margin-left: 50px;
}
@media (max-width: 320px) {
  .home-page .jumbo h1 {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-left: 10px;
    margin-bottom: 10px;
  }
}
.home-page #about {
  margin-top: 50px;
  margin-bottom: 50px;
}
.home-page #about .row {
  margin-bottom: 100px;
}
.home-page #about .row .about-text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  line-height: 24px;
}
.home-page #about .row .about-text h2 {
  font-size: 28px;
  font-weight: bold;
  width: 100%;
}
@media (max-width: 320px) {
  .home-page #about .row .about-text h2 {
    margin: 25px 0;
  }
}
.home-page #about .row .about-text p {
  width: 100%;
}
@media (max-width: 320px) {
  .home-page #about .row .about-text p {
    margin-bottom: 25px;
  }
}
.home-page #about .row .about-text .btn {
  color: black;
  border: 1px solid #222222;
  border-radius: 0px;
  padding: 10px 20px;
}
@media (max-width: 320px) {
  .home-page #about .row .about-text .btn {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .home-page #about .row .jones-architects:nth-child(1) {
    order: 2;
  }
  .home-page #about .row .jones-architects:nth-child(2) {
    order: 3;
  }
  .home-page #about .row .jones-architects:nth-child(3) {
    order: 1;
  }
}
@media (max-width: 320px) {
  .home-page #about .row #homeIMG1,
  .home-page #about .row #homeIMG2 {
    display: none;
  }
}
.home-page #about .row #homeIMGMobile1,
.home-page #about .row #homeIMGMobile2 {
  display: none;
}
@media (max-width: 320px) {
  .home-page #about .row #homeIMGMobile1,
  .home-page #about .row #homeIMGMobile2 {
    display: inline;
  }
}
.home-page #projectsContent .projects-header {
  display: flex;
  width: 100%;
  padding: 0px;
}
.home-page #projectsContent .projects-header img {
  width: 100%;
}
@media (max-width: 320px) {
  .home-page #projectsContent .projects-header #villaIMG1,
  .home-page #projectsContent .projects-header #outskirtsIMG1,
  .home-page #projectsContent .projects-header #blocksIMG1 {
    display: none;
  }
}
.home-page #projectsContent .projects-header #villaIMG2,
.home-page #projectsContent .projects-header #outskirtsIMG2,
.home-page #projectsContent .projects-header #blocksIMG2 {
  display: none;
}
@media (max-width: 320px) {
  .home-page #projectsContent .projects-header #villaIMG2,
  .home-page #projectsContent .projects-header #outskirtsIMG2,
  .home-page #projectsContent .projects-header #blocksIMG2 {
    display: block;
  }
}
.home-page #projectsContent .projects-header .project-head {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  text-align: center;
  height: 3.8em;
  margin-bottom: -50px;
  background-color: #D8D8D8;
  border: 1px solid #FFFFFF;
  letter-spacing: 5px;
  width: 35%;
  font-size: 24px;
}
@media (max-width: 320px) {
  .home-page #projectsContent .projects-header .project-head {
    top: 80.2%;
    left: 5%;
    width: 90%;
  }
}
.home-page #projectsContent .projects-header .villa-head {
  bottom: 0;
  right: 0;
}
.home-page #projectsContent .projects-header .outskirts-head {
  bottom: 0;
  left: 0;
}
@media (max-width: 320px) {
  .home-page #projectsContent .projects-header .outskirts-head {
    left: 5%;
  }
}
.home-page #projectsContent .projects-header .blocks-head {
  bottom: 0;
  right: 0;
}
.home-page #projectsContent .project-text {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.home-page #projectsContent .project-text p {
  width: 45%;
  text-align: justify;
  line-height: 24px;
}
@media (max-width: 320px) {
  .home-page #projectsContent .project-text p {
    width: 100%;
  }
}
.services-page .jumbo {
  background: url(../img/services/services-jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 250px;
  display: flex;
  align-items: flex-end;
  margin-top: -50px;
}
.services-page .jumbo h1 {
  font-size: 64px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 25px;
  margin-left: 75px;
}
.services-page .services-intro-text {
  line-height: 24px;
  margin: 50px 50px;
}
.services-page .services-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}
.services-page .services-nav .service-link {
  border: 1px solid black;
  width: 22%;
  padding: 14px 0px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.services-page .services-nav .service-link:hover {
  cursor: pointer;
  background-color: #5E9FB9;
  color: #FFF;
}
.services-page .services-nav .service-link-selected {
  background-color: #5E9FB9;
  color: #FFF;
}
.services-page .service-content {
  margin-bottom: 75px;
}
.services-page .service-content .service-info {
  display: none;
  line-height: 28px;
  justify-content: space-between;
}
.services-page .service-content .service-info .service-info-text {
  width: 50%;
}
.services-page .service-content .service-info .service-info-text h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.services-page .service-content .service-info-selected {
  display: flex;
  width: 100%;
}
