/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
body {
  background: #ffffff;
  color: #222222;
  font-family: "Roboto", "Arial", sans-serif;
}
section {
  text-align: center;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.mobile {
  display: none;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
h2 {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
}
.footer {
  background: #828282;
}
.footer p {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}
.footer h3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
.nav-content {
  background: #9AA3AE;
  display: flex;
  justify-content: space-between;
}
.nav-content .nav-expanded-links {
  display: none;
  position: relative;
  padding: 0 23%;
  margin: 0 auto;
  align-content: center;
  text-align: left;
  top: 20%;
  bottom: 80%;
  left: 20%;
  right: 80%;
}
.nav-content .nav-expanded-links a {
  position: relative;
  color: white;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 52px;
  text-decoration: none;
  font-weight: bold;
  text-align: left;
  line-height: 80px;
}
.nav-content .nav-h1 {
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
}
.integrity {
  position: relative;
  color: white;
  width: 100%;
  margin-bottom: 50px;
}
.integrity .integ-h1 {
  position: absolute;
  z-index: inherit;
  bottom: 0px;
  left: 0px;
  padding: 0 0 60px 60px;
  text-align: left;
}
.integrity .integ-h1 h1 {
  font-size: 64px;
  line-height: 75px;
  font-weight: bold;
  color: #FFFFFF;
}
.cta .cta-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 60px 0 60px;
  margin-bottom: 65px;
}
.cta .cta-item .cta-item-text {
  width: 513px;
  text-align: left;
  padding: 15px;
  margin: 0px 25px 0px 25px;
}
.cta .cta-item .cta-item-text h2 {
  margin-bottom: 35px;
}
.cta .cta-item .cta-item-text p {
  line-height: 25px;
  padding-bottom: 30px;
}
.cta .cta-item .cta-button {
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: black;
  margin-top: 25px;
}
.recent-projects-header {
  text-align: left;
  margin: 90px 0 50px 60px;
  width: 904px;
}
.recent-projects {
  width: 904px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 10px;
}
.recent-projects .project-item-text {
  width: 43%;
  text-align: left;
  padding: 15px 235px 15px 235px;
  line-height: 25px;
  margin: 75px 0 60px 0;
}
.recent-projects .project-item-text p {
  margin-bottom: 15px;
}
.recent-projects .project-item-picture {
  position: relative;
  width: 100%;
}
.recent-projects .project-item-picture img {
  width: 100%;
}
.recent-projects .project-item-picture h3 {
  font-size: 22px;
  letter-spacing: 8px;
  padding: 35px 55px;
  background: #D8D8D8;
  border: 0.5 solid white;
}
.recent-projects .project-item-picture .bottom-right {
  position: absolute;
  bottom: -100px;
  right: 0px;
  padding: 0 0 60px 60px;
  text-align: right;
}
.recent-projects .project-item-picture .bottom-left {
  position: absolute;
  bottom: -100px;
  left: 0px;
  padding: 0 60px 60px 0;
  text-align: left;
}
.footer {
  display: flex;
  width: 100%;
  height: 260px;
  background: #828282;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer .footer-content {
  display: flex;
  width: 100%;
  height: 90%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.footer .footer-content .footer-content-left {
  width: 40%;
}
.footer .footer-content .footer-content-left .footer-cta {
  margin: 0 40px;
  line-height: 20px;
  color: white;
}
.footer .footer-content .footer-content-left .footer-cta .email-input {
  margin: 10px 0;
  width: 250px;
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
}
.footer .footer-content .footer-content-left .footer-cta p {
  font-size: 12px;
}
.footer .footer-content .footer-content-right {
  padding: 50px 0 0 0;
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.footer .footer-content .footer-content-right .content-right-item {
  display: flex;
  width: 25%;
  height: 150px;
  flex-direction: column;
  line-height: 20px;
  margin: 30px;
  color: #ffffff;
}
.copyright-text {
  display: flex;
  width: 100%;
  height: 10%;
  text-align: center;
  justify-content: center;
}
.copyright-text p {
  font-size: 10px;
  color: #ffffff;
}
