/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-cl-ctr-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subtitles {
  font-size: 2.4rem;
  font-weight: bold;
  color: #222222;
}
.buttons {
  border: 1px solid #222222;
  color: #222222;
  width: 30%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recent-sqrs {
  background-color: #D8D8D8;
  font-size: 3rem;
  height: 95px;
  width: 37.64%;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 550px) {
  .recent-sqrs {
    width: 90%;
  }
}
.footer-heading {
  font-size: 2rem;
  line-height: 24px;
  color: #FFFFFF;
}
.footer-text {
  font-size: 1.4rem;
  line-height: 26px;
  color: #FFFFFF;
}
header {
  background-color: #9aa5b0;
  height: 50px;
  width: 100%;
}
header .header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 8.5%;
}
header .header-bar .logo {
  font-size: 2.4rem;
  font-weight: bold;
  color: #FFFFFF;
}
header nav {
  max-width: 1024px;
  width: 100%;
  height: 544px;
  background-color: #9aa5b0;
  position: absolute;
  z-index: 1;
  display: none;
  font-size: 4.8rem;
  line-height: 85px;
  font-weight: bold;
  text-align: left;
}
header nav a {
  text-decoration: none;
  color: #FFFFFF;
}
header nav a:hover {
  color: #222222;
}
header .dropdown-hidden {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .dropdown-hidden div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.jumbo {
  width: 100%;
  height: auto;
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 75px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.jumbo img {
  width: 100%;
  height: auto;
}
.jumbo .cta {
  position: absolute;
  bottom: 50px;
  left: 7.9%;
}
@media (max-width: 550px) {
  .jumbo {
    font-size: 3.5rem;
    line-height: 45px;
  }
  .jumbo .cta {
    bottom: 25px;
    left: 4%;
  }
}
.content {
  margin: 50px 8.5%;
  font-size: 1.6rem;
  line-height: 24px;
}
@media (max-width: 550px) {
  .content {
    margin: 0px;
  }
}
.content h3 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #222222;
}
.content .content-top {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content .content-top .architects {
  width: 100%;
  display: flex;
}
.content .content-top .architects .left {
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0;
  padding-right: 10px;
}
.content .content-top .architects .right {
  width: 48%;
}
.content .content-top .architects .right img {
  width: 100%;
}
.content .content-top .designs {
  width: 100%;
  display: flex;
  margin-top: 100px;
}
.content .content-top .designs .left {
  width: 48%;
}
.content .content-top .designs .left img {
  width: 100%;
}
.content .content-top .designs .right {
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 0;
  padding-left: 30px;
}
.content .content-top .top-btn {
  border: 1px solid #222222;
  color: #222222;
  width: 30%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 550px) {
  .content .content-top {
    align-items: center;
    margin: 50px 0;
  }
  .content .content-top .architects {
    flex-direction: column-reverse;
    padding: 0 5%;
    margin-bottom: 20px;
  }
  .content .content-top .architects .right {
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .content .content-top .architects .right img {
    width: 100%;
  }
  .content .content-top .architects .left {
    padding: 0;
    width: 100%;
  }
  .content .content-top .architects .left h3 {
    margin-bottom: 20px;
  }
  .content .content-top .architects .top-btn {
    margin-top: 20px;
    width: 100%;
  }
  .content .content-top .designs {
    flex-direction: column;
    margin-top: 20px;
    padding: 0 5%;
  }
  .content .content-top .designs .right {
    padding: 0;
    width: 100%;
  }
  .content .content-top .designs .right h3 {
    margin-bottom: 20px;
  }
  .content .content-top .designs .left {
    padding: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .content .content-top .designs .top-btn {
    width: 100%;
    margin-top: 20px;
  }
}
.content .content-bottom {
  margin-top: 100px;
  font-size: 1.8rem;
  line-height: 24px;
}
.content .content-bottom h2 {
  background-color: #D8D8D8;
  font-size: 3rem;
  height: 95px;
  width: 37.64%;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 550px) {
  .content .content-bottom h2 {
    width: 90%;
  }
}
.content .content-bottom img {
  width: 100%;
}
.content .content-bottom .villas .banner {
  position: relative;
  margin-top: 50px;
}
.content .content-bottom .villas h2 {
  position: absolute;
  bottom: -30px;
  right: 0px;
}
.content .content-bottom .villas .text {
  padding: 80px 20.01%;
}
.content .content-bottom .villas .text p:last-child {
  padding-top: 25px;
}
.content .content-bottom .outskirts .banner {
  position: relative;
  margin-top: 50px;
}
.content .content-bottom .outskirts h2 {
  position: absolute;
  bottom: -30px;
  left: 0px;
}
.content .content-bottom .outskirts .text {
  padding: 80px 20.01%;
}
.content .content-bottom .outskirts .text p:last-child {
  padding-top: 25px;
}
.content .content-bottom .blocks .banner {
  position: relative;
  margin-top: 50px;
}
.content .content-bottom .blocks h2 {
  position: absolute;
  bottom: -30px;
  right: 0px;
}
.content .content-bottom .blocks .text {
  padding: 80px 20.01%;
}
.content .content-bottom .blocks .text p:last-child {
  padding-top: 25px;
}
@media (max-width: 550px) {
  .content .content-bottom {
    margin-top: 50px;
  }
  .content .content-bottom h3 {
    padding: 0 5%;
  }
  .content .content-bottom .villas .text,
  .content .content-bottom .outskirts .text,
  .content .content-bottom .blocks .text {
    padding: 100px 5%;
  }
  .content .content-bottom .villas h2,
  .content .content-bottom .outskirts h2,
  .content .content-bottom .blocks h2 {
    left: 5%;
    bottom: -70px;
  }
}
footer {
  height: 250px;
  max-width: 1024px;
  width: 100%;
  background-color: #828282;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .more-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 0;
  padding-top: 30px;
  width: 100%;
}
footer .more-info h3 {
  font-size: 2rem;
  line-height: 24px;
  color: #FFFFFF;
}
footer .more-info p {
  font-size: 1.4rem;
  line-height: 26px;
  color: #FFFFFF;
}
footer .more-info .lets-talk {
  width: 30%;
}
footer .more-info .lets-talk input {
  width: 90%;
  height: 30px;
  margin-top: 20px;
  border-radius: 5px;
}
footer .more-info .lets-talk input::placeholder {
  font-size: 1.6rem;
  padding: 0 10px;
}
footer .more-info .NY {
  width: 20%;
}
footer .more-info .FL {
  width: 20%;
}
footer .more-info .CA {
  width: 20%;
}
@media (max-width: 550px) {
  footer .more-info {
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
  footer .more-info .lets-talk,
  footer .more-info .NY,
  footer .more-info .FL,
  footer .more-info .CA {
    width: 100%;
  }
  footer .more-info .lets-talk input {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
  }
  footer .more-info .lets-talk input::placeholder {
    font-size: 1.6rem;
    padding: 0 10px;
  }
  footer .more-info .NY,
  footer .more-info .FL,
  footer .more-info .CA {
    line-height: 48px;
  }
  footer .more-info .NY {
    margin-top: 20px;
    margin: 10px 0;
  }
  footer .more-info .FL {
    margin: 10px 0;
  }
  footer .more-info .CA {
    margin: 10px 0;
  }
}
footer .copyright {
  align-self: center;
  color: #FFFFFF;
  font-size: 1.4rem;
}
@media (max-width: 550px) {
  footer {
    height: auto;
    margin: 0;
    padding: 20px 5%;
  }
}
.services {
  position: relative;
  height: 200px;
  width: 100%;
}
.services img {
  width: 100%;
  height: 100%;
}
.services h1 {
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 75px;
  color: #FFFFFF;
  position: absolute;
  bottom: 20px;
  left: 7.81%;
}
@media (max-width: 550px) {
  .services h1 {
    font-size: 4.8rem;
    left: 4.8%;
  }
}
.service-content {
  padding: 50px 8.2%;
}
.service-content .bio {
  font-size: 1.6rem;
  line-height: 25px;
}
@media (max-width: 550px) {
  .service-content {
    padding: 30px 4%;
    padding-bottom: 80px;
  }
}
.tab-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 45px;
}
@media (max-width: 550px) {
  .tab-links {
    flex-direction: column;
    align-items: center;
  }
}
.tab-link {
  border: 1px solid #222222;
  height: 50px;
  width: 21.5%;
  font-size: 1.9rem;
  font-weight: bold;
  text-align: center;
  padding: 17px 0;
}
@media (max-width: 550px) {
  .tab-link {
    width: 100%;
    margin-bottom: 20px;
  }
  .tab-link:last-child {
    margin-bottom: 0px;
  }
}
.tab-item {
  display: none;
  margin: 55px 0;
  height: 310px;
}
.tab-item h1 {
  font-size: 2.4rem;
  font-weight: bold;
}
.tab-item .inner-container {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.tab-item .inner-container .tab-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.6rem;
  line-height: 25px;
  padding-right: 40px;
  width: 50%;
}
.tab-item .inner-container .tab-text p:last-child {
  padding-top: 30px;
}
@media (max-width: 550px) {
  .tab-item .inner-container .tab-text {
    padding: 0;
    width: 100%;
  }
}
.tab-item .inner-container .img-holder {
  width: 50%;
  height: auto;
}
@media (max-width: 550px) {
  .tab-item .inner-container .img-holder {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 550px) {
  .tab-item .inner-container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 550px) {
  .tab-item {
    height: 750px;
    margin: 0;
    margin-top: 20px;
  }
}
.pre-construction-details {
  display: flex;
  flex-direction: column;
}
.tab-item-open {
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  display: flex;
  justify-content: center;
}
body {
  max-width: 1024px;
  font-family: 'Roboto', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}
.img-holder {
  width: 100%;
  height: 100%;
}
.desktop {
  width: 100%;
  height: 100%;
}
@media (max-width: 550px) {
  .desktop {
    display: none;
  }
}
.mobile {
  display: none;
}
@media (max-width: 550px) {
  .mobile {
    display: block;
    width: 100%;
    height: 100%;
  }
}
