/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
p {
  line-height: 24px;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
.container header {
  position: relative;
}
.container header nav {
  display: flex;
  justify-content: space-between;
  background-color: #97A4B0;
  color: #FFFFFF;
  position: fixed;
  z-index: 10;
  height: 35px;
  width: 100%;
  max-width: 1000px;
}
@media ( max-width: 500px ) {
  .container header nav {
    height: 40px;
    width: 100%;
  }
}
.container header nav h1 {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-left: 60px;
}
@media ( max-width: 500px ) {
  .container header nav h1 {
    font-size: 1.6rem;
    margin-left: 10px;
  }
}
.container header nav .name {
  z-index: 5;
}
.container header nav .burger {
  margin-top: 5px;
  margin-right: 60px;
}
@media ( max-width: 500px ) {
  .container header nav .burger {
    margin-top: 7px;
    margin-right: 10px;
  }
}
.container header .menu {
  z-index: 2;
  display: none;
  margin: auto auto;
}
.container header .menu a {
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 42px;
  color: white;
  transition: 1s;
}
.container header .menu a:hover {
  font-size: 2.5rem;
  color: black;
  line-height: 60px;
}
.container .banner {
  position: relative;
}
.container .banner .banner-text {
  z-index: 1;
  position: absolute;
  top: 59%;
  left: 10%;
  color: #FFFFFF;
  font-size: 3.2rem;
}
@media ( max-width: 500px ) {
  .container .banner .banner-text {
    font-size: 2rem;
    top: 40%;
    left: 5%;
  }
}
.container .banner .banner-img img {
  width: 100%;
}
.container .more {
  display: flex;
  flex-direction: column;
}
.container .more .box {
  display: flex;
  padding: 30px 8% 40px 8%;
  justify-content: space-between;
}
@media ( max-width: 500px ) {
  .container .more .box {
    flex-direction: column-reverse;
    padding: none;
  }
}
.container .more .box .info {
  width: 49%;
  align-self: center;
}
@media ( max-width: 500px ) {
  .container .more .box .info {
    width: 90%;
  }
}
.container .more .box .info h2 {
  font-size: 1.6rem;
}
.container .more .box .info p {
  font-size: 1.1rem;
}
.container .more .box .info button {
  text-decoration: none;
  background-color: white;
  border: 1px black solid;
  padding: 8px 6%;
}
@media ( max-width: 500px ) {
  .container .more .box .info button {
    width: 100%;
    padding: 15px;
  }
}
.container .more .box img {
  width: 49%;
}
@media ( max-width: 500px ) {
  .container .more .box img {
    width: 100%;
    padding-bottom: 10px;
  }
}
.container .more .two {
  flex-direction: row-reverse;
}
@media ( max-width: 500px ) {
  .container .more .two {
    flex-direction: column-reverse;
  }
}
.container .recent-projects h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}
@media ( max-width: 500px ) {
  .container .recent-projects h2 {
    margin-left: 10%;
  }
}
.container .recent-projects .project .project-banner {
  position: relative;
}
@media ( max-width: 500px ) {
  .container .recent-projects .project .project-banner {
    display: flex;
    justify-content: center;
  }
}
.container .recent-projects .project .project-banner h3 {
  font-size: 1.5rem;
  z-index: 4;
  position: absolute;
  background-color: #D8D8D8;
  top: 81%;
  padding: 20px 5%;
}
@media ( max-width: 500px ) {
  .container .recent-projects .project .project-banner h3 {
    padding: 25px 20%;
  }
}
.container .recent-projects .project .project-banner img {
  width: 100%;
}
@media ( max-width: 500px ) {
  .container .recent-projects .project .project-banner img {
    height: 150px;
  }
}
.container .recent-projects .project p {
  margin: 60px 30%;
  font-size: 1.1rem;
}
@media ( max-width: 500px ) {
  .container .recent-projects .project p {
    margin-left: 10%;
    margin-right: 10%;
  }
}
.container .recent-projects .flip .project-banner h3 {
  right: 0;
}
@media ( max-width: 500px ) {
  .container .recent-projects .flip .project-banner h3 {
    right: auto;
    padding: 25px 20%;
  }
}
.container .recent-projects .show {
  opacity: 1;
}
.container footer {
  display: flex;
  flex-direction: column;
  background-color: #828282;
  color: white;
  padding-top: 20px;
}
.container footer .footer-text {
  display: flex;
  margin: 10px 10%;
  justify-content: space-between;
  padding-bottom: 10px;
}
@media ( max-width: 500px ) {
  .container footer .footer-text {
    justify-content: column;
    flex-wrap: wrap;
    margin: 0 5%;
  }
}
@media ( max-width: 500px ) {
  .container footer .footer-text address {
    width: 60%;
    margin-top: 10px;
    line-height: 24px;
  }
}
.container footer .footer-text input[type=text] {
  width: 80%;
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.container footer .footer-text h3 {
  font-size: 1.1rem;
}
.container footer .copyright {
  text-align: center;
}
@media ( max-width: 500px ) {
  .container footer .copyright {
    text-align: initial;
    margin: 20px 5%;
  }
}
.services .description {
  margin: 0 10%;
}
.services .description .description-services {
  margin: 30px 0;
}
.services .section {
  margin: 0 auto;
  width: 77%;
  margin-bottom: 100px;
}
.services .tabs {
  width: 100%;
}
.services .tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  padding-top: 60px;
}
.services .tabs .tabs-item {
  display: none;
  width: 100%;
}
.services .tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  color: black;
}
.services .tabs .tab-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
.services .tabs .tab-flex p {
  width: 90%;
  margin-bottom: 30px;
}
.services .tabs .tab-flex .serviceImg img {
  height: 200px;
}
.services .tabs .tabs-item-selected {
  display: block;
}
.services .tabs .tabs-links {
  display: flex;
  justify-content: space-between;
  color: black;
}
.services .tabs .tabs-link {
  padding: 10px 15px;
  font-size: 24px;
  background-color: #ffffff;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}
.services .tabs .tabs-link:hover {
  background-color: #5E9FB9;
}
.services .tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid black;
  background-color: #5E9FB9;
  color: #ffffff;
}
.services .tabs .tabs-link-selected:hover {
  background-color: #5E9FB9;
}
