/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
nav {
  display: flex;
  background-color: #99A4AE;
  padding: 13px 85px;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
}
body {
  font-family: Roboto, Arial, sans-serif;
}
body .jumbotron {
  position: relative;
}
body .jumbotron .jumbotron-text {
  position: absolute;
  bottom: 64px;
  left: 86px;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #ffffff;
}
@media screen and (max-width: 400px) {
  body .jumbotron .jumbotron-text {
    font-size: 32px;
    line-height: 37.5px;
    bottom: 32px;
    left: 43px;
  }
}
body .intro {
  display: flex;
  font-size: 16px;
  padding: 45px 86px;
  justify-content: space-between;
}
@media screen and (max-width: 400px) {
  body .intro {
    padding: 35px 15px;
    flex-direction: column;
  }
}
body .intro .intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
@media screen and (max-width: 400px) {
  body .intro .intro-text {
    width: 100%;
    margin-top: 30px;
    line-height: 24px;
  }
}
body .intro .intro-text .intro-header {
  font-size: 20px;
  font-weight: bold;
}
body .intro .intro-text .button {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 135px;
  padding: 15px 0px;
  margin-top: 30px;
}
@media screen and (max-width: 400px) {
  body .intro .intro-text .button {
    width: 100%;
  }
}
body .intro img {
  max-width: 410px;
}
@media screen and (max-width: 400px) {
  body .intro img {
    order: -1;
  }
}
body .content {
  padding: 45px 86px;
}
@media screen and (max-width: 400px) {
  body .content {
    padding: 0px 15px;
  }
}
body .content .content-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 36px;
}
body .content .content-img {
  position: relative;
}
@media screen and (max-width: 400px) {
  body .content .content-img {
    height: 200px;
    width: 100%;
  }
}
body .content .gray-box {
  position: absolute;
  right: 2px;
  bottom: -50px;
  width: 315px;
  border: 1px solid white;
  background-color: #D8D8D8;
  padding: 38px 47px;
  font-size: 26px;
}
@media screen and (max-width: 400px) {
  body .content .gray-box {
    font-size: 19px;
  }
}
body .content .gray-box-left {
  position: absolute;
  left: 2px;
  bottom: -50px;
  width: 315px;
  border: 1px solid white;
  background-color: #D8D8D8;
  padding: 38px 47px;
  font-size: 26px;
}
@media screen and (max-width: 400px) {
  body .content .gray-box-left {
    font-size: 19px;
  }
}
body .content .content-paragraph-container {
  padding: 96px 0px;
}
body .content .content-paragraph-container .content-paragraph {
  font-size: 16px;
  line-height: 24px;
  margin: auto;
  width: 50%;
}
body footer {
  background-color: #828282;
  color: #ffffff;
  font-size: 12px;
  padding: 50px 86px 0px 86px;
  display: flex;
  flex-direction: column;
}
body footer .footer-top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body footer .footer-top-section .address {
  line-height: 20px;
}
body footer .footer-top-section .footer-heading-1 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
body footer .footer-top-section .footer-heading {
  font-size: 16px;
  font-weight: bold;
}
body footer .footer-top-section .tiny-text {
  font-size: 10px;
}
body footer .copyright {
  text-align: center;
  font-size: 10px;
  padding-top: 30px;
}
.container {
  padding: 45px 86px;
}
/* Style the tab */
.tab {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  /* Style the buttons that are used to open the tab content */
  /* Change background color of buttons on hover */
  /* Create an active/current tablink class */
}
.tab button {
  float: left;
  border: 1px solid black;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 54px 0px;
  border-top: none;
}
.tabcontent .tab-text {
  font-size: 16px;
  line-height: 24px;
  max-width: 50%;
}
.tabcontent .tab-text h3 {
  font-weight: bold;
  font-size: 24px;
}
.tabcontent .tab-text p {
  margin-top: 25px;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  background-color: rgba(153, 164, 174, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}
