/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.nav-button-close {
  display: none;
}
.nav-button-close .nav-links {
  display: none;
}
.nav-button-close.active {
  max-width: 1024px;
  width: 100%;
  height: 600px;
  background-color: #98A5AF;
  z-index: 10;
  display: flex;
  justify-content: center;
  opacity: 0.9;
  position: fixed;
  padding-top: 10px;
}
.nav-button-close.active .hamburger-close {
  height: 22px;
  width: 32.5px;
  position: relative;
  top: 0.5%;
  left: 50.5%;
  opacity: 1;
}
.nav-button-close.active .nav-links {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 20%;
}
.nav-button-close.active .nav-links .nav-link {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 85px;
  color: #FFFFFF;
  text-decoration: none;
}
.nav-button-close.active .nav-links .nav-link:hover {
  color: #222222;
}
.nav-section {
  max-width: 1024px;
  width: 100%;
  height: 50px;
  background-color: #828282;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
}
.nav-section .nav-center {
  display: flex;
  justify-content: space-between;
  padding: 0px 8% 0px 8%;
}
.nav-section .nav-center h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}
.nav-section .nav-center .nav-button {
  height: 20px;
  width: 32.5px;
}
.nav-section .nav-center .nav-button.active {
  display: none;
}
.footerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  background: #828282;
  margin-top: 10%;
  padding: 2.5%;
  color: white;
}
.footerContent .top {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
@media (max-width: 600px) {
  .footerContent .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
  }
}
.footerContent .first {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}
.footerContent .first input {
  margin-right: 6%;
  margin-top: 6%;
  padding: 5px;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .footerContent .first input {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-left: 0%;
    padding: 20px;
  }
}
.footerContent .first h5 {
  font-weight: bold;
  font-size: 2.3rem;
  font-family: 'Roboto';
}
@media (max-width: 600px) {
  .footerContent .first h5 {
    font-size: 3.8rem;
    line-height: 45px;
    margin-top: 10%;
    margin-bottom: 5%;
  }
}
.footerContent .first p {
  font-size: 1.2rem;
  margin-top: 1%;
}
@media (max-width: 600px) {
  .footerContent .first p {
    font-size: 2rem;
  }
}
.footerContent .address {
  margin-left: 10%;
  font-size: 1.5rem;
  line-height: 23px;
}
@media (max-width: 600px) {
  .footerContent .address {
    margin-top: 10%;
    justify-content: flex-start;
    margin-left: 0%;
    font-size: 2rem;
    line-height: 35px;
    margin-right: 70%;
  }
}
.footerContent .address h5 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 6%;
}
.footerContent footer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0;
  margin-top: 3%;
  font-size: 1.3rem;
}
@media (max-width: 600px) {
  .footerContent footer {
    justify-content: flex-start;
    font-size: 1.7rem;
    color: lightgray;
    margin: 10% 0% 5% 0%;
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: auto;
}
body {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 600px) {
  body {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
}
.topContent .topTxt {
  margin-top: 50%;
  position: absolute;
  font-weight: bold;
  font-size: 7rem;
  line-height: 85px;
  color: #ffffff;
  font-family: Arial;
}
@media (max-width: 600px) {
  .topContent .topTxt {
    margin-top: 60%;
  }
}
@media (max-width: 600px) {
  .jumbo {
    display: none;
  }
}
.mobile-jumbo-img {
  display: none;
  width: 100%;
}
@media (max-width: 600px) {
  .mobile-jumbo-img {
    display: flex;
    width: 100%;
  }
}
.container {
  font-size: 1rem;
  line-height: 24px;
  max-width: 95%;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}
.container .section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10%;
}
@media (max-width: 600px) {
  .container .section1 {
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
    margin: 0 auto;
    margin-top: 10%;
  }
}
@media (max-width: 600px) {
  .container .section1 .img1 {
    display: none;
  }
}
.container .section1 h3 {
  font-weight: bold;
  font-size: 2.5rem;
}
@media (max-width: 600px) {
  .container .section1 h3 {
    font-size: 4.5rem;
    margin-left: 0%;
    margin-top: 2%;
  }
}
.container .section1 .section1Text {
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.8rem;
  margin: 5% 5% 0% 0%;
}
@media (max-width: 600px) {
  .container .section1 .section1Text {
    width: 100%;
    font-size: 2.6rem;
  }
}
.container .section1 .section1Text p {
  margin-top: 3%;
  margin-bottom: 3%;
}
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10% 0% 10% 0%;
}
@media (max-width: 600px) {
  .section2 {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    margin-top: 10%;
  }
}
@media (max-width: 600px) {
  .section2 .img2 {
    display: none;
  }
}
.section2 h3 {
  font-weight: bold;
  font-size: 2.5rem;
}
@media (max-width: 600px) {
  .section2 h3 {
    font-size: 4.5rem;
    margin-left: 0%;
  }
}
.section2 .section2Text {
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.8rem;
  margin: 5% 0% 0% 5%;
}
@media (max-width: 600px) {
  .section2 .section2Text {
    width: 100%;
    margin-left: 0%;
    font-size: 2.6rem;
  }
}
.section2 .section2Text p {
  margin-top: 3%;
  margin-bottom: 3%;
}
button {
  border: 1px solid black;
  background-color: white;
  padding: 15px;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  button {
    width: 100%;
    margin: 30px 0px;
    border: 2px solid black;
    font-size: 2.3rem;
    padding-top: 15px;
  }
}
h3 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 10%;
}
@media (max-width: 600px) {
  h3 {
    margin-left: 2%;
    margin-top: 10%;
    font-size: 4rem;
  }
}
.mobile-top-img {
  max-width: 100%;
  height: auto;
  display: none;
}
@media (max-width: 600px) {
  .mobile-top-img {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
}
.secondHalf .p {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% 23% 10% 23%;
}
@media (max-width: 600px) {
  .secondHalf .p {
    margin: 30% 5% 20% 5%;
    font-size: 3rem;
    line-height: 40px;
  }
}
.secondHalf p {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}
.topHalf1 {
  display: flex;
}
.topHalf1 .header1 {
  border: none;
  background-color: lightgrey;
  font-size: 2.7rem;
  padding: 23px;
  display: flex;
  justify-content: center;
  width: 20%;
  position: absolute;
  margin-top: 12%;
  margin-left: 36%;
}
@media (max-width: 600px) {
  .topHalf1 .header1 {
    justify-content: center;
    font-size: 3.5rem;
    padding: 40px;
    padding-left: 40%;
    padding-right: 45%;
    margin-left: 2.5%;
    margin-top: 30%;
    letter-spacing: 5px;
    line-height: 80%;
  }
}
.topHalf1 .img {
  width: 100%;
}
@media (max-width: 600px) {
  .topHalf1 .img {
    display: none;
  }
}
@media (max-width: 600px) {
  .topHalf1 .theVillas {
    display: none;
  }
}
@media (max-width: 600px) {
  .topHalf1 .theBlocks {
    display: none;
  }
}
.topHalf2 {
  display: flex;
}
.topHalf2 .header2 {
  border: none;
  background-color: lightgrey;
  font-size: 2.7rem;
  padding: 23px;
  display: flex;
  justify-content: center;
  width: 20%;
  position: absolute;
  margin-top: 12%;
  margin-left: 0.5%;
}
@media (max-width: 600px) {
  .topHalf2 .header2 {
    justify-content: center;
    font-size: 4rem;
    padding: 40px;
    padding-left: 40%;
    padding-right: 45%;
    margin-left: 2.5%;
    margin-top: 30%;
    letter-spacing: 5px;
  }
}
.mobile-bottom-img {
  max-width: 100%;
  height: auto;
  display: none;
}
@media (max-width: 600px) {
  .mobile-bottom-img {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .theOutskirts {
    display: none;
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: auto;
}
body {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.nav-button-close {
  display: none;
}
.nav-button-close .nav-links {
  display: none;
}
.nav-button-close.active {
  max-width: 1024px;
  width: 100%;
  height: 600px;
  background-color: #98A5AF;
  z-index: 10;
  display: flex;
  justify-content: center;
  opacity: 0.9;
  position: fixed;
  padding-top: 10px;
}
.nav-button-close.active .hamburger-close {
  height: 22px;
  width: 32.5px;
  position: relative;
  top: 0.5%;
  left: 50.5%;
  opacity: 1;
}
.nav-button-close.active .nav-links {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 20%;
}
.nav-button-close.active .nav-links .nav-link {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 85px;
  color: #FFFFFF;
  text-decoration: none;
}
.nav-button-close.active .nav-links .nav-link:hover {
  color: #222222;
}
.nav-section {
  max-width: 1024px;
  width: 100%;
  height: 50px;
  background-color: #828282;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
}
.nav-section .nav-center {
  display: flex;
  justify-content: space-between;
  padding: 0px 8% 0px 8%;
}
.nav-section .nav-center .nav-button {
  height: 20px;
  width: 32.5px;
}
.nav-section .nav-center h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}
.nav-section .nav-center .nav-button.active {
  display: none;
}
.topContent .topTxt {
  margin: 10% 0% 0% 7%;
  position: absolute;
  font-weight: bold;
  font-size: 7rem;
  line-height: 75px;
  color: #ffffff;
  font-family: Arial;
}
.intro-section {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 0%;
}
.intro-section .intro-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 90px;
  width: 100%;
}
.intro-section .intro-section-container .body-text-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  flex-direction: column;
  justify-content: space-evenly;
}
.intro-section .intro-section-container .body-text-container button {
  width: 150px;
  height: 45px;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  font-size: 1.6rem;
  display: flex;
  flex-direction: space-between;
}
.container {
  font-size: 1rem;
  line-height: 24px;
  max-width: 90%;
  margin: 0 auto;
}
.intro-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.intro-section .intro-section-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 90px;
  width: 85%;
}
.intro-section .intro-section-container .body-text-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  flex-direction: column;
  justify-content: space-evenly;
}
.intro-section .intro-section-container .body-text-container button {
  width: 150px;
  height: 45px;
  background-color: #FFFFFF;
  border: solid 1px #222222;
  font-size: 1.6rem;
}
.intro-section .body-img-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-content: center;
}
.intro-section .body-img-container .body-img {
  max-width: 100%;
  height: auto;
}
.services-body-text-container {
  width: 100%;
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  justify-content: space-evenly;
  height: 225px;
}
.services-body-text-container .services-button-container {
  display: flex;
  justify-content: space-between;
}
.services-body-text-container .services-button-container .services-button {
  width: 175px;
  height: 55px;
  background-color: #FFFFFF;
  border: solid 1px #222222;
  font-size: 1.6rem;
}
.services-body-text-container .services-button-container .button-selected {
  background-color: #5E9FB9;
}
.services-body-text-container .services-button-container .services-button:hover {
  background-color: #222222;
  color: #FFF;
}
.services-body-section-container {
  display: none;
}
.services-body-section-container .services-body-text-container {
  width: 44.5%;
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  justify-content: space-evenly;
  height: 225px;
}
.services-body-section-container .services-body-img-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-content: center;
}
.services-body-section-container .services-body-img-container .services-body-img {
  max-width: 100%;
  height: auto;
}
.container-selected {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 90px;
  width: 85%;
}
.container-selected .services-body-text-container {
  width: 44.5%;
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  justify-content: space-evenly;
  height: 225px;
  font-size: 1.6rem;
}
.container-selected .services-body-img-container {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-content: center;
}
.container-selected .services-body-img-container .services-body-img {
  max-width: 100%;
  height: auto;
}
.footerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  background: #828282;
  margin-top: 10%;
  padding: 2.5%;
  color: white;
}
.footerContent .top {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
@media (max-width: 600px) {
  .footerContent .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
  }
}
.footerContent .first {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
}
.footerContent .first input {
  margin-right: 6%;
  margin-top: 6%;
  padding: 5px;
  border-radius: 5px;
}
@media (max-width: 600px) {
  .footerContent .first input {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-left: 0%;
    padding: 20px;
  }
}
.footerContent .first h5 {
  font-weight: bold;
  font-size: 2.3rem;
  font-family: 'Roboto';
}
@media (max-width: 600px) {
  .footerContent .first h5 {
    font-size: 3.8rem;
    line-height: 45px;
    margin-top: 10%;
    margin-bottom: 5%;
  }
}
.footerContent .first p {
  font-size: 1.2rem;
  margin-top: 1%;
}
@media (max-width: 600px) {
  .footerContent .first p {
    font-size: 2rem;
  }
}
.footerContent .address {
  margin-left: 10%;
  font-size: 1.5rem;
  line-height: 23px;
}
@media (max-width: 600px) {
  .footerContent .address {
    margin-top: 10%;
    justify-content: flex-start;
    margin-left: 0%;
    font-size: 2rem;
    line-height: 35px;
    margin-right: 70%;
  }
}
.footerContent .address h5 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 6%;
}
.footerContent footer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0;
  margin-top: 3%;
  font-size: 1.3rem;
}
@media (max-width: 600px) {
  .footerContent footer {
    justify-content: flex-start;
    font-size: 1.7rem;
    color: lightgray;
    margin: 10% 0% 5% 0%;
  }
}
