/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#buttons .hover {
  background: #222222;
  color: #ffffff;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
}
.mobile-img {
  display: none;
}
nav {
  background-color: #828282;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 20;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  nav {
    max-width: 600px;
    width: 100%;
  }
}
nav .navbar {
  max-width: 1024px;
  width: 100%;
  padding: 0px 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 2.4rem;
  color: #ffffff;
  cursor: pointer;
}
.menu-items {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  margin-top: 50px;
  background: #828282;
  opacity: 0.9;
  z-index: 20;
}
.menu-items li {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 8.5rem;
  color: #ffffff;
}
.menu-items li a {
  text-decoration: none;
  color: #ffffff;
}
.menu-items li a:hover {
  color: #222222;
}
.menu-items_revealed {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-jtron {
  width: 100%;
  height: 600px;
  background: url('../img/home/home-jumbotron.png');
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-jtron img {
  width: 100%;
}
.home-jtron .jtron-header {
  max-width: 894px;
  bottom: 8.3%;
  z-index: 10;
  color: #ffffff;
  position: absolute;
  font-size: 6.4rem;
  font-weight: bold;
  width: 100%;
  line-height: 8rem;
}
@media (max-width: 600px) {
  .home-jtron .jtron-header {
    padding: 0 40px;
  }
}
@media (max-width: 600px) {
  .home-jtron {
    width: 100%;
    height: 515px;
    background: url('../img/home/home-mobile-jumbotron.png');
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-jtron img {
    width: 100%;
  }
  .home-jtron .jtron-header {
    max-width: 894px;
    bottom: 8.3%;
    z-index: 10;
    color: #ffffff;
    position: absolute;
    font-size: 6.4rem;
    font-weight: bold;
    width: 100%;
    line-height: 8rem;
  }
}
@media (max-width: 600px) and (max-width: 600px) {
  .home-jtron .jtron-header {
    padding: 0 40px;
  }
}
.main-content {
  position: relative;
}
.main-content .main-content-top .top-content-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
.main-content .main-content-top .top-content-block:nth-child(2n-1) {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 600px) {
  .main-content .main-content-top .top-content-block {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
  }
  .main-content .main-content-top .top-content-block .mobile-img {
    display: block;
    width: 90%;
  }
}
.main-content .main-content-top .top-content-block .desktop-img {
  display: flex;
  padding-right: 20px;
}
@media (max-width: 600px) {
  .main-content .main-content-top .top-content-block .desktop-img {
    display: none;
  }
}
.main-content .main-content-top .top-content-block .top-content-info {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
@media (max-width: 600px) {
  .main-content .main-content-top .top-content-block .top-content-info {
    width: 90%;
  }
}
.main-content .main-content-top .top-content-block .top-content-info h3 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
  margin: 4px 0;
}
.main-content .main-content-top .top-content-block .top-content-info span {
  font-size: 1.5rem;
  padding: 10px 0;
  margin: 12px 0;
  width: 410px;
  line-height: 3rem;
}
@media (max-width: 600px) {
  .main-content .main-content-top .top-content-block .top-content-info span {
    width: 90%;
  }
}
.main-content .main-content-top .top-content-block .top-content-info .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #222222;
  width: 135px;
  height: 45px;
  cursor: pointer;
}
.main-content .main-content-top .top-content-block .top-content-info .button:hover {
  background: #222222;
  color: #ffffff;
}
@media (max-width: 600px) {
  .main-content .main-content-top .top-content-block .top-content-info .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #222222;
    width: 100%;
    height: 45px;
    cursor: pointer;
    margin-top: 30px;
    align-self: center;
  }
  .main-content .main-content-top .top-content-block .top-content-info .button:hover {
    background: #222222;
    color: #ffffff;
  }
}
.main-content .main-content-bottom h3 {
  margin: 20px 320px;
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
}
@media (max-width: 600px) {
  .main-content .main-content-bottom h3 {
    width: 90%;
    margin-left: 35px;
  }
}
.main-content .main-content-bottom .bottom-content-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-left: -20px;
}
.main-content .main-content-bottom .bottom-content-block .projects {
  position: relative;
  width: 100%;
}
.main-content .main-content-bottom .bottom-content-block .projects .desktop-img {
  margin: 0 335px;
}
@media (max-width: 600px) {
  .main-content .main-content-bottom .bottom-content-block .projects .desktop-img {
    display: none;
  }
  .main-content .main-content-bottom .bottom-content-block .projects .mobile-img {
    display: block;
    width: 100%;
  }
}
.main-content .main-content-bottom .bottom-content-block .projects .recent-project-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95px;
  width: 315px;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 0.7rem;
  background-color: #d8d8d8;
  border: solid 1px white;
  position: absolute;
  left: 335px;
  bottom: -50px;
  z-index: 10;
}
@media (max-width: 600px) {
  .main-content .main-content-bottom .bottom-content-block .projects .recent-project-titles {
    width: 290px;
    bottom: -75px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
}
.main-content .main-content-bottom .bottom-content-block .projects .recent-project-titles:nth-child(odd) {
  display: flex;
  flex-direction: row-reverse;
  left: 875px;
}
.main-content .main-content-bottom .bottom-content-block .project-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 435px;
  line-height: 2.5rem;
  margin-top: 100px;
}
@media (max-width: 600px) {
  .main-content .main-content-bottom .bottom-content-block .project-text {
    width: 47%;
  }
}
.service-header .jtron-header {
  width: 100%;
  height: 390px;
  background: url('../img/services/services-jumbotron.png');
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-header .jtron-header img {
  width: 100%;
}
.service-header .jtron-header .jtron-header {
  max-width: 894px;
  bottom: 8.3%;
  z-index: 10;
  color: #ffffff;
  position: absolute;
  font-size: 6.4rem;
  font-weight: bold;
  width: 100%;
  line-height: 8rem;
}
@media (max-width: 600px) {
  .service-header .jtron-header .jtron-header {
    padding: 0 40px;
  }
}
.service-header .jtron-header h1 {
  font-weight: bold;
  font-size: 9rem;
  color: #ffffff;
  width: 100%;
  margin-top: 200px;
  margin-left: 320px;
}
@media (max-width: 600px) {
  .service-header .jtron-header {
    width: 100%;
    height: 515px;
    background: url('../img/services/services-mobile-jumbotron.png');
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service-header .jtron-header img {
    width: 100%;
  }
  .service-header .jtron-header .jtron-header {
    max-width: 894px;
    bottom: 8.3%;
    z-index: 10;
    color: #ffffff;
    position: absolute;
    font-size: 6.4rem;
    font-weight: bold;
    width: 100%;
    line-height: 8rem;
  }
  .service-header .jtron-header h1 {
    font-weight: bold;
    font-size: 7.5rem;
    color: #ffffff;
    width: 100%;
    margin-top: 340px;
    margin-left: 25px;
  }
}
@media (max-width: 600px) and (max-width: 600px) {
  .service-header .jtron-header .jtron-header {
    padding: 0 40px;
  }
}
.services-content .intro {
  max-width: 870px;
  width: 100%;
  margin: 50px auto;
  line-height: 2.5rem;
}
@media (max-width: 600px) {
  .services-content .intro {
    width: 98%;
  }
}
.services-content .tabs {
  max-width: 870px;
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .services-content .tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.services-content .tabs .each-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #222222;
  width: 180px;
  height: 50px;
  cursor: pointer;
}
.services-content .tabs .each-tab:hover {
  background: #222222;
  color: #ffffff;
}
.services-content .tabs .each-tab:active {
  background-color: #5e9fb9;
  color: #ffffff;
}
@media (max-width: 600px) {
  .services-content .tabs .each-tab {
    max-width: 570px;
    width: 98%;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
  }
}
.services-content .tab-content {
  display: none;
}
@media (max-width: 600px) {
  .services-content .tab-content {
    width: 95%;
    margin: 0 auto;
  }
}
.services-content .tab-content h3 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
  margin: 10px 315px;
}
@media (max-width: 600px) {
  .services-content .tab-content h3 {
    width: 100%;
    margin: 5px 15px;
  }
}
.services-content .tab-content .tab-content-info {
  max-width: 875px;
  width: 100%;
  display: flex;
  margin: 20px 315px;
  flex-direction: row;
}
@media (max-width: 600px) {
  .services-content .tab-content .tab-content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 98%;
  }
}
.services-content .tab-content .tab-content-info span {
  line-height: 2.5rem;
  margin-right: 42px;
  width: 430px;
}
@media (max-width: 600px) {
  .services-content .tab-content .tab-content-info span {
    width: 90%;
  }
}
.services-content .tab-content .tab-content-info .desktop-service {
  display: block;
}
@media (max-width: 600px) {
  .services-content .tab-content .tab-content-info .desktop-service {
    display: none;
  }
}
.services-content .tab-content .tab-content-info .mobile-service {
  display: none;
}
@media (max-width: 600px) {
  .services-content .tab-content .tab-content-info .mobile-service {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
  }
}
.services-content .tab-content_revealed {
  display: block;
}
.services-content .tab_selected {
  background: #5e9fb9;
  color: #ffffff;
}
footer {
  background-color: #828282;
  margin-top: 90px;
  width: 100%;
}
footer .footer-content {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
@media (max-width: 600px) {
  footer .footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
footer .footer-content .contact {
  margin: 10px;
  padding: 10px;
}
footer .footer-content .contact h4 {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ffffff;
}
footer .footer-content .contact input {
  border-radius: 3px;
  width: 80%;
  height: 45px;
  margin-top: 10px;
  padding-left: 10px;
}
footer .footer-content .contact div {
  margin: 10px 0px;
  color: #ffffff;
  font-size: 1rem;
}
footer .footer-content .locations {
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #ffffff;
  margin: 20px;
}
footer .footer-content .locations h4 {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ffffff;
}
footer .copyright {
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  width: 100%;
}
@media (max-width: 600px) {
  footer .copyright {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
