/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.footer-style {
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #FFFFFF;
}
html,
body {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 62.5%;
}
body {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.myHeader {
  background: #828282;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100vw;
  z-index: 10;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
}
.myHeader .container {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  padding: 0 5%;
}
.myHeader .container .brand {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  font-size: 2.4rem;
}
.myHeader .container .myToggler {
  cursor: pointer;
}
.nav-modal {
  padding-top: 150px;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column nowrap;
  background: #828282;
  opacity: 0.9;
  z-index: 5;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 85px;
}
.nav-modal a {
  color: #FFFFFF;
  text-decoration: none;
}
.nav-modal a:hover {
  color: #222222;
}
.ftr-cont {
  width: 100vw;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #FFFFFF;
  background: #828282;
  padding-top: 40px;
}
.ftr-cont .ftr-inner {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-flow: row nowrap;
}
@media (max-width: 400px) {
  .ftr-cont .ftr-inner {
    flex-direction: column;
  }
}
.ftr-cont .ftr-inner .ftr-contact {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: column nowrap;
}
.ftr-cont .ftr-inner .ftr-contact h3 {
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}
@media (max-width: 400px) {
  .ftr-cont .ftr-inner .ftr-contact {
    margin-top: 20px;
  }
}
.ftr-cont .ftr-inner .ftr-contact input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}
@media (max-width: 400px) {
  .ftr-cont .ftr-inner .ftr-contact input {
    width: 90%;
  }
}
.ftr-cont .ftr-inner .ftr-loc h3 {
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}
@media (max-width: 400px) {
  .ftr-cont .ftr-inner .ftr-loc {
    margin-top: 20px;
  }
}
.ftr-cont .ftr-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
@media (max-width: 400px) {
  .ftr-cont .ftr-copyright {
    justify-content: flex-start;
    padding-left: 15%;
  }
}
@media (max-width: 400px) {
  .ftr-cont {
    padding-left: 5%;
  }
}
.homePg {
  padding: 50px 0;
  width: 100vw;
}
.homePg .jumbo {
  background-image: url('../img/home/home-jumbotron.png');
  background-size: cover;
  position: relative;
  width: 100%;
  height: 598px;
}
.homePg .jumbo .cta-header {
  position: absolute;
  bottom: 5%;
  left: 10%;
}
.homePg .jumbo .cta-header h1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
}
.homePg .pg-content {
  max-width: 1024px;
  padding: 0 5%;
  margin: 0 auto;
}
.homePg .pg-content .content-box {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: row nowrap;
}
.homePg .pg-content .content-box .big-img {
  width: 45%;
  height: auto;
}
@media (max-width: 400px) {
  .homePg .pg-content .content-box .big-img {
    display: none;
  }
}
.homePg .pg-content .content-box .little-img {
  display: none;
}
@media (max-width: 400px) {
  .homePg .pg-content .content-box .little-img {
    display: block;
    width: 95%;
    height: auto;
  }
}
.homePg .pg-content .content-box .box-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  width: 45%;
}
@media (max-width: 400px) {
  .homePg .pg-content .content-box .box-text {
    align-items: center;
    margin-top: 40px;
    width: 95%;
    line-height: 2.9rem;
  }
}
.homePg .pg-content .content-box .box-text h4 {
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 15px;
}
.homePg .pg-content .content-box .box-text .content-btn {
  border: 1px solid black;
  width: 135px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
}
@media (max-width: 400px) {
  .homePg .pg-content .content-box .box-text .content-btn {
    width: 100%;
  }
}
.homePg .pg-content .content-box .box-text .content-btn:hover {
  color: #FFFFFF;
  background: #222222;
}
@media (max-width: 400px) {
  .homePg .pg-content .content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
}
.homePg .pg-content .content-break {
  margin-top: 100px;
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
}
.homePg .pg-content .prj-header {
  margin: 50px 0 auto;
  width: 100%;
  position: relative;
}
.homePg .pg-content .prj-header .prj-img {
  width: 100%;
  height: auto;
}
@media (max-width: 400px) {
  .homePg .pg-content .prj-header .prj-img {
    display: none;
  }
}
.homePg .pg-content .prj-header .prj-img-small {
  display: none;
  width: 100%;
  height: auto;
}
@media (max-width: 400px) {
  .homePg .pg-content .prj-header .prj-img-small {
    display: block;
  }
}
.homePg .pg-content .prj-header .prj-header-title-r {
  right: 0;
  border-left: 2px solid white;
  position: absolute;
  bottom: -20%;
  width: 37%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 6px;
  background: #D8D8D8;
  border-top: 2px solid white;
}
@media (max-width: 400px) {
  .homePg .pg-content .prj-header .prj-header-title-r {
    width: 95%;
    bottom: -35%;
    border: none;
  }
}
@media (max-width: 400px) {
  .homePg .pg-content .prj-header .prj-header-title-r {
    right: 50%;
    transform: translateX(50%);
  }
}
.homePg .pg-content .prj-header .prj-header-title-l {
  left: 0;
  border-right: 2px solid white;
  position: absolute;
  bottom: -20%;
  width: 37%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  letter-spacing: 6px;
  background: #D8D8D8;
  border-top: 2px solid white;
}
@media (max-width: 400px) {
  .homePg .pg-content .prj-header .prj-header-title-l {
    width: 95%;
    bottom: -35%;
    border: none;
  }
}
@media (max-width: 400px) {
  .homePg .pg-content .prj-header .prj-header-title-l {
    left: 50%;
    transform: translateX(-50%);
  }
}
.homePg .pg-content .prj-container {
  margin: 80px 0;
  padding: 0 29%;
}
@media (max-width: 400px) {
  .homePg .pg-content .prj-container {
    margin: 160px 0 80px;
    padding: 0 2%;
  }
}
.servicesPg {
  padding: 50px 0;
}
.servicesPg .jumbo {
  background-image: url('../img/services/services-jumbotron.png');
  background-size: cover;
  position: relative;
  width: 100%;
  height: 250px;
}
.servicesPg .jumbo .cta-header {
  position: absolute;
  bottom: 5%;
  left: 10%;
}
.servicesPg .jumbo .cta-header h1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
}
.servicesPg .pg-content {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1024px;
  margin: 0 auto;
}
.servicesPg .pg-content .top-text {
  margin: 40px 0;
}
.servicesPg .pg-content .tabs {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: row nowrap;
  margin-top: 40px;
  margin-bottom: 70px;
}
@media (max-width: 400px) {
  .servicesPg .pg-content .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
}
.servicesPg .pg-content .tabs .tab {
  border: 1px solid black;
  width: 200px;
  height: 47px;
  font-weight: bold;
  padding: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.servicesPg .pg-content .tabs .tab:hover {
  background: #222222;
  color: #FFFFFF;
  cursor: pointer;
}
.servicesPg .pg-content .tabs .tab:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 400px) {
  .servicesPg .pg-content .tabs .tab:not(:last-child) {
    margin-right: 0;
  }
}
.servicesPg .pg-content .tabs .tab.active-tab {
  background: #5E9FB9;
}
@media (max-width: 400px) {
  .servicesPg .pg-content .tabs .tab {
    width: 90%;
  }
}
.servicesPg .pg-content .tab-content {
  width: 100%;
  display: none;
  justify-content: space-between;
  line-height: 3rem;
}
.servicesPg .pg-content .tab-content .content-txt {
  width: 45%;
}
.servicesPg .pg-content .tab-content .content-txt h1 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
  margin-bottom: 15px;
}
@media (max-width: 400px) {
  .servicesPg .pg-content .tab-content .content-txt {
    width: 90%;
  }
}
.servicesPg .pg-content .tab-content .content-img {
  width: 45%;
}
.servicesPg .pg-content .tab-content .content-img img {
  width: 100%;
  height: auto;
}
@media (max-width: 400px) {
  .servicesPg .pg-content .tab-content .content-img {
    width: 90%;
  }
}
.servicesPg .pg-content .tab-content .little-img {
  display: none;
  margin-top: 50px;
}
@media (max-width: 400px) {
  .servicesPg .pg-content .tab-content .little-img {
    display: block;
  }
}
@media (max-width: 400px) {
  .servicesPg .pg-content .tab-content .big-img {
    display: none;
  }
}
@media (max-width: 400px) {
  .servicesPg .pg-content .tab-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.servicesPg .pg-content .active-content {
  display: flex;
}
.hide-modal {
  display: none!important;
}
