/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background: #FFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
  border: 1px solid red;
}
.header {
  overflow: hidden;
  background-color: #333;
  position: relative;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9ba4ae;
}
.header h3 {
  font-weight: bold;
  font-size: 19px;
  color: #FFFFFF;
  margin-right: auto;
  padding-left: 64px;
  padding-bottom: 2px;
}
.header .menu-button {
  position: absolute;
  right: 37px;
  top: center;
  cursor: pointer;
  padding-right: 25px;
  padding-bottom: 2px;
}
.menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  font-weight: bold;
  font-size: 48px;
  line-height: 85px;
  color: #FFFFFF;
  z-index: 1;
  padding-left: 0px;
  margin-left: 0px;
  background-color: #9ba4ae;
}
.menu .menu-button-closed {
  position: absolute;
  right: 0;
  top: 25px;
  cursor: pointer;
  padding-right: 25px;
}
.menu .logo {
  font-size: 24px;
  color: #FFFFFF;
  margin-right: auto;
  padding-left: 25px;
}
.menu .menu-items {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-weight: Bold;
  font-size: 48px;
  line-height: 85px;
  cursor: pointer;
}
.menu .menu-items a {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}
.menu .menu-items a:hover {
  color: #4e4545;
}
.menu--open {
  display: block;
}
.menu--closed {
  display: none;
}
.home-content .header-content .header-img {
  width: 100%;
}
.home-content .header-content .jumbotron-header {
  font-weight: bold;
  font-size: 48px;
  line-height: 69px;
  color: white;
  position: absolute;
  padding-left: 70px;
  padding-top: 200px;
}
.home-content .content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 50px;
}
.home-content .content-section .text-content {
  width: 56%;
  margin-top: 45px;
  padding-right: 45px;
}
.home-content .content-section .text-content h2 {
  font-weight: bold;
  font-size: 18px;
  color: #222222;
  margin-bottom: 15px;
}
.home-content .content-section .text-content p {
  line-height: 24px;
  font-size: 1.5rem;
}
.home-content .content-section .text-content button {
  border: 1px solid black;
  margin-top: 20px;
  width: 30%;
  height: 35px;
}
.home-content .content-section .img-content {
  width: 44%;
  margin-top: 35px;
}
.home-content .content-section .img-content img {
  width: 100%;
  height: 200px;
}
.home-content .inverse-content .text-content {
  padding-left: 45px;
}
.home-content .bottom-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 96px;
  padding: 0 50px;
}
.home-content .bottom-content h2 {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-bottom: 15px;
}
.home-content .bottom-content .offset-box {
  position: relative;
  width: 100%;
}
.home-content .bottom-content .offset-box img {
  width: 100%;
  height: 230px;
}
.home-content .bottom-content .offset-box .offset-content {
  height: 75px;
  font-size: 20px;
  bacKground-color: #d8d8d8;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  position: absolute;
  bottom: -45px;
  right: 0;
}
.home-content .bottom-content .offset-box .left {
  position: absolute;
  bottom: -45px;
  left: 0;
}
.home-content .bottom-content .text-content {
  align-self: center;
}
.home-content .bottom-content .text-content p {
  margin-bottom: 10px;
  margin-top: 50px;
}
footer {
  background-color: #828282;
  color: #FFFFFF;
  padding: 0 50px;
  height: 170px;
  display: flex;
  flex-wrap: wrap;
}
footer .footer .card h3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 15px;
}
footer .footer .card p {
  padding-bottom: 10px;
  font-size: 1.1rem;
}
footer .footer .email {
  border: 1px solid green;
}
footer .footer .email h3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 15px;
}
footer .footer .email .email-content input[type=text],
footer .footer .email .email-content select,
footer .footer .email .email-content textarea {
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 28px;
}
footer .footer .email .email-content h4 {
  margin-top: 25px;
  border: black;
}
.header {
  overflow: hidden;
  background-color: #333;
  position: relative;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9ba4ae;
}
.header h3 {
  font-weight: bold;
  font-size: 19px;
  color: #FFFFFF;
  margin-right: auto;
  padding-left: 64px;
  padding-bottom: 2px;
}
.header .menu-button {
  position: absolute;
  right: 37px;
  top: center;
  cursor: pointer;
  padding-right: 25px;
  padding-bottom: 2px;
}
.menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  font-weight: bold;
  font-size: 48px;
  line-height: 85px;
  color: #FFFFFF;
  z-index: 1;
  padding-left: 0px;
  margin-left: 0px;
  background-color: #9ba4ae;
}
.menu .menu-button-closed {
  position: absolute;
  right: 0;
  top: 25px;
  cursor: pointer;
  padding-right: 25px;
}
.menu .logo {
  font-size: 24px;
  color: #FFFFFF;
  margin-right: auto;
  padding-left: 25px;
}
.menu .menu-items {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-weight: Bold;
  font-size: 48px;
  line-height: 85px;
  cursor: pointer;
}
.menu .menu-items a {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}
.menu .menu-items a:hover {
  color: #4e4545;
}
.menu--open {
  display: block;
}
.menu--closed {
  display: none;
}
.services-content .header-content .header-img {
  width: 100%;
}
.services-content .header-content .jumbotron-header {
  font-weight: bold;
  font-size: 48px;
  line-height: 69px;
  color: white;
  position: absolute;
  padding-left: 70px;
  padding-top: 200px;
}
