/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.home-page .jumbo {
  background-image: url("../img/home/home-jumbotron.png");
  height: 600px;
}
.home-page .main-content {
  margin: 0 20px;
}
.home-page .main-content .row1 {
  flex-direction: column-reverse;
}
@media (min-width: 576px) {
  .home-page .main-content .row1 {
    flex-direction: row;
  }
}
.home-page .main-content .row1,
.home-page .main-content .row2 {
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}
.home-page .main-content .row1 img,
.home-page .main-content .row2 img {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.home-page .main-content .row1 button,
.home-page .main-content .row2 button {
  border: 1px solid #222222;
  padding: 10px;
  background: white;
  width: 100%;
}
@media (min-width: 576px) {
  .home-page .main-content .row1 button,
  .home-page .main-content .row2 button {
    width: 45%;
  }
}
.home-page .main-content .row3 {
  margin: 50px 0;
}
.home-page .main-content h2 {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
}
.home-page .main-content p {
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
}
.home-page .main-content .bottom-img {
  width: 100%;
  height: auto;
}
.home-page .main-content .float {
  display: flex;
  justify-content: center;
}
@media (min-width: 576px) {
  .home-page .main-content .float {
    justify-content: flex-start;
  }
}
.home-page .main-content .float .floating-boxR {
  display: flex;
  background-color: #D8D8D8;
  z-index: 1;
  width: 80%;
  height: 80px;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}
@media (min-width: 576px) {
  .home-page .main-content .float .floating-boxR {
    width: 30%;
  }
}
@media (min-width: 576px) {
  .home-page .main-content .float .floating-boxR {
    margin-left: auto;
  }
}
.home-page .main-content .float .floating-boxL {
  display: flex;
  background-color: #D8D8D8;
  z-index: 1;
  width: 80%;
  height: 80px;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}
@media (min-width: 576px) {
  .home-page .main-content .float .floating-boxL {
    width: 30%;
  }
}
.home-page .main-content .text {
  justify-content: center;
  margin: 30px 0 40px;
}
.flexit {
  display: flex;
  justify-content: center;
}
.floatBox {
  display: flex;
  background-color: #D8D8D8;
  z-index: 1;
  width: 80%;
  height: 80px;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
}
@media (min-width: 576px) {
  .floatBox {
    width: 30%;
  }
}
.flexImg {
  width: 100%;
  height: auto;
}
body {
  background: #FFFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
}
.nav {
  background: #828282;
  opacity: .75;
}
.main-container {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 36px;
  padding: 0 20px;
}
.jumbo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 30px 65px;
}
.jumbo h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
}
.footer {
  background: #828282;
  padding: 20px;
}
.footer h3 {
  font-weight: regular;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer p {
  font-weight: regular;
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
}
.footer small {
  color: white;
}
.footer .copyright {
  margin: 10px auto 0;
}
.services-page .jumbo {
  background-image: url("../img/services/services-mobile-jumbotron.png");
  background-size: cover;
  height: 250px;
}
@media (min-width: 576px) {
  .services-page .jumbo {
    background-image: url("../img/services/services-jumbotron.png");
  }
}
.top-text {
  margin: 40px auto;
}
.section {
  display: flex;
  justify-content: center;
}
.tabs {
  max-width: 880px;
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item .tabs-item-content {
  height: 600px;
}
@media (min-width: 576px) {
  .tabs .tabs-item .tabs-item-content {
    height: 350px;
    justify-content: space-evenly;
  }
}
.tabs .tabs-item .tabs-item-content img {
  width: 100%;
}
.tabs .tabs-item-selected {
  display: inline-block;
  max-width: 880px;
}
.tabs .tabs-links {
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 780px) {
  .tabs .tabs-links {
    flex-flow: row nowrap;
    height: auto;
  }
}
.tabs .tabs-link {
  padding: 10px 20px;
  font-size: 24px;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}
.tabs .tabs-link:hover {
  background-color: #222222;
  color: #FFFFFF;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border: 1px solid black;
  background-color: #5E9FB9;
  color: #FFFFFF;
}
.tabs .tabs-link-selected:hover {
  background-color: #FFFFFF;
}
.nav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
}
.nav nav {
  width: 100%;
}
.nav nav .nav-strip {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.nav nav .nav-strip .burger-div {
  width: 24px;
  height: 25px;
  background-image: url("../img/nav-hamburger-close.png");
  background-size: cover;
}
.nav nav .nav-strip .burger-on {
  background-image: url("../img/nav-hamburger.png");
  height: 21px;
  width: 32px;
}
.nav nav h3 {
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}
.nav nav .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav nav .links a {
  font-weight: bold;
  font-size: 48px;
  line-height: 85px;
  color: #FFFFFF;
}
.nav nav .links a:hover {
  color: #222222;
}
.nav nav .links-hidden {
  display: none;
}
.nav nav .navBurger {
  height: 21px;
}
.nav nav .navBurger:hover {
  opacity: .5;
}
.burger-select-nav {
  height: auto;
  width: 100%;
}
.contact-page .jumbo {
  background-image: url("../img/contact/contact-jumbotron.png");
  height: 250px;
}
