/*General Styling*/
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.general-font-styles {
  background: #FFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
html {
  font-size: 62.5%;
}
body {
  background: #FFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.container {
  max-width: 855px;
  margin: 0 auto;
  height: 100%;
}
.jumbo-text {
  font-weight: 700px;
  font-size: 6.4rem;
  color: #FFFFFF;
  line-height: 7.5rem;
}
/*Site Styling*/
.navigation {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 8.5rem;
  color: #FFFFFF;
  color: hover #222222;
  margin-left: 800px;
  margin-bottom: 0px;
}
.menu-button {
  position: relative;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.menu {
  display: none;
  position: fixed;
  top: 75px;
  left: 0;
  width: 350px;
  height: 100vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: #81C784;
  border: 1px solid #004D40;
  border-left: none;
  border-bottom: none;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
}
.menu ul li {
  list-style-type: none;
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
}
.menu--open {
  display: block;
}
.footer-text {
  font-weight: regular;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #FFFFFF;
}
.footer-headings {
  font-weight: regular;
  font-size: 2.0rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}
/*Page Specific Styling*/
.container {
  height: 100%;
  position: absolute;
  margin: 0 auto;
}
.jumbo-home {
  width: 1024px;
  height: 598px;
  background: url("../img/home/home-jumbotron.png");
  margin: 0 auto;
}
h1 {
  font-weight: 700px;
  font-size: 6.4rem;
  color: #FFFFFF;
  line-height: 7.5rem;
  position: absolute;
  bottom: 65px;
}
.img-1 {
  border: 1px solid red;
  margin-top: 0;
  margin-right: 20px;
  margin-left: 450px;
}
.img-2 {
  display: inline-block;
  border: 1px solid black;
  margin-top: 150px;
  margin-right: 455px;
}
.architecture {
  display: inline-block;
  border: 1px solid blue;
  margin-top: 100px;
  margin-right: 450px;
}
.design {
  margin-top: 40px;
  display: inline-block;
  border: 1px solid black;
  margin-left: 500px;
}
h2 {
  font-weight: 300;
  font-size: 2.6;
  color: #222222;
}
p {
  color: #222222;
}
.container {
  height: 100%;
  position: relative;
}
.services {
  width: 1024px;
  height: 275px;
  background: url("../img/services/services-jumbotron.png");
  color: #FFFFFF;
  margin: 0 auto;
}
h1 {
  font-size: 6.3rem;
  color: #FFFFFF;
}
.container {
  height: 100%;
  position: relative;
}
.contact {
  width: 1024px;
  height: 275px;
  background: url("../img/contact/contact-jumbotron.png");
  color: #FFFFFF;
  margin: 0 auto;
}
h1 {
  font-size: 6.3rem;
  color: #FFFFFF;
}
h2 {
  color: #222222;
  font-size: 2.4rem;
  float: right;
  margin-right: 20px;
}
.form-group {
  font-size: 1.6rem;
  color: #222222;
}
.form-group {
  width: 500px;
  width: 350px;
  font-size: 1.6rem;
  color: #222222;
}
.offices {
  float: right;
}
