/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.generalText {
  font-weight: regular;
  font-size: 1.6rem;
  line-height: 24px;
}
.navLogo {
  font-weight: bold;
  font-size: 2.4rem;
  color: #FFFFFF;
}
.jumbotronHeader {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
}
.subHeader {
  font-weight: bold;
  font-size: 2.8rem;
}
.leadInButton {
  border: 1px solid black;
  padding: 12px 26px;
}
.footerHeader {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: regular;
  line-height: 24px;
}
.footerText {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: regular;
  line-height: 26px;
}
.mobile-img {
  display: none;
}
.big-container {
  max-width: 1024px;
  margin: 0 auto;
}
nav {
  background: #99A4AF;
  display: flex;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav .fixed-nav {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10%;
}
nav .fixed-nav span {
  font-weight: bold;
  font-size: 2.4rem;
  color: #FFFFFF;
}
nav .dropdown-nav {
  display: none;
  height: 100vh;
  margin-top: 300px;
  text-align: center;
  width: 100%;
}
nav .dropdown-nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
}
header {
  position: relative;
}
header img {
  z-index: -1;
}
header h1 {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
  position: absolute;
  top: 270px;
  left: 10%;
}
.sections-container {
  margin: 0 auto;
  width: 83.5%;
}
.main {
  margin-top: 40px;
}
.main article {
  display: flex;
  justify-content: space-between;
}
.main article .main-content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 48.5%;
}
.main article .main-content h2 {
  margin-top: 16px;
  font-weight: bold;
  font-size: 2.8rem;
}
.main article .main-content p {
  font-weight: regular;
  font-size: 1.6rem;
  line-height: 24px;
  margin: 20px 0;
}
.main article .main-content .main-button {
  font-weight: regular;
  font-size: 1.6rem;
  line-height: 24px;
  border: 1px solid black;
  padding: 12px 26px;
}
.reversed-main {
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 63px;
}
.reversed-main .design-header {
  font-weight: bold;
  font-size: 2.8rem;
  margin-top: 41px;
}
.projects-subheader {
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 47px;
  margin-top: 100px;
}
.projects article .overlay {
  position: relative;
}
.projects article .overlay img {
  position: relative;
  z-index: -1;
}
.projects article .overlay h3 {
  background: #D8D8D8;
  bottom: -37px;
  font-size: 1.7rem;
  letter-spacing: 3px;
  padding: 30px 85px;
  position: absolute;
  right: 0px;
}
.projects article .overlay .left-label {
  right: 516px;
}
.projects article .project-text {
  font-weight: regular;
  font-size: 1.6rem;
  line-height: 24px;
  width: 49%;
  margin: 90px auto;
}
.projects article .project-text .upper-text {
  margin-bottom: 30px;
}
footer {
  align-items: center;
  background: #99A4AF;
  display: flex;
  flex-direction: column;
  margin-top: 178px;
  padding: 60px 40px 0px 40px;
}
footer .footer-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
footer .footer-content .input-form {
  display: flex;
  flex-direction: column;
}
footer .footer-content .input-form h4 {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: regular;
  line-height: 24px;
}
footer .footer-content .input-form input {
  border-radius: 5px;
  border-style: none;
  color: #D8D8D8;
  margin: 20px 0;
  padding: 10px 5px;
  width: 80%;
}
footer .footer-content .input-form p {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: regular;
  line-height: 26px;
}
footer .footer-content .office-address {
  display: flex;
  flex-direction: column;
}
footer .footer-content .office-address h4 {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: regular;
  line-height: 24px;
  margin-bottom: 20px;
}
footer .footer-content .office-address address {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: regular;
  line-height: 26px;
  display: flex;
  flex-direction: column;
}
footer .copyright {
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: regular;
  line-height: 26px;
  font-size: 0.8rem;
  margin: 60px 0 30px 0;
}
@media (max-width: 500px) {
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .big-container {
    width: 320px;
    margin: 0 auto;
  }
  header h1 {
    font-size: 3.4rem;
    line-height: 40px;
    top: 114px;
    left: 8%;
  }
  .sections-container {
    width: 90%;
  }
  .main {
    margin-top: 20px;
  }
  .main article {
    align-items: center;
    flex-direction: column-reverse;
  }
  .main article .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .main article .main-content h2 {
    font-size: 2.4rem;
    text-align: left;
  }
  .main article .main-content .main-button {
    text-align: center;
    width: 90%;
  }
  .projects-subheader {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .projects article .overlay {
    display: flex;
    justify-content: center;
  }
  .projects article .overlay img {
    width: 112%;
  }
  .projects article .overlay .project-label {
    font-size: 2.6rem;
    padding: 30px 53px;
  }
  .projects article .overlay .left-label {
    right: 0px;
  }
  .projects article .project-text {
    font-size: 1.8rem;
    width: 100%;
  }
  footer {
    align-items: flex-start;
    margin-top: 90px;
    padding: 40px 20px;
  }
  footer .footer-content {
    flex-direction: column;
  }
  footer .footer-content .office-address {
    margin-top: 20px;
  }
}
.services-container {
  margin: 0 auto;
  max-width: 1024px;
}
.services-banner {
  position: relative;
}
.services-banner h1 {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
  bottom: 40px;
  left: 70px;
  position: absolute;
}
.services-content {
  padding: 40px;
}
.tab- {
  font-weight: regular;
  font-size: 1.6rem;
  line-height: 24px;
  padding: 0 45px;
}
.tab-text {
  font-weight: regular;
  font-size: 1.6rem;
  line-height: 24px;
}
.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 0 45px;
}
.tabs .tab {
  font-weight: bold;
  font-size: 2.8rem;
  border: 1px solid black;
  padding: 12px 26px;
  font-size: 2rem;
}
.tabs .tab:hover {
  background: #222222;
  color: #FFF;
}
.cards {
  padding: 0 45px;
}
.card {
  display: flex;
}
.card .card-content {
  padding-right: 30px;
}
.card .card-content h3 {
  font-weight: bold;
  font-size: 2.8rem;
}
.card .card-content p {
  font-weight: regular;
  font-size: 1.6rem;
  line-height: 24px;
  margin-top: 30px;
}
footer {
  margin-top: 30px;
}
.card {
  display: none;
}
.showCard {
  display: flex;
}
.tabSelected {
  background: #5E9FB9;
}
html {
  font-size: 62.5%;
}
body {
  background: #FFFFFF;
  box-sizing: border-box;
  color: #222222;
  font-family: 'Roboto', Arial, sans-serif;
}
