/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
body {
  max-width: 100%;
}
.banner {
  background-image: url("../img/home/home-jumbotron.png");
  background-repeat: no-repeat;
  background-position: top center;
  height: 600px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 450px) {
  .banner {
    background-image: url("../img/home/home-mobile-jumbotron.png");
    background-size: 320px 256px;
    background-position: 49% 11%;
    height: 290px;
  }
}
.banner .menuBar {
  background-color: #828282;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.banner .menuBar .menuItemContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 450px) {
  .banner .menuBar .menuItemContainer {
    width: 83%;
  }
}
.banner .menuBar .menuItemContainer h1 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  padding-left: 8%;
  padding-top: 12px;
  padding-bottom: 12px;
}
.banner .menuBar .menuItemContainer .menu {
  display: none;
}
.banner .menuBar .menuItemContainer .menu-button {
  margin-top: 15px;
  margin-right: 8%;
  height: 45%;
}
.banner h2 {
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  margin: 280px 0px 30px 16%;
}
@media (max-width: 450px) {
  .banner h2 {
    font-size: 36px;
    line-height: 42px;
    margin: 60px 0px 30px 16%;
  }
}
.mainContent {
  margin: 45px 6% 10px 16%;
}
@media (max-width: 450px) {
  .mainContent {
    margin: auto;
  }
}
.linkBoxContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-family: Roboto, Arial, sans-serif;
}
@media (max-width: 450px) {
  .linkBoxContainer {
    margin: auto;
  }
}
.linkBoxContainer .linkBoxImageRight {
  display: flex;
  flex-direction: row;
  margin-bottom: 92px;
}
@media (max-width: 450px) {
  .linkBoxContainer .linkBoxImageRight {
    flex-direction: column-reverse;
    margin-bottom: 44px;
    margin-left: 5%;
  }
}
.linkBoxContainer .linkBoxImageRight .infoButton {
  padding-top: 55px;
}
@media (max-width: 450px) {
  .linkBoxContainer .linkBoxImageRight .infoButton {
    padding-top: 26px;
    padding-left: 3%;
  }
}
.linkBoxContainer .linkBoxImageRight .infoButton h3 {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 16px;
}
@media (max-width: 450px) {
  .linkBoxContainer .linkBoxImageRight .infoButton h3 {
    padding-bottom: 20px;
  }
}
.linkBoxContainer .linkBoxImageRight .infoButton p {
  font-weight: regular;
  font-size: 16px;
  width: 430px;
  line-height: 24px;
  padding-top: 3px;
  padding-right: 6%;
}
@media (max-width: 450px) {
  .linkBoxContainer .linkBoxImageRight .infoButton p {
    width: 95%;
  }
}
.linkBoxContainer .linkBoxImageRight .infoButton button {
  font-size: 16px;
  padding: 13px 32px;
  margin-top: 28px;
  cursor: pointer;
  background: white;
  border: 1px solid black;
}
@media (max-width: 450px) {
  .linkBoxContainer .linkBoxImageRight .infoButton button {
    margin-top: 24px;
    padding: 13px 102px;
  }
}
.linkBoxContainer .linkBoxImageRight .desktopImage1 {
  margin-top: 6px;
  margin-left: 15px;
}
@media (max-width: 450px) {
  .linkBoxContainer .linkBoxImageRight .desktopImage1 {
    display: none;
  }
}
.linkBoxContainer .linkBoxImageRight .mobileImage1 {
  display: none;
}
@media (max-width: 450px) {
  .linkBoxContainer .linkBoxImageRight .mobileImage1 {
    display: flex;
    width: 90%;
    height: auto;
    margin-bottom: 2px;
    margin-left: 1%;
  }
}
.linkBoxContainer .linkBoxImageLeft {
  display: flex;
}
@media (max-width: 450px) {
  .linkBoxContainer .linkBoxImageLeft {
    flex-direction: column;
    width: 95%;
    margin-left: 6%;
  }
}
.linkBoxContainer .linkBoxImageLeft .desktopImage2 {
  margin-top: 6px;
  margin-left: 6px;
}
@media (max-width: 450px) {
  .linkBoxContainer .linkBoxImageLeft .desktopImage2 {
    display: none;
  }
}
.linkBoxContainer .linkBoxImageLeft .mobileImage2 {
  display: none;
}
@media (max-width: 450px) {
  .linkBoxContainer .linkBoxImageLeft .mobileImage2 {
    display: flex;
    width: 90%;
    height: auto;
    margin-left: 1%;
  }
}
.linkBoxContainer .linkBoxImageLeft .infoButton {
  padding-top: 48px;
  padding-left: 30px;
}
@media (max-width: 450px) {
  .linkBoxContainer .linkBoxImageLeft .infoButton {
    padding-top: 30px;
    padding-left: 1%;
  }
}
.linkBoxContainer .linkBoxImageLeft .infoButton h3 {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 16px;
}
@media (max-width: 450px) {
  .linkBoxContainer .linkBoxImageLeft .infoButton h3 {
    padding-bottom: 18px;
  }
}
.linkBoxContainer .linkBoxImageLeft .infoButton p {
  font-weight: regular;
  font-size: 16px;
  width: 430px;
  line-height: 24px;
  padding-top: 3px;
}
@media (max-width: 450px) {
  .linkBoxContainer .linkBoxImageLeft .infoButton p {
    width: 95%;
  }
}
.linkBoxContainer .linkBoxImageLeft .infoButton button {
  font-size: 16px;
  padding: 13px 18px;
  margin-top: 28px;
  cursor: pointer;
  background: white;
  border: 1px solid black;
}
@media (max-width: 450px) {
  .linkBoxContainer .linkBoxImageLeft .infoButton button {
    padding: 13px 95px;
    margin-top: 24px;
  }
}
.recentProjects {
  margin-top: 98px;
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, sans-serif;
}
@media (max-width: 450px) {
  .recentProjects {
    width: 80%;
    margin: auto;
  }
}
.recentProjects h3 {
  font-weight: bold;
  font-size: 24px;
}
.recentProjects .project .projectHeadersRightTop {
  margin-top: 44px;
  background-image: url("../img/home/home-villas-img.png");
  height: 270px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  width: 850px;
}
@media (max-width: 450px) {
  .recentProjects .project .projectHeadersRightTop {
    background-image: url("../img/home/home-mobile-villas-img.png");
  }
}
.recentProjects .project .projectHeadersRightTop h4 {
  align-self: flex-end;
  background-color: #D8D8D8;
  font-size: 24px;
  font-weight: regular;
  letter-spacing: 8px;
  padding: 35px 50px 35px 60px;
}
.recentProjects .project .projectHeadersLeft {
  margin-top: 44px;
  background-image: url("../img/home/home-outskirts-img.png");
  height: 270px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
}
@media (max-width: 450px) {
  .recentProjects .project .projectHeadersLeft {
    background-image: url("../img/home/home-mobile-outskirts-img.png");
  }
}
.recentProjects .project .projectHeadersLeft h4 {
  align-self: flex-start;
  background-color: #D8D8D8;
  font-size: 24px;
  font-weight: regular;
  letter-spacing: 8px;
  padding: 35px 50px 35px 60px;
}
.recentProjects .project .projectHeadersRightBottom {
  margin-top: 36px;
  background-image: url("../img/home/home-the-blocks-img.png");
  height: 270px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
  width: 855px;
}
@media (max-width: 450px) {
  .recentProjects .project .projectHeadersRightBottom {
    background-image: url("../img/home/home-mobile-the-blocks-img.png");
  }
}
.recentProjects .project .projectHeadersRightBottom h4 {
  align-self: flex-end;
  background-color: #D8D8D8;
  font-size: 24px;
  font-weight: regular;
  letter-spacing: 8px;
  padding: 35px 60px 35px 60px;
}
.recentProjects .project .projectParagraphs {
  margin-top: 54px;
  margin-left: 204px;
  width: 45%;
  margin-bottom: 56px;
}
.recentProjects .project .projectParagraphs p {
  font-weight: regular;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}
.contactFooter {
  margin-top: 44px;
  width: 100%;
  height: 250px;
  background-color: #828282;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial, sans-serif;
  color: #FFFFFF;
}
.contactFooter .contactInfo {
  display: flex;
  flex-direction: row;
  width: 855px;
  margin: auto;
  margin-bottom: 35px;
  justify-content: space-between;
}
.contactFooter .contactInfo .footerAddress2 {
  margin-left: 15px;
}
.contactFooter .contactInfo .footerAddress3 {
  margin-left: 20px;
}
.contactFooter h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}
.contactFooter h5 {
  font-size: 12px;
  margin-top: 12px;
  letter-spacing: 0.6px;
}
.contactFooter input {
  height: 35px;
  font-size: 16px;
  padding-left: 3%;
  border-radius: 5px;
}
.contactFooter p {
  line-height: 24px;
  font-weight: regular;
  font-size: 14px;
}
.contactFooter footer {
  text-align: center;
  margin-bottom: 10px;
  font-weight: regular;
  font-size: 12px;
}
