/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
title {
  display: none;
}
script {
  display: none;
}
style {
  display: none;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
  display: block;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', Arial, sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #222222;
  margin-bottom: 20px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  font-size: 1.6rem;
  line-height: 24px;
}
img {
  height: auto;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.jumbo {
  height: 598px;
  margin-bottom: 47px;
}
@media (max-width: 880px) {
  .jumbo {
    height: 504px;
  }
}
@media (max-width: 540px) {
  .jumbo {
    height: 306px;
  }
}
@media (max-width: 320px) {
  .jumbo {
    height: 260px;
    margin-bottom: 37px;
  }
}
.jumbo .jumbotron-img {
  z-index: -1;
  width: 100%;
}
@media (max-width: 320px) {
  .jumbo .jumbotron-img {
    display: none;
  }
}
.jumbo .jumbotron-mobile-img {
  z-index: -1;
  display: none;
}
@media (max-width: 320px) {
  .jumbo .jumbotron-mobile-img {
    display: block;
  }
}
.jumbo .cta {
  z-index: 1;
  position: relative;
  top: -275px;
  left: 83px;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #FFFFFF;
}
@media (max-width: 540px) {
  .jumbo .cta {
    top: -150px;
    left: 0px;
    font-size: 4rem;
    line-height: 4.3rem;
  }
}
@media (max-width: 320px) {
  .jumbo .cta {
    font-size: 3.5rem;
  }
}
.jumbo-services {
  height: 250px;
  margin-bottom: 53px;
}
@media (max-width: 880px) {
  .jumbo-services {
    margin-bottom: 44px;
  }
}
@media (max-width: 320px) {
  .jumbo-services {
    height: 258px;
    margin-bottom: 34px;
  }
}
.jumbo-services .jumbtron-services-mobile-img {
  display: none;
  z-index: -1;
}
@media (max-width: 320px) {
  .jumbo-services .jumbtron-services-mobile-img {
    display: block;
  }
}
.jumbo-services .jumbotron-services-img {
  z-index: -1;
}
@media (max-width: 320px) {
  .jumbo-services .jumbotron-services-img {
    display: none;
  }
}
.jumbo-services .cta-services h1 {
  z-index: 1;
  position: relative;
  top: -93px;
  left: 85px;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #FFFFFF;
}
@media (max-width: 320px) {
  .jumbo-services .cta-services h1 {
    top: -71px;
    left: 15px;
    font-size: 3.6rem;
    line-height: 5.5rem;
  }
}
.jumbo-contact {
  height: 250px;
  margin-bottom: 48px;
}
@media (max-width: 880px) {
  .jumbo-contact {
    margin-bottom: 44px;
  }
}
@media (max-width: 320px) {
  .jumbo-contact {
    height: 258px;
    margin-bottom: 34px;
  }
}
.jumbo-contact .jumbtron-contact-mobile-img {
  display: none;
  z-index: -1;
}
@media (max-width: 320px) {
  .jumbo-contact .jumbtron-contact-mobile-img {
    display: block;
  }
}
.jumbo-contact .jumbotron-contact-img {
  z-index: -1;
}
@media (max-width: 320px) {
  .jumbo-contact .jumbotron-contact-img {
    display: none;
  }
}
.jumbo-contact .cta-contact h1 {
  z-index: 1;
  position: relative;
  top: -93px;
  left: 85px;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #FFFFFF;
}
@media (max-width: 320px) {
  .jumbo-contact .cta-contact h1 {
    top: -71px;
    left: 15px;
    font-size: 3.6rem;
    line-height: 5.5rem;
  }
}
.topbar {
  z-index: 3;
  position: fixed;
  max-width: 1024px;
  top: 0px;
  width: 100%;
  display: flex;
  background: #99A4AF;
  justify-content: space-between;
}
@media (max-width: 320px) {
  .topbar {
    height: 51px;
  }
}
.nav-button {
  padding: 1.32% 8.23%;
  width: 20%;
  cursor: pointer;
}
@media (max-width: 540px) {
  .nav-button {
    width: 22%;
  }
}
@media (max-width: 320px) {
  .nav-button {
    padding: 4.5% 5%;
    width: 20%;
  }
}
.logo {
  font-weight: bold;
  font-size: 2.4rem;
  color: #FFFFFF;
  padding: 1.32% 8.23%;
}
@media (max-width: 320px) {
  .logo {
    padding: 4.5% 5%;
    font-size: 2.4rem;
  }
}
.nav-close {
  padding: 1.32% 8.23%;
  width: 20%;
  cursor: pointer;
}
@media (max-width: 540px) {
  .nav-close {
    width: 22%;
  }
}
@media (max-width: 320px) {
  .nav-close {
    padding: 4.5% 5%;
    width: 20%;
  }
}
.menu {
  display: none;
  opacity: 0.96;
  width: 100%;
  max-width: 1024px;
  position: fixed;
  top: 0px;
  height: 100vh;
  background: #99A4AF;
  z-index: 4;
}
.menu-top {
  display: flex;
  justify-content: space-between;
}
.menu--open {
  display: block;
}
ul {
  margin: 125px auto;
  text-align: left;
  width: 33%;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 85px;
}
ul :hover {
  color: #222222;
}
ul a {
  text-decoration: none;
  color: #FFFFFF;
}
@media (max-width: 320px) {
  ul {
    margin-top: 45px;
    margin-left: 70px;
  }
}
.topbar-services {
  top: 0px;
}
.menu-services {
  top: 0px;
}
.top-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 320px) {
  .top-content .top-home {
    display: none;
  }
}
@media (max-width: 320px) {
  .top-content .bottom-home {
    display: none;
  }
}
.top-content .top-mobile {
  display: none;
}
@media (max-width: 320px) {
  .top-content .top-mobile {
    display: block;
    width: 100%;
  }
}
.top-content .bottom-mobile {
  display: none;
}
@media (max-width: 320px) {
  .top-content .bottom-mobile {
    display: block;
    width: 100%;
  }
}
.top-content .about-top {
  display: flex;
  justify-content: space-around;
  padding: 6px 49px;
  margin-bottom: 82px;
}
@media (max-width: 540px) {
  .top-content .about-top {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding: 0 0;
    margin-bottom: 0px;
  }
}
.top-content .about-bottom {
  display: flex;
  justify-content: space-around;
  padding: 10px 48px;
  margin-bottom: 90px;
}
@media (max-width: 540px) {
  .top-content .about-bottom {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 0;
    margin-bottom: 60px;
  }
}
.top-content .about {
  width: 40%;
  height: 275px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 540px) {
  .top-content .about {
    width: 90%;
    justify-content: space-between;
    padding: 40px 0 20px 0;
    height: 309px;
  }
  .top-content .about h2 {
    font-size: 3.4rem;
  }
  .top-content .about p {
    font-size: 2.4rem;
    line-height: 32px;
  }
}
@media (max-width: 540px) and (max-width: 320px) {
  .top-content .about h2 {
    font-size: 2.3rem;
  }
}
@media (max-width: 540px) and (max-width: 320px) {
  .top-content .about p {
    font-size: 1.6rem;
  }
}
.top-content .about button {
  background-color: #FFFFFF;
  width: 34.14%;
  height: 50px;
}
@media (max-width: 540px) {
  .top-content .about button {
    width: 100%;
    height: 68px;
    font-size: 2.2rem;
  }
}
.top-content .recent {
  padding-left: 84px;
  margin-bottom: 45px;
}
@media (max-width: 320px) {
  .top-content .recent {
    padding-left: 22px;
    font-size: 2.3rem;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 320px) {
  .projects img {
    display: none;
  }
}
.projects .projects-mobile-img {
  display: none;
}
@media (max-width: 320px) {
  .projects .projects-mobile-img {
    display: block;
    width: 100%;
  }
}
.projects .image-tags {
  background-color: #D8D8D8;
  border: 1px solid white;
  font-size: 2.5rem;
  width: 315px;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 320px) {
  .projects .image-tags {
    font-size: 3rem;
  }
}
.projects .right-tag {
  position: relative;
  z-index: 1;
  top: -53px;
  left: 269px;
}
@media (max-width: 540px) {
  .projects .right-tag {
    top: -20px;
    left: 0;
    width: 99%;
    height: 99px;
  }
}
.projects .left-tag {
  position: relative;
  z-index: 1;
  top: -53px;
  left: -269px;
}
@media (max-width: 540px) {
  .projects .left-tag {
    top: -20px;
    left: 0;
    width: 99%;
    height: 99px;
  }
}
.projects .bottom-image-content {
  width: 44%;
  font-weight: normal;
  height: 132px;
}
@media (max-width: 540px) {
  .projects .bottom-image-content {
    line-height: 40px;
    width: 91%;
    height: auto;
    font-size: 1.6rem;
    font-weight: normal;
  }
}
.projects .text-bottom {
  margin-bottom: 113px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #828282;
  color: #FFFFFF;
  height: 235px;
}
@media (max-width: 540px) {
  .footer-container {
    align-items: initial;
    flex-direction: column;
    height: auto;
    padding: 20px;
  }
}
.footer-container .contacts {
  margin: 10px 0;
}
.footer-container .contact-header {
  font-size: 2rem;
  line-height: 24px;
  color: #FFFFFF;
}
.footer-container input {
  width: 278px;
  height: 45px;
  border-radius: 4px;
  padding: 5px;
}
.footer-container .contact-info {
  font-size: 1.4rem;
  line-height: 26px;
  color: #FFFFFF;
}
footer {
  text-align: center;
  font-size: 1.2rem;
  background-color: #828282;
  color: #FFFFFF;
  position: relative;
  bottom: 8px;
}
@media (max-width: 320px) {
  footer {
    text-align: initial;
    padding: 10px;
  }
}
.services-content {
  width: 85%;
  margin: 0 auto;
}
.services-content .tabs {
  display: flex;
  justify-content: space-between;
  margin: 44px 8px;
}
@media (max-width: 880px) {
  .services-content .tabs {
    margin: 44px 8px -24px 8px;
  }
}
@media (max-width: 320px) {
  .services-content .tabs {
    flex-direction: column;
    margin: 0;
    height: 264px;
    margin-bottom: -38px;
  }
}
.services-content .tabs .tab {
  width: 21%;
  height: 52px;
  border: 1px solid black;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 880px) {
  .services-content .tabs .tab {
    width: 23%;
  }
}
@media (max-width: 540px) {
  .services-content .tabs .tab {
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  .services-content .tabs .tab {
    width: 98%;
  }
}
.services-content .tabs .tab:hover {
  background: #222222;
  color: #FFF;
}
.services-content .tabs .tab-selected {
  background: #5E9FB9;
  color: #FFF;
}
.services-content .tabs .tab-selected:hover {
  background-color: #222222;
  color: #FFF;
}
.services-content .tabcontent {
  display: flex;
}
.services-content .tabs-content {
  display: none;
  justify-content: space-between;
  width: 99%;
  margin: 83px 0;
}
@media (max-width: 540px) {
  .services-content .tabs-content {
    flex-direction: column;
    margin-bottom: 62px;
  }
}
.services-content .tabs-content .tab-content {
  flex-direction: column;
  width: 48%;
}
@media (max-width: 540px) {
  .services-content .tabs-content .tab-content {
    width: 100%;
    margin-bottom: 36px;
  }
}
@media (max-width: 320px) {
  .services-content .tabs-content .tabs-desktop {
    display: none;
  }
}
.services-content .tabs-content .tabs-mobile {
  display: none;
}
@media (max-width: 320px) {
  .services-content .tabs-content .tabs-mobile {
    display: block;
  }
}
.services-content .tabs-content-selected {
  display: flex;
}
.info-page {
  display: flex;
  padding: 0 86px;
  height: 680px;
}
@media (max-width: 540px) {
  .info-page {
    flex-direction: column;
    padding: 0 0 0 16px;
    height: auto;
  }
}
.info-page .guest-info {
  flex-direction: column;
  width: 49%;
}
@media (max-width: 540px) {
  .info-page .guest-info {
    width: 100%;
    margin-bottom: 54px;
  }
}
.info-page .guest-info .guest-header {
  font-size: 1.6rem;
  margin-bottom: 9px;
}
.info-page .guest-info h2 {
  margin-bottom: 46px;
}
.info-page .guest-info .guest-address {
  margin-bottom: 35px;
}
.info-page .guest-info .guest-address input {
  width: 100%;
  height: 38px;
}
.info-page .guest-info .guest-address p {
  font-size: 1.3rem;
}
.info-page .guest-info .guest-buildings {
  margin-bottom: 42px;
}
.info-page .guest-info .guest-buildings select {
  width: 100%;
  height: 38px;
}
.info-page .guest-info .guest-summary {
  margin-bottom: 34px;
}
.info-page .guest-info .guest-summary textarea {
  width: 100%;
  height: 135px;
}
.info-page .guest-info .guest-details {
  font-size: 1.6rem;
}
.info-page .guest-info .guest-details button {
  width: 33%;
  height: 46px;
}
@media (max-width: 540px) {
  .info-page .guest-info .guest-details button {
    width: 100%;
  }
}
.info-page .our-info {
  flex-direction: column;
  width: 49%;
}
@media (max-width: 540px) {
  .info-page .our-info {
    width: 100%;
  }
}
.info-page .our-info h2 {
  padding: 10px 0px 23px 162px;
}
@media (max-width: 320px) {
  .info-page .our-info h2 {
    padding: 0;
  }
}
.info-page .our-info .www {
  font-weight: bold;
  font-size: 2rem;
  padding-left: 163px;
}
@media (max-width: 320px) {
  .info-page .our-info .www {
    padding: 0;
  }
}
.info-page .our-info p {
  padding-left: 163px;
  margin-bottom: 60px;
}
@media (max-width: 320px) {
  .info-page .our-info p {
    padding: 0;
  }
}