/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
html {
  font-size: 62.5%;
  font-family: Roboto, Arial, sans-serif;
  color: #222222;
  background-color: #FFFFFF;
  box-sizing: border-box;
}
html h2 {
  font-weight: bold;
  font-size: 2.2rem;
  color: #222222;
}
.cta {
  max-width: 1024px;
  width: 100%;
  margin: 0px auto;
}
@media (max-width:500px) {
  .cta {
    width: 100%;
  }
}
.cta .navs {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}
.cta .nav-bar {
  margin: 0px auto;
  font-size: 2.4rem;
  font-weight: bold;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #98a4b0;
  max-width: 1024px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width:500px) {
  .cta .nav-bar {
    width: 100%;
  }
}
.cta .nav-bar .ham {
  cursor: pointer;
}
.cta .nav-bar .close-btn {
  cursor: pointer;
  display: none;
}
.cta .navigation {
  display: none;
}
.cta .navigation nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
.cta .navigation a {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 85px;
  color: #FFFFFF;
  text-decoration: none;
}
.cta .navigation a:hover {
  color: #222222;
}
.jumbo-container {
  position: relative;
  text-align: center;
  color: #FFFFFF;
}
.jumbo-container .jumbo {
  height: 90%;
  width: 100%;
}
.jumbo-container .bottom-left {
  position: absolute;
  bottom: 48px;
  left: 46px;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  text-align: left;
}
.top-row {
  width: 85%;
  margin: 0px auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
@media (max-width:500px) {
  .top-row {
    flex-direction: column-reverse;
  }
}
.top-row .boxes {
  width: 48%;
}
@media (max-width:500px) {
  .top-row .boxes {
    width: 100%;
  }
}
.top-row .boxes h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
@media (max-width:500px) {
  .top-row .boxes h2 {
    text-align: center;
  }
}
.top-row .boxes p {
  font-size: 1.6rem;
  line-height: 24px;
}
.top-row .boxes .btn {
  border: 1px solid #222222;
  width: 100px;
  text-align: center;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width:500px) {
  .top-row .boxes .btn {
    width: 100%;
  }
}
.top-row .box-img1 {
  width: 48%;
  height: 250px;
}
@media (max-width:500px) {
  .top-row .box-img1 {
    display: none;
  }
}
.bottom-row {
  width: 85%;
  margin: 0px auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
@media (max-width:500px) {
  .bottom-row {
    flex-direction: column;
  }
}
.bottom-row .boxes {
  width: 48%;
}
@media (max-width:500px) {
  .bottom-row .boxes {
    width: 100%;
  }
}
.bottom-row .boxes h2 {
  margin-top: 30px;
  margin-bottom: 20px;
}
.bottom-row .boxes p {
  font-size: 1.6rem;
  line-height: 24px;
}
.bottom-row .boxes .btn {
  border: 1px solid #222222;
  width: 120px;
  text-align: center;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width:500px) {
  .bottom-row .boxes .btn {
    width: 100%;
  }
}
.bottom-row .box-img2 {
  width: 48%;
  height: 250px;
}
.recent {
  width: 85%;
  margin: 0px auto;
  margin-top: 60px;
}
.recent h2 {
  margin-bottom: 20px;
}
@media (max-width:500px) {
  .recent h2 {
    padding-left: 20px;
  }
}
.recent .villa-container {
  position: relative;
  text-align: center;
}
.recent .villas {
  width: 100%;
}
.recent .bottom-right {
  position: absolute;
  bottom: -30px;
  right: 0px;
  width: 270px;
  letter-spacing: 2px;
  font-size: 2.8rem;
  padding: 25px;
  text-align: center;
  background-color: #D6DAE2;
}
.recent .project-text {
  width: 45%;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.6rem;
  line-height: 18px;
}
@media (max-width:500px) {
  .recent .project-text {
    width: 100%;
    padding-top: 30px;
  }
}
.outskirts-container {
  position: relative;
  text-align: center;
}
.outskirts {
  width: 100%;
}
.bottom {
  position: absolute;
  bottom: -25px;
  left: 0px;
  width: 270px;
  letter-spacing: 2px;
  font-size: 2.8rem;
  padding: 25px;
  text-align: center;
  background-color: #D6DAE2;
}
.blocks-container {
  position: relative;
  text-align: center;
}
.blocks {
  width: 100%;
}
.bottom-right-block {
  position: absolute;
  bottom: -30px;
  right: 0px;
  width: 270px;
  letter-spacing: 2px;
  font-size: 2.8rem;
  padding: 25px;
  text-align: center;
  background-color: #D6DAE2;
}
.footer {
  background-color: #838183;
  Color: #FFFFFF;
}
.footer footer {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  margin-bottom: 15px;
}
@media (max-width:500px) {
  .footer footer {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width:500px) {
  .footer .form {
    width: 100%;
    text-align: left;
    padding-left: 25%;
  }
}
.footer input {
  border-radius: 5px;
  width: 95%;
  height: 35px;
  margin-top: 10px;
}
@media (max-width:500px) {
  .footer input {
    width: 57%;
    height: 40px;
  }
}
@media (max-width:500px) {
  .footer .address {
    margin-top: 20px;
  }
}
.footer h5 {
  font-size: 2rem;
  line-height: 24px;
}
.footer p {
  font-size: 14px;
  line-height: 26px;
}
.footer .copyright {
  padding-bottom: 10px;
  text-align: center;
}
