/* Your Code Goes Here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
.standard-text {
  font-size: 1.6rem;
  font-weight: regular;
  line-height: 24px;
}
.subhead {
  font-weight: bold;
  font-size: 2.4rem;
  color: #222222;
}
.navigation {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 85px;
  color: #FFFFFF;
}
.navigation:hover {
  color: #222222;
}
.footer-text {
  font-weight: regular;
  font-size: 1.4rem;
  line-height: 26px;
  color: #FFFFFF;
}
.footer-head {
  font-weight: regular;
  font-size: 2.0rem;
  line-height: 24px;
  color: #FFFFFF;
}
.project-label {
  font-weight: normal;
  background: #D8D8D8;
  z-index: 3;
  height: 80px;
  width: 35%;
  padding: 23px;
  position: relative;
  top: -30px;
  text-align: center;
  letter-spacing: 4px;
}
@media (max-width: 768px) {
  .project-label {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .project-label {
    width: 90%;
  }
}
/*
### Footer Text
- Font Weight: Regular
- Font Size: 14px
- Line Height: 26px
- Color: #FFFFFF

### Footer Headings
- Font Weight: Regular
- Font Size: 20px
- Line Height: 24px
- Color: #FFFFFF

*/
html {
  font-size: 62.5%;
}
.container-fluid {
  margin: 0;
  padding: 0!important;
  font-family: Roboto, Arial, sans-serif;
}
.container-fluid h4 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #222222;
}
.container {
  width: 855px;
  margin: 0;
  padding: 0;
}
.container h4 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #222222;
}
.container p {
  font-size: 1.6rem;
  font-weight: regular;
  line-height: 24px;
}
h4 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #222222;
}
/*
### Jumbotron Headers
- Font Weight: Bold
- Font Size: 64px
- Line Height: 75px
- Color: #FFFFFF

### Navigation Text (Expanded)
- Font Weight: Bold
- Font Size: 48px
- Line Height: 85px
- Color: #FFFFFF
- Hover Color: #222222*/
/*
### Footer Text
- Font Weight: Regular
- Font Size: 14px
- Line Height: 26px
- Color: #FFFFFF

### Footer Headings
- Font Weight: Regular
- Font Size: 20px
- Line Height: 24px
- Color: #FFFFFF

*/
.footer {
  background: #828282;
  margin-top: 30px;
}
.footer p {
  font-weight: regular;
  font-size: 1.4rem;
  line-height: 26px;
  color: #FFFFFF;
}
.footer h4 {
  font-weight: regular;
  font-size: 2.0rem;
  line-height: 24px;
  color: #FFFFFF;
}
.footer .footer-content {
  padding-top: 10px;
}
.footer .email {
  margin-top: 20px;
  position: relative;
  height: auto;
}
.footer .email small {
  color: #FFFFFF !important;
}
.footer .office {
  width: 150px;
  height: auto;
  margin-top: 20px;
}
.footer .office p {
  font-weight: regular;
  font-size: 1.4rem;
  line-height: 26px;
  color: #FFFFFF;
}
@media (max-width: 400px) {
  .footer .office {
    width: 300px;
  }
}
.footer .copyright {
  margin: auto;
  font-size: 0.8rem;
}
.navbar-scroll {
  width: 100%;
  height: 40px;
  background: #9DA7B1;
  opacity: .95;
}
.navigation {
  position: relative;
  width: 100%;
  margin: 0 28px;
}
.navigation .nav-container {
  width: 100%;
  position: absolute;
  padding: 0;
  top: 5px;
}
.navigation .nav-container .navbar {
  position: relative;
}
@media (max-width: 768px) {
  .navigation .nav-container .navbar {
    width: 99%;
  }
}
.navigation .nav-container .navbar .hamburger {
  width: auto;
  height: 20px;
  right: 0;
  cursor: pointer;
}
.navigation .nav-container .navbar .logo {
  color: #FFFFFF;
  font-size: 1.8rem;
}
.desktop {
  width: 100%;
  height: auto;
}
@media (max-width: 400px) {
  .desktop {
    display: none;
  }
}
.mobile {
  width: 100%;
  height: auto;
  display: none;
}
@media (max-width: 400px) {
  .mobile {
    display: flex;
  }
}
.overlay {
  background: #9Da7B1;
  opacity: .95;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  display: none;
}
.overlay .logo {
  color: #FFFFFF;
  font-size: 1.8rem;
  position: absolute;
  top: 20px;
  left: 40px;
}
.overlay nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.overlay nav a {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
  align-self: center;
}
.overlay nav a:hover {
  color: #222222;
}
.overlay .hamburger-close {
  width: 25px;
  height: 25px;
  font-size: 2.4rem;
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
}
/*
 *- Recent Projects Gray Square: #D8D8D8
- Button borders: #222222*/
/*.j-home {
    .jumbo-bg(url("../img/home/home-mobile-jumbotron.png"), 0);
     @media(min-width: 400px) {
        .jumbo-bg(url("../img/home/home-jumbotron.png"), 480px);
        
    }
}*/
.jumbo-text-home {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
  padding: 0;
  position: relative;
  z-index: 5;
  top: -260px;
}
.jumbo-text-home h1 {
  font-size: 6.4rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .jumbo-text-home {
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 75px;
    color: #FFFFFF;
    padding: 0;
    position: relative;
    z-index: 5;
    top: -190px;
  }
  .jumbo-text-home h1 {
    font-size: 4.8rem;
  }
}
@media (max-width: 400px) {
  .jumbo-text-home {
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 75px;
    color: #FFFFFF;
    padding: 0;
    position: relative;
    z-index: 5;
    top: -160px;
  }
  .jumbo-text-home h1 {
    font-size: 3.6rem;
  }
}
.main-content {
  box-sizing: border-box;
}
.main-content .top-content {
  padding: 0;
}
.main-content .top-content .architects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
        margin: 30px 0;
}
@media (max-width: 400px) {
  .main-content .top-content .architects {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
}
.main-content .top-content .architects .text-content {
  width: 320px;
  padding: 15px 0;
}
.main-content .top-content .architects .text-content button {
  border: #222222 1px solid;
  background: white;
  height: 30px;
  width: 100px;
}
.main-content .top-content .architects .text-content button:hover {
  background: #D8D8D8;
}
.main-content .top-content .architects .desktop {
  width: 320px;
  height: auto;
}
@media (max-width: 400px) {
  .main-content .top-content .architects .desktop {
    display: none;
  }
}
.main-content .top-content .architects .mobile {
  width: 100%;
  height: auto;
  display: none;
}
@media (max-width: 400px) {
  .main-content .top-content .architects .mobile {
    display: flex;
  }
}
.main-content .designs {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  padding: 0;
}
@media (max-width: 400px) {
  .main-content .designs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}
.main-content .designs .text-content {
  width: 45%;
  padding: 10px;
}
.main-content .designs .text-content button {
  border: #222222 1px solid;
  background: white;
  height: 30px;
  width: 100px;
}
.main-content .designs .text-content button:hover {
  background: #D8D8D8;
}
.main-content .designs .desktop {
  width: 45%;
  height: auto;
}
@media (max-width: 400px) {
  .main-content .designs .desktop {
    display: none;
  }
}
.main-content .designs .mobile {
  width: 100%;
  height: auto;
  display: none;
}
@media (max-width: 400px) {
  .main-content .designs .mobile {
    display: flex;
  }
}
.main-content .projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;
}
.main-content .projects h4 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #222222;
}
.main-content .projects p {
  width: 50%;
}
.main-content .projects .label {
  font-weight: normal;
  background: #D8D8D8;
  z-index: 3;
  height: 80px;
  width: 35%;
  padding: 23px;
  position: relative;
  top: -30px;
  text-align: center;
  letter-spacing: 4px;
}
@media (max-width: 768px) {
  .main-content .projects .label {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .main-content .projects .label {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .main-content .projects p {
    width: 75%;
  }
}
@media (max-width: 400px) {
  .main-content .projects p {
    width: 100%;
  }
}
.main-content .projects .villas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.main-content .projects .villas .label {
  align-self: flex-end;
}
@media (max-width: 768px) {
  .main-content .projects .villas .label {
    align-self: center;
  }
}
.main-content .projects .outskirts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.main-content .projects .outskirts .label {
  align-self: flex-start;
}
@media (max-width: 768px) {
  .main-content .projects .outskirts .label {
    align-self: center;
  }
}
.main-content .projects .blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.main-content .projects .blocks img {
  position: relative;
}
.main-content .projects .blocks .label {
  align-self: flex-end;
}
@media (max-width: 768px) {
  .main-content .projects .blocks .label {
    align-self: center;
  }
}
.main-content .projects img {
  width: 100%;
  height: auto;
}
.jumbo-text-services {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
  padding: 0;
  position: relative;
  z-index: 5;
  top: -80px;
}
.jumbo-text-services h1 {
  font-size: 6.4rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .jumbo-text-services {
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 75px;
    color: #FFFFFF;
    padding: 0;
    position: relative;
    z-index: 5;
    top: -60px;
  }
  .jumbo-text-services h1 {
    font-size: 4.8rem;
  }
}
@media (max-width: 400px) {
  .jumbo-text-services {
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 75px;
    color: #FFFFFF;
    padding: 0;
    position: relative;
    z-index: 5;
    top: -50px;
  }
  .jumbo-text-services h1 {
    font-size: 3.6rem;
  }
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  opacity: 0;
  width: 100%;
  margin-bottom: 40px;
}
.tabs .tabs-item h4 {
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item .tab-text {
  padding-right: 20px;
}
@media (max-width: 768px) {
  .tabs .tabs-item {
    flex-direction: column;
    justify-content: center;
  }
}
.tabs .tabs-item-selected {
  animation: load  1s forwards;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 400px) {
  .tabs .tabs-item-selected {
    flex-direction: column;
    justify-content: center;
  }
}
.tabs .tabs-item-selected .desktop {
  width: 40%;
  height: auto;
}
@media (max-width: 768px) {
  .tabs .tabs-item-selected .desktop {
    width: 100%;
  }
}
.tabs .tabs-item-selected .mobile {
  display: none;
}
@media (max-width: 400px) {
  .tabs .tabs-item-selected .desktop {
    display: none;
  }
  .tabs .tabs-item-selected .mobile {
    width: 100%;
    display: flex;
  }
}
@keyframes load {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
.tabs .tabs-links {
  width: 100%;
  margin: 0;
  background-color: #FFFFFF;
}
@media (max-width: 768px) {
  .tabs .tabs-links {
    height: 250px;
    flex-direction: column;
    align-items: center;
  }
}
.tabs .tabs-links .tabs-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #222222;
  width: 23%;
  height: 50px;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}
.tabs .tabs-links .tabs-link:hover {
  background-color: #222222;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .tabs .tabs-links .tabs-link {
    width: 50%;
  }
}
@media (max-width: 400px) {
  .tabs .tabs-links .tabs-link {
    width: 100%;
  }
}
.tabs .tabs-links .tabs-link-selected {
  background-color: #5E9FB9;
  color: #FFFFFF;
}
.tabs .tabs-links .tabs-link-selected:hover {
  background-color: #FFFFFF;
}
.jumbo-text-contact {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
  padding: 0;
  position: relative;
  z-index: 5;
  top: -80px;
}
.jumbo-text-contact h1 {
  font-size: 6.4rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .jumbo-text-contact {
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 75px;
    color: #FFFFFF;
    padding: 0;
    position: relative;
    z-index: 5;
    top: -60px;
  }
  .jumbo-text-contact h1 {
    font-size: 4.8rem;
  }
}
@media (max-width: 400px) {
  .jumbo-text-contact {
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 75px;
    color: #FFFFFF;
    padding: 0;
    position: relative;
    z-index: 5;
    top: -50px;
  }
  .jumbo-text-contact h1 {
    font-size: 3.6rem;
  }
}
.main {
  display: flex;
  justify-content: space-between;
}
.main .contact {
  width: 50%;
}
.main .contact form {
  font-size: 1.6rem;
  font-weight: regular;
  line-height: 24px;
}
.main .contact .form-check-label {
  padding-left: 10px;
}
.main .contact .btn {
  background: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 0;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  color: #222222;
}
.main .contact .mobile {
  display: none;
}
@media (max-width: 400px) {
  .main .contact .desktop {
    display: none;
  }
  .main .contact .mobile {
    display: block;
  }
  .main .contact .btn {
    width: 100%;
  }
}
.main .locations p {
  font-weight: regular;
  font-size: 1.4rem;
  line-height: 26px;
  color: #222222;
}
.main .locations h5 {
  font-weight: regular;
  font-size: 2.0rem;
  line-height: 24px;
  color: #FFFFFF;
  color: #222222;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .main .locations h4 {
    padding-top: 30px;
  }
}
