/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #FFFFFF;
  color: #222222;
  font-family: Roboto, arial, sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
}
h1 {
  font-size: 24px;
  font-weight: bold;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
p {
  padding: 20px;
  margin: 0, 20px;
}
.footer {
  font-weight: regular;
  font-size: 14px;
  line-height: 26px;
}
.none {
  display: none;
}
.main-nav {
  max-width: 100%;
  margin: 0 auto;
  color: white;
}
.nav {
  height: 50px;
  padding: 10px 50px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #97A4B0;
}
.main-img {
  position: relative;
}
.main-img .bottom-left {
  position: absolute;
  bottom: 100px;
  left: 64px;
  font-size: 64px;
  line-height: 75px;
  color: white;
}
.btn,
.btn1,
.btn2 {
  cursor: pointer;
}
.menu {
  display: none;
  width: 100%;
  height: 100vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: rgba(153, 166, 177, 0.9);
  border-bottom: none;
  z-index: 2;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
}
.menu {
  list-style-type: none;
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 85px;
  color: #FFFFFF;
}
.menu :Hover {
  color: #222222;
}
.menu--open {
  display: block;
}
.section-about,
.future-design {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px 0;
}
.main .text-content {
  display: block;
  margin-top: 50px;
  max-width: 48%;
}
.main .img-content {
  display: block;
  max-width: 48%;
}
.main .mobile {
  display: none;
}
.text-content .button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  border: 1px solid black;
  cursor: pointer;
}
.villas,
.block-img {
  position: relative;
  text-align: center;
}
.villas .bottom-right,
.block-img .bottom-right {
  position: absolute;
  bottom: -15px;
  right: 130px;
  border: 1px #222222 solid;
  background-color: #D8D8D8;
  padding: 10px;
}
.recents p,
.outskirts p,
.blocks p {
  margin: 50px;
}
h3 {
  padding: 20px;
}
.out-img {
  position: relative;
  text-align: center;
}
.left-bottom {
  position: absolute;
  bottom: -15px;
  left: 100px;
  border: 1px solid #222222;
  background-color: #D8D8D8;
  padding: 10px;
}
.service-script p {
  text-align: justify;
  padding: 40px;
  margin: 0 50px 0 50px;
}
.tabs {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.tab {
  display: inline-block;
  padding: 20px;
  margin: 0 10px;
  text-align: center;
  border: 1px solid #222222;
  font-weight: bold;
  font-size: 28px;
}
.tab:hover {
  background-color: #222222;
  color: #fff;
}
.card {
  height: 300px;
}
.card .headline {
  font-size: 20px;
  font-weight: bold;
}
.card .span {
  text-align: center;
  width: 500px;
  margin: 20px;
}
.card .img-container {
  position: relative;
}
.card .img-container img {
  position: absolute;
  right: 20px;
  bottom: -2px;
}
.active-tab {
  background-color: #5E9FB9;
  color: #FFF;
}
@media (max-width: 500px) {
  .section-about {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .section-about h3 {
    padding: 0;
    margin: 0;
  }
  .section-about .button1 {
    align-self: center;
  }
  .future-design {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .future-design h3 {
    padding: 0;
    margin: 0;
  }
  .future-design .button1 {
    align-self: center;
  }
  p {
    text-align: justify;
    text-justify: inter-word;
    padding: 30px 0;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .main .desktop {
    display: none;
  }
  .main .mobile {
    width: 100%;
    display: block;
    align-content: center;
  }
}
.footer {
  height: 140px;
  background-color: #828282;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  padding: 10px;
  Color: #FFFFFF;
}
.footer h4 {
  font-weight: regular;
  font-size: 20px;
  line-height: 24px;
  Color: #FFFFFF;
}
.address {
  column-count: 3;
}
footer {
  text-align: center;
  background-color: #828282;
  padding-top: 10px;
  padding-bottom: 10px;
  Color: #FFFFFF;
}
@media (max-width: 599px) {
  .footer {
    display: inline-block;
    width: 100%;
    height: 550px;
  }
  .address {
    column-count: 1;
  }
  .form {
    width: 100%;
  }
  input {
    width: 90%;
    height: 30px;
  }
  h4 {
    letter-spacing: 3px;
  }
}
