/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  background-color: #ffffff;
  color: #222222;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 24px;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .container {
    max-width: 500px;
  }
}
.jumbotron {
  position: relative;
}
.jumbotron h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #ffffff;
  position: absolute;
  bottom: 50px;
  left: 7.5%;
}
@media (max-width: 500px) {
  .jumbotron h1 {
    font-size: 40px;
    line-height: 50px;
    left: 3%;
    bottom: 10px;
  }
}
.jumbotron img {
  width: 100%;
  height: auto;
}
header {
  background-color: #98a4af;
  display: flex;
  flex-direction: column;
  height: 50px;
  padding: 14px 3.5%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
}
header .wrapper h3 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #ffffff;
}
header .wrapper #nav-icon {
  cursor: pointer;
}
nav {
  display: none;
  width: 0vw;
  height: 0vh;
  color: #ffffff;
}
.fullscreen-nav {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
  align-items: center;
  position: fixed;
  left: 0;
  width: 0vw;
  height: 0vh;
  font-weight: bold;
  color: #ffffff;
  background-color: #98a4af;
  opacity: 0.9;
  z-index: 1;
}
.fullscreen-nav a {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 85px;
  text-decoration: none;
  opacity: 0;
  color: #ffffff;
}
.fullscreen-nav a:hover {
  color: #222222;
}
.container .mobile-img {
  display: none;
}
@media (max-width: 500px) {
  .container .mobile-img {
    display: block;
  }
}
@media (max-width: 500px) {
  .container .desktop-img {
    display: none;
  }
}
.container h2 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #222222;
  margin-bottom: 15px;
}
@media (max-width: 500px) {
  .container h2 {
    font-size: 2.8rem;
    margin-bottom: 28px;
  }
}
.container .page-content {
  margin: 50px 7%;
}
@media (max-width: 500px) {
  .container .page-content {
    margin: 0px 1%;
  }
}
.container .page-content .main-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .container .page-content .main-content {
    flex-flow: column;
    margin-bottom: 17px;
  }
}
.container .page-content .main-content .text-content {
  padding-top: 42px;
  width: 48%;
}
@media (max-width: 500px) {
  .container .page-content .main-content .text-content {
    width: 98%;
    margin: 0 auto;
  }
  .container .page-content .main-content .text-content:last-of-type {
    padding-top: 0;
    margin-top: -7px;
  }
}
@media (max-width: 500px) {
  .container .page-content .main-content .text-content p {
    width: 90%;
  }
}
.container .page-content .main-content .text-content button {
  margin-top: 30px;
  padding: 15px 32px;
  background: #ffffff;
  border: 1px solid #222222;
}
@media (max-width: 500px) {
  .container .page-content .main-content .text-content button {
    width: 100%;
    margin: 38px auto;
    padding: 17px;
    font-size: 1.6rem;
    font-weight: bold;
  }
}
.container .page-content .main-content img {
  margin-bottom: 85px;
  margin-right: 2.1%;
  width: 48%;
  height: auto;
}
@media (max-width: 500px) {
  .container .page-content .main-content img {
    margin-bottom: 34px;
    margin-right: 0;
    width: 100%;
  }
}
.container .page-content .main-content img .column-left .text-content {
  margin-bottom: 50px;
}
.container .page-content .recent-projects h2 {
  margin-bottom: 40px;
}
@media (max-width: 500px) {
  .container .page-content .recent-projects h2 {
    margin-left: 1%;
    margin-bottom: 25px;
  }
}
.container .page-content .recent-projects .single-project {
  margin-bottom: 60px;
}
.container .page-content .recent-projects .single-project h3 {
  background: #d8d8d8;
  border: 1px solid white;
  padding: 33px 1.9%;
  font-size: 2.4rem;
  display: inline-block;
  position: relative;
  bottom: 72px;
  width: 35%;
  letter-spacing: 8px;
  text-align: center;
}
@media (max-width: 500px) {
  .container .page-content .recent-projects .single-project h3 {
    left: 3%;
    bottom: 0;
    width: 99%;
    text-align: center;
    padding: 39px;
    font-size: 2.8rem;
  }
}
.container .page-content .recent-projects .single-project img {
  width: 100%;
  height: auto;
}
.container .page-content .recent-projects .single-project .right-align {
  margin-left: 65%;
}
@media (max-width: 500px) {
  .container .page-content .recent-projects .single-project .right-align {
    margin-left: 0%;
    left: 3%;
  }
}
.container .page-content .recent-projects .single-project p {
  width: 58%;
  margin: 0 auto;
  padding: 0 25px 47px;
}
@media (max-width: 500px) {
  .container .page-content .recent-projects .single-project p {
    width: 100%;
    padding: 30px 0 0;
    font-size: 1.8rem;
    letter-spacing: 1.1px;
    line-height: 2.6rem;
  }
}
.contact .jumbotron h1 {
  bottom: 15px;
  left: 8.5%;
}
@media (max-width: 500px) {
  .contact .jumbotron h1 {
    bottom: 30px;
    left: 3.5%;
    font-size: 3.6rem;
  }
}
.contact-content {
  display: flex;
  justify-content: space-between;
  margin: 43px 19% 30px 8.5%;
}
@media (max-width: 500px) {
  .contact-content {
    flex-direction: column;
    margin: 20px auto;
  }
}
.contact-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  padding-top: 11px;
}
@media (max-width: 500px) {
  .contact-content form {
    width: 98%;
  }
}
.contact-content form p {
  font-size: 1.2rem;
}
.contact-content form input {
  margin-bottom: 10px;
}
.contact-content form input[type="email"] {
  padding: 10px;
}
.contact-content form input[type="number"] {
  height: 4rem;
}
.contact-content form textarea {
  height: 13rem;
  margin-bottom: 10px;
}
.contact-content form #submit {
  padding: 15px 32px;
  background-color: #ffffff;
  border: 1px solid #222222;
  width: 33%;
}
@media (max-width: 500px) {
  .contact-content form #submit {
    width: 100%;
  }
}
.contact-content form .form-section {
  margin: 17px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-content form .radio-section {
  margin-bottom: 20px;
}
.contact-content .where-we-work {
  padding-top: 14px;
}
@media (max-width: 500px) {
  .contact-content .where-we-work {
    padding-top: 50px;
  }
}
.contact-content .where-we-work h2 {
  margin-bottom: 10px;
}
.contact-content .where-we-work h3 {
  margin-top: 47px;
  font-weight: bold;
  font-size: 2rem;
}
.contact-content .where-we-work h3:first-of-type {
  margin-top: 30px;
}
.contact-content .where-we-work address {
  line-height: 10px;
}
footer {
  background-color: #828282;
  color: #ffffff;
  font-size: 1.4rem;
  line-height: 26px;
  width: 100%;
  padding: 63px 6.8% 0 6.7%;
}
@media (max-width: 500px) {
  footer {
    padding: 37px 0 10px 0;
  }
}
footer .main-footer-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media (max-width: 500px) {
  footer .main-footer-content {
    flex-direction: column;
    align-items: flex-start;
  }
}
footer .main-footer-content div {
  margin: 0 2%;
}
@media (max-width: 500px) {
  footer .main-footer-content div {
    margin: 0 2px;
  }
}
footer .main-footer-content h3 {
  font-size: 2rem;
  line-height: 24px;
  padding-bottom: 10px;
  font-weight: bold;
}
@media (max-width: 500px) {
  footer .main-footer-content h3 {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 2.2rem;
  }
}
footer .main-footer-content input {
  padding: 10px 1%;
}
@media (max-width: 500px) {
  footer .main-footer-content input {
    padding: 17px;
    margin-bottom: 10px;
  }
}
footer .copyright {
  padding-top: 30px;
  text-align: center;
}
@media (max-width: 500px) {
  footer .copyright {
    text-align: left;
  }
}
.services .page-content {
  margin: 50px 8% 0;
}
@media (max-width: 500px) {
  .services .page-content {
    flex-direction: column;
    margin: 50px 2.5% 0 2.5%;
    line-height: 2.8rem;
    font-size: 1.7rem;
  }
}
.services .page-content .services-top-content {
  margin-bottom: 40px;
}
.services .page-content .tab-links {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .services .page-content .tab-links {
    flex-direction: column;
    text-align: center;
    font-size: 2.2rem;
  }
}
.services .page-content .tab-links .tab-link {
  border: 1px solid black;
  font-weight: bold;
  padding: 14px 2.9%;
  margin-bottom: 48px;
  width: 22%;
}
@media (max-width: 500px) {
  .services .page-content .tab-links .tab-link {
    width: 100%;
    margin-bottom: 20px;
  }
}
.services .page-content .tab-links .tab-link:hover {
  background-color: #222222;
  color: #fff;
}
.services .page-content .tab-links .selected {
  background-color: #5e9fb9;
}
.services .page-content .tab-content {
  display: none;
}
.services .page-content .tab-content-showing {
  display: flex;
  margin-bottom: 80px;
  width: 100%;
}
@media (max-width: 500px) {
  .services .page-content .tab-content-showing {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 62px;
  }
}
.services .page-content .tab-content-showing .tab-text {
  margin-right: 3.9%;
}
@media (max-width: 500px) {
  .services .page-content .tab-content-showing .tab-text h2 {
    font-size: 2.6rem;
    margin-bottom: 22px;
  }
}
.services .page-content .tab-content-showing .tab-text p {
  margin-bottom: 15px;
  line-height: 2.7rem;
}
@media (max-width: 500px) {
  .services .page-content .tab-content-showing .tab-text p {
    font-size: 1.7rem;
    line-height: 2.8rem;
    margin-bottom: 32px;
  }
}
.carousel {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.carousel h2 {
  text-align: center;
}
.carousel .car-btns {
  display: flex;
  justify-content: space-between;
}
.carousel .car-btns .car-btn {
  position: relative;
  top: 250px;
  font-size: 8rem;
  z-index: 1;
  cursor: pointer;
  color: #828282;
}
.carousel .car-btns .car-btn:hover {
  color: red;
}
.carousel img {
  width: 100%;
  height: auto;
  display: none;
}
