/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Arial', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
  font-weight: bold;
}
h4 {
  font-size: 2.5rem;
}
p {
  line-height: 24px;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
header {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.dropdown {
  z-index: 2;
  padding-right: 70px;
  cursor: pointer;
}
@media (max-width: 390px) {
  .dropdown {
    padding-right: 0px;
  }
}
.dropdown .dropdown-button {
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  /* &:hover {
      background-color: black;
    } */
}
@media (max-width: 390px) {
  .dropdown .dropdown-button {
    padding: 15px 22px 0px 0px;
  }
}
.dropdown .dropdown-content {
  position: absolute;
  background-color: #9aa5b0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -8px;
  margin-left: -12px;
  border: 2.5px solid #9aa5b0;
}
.dropdown .dropdown-link {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: white;
}
.dropdown .dropdown-link:hover {
  color: black;
}
.dropdown .dropdown-hidden {
  display: none;
}
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 47px;
  background-color: #FFFFFF;
  margin-top: 49px;
}
.tabs .topics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.tabs .topics .title {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
}
.tabs .topics .tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: black;
  background-color: #FFFFFF;
  border: 1px solid black;
  width: 21.5%;
  height: 49px;
  font-size: 12px;
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
}
.tabs .topics .tab:hover {
  text-decoration: underline;
}
.tabs .topics .active-tab {
  background-color: #569EB7;
  color: #FFFFFF;
  border: 2px solid black;
}
.tabs-items .tabs-item {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
  margin-bottom: 80px;
}
.tabs-items .tabs-item .tab-item-text {
  width: 50%;
}
.tabs-items .tabs-item .tab-item-text p {
  padding-top: 15px;
  padding-bottom: 11px;
  line-height: 26px;
}
.tabs-items .tabs-item .tab-picture {
  padding-top: 37px;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #9aa5b0;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  width: 100%;
  opacity: 0.9;
}
header h1 {
  padding: 0px 0px 0px 84px;
  font-size: 2.3rem;
  color: #FFFFFF;
  margin: 14px 0px;
  font-weight: 600;
}
@media (max-width: 390px) {
  header h1 {
    padding: 0px 0px 0px 19px;
  }
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #818181;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  padding: 126px 0px;
  height: 131px;
}
@media (max-width: 390px) {
  footer {
    flex-flow: column nowrap;
    padding: 0px 0px;
    height: 682px;
    margin: 0 auto;
  }
}
footer .form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  color: white;
  width: 27%;
  height: 130px;
}
@media (max-width: 390px) {
  footer .form {
    width: 91%;
    height: 127px;
  }
}
footer .form h4 {
  font-size: 2rem;
}
footer .form form input {
  color: gray;
  width: 100%;
  padding: 10px 7px;
  border-radius: 5px;
}
footer .form p {
  font-size: 1.26rem;
}
footer .address {
  color: white;
}
@media (max-width: 390px) {
  footer .address {
    align-self: flex-start;
    padding-left: 16px;
  }
}
footer .address h4 {
  font-size: 2rem;
}
footer .address p {
  line-height: 29px;
  font-size: 1.4rem;
}
.home .top-content {
  position: relative;
  z-index: -1;
}
.home .top-content img {
  z-index: -2;
  margin-top: -50px;
}
@media (max-width: 390px) {
  .home .top-content img {
    margin-top: 0px;
  }
}
.home .top-content h1 {
  position: absolute;
  font-size: 6.1rem;
  color: #FFFFFF;
  bottom: 56px;
  left: 82px;
  line-height: 73px;
  font-weight: 600;
}
@media (max-width: 390px) {
  .home .top-content h1 {
    font-size: 3.3rem;
    bottom: 28px;
    left: 14px;
    line-height: 41px;
    font-weight: 600;
  }
}
.home .main-content {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  padding-top: 49px;
  width: 83%;
}
.home .main-content .content-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-bottom: 99px;
}
@media (max-width: 390px) {
  .home .main-content .content-container {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
    padding-bottom: 36px;
  }
}
.home .main-content .content-container .text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 49%;
  padding: 21px 0px 13px 0px;
}
@media (max-width: 390px) {
  .home .main-content .content-container .text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 21px 0px 13px 0px;
  }
}
.home .main-content .content-container .text-content h3 {
  padding-top: 5px;
}
@media (max-width: 390px) {
  .home .main-content .content-container .text-content h3 {
    padding-bottom: 18px;
  }
}
@media (max-width: 390px) {
  .home .main-content .content-container .text-content p {
    padding-bottom: 25px;
  }
}
.home .main-content .content-container .text-content .button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  width: 133px;
  height: 47px;
  padding: 10px 10px;
  border: 1px solid black;
  color: black;
  background-color: #FFFFFF;
}
@media (max-width: 390px) {
  .home .main-content .content-container .text-content .button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    width: 100%;
    height: 47px;
    padding: 10px 10px;
    border: 1px solid black;
    color: black;
    background-color: #FFFFFF;
  }
}
.home .main-content .content-container .small-img {
  width: 48%;
}
@media (max-width: 390px) {
  .home .main-content .content-container .small-img {
    width: 100%;
  }
}
.home .main-content .content-container .small-img img {
  height: 273px;
}
@media (max-width: 390px) {
  .home .main-content .second {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
}
.home .main-content-middle {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  width: 83%;
}
@media (max-width: 390px) {
  .home .main-content-middle {
    width: 100%;
  }
}
.home .main-content-middle h3 {
  padding-bottom: 46px;
}
@media (max-width: 390px) {
  .home .main-content-middle h3 {
    padding-left: 12px;
  }
}
.home .main-content-middle .wide-img-container {
  display: flex;
  flex-flow: column nowrap;
}
.home .main-content-middle .wide-img-container img {
  z-index: -1;
}
@media (max-width: 390px) {
  .home .main-content-middle .wide-img-container img {
    height: 199px;
  }
}
.home .main-content-middle .wide-img-container .graybox {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background: #D8D8D8;
  width: 313px;
  height: 93px;
  z-index: 1;
  margin-top: -55px;
  margin-bottom: 38px;
  font-size: 2.5rem;
  letter-spacing: 7px;
}
@media (max-width: 390px) {
  .home .main-content-middle .wide-img-container .graybox {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background: #D8D8D8;
    width: 313px;
    height: 93px;
    z-index: 1;
    margin-top: -55px;
    margin-bottom: 38px;
    font-size: 2.5rem;
    letter-spacing: 7px;
    width: 92%;
    margin-top: -16px;
    margin-bottom: 12px;
  }
}
.home .main-content-middle .small-text-content {
  width: 53%;
  margin: 0 auto;
  padding-bottom: 87px;
}
@media (max-width: 390px) {
  .home .main-content-middle .small-text-content {
    width: 92%;
    padding-bottom: 30px;
  }
}
.home .main-content-middle .small-text-content p {
  font-size: 1.78rem;
  padding: 13px 0px;
}
.home .main-content-middle .middle .graybox {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background: #D8D8D8;
  width: 313px;
  height: 93px;
  z-index: 1;
  margin-top: -55px;
  margin-bottom: 38px;
  font-size: 2.5rem;
  letter-spacing: 7px;
}
@media (max-width: 390px) {
  .home .main-content-middle .middle .graybox {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background: #D8D8D8;
    width: 313px;
    height: 93px;
    z-index: 1;
    margin-top: -55px;
    margin-bottom: 38px;
    font-size: 2.5rem;
    letter-spacing: 7px;
    width: 92%;
    margin-top: -16px;
    margin-bottom: 12px;
  }
}
.home .copyright {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #818181;
  padding-bottom: 10px;
  z-index: 2;
  margin-top: -27px;
  color: white;
  font-size: 1.18rem;
}
@media (max-width: 390px) {
  .home .copyright {
    padding-top: 19px;
    padding-bottom: 14px;
    padding-right: 167px;
    font-size: 1.1rem;
  }
}
.services {
  z-index: -1;
}
.services .services-top h1 {
  z-index: 0;
  position: absolute;
  top: 165px;
  left: 523px;
  color: white;
  font-weight: 600;
  font-size: 6.1rem;
}
.services .services-middle {
  width: 84%;
  margin: 0 auto;
  padding-top: 49px;
}
.services .copyright {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #818181;
  padding-bottom: 10px;
  z-index: 2;
  margin: 0 auto;
  margin-top: -27px;
  color: white;
  font-size: 1.18rem;
}
