/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
.nav-bar.expand {
  height: 50%;
  flex-direction: column;
}
.nav-bar.expand .nav-bar-content {
  margin: 22px auto;
}
@media (max-width: 500px) {
  .nav-bar.expand .nav-bar-content {
    padding: 0 4%;
  }
}
.nav-bar.expand .nav {
  display: flex;
  flex-direction: column;
  width: 18%;
  margin: 103px auto;
}
@media (max-width: 500px) {
  .nav-bar.expand .nav {
    width: 55%;
  }
}
.nav-bar.expand .nav a {
  display: flex;
  flex-direction: column;
  font-weight: Bold;
  font-size: 48px;
  line-height: 85px;
  text-decoration: none;
  color: #FFFFFF;
}
.nav-bar.expand .nav a:hover {
  color: #222222;
}
.nav-bar {
  background-color: lightgray;
  height: 50px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  z-index: 1;
}
@media (max-width: 500px) {
  .nav-bar {
    max-width: 320px;
  }
}
.nav-bar .nav-bar-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 855px;
  width: 100%;
  margin: auto;
}
@media (max-width: 500px) {
  .nav-bar .nav-bar-content {
    margin: auto 4%;
  }
  .nav-bar .nav-bar-content img {
    vertical-align: top;
  }
}
.nav-bar .logo {
  position: fixed;
  top: 15px;
  font-weight: Bold;
  font-size: 24px;
  color: #FFFFFF;
}
.nav a {
  display: none;
}
.jumbotron {
  font-weight: Bold;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
}
.home .jumbotron {
  display: flex;
  align-items: flex-end;
  height: 598px;
  background: url('../img/home/home-jumbotron.png') center;
}
@media (max-width: 500px) {
  .home .jumbotron {
    height: 260px;
    background: url('../img/home/home-mobile-jumbotron.png') center;
  }
}
.home .jumbotron .jumbo-container {
  max-width: 855px;
  width: 100%;
  margin: 0 auto 50px;
}
@media (max-width: 500px) {
  .home .jumbotron .jumbo-container {
    margin: 0 auto 23px 16px;
  }
  .home .jumbotron .jumbo-container h1 {
    font-size: 36px;
    line-height: 42px;
  }
}
.services .jumbotron {
  background: url('../img/services/services-jumbotron.png');
  height: 250px;
  display: flex;
}
.services .jumbotron .jumbo-container {
  display: flex;
  align-items: flex-end;
  margin: 0 0 43px 8.3%;
}
.services .jumbotron .jumbo-container h1 {
  font-weight: Bold;
  font-size: 64px;
  color: #FFFFFF;
}
.about .jumbotron {
  background: url(../img/about/skyline.jpg);
  background-size: cover;
  background-position: 100% 69%;
  height: 550px;
  max-width: 1024px;
  width: 100%;
  display: flex;
}
.about .jumbo-container {
  display: flex;
  align-items: flex-end;
  margin: 0 0 43px 8.3%;
}
.home-content {
  font-family: "Roboto", Arial, Sans-serif;
  max-width: 855px;
  width: 100%;
  margin: 52px auto 0;
}
@media (max-width: 500px) {
  .home-content {
    margin: 36px auto 6px;
  }
}
.home-content .home-article {
  display: flex;
  justify-content: space-between;
  margin: 0 0 99px;
}
@media (max-width: 500px) {
  .home-content .home-article {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 0 19px;
  }
}
.home-content .home-article .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}
@media (max-width: 500px) {
  .home-content .home-article .text {
    width: 90%;
  }
}
.home-content .home-article .text h2 {
  font-weight: Bold;
  font-size: 24px;
  color: #222222;
  padding: 50px 0 20px;
}
@media (max-width: 500px) {
  .home-content .home-article .text h2 {
    padding: 27px 0 21px;
  }
}
.home-content .home-article .text .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  width: 135px;
  height: 45px;
  margin: 26px 0;
  transition: all 0.2s ease;
}

.home-content .home-article .text .btn:hover {
  transition: all 0.2s ease;
  background-color: #D8D8D8
}

.learn-more-button{
  text-decoration: none;
  color: black;
}

@media (max-width: 500px) {
  .home-content .home-article .text .btn {
    width: 100%;
  }
}
.home-content .home-article .text p {
  line-height: 24px;
  font-size: 16px;
}
.home-content .home-article .home-img.first {
  background: url("../img/home/home-img-1.png") center;
  width: 48%;
  height: 275px;
}
@media (max-width: 500px) {
  .home-content .home-article .home-img.first {
    background: url("../img/home/home-mobile-img-1.png") center;
    width: 90%;
  }
}
.home-content .home-article .home-img.second {
  background: url("../img/home/home-img-2.png") center;
  width: 49%;
  height: 275px;
}
@media (max-width: 500px) {
  .home-content .home-article .home-img.second {
    background: url("../img/home/home-mobile-img-2.png") center;
    width: 90%;
  }
}
.home-content .home-article.second {
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .home-content .home-article.second {
    flex-direction: column-reverse;
  }
}
.home-content .home-article.second .text {
  margin-left: 30px;
}
@media (max-width: 500px) {
  .home-content .home-article.second .text {
    margin-left: 0px;
  }
  .home-content .home-article.second .text h2 {
    padding: 29px 0 21px;
  }
  .home-content .home-article.second .text .btn {
    margin: 26px 0;
  }
}
.home-content .home-article.second h2 {
  padding: 41px 0 21px;
}
.home-content .home-article.second .btn {
  margin: 30px 0;
}
.services-content {
  max-width: 855px;
  width: 100%;
  margin: 0 auto 32px;
}
.services-content .intro {
  margin: 51px auto 41px;
  line-height: 26px;
}
.services-content .service-options {
  display: flex;
  justify-content: space-between;
}
.services-content .service-options .option {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 183px;
  border: 1px black solid;
}
.services-content .service-options .active {
  background-color: lightblue;
}
.services-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 52px 0 12px;
}
.services-content .display-options {
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.services-content .display-options .text {
  width: 50%;
}
.services-content .display-options .text p {
  line-height: 26px;
  margin: 3px 0 -2px 1px;
}
.services-content .display-options .img {
  width: 400px;
  height: 275px;
}
.services-content .display-options .img.pre-construction {
  background: url('../img/services/services-tab-pre-construction-img.png');
}
.services-content .display-options .img.construction {
  background: url('../img/services/services-tab-construction-img.png');
}
.services-content .display-options .img.design-build {
  background: url('../img/services/services-tab-design-build-img.png');
}
.services-content .display-options .img.sustainability {
  background: url('../img/services/services-tab-sustainability-img.png');
}
.main-content {
  font-family: "Roboto", Arial, Sans-serif;
  max-width: 855px;
  width: 100%;
  margin: 0 auto;
}
.main-content h1 {
  font-size: 24px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .main-content h1 {
    margin-left: 5%;
  }
}
.main-content article {
  display: flex;
  flex-direction: column;
  padding: 46px 0 54px;
  align-items: center;
}
@media (max-width: 500px) {
  .main-content article {
    padding: 24px 0 20px;
  }
}
.main-content article .main-img {
  max-width: 855px;
  width: 100%;
  height: 230px;
}
@media (max-width: 500px) {
  .main-content article .main-img {
    height: 200px;
  }
}
.main-content article .first {
  background: url("../img/home/home-villas-img.png") center;
}
@media (max-width: 500px) {
  .main-content article .first {
    background: url("../img/home/home-mobile-villas-img.png") center;
  }
}
.main-content article .second {
  background: url("../img/home/home-outskirts-img.png") center;
}
@media (max-width: 500px) {
  .main-content article .second {
    background: url("../img/home/home-mobile-outskirts-img.png") center;
  }
}
.main-content article .third {
  background: url("../img/home/home-the-blocks-img.png") center;
}
@media (max-width: 500px) {
  .main-content article .third {
    background: url("../img/home/home-mobile-the-blocks-img.png") center;
  }
}
.main-content article p {
  font-size: 18px;
  width: 52%;
  line-height: 24px;
  transform: translateX(-4px);
}
@media (max-width: 500px) {
  .main-content article p {
    width: 89%;
  }
}
.main-content article .main-inlay {
  height: 95px;
  width: 315px;
  background-color: #D8D8D8;
  border: 1px solid #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content article .main-inlay h3 {
  font-size: 28px;
  letter-spacing: 7px;
}
.main-content article .in-first {
  margin: -55px 0 49px auto;
}
@media (max-width: 500px) {
  .main-content article .in-first {
    width: 90%;
    margin: -14px auto 27px;
    border: none;
  }
}
.main-content article .in-second {
  margin: -55px auto 49px 0;
}
@media (max-width: 500px) {
  .main-content article .in-second {
    width: 90%;
    margin: -12px auto 27px;
    border: none;
  }
}
.main-content article .in-third {
  margin: -55px 0 49px auto;
}
@media (max-width: 500px) {
  .main-content article .in-third {
    width: 90%;
    margin: -10px auto 27px;
    border: none;
  }
}
.about .carousel {
  margin: 60px auto;
}
.about section {
  height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.about #slide-1,
.about #slide-2 {
  height: 550px;
}
.about .title {
  display: flex;
  justify-content: center;
  margin: 60px auto;
  font-size: 60px;
}
.about .content {
  display: flex;
  justify-content: space-around;
  height: 300px;
}
.about .content article {
  width: 45%;
  padding: 2%;
}
.about .content article p.inactive {
  display: none;
}
.about .content .main-img {
  width: 40%;
  background-size: cover;
}
.about .img-roll {
  height: 300px;
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
.about .img-roll .img {
  width: 25%;
  height: 66%;
  margin: auto;
  background-size: auto 100%;
  opacity: 0.7;
}
.about .img-roll .selected {
  opacity: 1;
  border: 3px #230100 solid;
}
.about .story .img-1 {
  background-image: url('../img/about/hanging-beam.jpg');
}
.about .story .img-2 {
  background-image: url('../img/about/car.jpg');
}
.about .story .img-3 {
  background-image: url('../img/about/old-building.jpg');
}
.about .current .img-1 {
  background-image: url('../img/about/current-1.jpg');
}
.about .current .img-2 {
  background-image: url('../img/about/current-2.jpg');
}
.about .current .img-3 {
  background-image: url('../img/about/current-3.jpg');
}
.about .direction .img-1 {
  background-image: url('../img/about/future-1.jpg');
}
.about .direction .img-2 {
  background-image: url('../img/about/future-2.jpg');
}
.about .direction .img-3 {
  background-image: url('../img/about/future-3.jpg');
}
.about .bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}
.about #slide-1 .bcg {
  background-image: url('../img/about/clipboard.jpg');
}
.about #slide-2 .bcg {
  background-image: url('../img/about/poodle.jpg');
}
.about .footer {
  height: 250px;
}
.footer {
  font-family: "Roboto", Arial, Sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #828282;
  margin: 47px 0 0;
  height: 250px;
  color: white;
  justify-content: center;
  line-height: 24px;
}
@media (max-width: 500px) {
  .footer {
    margin: 57px 0 0;
    height: 100%;
    padding-bottom: 16px;
  }
}
.footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 855px;
  width: 100%;
  margin: 40px auto 15px;
  padding: 16px 0;
}
@media (max-width: 500px) {
  .footer .footer-content {
    flex-direction: column;
    margin: 8px auto 15px;
  }
  .footer .footer-content .contact {
    width: 90%;
    margin: 0 auto;
  }
}
.footer .footer-content input {
  margin-top: 13px;
  height: 37px;
  border-radius: 5px;
  width: 275px;
}
@media (max-width: 500px) {
  .footer .footer-content input {
    margin-top: 16px;
    height: 44px;
    width: 280px;
    margin: 16px auto 9px;
  }
}
.footer .footer-content p {
  font-size: 13px;
}
.footer .address {
  width: 16%;
}
@media (max-width: 500px) {
  .footer .address {
    width: 100%;
    line-height: 26px;
    margin: 18px 0 2px 16px;
  }
  .footer .address h4 {
    margin-bottom: 3px;
  }
  .footer .address p {
    font-size: 14px;
  }
}
.footer h4 {
  font-weight: bold;
  font-size: 20px;
}
.footer small {
  font-size: 13px;
}
@media (max-width: 500px) {
  .footer small {
    font-size: 11px;
    margin-left: -28%;
  }
}
.carousel {
  display: flex;
  justify-content: center;
  height: 550px;
  width: 100%;
  max-width: 855px;
  margin: 60px auto 0;
  position: relative;
}
.carousel img {
  max-width: 855px;
  width: 100%;
  height: 550px;
  display: none;
  object-fit: cover;
}
.carousel .left-button,
.carousel .right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #fff;
  background-color: #333;
  font-size: 40px;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.carousel .left-button {
  position: absolute;
  left: 0px;
  top: 40%;
}
.carousel .right-button {
  position: absolute;
  right: 0px;
  top: 40%;
}
.carousel .carousel-active-right {
  display: block;
  position: absolute;
  animation-name: slideInRight;
  animation-duration: 2s;
  animation-timing-function: ease;
  overflow-x: hidden;
}
.carousel .carousel-inactive-right {
  display: block;
  position: relative;
  animation-name: slideOutRight;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  overflow-x: hidden;
}
.carousel .carousel-active-left {
  display: block;
  position: absolute;
  animation-name: slideInLeft;
  animation-duration: 2s;
  animation-timing-function: ease;
  visibility: visible;
  overflow-x: hidden;
}
.carousel .carousel-inactive-left {
  display: block;
  position: relative;
  animation-name: slideOutLeft;
  animation-duration: 2s;
  animation-timing-function: ease;
  visibility: visible;
  animation-fill-mode: forwards;
  overflow-x: hidden;
}
@keyframes slideInRight {
  from {
    left: 100%;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    left: 0%;
  }
}
@keyframes slideOutRight {
  from {
    left: 0%;
  }
  to {
    left: -100%;
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes slideInLeft {
  from {
    left: -100%;
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    left: 0%;
  }
}
@keyframes slideOutLeft {
  from {
    left: 0%;
  }
  to {
    left: 100%;
    visibility: hidden;
    opacity: 0;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  margin: auto;
  flex-direction: column;
  max-width: 1024px;
  width: 100%;
  background-color: #FFFFFF;
  color: #222222;
  font-weight: Regular;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", Arial, Sans-serif;
  overflow-x: hidden;
}

@media (max-width: 500px) {
  .container {
    max-width: 320px;
  }
}
