/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', 'Arial', sans-serif;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.nav-container {
  background: #99a4af;
}
.nav-container .navigation {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
}
.nav-container .logo {
  font-weight: 700;
  font-size: 2.4rem;
  color: #FFFFFF;
}
.nav-container .nav-menu {
  display: none;
}
.home .jumbotron {
  position: relative;
}
.home h1 {
  position: absolute;
  bottom: 20px;
  left: 5%;
  z-index: 2;
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #FFFFFF;
}
