/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
html {
  font-size: 62.5%;
  font-family: Roboto, Arial, sans-serif;
}
p {
  font-weight: regular;
  font-size: 1.6rem;
  line-height: 24px;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
  align-items: center;
}
header {
  display: flex;
  width: 100%;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #99A4AF;
  border: 2px solid black;
  height: 50px;
  align-items: center;
  padding: 0px 20px 0px 20px;
}
nav .logo {
  width: 15%;
}
nav h1 {
  font-weight: bold;
  font-size: 2.4rem;
  color: #FFFFFF;
}
nav .navigation {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}
.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 500px;
  background-image: url(../img/home/home-jumbotron.png);
}
@media (max-width: 700px) {
  .jumbotron {
    height: 300px;
  }
}
.jumbotext {
  font-size: 6.4rem;
  width: 200px;
  line-height: 7.5rem;
  margin: 50px;
  color: #FFFFFF;
  font-weight: bold;
}
@media (max-width: 700px) {
  .jumbotext {
    font-size: 5.5rem;
    width: 100px;
    margin: 20px;
    line-height: 7rem;
  }
}
.about {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 700px;
  justify-content: space-around;
}
@media (max-width: 700px) {
  .about {
    align-items: center;
    height: 1000px;
  }
}
.about .aboutone {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .about .aboutone {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.about .abouttwo {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .about .abouttwo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.about .aboutcontent {
  display: flex;
  flex-direction: column;
  width: 48%;
  justify-content: space-evenly;
}
@media (max-width: 700px) {
  .about .aboutcontent {
    width: 100%;
    justify-content: space-around;
  }
}
.about h2 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
}
.about .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 35%;
  height: 15%;
}
@media (max-width: 700px) {
  .about .button {
    width: 100%;
    height: 40px;
  }
}
.about .aboutimg {
  width: 48%;
  height: 48%;
}
.about .aboutimg img {
  width: 100%;
  height: 100%;
}
@media (max-width: 700px) {
  .about .aboutimg {
    width: 100%;
    height: 100%;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-around;
}
.projects h3 {
  font-weight: bold;
  font-size: 2.8rem;
  color: #222222;
  align-self: start;
  margin-bottom: 50px;
}
.projects .projectitem {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.projects .projectsimg {
  width: 100%;
  height: 187px;
  border: 1px solid black;
  margin-bottom: 60px;
  position: relative;
}
.projects .projectsimg .projecttitle {
  background: #D8D8D8;
  padding: 20px;
  width: 200px;
  position: absolute;
  bottom: -25px;
  right: 10px;
  letter-spacing: 0.3rem;
  font-size: 2rem;
  text-align: center;
}
.projects .projectsimg .reverse {
  left: 10px;
}
@media (max-width: 700px) {
  .projects .projectsimg {
    max-width: 450px;
  }
}
.projects .projecttext {
  width: 50%;
  margin-bottom: 60px;
}
.projects .projecttext h3 {
  align-self: flex-start;
}
@media (max-width: 700px) {
  .projects .projecttext {
    width: 95%;
  }
}
.villas {
  background-image: url(../img/home/home-villas-img.png);
  max-width: 100%;
  height: 100%;
}
.outskirts {
  background-image: url(../img/home/home-outskirts-img.png);
}
.blocks {
  background-image: url(../img/home/home-the-blocks-img.png);
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 235px;
  background-color: #828282;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}
footer .footerrow {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media (max-width: 700px) {
  footer .footerrow {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  footer {
    height: 1000px;
  }
}
footer .places {
  width: 15%;
}
@media (max-width: 700px) {
  footer .places {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 5px;
  }
}
footer .email {
  width: 30%;
}
@media (max-width: 700px) {
  footer .email {
    width: 95%;
    align-self: center;
  }
}
footer h3 {
  font-weight: regular;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}
footer p,
footer address,
footer .copyright {
  font-weight: regular;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: #FFFFFF;
}
footer .copyright {
  font-size: 1.1rem;
}
footer input {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: none;
}
