/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: 'Roboto', sans-serif !important;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
p {
  line-height: 20px;
}
footer {
  background-color: #828282;
  padding: 50px;
  display: flex;
  color: #ffffff;
  position: relative;
  text-shadow: 0px 1px 0px black;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  footer {
    flex-direction: column;
  }
}
footer h1 {
  font-size: 1.2rem;
}
@media (max-width: 500px) {
  footer h1 {
    margin-top: 30px;
  }
}
footer li {
  line-height: 20px;
}
.footer-bottom {
  position: absolute;
  bottom: 0;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .footer-bottom {
    top: 90%;
  }
}
body {
  position: relative;
}
button {
  margin-top: 30px;
  padding: 10px 15px 10px 15px ;
  border-radius: 5%;
  background: white;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}
@media (max-width: 500px) {
  button {
    width: 100%;
  }
}
body {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
header {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #98A4AF;
  padding-top: 5px;
  padding-bottom: 5px;
  Font-Weight: Bold;
  Font-Size: 1.3rem;
  Color: #FFFFFF;
  z-index: 5;
  height: 30px;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (max-width: 500px) {
  header {
    width: 100%;
  }
}
header .drop-button img {
  cursor: pointer;
}
header .drop-button2 {
  display: none;
}
header img {
  z-index: 4;
  margin-right: 50px;
  cursor: pointer;
}
header .heading {
  margin-left: 50px;
  z-index: 3;
}
.headImg {
  margin-bottom: 30px;
  position: relative;
}
.headImg img {
  width: 100%;
  height: 500px;
}
@media (max-width: 500px) {
  .headImg img {
    width: 100%;
    height: 200px;
  }
}
.headImg h2 {
  left: 8%;
  bottom: 10%;
  position: absolute;
  font-size: 4rem;
  color: #ffffff;
}
@media (max-width: 500px) {
  .headImg h2 {
    font-size: 2rem;
  }
}
.item-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 80px;
}
@media (max-width: 500px) {
  .item-1 {
    width: 90%;
    flex-direction: column-reverse;
  }
}
.item-1 .Smith {
  width: 45%;
}
@media (max-width: 500px) {
  .item-1 .Smith {
    width: 90%;
  }
}
.item-1 .Smith h1 {
  font-size: 1.3rem;
  Font-Weight: Bold;
}
.item-1 .Smith p {
  margin-top: 20px;
}
.item-1 img {
  width: 45%;
  margin-bottom: 25px;
}
@media (max-width: 500px) {
  .item-1 img {
    height: 350px;
    width: 100%;
  }
}
.item-2 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}
@media (max-width: 500px) {
  .item-2 {
    width: 90%;
    flex-direction: column-reverse;
  }
}
.item-2 .Futuristic {
  width: 45%;
}
@media (max-width: 500px) {
  .item-2 .Futuristic {
    width: 90%;
  }
}
.item-2 .Futuristic h1 {
  font-size: 1.3rem;
  Font-Weight: Bold;
}
.item-2 .Futuristic p {
  margin-top: 20px;
}
.item-2 img {
  width: 45%;
  margin-bottom: 25px;
}
@media (max-width: 500px) {
  .item-2 img {
    width: 100%;
    height: 350px;
  }
}
.Recent-Projects {
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .Recent-Projects {
    width: 100%;
  }
}
.Recent-Projects h1 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.2rem;
}
@media (max-width: 500px) {
  .Recent-Projects h1 {
    margin-left: 5%;
  }
}
.Recent-Projects img {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 60px;
}
@media (max-width: 500px) {
  .Recent-Projects img {
    height: 150px;
  }
}
.Recent-Projects p {
  margin: 0 auto;
  width: 35%;
}
@media (max-width: 500px) {
  .Recent-Projects p {
    width: 80%;
    margin: 0 auto;
  }
}
.Recent-Projects .Project-1 {
  margin-bottom: 30px;
  position: relative;
}
.Recent-Projects .Project-2 {
  margin-bottom: 30px;
  position: relative;
}
.Recent-Projects .Project-3 {
  margin-bottom: 30px;
  position: relative;
}
.Recent-Projects .combine {
  position: relative;
}
@media (max-width: 500px) {
  .Recent-Projects .combine {
    display: flex;
    justify-content: center;
  }
}
.Recent-Projects .box {
  background-color: #D8D8D8;
  position: absolute;
  display: inline;
  font-size: 1.4rem;
}
.Recent-Projects .one {
  padding: 30px 80px 30px 80px;
  bottom: 10%;
  right: 0;
}
@media (max-width: 500px) {
  .Recent-Projects .one {
    right: auto;
  }
}
.Recent-Projects .two {
  padding: 30px 80px 30px 80px;
  bottom: 10%;
  left: 0;
}
@media (max-width: 500px) {
  .Recent-Projects .two {
    left: auto;
  }
}
.Recent-Projects .three {
  padding: 30px 80px 30px 80px;
  bottom: 10%;
  right: 0;
}
@media (max-width: 500px) {
  .Recent-Projects .three {
    right: auto;
  }
}
.contact-head {
  margin-bottom: 30px;
  position: relative;
}
.contact-head img {
  width: 100%;
}
@media (max-width: 500px) {
  .contact-head img {
    width: 100%;
  }
}
.contact-head h2 {
  left: 5%;
  bottom: 10%;
  position: absolute;
  font-size: 4rem;
  color: #ffffff;
}
@media (max-width: 500px) {
  .contact-head h2 {
    font-size: 2rem;
  }
}
.contact-flex {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}
@media (max-width: 500px) {
  .contact-flex {
    flex-direction: column;
    align-items: center;
  }
}
.contact-flex .inTouch {
  margin-left: 5%;
  width: 40%;
}
@media (max-width: 500px) {
  .contact-flex .inTouch {
    width: 80%;
  }
}
.contact-flex .inTouch h1 {
  margin-bottom: 40px;
  font-size: 1.4rem;
  font-weight: bold;
}
.contact-flex .inTouch .email-text {
  margin-top: 10px;
  padding: 8px;
  width: 95%;
  margin-bottom: 10px;
}
.contact-flex .inTouch .select-form {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  margin-bottom: 30px;
}
.contact-flex .inTouch p {
  margin-bottom: 40px;
  font-size: 10px;
}
.contact-flex .inTouch .overview-text {
  margin-top: 10px;
  padding-bottom: 80px;
  width: 100%;
  margin-bottom: 10px;
}
.contact-flex .Work {
  display: flex;
  flex-direction: column;
  width: 30%;
}
@media (max-width: 500px) {
  .contact-flex .Work {
    width: 75%;
  }
}
.contact-flex .Work h1 {
  font-size: 1.4rem;
  margin-top: 30px;
  font-weight: bold;
}
.contact-flex .Work li {
  line-height: 20px;
}
.service-head {
  margin-bottom: 30px;
  position: relative;
}
.service-head img {
  width: 100%;
}
@media (max-width: 500px) {
  .service-head img {
    width: 100%;
  }
}
.service-head h2 {
  left: 8%;
  bottom: 10%;
  position: absolute;
  font-size: 4rem;
  color: #ffffff;
}
@media (max-width: 500px) {
  .service-head h2 {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .service-body .service-body-flex1 {
    margin-bottom: 350px;
  }
}
.service-content {
  margin: 0 auto;
  width: 77%;
  margin-bottom: 50px;
}
.service-intro p {
  line-height: 24px;
}
.section {
  margin: 0 auto;
  width: 77%;
  margin-bottom: 50px;
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  width: 100%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  color: black;
}
.tabs .tab-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .tabs .tab-flex {
    flex-direction: column;
  }
}
.tabs .tab-flex p {
  width: 90%;
  margin-bottom: 30px;
}
.tabs .tab-flex .serviceImg img {
  height: 200px;
  margin-bottom: 200px;
}
@media (max-width: 500px) {
  .tabs .tab-flex .serviceImg img {
    height: 5px;
  }
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  justify-content: space-between;
  color: black;
}
@media (max-width: 500px) {
  .tabs .tabs-links {
    flex-direction: column;
  }
}
.tabs .tabs-link {
  padding: 10px 15px;
  font-size: 24px;
  background-color: #ffffff;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #5E9FB9;
}
@media (max-width: 500px) {
  .tabs .tabs-link {
    margin-bottom: 20px;
    padding: 10px 15px;
  }
}
.tabs .tabs-link-selected {
  z-index: 2;
  background-color: #5E9FB9;
  color: #ffffff;
}
.tabs .tabs-link-selected:hover {
  background-color: #5E9FB9;
}
.home-links {
  display: none;
  margin: auto auto;
}
.home-links a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.8rem;
}
.on {
  display: block;
}
.none {
  display: none;
}
