/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.btn {
  border: 2px solid #222222;
  padding: 10px;
  font-size: 1.6em;
  margin-top: 15px;
  cursor: pointer;
}
.btn:hover {
  background-color: black;
  color: #fff;
}
@media (max-width: 500px) {
  .btn {
    width: 100%;
    margin-bottom: 25px;
    background-color: #fff;
  }
}
footer {
  color: #fff;
  background-color: #828282;
  padding-top: 60px;
  padding-bottom: 10px;
  padding-left: 8%;
  padding-right: 8%;
}
footer .locations {
  display: flex;
  justify-content: space-between;
}
footer .locations p {
  font-size: 14px;
}
footer .locations .footer-heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
footer .locations input {
  width: 100%;
  border-radius: 5px;
  height: 30px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer .locations .email p {
  font-weight: bold;
  font-size: 2em;
  line-height: 24px;
}
footer .locations .email .email-text {
  font-size: 1em;
  font-weight: normal;
}
@media (max-width: 500px) {
  footer .locations {
    flex-direction: column;
  }
  footer .locations div {
    margin-bottom: 20px;
  }
  footer .locations input {
    width: 80%;
  }
}
footer .cr {
  text-align: center;
  margin-top: 30px;
  font-size: 1em !important;
}
@media (max-width: 500px) {
  footer .cr {
    margin-bottom: 20px;
  }
}
.home {
  margin-left: 8%;
  margin-right: 8%;
}
@media (max-width: 500px) {
  .home {
    padding: 0;
  }
}
.home h2 {
  padding-bottom: 15px;
}
.home .cta {
  position: relative;
  margin-bottom: 40px;
}
.home .cta .jumbotron {
  width: 100%;
  height: auto;
}
.home .cta .jumbo-text {
  margin-left: 8%;
  margin-right: 8%;
  position: absolute;
  font-weight: bold;
  font-size: 6.4em;
  line-height: 75px;
  top: 55%;
}
.home .cta .jumbo-text h1 {
  color: #fff;
}
@media (max-width: 500px) {
  .home .cta .jumbo-text {
    padding-left: 20px;
    font-size: 4em;
    line-height: 50px;
    top: 120px;
  }
}
.home .services {
  display: flex;
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 70px;
}
.home .services button {
  border: 2px solid #222222;
  padding: 10px;
  font-size: 1.6em;
  margin-top: 15px;
  cursor: pointer;
}
.home .services button:hover {
  background-color: black;
  color: #fff;
}
@media (max-width: 500px) {
  .home .services button {
    width: 100%;
    margin-bottom: 25px;
    background-color: #fff;
  }
}
.home .services .services-img1 {
  margin-left: 35px;
  width: 100%;
  height: auto;
}
@media (max-width: 500px) {
  .home .services .services-img1 {
    margin-left: 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .home .services {
    flex-direction: column-reverse;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
  .home .services p {
    margin-bottom: 20px;
  }
}
.home .services2 {
  display: flex;
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 70px;
}
.home .services2 button {
  border: 2px solid #222222;
  padding: 10px;
  font-size: 1.6em;
  margin-top: 15px;
  cursor: pointer;
}
.home .services2 button:hover {
  background-color: black;
  color: #fff;
}
@media (max-width: 500px) {
  .home .services2 button {
    width: 100%;
    margin-bottom: 25px;
    background-color: #fff;
  }
}
.home .services2 .services-img2 {
  margin-right: 35px;
  width: 100%;
  height: auto;
}
@media (max-width: 500px) {
  .home .services2 .services-img2 {
    margin-right: 0;
    margin-bottom: 40px;
  }
}
@media (max-width: 500px) {
  .home .services2 {
    flex-direction: column;
    margin-bottom: 40px;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .home .services2 p {
    margin-bottom: 20px;
  }
}
.home .recent-projects {
  margin-left: 8%;
  margin-right: 8%;
}
.home .recent-projects h2:nth-child(1) {
  margin-bottom: 25px;
}
@media (max-width: 500px) {
  .home .recent-projects h2:nth-child(1) {
    padding-left: 8%;
  }
}
.home .recent-projects .project-container {
  margin-bottom: 90px;
}
@media (max-width: 500px) {
  .home .recent-projects .project-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }
}
.home .recent-projects .project {
  position: relative;
}
.home .recent-projects .project img {
  width: 100%;
  height: auto;
}
.home .recent-projects .project .project-text {
  background-color: #D8D8D8;
  width: 280px;
  position: absolute;
  text-align: center;
  padding: 20px;
  font-weight: 100;
  letter-spacing: 7px;
}
.home .recent-projects .project .proj-right {
  right: 0px;
  top: 190px;
}
@media (max-width: 500px) {
  .home .recent-projects .project .proj-right {
    right: 25px;
    top: 210px;
  }
}
.home .recent-projects .project .proj-left {
  left: 0px;
  top: 190px;
}
@media (max-width: 500px) {
  .home .recent-projects .project .proj-left {
    left: 10%;
    top: 210px;
  }
}
.home .recent-projects .project-paragraph {
  margin-top: 90px;
  padding-left: 190px;
  padding-right: 190px;
}
@media (max-width: 500px) {
  .home .recent-projects .project-paragraph {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 70px;
  }
}
.home .recent-projects .project-paragraph p {
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .home .recent-projects {
    margin: 0;
  }
}
.services .cta {
  position: relative;
}
.services .jumbo-text {
  margin-left: 8%;
  margin-right: 8%;
  position: absolute;
  top: 160px;
  font-size: 6.4em;
  font-weight: bold;
}
.services .jumbo-text h1 {
  color: #fff;
}
.services .services-text {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 40px;
}
.services .tabs-links {
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
}
.services .tab-link {
  width: 150px;
  text-align: center;
  border: 2px solid #000;
  padding: 10px;
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}
.services .tab-link:hover {
  background-color: #5E9FB9;
  cursor: pointer;
}
.services .tab-link-selected {
  background-color: #5E9FB9;
}
.services .tab-item {
  display: none;
  margin-bottom: 40px;
}
.services .tab-item-selected {
  display: block;
}
.services .tab-item-content {
  display: flex;
}
.services .tab-item-description {
  margin-left: 8%;
  margin-right: 8%;
  width: 50%;
  padding-right: 20px;
}
.services .tab-item-description p {
  margin-bottom: 20px;
}
.services .tab-item-description h3 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
}
.services .tab-item-image {
  padding-right: 84.5px;
}
header {
  width: 100%;
  max-width: 1024px;
  background-color: #9FA9B3;
  margin: 0 auto;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 10px;
  padding-bottom: 10px;
}
header nav #logo {
  color: #fff;
  font-size: 2.4em;
}
header nav a {
  text-decoration: none;
}
header nav .navigation .menu-open {
  cursor: pointer;
}
header nav .navigation .menu {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 100%;
  background-color: #9FA9B3;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 0.98;
}
header nav .navigation .menu ul {
  display: flex;
  flex-direction: column;
}
header nav .navigation .menu .menu-close {
  position: fixed;
  top: 20px;
  width: 20px;
  right: 120px;
  cursor: pointer;
}
@media (max-width: 500px) {
  header nav .navigation .menu .menu-close {
    right: 50px;
  }
}
header nav .navigation .menu #menu-logo {
  font-size: 2.4em;
  color: #fff;
  position: fixed;
  top: 20px;
  left: 200px;
}
@media (max-width: 500px) {
  header nav .navigation .menu #menu-logo {
    left: 50px;
  }
}
header nav .navigation .menu a:link,
header nav .navigation .menu a:visited {
  color: #ffff;
  font-weight: bold;
  font-size: 4.8em;
  line-height: 85px;
}
header nav .navigation .menu a:hover {
  color: #222222;
}
header nav .navigation .menu-hidden {
  display: none;
}
@media (max-width: 500px) {
  header nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}
.container p {
  line-height: 1.6;
  font-size: 1.6em;
}
.container h2 {
  font-weight: bold;
  font-size: 2.8em;
  color: #222222;
}
.container img {
  width: 100%;
  height: auto;
}
.container .hidden-desktop {
  display: none;
}
@media (max-width: 500px) {
  .container .hidden-desktop {
    display: block;
  }
}
.container .hidden-mobile {
  display: block;
}
@media (max-width: 500px) {
  .container .hidden-mobile {
    display: none;
  }
}
