/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 100%;
  background: #FFFFFF;
  color: #222222;
  font-family: 'Roboto', 'Ariel', sans-serif;
  line-height: 24px;
}
.header {
  background: #98A4AF;
  display: flex;
  height: 8.3%;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 2;
  right: 0.2%;
  width: 100%;
}
.header .logo {
  color: #FFFFFF;
  font-size: 24px;
  margin: 0% 61% 0% 2%;
  font-weight: bold;
}
.header .menu-button {
  cursor: pointer;
  margin: 0% 1% 0% 2%;
  height: 43%;
  padding: 0px 0px 0px 0px;
}
.menu {
  display: none;
  background-color: #98a4af;
  position: fixed;
  z-index: 2;
  margin-bottom: 10px;
  top: 8.3%;
  bottom: 22.5%;
  width: 99.8%;
  height: 100vh;
}
.menu a {
  text-decoration: none;
  color: #FFFFFF;
  line-height: 85px;
  font-size: 48px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 15% 0% -15% 40%;
  padding: 0% 0% 0% 0%;
}
.menu a:hover {
  color: #222222;
}
.menu--open {
  display: block;
}
.main-section {
  position: absolute;
  z-index: 1;
  width: 100%;
}
.main-section .main-image {
  width: 99.8%;
}
.main-section .jumbo-mobile {
  display: none;
}
.main-section h2 {
  bottom: 9%;
  left: 8%;
  Font-weight: Bold;
  Font-size: 64px;
  Line-height: 76px;
  color: #FFFFFF;
  position: absolute;
}
.main-columns {
  margin: 0% 8.2%;
}
.main-rows {
  display: flex;
  flex-wrap: wrap;
}
.main-rows .row1 {
  display: flex;
  justify-content: space-between;
  margin: 75.6% 0% 1.6%;
}
.main-rows .row1 .row1-img {
  margin-top: 0.4%;
}
.main-rows .row1 .row1-img-mobile {
  display: none;
}
.main-rows .row1 .row1-column {
  display: flex;
  flex-direction: column;
  padding-top: 5.5%;
}
.main-rows .row1 .row1-column h1 {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 5%;
  padding-top: 1%;
}
.main-rows .row1 .row1-column p {
  padding: 0% 8% 6% 0%;
}
.main-rows .row1 .row1-column .button {
  text-decoration: none;
  border: 1px solid #222222;
  max-width: 30.6%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.2% 4%;
}
.main-rows .row2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 9.7%;
}
.main-rows .row2 .row2-img-mobile {
  display: none;
}
.main-rows .row2 .row2-column {
  display: flex;
  flex-direction: column;
  padding: 5% 0% 0% 3.5%;
}
.main-rows .row2 .row2-column h1 {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 5%;
}
.main-rows .row2 .row2-column p {
  padding-bottom: 7.2%;
}
.main-rows .row2 .row2-column .button {
  text-decoration: none;
  border: 1px solid #222222;
  max-width: 32.8%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5% 4%;
  white-space: nowrap;
}
.mid-header {
  font-weight: bold;
  font-size: 24px;
  padding: 12% 0% 5%;
}
.column1 {
  max-width: 100%;
  box-shadow: 0 20px 50px 0 #e2e2e2;
}
.column1 .column-box {
  position: relative;
}
.column1 .column-box .box-image {
  width: 99.8%;
}
.column1 .column-box .mobile {
  display: none;
}
.column1 .column-box h4 {
  position: absolute;
  top: 75%;
  bottom: -15%;
  left: 63%;
  right: 0%;
  background: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  letter-spacing: 7px;
  font-size: 26px;
}
.column1 .column-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 7% 24% 0% 30%;
  margin-bottom: 7%;
}
.column1 p {
  padding-bottom: 5%;
}
.column2 {
  max-width: 100%;
  box-shadow: 0 20px 50px 0 #e2e2e2;
}
.column2 .column-box {
  position: relative;
}
.column2 .column-box .box-image {
  width: 100%;
}
.column2 .column-box .mobile {
  display: none;
}
.column2 .column-box h4 {
  position: absolute;
  top: 80%;
  bottom: -10%;
  right: 62.8%;
  left: 0%;
  background: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 54px 0px;
  white-space: nowrap;
  letter-spacing: 10px;
  font-size: 20px;
}
.column2 .column-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 7% 24% 0% 30%;
  margin-bottom: 7%;
}
.column2 p {
  padding-bottom: 5%;
}
.column3 {
  max-width: 100%;
  box-shadow: 0 20px 50px 0 #e2e2e2;
}
.column3 .column-box {
  position: relative;
  margin-bottom: 0px;
}
.column3 .column-box .box-image {
  width: 100%;
}
.column3 .column-box .mobile {
  display: none;
}
.column3 .column-box h4 {
  position: absolute;
  top: 80%;
  bottom: -10%;
  left: 62.8%;
  right: 0%;
  background: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 54px 0px;
  white-space: nowrap;
  letter-spacing: 10px;
  font-size: 20px;
}
.column3 .column-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 6% 24% 1% 30%;
  margin-bottom: 7%;
}
.column3 p {
  padding-bottom: 5%;
}
footer {
  background: #828282;
  display: flex;
  color: #FFFFFF;
  flex-wrap: wrap;
  white-space: nowrap;
  line-height: 26px;
}
footer h5 {
  font-size: 20px;
  font-weight: bold;
}
footer .forum {
  margin: 5% 5% 0% 5%;
}
footer .forum input {
  margin: 2% 0%;
  width: 100%;
  border-radius: 4px;
  padding: 12px 20px 12px 5px;
}
footer .forum h6 {
  font-size: 14px;
}
footer .footer-column {
  margin: 5% 3%;
  line-height: 27px;
}
footer .footer-column p {
  font-size: 14px;
}
footer .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 14px;
}
@media (max-width: 500px) {
  .header {
    height: 76px;
  }
  .header .logo {
    font-size: 35px;
  }
  .header .menu-button {
    width: 48px;
    height: 40%;
    margin-right: 2%;
  }
}
@media (max-width: 500px) {
  .menu {
    margin-bottom: 10px;
    top: 9%;
    width: 99.8%;
  }
  .menu a {
    margin: 25% 0% -25% 35%;
  }
  .menu a:hover {
    color: #222222;
  }
}
@media (max-width: 500px) {
  .main-section .main-image {
    display: none;
  }
  .main-section .jumbo-mobile {
    display: block;
    width: 100%;
  }
  .main-section h2 {
    bottom: 35px;
    left: 24px;
    Font-weight: Bold;
    Font-size: 54px;
    Line-height: 64px;
  }
}
@media (max-width: 500px) {
  .main-rows {
    width: 100%;
  }
  .main-rows .row1 {
    flex-direction: column-reverse;
  }
  .main-rows .row1 .row1-img {
    display: none;
  }
  .main-rows .row1 .row1-img-mobile {
    display: block;
    width: 438px;
    margin: 31.5% 0% 0% -4%;
  }
  .main-rows .row1 .row1-column {
    font-size: 20px;
  }
  .main-rows .row1 .row1-column h1 {
    font-size: 36px;
    white-space: nowrap;
    margin: 4% 0% 6% -4%;
  }
  .main-rows .row1 .row1-column p {
    font-size: 22px;
    margin: -2% 8% -3% -4%;
    line-height: 36px;
  }
  .main-rows .row1 .row1-column .button {
    white-space: nowrap;
    border: 2px solid #222222;
    font-size: 23px;
    max-width: 100%;
    padding: 5% 0%;
    margin: 5.5% -4%;
  }
  .main-rows .row2 {
    flex-direction: column;
  }
  .main-rows .row2 .row2-img {
    display: none;
  }
  .main-rows .row2 .row2-img-mobile {
    display: block;
    width: 438px;
    margin: -0.7% 0% 0% -4%;
  }
  .main-rows .row2 .row2-column {
    font-size: 20px;
  }
  .main-rows .row2 .row2-column h1 {
    font-size: 36px;
    white-space: nowrap;
    margin: 6% 0% 6% -7%;
  }
  .main-rows .row2 .row2-column p {
    font-size: 22px;
    margin: -2% 17% -4% -7%;
    line-height: 36px;
  }
  .main-rows .row2 .row2-column .button {
    white-space: nowrap;
    border: 2px solid #222222;
    font-size: 24px;
    max-width: 103%;
    padding: 5% 0%;
    margin: 5.5% -7%;
  }
}
@media (max-width: 500px) {
  .mid-header {
    font-size: 36px;
    margin: 3% 0% 5% -4%;
  }
}
@media (max-width: 500px) {
  .column1 {
    box-shadow: none;
    width: 100%;
  }
  .column1 .column-box .box-image {
    display: none;
  }
  .column1 .column-box .mobile {
    display: block;
    background-size: auto;
    width: 480px;
    margin-left: -38px;
  }
  .column1 .column-box h4 {
    position: absolute;
    top: 280px;
    bottom: -124px;
    left: -4%;
    right: -4%;
    background: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 54px 0px;
    white-space: nowrap;
    letter-spacing: 8px;
    font-size: 41px;
  }
  .column1 .column-text {
    width: 100%;
    padding: 40% 0% 0% 2%;
    margin: 0% 32% 0% -6%;
    font-size: 25px;
    line-height: 36px;
    font-weight: normal;
  }
}
@media (max-width: 500px) {
  .column2 {
    width: 99.8%;
    box-shadow: none;
  }
  .column2 .column-box .box-image {
    display: none;
  }
  .column2 .column-box .mobile {
    display: block;
    background-size: auto;
    width: 480px;
    margin-left: -38px;
  }
  .column2 .column-box h4 {
    position: absolute;
    top: 280px;
    bottom: -124px;
    left: -4%;
    right: -4%;
    background: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 54px 0px;
    white-space: nowrap;
    letter-spacing: 8px;
    font-size: 41px;
  }
  .column2 .column-text {
    width: 100%;
    padding: 40% 0% 0% 2%;
    margin: 10% 32% 0% -6%;
    font-size: 25px;
    line-height: 36px;
    font-weight: normal;
  }
}
@media (max-width: 500px) {
  .column3 {
    box-shadow: none;
    width: 99.8%;
  }
  .column3 .column-box .box-image {
    display: none;
  }
  .column3 .column-box .mobile {
    display: block;
    background-size: auto;
    width: 480px;
    margin-left: -38px;
  }
  .column3 .column-box h4 {
    position: absolute;
    top: 280px;
    bottom: -124px;
    left: -4%;
    right: -4%;
    background: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 54px 0px;
    white-space: nowrap;
    letter-spacing: 8px;
    font-size: 41px;
  }
  .column3 .column-text {
    width: 100%;
    padding: 40% 0% 0% 2%;
    margin: 10% 32% 0% -6%;
    font-size: 25px;
    line-height: 36px;
    font-weight: normal;
  }
}
@media (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
  }
  footer .forum {
    margin: 5% 5% 0% 5%;
  }
  footer .forum h5 {
    padding-bottom: 5px;
  }
  footer .forum h6 {
    margin-left: 5px;
  }
  footer .forum input {
    margin: 2.5% 0%;
    width: 100%;
    border-radius: 8px;
    padding: 20px 20px 15px 10px;
    font-size: 15px;
  }
  footer .footer-column {
    margin: 3% 6%;
  }
  footer .copyright {
    justify-content: flex-start;
    padding: 3% 0% 0% 6%;
  }
}
* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 100%;
  background: #FFFFFF;
  color: #222222;
  font-family: 'Roboto', 'Ariel', sans-serif;
  line-height: 24px;
}
.header-jumbotron {
  position: relative;
}
.header-jumbotron .jumbotron {
  position: relative;
  width: 100%;
  top: 25px;
}
.header-jumbotron h2 {
  position: absolute;
  top: 130px;
  left: 85px;
  Font-weight: Bold;
  Font-size: 64px;
  Line-height: 75px;
  color: #FFFFFF;
}
.services {
  margin: 5%;
}
.tabs-links {
  display: flex;
  justify-content: space-between;
}
.tabs-links .tab {
  border: 1px solid black;
  font-weight: bold;
  font-size: 24px;
  padding: 2%;
  margin: 5% 0%;
  cursor: pointer;
}
.tabs-links .tab:hover {
  background-color: #222222;
  color: #FFFFFF;
}
.tabs-link-selected {
  background-color: #5E9FB9;
  color: #FFFFFF;
}
.tabs-items {
  display: flex;
  flex-direction: row;
}
.tabs-items .tabs-item {
  display: none;
}
.tabs-items .tabs-item-description {
  margin: 2% 10% 0% 0%;
  display: flex;
  flex-direction: column;
}
.tabs-items .tabs-item-description p {
  padding-bottom: 8%;
}
.tabs-items .tab-box {
  flex-direction: column;
}
.tabs-items .tabs-item-title {
  font-weight: bold;
  white-space: nowrap;
  font-size: 18px;
}
.tabs-items .tabs-item-selected {
  display: flex;
  width: 100%;
}
.tabs-items .tabs-item-selected img {
  width: 50%;
  padding: 3% 0% 5%;
}
