/* Your Code Goes Here */
.sub-header-text {
  color: #222222;
  font-weight: Bold;
  font-size: sub-font-size;
}
.footer-headings {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto, Arial", sans-serif;
  color: #222222;
  background: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto, Arial", sans-serif;
  color: #222222;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 16px;
  line-height: 24px;
}
.container {
  /* max-width: 1024px; */
  margin: 0 auto;
  overflow: hidden;
}
header {
  display: flex;
  /* max-width: 1024px; */
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #98A4AF;
  padding: 1% 6%;
  justify-content: space-between;
}
header .logo {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: Bold;
}
@media (max-width:500px) {
  header .logo {
    font-size: 3rem;
  }
}
@media (max-width:500px) {
  header {
    padding: 5% 6%;
  }
}
.display {
  display: none;
}
.overlay {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: #828282;
  opacity: 0.9;
}
.overlay a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 48px;
  font-weight: Bold;
  line-height: 85px;
  padding: 1%;
  transition: 0.5s;
}
.overlay a:hover {
  color: #222222;
}
.overlay .close-button {
  position: absolute;
  top: 2%;
  right: 5%;
  cursor: pointer;
}
.overlay .logo {
  position: absolute;
  top: 2%;
  left: 5%;
}
.overlay .nav-content {
  position: relative;
  width: 100%;
}
footer {
  background-color: #828282;
  color: white;
  /* max-width: 1024px; */
  margin: 0 auto;
}
@media (max-width:500px) {
  footer {
    display: flex;
    flex-direction: column;
  }
}
footer p {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}
footer .wrapper {
  display: flex;
  padding: 5% 7%;
  justify-content: space-between;
}
footer .wrapper h3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-bottom: 4%;
}
footer .wrapper .input-section {
  width: 35%;
}
footer .wrapper .input-section input {
  width: 100%;
  padding: 2% 2%;
  border-radius: 5px;
  font-size: 1.6rem;
}
@media (max-width:500px) {
  footer .wrapper .input-section input {
    padding: 5%;
    margin-bottom: 2%;
  }
}
@media (max-width:500px) {
  footer .wrapper .input-section {
    width: 100%;
  }
}
footer .wrapper .cities {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
@media (max-width:500px) {
  footer .wrapper .cities {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
  }
}
@media (max-width:500px) {
  footer .wrapper .cities .city {
    margin-bottom: 10%;
  }
}
@media (max-width:500px) {
  footer .wrapper {
    display: flex;
    flex-direction: column;
  }
}
footer .copyright {
  text-align: center;
}
.open-button {
  cursor: pointer;
}
.jumbotron {
  position: relative;
}
.jumbotron .intro-desktop {
  width: 100%;
}
@media (max-width:500px) {
  .jumbotron .intro-desktop {
    display: none;
  }
}
.jumbotron .intro-mobile {
  display: none;
}
@media (max-width:500px) {
  .jumbotron .intro-mobile {
    display: flex;
    width: 100%;
  }
}
.jumbotron .img-text {
  position: absolute;
  top: 50%;
  padding: 5% 6%;
}
.jumbotron .img-text h3 {
  line-height: 75px;
  font-size: 64px;
  font-weight: Bold;
  color: #FFFFFF;
}
@media (max-width:500px) {
  .jumbotron .img-text h3 {
    font-size: 5rem;
  }
}
@media (max-width:500px) {
  .jumbotron .img-text {
    top: 35%;
  }
}
@media (max-width:500px) {
  .block-container .normal {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
}
@media (max-width:500px) {
  .block-container .reverse {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.block-container .block-content {
  display: flex;
  padding: 5% 8%;
  justify-content: space-between;
}
.block-container .block-content .info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48%;
  color: black;
}
@media (max-width:500px) {
  .block-container .block-content .info-text {
    width: 100%;
  }
}
.block-container .block-content .info-text h3 {
  color: #222222;
  font-weight: Bold;
  font-size: sub-font-size;
  padding-bottom: 5%;
}
@media (max-width:500px) {
  .block-container .block-content .info-text h3 {
    padding-top: 5%;
    font-size: 3.5rem;
  }
}
.block-container .block-content .info-text .button {
  margin-top: 5%;
  border: 1px solid #222222;
  width: 30%;
  text-align: center;
  padding: 2.5% 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
@media (max-width:500px) {
  .block-container .block-content .info-text .button {
    width: 100%;
    padding: 5%;
    font-size: 2rem;
  }
}
.block-container .block-content .info-image {
  width: 48%;
}
@media (max-width:500px) {
  .block-container .block-content .info-image {
    width: 100%;
  }
}
.block-container .block-content .info-image img {
  width: 100%;
}
.block-container .block-content .info-image .info-mobile {
  display: none;
}
@media (max-width:500px) {
  .block-container .block-content .info-image .info-mobile {
    display: flex;
    width: 100%;
  }
}
@media (max-width:500px) {
  .block-container .block-content .info-image .info-desktop {
    display: none;
  }
}
.recent-projects {
  color: black;
  padding: 5% 8%;
}
@media (max-width:500px) {
  .recent-projects {
    padding: 0;
  }
}
.recent-projects h3 {
  color: #222222;
  font-weight: Bold;
  font-size: sub-font-size;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 5%;
}
.recent-projects .project-intro {
  position: relative;
}
.recent-projects .project-intro img {
  width: 100%;
}
.recent-projects .project-intro .right {
  display: flex;
  align-items: center;
  background: #D8D8D8;
  height: 95px;
  width: 320px;
  font-size: 2rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  justify-content: center;
  position: absolute;
  top: 74%;
  right: 0%;
}
@media (max-width:500px) {
  .recent-projects .project-intro .right {
    top: 95%;
    right: 10%;
    width: 400px;
  }
}
.recent-projects .project-intro .left {
  display: flex;
  align-items: center;
  background: #D8D8D8;
  height: 95px;
  width: 320px;
  font-size: 2rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  justify-content: center;
  position: absolute;
  top: 74%;
  left: 0%;
}
@media (max-width:500px) {
  .recent-projects .project-intro .left {
    top: 95%;
    left: 10%;
    width: 400px;
  }
}
.recent-projects .project-text {
  width: 50%;
  margin: 0 auto;
  padding-top: 10%;
  margin-bottom: 10%;
}
@media (max-width:500px) {
  .recent-projects .project-text {
    width: 100%;
    margin: 0 auto;
    padding: 25% 8% 0;
  }
}
@media (max-width:500px) {
  .recent-projects .project-desktop {
    display: none;
  }
}
.recent-projects .project-mobile {
  display: none;
}
@media (max-width:500px) {
  .recent-projects .project-mobile {
    display: flex;
    width: 100%;
  }
}
.services-container {
  /* max-width: 1024px; */
  width: 100%;
  margin: 0 auto;
  color: black;
  overflow: hidden;
}
.services-container .logo-link {
  text-decoration: none;
}
.services-container h3 {
  color: #222222;
  font-weight: Bold;
  font-size: sub-font-size;
}
.services-container .open-button {
  cursor: pointer;
}
.services-container .banner {
  display: flex;
  position: relative;
}
/* .services-container .banner-dektop {
    position:absolute;
    width:100%;
} */
.services-container .banner img:nth-child(1) {
    width:100%;
}
.services-container .banner-mobile {
  display: none;
  height:100%;
}
.services-container .banner .img-text {
  position: absolute; 
  top: 50%;
  padding: 5% 6%;
}
.services-container .banner .img-text h3 {
  color: white;
  font-size: 5rem;
}
.services-container .main-section {
  padding: 5% 6%;
}
.services-container .main-section .tab-navigator {
  width: 100%;
}
.services-container .main-section .tab-navigator .tabs {
  display: flex;
  justify-content: space-between;
  padding-top: 6%;
}
.services-container .main-section .tab-navigator .tab {
  padding: 15px 20px;
  font-size: 24px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}
.services-container .main-section .tab-navigator .tab:hover {
  background-color: #222222;
  color: #FFF;
  transition: 0.2s;
}
.services-container .main-section .tab-navigator .tab-info {
  display: none;
  width: 100%;
  padding-top: 6%;
}
.services-container .main-section .tab-navigator .tab-info-item {
  display: flex;
  width: 100%;
}
.services-container .main-section .tab-navigator .tab-info-item .tabs-info-description {
  width: 50%;
  margin: 0;
  flex-direction: column;
}
.services-container .main-section .tab-navigator .tab-info-item .tabs-info-description .tab-info-title {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.services-container .main-section .tab-navigator .tab-info-item .tab-image {
  display: flex;
  width: 50%;
  justify-content: flex-end;
}
.services-container .main-section .tab-navigator .tabs-item-selected {
  display: flex;
}
.services-container .main-section .tab-navigator .tabs-link-selected {
  background: #5E9FB9;
  color: white;
}
