/* Your Code Goes Here */
ntere html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  background-color: #828282;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0;
  z-index: 100;
  position: fixed;
  top: 0;
}
header h1 {
  font-family: "Roboto", Arial, sans-serif;
  color: white;
  font-size: 2rem;
  padding-left: 200px;
}
header nav {
  padding-right: 200px;
}
header img:hover {
  cursor: pointer;
}
@media (max-width: 500px) {
  header h1 {
    padding-left: 50px;
  }
  header nav {
    padding-right: 50px;
  }
}
@media (max-width: 800px) {
  header h1 {
    padding-left: 50px;
  }
  header nav {
    padding-right: 50px;
  }
}
.menu-content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  opacity: 0.9;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 85px;
  color: #ffffff;
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #828282;
}
.menu-content a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  text-align: left;
}
.menu-content a:visited {
  color: #ffffff;
  text-decoration: none;
}
.menu-content a:hover {
  color: #222222;
}
.contact-section {
  width: 100%;
  height: 300px;
  background-color: #828282;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 30px;
}
.contact-section .foot {
  display: flex;
  flex-direction: column;
}
.contact-section .foot input {
  height: 30px;
  border-radius: 4px;
  border: none;
}
.contact-section .foot h4 {
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.contact-section .foot p {
  font-size: 1rem;
}
@media (max-width: 800px) {
  .contact-section {
    height: 250px;
  }
  .contact-section .foot {
    width: 20%;
  }
  .contact-section .email h4 {
    font-size: 1.2rem;
    margin: 0;
    line-height: 24px;
  }
  .contact-section .email p {
    font-size: 0.8rem;
    line-height: 20px;
  }
}
@media (max-width: 500px) {
  .contact-section {
    flex-direction: column;
    align-items: flex-start;
    height: 1000px;
  }
  .contact-section .foot {
    width: 90%;
    padding: 5% 5%;
  }
  .contact-section .foot input {
    height: 50px;
    width: 400px;
  }
  .contact-section .foot input[placeholder="Enter email"] {
    padding-left: 15px;
    font-size: 1.4rem;
  }
  .contact-section .foot h4 {
    font-size: 1.7rem;
    font-weight: bold;
    margin: 10px 0;
  }
  .contact-section .foot p {
    margin-top: 15px;
    font-size: 1.2rem;
    line-height: 24px;
  }
}
footer {
  background-color: #828282;
  text-align: center;
  color: white;
  padding-bottom: 15px;
}
.top-section h1 {
  font-family: "Roboto", Arial, sans-serif;
  color: white;
  font-size: 5rem;
  font-weight: bold;
  position: absolute;
  width: 20%;
  height: 15%;
  margin: 30% 20% 0 5%;
}
.top-section .jumbo {
  width: 100%;
  height: 0 auto;
}
@media (max-width: 500px) {
  .top-section h1 {
    font-size: 3rem;
    width: 50%;
    margin: 20% 20% 0 5%;
  }
}
@media (max-width: 800px) {
  .top-section h1 {
    font-size: 3.5rem;
  }
}
.container {
  max-width: 880px;
  margin: 0 auto;
}
.home .text-section {
  display: flex;
  margin: 50px 0;
}
.home .text-section .text-content {
  padding: 50px 15px;
}
.home .text-section .text-content h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Roboto", Arial, sans-serif;
}
.home .text-section .text-content p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 24px;
}
.home .text-section .text-content button {
  background-color: white;
  width: 125px;
  height: 50px;
  border: 1px solid black;
}
.home .project-section {
  display: flex;
  flex-direction: column;
}
.home .project-section h2 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 50px 0;
}
.home .project-section .greybox {
  display: flex;
}
.home .project-section .greybox img {
  width: 100%;
  height: 0 auto;
}
.home .project-section .greybox h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 8px;
  background-color: lightgray;
  width: 300px;
  height: 30px;
  text-align: center;
  padding: 30px 0 25px 0;
}
.home .project-section .greybox .villas {
  position: absolute;
  right: 26.8%;
  margin-top: 10%;
}
.home .project-section .greybox .outskirts {
  position: absolute;
  left: 26.9%;
  margin-top: 10%;
}
.home .project-section .greybox .blocks {
  position: absolute;
  right: 26.9%;
  margin-top: 10%;
}
.home .project-section p {
  margin: 70px 0 70px 100px;
  font-size: 1.1rem;
  padding: 0 175px;
  width: 350px;
  line-height: 22px;
  font-family: "Roboto", Arial, sans-serif;
}
@media (max-width: 500px) {
  .home {
    width: 100%;
  }
  .home .top {
    display: flex;
    flex-direction: column-reverse;
  }
  .home .text-section .text-img {
    width: 90%;
    margin: 0 5%;
  }
  .home .text-section .text-content h2 {
    text-align: center;
    font-size: 2rem;
  }
  .home .text-section .text-content p {
    font-size: 1.2rem;
  }
  .home .text-section .text-content button {
    width: 100%;
    font-size: 1.4rem;
  }
  .home .bottom {
    flex-direction: column;
  }
  .home .project-section h2 {
    font-size: 1.6rem;
    padding-left: 5%;
  }
  .home .project-section p {
    padding: 0;
    margin: 15% 10%;
    width: 400px;
    font-size: 1.4rem;
    line-height: 28px;
  }
  .home .project-section .greybox .villas {
    right: 15%;
    margin-top: 40%;
  }
  .home .project-section .greybox .outskirts {
    left: 20%;
    margin-top: 40%;
  }
  .home .project-section .greybox .blocks {
    right: 15%;
    margin-top: 40%;
  }
}
@media (max-width: 800px) {
  .home .text-section {
    margin: 10% 5%;
  }
  .home .project-section h2 {
    padding-left: 5%;
  }
  .home .project-section .project .greybox .villas {
    margin-top: 25%;
  }
  .home .project-section .project .greybox .outskirts {
    margin-top: 25%;
  }
  .home .project-section .project .greybox .blocks {
    margin-top: 25%;
  }
  .home .project-section .project p {
    width: 80%;
    margin: 10% 5%;
    padding: 0 5%;
  }
}
.services-top-section h1 {
  color: white;
  font-size: 7rem;
  font-weight: bold;
  font-family: "Roboto", Arial, sans-serif;
  position: absolute;
  margin: 15% 20% 5% 5%;
}
.services-top-section img {
  width: 100%;
  height: 0 auto;
}
.services-top-section .desktop {
  display: block;
}
.services-top-section .mobile {
  display: none;
}
.services-top-section p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 38px;
  letter-spacing: 1px;
  padding: 0 10%;
  margin: 5% 0;
}
@media (max-width: 500px) {
  .services-top-section h1 {
    font-size: 4rem;
    margin: 60% 20% 5% 5%;
  }
  .services-top-section img.desktop {
    display: none;
  }
  .services-top-section img.mobile {
    display: block;
  }
}
@media (max-width: 800px) {
  .services-top-section h1 {
    font-size: 3.5rem;
  }
}
.services .main-content {
  width: 83.5%;
  margin: 0 auto;
}
.services .main-content .tab-navigators {
  margin-top: 44px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.services .main-content .tab-navigators .tab-navigator {
  width: 22%;
  border: 1px solid black;
  padding: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #ffffff;
  transition: all 0.3s;
}
.services .main-content .tab-navigators .tab-navigator:hover {
  background-color: #222222;
  color: #ffffff;
  cursor: pointer;
}
.services .main-content .tab-navigators .selected {
  background-color: #5e9fb9;
}
.services .main-content .tab-contents {
  width: 100%;
  margin-bottom: 64px;
}
.services .main-content .tab-contents .selected-content {
  display: block;
}
.services .main-content .tab-contents .tab-content {
  display: none;
  width: 100%;
}
.services .main-content .tab-contents .tab-content h2 {
  margin-top: 54px;
  font-size: 1.5rem;
  margin-bottom: 14px;
}
.services .main-content .tab-contents .tab-content .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.services .main-content .tab-contents .tab-content .content .text {
  width: 46%;
}
.services .main-content .tab-contents .tab-content .content .text p {
  font-weight: regular;
  font-size: 1rem;
  line-height: 24px;
  padding-bottom: 36px;
}
.services .main-content .tab-contents .tab-content .content .image {
  width: 47%;
}
.services .main-content .tab-contents .tab-content .content .image img {
  width: 100%;
}
@media (max-width: 500px) {
  .services .main-content .tab-navigators {
    flex-direction: column;
  }
  .services .main-content .tab-navigators .tab-navigator {
    width: 90%;
    padding: 18px;
    margin: 15px 0;
    font-size: 1.6rem;
  }
  .services .main-content .tab-contents .tab-content h2 {
    font-weight: bold;
    font-size: 2rem;
  }
  .services .main-content .tab-contents .tab-content .content {
    flex-direction: column;
  }
  .services .main-content .tab-contents .tab-content .content .text {
    width: 100%;
  }
  .services .main-content .tab-contents .tab-content .content .text p {
    font-size: 1.4rem;
    line-height: 32px;
  }
  .services .main-content .tab-contents .tab-content .content .image {
    width: 100%;
  }
}
.contacts .contacts-top-section h1 {
  font-size: 6rem;
  font-weight: bold;
  font-family: "Roboto", Arial, sans-serif;
  color: white;
  position: absolute;
  margin: 17% 20% 5% 5%;
}
.contacts .contacts-top-section .img {
  width: 100%;
  height: 0 auto;
}
.contacts .contacts-top-section .contacts-jumbo {
  width: 100%;
  display: block;
}
.contacts .contacts-top-section .contacts-mobile {
  display: none;
}
.contacts .contacts-container {
  width: 70%;
  margin: 0 10%;
  display: flex;
  justify-content: space-evenly;
}
.contacts .contacts-container .signup h1 {
  font-size: 2rem;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
  color: #222222;
  margin: 10% 0;
}
.contacts .contacts-container .signup h4 {
  font-size: 1.2rem;
  font-family: "Roboto", Arial, sans-serif;
  margin: 1% 0;
}
.contacts .contacts-container .signup input[type="text"] {
  width: 500px;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 5px 0 10px 0;
}
.contacts .contacts-container .signup input[placeholder="Enter email"] {
  padding-left: 10px;
  font-size: 1.2rem;
}
.contacts .contacts-container .signup p {
  color: gray;
  margin-bottom: 40px;
}
.contacts .contacts-container .signup select[id="number"] {
  width: 515px;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 8px;
  margin: 5px 0 40px 0;
}
.contacts .contacts-container .signup textarea[id="desc"] {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 8px;
}
.contacts .contacts-container .signup .radio-button {
  margin-top: 15px;
  margin-bottom: 10px;
}
.contacts .contacts-container .signup .radio-button input[type="radio"] {
  display: inline-block;
  width: auto;
  border: 1px solid black;
  background: #ffffff;
}
.contacts .contacts-container .signup .radio-button label {
  font-family: "Roboto", Arial, sans-serif;
}
.contacts .contacts-container .signup input[type="submit"] {
  font-size: 1rem;
  font-family: "Roboto", Arial, sans-serif;
  background-color: white;
  border: 1px solid black;
  width: 140px;
  height: 50px;
  margin: 30px 0;
}
.contacts .contacts-container .address h1 {
  font-size: 2rem;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
  margin: 30% 0 20% 0;
}
.contacts .contacts-container .address .contact {
  margin: 40px 0;
}
.contacts .contacts-container .address .contact h4 {
  font-size: 1.4rem;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}
.contacts .contacts-container .address .contact p {
  font-size: 1rem;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 28px;
}
@media (max-width: 800px) {
  .contacts .contacts-top-section h1 {
    font-size: 3rem;
  }
  .contacts .contacts-container {
    justify-content: space-between;
    width: 80%;
  }
  .contacts .contacts-container .signup {
    margin-top: 8%;
    width: 40%;
  }
  .contacts .contacts-container .signup input[type="text"] {
    width: 75%;
  }
  .contacts .contacts-container .signup select[id="number"] {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .contacts .contacts-top-section h1 {
    font-size: 3rem;
    margin-top: 60%;
  }
  .contacts .contacts-top-section .contacts-jumbo {
    display: none;
  }
  .contacts .contacts-top-section .contacts-mobile {
    display: block;
    width: 100%;
  }
  .contacts .contacts-container {
    flex-direction: column;
    margin: 0 10%;
  }
  .contacts .contacts-container .signup {
    width: 100%;
  }
  .contacts .contacts-container .signup input[type="text"] {
    width: 100%;
  }
  .contacts .contacts-container .signup select[id="number"] {
    width: 105%;
  }
  .contacts .contacts-container .signup input[type="submit"] {
    width: 100%;
  }
  .contacts .contacts-container .address .contact h4 {
    font-size: 1.8rem;
  }
  .contacts .contacts-container .address .contact p {
    font-size: 1.4rem;
  }
}
.about .about-top-section h1 {
  font-size: 5rem;
  font-weight: bold;
  font-family: "Roboto", Arial, sans-serif;
  color: white;
  position: absolute;
  margin: 18% 15% 5% 5%;
}
.about .about-top-section img {
  width: 100%;
  height: 465px;
}
.about .container-about {
  max-width: 880px;
  margin: 0 auto;
}
.about .container-about .about-main-section .people {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
.about .container-about .about-main-section .people .about-text-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 0;
}
.about .container-about .about-main-section .people .about-text-section .about-text-content h2 {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 15px;
}
.about .container-about .about-main-section .people .about-text-section .about-text-content p {
  font-size: 1rem;
  font-family: "Roboto", Arial, sans-serif;
  width: 400px;
  line-height: 24px;
}
.about .container-about .about-main-section .people .about-text-section img {
  width: 300px;
  height: 300px;
}
.about .container-about .about-main-section .about-middle-section {
  width: 100%;
  border-top: 3px dashed grey;
  margin-top: 10%;
  padding-top: 10%;
}
.about .container-about .about-main-section .about-middle-section h2 {
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  margin-bottom: 10%;
}
.about .container-about .about-main-section .about-middle-section img {
  width: 100%;
  height: 300px;
}
.about .container-about .about-main-section .about-middle-section .about-boxes img {
  width: 100%;
  height: 300px;
}
.about .container-about .about-main-section .about-middle-section .about-boxes h3 {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 2rem;
  background-color: lightgrey;
  width: 175px;
  padding: 20px 40px;
  text-align: center;
}
.about .container-about .about-main-section .about-middle-section .about-boxes p {
  font-size: 1.4rem;
  font-family: "Roboto", Arial, sans-serif;
  margin: 60px 0;
  padding: 0 80px;
  line-height: 32px;
}
.about .container-about .about-main-section .about-middle-section .about-boxes .profits {
  position: absolute;
  left: 26.9%;
  margin-top: -2%;
}
.about .container-about .about-main-section .about-middle-section .about-boxes .partners {
  position: absolute;
  right: 26.8%;
  margin-top: -2%;
}
.about .container-about .about-main-section .about-middle-section .about-boxes .designs {
  position: absolute;
  left: 26.9%;
  margin-top: -2%;
}
@media (max-width: 500px) {
  .about .about-top-section h1 {
    font-size: 3rem;
    margin: 40% 15% 5% 5%;
  }
  .about .about-top-section img {
    width: 100%;
    height: 300px;
  }
  .about .container-about .about-main-section {
    width: 100%;
  }
  .about .container-about .about-main-section .people {
    margin: 10% 10%;
  }
  .about .container-about .about-main-section .people .about-text-section {
    flex-direction: column;
  }
  .about .container-about .about-main-section .people .about-text-section img {
    margin: 5% 10%;
  }
  .about .container-about .about-main-section .people .bottom {
    flex-direction: column-reverse;
  }
  .about .container-about .about-main-section .about-middle-section .about-boxes .profits {
    margin-top: -8%;
  }
  .about .container-about .about-main-section .about-middle-section .about-boxes .partners {
    left: 23%;
    margin-top: -8%;
  }
  .about .container-about .about-main-section .about-middle-section .about-boxes .designs {
    right: 30%;
    margin-top: -8%;
  }
}
@media (max-width: 800px) {
  .about .about-top-section h1 {
    margin: 40% 20% 5% 5%;
  }
  .about .container-about .about-main-section {
    width: 90%;
    margin: 0 5%;
  }
  .about .container-about .about-main-section .people .about-text-section .about-text-content p {
    width: 300px;
  }
  .about .container-about .about-main-section .people .top .about-text-content p {
    height: 600px;
  }
  .about .container-about .about-main-section .people .bottom .about-text-content p {
    height: 400px;
  }
  .about .container-about .about-main-section .about-middle-section .about-boxes .profits {
    left: 33%;
    margin-top: -5%;
  }
  .about .container-about .about-main-section .about-middle-section .about-boxes .partners {
    right: 33%;
    margin-top: -5%;
  }
  .about .container-about .about-main-section .about-middle-section .about-boxes .designs {
    left: 33%;
    margin-top: -5%;
  }
}
