/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 400px) {
  .wrapper {
    max-width: 400px;
    width: 95%;
    margin: 0 auto;
    left: 0%;
  }
}
.wrapper .top-content {
  font-weight: bold;
  font-size: 48px;
}
.wrapper .top-content h1 {
  position: absolute;
  color: white;
  width: 200px;
  top: 400px;
  left: 18%;
  z-index: 1;
}
.wrapper .top-content img {
  z-index: 0;
  position: relative;
  width: 1024px;
}
@media (max-width: 400px) {
  .wrapper .top-content {
    font-size: 40px;
  }
  .wrapper .top-content h1 {
    position: relative;
    top: 200px;
    left: 60px;
    width: 40%;
  }
  .wrapper .top-content img {
    position: relative;
    width: 400px;
    margin-bottom: 100px;
    top: 0%;
  }
}
.wrapper .mid-content {
  position: relative;
  left: 50px;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
}
.wrapper .mid-content h2 {
  position: relative;
  font-weight: bold;
  top: 20px;
}
.wrapper .mid-content p {
  padding: 60px;
  line-height: 25px;
}
.wrapper .mid-content button {
  position: relative;
  bottom: 30px;
  left: 50px;
  width: 175px;
  height: 50px;
  background: white;
  border: 1px solid #222222;
  font-size: 20px;
}
.wrapper .mid-content button:hover {
  background: #222222;
  color: white;
}
@media (max-width: 400px) {
  .wrapper .mid-content {
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
  }
  .wrapper .mid-content img {
    position: relative;
    right: 51px;
  }
  .wrapper .mid-content .smith-jones {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 90px;
  }
  .wrapper .mid-content .smith-jones img {
    order: 4;
  }
  .wrapper .mid-content .smith-jones h2 {
    order: 3;
  }
  .wrapper .mid-content .smith-jones button {
    order: 1;
  }
  .wrapper .mid-content .smith-jones p {
    order: 2;
  }
  .wrapper .mid-content p {
    position: relative;
    right: 50px;
  }
  .wrapper .mid-content button {
    position: relative;
    left: 20px;
  }
}
.wrapper .rp-text {
  margin-top: 100px;
  margin-bottom: 60px;
  font-weight: bold;
}
.wrapper .bottom-content img {
  position: relative;
  left: 15px;
  width: 90%;
}
.wrapper .bottom-content span {
  position: relative;
  height: 60px;
  width: 250px;
  font-size: 32px;
  border: 1px solid black;
  background: white;
  padding: 20px;
}
.wrapper .bottom-content .buildings-text-r span {
  left: 75%;
  bottom: 25px;
}
.wrapper .bottom-content article {
  position: relative;
  left: 20%;
  margin-top: 60px;
  max-width: 600px;
  line-height: 25px;
}
.wrapper .bottom-content article section {
  margin-bottom: 25px;
}
.wrapper .bottom-content article p {
  margin-bottom: 60px;
}
@media (max-width: 400px) {
  .wrapper .bottom-content .buildings-text-r img {
    height: 400px;
    width: 400px;
    left: 0%;
  }
  .wrapper .bottom-content .buildings-text-r span {
    left: 51px;
  }
  .wrapper .bottom-content article {
    left: 0%;
  }
}
/*

@media (max-width:400px){
	.wrapper{
		max-width:400px;
		margin:0 auto;
		background:red;
	}
} */
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.container .top-content-s h1 {
  font-weight: bold;
  font-size: 48px;
  position: relative;
  bottom: 80px;
  left: 40px;
  color: #FFFFFF;
}
.container article {
  max-width: 800px;
  margin: 0 auto;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container .tabs {
  margin-top: 50px;
  margin-bottom: 300px;
  width: 100%;
}
.container .tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.container .tabs .tabs-item {
  display: none;
  width: 75%;
}
.container .tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.container .tabs .tabs-item-selected {
  display: block;
}
.container .tabs .tabs-links {
  display: flex;
  justify-content: space-between;
}
.container .tabs .tabs-link {
  border: 1px solid black;
  padding: 20px 25px;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  color: black;
  cursor: pointer;
}
.container .tabs .tabs-link:hover {
  background-color: lightblue;
}
.container .tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #222222;
  background-color: lightblue;
  color: black;
}
.container .tabs .tabs-link-selected:hover {
  background-color: white;
}
.container .tabs .tabs-item-description {
  display: flex;
}
.container .tabs .tabs-item-description article {
  position: relative;
  width: 600px;
}
.container .tabs .tabs-item-description img {
  position: relative;
  width: 310px;
  height: 290px;
  border: 1px solid lightgrey;
  left: 50px;
}
.footer-content {
  /*	background:red;	*/
  background: darkgrey;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  line-height: 25px;
  padding: 20px;
  padding-bottom: 40px;
}
.footer-content h2 {
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 400px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-content h2 {
    margin-top: 20px;
  }
}
.nav-bar {
  z-index: 3;
  position: fixed;
  background: blue;
  height: 40px;
  width: 1016px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}
.nav-bar .s-j {
  font-weight: bold;
  font-size: 26px;
}
@media (max-width: 400px) {
  .nav-bar {
    width: 400px;
    left: 0%;
  }
  .nav-bar .s-j {
    font-size: 16px;
  }
}
