/* Your Code Goes Here */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-fluid {
  max-width: 1024px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background: #FFFFFF;
  font-family: Roboto, Arial, sans-serif;
}
div {
  width: 100%;
}
h2 {
  color: #222222;
  font-weight: bold;
  font-size: 22px;
  word-spacing: 7px;
}
@media ( max-width: 400px ) {
  h2 {
    font-size: 28px;
    word-spacing: 2px;
  }
}
@media ( max-width: 400px ) {
  .mobile-paragraph-font {
    font-size: 19px;
  }
}
.custom-nav {
  background: #99A4AF;
  position: fixed;
  z-index: 1;
  width: 100%;
  max-width: 1024px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -webkit-box-shadow: 0px 1px #828282;
  -moz-box-shadow: 0px 1px #828282;
  box-shadow: 0px 1px #828282;
}
.custom-nav h1 {
  color: #FFFFFF;
  font-size: 23px;
  margin-bottom: 0;
  letter-spacing: 1px;
}
@media ( max-width: 400px ) {
  .custom-nav h1 {
    font-size: 30px;
  }
}
.custom-nav .row {
  display: flex;
  justify-content: space-around;
}
.custom-nav .col-8 {
  margin-top: 10px;
  margin-bottom: 12px;
}
.custom-nav .col-1 {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 12px;
  align-items: center;
}
.custom-nav .hamburger {
  display: flex;
  justify-content: flex-end;
}
.custom-jumbotron .col {
  position: relative;
  text-align: center;
  color: white;
}
@media ( max-width: 400px ) {
  .custom-jumbotron .col img {
    display: none;
  }
}
.custom-jumbotron .col .mobile-jumbo {
  display: none;
}
@media ( max-width: 400px ) {
  .custom-jumbotron .col .mobile-jumbo {
    display: block;
    width: 100%;
  }
}
.custom-jumbotron .col .bottom-left {
  position: absolute;
  text-align: left;
  bottom: 8px;
  left: 16px;
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  margin-bottom: 40px;
  margin-left: 60px;
}
@media ( max-width: 400px ) {
  .custom-jumbotron .col .bottom-left {
    bottom: 32px;
    left: 16px;
    font-size: 43px;
    line-height: 54px;
    margin-bottom: 0;
    margin-left: 0;
  }
}
.mobile-img {
  display: none;
}
@media ( max-width: 400px ) {
  .mobile-img {
    display: block;
    width: 100%;
  }
}
@media ( max-width: 400px ) {
  .img-hide {
    display: none;
  }
}
.btn {
  border: 1px solid #222222;
  border-radius: 0;
  padding: 9px;
  width: 140px;
}
@media ( max-width: 400px ) {
  .btn {
    width: 100%;
  }
}
.custom-row {
  position: relative;
}
.text-block-right {
  position: absolute;
  bottom: -45px;
  right: 85px;
  background-color: #DDDDDD;
  color: black;
  padding: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: sans-serif;
  letter-spacing: 6px;
  font-weight: lighter;
  text-align: center;
  font-size: 22px;
  width: 325px;
}
@media ( max-width: 400px ) {
  .text-block-right {
    bottom: -70px;
    right: 20px;
    font-size: 26px;
    width: 90%;
  }
}
.text-block-left {
  position: absolute;
  bottom: -45px;
  left: 85px;
  background-color: #DDDDDD;
  color: black;
  padding: 25px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: sans-serif;
  letter-spacing: 6px;
  font-weight: lighter;
  text-align: center;
  font-size: 25px;
  width: 325px;
}
@media ( max-width: 400px ) {
  .text-block-left {
    bottom: -70px;
    left: 20px;
    font-size: 26px;
    width: 90%;
  }
}
.custom-font-size {
  font-size: 18px;
}
@media ( max-width: 400px ) {
  .custom-font-size {
    font-size: 20px;
  }
}
.menu-button {
  cursor: pointer;
}
.menu-close {
  display: none;
  cursor: pointer;
}
.menu {
  display: none;
  padding-top: 60px;
  height: 100vh;
  width: 100%;
  background-color: #99A4AF;
}
.menu ul {
  padding: 0;
}
.menu ul li {
  list-style-type: none;
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}
.menu ul li a {
  color: #FFFFFF;
}
.menu ul li a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #222222;
}
.menu--open {
  display: block;
}
.custom-services-jumbotron .col {
  position: relative;
  text-align: center;
  color: white;
}
.custom-services-jumbotron .col .bottom-left {
  position: absolute;
  text-align: left;
  bottom: -20px;
  left: 21px;
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
  margin-bottom: 40px;
  margin-left: 60px;
}
.custom-tab-nav {
  display: flex;
  justify-content: space-evenly;
}
.custom-tab-nav button {
  font-size: 18px;
  font-weight: 700;
  width: 180px;
}
.tabs-item {
  display: none;
}
.tabs-item-selected {
  display: block;
}
.tabs-link-selected:hover {
  background-color: #5E9FB9;
  color: white;
}
.custom-footer {
  background: #828282;
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: lighter;
  line-height: 22px;
}
@media ( max-width: 400px ) {
  .custom-footer {
    flex-wrap: wrap;
  }
}
.custom-footer h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}
.custom-footer label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 18px;
}
.custom-footer input {
  width: 95%;
}
.custom-footer p {
  font-size: 13;
  line-height: 10px;
}
.custom-footer .custom-footer-font {
  font-size: 12px;
}
@media ( max-width: 400px ) {
  .custom-footer .custom-footer-font {
    justify-content: start;
    align-items: flex-start;
  }
}
