/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
  line-height: 24px;
}
body {
  background-color: #FFFFFF;
  color: #222222;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
header .navigation .logo-img {
  background-color: #97A4B0;
  display: flex;
  position: fixed;
  top: 0;
  max-width: 1024px;
  width: 100%;
  justify-content: space-between;
  padding: 10px 80px;
  z-index: 2;
  cursor: pointer;
}
@media (max-width: 500px) {
  header .navigation .logo-img {
    padding: 10px 30px;
  }
}
header .navigation .logo-img .nav-logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
header .navigation .links {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #97A4B0;
  min-width: 800px;
  max-width: 1024px;
  min-height: 100%;
  height: auto;
  position: fixed;
  top: 44px;
  z-index: 3;
  padding-bottom: 250px;
  opacity: 0.5;
}
@media (max-width: 800px) {
  header .navigation .links {
    min-width: 500px;
    max-width: 800px;
  }
}
@media (max-width: 500px) {
  header .navigation .links {
    min-width: 300px;
    max-width: 500px;
  }
}
header .navigation .links .nav-link {
  font-weight: bold;
  font-size: 3rem;
  line-height: 100px;
  color: #FFFFFF;
  text-decoration: none;
}
header .navigation .links .nav-link:hover {
  color: #222222;
}
header .navigation .hide {
  display: none;
}
footer {
  padding: 0 70px;
  background-color: #828282;
  font-size: 0.8rem;
  color: #FFFFFF;
}
footer h4 {
  font-weight: regular;
  font-size: 1.25rem;
  line-height: 24px;
  color: #FFFFFF;
}
footer .bottom {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 500px) {
  footer .bottom {
    flex-direction: column;
  }
}
footer .bottom .email {
  margin-right: 10px;
}
footer .bottom .contact {
  line-height: 27px;
  margin-right: 5px;
}
@media (max-width: 500px) {
  footer .bottom .contact {
    margin-top: 20px;
  }
}
footer .bottom input {
  margin: 15px 0 10px 0;
  width: 97%;
  height: 40px;
  font-size: 1rem;
  border-radius: 5px;
  color: lightgrey;
}
footer .copyright {
  padding: 20px;
  text-align: center;
}
.home {
  cursor: crosshair;
}
.home .welcome {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  align-items: center;
  width: 100%;
  background-color: #97A4B0;
  min-width: 800px;
  max-width: 4000px;
  min-height: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 1;
}
.home .welcome .letter {
  font-size: 1.5rem;
  opacity: 1;
  color: #FFFFFF;
}
@media (max-width: 800px) {
  .home .welcome {
    min-width: 500px;
    max-width: 800px;
  }
}
@media (max-width: 500px) {
  .home .welcome {
    min-width: 300px;
    max-width: 500px;
  }
}
.home .welcome .daddyarrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 300px;
  width: 100px;
  color: #FFFFFF;
  margin-top: 20px;
}
.home .welcome .daddyarrow .arrows {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .welcome .daddyarrow .arrows:hover {
  flex-direction: row;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
.home .hide {
  display: none;
}
.home [data-aos="anim1"] {
  transform: skewX(45deg);
  opacity: 0;
  transition-property: transform, opacity;
}
.home [data-aos="anim1"].aos-animate {
  transform: skewX(0);
  opacity: 1;
}
.home [data-aos="anim2"] {
  transform: rotate(360deg);
  opacity: 0;
  transition-property: transform, opacity;
}
.home [data-aos="anim2"].aos-animate {
  transform: rotate(0);
  opacity: 1;
}
.home .top {
  margin: 0 80px;
}
.home .top .mobile {
  display: none;
}
.home .top h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.home .top .intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 55px 0;
  line-height: 1.5rem;
}
.home .top .intro img {
  width: 47%;
  margin: 0 10px 30px;
}
.home .top .intro .intro-content p {
  max-width: 410px;
}
@media (max-width: 800px) {
  .home .top .intro .intro-content p {
    max-width: 300px;
  }
}
.home .top .intro .intro-content .btn {
  width: 140px;
  height: 45px;
  background-color: #FFFFFF;
  color: #222222;
  border: 1px solid #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .home .top {
    margin: 0 30px;
  }
  .home .top .mobile {
    display: block;
  }
  .home .top .intro-img {
    display: none;
  }
  .home .top .intro {
    flex-direction: column;
    margin: 20px 0;
    line-height: 25px;
  }
  .home .top .intro img {
    order: -1;
    width: 100%;
    margin-bottom: 20px;
  }
  .home .top .intro .intro-content .btn {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    color: #222222;
    border: 1px solid #222222;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.home .middle {
  margin: 90px 80px;
}
.home .middle .mobile {
  display: none;
}
@media (max-width: 500px) {
  .home .middle {
    margin: 20px 0;
  }
  .home .middle h2 {
    margin: 0 30px;
  }
  .home .middle .mobile {
    display: block;
    width: 100%;
  }
  .home .middle .examples-img {
    display: none;
  }
}
.home .middle h2 {
  font-size: 1.4rem;
  font-weight: bold;
}
.home .middle img {
  margin: 40px 0;
  width: 100%;
}
.home .middle p {
  margin: 20px auto;
  line-height: 1.9rem;
  width: 48%;
  font-size: 1.1rem;
  color: #222222;
}
@media (max-width: 500px) {
  .home .middle p {
    width: 90%;
    margin: 20px 30px;
    line-height: 24px;
  }
}
.home .middle .example-img-title {
  position: relative;
}
@media (max-width: 500px) {
  .home .middle .example-img-title {
    margin-bottom: 95px;
  }
}
.home .middle .example-img-title .example-title-right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  bottom: 20px;
  width: 38%;
  height: 90px;
  background-color: lightgrey;
  letter-spacing: 7px;
  font-size: 1.5rem;
  border: 1px solid #FFFFFF;
}
@media (max-width: 500px) {
  .home .middle .example-img-title .example-title-right {
    right: 10%;
    bottom: -75px;
    width: 80%;
  }
}
.home .middle .example-img-title .example-title-left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  bottom: 20px;
  width: 38%;
  height: 90px;
  background-color: lightgrey;
  letter-spacing: 7px;
  font-size: 1.5rem;
  border: 1px solid #FFFFFF;
}
@media (max-width: 500px) {
  .home .middle .example-img-title .example-title-left {
    left: 10%;
    bottom: -75px;
    width: 80%;
  }
}
.services .loading {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  align-items: center;
  width: 100%;
  background-color: #97A4B0;
  min-width: 800px;
  max-width: 4000px;
  min-height: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 1;
}
@media (max-width: 800px) {
  .services .loading {
    min-width: 500px;
    max-width: 800px;
  }
}
@media (max-width: 500px) {
  .services .loading {
    min-width: 300px;
    max-width: 500px;
  }
}
.services .loading .roof {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  font-size: 400px;
}
.services .loading .frame {
  display: flex;
}
.services .loading .frame .left-wall {
  font-size: 300px;
}
.services .loading .frame .right-wall {
  font-size: 300px;
  margin-left: 280px;
}
.services .loading .foundation {
  display: flex;
  align-items: flex-end;
}
.services .loading .foundation .floor {
  font-size: 195px;
}
.services .loading .words {
  display: flex;
  justify-content: center;
  width: 400px;
  font-size: 30px;
}
.services .hide {
  display: none;
}
.services .services-motto {
  margin-top: 44px;
  position: relative;
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: bold;
  line-height: 75px;
}
.services .services-motto .services-jumbotron {
  width: 100%;
}
@media (max-width: 500px) {
  .services .services-motto .services-jumbotron {
    display: none;
  }
}
.services .services-motto .mobile {
  display: none;
}
@media (max-width: 500px) {
  .services .services-motto .mobile {
    display: block;
    width: 100%;
    height: 250px;
  }
}
.services .services-motto .services-motto-content {
  position: absolute;
  bottom: 40px;
  left: 80px;
}
@media (max-width: 500px) {
  .services .services-motto {
    font-size: 3rem;
    line-height: 40px;
  }
  .services .services-motto .services-motto-content {
    bottom: 40px;
    left: 50px;
  }
}
.services .main {
  margin: 30px 80px;
  line-height: 1.7rem;
}
.services .main .tabs {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .services .main .tabs {
    justify-content: space-around;
  }
}
.services .main .tabs .tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 10px 10px 0;
  padding: -4px;
  width: 180px;
  height: 40px;
  border: 1px solid #222222;
}
.services .main .tabs .tab-link:hover {
  background-color: #6c94b2;
  color: #FFFFFF;
  cursor: pointer;
}
.services .main .tab-output {
  margin: 30px 0 60px;
}
.services .main .tab-output .output {
  display: none;
}
.services .main .tab-output .show {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .services .main .tab-output .show {
    flex-direction: column-reverse;
  }
}
.services .main .tab-output .show .output-img {
  width: 47%;
  margin: 20px 0px 20px 20px;
}
@media (max-width: 500px) {
  .services .main .tab-output .show .output-img {
    display: none;
  }
}
@media (max-width: 800px) {
  .services .main .tab-output .show .output-img {
    display: none;
  }
}
.services .main .tab-output .show .mobile {
  display: none;
}
@media (max-width: 500px) {
  .services .main .tab-output .show .mobile {
    display: block;
    width: 95%;
    margin: 20px;
  }
}
.services .main .tab-output .show .content {
  width: 47%;
}
@media (max-width: 800px) {
  .services .main .tab-output .show .content {
    width: 95%;
  }
}
@media (max-width: 500px) {
  .services .main .tab-output .show .content {
    width: 95%;
    margin: 0 20px;
  }
}
.services .main .tab-output .show .content h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.home-motto {
  margin-top: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  position: relative;
  overflow: hidden;
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: bold;
  line-height: 75px;
}
@media (max-width: 500px) {
  .home-motto {
    height: auto;
  }
}
.home-motto .home-jumbotron {
  width: 100%;
}
@media (max-width: 500px) {
  .home-motto .home-jumbotron {
    display: none;
  }
}
.home-motto .home-motto-content {
  position: absolute;
  bottom: 50px;
  left: 80px;
}
.home-motto .mobile {
  display: none;
}
@media (max-width: 500px) {
  .home-motto {
    font-size: 2rem;
    line-height: 40px;
  }
  .home-motto .mobile {
    display: block;
    width: 100%;
    height: auto;
  }
  .home-motto .home-motto-content {
    bottom: 40px;
    left: 30px;
  }
}
.home-motto .left-button,
.home-motto .right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #a19f9f;
  font-size: 30px;
  border-radius: 50%;
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.home-motto .left-button:hover,
.home-motto .right-button:hover {
  color: #222222;
  background-color: #FFFFFF;
  border: 2px solid #a19f9f;
}
@media (max-width: 500px) {
  .home-motto .left-button,
  .home-motto .right-button {
    display: none;
  }
}
.home-motto .left-button {
  top: 90%;
  left: 15px;
  transform: translate(0, -50%);
}
.home-motto .right-button {
  top: 90%;
  right: 15px;
  transform: translate(0, -50%);
}
.home-motto img {
  width: 100%;
  height: 100%;
  display: none;
}
.home-motto .show {
  display: block;
}
@media (max-width: 500px) {
  .home-motto .show {
    display: none;
  }
}
.contact-page .loading {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  align-items: center;
  width: 100%;
  background-color: #97A4B0;
  min-width: 800px;
  max-width: 4000px;
  min-height: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 1;
}
@media (max-width: 800px) {
  .contact-page .loading {
    min-width: 500px;
    max-width: 800px;
  }
}
@media (max-width: 500px) {
  .contact-page .loading {
    min-width: 300px;
    max-width: 500px;
  }
}
.contact-page .loading .roof {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  font-size: 400px;
}
.contact-page .loading .frame {
  display: flex;
}
.contact-page .loading .frame .left-wall {
  font-size: 300px;
}
.contact-page .loading .frame .right-wall {
  font-size: 300px;
  margin-left: 280px;
}
.contact-page .loading .foundation {
  display: flex;
  align-items: flex-end;
}
.contact-page .loading .foundation .floor {
  font-size: 195px;
}
.contact-page .loading .words {
  display: flex;
  justify-content: center;
  width: 400px;
  font-size: 30px;
}
.contact-page .hide {
  display: none;
}
.contact-page .contact-motto {
  margin-top: 44px;
  position: relative;
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: bold;
  line-height: 75px;
}
.contact-page .contact-motto .contact-jumbotron {
  width: 100%;
}
@media (max-width: 500px) {
  .contact-page .contact-motto .contact-jumbotron {
    display: none;
  }
}
.contact-page .contact-motto .mobile {
  display: none;
}
@media (max-width: 500px) {
  .contact-page .contact-motto .mobile {
    display: block;
    width: 100%;
    height: 250px;
  }
}
.contact-page .contact-motto .contact-motto-content {
  position: absolute;
  bottom: 40px;
  left: 80px;
}
@media (max-width: 500px) {
  .contact-page .contact-motto {
    font-size: 3rem;
    line-height: 40px;
  }
  .contact-page .contact-motto .contact-motto-content {
    bottom: 40px;
    left: 50px;
  }
}
.contact-page .main {
  margin: 30px 80px;
}
.contact-page .main .tabs {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .contact-page .main .tabs {
    justify-content: space-around;
  }
}
.contact-page .main .tabs .tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px;
  width: 200px;
  height: 40px;
  border: 1px solid #222222;
}
.contact-page .main .tabs .tab-link:hover {
  background-color: #6c94b2;
  color: #FFFFFF;
  cursor: pointer;
}
.contact-page .main .tab-output .output {
  display: none;
}
.contact-page .main .tab-output .show {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .contact-page .main .tab-output .show {
    flex-direction: column-reverse;
  }
}
.contact-page .main .tab-output .show .output-img {
  width: 40%;
  height: 80%;
  margin: 20px 0px 20px 20px;
}
@media (max-width: 500px) {
  .contact-page .main .tab-output .show .output-img {
    display: none;
  }
}
.contact-page .main .tab-output .show .mobile {
  display: none;
}
@media (max-width: 500px) {
  .contact-page .main .tab-output .show .mobile {
    display: block;
    width: 95%;
    margin: 20px;
  }
}
.contact-page .main .tab-output .show .contact-submitted {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-page .main .tab-output .show .contact-submitted p {
  font-size: 2rem;
}
.contact-page .main .tab-output .show .hide {
  display: none;
}
.contact-page .main .tab-output .show .content {
  width: 47%;
  margin: 20px;
}
@media (max-width: 500px) {
  .contact-page .main .tab-output .show .content {
    width: 95%;
    margin: 0 20px;
  }
}
.contact-page .main .tab-output .show .content h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.contact-page .main .tab-output .show .content li {
  font-style: italic;
  margin: 10px 0;
}
.contact-page .main .tab-output .show .content li a {
  text-decoration: none;
  color: #222222;
}
.contact-page .main .tab-output .show .content li a:hover {
  cursor: pointer;
  color: #6c94b2;
}
.contact-page .main .tab-output .show .content li:hover {
  cursor: pointer;
  color: #6c94b2;
}
.contact-page .main .tab-output .show .content input {
  font-size: 1rem;
  height: 40px;
  width: 200px;
  margin: 10px 0;
}
.contact-page .main .tab-output .show .content .hide {
  display: none;
}
.contact-page .main .tab-output .show .content .answer {
  margin: 10px;
  font-weight: bold;
}
.contact-page .main .tab-output .show .content .btn {
  height: 40px;
  width: 170px;
  color: #FFFFFF;
  background-color: #B8C5CE;
  border: 2px #828282 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.6rem;
  font-size: 1.3rem;
  width: 140px;
  height: 35px;
  margin: 30px 0;
  background-color: grey;
}
.contact-page .main .tab-output .show .content .btn:hover {
  cursor: pointer;
  background-color: #6c94b2;
  color: #FFFFFF;
}
