/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  width: 1020px;
}
.container .header {
  width: 100vw;
}
.container .header .bar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #828282;
  opacity: .75;
  position: fixed;
  z-index: 2;
}
.container .header .bar h1 {
  align-self: flex-start;
  margin: 20px;
  margin-left: 5%;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}
.container .header .bar .menu {
  align-self: flex-end;
  margin: 20px;
  margin-right: 8%;
  z-index: 3;
}
.container .header .bar .menu .dropdown .dropdown-button:hover {
  cursor: pointer;
}
.container .header .bar .menu .dropdown .dropdown-content {
  display: none;
}
.container .header .bar .menu .dropdown .dropdown--open {
  background-color: #828282;
  display: block;
  height: 90vh;
  width: 100vw;
  padding: 0 130px;
  position: fixed;
  top: 10vh;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: .95;
  z-index: 1;
}
.container .header .bar .menu .dropdown .dropdown--open .dropdown-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin: 15vh 130px 15vh;
  color: #FFF;
  font-family: Roboto, Arial, sans-serif;
  font-size: 4rem;
  text-decoration: none;
}
@media (max-width: 399px) {
  .container .header .dropdown--open {
    background-color: #828282;
    display: block;
    height: 90vh;
    width: 100vw;
    padding: 0 130px;
    position: fixed;
    top: 10vh;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .95;
    z-index: 1;
  }
  .container .header .dropdown--open .dropdown-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    margin: 20px 0;
    color: #FFF;
    font-family: Roboto, Arial, sans-serif;
    font-size: 2rem;
    text-decoration: none;
  }
}
.container .header .jumbotron {
  width: 100%;
  background-image: url(../img/services/services-jumbotron.png);
  background-size: 100vw;
  height: 50vh;
  display: flex;
  align-items: flex-end;
}
.container .header .jumbotron h1 {
  color: white;
  font-size: 3rem;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  margin-left: 8%;
  margin-bottom: 4%;
}
.container .main-content {
  margin: 0 130px;
  width: 100%;
  max-height: 100%;
}
.container .main-content .intro {
  font-size: 1.6rem;
  font-family: Roboto, Arial, sans-serif;
  margin: 5% 0;
}
.container .main-content .tabs {
  margin-top: 3%;
}
.container .main-content .tabs .services {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.container .main-content .tabs .services .tab {
  display: inline-flex;
  align-items: flex-end;
  border: 1px solid black;
  margin: 0 5px;
  padding: 2px 10px;
  height: 50px;
  letter-spacing: 2px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Roboto, Arial, sans-serif;
}
.container .main-content .tabs .services .tab:hover {
  border: 3px solid #FFF;
  background-color: #222222;
  color: #FFF;
}
.container .main-content .tabs .services .active-tab {
  background-color: #5E9FB9;
}
.container .main-content .cards-container {
  display: flex;
  justify-content: space-evenly;
  margin: 8% 0;
  height: 70vh;
  width: 100%;
}
.container .main-content .cards-container .active h2 {
  font-weight: bold;
  font-size: 1.6rem;
  font-family: Roboto, Arial, sans-serif;
  width: 100%;
}
.container .main-content .cards-container .active .row {
  display: flex;
  justify-content: space-between;
}
.container .main-content .cards-container .active .row .text {
  font-size: 1.2rem;
  font-family: Roboto, Arial, sans-serif;
  line-height: 2;
  width: 48%;
}
.container .main-content .cards-container .active .row .text p {
  margin: 5% 0;
}
.container .main-content .cards-container .active .row img {
  width: 48%;
}
.container .bottom-content {
  background-color: #828282;
  color: white;
  height: 25%;
  width: 100vw;
}
.container .bottom-content .contact-container {
  display: inline-flex;
  justify-content: space-evenly;
  margin: 3% 0;
  padding: 3% 0 0;
  width: 100%;
}
.container .bottom-content .contact-container .contact {
  display: block;
  align-self: center;
  height: 25vh;
  line-height: 1.5;
}
.container .bottom-content .contact-container .contact h2 {
  font-weight: bold;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.6rem;
}
.container .bottom-content .contact-container .contact p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  line-height: 2;
  margin: 3% 0;
}
.container .bottom-content .contact-container .form {
  line-height: 2;
}
.container .bottom-content .contact-container .form input {
  height: 50px;
  width: 100%;
}
.container .bottom-content .footer {
  width: 40%;
  margin: 3% 30% 0;
}
.container .bottom-content .footer p {
  margin: 0 20%;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
}
