/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.jumbo-home {
  position: relative;
  margin: 0 auto;
  max-width: 1024px;
  font-family: Roboto, Arial, sans-serif;
  color: #222222;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.jumbo-home .jumbo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1000;
}
@media (max-width: 500px) {
  .jumbo-home .jumbo-header {
    width: 100%;
    font-size: 2rem;
  }
}
.jumbo-home .jumbo-header h2 {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
  position: absolute;
  left: 8%;
  top: 322px;
}
@media (max-width: 500px) {
  .jumbo-home .jumbo-header h2 {
    font-size: 3.5rem;
    line-height: 45px;
    letter-spacing: 2.5px;
    position: absolute;
    top: 100px;
  }
}
.jumbo-home .part-one {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .jumbo-home .part-one {
    flex-direction: column-reverse;
    height: 620px;
  }
}
.jumbo-home .part-one .text {
  width: 42%;
  margin: 4% 3.5% 0 -2.6%;
}
@media (max-width: 500px) {
  .jumbo-home .part-one .text {
    width: 60%;
    margin: 0 0 0 5%;
  }
}
.jumbo-home .part-one .text h4 {
  font-weight: bold;
  font-size: 2.3rem;
  color: #222222;
  letter-spacing: 0.5px;
  margin: 0 0 21px 0;
}
.jumbo-home .part-one .button {
  width: 136px;
  height: 47px;
  background-color: white;
  color: #222222;
  cursor: pointer;
  border: 1px solid #222222;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 27px 0px 0 -3px;
}
.jumbo-home .part-one .button:hover {
  color: #FFCB05;
  background: #00274C;
}
.jumbo-home .part-one .button a {
  text-decoration: none;
  color: #222222;
  padding: 9px 15px;
}
.jumbo-home .part-one .button a:hover {
  color: #FFCB05;
  background: #00274C;
}
@media (max-width: 500px) {
  .jumbo-home .part-one .button {
    width: 100%;
    margin: 27px 0px 0 0;
  }
}
.jumbo-home .part-one .images {
  margin: 7.8% 0 5% 0;
}
@media (max-width: 500px) {
  .jumbo-home .part-one .images {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 35px 2%;
  }
}
@media (max-width: 500px) {
  .jumbo-home .picleft {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }
}
.jumbo-home .picleft .images {
  width: 43%;
  margin: 8% 0 0 3.2%;
}
@media (max-width: 500px) {
  .jumbo-home .picleft .images {
    margin-left: 10%;
    width: 100%;
  }
}
.jumbo-home .picleft .text {
  margin: 7.2% 0 0 -1.6%;
}
@media (max-width: 500px) {
  .jumbo-home .picleft .text {
    margin: 38px 0 0 7.2%;
  }
}
.jumbo-home .part-two {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, Arial, sans-serif;
  color: #222222;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.jumbo-home .part-two h4 {
  font-weight: bold;
  font-size: 2.3rem;
  color: #222222;
  margin: 9.8% 0 4.5% 0;
  margin-right: auto;
  padding-left: 8.1%;
  letter-spacing: 0.6px;
}
@media (max-width: 500px) {
  .jumbo-home .part-two h4 {
    font-size: 2.5rem;
    width: 100%;
    padding-left: 21%;
  }
}
.jumbo-home .part-two .section-title {
  width: 314px;
  height: 95px;
  font-family: Roboto, Arial, sans-serif;
  color: #222222;
  background: #D8D8D8;
  font-size: 2.5rem;
  letter-spacing: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbo-home .part-two .right {
  margin: -5.8% 0 0 53%;
}
@media (max-width: 500px) {
  .jumbo-home .part-two .right {
    margin: -19px 0 0 0;
    width: 57%;
  }
}
.jumbo-home .part-two .left {
  margin: -5.8% 0 0 -53%;
}
@media (max-width: 500px) {
  .jumbo-home .part-two .left {
    margin: -19px 0 0 0;
    width: 57%;
  }
}
.jumbo-home .part-two .text {
  font-family: Roboto, Arial, sans-serif;
  color: #222222;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-size: 1.8rem;
  width: 44%;
  margin: 5% 0.3% 10% 0;
}
@media (max-width: 500px) {
  .jumbo-home .part-two .text {
    width: 60%;
  }
}
.recent-projects {
  width: 314px;
  height: 95px;
  font-family: Roboto, Arial, sans-serif;
  color: #222222;
  background: #D8D8D8;
  font-size: 2.5rem;
  letter-spacing: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-headings {
  font-weight: Bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.nav-header {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  height: 50px;
  background: #97A4B0;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}
@media (max-width: 500px) {
  .nav-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.nav-header .nav-div {
  display: flex;
  justify-content: left;
  width: 100%;
  position: relative;
}
.nav-header .nav-div .nav {
  display: none;
  background-color: #97A4B0;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0.9;
}
.nav-header .nav-div .nav .close {
  position: absolute;
  right: 10%;
  top: 12px;
  cursor: pointer;
}
.nav-header .nav-div .nav .close:hover {
  transform: scale(1.25);
}
.nav-header .nav-div .nav .nav-item {
  font-family: Roboto, Arial, sans-serif;
  color: #222222;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-size: 48px;
  font-weight: Bold;
  line-height: 85px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
}
.nav-header .nav-div .nav .nav-item:hover {
  color: #222222;
}
.nav-header .nav-div .full-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav-header .nav-div .firm-name {
  Font-weight: Bold;
  Font-size: 24px;
  color: #FFFFFF;
  font-family: Roboto, Arial, sans-serif;
  margin-left: 8.3%;
}
.nav-header .nav-div .repeat-logo {
  position: absolute;
  left: 0;
  top: 12px;
}
.nav-header .nav-div .menu {
  position: absolute;
  right: 10%;
  top: 1px;
  cursor: pointer;
}
.footer {
  margin: 0 auto 2% auto;
  max-width: 1024px;
  width: 100%;
  height: 240px;
  padding: 3.5% 0 0 4.8%;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto, Arial, sans-serif;
  color: #222222;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #ffffff;
  background: #828282;
}
@media (max-width: 500px) {
  .footer {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20%;
    height: 650px;
  }
}
.footer h5 {
  font-weight: Bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer .form input {
  width: 281px;
  height: 44px;
  color: #97A4B0;
  font-size: 1.6rem;
  margin-top: 13px;
  border-radius: 6px;
  padding-left: 8px;
}
.footer .form p {
  font-size: 1.3rem;
  font-weight: 100;
}
.footer .address {
  font-weight: 100;
  font-size: 1.4rem;
  line-height: 26px;
  color: #FFFFFF;
  margin-right: 3.5%;
  margin-left: 4.7%;
}
@media (max-width: 500px) {
  .footer .address {
    margin: 0;
    padding: 0 61% 0 0;
  }
}
.footer .copyright {
  font-size: 1.2rem;
  font-weight: 100;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 8.1%;
}
.services {
  margin: 0 auto;
  position: relative;
  max-width: 1024px;
  font-family: Roboto, Arial, sans-serif;
  color: #222222;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.services .services-header {
  width: 100%;
}
@media (max-width: 500px) {
  .services .services-header {
    width: 100%;
    font-size: 2rem;
  }
}
.services .services-header h2 {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #FFFFFF;
  position: absolute;
  left: 8.2%;
  top: 150px;
}
@media (max-width: 500px) {
  .services .services-header h2 {
    font-size: 3.5rem;
    line-height: 45px;
    letter-spacing: 2.5px;
    position: absolute;
    top: 100px;
    left: 4%;
  }
}
.services .services-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .services .services-wrapper {
    flex-direction: column-reverse;
  }
}
.services .services-wrapper .services-content {
  margin: 50px 7.5% 0 8.6%;
}
.services .services-wrapper .tab-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  padding: 4% 5% 1% 7%;
}
.services .services-wrapper .tab-container .tabs-link {
  width: 183px;
  height: 47px;
  background-color: white;
  color: #222222;
  cursor: pointer;
  border: 1px solid #222222;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .services-wrapper .tab-container .tabs-link a {
  text-decoration: none;
  color: #222222;
  font-weight: 700;
}
.services .services-wrapper .tab-container .tabs-link-selected {
  background: #5E9FB9;
  color: white;
}
.services .services-wrapper .tab-container .tabs-link-selected a {
  color: white;
}
.services .services-wrapper .tabs-item {
  display: none;
}
.services .services-wrapper .tabs-item-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}
.services .services-wrapper .text-services {
  width: 41%;
  margin: 36px 3.3% 0 8.6%;
}
@media (max-width: 500px) {
  .services .services-wrapper .text-services {
    width: 60%;
    margin: 0 0 0 5%;
  }
}
.services .services-wrapper .text-services h4 {
  font-weight: bold;
  font-size: 2.3rem;
  color: #222222;
  margin: 0 0 21px 0;
}
.services .services-wrapper .img-content {
  width: 46%;
  margin-top: 88px;
}
@media (max-width: 500px) {
  .services .services-wrapper .img-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 35px 2%;
  }
}
