/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #FFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  border: 1px solid red;
  height: 100%;
  width: 100%;
  max-width: 900px;
}
.container nav {
  position: sticky;
}
.container nav .custom-nav {
  color: #FFFFFF !important;
  padding-left: 40px;
  font-weight: bold;
  font-size: 24px;
}
.container nav .menu {
  padding-right: 40px;
}
.container .jumbotron {
  background-color: #FFFFFF !important;
  padding: 0;
  margin: 0;
}
.container .jumbotron img {
  width: 868px;
  height: 400px;
}
.container .jumbotron h2 {
  font-weight: bold;
  font-size: 44px;
  line-height: 50px;
  position: absolute;
  margin-top: -185px;
  margin-left: 110px;
  color: white;
}
.container .row .col-sm-6 .sja-header {
  font-weight: bold;
  font-size: 22px;
  color: #222222;
  margin-top: 95px;
  margin-left: 52px;
}
.container .row .col-sm-6 .sja-content {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-top: 25px;
  margin-left: 50px;
}
.container .row .col-sm-6 button {
  border: 1px solid #222222;
  width: 125px;
  height: 50px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 48px;
}
.container .row .col-sm-6 .sja-img {
  width: 380px;
  margin-left: 10px;
}
.container .row .col-sm-6 .fd-header {
  font-weight: bold;
  font-size: 22px;
  color: #222222;
  margin-top: 40px;
  margin-left: 12px;
}
.container .row .col-sm-6 .fd-content {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-top: 25px;
  margin-left: 12px;
}
.container .row .col-sm-6 .vd-btn {
  margin-left: 10px;
}
.container .row .col-sm-6 .fd-img {
  margin-left: 40px;
  width: 380px;
}
.container .row .rp {
  font-weight: bold;
  font-size: 22px;
  color: #222222;
  margin-left: 55px;
  margin-top: 55px;
}
.container .row .villa-img {
  width: 87%;
  height: 85%;
  margin-left: 55px;
  margin-top: 40px;
}
.container .row .box {
  width: 250px;
  height: 60px;
  background: #D8D8D8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
  font-size: 24px;
  letter-spacing: 6px;
}
.container .row .box-villa {
  position: absolute;
  margin-top: -38px;
  margin-left: 587px;
}
.container .row .villa-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
