/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:aft html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
er,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
p,
span,
h1,
h2,
h3,
h4,
h5,
div,
a {
  font-family: 'Roboto', sans-serif;
}
html {
  background-color: black;
}
.container {
  margin: auto;
  background-color: white;
  width: 1024px;
}
.home-jumbotron {
  position: relative;
  bottom: 55px;
  border-radius: 0px;
  margin: auto;
  background-image: url("../img/home/home-jumbotron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 575px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 15px;
}
.home-jumbotron p {
  margin: 0 83px;
  color: white;
  font-size: 64px;
  font-weight: bold;
  line-height: 75px;
}
.home-jumbotron .jumbo-text {
  margin-bottom: 45px;
}
.full {
  box-sizing: border-box;
  width: 100%;
  padding: 0 7%;
  display: flex;
  justify-content: center;
}
.full .half {
  width: 50%;
  padding: 25px 13px;
}
.full .half img {
  width: 100%;
}
.top-content {
  margin-bottom: 50px;
}
.top-content h4 {
  font-size: 24px;
  font-weight: bold;
  margin: 50px 0 20px 0;
}
.top-content p {
  line-height: 25px;
}
.top-content button {
  border: solid black 1px;
  padding: 14px 25px;
  margin-top: 25px;
  background-color: white;
  font-size: 16px;
}
.top-content button:hover {
  background-color: black;
  color: white;
}
.top-content.cont h4 {
  margin-top: 40px;
}
.projects {
  margin: auto;
  width: 856px;
}
.projects h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 50px;
}
.projects .project-right h2 {
  z-index: 2;
  position: relative;
  bottom: 40px;
  left: 606px;
  padding: 25px 0;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 5px;
  width: 250px;
  background-color: #D8D8D8;
  text-align: center;
}
.projects .project-left h2 {
  z-index: 2;
  position: relative;
  bottom: 40px;
  padding: 25px 0;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 5px;
  width: 250px;
  background-color: #D8D8D8;
  text-align: center;
}
.projects p {
  width: 45%;
  margin: auto;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 25px;
}
.projects .project {
  padding-bottom: 100px;
}
.services-jumbotron {
  position: relative;
  bottom: 55px;
  border-radius: 0px;
  margin: auto;
  background-image: url("../img/services/services-jumbotron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 15px;
}
.services-jumbotron p {
  margin: 0 83px;
  color: white;
  font-size: 64px;
  font-weight: bold;
  line-height: 75px;
}
.content {
  max-width: 856px;
  margin: auto;
  line-height: 24px;
}
.content h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  width: 60%;
}
.content .top-p {
  margin: 20px 0;
}
.content .buttons {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}
.content .buttons .button {
  width: 200px;
  height: 45px;
  border-radius: 0;
  border: solid black 1px;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
}
.content .buttons .button:hover {
  background-color: #222222;
  color: white;
  border: 0;
}
.content .buttons .button.button-active {
  background-color: #5E9FB9;
  color: white;
  border: 0;
}
.content .tabs .tab {
  display: none;
}
.content .tabs .tab.tab-active {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.content .tabs .tab.tab-active .tab-text {
  width: 48%;
}
.content .tabs .tab.tab-active .tab-text p {
  font-size: 16px;
  margin-bottom: 25px;
}
.content .tabs .tab.tab-active .tab-img {
  width: 48%;
}
.content .tabs .tab.tab-active .tab-img img {
  width: 100%;
}
.contact-jumbotron {
  position: relative;
  bottom: 55px;
  border-radius: 0px;
  margin: auto;
  background-image: url("../img/contact/contact-jumbotron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 15px;
  margin-bottom: 20px;
}
.contact-jumbotron p {
  margin: 0 83px;
  color: white;
  font-size: 64px;
  font-weight: bold;
  line-height: 75px;
}
.contact-content {
  display: flex;
  width: 856px;
  margin: auto;
  justify-content: space-between;
}
.contact-content .forms h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.contact-content .forms form p {
  margin-top: 20px;
}
.contact-content .forms form span {
  font-size: 14px;
  color: gray;
}
.contact-content .forms form .standard {
  font-size: 18px;
  color: gray;
  border-radius: 5px;
  border: solid gray 1px;
  width: 400px;
  height: 30px;
  margin: 10px 0;
  padding-left: 10px;
}
.contact-content .forms form .tall {
  font-size: 18px;
  color: gray;
  border-radius: 5px;
  border: solid gray 1px;
  width: 400px;
  height: 100px;
  margin: 10px 0 20px 0;
  padding-left: 10px;
}
.contact-content .forms form .radio {
  margin: 5px 0;
}
.contact-content .forms form .submit {
  background-color: white;
  border: solid black 1px;
  width: 130px;
  height: 50px;
  font-size: 16px;
  margin: 30px 0 50px 0;
}
.contact-content .forms form .submit:hover {
  background-color: black;
  color: white;
}
.contact-content .locations h2 {
  font-size: 24px;
  font-weight: bold;
}
.contact-content .locations h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0 5px 0;
}
.contact-content .locations p {
  line-height: 24px;
  font-size: 16px;
}
.header {
  position: sticky;
  top: 0px;
  z-index: 2;
  align-items: center;
  padding: 15px 86px;
  display: flex;
  justify-content: space-between;
  color: white;
}
.header img {
  height: 21px;
}
.header span {
  margin: 0;
  padding: 0;
  font-size: 23px;
  font-weight: bold;
}
.opacity {
  background-color: #9DA7B1;
  opacity: .95;
  z-index: 3;
}
.hidden {
  display: none;
}
.menu {
  z-index: 4;
  width: 1024px;
  height: 800px;
  position: fixed;
  left: 163.5px;
  background-color: #9DA7B1;
  opacity: .95;
}
.menu .menu-top {
  box-sizing: border-box;
  padding: 20px 83px;
  color: white;
  font-size: 23px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.menu .menu-links {
  display: flex;
  flex-direction: column;
  margin-left: 425px;
  margin-top: 125px;
}
.menu .menu-links a {
  text-decoration: none;
  color: white;
  font-size: 48px;
  font-weight: bold;
  line-height: 85px;
}
.menu .menu-links a:hover {
  color: black;
}
.footer {
  margin: auto;
  padding: 50px 0 20px 0;
  width: 1024px;
  background-color: gray;
  color: white;
}
.footer span {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}
.footer .footer-top {
  display: flex;
  justify-content: space-around;
}
.footer .footer-top span {
  margin-top: 0;
}
.footer .footer-top .footer-form {
  font-size: 12px;
}
.footer .footer-top .footer-form form {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}
.footer .footer-top .footer-form form input {
  width: 250px;
  color: gray;
  height: 30px;
  border-radius: 5px;
  margin: 5px 0;
  padding-left: 5px;
}
.footer .footer-top .locations {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.footer .footer-top .locations h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}
.footer .footer-top .locations p {
  font-size: 14px;
  line-height: 30px;
}
