/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
/* Your Code Goes Here */
.container {
  width: 100%;
  margin: 0 auto;
}
.navigation-container {
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #9AA4AF;
  position: fixed;
  z-index: 1;
}
h1 {
  font-size: 26px;
  margin-left: 70px;
  margin-top: 10px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #FFFFFF;
}
.navigation-container img {
  width: 30px;
  height: 18px;
  margin-right: 70px;
  margin-top: 16px;
}
.home {
  font-size: 30px;
  color: #FFFFFF;
  display: flex;
  align-items: flex-end;
  height: 400px;
  line-height: 75px;
  background-image: url("img/home/home-jumbotron.png");
}
.services {
  font-size: 64px;
  color: #FFFFFF;
  display: flex;
  align-items: flex-end;
  height: 170px;
  line-height: 75px;
}
.jumbo-container {
  width: 100%;
}
.titleimg h2 {
  margin-bottom: 45px;
  margin-top: 30px;
  margin-left: 70px;
}
.services h1 {
  font-size: 60px;
  height: 150px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 15px;
}
.services-jumbo {
  margin-top: 150px;
}
.mid-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 720px;
  margin-bottom: 90px;
}
.btn {
  border: 1px solid #222222;
  width: 120px;
  height: 40px;
  font-size: 15px;
  margin-top: 15px;
}
.mid-content h3 {
  font-weight: bold;
  font-size: 24px;
  Color: #222222;
  font-family: 'Arial';
  margin-bottom: 20px;
}
.mid-content p {
  font-weight: 'regular';
  font-size: 16px;
  font-family: 'sans-serif';
  line-height: 24px;
  color: #222222;
}
.mid-txt {
  width: 370px;
  margin-top: 40px;
}
.txt2 {
  margin-top: 90px;
}
.mid-img1 {
  margin-top: 30px;
  margin-right: 30px;
}
.mid-img2 {
  margin-top: 50px;
}
.recent-pr {
  width: 720px;
}
.recent-pr img {
  width: 720px;
}
.pr-title {
  font-weight: bold;
  font-size: 24px;
  Color: #222222;
  font-family: 'Arial';
  margin-bottom: 20px;
}
.image-txt-container {
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}
.block-txt1 {
  position: absolute;
  font-size: 20px;
  font-weight: none;
  font-family: 'Arial';
  background-color: #D8D8D8;
  width: 250px;
  height: 70px;
  margin-left: 420px;
  bottom: -30px;
  right: 10px;
  padding-top: 20px;
  letter-spacing: 10px;
}
.block-txt2 {
  position: absolute;
  font-size: 20px;
  font-weight: none;
  font-family: 'Arial';
  background-color: #D8D8D8;
  width: 250px;
  height: 70px;
  bottom: -30px;
  padding-top: 20px;
  letter-spacing: 10px;
}
.recent-pr p {
  font-size: 19px;
  font-family: 'sans-serif';
  width: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 170px;
}
.footer {
  width: 800px;
  background-color: #828282;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
h4 {
  font-size: 18px;
  color: #FFFFFF;
  font-weight: bold;
}
.obj {
  margin-top: 30px;
  height: 130px;
  display: flex;
  flex-direction: column;
}
address {
  color: #FFFFFF;
  line-height: 20px;
}
.bottom-text {
  color: #FFFFFF;
  font-size: 13px;
}
.services-buttons {
  width: 720px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}
.services-buttons button {
  margin: 28px 20px;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: bold;
  background-color: #FFFFFF;
  color: #222222;
  width: 140px;
  height: 40px;
  border: 1px solid black;
}
.services-buttons button:hover {
  background-color: #5E9FB9;
  color: #FFFFFF;
}
.top-text p {
  width: 720px;
  height: 40px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Arial';
  font-size: 13px;
  line-height: 24px;
}
.tabs-item {
  width: 720px;
  flex-wrap: wrap;
  margin-top: 28px;
  margin-bottom: 45px;
  display: none;
}
.services-mid p {
  font-size: 12px;
  font-family: 'Arial';
  line-height: 22px;
  margin-bottom: 40px;
}
.services-mid h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 36px;
}
.construction-txt {
  width: 300px;
}
.construction-img {
  margin-left: 58px;
  margin-top: 65px;
}
.tabs-item-selected {
  display: flex;
}
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 2900px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d8d8d8;
  min-width: 100%;
  z-index: 2;
  height: 2900px;
}
.dropdown-content a {
  color: black;
  display: block;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 35px;
}
.show {
  display: block;
}
.top-part {
  display: flex;
  justify-content: space-between;
}
.close-image {
  padding-right: 50px;
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
  .container .navigation-container {
    height: 80px;
    padding-top: 15px;
  }
  .container .navigation-container h1 {
    font-size: 40px;
  }
  .container .navigation-container img {
    width: 50px;
    height: 30px;
  }
  .container .mid-content {
    display: flex;
    justify-content: center;
    width: 95%;
  }
  .container .mid-img1 {
    display: flex;
    order: -1;
    height: -70px;
  }
  .container .mid-img2 {
    display: flex;
    order: 0;
    margin-right: 35px;
  }
  .container .mid-content button {
    width: 89%;
    font-size: 18px;
  }
  .container .recent-pr img {
    width: 100%;
  }
  .container .recent-pr p {
    width: 80%;
    padding-right: 100px;
  }
  .container .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 590px;
  }
  .container .footer .obj {
    padding-left: 10px;
    line-height: 15px;
  }
  .container .bottom-text {
    text-align: center;
  }
}
