/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
html {
  font-size: 65%;
}
html,
body {
  font-family: Roboto, Arial, sans-serif;
}
header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #98a4b0;
}
header h1 {
  margin-left: 18%;
  width: 15%;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin-right: 18%;
}
header a {
  text-decoration: none;
  color: #212529;
}
@media (max-width: 500px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header h1 {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header nav {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
