/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
/*General All Pages*/
html {
  background-color: #ffffff;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
  font-weight: Regular;
  font-size: 16px;
  line-height: 24px;
}
/*header image */
.header-content {
  background: url("../img/home/home-jumbotron.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 680px;
}
.over-header-img {
  font-weight: bold;
  font-size: 64px;
  line-weight: 75px;
  color: #ffffff;
  padding-left: 375px;
  padding-top: 380px;
}
footer {
  display: flex;
  border: 1px solid blue;
  width: 100%;
  background: #828282;
}
footer h5 {
  font-weight: Regular;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
footer p {
  font-weight: Regular;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
}
.villas-section {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}
.villas-section img {
  margin: 0 auto;
}
.villas-section p.p1 {
  text-align: left;
  padding: 55px 35% 13px;
}
.villas-section p.p2 {
  text-align: left;
  padding: 12px 35% 74px;
}
.smith-jones-section {
  margin: 0 auto;
  display: flex;
  padding: 60px 26% 100px;
}
.smith-text-content {
  padding: 0px 9% 0px 0px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.smith-text-content button {
  height: 50px;
  width: 170px;
}
.smith-text-content h3 {
  font-weight: bold;
  font-size: 28px;
}
.futuristic-designs-section {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 100px 26% 150px;
}
.futuristic-text-content {
  padding: 0px 0px 0px 9%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.futuristic-text-content button {
  height: 50px;
  width: 170px;
}
.futuristic-text-content h3 {
  font-weight: bold;
  font-size: 28px;
}
.menu-content-nav {
  display: none;
}
.menu-content {
  height: 60px;
  width: 100%;
  background: #828282;
  position: absolute;
}
.menu-content h1 {
  font-weight: bold;
  font-size: 28px;
  color: #ffffff;
  padding: 16px 80px;
}
