/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
nav {
  color: white;
}
header {
  background-color: transparent;
}
header img {
  position: relative;
  top: -75px;
  width: 100%;
  z-index: -100;
}
header #home-jumbo {
  background-color: transparent;
  position: relative;
  top: -450px;
}
header #home-jumbo h1 {
  color: white;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
}
#home-header {
  height: 550px;
}
.introduction {
  margin-bottom: 48px;
  margin-top: 48px;
}
.introduction h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}
.introduction button {
  background-color: white;
  border: 1px solid #222;
  color: #222;
  font-size: 18px;
  font-weight: 400;
  width: 150px;
}
.introduction .intro-content {
  margin-bottom: 48px;
}
.projects {
  margin-top: 124px;
}
.projects h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}
.projects figure {
  width: 100%;
}
.projects figure figcaption {
  background-color: #D8D8D8;
  border: 1px solid white;
  position: relative;
  top: -75px;
  width: 300px;
}
.projects figure figcaption h3 {
  font-size: 24px;
  letter-spacing: 6px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}
.projects figure img {
  width: 100%;
}
.projects .project {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}
.projects .project p {
  margin-bottom: 24px;
  width: 45%;
}
#services-header {
  height: 200px;
}
#services-jumbo {
  background-color: transparent;
  position: relative;
  top: -225px;
}
#services-jumbo h1 {
  color: white;
  font-size: 64px;
  font-weight: 700;
}
main {
  margin-top: 48px;
  margin-bottom: 72px;
}
main p {
  margin-bottom: 36px;
}
main nav {
  margin-bottom: 36px;
}
main nav .nav-link {
  background-color: white;
  border: 1px solid #222;
  color: #222;
  font-size: 18px;
  font-weight: 700;
  width: 200px;
}
main nav .nav-link:hover {
  background-color: #222;
  color: white;
}
main nav .active {
  background-color: #5E9FB9;
  border: none;
}
main img {
  width: 100%;
}
#contact-header {
  height: 200px;
}
#contact-jumbo {
  background-color: transparent;
  position: relative;
  top: -225px;
}
#contact-jumbo h1 {
  color: white;
  font-size: 64px;
  font-weight: 700;
}
footer {
  background-color: gray;
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding-top: 48px;
}
footer .contact p {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}
footer small {
  color: white;
}
footer address {
  line-height: 26px;
}
.copyright {
  background-color: gray;
  color: white;
  font-size: 14px;
  padding-top: 48px;
  text-align: center;
}
