@font-face {
  font-family: Roboto;
  src: url(sansation_bold.woff);
  font-weight: bold;
}
/*
  ### GENERAL STYLES
- Background: #FFFFFF
- Color: #222222
- Font Family: Roboto, Arial, sans-serif

## Page Specific

### Home Page
- Recent Projects Gray Square: #D8D8D8
- Button borders: #222222

### Services Page
- Tab selected background: #5E9FB9
- Tab Hover background: #222222
- Tab Hover color: #FFF;

## Footer 
Background: #828282

### General Text
- Font Weight: Regular
- Font Size: 16px
- Line Height: 24px

### Jumbotron Headers
- Font Weight: Bold
- Font Size: 64px
- Line Height: 75px
- Color: #FFFFFF

### Sub Headers
- Font Weight: Bold
- Font Size: 28px
- Color: #222222
   
### Footer Headings
- Font Weight: Regular
- Font Size: 20px
- Line Height: 24px
- Color: #FFFFFF

### Footer Text
- Font Weight: Regular
- Font Size: 14px
- Line Height: 26px
- Color: #FFFFFF

### Navigation Logo
- Font Weight: Bold
- Font Size: 24px
- Color: #FFFFFF

### Navigation Text (Expanded)
- Font Weight: Bold
- Font Size: 48px
- Line Height: 85px
- Color: #FFFFFF
- Hover Color: #222222
*/
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  max-width: 800px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  background: #ffffff;
  color: #222222;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", arial, sans-serif;
}
.container h2 {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
}
.header {
  flex-direction: column;
}
.header .menu-bar {
  background-color: #99a4af;
  font-weight: bold;
  font-size: 24px;
  line-height: 47px;
  Color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}
.header .menu-bar h1 {
  width: 21%;
  display: flex;
  justify-content: center;
}
.header .menu-bar .burger-button {
  width: 15%;
}
.header .menu-bar .burger-button .ham-close {
  display: none;
}
body footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  background-color: #828282;
}
body footer h4 {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
body footer form {
  padding: 2%;
  width: 35%;
}
body footer address {
  width: 13%;
  padding: 2%;
}
.header {
  background-image: url("../img/home/home-jumbotron.png");
  background-repeat: no-repeat;
  display: flex;
  width: auto;
  height: 80vh;
  background-size: cover;
  background-position: center;
  font-family: "Roboto", arial, sans-serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #ffffff;
}
.header .jumbotron {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header .jumbotron h1 {
  padding-top: 22%;
  padding-left: 7%;
  width: 35%;
}
.container .top-content .top-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5%;
}
.container .top-content .content {
  padding: 5%;
}
.container .top-content .content p {
  padding-top: 5%;
  padding-bottom: 5%;
}
.container .top-content .content button {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 1px solid black;
}
.container .top-content img {
  width: 45%;
  height: 45%;
}
.container .top-content #top1 {
  padding-right: 3%;
}
.container .top-content #top2 {
  padding-left: 3%;
}
.container .bottom-content img {
  width: 100%;
}
.container .bottom-content h2 {
  padding-bottom: 5%;
}
.container .bottom-content .grey-title {
  background-color: #d8d8d8;
  width: 41%;
  padding: 3%;
  display: flex;
  justify-content: center;
  letter-spacing: 8px;
  border: 1px solid white;
}
.container .bottom-content #grey1 {
  top: -118px;
  right: -66%;
  position: relative;
}
.container .bottom-content #grey2 {
  top: -118px;
  right: 11%;
  position: relative;
}
.container .bottom-content #grey3 {
  top: -118px;
  right: -66%;
  position: relative;
}
.container .bottom-content .bottom1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 9%;
}
.container .bottom-content p {
  padding-bottom: 3%;
}
