/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background-color: #FFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  height: 100%;
  width: 100%;
  max-width: 900px;
}
.container .jumbotron {
  background-color: #FFFFFF !important;
  padding: 0;
  margin: 0;
}
.container .jumbotron .mobile-jumbotron {
  display: none;
}
.container .jumbotron img {
  width: 868px;
  height: 400px;
}
.container .jumbotron h2 {
  font-weight: bold;
  font-size: 44px;
  line-height: 50px;
  position: absolute;
  margin-top: -185px;
  margin-left: 110px;
  color: white;
}
@media (max-width: 500px) {
  .container .jumbotron .mobile-jumbotron {
    display: inline-block;
    width: 445px;
  }
  .container .jumbotron .jumbotron-img {
    display: none;
  }
  .container .jumbotron h2 {
    font-weight: bold;
    font-size: 50px;
    line-height: 65px;
    position: absolute;
    color: white;
    padding-right: 0;
    margin-left: 25px;
    margin-top: -230px;
  }
}
.container .row .col-sm-6 .sja-header {
  font-weight: bold;
  font-size: 22px;
  color: #222222;
  margin-top: 95px;
  margin-left: 52px;
}
.container .row .col-sm-6 .sja-content {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-top: 25px;
  margin-left: 50px;
}
.container .row .col-sm-6 button {
  border: 1px solid #222222;
  width: 125px;
  height: 50px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 48px;
}
.container .row .col-sm-6 .sja-img {
  width: 380px;
  margin-left: 10px;
}
.container .row .col-sm-6 .sja-mobile {
  display: none;
}
@media (max-width: 500px) {
  .container .row .col-sm-6 .sja-img {
    display: none;
  }
  .container .row .col-sm-6 .sja-mobile {
    display: flex;
    position: relative;
    margin: -50px auto 0;
    width: 400px;
  }
  .container .row .col-sm-6 .sja-header {
    position: absolute;
    font-weight: bold;
    font-size: 26px;
    color: #222222;
    margin-top: 450px;
    margin-left: 4%;
  }
  .container .row .col-sm-6 .sja-content {
    position: absolute;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    margin-top: 500px;
    margin-left: 20px;
  }
  .container .row .col-sm-6 .sja-btn {
    position: absolute;
    border: 1px solid #222222;
    width: 400px;
    height: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 600px 0 0 20px;
  }
}
.container .row .col-sm-6 .fd-header {
  font-weight: bold;
  font-size: 26px;
  color: #222222;
  margin-top: 40px;
  margin-left: 12px;
}
.container .row .col-sm-6 .fd-content {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-top: 25px;
  margin-left: 12px;
}
.container .row .col-sm-6 .vd-btn {
  margin-left: 10px;
}
.container .row .col-sm-6 .fd-img {
  margin-left: 40px;
  width: 380px;
}
.container .row .col-sm-6 .fd-mobile {
  display: none;
}
@media (max-width: 500px) {
  .container .row .col-sm-6 .fd-img {
    display: none;
  }
  .container .row .col-sm-6 .fd-mobile {
    display: flex;
    position: relative;
    margin: 220px auto 0;
    width: 400px;
  }
  .container .row .col-sm-6 .fd-header {
    font-weight: bold;
    font-size: 22px;
    color: #222222;
    margin-top: 22px;
    margin-left: 25px;
  }
  .container .row .col-sm-6 .fd-content {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    margin-top: 25px;
    margin-left: 25px;
  }
  .container .row .col-sm-6 .vd-btn {
    width: 400px;
    height: 50px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
  }
}
.container .row .rp {
  font-weight: bold;
  font-size: 22px;
  color: #222222;
  margin-left: 55px;
  margin-top: 55px;
}
@media (max-width: 500px) {
  .container .row .rp {
    font-size: 28px;
    margin-left: 40px;
  }
}
.container .row .villa-img {
  width: 87%;
  height: 85%;
  margin-left: 55px;
  margin-top: 40px;
}
.container .row .villa-mobile {
  display: none;
}
@media (max-width: 500px) {
  .container .row .villa-img {
    display: none;
  }
  .container .row .villa-mobile {
    display: inline-block;
    position: absolute;
    margin-left: -260px;
    margin-top: 110px;
    width: 496px;
  }
}
.container .row .box {
  width: 250px;
  height: 60px;
  background: #D8D8D8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
  font-size: 24px;
  letter-spacing: 6px;
}
.container .row .box-villa {
  position: absolute;
  margin-top: -43px;
  margin-left: 589px;
  border: 1px solid white;
}
@media (max-width: 500px) {
  .container .row .box-villa {
    position: absolute;
    margin-top: 390px;
    margin-left: -225px;
    border: 1px solid white;
    width: 430px;
    height: 100px;
  }
}
.container .row .villa {
  position: relative;
  margin-top: 80px;
  margin-left: 29%;
}
.container .row .villa .villa-texts {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
@media (max-width: 500px) {
  .container .row .villa-texts {
    font-size: 8px;
    line-height: 0;
    margin-top: 350px;
    margin-left: -100px;
  }
}
.container .row .box-outskirts {
  position: absolute;
  margin-top: -45px;
  margin-left: 55px;
  border: 1px solid white;
}
@media (max-width: 500px) {
  .container .row .box-outskirts {
    position: absolute;
    margin-top: 1010px;
    margin-left: -408px;
    border: 1px solid white;
    width: 430px;
    height: 100px;
  }
}
.container .row .outskirts {
  position: relative;
  margin-top: 80px;
  margin-left: 29%;
}
.container .row .outskirts .outskirts-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
@media (max-width: 500px) {
  .container .row .outskirts-text {
    font-size: 8px;
    line-height: 0;
    margin-top: 370px;
    margin-left: -100px;
  }
}
.container .row .outskirts-img {
  width: 87%;
  height: 85%;
  margin-left: 55px;
  margin-top: 70px;
}
.container .row .outskirts-mobile {
  display: none;
}
@media (max-width: 500px) {
  .container .row .outskirts-img {
    display: none;
  }
  .container .row .outskirts-mobile {
    display: inline-block;
    position: absolute;
    margin-left: -422px;
    margin-top: 730px;
    width: 476px;
  }
}
.container .row .blocks-img {
  width: 87%;
  height: 85%;
  margin-left: 55px;
  margin-top: 40px;
}
.container .row .blocks-mobile {
  display: none;
}
@media (max-width: 500px) {
  .container .row .blocks-img {
    display: none;
  }
  .container .row .blocks-mobile {
    display: inline-block;
    position: absolute;
    margin-left: -432px;
    margin-top: 730px;
    width: 476px;
  }
}
.container .row .box-blocks {
  position: absolute;
  margin-top: -43px;
  margin-left: 586px;
  border: 1px solid white;
}
@media (max-width: 500px) {
  .container .row .box-blocks {
    position: absolute;
    margin-top: 1000px;
    margin-left: -418px;
    border: 1px solid white;
    width: 430px;
    height: 100px;
  }
}
.container .row .blocks {
  position: relative;
  margin-top: 80px;
  margin-left: 29%;
}
.container .row .blocks .blocks-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
@media (max-width: 500px) {
  .container .row .blocks-text {
    font-size: 8px;
    line-height: 0;
    margin-top: 350px;
    margin-left: -100px;
  }
}
nav .custom-nav {
  color: #FFFFFF !important;
  padding-left: 40px;
  font-weight: bold;
  font-size: 24px;
}
nav .menu {
  padding-right: 40px;
  cursor: pointer;
}
@media (max-width: 500px) {
  nav .custom-nav {
    padding-left: 5px;
  }
  nav .menu {
    padding-right: 0px;
  }
}
html {
  font-size: 62.5%;
}
body {
  background-color: #FFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  border: 1px solid red;
  height: 100%;
  width: 100%;
  max-width: 900px;
}
.container nav {
  margin-left: -16px;
  margin-right: -16px;
}
.container nav .custom-nav {
  color: #FFFFFF !important;
  padding-left: 40px;
  font-weight: bold;
  font-size: 24px;
  margin-left: 30px;
}
.container nav .menu {
  padding-right: 40px;
  margin-right: 30px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .container nav .custom-nav {
    padding-left: 5px;
  }
  .container nav .menu {
    padding-right: 0px;
  }
}
.container .jumbotron {
  background-color: #FFFFFF !important;
  margin-left: -15px;
  margin-right: -15px;
}
.container .jumbotron .mobile-jumbotron {
  display: none;
}
.container .jumbotron img {
  width: 900px;
  height: 400px;
}
.container .jumbotron h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 50px;
  position: absolute;
  margin-top: -107px;
  margin-left: 70px;
  color: white;
}
@media (max-width: 500px) {
  .container .jumbotron .mobile-jumbotron {
    display: inline-block;
    width: 445px;
  }
  .container .jumbotron .jumbotron-img {
    display: none;
  }
  .container .jumbotron h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 65px;
    position: absolute;
    color: white;
    padding-right: 0;
    margin-left: 25px;
    margin-top: -230px;
  }
}
.container .row .services-text p {
  font-size: 14px;
  line-height: 24px;
  width: 90%;
  margin: 30px auto 30px;
}
.container .row .tabs {
  display: flex !important;
  flex-wrap: nowrap !important;
  justify-content: space-evenly !important;
}
.container .row .tabs .tab {
  width: 170px !important;
  height: 55px !important;
  font-size: 14px !important;
  font-weight: bold !important;
  color: black !important;
  background: #FFFFFF !important;
  display: flex !important;
  flex-wrap: nowrap !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  border: 1px solid black !important;
  cursor: pointer !important;
}
.container .row .sc h1 {
  font-weight: bold;
  font-size: 18px;
  margin-left: 40px;
  margin-top: 50px;
}
.container .row .sc p {
  font-size: 14px;
  line-height: 25px;
  margin-left: 40px;
  margin-top: 20px;
}
.container .row .sc-img {
  margin-top: 90px;
  width: 380px;
}
.footer {
  background-color: #828282;
  width: 103.5%;
  margin-top: 90px;
  padding: 60px 60px 0 60px;
}
.footer h1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-left: 5%;
}
@media (max-width: 500px) {
  .footer .ft {
    font-size: 24px;
    margin-top: -20px;
    width: 350px;
    margin-left: 10px;
  }
}
.footer form h5 {
  margin-left: 17px;
  font-size: 11px;
  color: #FFFFFF !important;
}
@media (max-width: 500px) {
  .footer form h5 {
    margin-left: 17px;
    font-size: 14px;
  }
}
.footer form .form-group {
  margin-top: 20px;
  margin-left: 10px;
}
.footer .row .ny {
  color: white;
  margin-left: 70px;
  margin-top: 0px;
}
.footer .row .ny p {
  font-weight: normal;
  font-size: 12px;
  line-height: 26px;
  padding: 5px;
}
@media (max-width: 500px) {
  .footer .row .ny {
    margin-left: 10px;
    margin-top: 20px;
    height: 130px;
  }
  .footer .row .ny h1 {
    font-size: 20px;
  }
  .footer .row .ny p {
    line-height: 25px;
  }
}
.footer .row .fl {
  color: white;
  margin-left: 70px;
  margin-top: 0px;
}
.footer .row .fl p {
  font-weight: normal;
  font-size: 12px;
  line-height: 26px;
  padding: 5px;
}
@media (max-width: 500px) {
  .footer .row .fl {
    margin-top: 160px;
    margin-left: -105px;
    height: 130px;
  }
  .footer .row h1 {
    font-size: 20px;
  }
  .footer .row p {
    line-height: 25px;
  }
}
.footer .row .ca {
  color: white;
  margin-left: 70px;
  padding-bottom: 0;
  margin-top: 0px;
}
.footer .row .ca p {
  font-weight: normal;
  font-size: 12px;
  line-height: 26px;
  padding: 5px;
}
@media (max-width: 500px) {
  .footer .row .ca {
    height: 130px;
    margin-top: 300px;
    margin-left: -110px;
  }
  .footer .row h1 {
    font-size: 20px;
  }
  .footer .row p {
    line-height: 25px;
  }
}
.footer section {
  color: #FFFFFF;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 285px;
}
@media (max-width: 500px) {
  .footer section .cr {
    width: 190px;
    margin-top: 10px;
    margin-left: -275px;
    margin-bottom: 20px;
  }
}
