/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.generalSettings {
  background-color: #ffffff;
  color: #222222;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 24px;
}
.navigationLogo {
  font-weight: 700;
  font-size: 2.1rem;
  color: #ffffff;
  line-height: 8px;
}
.navigationLogo a:hover {
  color: #ffffff;
}
.navigationTextExpand {
  height: 255px;
  width: 300px;
  font-weight: 700;
  font-size: 2.3;
  color: #ffffff;
  line-height: 50px;
  text-align: left;
}
.navigationTextExpand a {
  text-decoration: none;
  color: inherit;
}
.navigationTextExpand a:hover {
  color: #222222;
}
.jumboHeader {
  font-weight: 700;
  font-size: 6rem;
  line-height: 75px;
  color: #222222;
}
.subHeaders {
  font-weight: 700;
  font-size: 2.1rem;
  color: #222222;
}
.button {
  border-color: #222222;
  background-color: #ffffff;
  width: 120px;
  height: 40px;
}
.recentProjects {
  background-color: #d8d8d8;
  border-color: #222222;
}
.footerHeadings {
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
  line-height: 24px;
}
.footerText {
  font-weight: 400;
  font-size: 1.3rem;
  color: #ffffff;
  line-height: 26px;
}
html {
  font-size: 62.5%;
  max-width: 1024px;
  margin: 0 auto;
}
.container {
  vertical-align: top;
}
p {
  background-color: #ffffff;
  color: #222222;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 24px;
}
.navi {
  position: fixed;
  z-index: 3;
  opacity: 0.8;
  display: inline-flex;
  width: 1024px;
  height: 40px;
  flex-direction: row;
  justify-content: right;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  background-color: #9aa5b0;
  font-weight: 700;
  font-size: 2.1rem;
  color: #ffffff;
  line-height: 8px;
}
.navi a:hover {
  color: #ffffff;
}
.navi .menuList {
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: #828282;
  padding-left: 35%;
}
.expandMenu {
  position: relative;
  height: 255px;
  width: 300px;
  font-weight: 700;
  font-size: 2.3;
  color: #ffffff;
  line-height: 50px;
  text-align: left;
  background-color: #828282;
}
.expandMenu a {
  text-decoration: none;
  color: inherit;
}
.expandMenu a:hover {
  color: #222222;
}
.menu-hidden {
  display: none;
}
.logo {
  font-weight: 700;
  font-size: 2.1rem;
  color: #ffffff;
  line-height: 8px;
  padding: 15px 0px 20px 20px;
  width: 100%;
  display: flex;
  justify-content: left;
}
.logo a:hover {
  color: #ffffff;
}
.menuLogo {
  width: 250px;
  display: flex;
  justify-content: space-between;
}
.menuButton {
  display: flex;
  justify-content: right;
  width: 85%;
  height: 20px;
  padding: 10px 10px 25px 0px;
}
.header {
  width: 100%;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  z-index: 1;
}
.header .jumboTron {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}
.header .jumboTron .jumboH1 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 75px;
  color: #222222;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  color: #ffffff;
  position: absolute;
  z-index: 0;
  bottom: 7%;
  right: 60.5%;
}
.designInfo {
  margin-top: 596px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Arial', 'sans-serif';
}
.designInfo .architects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
}
.designInfo .architects .archContent {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 50%;
}
.designInfo .futureDesigns {
  margin-top: 75px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.designInfo .futureDesigns .futureContent {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 50%;
}
.designInfo h1 {
  font-weight: 700;
  font-size: 2.1rem;
  color: #222222;
}
.designInfo button {
  border-color: #222222;
  background-color: #ffffff;
  width: 120px;
  height: 40px;
}
.projectPics {
  width: 100%;
  background-color: #d8d8d8;
}
.projects {
  margin-top: 100px;
  padding: 0px 50px;
  font-family: 'Roboto', 'Arial', 'sans-serif';
}
.projects h1 {
  font-weight: 700;
  font-size: 2.1rem;
  color: #222222;
}
.projects .villaWrap {
  width: 100%;
  margin: 50px 0px;
  position: relative;
}
.projects .villaWrap .villaHeader {
  padding: 35px;
  width: 320px;
  height: 30px;
  background-color: #d8d8d8;
  border: solid 2px #ffffff;
  position: absolute;
  z-index: 0;
  text-align: center;
  bottom: 57%;
  right: 0;
}
.projects .villaWrap .villaHeader h1 {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 200;
  font-size: 3rem;
  letter-spacing: 10px;
}
.outskirtsWrap {
  width: 100%;
  position: relative;
}
.outskirtsWrap .outskirtsHeader {
  padding: 35px;
  width: 320px;
  height: 30px;
  background-color: #d8d8d8;
  border: solid 2px #ffffff;
  position: absolute;
  z-index: 0;
  text-align: center;
  bottom: 57%;
  left: 0;
}
.outskirtsWrap .outskirtsHeader h1 {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 200;
  font-size: 3rem;
  letter-spacing: 10px;
}
.blocksWrap {
  width: 100%;
  position: relative;
}
.blocksWrap .blocksHeader {
  padding: 35px;
  width: 320px;
  height: 30px;
  background-color: #d8d8d8;
  border: solid 2px #ffffff;
  position: absolute;
  z-index: 0;
  text-align: center;
  bottom: 57%;
  right: 0;
}
.blocksWrap .blocksHeader h1 {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 200;
  font-size: 3rem;
  letter-spacing: 10px;
}
.projectText {
  margin: 7% 0;
  padding: 5% 27%;
}
footer {
  margin: 0;
  background-color: #828282;
  height: 200px;
  position: relative;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
  line-height: 24px;
}
.footerWrap {
  height: 100%;
  display: flex;
  flex-direction: row;
}
.footerWrap .emailWrap {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 5%;
}
.footerWrap .emailWrap input {
  height: 40px;
  width: 270px;
  border-radius: 5px;
  padding-left: 5px;
}
.footerWrap .emailWrap h3 {
  font-size: 1.2rem;
}
.addresses {
  width: 100%;
  padding-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.addresses p {
  background-color: #828282;
  font-weight: 400;
  font-size: 1.3rem;
  color: #ffffff;
  line-height: 26px;
}
#copyright {
  margin: 0 0;
  text-align: center;
}
#copyright p {
  background-color: #828282;
  font-weight: 400;
  font-size: 1.3rem;
  color: #ffffff;
  line-height: 26px;
}
.mobileView {
  display: none;
}
.desktopView {
  display: block;
}
@media (max-width: 500px) {
  .navi {
    position: static;
    z-index: 3;
    opacity: 0.8;
    display: flex;
    width: 100%;
    height: 40px;
    flex-direction: row;
    justify-content: right;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    background-color: #9aa5b0;
    font-weight: 700;
    font-size: 2.1rem;
    color: #ffffff;
    line-height: 8px;
  }
  .navi a:hover {
    color: #ffffff;
  }
  .navi .menuList {
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: #828282;
    padding-left: 35%;
  }
  .expandMenu {
    position: relative;
    height: 255px;
    width: 300px;
    font-weight: 700;
    font-size: 2.3;
    color: #ffffff;
    line-height: 50px;
    text-align: left;
    background-color: #828282;
  }
  .expandMenu a {
    text-decoration: none;
    color: inherit;
  }
  .expandMenu a:hover {
    color: #222222;
  }
  .header {
    width: 100%;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    z-index: 1;
  }
  .header .jumboTron {
    display: flex;
    width: 100%;
    position: static;
    top: 0;
    z-index: -1;
  }
  .header .jumboTron .jumboH1 {
    font-weight: 700;
    font-size: 6rem;
    line-height: 75px;
    color: #222222;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    color: #ffffff;
    line-height: 60px;
    font-size: 5.2rem;
    position: absolute;
    z-index: 0;
    bottom: 13%;
    right: 38.5%;
    letter-spacing: 2px;
  }
  .designInfo {
    margin-top: 12px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', 'Arial', 'sans-serif';
  }
  .designInfo .architects {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 100%;
  }
  .designInfo .architects .archContent {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: 100%;
    margin-bottom: 20px;
  }
  .designInfo .architects .archContent h1 {
    font-weight: 700;
    font-size: 2.1rem;
    color: #222222;
    font-size: 3rem;
    width: 450px;
    text-align: left;
    margin: 20px 0;
  }
  .designInfo .architects .archContent p {
    margin-bottom: 30px;
  }
  .designInfo .futureDesigns {
    margin-top: 75px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .designInfo .futureDesigns .futureContent {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    width: 100%;
  }
  .designInfo .futureDesigns .futureContent h1 {
    font-weight: 700;
    font-size: 2.1rem;
    color: #222222;
    font-size: 3rem;
    width: 450px;
    text-align: left;
    margin: 20px 0;
  }
  .designInfo .futureDesigns .futureContent p {
    margin-bottom: 30px;
  }
  .designInfo .futureDesigns .futureContent button {
    border-color: #222222;
    background-color: #ffffff;
    width: 120px;
    height: 40px;
    height: 70px;
    width: 100%;
    font-size: 2rem;
  }
  .designInfo button {
    border-color: #222222;
    background-color: #ffffff;
    width: 120px;
    height: 40px;
    height: 70px;
    width: 100%;
    font-size: 2rem;
  }
  .projects {
    margin-top: 100px;
    padding: 0px 0px;
    font-family: 'Roboto', 'Arial', 'sans-serif';
  }
  .projects h1 {
    font-weight: 700;
    font-size: 2.1rem;
    color: #222222;
    font-size: 3.1rem;
  }
  .projects .villaWrap {
    width: 100%;
    margin: 50px 0px;
    position: relative;
  }
  .projects .villaWrap .villaHeader {
    padding: 35px;
    width: 340px;
    height: 40px;
    background-color: #d8d8d8;
    border: solid 2px #ffffff;
    position: absolute;
    z-index: 0;
    text-align: center;
    bottom: 55%;
    right: 10%;
  }
  .projects .villaWrap .villaHeader h1 {
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-weight: 200;
    font-size: 3rem;
    letter-spacing: 10px;
  }
  .projectText {
    margin: 20% 0;
    padding: 5% 23%;
  }
  .outskirtsWrap {
    width: 100%;
    position: relative;
  }
  .outskirtsWrap .outskirtsHeader {
    padding: 35px;
    width: 340px;
    height: 40px;
    background-color: #d8d8d8;
    border: solid 2px #ffffff;
    position: absolute;
    z-index: 0;
    text-align: center;
    bottom: 55%;
    left: 10%;
  }
  .outskirtsWrap .outskirtsHeader h1 {
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-weight: 200;
    font-size: 3rem;
    letter-spacing: 10px;
  }
  .blocksWrap {
    width: 100%;
    position: relative;
  }
  .blocksWrap .blocksHeader {
    padding: 35px;
    width: 340px;
    height: 40px;
    background-color: #d8d8d8;
    border: solid 2px #ffffff;
    position: absolute;
    z-index: 0;
    text-align: center;
    bottom: 55%;
    right: 10%;
  }
  .blocksWrap .blocksHeader h1 {
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-weight: 200;
    font-size: 3rem;
    letter-spacing: 10px;
  }
  footer {
    margin: 0;
    position: relative;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 2rem;
    color: #ffffff;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    background-color: #828282;
  }
  .footerWrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #828282;
  }
  .footerWrap .emailWrap {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2%;
  }
  .footerWrap .emailWrap input {
    height: 40px;
    width: 270px;
    border-radius: 5px;
    padding-left: 5px;
  }
  .footerWrap .emailWrap h3 {
    font-size: 1.2rem;
  }
  .addresses {
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #828282;
  }
  .addresses h2 {
    margin-bottom: 2%;
    background-color: #828282;
  }
  .addresses p {
    margin-bottom: 3%;
    background-color: #828282;
    font-weight: 400;
    font-size: 1.3rem;
    color: #ffffff;
    line-height: 26px;
  }
  .mobileView {
    display: block;
  }
  .desktopView {
    display: none;
  }
}
