.services-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}
.services-list .services-list-text {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.services-list .services-list-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.services-list .services-list-buttons .services-list-button {
  font-size: 16px;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid black;
}
.services-list .services-list-buttons .services-list-button:hover {
  background-color: #222222;
  color: #FFF;
}
.services-list .services-list-buttons .services-list-button:active {
  background-color: #5E9FB9;
  color: #FFF;
}
.service-panes {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 4rem;
}
.service-panes .service-box {
  display: flex;
}
.service-panes .service-box .services-pane-text {
  padding-right: 1rem;
  font-size: 16px;
}
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Roboto, Arial, sans-serif;
  width: 100%;
  position: absolute;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .nav {
  background-color: #a8a8a8;
  color: white;
  font-size: 1.5rem;
  width: 100%;
  z-index: 2;
  position: fixed;
}
@media (max-width: 500px) {
  .container .nav {
    height: 3rem;
  }
}
.container .nav-bar {
  display: flex;
  justify-content: space-between;
}
.container .nav-menu {
  background: #a8a8a8;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .nav-menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 48px;
  line-height: 85px;
}
.container .nav-menu a:hover {
  color: #222222;
}
.container .display-none {
  display: none;
}
.container .full-screen {
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.container .SJ,
.container .nav img {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 1rem;
}
.container .CTA {
  display: flex;
  align-items: flex-end;
  min-width: 100%;
}
.container .CTA .CTA-text {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  padding-left: 4rem;
  padding-bottom: 4rem;
  margin-top: 1rem;
}
@media (max-width: 500px) {
  .container .CTA .CTA-text {
    font-size: 40px;
    padding: 1rem;
  }
}
.container .CTA img {
  width: 100%;
}
.container .info {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 80%;
}
@media (max-width: 500px) {
  .container .info {
    width: 90%;
  }
}
.container .info .info-container {
  width: 100%;
  display: flex;
}
@media (max-width: 500px) {
  .container .info .info-container {
    flex-direction: column-reverse;
  }
}
.container .info .info-container img {
  width: 100%;
}
.container .info .info-container .info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 1.5rem;
}
@media (max-width: 500px) {
  .container .info .info-container .info-text {
    padding-right: 0;
    padding-left: 0;
  }
}
.container .info .info-container .info-text .info-button {
  border: 1px solid #222222;
  background: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
@media (max-width: 500px) {
  .container .info .info-container .info-text .info-button {
    width: 100%;
    margin-top: 1rem;
  }
}
.container .info-bottom {
  flex-direction: row-reverse;
}
.container .info-text-title {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
}
.container .projects {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 4rem;
}
.container .projects .project {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container .projects .project img {
  width: 100%;
  margin-top: 2rem;
  position: relative;
}
.container .projects .project .project-banner-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .container .projects .project .project-banner-container {
    align-items: center;
  }
}
.container .projects .project .project-banner-container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  .container .projects .project .project-banner-container-left {
    align-items: center;
  }
}
.container .projects .project .projects-paragraph-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .projects .project .projects-paragraph-container .projects-paragraph {
  width: 45%;
  line-height: 24px;
}
@media (max-width: 500px) {
  .container .projects .project .projects-paragraph-container .projects-paragraph {
    width: 80%;
  }
}
.container .projects .project .projects-title-right {
  float: right;
  background-color: #D8D8D8;
  border: 1px solid white;
  font-size: 28px;
  padding: 2rem;
  margin-top: -4rem;
  z-index: 1;
  position: relative;
}
@media (max-width: 500px) {
  .container .projects .project .projects-title-right {
    margin-top: -0.5rem;
  }
}
.container .projects .project .projects-title-left {
  float: left;
  background-color: #D8D8D8;
  border: 1px solid white;
  font-size: 28px;
  padding: 2rem;
  margin-top: -4rem;
  z-index: 1;
  position: relative;
}
@media (max-width: 500px) {
  .container .projects .project .projects-title-left {
    margin-top: -0.5rem;
  }
}
.container footer {
  color: white;
  background-color: #828282;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  width: 100%;
}
.container footer .footer-block-container {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .container footer .footer-block-container {
    flex-direction: column;
  }
}
.container footer .footer-block-container .footer-block {
  padding: 2rem;
}
.container footer .footer-block-container .footer-block .footer-heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
@media (max-width: 500px) {
  .container footer .footer-block-container .footer-block input {
    width: 100%;
  }
}
.container footer .footer-block-container .footer-block #mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}
.container footer .footer-block-container .footer-block .footer-text {
  font-weight: regular;
  font-size: 14px;
  line-height: 26px;
  color: white;
}
@media (max-width: 500px) {
  .container footer .footer-block-container .footer-block .footer-text {
    width: 50%;
  }
}
.container footer .footer-copyright {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .container footer .footer-copyright {
    justify-content: flex-start;
    padding: 2rem;
  }
}
