/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
/* Your Code Goes Here */
body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #FFFFFF;
}
.top-bar {
  background-color: #98a4af;
}
.top-bar .bar-content {
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 40px;
  align-items: center;
}
.top-bar .bar-content h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
}
.top-bar .bar-content img {
  height: 24px;
  width: auto;
}
.top-bar .bar-content img:hover {
  cursor: pointer;
  padding: 2px;
}
.topImg {
  background-image: url("../img/home/home-jumbotron.png");
  width: 1024px;
  height: 598px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  padding-top: 320px;
  padding-left: 80px;
  cursor: default;
}
@media (max-width: 500px) {
  .top-bar {
    width: 100%;
  }
  .topImg {
    background-image: url("../img/home/home-mobile-jumbotron.png");
    width: 100%;
    height: 260px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    padding-top: 130px;
    padding-left: 25px;
    cursor: default;
    margin: 0 auto;
    line-height: 40px;
  }
}
.services header h1 {
  color: white;
  margin-top: -100px;
  margin-left: 100px;
  font-weight: bold;
  font-size: 64px;
}
.cards {
  margin: 0 auto;
  margin-top: 50px;
  width: 85%;
}
.cards .card {
  display: flex;
  justify-content: space-between;
}
.cards .card .content {
  width: 410px;
}
@media (max-width: 500px) {
  .cards .card .content {
    width: 100%;
    margin: 0 auto;
  }
}
.cards .card .content h2 {
  color: #222222;
  margin-top: 50px;
  font-weight: bold;
  font-size: 28px;
}
.cards .card .content p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}
.cards .card .content button {
  background-color: #ffffff;
  height: 40px;
  width: 120px;
  border: 1px solid black;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .cards .card .content button {
    width: 100%;
  }
}
.cards .card .content button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #222222;
}
.cards .reverse {
  flex-flow: row-reverse;
  margin-top: 50px;
}
@media (max-width: 500px) {
  .cards .reverse {
    flex-flow: column-reverse;
  }
}
.paragraphs {
  margin: 0 auto;
  margin-top: 50px;
  width: 85%;
}
.paragraphs h2 {
  color: #222222;
  margin-top: 50px;
  font-weight: bold;
  font-size: 28px;
}
.paragraphs .unit {
  margin-top: 30px;
  margin-bottom: 90px;
}
@media (max-width: 500px) {
  .paragraphs .unit {
    width: 100%;
  }
}
.paragraphs .unit h3 {
  width: 30%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  background-color: #D8D8D8;
  position: relative;
  margin-left: 68.3%;
}
@media (max-width: 500px) {
  .paragraphs .unit h3 {
    margin: 0 auto;
    width: 85%;
    margin-top: -20px;
  }
}
.paragraphs .unit .text {
  width: 45%;
  margin: 0 auto;
  margin-top: 50px;
}
@media (max-width: 500px) {
  .paragraphs .unit .text {
    width: 100%;
  }
}
.paragraphs .unit .text p {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 24px;
}
.paragraphs .unit .mirror {
  margin-left: 0;
}
@media (max-width: 500px) {
  .paragraphs .unit .mirror {
    margin: 0 auto;
    width: 85%;
    margin-top: -20px;
  }
}
.mobile {
  display: none;
}
.container {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  max-width: 1024px;
}
@media (max-width: 500px) {
  .cards {
    margin: 0 auto;
  }
  .cards .mobile {
    margin: 0 auto;
  }
  .card {
    display: flex;
    flex-flow: column-reverse;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    margin: 0 auto;
    width: 97%;
    height: auto;
  }
}
footer {
  background-color: #828282;
}
footer .main {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 25px;
}
@media (max-width: 500px) {
  footer .main {
    flex-direction: column;
  }
}
footer h3 {
  font-weight: Bold;
  font-size: 18px;
}
footer .states {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-right: 50px;
}
@media (max-width: 500px) {
  footer .states {
    width: 90%;
    margin-top: 20px;
    flex-flow: column;
    margin-right: 0;
    margin: 0 auto;
    margin-top: 25px;
  }
}
@media (max-width: 500px) {
  footer .states div {
    margin-top: 25px;
  }
}
footer .states p {
  margin-top: 8px;
  font-size: 14px;
}
footer .input {
  margin-left: 50px;
}
@media (max-width: 500px) {
  footer .input {
    margin-left: 0;
    margin: 0 auto;
    width: 90%;
  }
}
footer .input h2 {
  margin-bottom: 8px;
}
footer .input input {
  margin-top: 8px;
  width: 100%;
}
footer .input p {
  font-size: 10px;
  margin-top: 5px;
}
footer .copyright {
  margin-top: 50px;
  font-size: 10px;
  color: white;
  text-align: center;
}
