/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-weight: normal;
  line-height: 2.4rem;
}
html,
body {
  font-family: 'Roboto', Arial, sans-serif;
  color: #222222;
  font-weight: normal;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
h4 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width:500px) {
  .container {
    width: 100%;
    min-width: 200px;
  }
}
.disappear {
  display: none;
}
.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #cccccc;
  position: sticky;
  top: 0;
  padding: 15px 40px;
  opacity: 0.9;
  height: auto;
  position: relative;
}
.nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  width: 100%;
}
@media (max-width:500px) {
  .nav nav {
    width: 80%;
  }
}
.nav nav h3 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 2.4rem;
}
@media (max-width:500px) {
  .nav {
    padding: 15px 30px;
    width: 100%;
  }
}
.nav .disappear {
  display: none;
}
.nav .expanded {
  align-items: flex-start;
  position: absolute;
  max-width: 900px;
}
.navLink {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  position: absolute;
  top: 120px;
  z-index: 15;
}
.navLink a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 48px;
  padding: 20px 0;
  left: 0;
}
.navLink a:hover {
  color: #222222;
}
footer {
  color: #FFFFFF;
  background: #999999;
  font-size: 1.4rem;
  line-height: 26px;
  width: 100%;
}
footer .footer-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 30px 20px 30px;
}
@media (max-width:500px) {
  footer .footer-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
footer .footer-main .location h4 {
  font-size: 2rem;
  line-height: 24px;
  color: #FFFFFF;
  font-weight: bold;
  padding-bottom: 10px;
}
footer .footer-main .location p {
  text-align: left;
  font-size: 1.4rem;
}
footer .footer-main .location input {
  margin: 15px 0;
}
@media (max-width:500px) {
  footer .footer-main .location {
    margin-bottom: 15px;
  }
}
footer p {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 20px;
}
.intro {
  position: relative;
}
.intro h1 {
  padding: 10px;
  color: #FFFFFF;
  position: absolute;
  top: 250px;
  left: 50px;
  font-size: 6.4rem;
  line-height: 75px;
  width: 50%;
}
@media (max-width: 800px) {
  .intro h1 {
    top: 170px;
    left: 20px;
    font-size: 4.4rem;
    line-height: 55px;
  }
}
@media (max-width:500px) {
  .intro h1 {
    top: 30px;
    left: 20px;
    font-size: 4.4rem;
    line-height: 55px;
  }
}
.intro img {
  width: 100%;
}
.intro-service h1 {
  top: 100px;
}
@media (max-width:500px) {
  .intro-service h1 {
    top: 30px;
    left: 20px;
    font-size: 4.4rem;
    line-height: 55px;
  }
}
.intro-service p {
  width: 90%;
  margin: 50px auto;
}
.main-content {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  width: 90%;
}
@media (max-width:500px) {
  .main-content {
    margin-top: 50px;
    width: 95%;
  }
}
.main-content .compInfo .infoCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
@media (max-width:500px) {
  .main-content .compInfo .infoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column-reverse;
  }
}
.main-content .compInfo .infoCard .compInfoText {
  margin: 10px ;
  width: 47%;
}
@media (max-width:500px) {
  .main-content .compInfo .infoCard .compInfoText {
    width: 95%;
  }
}
.main-content .compInfo .infoCard .compInfoText h3 {
  margin-top: 20px;
  font-weight: bold;
}
.main-content .compInfo .infoCard .compInfoText p {
  margin: 20px 30px 20px 0;
}
.main-content .compInfo .infoCard .compInfoText .btn {
  width: 150px;
  padding: 15px;
  color: #222222;
  background: #FFFFFF;
  font-size: 1.8rem;
  border: 1px solid black;
  text-align: center;
}
.main-content .compInfo .infoCard .compInfoText .btn:hover {
  cursor: pointer;
  animation-name: example;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes example {
  to {
    background: #222222;
    color: #FFFFFF;
  }
}
@media (max-width:500px) {
  .main-content .compInfo .infoCard .compInfoText .btn {
    width: 90%;
    padding: 15px;
    color: #222222;
    background: #FFFFFF;
    font-size: 1.8rem;
    border: 1px solid black;
    margin-bottom: 15px;
  }
  .main-content .compInfo .infoCard .compInfoText .btn:hover {
    cursor: pointer;
    animation-name: example;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  @keyframes example {
    to {
      background: #222222;
      color: #FFFFFF;
    }
  }
}
.main-content .compInfo .infoCard img {
  width: 47%;
}
@media (max-width:500px) {
  .main-content .compInfo .infoCard img {
    width: 100%;
  }
}
@media (min-width:800px) {
  .main-content .compInfo .imgLeft {
    flex-direction: row-reverse;
  }
}
.main-content .projects h2 {
  margin: 20px 0;
  font-weight: bold;
}
.main-content .projects .project {
  position: relative;
  margin: 60px 0;
}
.main-content .projects .project h4 {
  width: 350px;
  padding: 40px;
  font-weight: bold;
  background: #cccccc;
  position: absolute;
  right: 0;
  top: 140px;
  z-index: 3;
  text-align: center;
  letter-spacing: 6px;
}
@media (max-width: 800px) {
  .main-content .projects .project h4 {
    top: 150px;
  }
}
@media (max-width:500px) {
  .main-content .projects .project h4 {
    width: 90%;
    right: 5%;
    top: 180px;
  }
}
.main-content .projects .project img {
  width: 100%;
  margin-bottom: 120px;
}
.main-content .projects .project p {
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
  margin-bottom: 20px;
}
@media (max-width:500px) {
  .main-content .projects .project p {
    width: 95%;
  }
}
.main-content .projects .titleLeft h4 {
  left: 0;
}
@media (max-width:500px) {
  .main-content .projects .titleLeft h4 {
    left: 5%;
  }
}
.desktopImg {
  display: block;
}
@media (max-width:500px) {
  .desktopImg {
    display: none;
  }
}
.mobileImg {
  display: none;
}
@media (max-width:500px) {
  .mobileImg {
    display: block;
  }
}
.service-content {
  width: 90%;
  margin: 0 auto;
}
@media (max-width:500px) {
  .service-content {
    width: 100%;
  }
}
.service-content .tabLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
@media (max-width:500px) {
  .service-content .tabLink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.service-content .tabLink .tab {
  width: 20%;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width:500px) {
  .service-content .tabLink .tab {
    width: 90%;
    margin-bottom: 20px;
  }
}
.service-content .tabLink .activeTab {
  color: #FFFFFF;
  background: #006699;
}
.cards-container {
  margin: 0 auto;
  margin-bottom: 100px;
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
}
@media (max-width:500px) {
  .cards-container {
    height: 750px;
  }
}
.cards-container .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: -100%;
  width: 90%;
  margin: 0 auto;
}
@media (max-width:500px) {
  .cards-container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.cards-container .card .card-text {
  width: 45%;
}
@media (max-width:500px) {
  .cards-container .card .card-text {
    width: 90%;
    margin-bottom: 20px;
  }
}
.cards-container .card .card-text h2 {
  margin-bottom: 20px;
}
.cards-container .card .card-text p {
  margin: 15px 0;
}
.cards-container .card img {
  width: 45%;
}
@media (max-width:500px) {
  .cards-container .card img {
    width: 95%;
  }
}
.cards-container .left-button,
.cards-container .right-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #222222;
  background-color: #FFFFFF;
  font-size: 35px;
  border-radius: 50%;
  position: absolute;
  width: 30px;
  height: 30px;
