/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
nav {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto 50px;
  position: relative;
}
nav .nav-heading {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: gray;
  z-index: 2;
  position: fixed;
}
nav .nav-heading .logo {
  padding: 10px 4rem;
  color: white;
}
nav .nav-heading .nav-hamburger {
  max-width: 3rem;
  padding: 10px 4rem;
}
nav .nav-heading .nav-tabs {
  display: none;
  position: fixed;
  z-index: 2;
}
nav img {
  width: 100%;
  height: auto;
}
nav h1 {
  position: absolute;
  left: 5rem;
  bottom: 55px;
  color: white;
  z-index: 1;
}
.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.home {
  max-width: 1000px;
  margin: 0 5rem;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.7rem;
  font-weight: bold;
}
p {
  font-size: 1.2rem;
}
.header-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 100px;
}
.header-content .header-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.header-content .header-text button {
  width: 9rem;
  height: 50px;
  font-weight: bold;
  border: 1px solid black;
}
.main-body h3 {
  margin-bottom: 40px;
}
.main-body .main-content {
  position: relative;
  margin-bottom: 110px;
}
.main-body .main-content img {
  margin-bottom: 100px;
}
.main-body .main-content .right-heading {
  position: absolute;
  height: 100px;
  max-width: 20rem;
  width: 100%;
  right: 0rem;
  top: 170px;
  letter-spacing: 4px;
  z-index: 1;
  background-color: lightgray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-body .main-content .left-heading {
  position: absolute;
  height: 100px;
  max-width: 20rem;
  width: 100%;
  left: 0rem;
  top: 170px;
  letter-spacing: 4px;
  z-index: 1;
  background-color: lightgray;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-body .main-content p {
  max-width: 400px;
  width: 100%;
  margin-bottom: 40px;
  padding: 0 200px;
}
footer {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 5rem;
}
footer .footer-main {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
footer .footer-main .contact-us {
  width: 34%;
}
footer .footer-main .contact-us button {
  max-width: 300px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  text-align: left;
}
footer .footer-main .states {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
footer .footer-main .states .state-content {
  display: flex;
  flex-direction: column;
}
footer h4 {
  font-size: 1.4rem;
  color: white;
  margin-bottom: 20px;
}
footer p {
  color: white;
  font-size: 0.9rem;
  line-height: 25px;
}
