/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.topbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  padding: 12px 4.5%;
  background-color: #99A4AF;
  color: #ffffff;
  z-index: 1;
}
.topbar .expanded {
  display: none;
}
.topbar a {
  text-decoration: none;
}
.topbar .logo {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.topbar .logo:hover {
  color: #222222;
}
.topbar .nav-menu-btn {
  cursor: pointer;
}
.topbar .open {
  cursor: pointer;
}
nav {
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  line-height: 85px;
  background-color: rgba(153, 164, 175, 0.9);
  display: flex;
}
nav .close {
  position: absolute;
  top: 13px;
  right: 107px;
  cursor: pointer;
}
nav .display-toggle {
  display: none;
}
nav .nav-link {
  font-size: 48px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
}
nav .nav-link:hover {
  color: #222222;
}
.nav-display-toggle {
  display: none;
}
footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  background-color: #828282;
  color: #ffffff;
  font-size: 14px;
  padding: 60px 3% 40px;
}
footer .input-area {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  padding-left: 5.5%;
}
footer .input-area h3 {
  font-size: 20px;
  line-height: 24px;
}
footer .input-area input {
  width: 85%;
  padding: 7px;
  margin: 5px 0;
  font-size: 16px;
  border-radius: 6px;
}
footer .addresses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 60%;
  margin-top: 3px;
}
footer .addresses address {
  width: 33%;
  line-height: 26px;
}
footer .addresses address h3 {
  font-size: 20px;
}
footer .copyright {
  text-align: center;
  margin-top: 30px;
  width: 100%;
  font-size: 12px;
}
* {
  box-sizing: border-box;
  font-size: 62.5%;
}
html {
  font-family: 'Roboto', Arial, sans-serif;
}
body {
  margin: 0 auto;
  background-color: #ffffff;
  color: #222222;
}
.home {
  max-width: 1024px;
  margin: 0 auto;
}
h3 {
  font-size: 24px;
  font-weight: 700;
}
h4 {
  font-size: 28px;
  letter-spacing: 0.2rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.container .home {
  display: flex;
  flex-wrap: wrap;
}
.container .home .jumbotron {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.container .home .jumbotron h1 {
  color: #ffffff;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  position: absolute;
  top: 325px;
  left: 523px;
}
.container .home .home-mid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 50px;
}
.container .home .home-mid .home-mid-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
  padding: 0 8.25%;
}
.container .home .home-mid .home-mid-content h3 {
  margin: 40px 0 25px;
}
.container .home .home-mid .home-mid-content p {
  line-height: 24px;
}
.container .home .home-mid .s-and-j {
  width: 50%;
  padding-top: 10px;
}
.container .home .home-mid .s-and-j .btn {
  display: inline-block;
  border: 1px solid #222222;
  color: #222222;
  text-align: center;
  text-decoration: none;
  padding: 14px 27px;
  margin: 20px 0;
}
.container .home .home-mid .s-and-j .btn:hover {
  background-color: #222222;
  color: #ffffff;
}
.container .home .home-mid .futuristic {
  width: 50%;
  padding-left: 1.5%;
}
.container .home .home-mid .futuristic .btn {
  display: inline-block;
  border: 1px solid #222222;
  color: #222222;
  text-align: center;
  text-decoration: none;
  padding: 14px 20px;
  margin: 20px 0;
}
.container .home .home-mid .futuristic .btn:hover {
  background-color: #222222;
  color: #ffffff;
}
.container .home .recent-projects {
  display: flex;
  flex-wrap: wrap;
  padding: 1px 5.3rem;
}
.container .home .recent-projects .home-bottom .img-and-label {
  width: 100%;
  position: relative;
}
.container .home .recent-projects .home-bottom .img-and-label img {
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 40px 0 90px;
}
.container .home .recent-projects .home-bottom .img-and-label .recent-projects-label {
  background-color: #D8D8D8;
  color: #222222;
  width: 37%;
  padding: 36px 0;
  text-align: center;
  position: absolute;
  bottom: 47px;
  right: 0;
  font-size: 28px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.container .home .recent-projects .home-bottom .img-and-label .left-side {
  left: 0;
}
.container .home .recent-projects .home-bottom .recent-projects-text {
  margin: 15px auto 95px;
  width: 52%;
}
.container .home .recent-projects .home-bottom .recent-projects-text p {
  margin: 5px auto 60px;
  letter-spacing: 0.1rem;
}
