@font-face {
  font-family: Roboto;
  src: url(sansation_bold.woff);
  font-weight: bold;
}
/*
  ### GENERAL STYLES
- Background: #FFFFFF
- Color: #222222
- Font Family: Roboto, Arial, sans-serif

## Page Specific

### Home Page
- Recent Projects Gray Square: #D8D8D8
- Button borders: #222222

### Services Page
- Tab selected background: #5E9FB9
- Tab Hover background: #222222
- Tab Hover color: #FFF;

## Footer 
Background: #828282

### General Text
- Font Weight: Regular
- Font Size: 16px
- Line Height: 24px

### Jumbotron Headers
- Font Weight: Bold
- Font Size: 64px
- Line Height: 75px
- Color: #FFFFFF

### Sub Headers
- Font Weight: Bold
- Font Size: 28px
- Color: #222222
   
### Footer Headings
- Font Weight: Regular
- Font Size: 20px
- Line Height: 24px
- Color: #FFFFFF

### Footer Text
- Font Weight: Regular
- Font Size: 14px
- Line Height: 26px
- Color: #FFFFFF

### Navigation Logo
- Font Weight: Bold
- Font Size: 24px
- Color: #FFFFFF

### Navigation Text (Expanded)
- Font Weight: Bold
- Font Size: 48px
- Line Height: 85px
- Color: #FFFFFF
- Hover Color: #222222
*/
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.container {
  max-width: 800px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  Background: #FFFFFF;
  Color: #222222;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
body footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  Color: #FFFFFF;
  background-color: #828282;
}
body footer h4 {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  Color: #FFFFFF;
}
.header {
  height: 400px;
  font-family: "Roboto", arial, sans-serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #ffffff;
  background-color: gray;
  background-size: cover;
}
