.home .content-section-top .headerimg {
  width: 1000px;
  height: 175px;
}
@media (max-width: 500px) {
  .home .content-section-top .blast2 {
    display: none;
  }
  .home .content-section-top .blast3 {
    display: none;
  }
}
.home .content-section-top h2 {
  color: #23293B;
}
.home .content-section-top p {
  color: #5E6164;
}
.home .text-content-top {
  margin-top: 20px;
}
.home .threeimigos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .threeimigos img {
  width: 30%;
  margin-bottom: 30px;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .home .threeimigos .blast1 {
    width: 100%;
  }
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.home .inverse-content {
  padding-bottom: 30px;
  padding-top: 40px;
  border-top: 1px solid #F1F1F1;
  border-bottom: 1px solid #F1F1F1;
}
.home .inverse-content p {
  color: #5E6164;
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 0;
  float: right 10px;
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #F1F1F1;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-pick {
    display: flex;
    flex-wrap: wrap;
  }
}
.home .content-pick .walk {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width: 500px) {
  .home .content-pick .walk {
    width: 100%;
  }
}
.home .content-pick .btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  background-color: #103070;
  color: white;
  border: 1px solid silver;
}
.home .content-pick .btn:hover {
  background-color: white;
  font-color: teal;
}
@media (max-width: 500px) {
  .home .content-pick .btn {
    width: 100%;
  }
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.btn {
  margin: 20px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 45px;
  background-color: #103070;
  color: white;
  border: 1px solid silver;
}
.btn:hover {
  background-color: white;
  font-color: teal;
}
.main-navigation {
  background-color: #F6F6F6;
}
.main-navigation div {
  border-bottom: 1px grey;
}
.main-navigation .logo-heading {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.main-navigation .nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px grey;
}
@media (max-width: 500px) {
  .main-navigation .nav {
    display: flex;
    justify-content: space-evenly;
  }
}
.main-navigation a {
  color: #454A59;
}
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.footer {
  display: flex;
  justify-content: center;
  background: #F4F4F4;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
