/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'Roboto', arial, sans-serif;
  background-color: #FFFFFF;
  color: #222222;
}
.container {
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-weight: bold;
  font-size: 24px;
}
h2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  color: #FFFFFF;
}
h3 {
  font-weight: bold;
  font-size: 24px;
}
h4 {
  font-size: 24px;
  letter-spacing: 8px;
  color: #222222;
}
p {
  font-size: 16px;
  line-height: 24px;
}
a {
  font-weight: bold;
  font-size: 48px;
  line-height: 85px;
  color: #FFFFFF;
  text-decoration: none;
}
a:hover {
  color: #222222;
}
@media (min-width: 500px) {
  .img-mobile {
    display: none;
  }
}
@media (max-width: 500px) {
  .img-desktop {
    display: none;
  }
}
.menu {
  width: 100%;
  background: #828282;
  color: #FFFFFF;
  position: fixed;
  z-index: 1;
}
.menu .menu-content {
  margin: 1.3% 8.3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  .menu .menu-content {
    margin: 4.3% 4.7%;
  }
}
.nav-open {
  display: block;
}
.nav-open-toggle {
  display: none;
}
.nav-close {
  display: none;
}
.nav-close-toggle {
  display: block;
}
.nav {
  display: none;
}
.nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #828282;
  opacity: 0.9;
  position: fixed;
  top: 0;
  z-index: -1;
}
.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
footer {
  width: 100%;
  background: #828282;
  color: #FFFFFF;
  padding-top: 6%;
}
@media (max-width: 500px) {
  footer {
    margin-top: 25%;
    padding: 8% 0;
  }
}
footer h3 {
  font-size: 20px;
  line-height: 24px;
}
footer p {
  font-size: 14px;
  line-height: 26px;
}
footer .footer {
  margin: 0 8.3% 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 500px) {
  footer .footer {
    margin: 0 4.7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
footer .footer .input-contact input {
  width: 98%;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5% 2%;
  font-size: 14px;
}
@media (max-width: 500px) {
  footer .footer .input-contact input {
    width: 100%;
    margin: 5% 0 4%;
  }
}
footer .footer .input-contact p {
  font-size: 13px;
}
footer .footer .locations {
  width: 61%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 500px) {
  footer .footer .locations {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  footer .footer .locations h3 {
    margin-top: 15%;
  }
  footer .footer .locations p {
    line-height: 28px;
  }
}
footer .copyright p {
  text-align: center;
  font-size: 12px;
}
@media (max-width: 500px) {
  footer .copyright p {
    text-align: left;
    margin: 6% 4.7%;
  }
}
.page-header {
  width: 100%;
  position: relative;
}
.page-header img {
  width: 100%;
}
.page-header h2 {
  position: absolute;
  left: 8%;
  bottom: 8.3%;
}
@media (max-width: 500px) {
  .page-header h2 {
    font-size: 36px;
    line-height: 42px;
    left: 4.7%;
    bottom: 10%;
  }
}
.page-content {
  margin: 4.9% 8.3%;
}
@media (max-width: 500px) {
  .page-content {
    margin: 10% 0;
  }
}
@media (max-width: 500px) {
  .page-content .intro-content {
    margin: 0 4.7%;
  }
}
.page-content .intro-content .intro-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 11.3%;
}
@media (max-width: 500px) {
  .page-content .intro-content .intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .page-content .intro-content .intro-section img {
    order: -1;
    margin-bottom: 10%;
  }
}
.page-content .intro-content .intro-section .intro-text p {
  margin: 5% 0;
  padding-right: 2%;
}
@media (max-width: 500px) {
  .page-content .intro-content .intro-section .intro-text p {
    margin: 7% 0;
  }
}
.page-content .intro-content .intro-section .intro-text .btn {
  color: #222222;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  width: 135px;
  text-align: center;
  padding: 3% 0;
}
@media (max-width: 500px) {
  .page-content .intro-content .intro-section .intro-text .btn {
    width: 100%;
    margin: 9% 0 4%;
    padding: 5% 0;
  }
}
.page-content .intro-content .intro-section .intro-text .btn:hover {
  color: #FFFFFF;
  background-color: #5E9FB9;
}
.page-content .intro-content .inverse-intro .intro-text {
  padding-right: 0%;
  padding-left: 3.4%;
}
@media (max-width: 500px) {
  .page-content .intro-content .inverse-intro .intro-text {
    padding: 0;
  }
}
.page-content .main-content h3 {
  padding-top: 0.5%;
  margin-bottom: 5.5%;
}
@media (max-width: 500px) {
  .page-content .main-content h3 {
    margin: 0 4.7% 7%;
    padding-top: 2.5%;
  }
}
.page-content .main-content .main-section .bldg-block {
  position: relative;
}
.page-content .main-content .main-section .bldg-block img {
  width: 100%;
}
.page-content .main-content .main-section .bldg-block .bldg-block-text {
  background-color: #D8D8D8;
  border: 1px solid #FFFFFF;
  width: 37%;
  padding: 4%;
  text-align: center;
  position: absolute;
  right: 0;
  bottom: -16%;
}
@media (max-width: 500px) {
  .page-content .main-content .main-section .bldg-block .bldg-block-text {
    right: 50%;
    bottom: -40%;
    transform: translate(50%, 0);
    width: 90%;
    padding: 11% 0;
  }
}
.page-content .main-content .main-section .bldg-block .inverse-bldg-block {
  left: 0;
}
@media (max-width: 500px) {
  .page-content .main-content .main-section .bldg-block .inverse-bldg-block {
    left: auto;
  }
}
.page-content .main-content .main-section .text-block {
  margin: 10% 23.5% 12%;
}
@media (max-width: 500px) {
  .page-content .main-content .main-section .text-block {
    margin: 33% 4.7% 14%;
  }
}
.page-content .main-content .main-section .text-block p {
  font-size: 18px;
  margin-bottom: 24px;
}
.services .intro-content .intro-section {
  margin-bottom: 5%;
}
.services .intro-content .intro-section .intro-text p {
  margin: 0;
  padding-right: 0;
}
.services .main-content {
  margin-top: 0;
}
.services .main-content .tab-container .tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.services .main-content .tab-container .tabs .tab-link {
  color: #222222;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  width: 135px;
  text-align: center;
  padding: 3% 0;
  width: 21.5%;
  font-size: 20px;
  font-weight: bold;
  padding: 2% 0;
}
@media (max-width: 500px) {
  .services .main-content .tab-container .tabs .tab-link {
    width: 100%;
    margin: 9% 0 4%;
    padding: 5% 0;
  }
}
.services .main-content .tab-container .tabs .tab-link:hover {
  color: #FFFFFF;
  background-color: #5E9FB9;
}
.services .main-content .tab-container .tabs .tab-link-selected {
  color: #FFFFFF;
  background-color: #5E9FB9;
}
.services .main-content .content-container .tab-content {
  display: none;
}
.services .main-content .content-container .tab-content-selected {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 5.5%;
}
.services .main-content .content-container .tab-content-selected .tab-content-text h3 {
  margin-bottom: 3%;
}
.services .main-content .content-container .tab-content-selected .tab-content-text p {
  line-height: 26px;
  padding-right: 5%;
}
