/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.rounded-border {
  border-radius: 4px;
  border: 0.5px solid #222222;
}
html,
body,
.container {
  height: 100%;
  color: #222222;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
body h1,
body h2,
body h3,
body h4 {
  font-weight: 700;
}
button {
  font-size: 1.5rem;
  background-color: white;
  border: 1px solid #222222;
}
h1 {
  font-size: 6.4rem;
  line-height: 7.5rem;
}
@media (max-width: 600px) {
  h1 {
    font-size: 3.4rem;
    line-height: 4rem;
  }
}
h2 {
  font-size: 2.8rem;
  color: #222222;
}
@media (max-width: 600px) {
  h2 {
    font-size: 2.4rem;
  }
}
h3 {
  font-size: 2.4rem;
}
.container {
  max-width: 1025px;
  width: 100%;
  position: relative;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4 {
  color: #FFFFFF;
}
header,
.banner {
  padding: 22px 8.4% 48px;
}
.banner {
  padding: 0px 8.4% 0px;
  position: absolute;
  bottom: 50px;
}
@media (max-width: 600px) {
  .banner {
    bottom: 25px;
  }
}
footer {
  padding-top: 66px;
  display: flex;
  flex-wrap: wrap;
  color: #e8e8e8;
  background-color: #828282;
}
@media (max-width: 600px) {
  footer {
    padding-left: 4.7%;
    padding-top: 30px;
  }
}
footer .email {
  padding-left: 8.3%;
  width: 33.33%;
}
@media (max-width: 600px) {
  footer .email {
    padding-left: 0;
    padding-right: 8%;
    width: 100%;
    padding-bottom: 20px;
  }
}
footer .email input {
  margin-top: 10px;
  font-size: 1.8rem;
  height: 42px;
  width: 100%;
  min-width: 150px;
  border-radius: 4px;
  border: 0.5px solid #222222;
  color: #828282;
  padding-left: 2%;
}
@media (max-width: 600px) {
  footer .email input {
    margin: 12px 0px 8px 0px;
    font-size: 1.6rem;
  }
}
footer .fine-print {
  font-size: 1.2rem;
}
footer .locations {
  width: 66.67%;
  display: flex;
  justify-content: space-between;
  padding-right: 8.3%;
  padding-left: 5.3%;
}
@media (max-width: 600px) {
  footer .locations {
    width: 100%;
    flex-direction: column;
    padding-left: 0;
  }
  footer .locations .location {
    padding-bottom: 25px;
  }
}
footer h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
}
footer p {
  font-size: 1.4rem;
  line-height: 2.6rem;
}
footer .copyright {
  padding-top: 38px;
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  footer .copyright {
    padding-top: 0px;
    padding-bottom: 25px;
    justify-content: left;
  }
}
footer .copyright input {
  padding-left: 0.8%;
}
nav {
  transition: height 0.5s, background-color 0.5s;
  margin: 0 auto;
  height: 100vh;
  width: inherit;
  max-width: inherit;
  z-index: 2;
  background-color: #98A4AF;
  opacity: 0.95;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
nav h1,
nav h2,
nav h3,
nav h4 {
  color: #FFFFFF;
}
nav header {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  width: inherit;
}
nav .nav-links {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  max-width: inherit;
  padding-bottom: 98px;
}
nav .nav-links a {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 48px;
  line-height: 85px;
  text-decoration: none;
}
nav .nav-links a:hover {
  color: #222222;
}
nav.collapsed {
  transition-property: height 1s;
  height: 98px;
  bottom: none;
  background-color: transparent;
}
nav.collapsed.scrolled {
  background-color: #98A4AF;
}
nav.collapsed .nav-links {
  padding: 0;
  height: 0;
}
.home .jumbotron {
  background-image: url(../img/home/home-jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 62.5%;
  height: 80%;
}
@media (max-width: 600px) {
  .home .jumbotron {
    background-image: url(../img/home/home-mobile-jumbotron.png);
    width: 100%;
    background-size: cover;
    background-position: bottom;
    min-height: 260px;
    height: auto;
  }
}
.mid-content .flex-row {
  display: flex;
}
@media (max-width: 600px) {
  .mid-content .flex-row {
    flex-direction: column;
  }
  .mid-content .flex-row:first-child .text-block {
    order: 1;
  }
}
.mid-content .flex-row .text-block,
.mid-content .flex-row .img-block {
  width: 50%;
  padding: 50px 2% 50px;
}
@media (max-width: 600px) {
  .mid-content .flex-row .text-block,
  .mid-content .flex-row .img-block {
    padding: 38px 4.1% 0px;
    width: 100%;
  }
}
.mid-content .flex-row .text-block {
  padding-top: 30px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
@media (max-width: 600px) {
  .mid-content .flex-row .text-block h2 {
    padding: 0px;
  }
}
.mid-content .flex-row h2,
.mid-content .flex-row p,
.mid-content .flex-row button {
  padding: 15px 0px 15px;
}
.mid-content .flex-row button {
  margin-top: 10px;
  width: 135px;
}
@media (max-width: 600px) {
  .mid-content .flex-row button {
    width: 100%;
  }
}
.mid-content .flex-row img {
  width: 100%;
}
.lower-content {
  padding: 40px 8.3% 0px;
}
@media (max-width: 600px) {
  .lower-content {
    padding: 55px 0px 28px;
  }
}
.lower-content .flex-row {
  flex-flow: column nowrap;
}
.lower-content .header {
  padding-bottom: 45px;
}
@media (max-width: 600px) {
  .lower-content .header {
    padding: 0px 16px 30px;
  }
}
.lower-content .img-block {
  position: relative;
}
@media (max-width: 600px) {
  .lower-content .img-block {
    display: flex;
    justify-content: center;
  }
}
.lower-content .title-card {
  position: absolute;
  z-index: 1;
  bottom: -50px;
  background-color: #D8D8D8;
  border: 1px solid #FFFFFF;
  width: 316px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lower-content .title-card.right {
  right: 0px;
}
@media (max-width: 600px) {
  .lower-content .title-card.right {
    right: auto;
  }
}
@media (max-width: 600px) {
  .lower-content .title-card {
    bottom: -66px;
    width: 90.7%;
    border: none;
  }
}
.lower-content .title-card h2 {
  text-align: center;
  letter-spacing: 0.5rem;
  font-weight: 300;
}
.lower-content .text-block {
  padding: 70px 22%;
  white-space: pre-line;
}
@media (max-width: 600px) {
  .lower-content .text-block {
    padding: 70px 4.3% 25px;
  }
}
.lower-content img {
  width: 100%;
}
.lower-content p {
  font-size: 1.7rem;
}
.contact .jumbotron {
  background-image: url(../img/contact/contact-jumbotron.png);
  position: relative;
  height: 62.5%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 245px;
}
@media (max-width: 600px) {
  .contact .jumbotron {
    background-image: url(../img/contact/contact-mobile-jumbotron.png);
    width: 100%;
    background-size: cover;
    background-position: bottom;
    min-height: 260px;
    height: auto;
  }
}
.contact .jumbotron .banner {
  bottom: 20px;
}
@media (max-width: 600px) {
  .contact .jumbotron {
    width: 100%;
    background-size: cover;
    background-position: bottom;
    min-height: 260px;
    height: auto;
  }
}
.contact .mid-content {
  display: flex;
}
.contact .mid-content h2,
.contact .mid-content h3 {
  color: #222222;
}
@media (max-width: 600px) {
  .contact .mid-content {
    flex-direction: column;
  }
}
.contact .mid-content .panel {
  width: 50%;
  padding: 50px 2% 50px;
  margin-left: 8.3%;
}
.contact .mid-content .panel .header-text {
  padding-bottom: 20px;
}
.contact .mid-content .panel .header-text h2 {
  color: #3c3c3c;
  font-size: 2.4rem;
}
@media (max-width: 600px) {
  .contact .mid-content .panel {
    margin-left: auto;
    margin-right: auto;
    padding: 38px 4.1% 0px;
    width: 100%;
  }
}
.contact .mid-content .panel.left-panel form {
  display: flex-box;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: 1.5rem;
}
.contact .mid-content .panel.left-panel form input,
.contact .mid-content .panel.left-panel form label,
.contact .mid-content .panel.left-panel form small,
.contact .mid-content .panel.left-panel form select,
.contact .mid-content .panel.left-panel form textarea {
  display: block;
  width: 100%;
}
.contact .mid-content .panel.left-panel form small {
  color: #75758B;
}
@media (max-width: 600px) {
  .contact .mid-content .panel.left-panel form small {
    font-size: 1.2rem;
  }
}
.contact .mid-content .panel.left-panel form input,
.contact .mid-content .panel.left-panel form select,
.contact .mid-content .panel.left-panel form textarea {
  font-size: 1.6rem;
  padding: 8px;
  border-radius: 4px;
  border: 0.5px solid #222222;
  margin: 2px 0px;
  border: 0.75px solid #75758B;
}
.contact .mid-content .panel.left-panel form textarea {
  height: 135px;
}
.contact .mid-content .panel.left-panel form .form-group {
  padding-bottom: 35px;
  min-width: 410px;
}
@media (max-width: 600px) {
  .contact .mid-content .panel.left-panel form .form-group {
    max-width: 290px;
    min-width: 290px;
    padding-bottom: 15px;
  }
}
.contact .mid-content .panel.left-panel form .form-check input,
.contact .mid-content .panel.left-panel form .form-check label {
  display: inline-block;
  width: auto;
}
.contact .mid-content .panel.left-panel form [type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.contact .mid-content .panel.left-panel form [type="radio"] + span::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: -0.025rem;
  border-radius: 1rem;
  border: 0.5px solid #75758B;
  margin-right: 0.75rem;
  transition: 0.5s ease all;
}
.contact .mid-content .panel.left-panel form [type="radio"]:checked + span::before {
  border-color: #828282;
  background: #222222;
}
.contact .mid-content .panel.left-panel form button {
  margin-top: 28px;
  width: 135px;
}
@media (max-width: 600px) {
  .contact .mid-content .panel.left-panel form button {
    padding: 15px 0px 15px;
    width: 100%;
  }
}
.contact .mid-content .panel.right-panel {
  margin-left: 11.7%;
}
.contact .mid-content .panel.right-panel .locations h3 {
  font-size: 2rem;
}
.contact .mid-content .panel.right-panel .locations p {
  padding-top: 4px;
  padding-bottom: 4px;
}
.contact .mid-content .panel.right-panel .location {
  padding-bottom: 35px;
}
@media (max-width: 600px) {
  .contact .mid-content .panel.right-panel {
    margin-left: auto;
    justify-content: left;
  }
}
.contact .mid-content h2,
.contact .mid-content p,
.contact .mid-content button {
  padding: 15px 0px 15px;
}
@media (max-width: 600px) {
  .contact .mid-content h2,
  .contact .mid-content p,
  .contact .mid-content button {
    padding-top: 0px;
  }
}
.services .jumbotron {
  background-image: url(../img/services/services-jumbotron.png);
  position: relative;
  height: 62.5%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 245px;
}
@media (max-width: 600px) {
  .services .jumbotron {
    background-image: url(../img/services/services-mobile-jumbotron.png);
    width: 100%;
    background-size: cover;
    background-position: bottom;
    min-height: 260px;
    height: auto;
  }
}
.services .jumbotron .banner {
  bottom: 20px;
}
@media (max-width: 600px) {
  .services .jumbotron {
    width: 100%;
    background-size: cover;
    background-position: bottom;
    min-height: 260px;
    height: auto;
  }
}
.services p {
  font-size: 1.5rem;
}
.services .content {
  padding-left: 8.3%;
  padding-right: 8.3%;
  padding-bottom: 100px;
}
.services .content .intro {
  padding-top: 58px;
  padding-bottom: 50px;
}
@media (max-width: 600px) {
  .services .content .intro {
    padding-top: 34px;
    padding-bottom: 35px;
  }
}
@media (max-width: 600px) {
  .services .content {
    padding-left: 6.25%;
    padding-right: 6.25%;
    padding-bottom: 60px;
  }
}
.services .content .buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
}
@media (max-width: 600px) {
  .services .content .buttons {
    text-align: center;
    display: inline-block;
    padding-bottom: 20px;
  }
}
.services .content .buttons button {
  width: 184px;
  height: 50px;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 22px;
}
.services .content .buttons button:hover {
  background-color: #222222;
  color: #FFFFFF;
}
.services .content .buttons button.selected {
  background-color: #5E9FB9;
  color: #FFFFFF;
  border: none;
}
@media (max-width: 600px) {
  .services .content .buttons button {
    width: 100%;
  }
}
.services .content .tab {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  overflow: hidden;
}
@media (max-width: 730px) {
  .services .content .tab {
    flex-flow: column nowrap;
  }
}
.services .content .tab .header-text {
  width: 100%;
}
@media (max-width: 730px) {
  .services .content .tab .header-text {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
  }
}
.services .content .tab h2 {
  display: inline-block;
}
@media (max-width: 730px) {
  .services .content .tab h2 {
    padding-bottom: 10px;
  }
}
.services .content .tab p {
  width: 50%;
  min-width: 280px;
  white-space: pre-line;
  margin: auto;
  padding-bottom: 20px;
}
@media (max-width: 600px) {
  .services .content .tab p {
    width: 100%;
  }
}
.services .content .tab picture {
  width: 50%;
  padding-left: 3.4%;
  display: flex;
  justify-content: center;
  margin: auto;
}
@media (max-width: 730px) {
  .services .content .tab picture {
    padding: 0px;
    width: 100%;
  }
}
.services .content .tab picture img {
  width: 100%;
}
.services .content .tab.hidden {
  display: none;
}
.meet .content {
  height: 850px;
}
.meet .button {
  color: black;
  font-size: 5rem;
  text-align: center;
  margin: auto 0px;
}
.meet .button img {
  width: 30px;
}
.meet .left-button img {
  transform: rotate(-90deg);
}
.meet .left-button img:hover {
  transform: rotate(-90deg) scale(1.1);
}
.meet .left-button img:active {
  transform: scale(0.95) rotate(-90deg);
}
.meet .right-button img {
  transform: rotate(90deg);
}
.meet .right-button img:hover {
  transform: scale(1.1) rotate(90deg);
}
.meet .right-button img:active {
  transform: scale(0.95) rotate(90deg);
}
.meet .about-me {
  display: none;
  padding: 20px 10% 80px;
}
.meet .about-me h2 {
  padding-bottom: 40px;
  text-align: center;
}
.meet .about-me.active {
  display: block;
}
.carousel {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.carousel .image {
  display: none;
  width: 0px;
}
.carousel .image.active {
  max-width: 700px;
  width: 100%;
  display: block;
  overflow: hidden;
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 1;
}
.carousel .image.active a,
.carousel .image.active img {
  width: 100%;
}
.carousel-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
