/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:aft html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
er,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body,
p,
span,
h1,
h2,
h3,
h4,
h5,
div,
a {
  font-family: 'Roboto', sans-serif;
}
html {
  background-color: black;
}
html body .container {
  margin: auto;
  background-color: white;
  width: 1024px;
}
html body .container .header {
  position: sticky;
  top: 15px;
  z-index: 2;
  align-items: center;
  padding: 0px 86px;
  display: flex;
  justify-content: space-between;
  color: white;
}
html body .container .header img {
  height: 21px;
}
html body .container .header span {
  margin: 0;
  padding: 0;
  font-size: 23px;
  font-weight: bold;
}
html body .container .jumbotron {
  position: relative;
  bottom: 25px;
  border-radius: 0px !important;
  margin: auto;
  background-image: url("../img/home/home-jumbotron.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 575px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 15px;
}
html body .container .jumbotron p {
  margin: 0 83px;
  color: white;
  font-size: 64px;
  font-weight: bold;
  line-height: 75px;
}
html body .container .jumbotron .jumbo-text {
  margin-bottom: 45px;
}
html body .container .full {
  box-sizing: border-box;
  width: 100%;
  padding: 0 7%;
  display: flex;
  justify-content: center;
}
html body .container .full .half {
  width: 50%;
  padding: 25px 13px;
}
html body .container .full .half img {
  width: 100%;
}
html body .container .top-content {
  margin-bottom: 50px;
}
html body .container .top-content h4 {
  font-size: 24px;
  font-weight: bold;
  margin: 50px 0 20px 0;
}
html body .container .top-content p {
  line-height: 25px;
}
html body .container .top-content button {
  border: solid black 1px;
  padding: 14px 25px;
  margin-top: 25px;
  background-color: white;
  font-size: 16px;
}
html body .container .top-content button:hover {
  background-color: black;
  color: white;
}
html body .container .top-content.cont h4 {
  margin-top: 40px;
}
