/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Roboto, Arial, sans-serif;
  color: #222222;
  background-color: black;
  line-height: 24px;
}
.container {
  background-color: #FFFFFF;
}
p {
  Font-Weight: Regular;
  Font-Size: 16px;
  Line-Height: 24px;
}
h3 {
  Font-Weight: Bold;
  Font-Size: 28px;
}
.nav {
  display: block;
  background-color: #99a4af;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid #959697;
}
.nav .nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-height: 44px;
}
.nav .nav-bar h4 {
  Font-Weight: Bold;
  Font-Size: 24px;
  Color: #FFFFFF;
  padding: 10px 75px;
}
.nav .nav-bar img {
  padding: 10px 75px;
}
.nav .nav-menu {
  position: relative;
  width: 100%;
  height: 100%;
}
.nav .nav-menu .nav-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 40%;
  top: 120px;
}
.nav .nav-menu .nav-links .nav-link {
  text-decoration: none;
  width: auto;
  Font-Weight: Bold;
  Font-Size: 4.8rem;
  Line-Height: 8.5rem;
  Color: #FFFFFF;
}
.nav .nav-menu .nav-links .nav-link:hover {
  Color: #222222;
}
.nav-expand {
  height: 100vh;
  opacity: 0.95;
}
footer {
  background-color: #828282;
}
footer h4 {
  Font-Weight: Regular;
  Font-Size: 2rem;
  Line-Height: 24px;
  Color: #FFFFFF;
  margin-bottom: 5px;
}
footer p {
  Font-Weight: Regular;
  Font-Size: 14px;
  Line-Height: 26px;
  Color: #FFFFFF;
}
footer .contact {
  display: flex;
  justify-content: space-evenly;
  padding-top: 70px;
  padding-bottom: 30px;
}
footer .contact form {
  margin-top: 10px;
}
footer .contact input {
  padding: 10px 5px;
  font-size: 1.6rem;
  color: #828282;
  white-space: normal;
  background-color: white;
  width: 100%;
  border: 1px solid white;
  border-radius: 4px;
}
footer .copy {
  text-align: center;
}
footer .copy p {
  font-size: 1.2rem;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
.container .home-header {
  width: 100%;
  height: 598px;
  background-image: url("../img/home/home-jumbotron.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.container .home-header h1 {
  margin-left: 80px;
  Font-Weight: Bold;
  Font-Size: 6.4rem;
  Line-Height: 75px;
  Color: #FFFFFF;
}
.container .home-header :last-child {
  margin-bottom: 50px;
}
.container .top-container {
  width: 83%;
  margin: 0 auto;
}
.container .top-container .top-content {
  display: flex;
  margin: 50px 0;
  justify-content: space-between;
}
.container .top-container .top-content .top-img {
  margin-bottom: 25px;
}
.container .top-container .top-content .top-text {
  width: 48%;
}
.container .top-container .top-content .top-text h3 {
  margin: 30px 0 15px 0;
  font-size: 2.4rem;
  font-weight: bold;
}
.container .top-container .top-content .top-text p {
  font-size: 1.6rem;
  line-height: 24px;
  margin: 0 0 20px 0;
}
.container .top-container .top-content .top-text button {
  background: #FFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.6rem;
  border: 1px solid #222222;
  padding: 10px 20px;
}
.container .bottom-container {
  width: 83%;
  margin: 0 auto;
}
.container .bottom-container h3 {
  margin: 40px 0;
  font-size: 2.4rem;
  font-weight: bold;
}
.container .bottom-container .bottom-content {
  width: 855px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 75px;
}
.container .bottom-container .bottom-content h2 {
  font-size: 2.2rem;
  letter-spacing: 8px;
}
.container .bottom-container .bottom-content .right {
  align-self: flex-end;
  text-align: center;
  box-sizing: content-box;
  width: 280px;
  margin-bottom: 50px;
  margin-top: -55px;
  padding: 30px 25px 30px 25px;
  background-color: #D8D8D8;
  border: 1px solid white;
}
.container .bottom-container .bottom-content .left {
  text-align: center;
  box-sizing: content-box;
  width: 280px;
  margin-bottom: 50px;
  margin-top: -55px;
  padding: 30px 25px 30px 25px;
  background-color: #D8D8D8;
  border: 1px solid white;
}
.container .bottom-container .bottom-content p {
  align-self: center;
  width: 50%;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.7rem;
  line-height: 24px;
  margin: 0px 0 20px 0;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
.container .services-header {
  width: 100%;
  height: 250px;
  background-image: url("../img/services/services-jumbotron.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.container .services-header h1 {
  margin-left: 80px;
  margin-bottom: 15px;
  Font-Weight: Bold;
  Font-Size: 6.4rem;
  Line-Height: 75px;
  Color: #FFFFFF;
}
.container .services-content {
  width: 83%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.container .services-content p {
  margin: 45px 0;
}
.container .services-content .tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.container .services-content .tabs .tab {
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid black;
  padding: 13px 0;
  width: 175px;
}
.container .services-content .tabs .tab:hover {
  color: #FFF;
  background: #222222;
}
.container .services-content .tabs .selected-tab {
  background: #5E9FB9;
}
.container .services-content .tab-content {
  display: flex;
  justify-content: space-between;
}
.container .services-content .tab-content .content-text {
  width: 50%;
}
.container .services-content .tab-content .content-text h3 {
  font-size: 2.4rem;
}
.container .services-content .tab-content .content-text p {
  margin: 15px 0;
}
.container .services-content .tab-content img {
  height: 260px;
  width: auto;
  margin-top: 35px;
}
.hide {
  display: none;
}
