body {
  width: 1000px;
  margin: auto;
}
.main_splash .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #9AA5B0;
  height: 50px;
}
.main_splash .top .main_title {
  padding: 0px 0px 0px 70px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.6rem;
  color: white;
}
.main_splash .top .nav_link {
  padding: 0px 75px 0px 0px;
}
.main_splash .title_page {
  display: flex;
  background: url("../img/home/home-jumbotron.png") no-repeat center center;
  background-size: cover;
  height: 550px;
  width: 100%;
}
.main_splash .title_page .title_page_p {
  display: flex;
  align-items: flex-end;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  color: white;
  font-size: 64px;
  padding: 0px 0px 50px 70px;
  line-height: 75px;
}
@media (max-width: 500px) {
  body {
    width: 500px;
  }
  .main_splash .title_page {
    width: 100%;
    height: 300px;
  }
  .main_splash .title_page .title_page_p {
    font-size: 40px;
    line-height: 45px;
    padding: 0px 0px 30px 20px;
  }
}
