.meet .content {
  min-height: 700px;
}
.meet .button {
  color: black;
  font-size: 5rem;
  text-align: center;
  margin: auto 0px;
}
.meet .about-me {
  display: none;
  padding: 20px 10%;
}
.meet .about-me.active {
  display: block;
}
.carousel {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.carousel .image {
  display: none;
  width: 0px;
}
.carousel .image.active {
  max-width: 700px;
  width: 100%;
  display: block;
  overflow: hidden;
  transition-property: all;
  transition-timing-function: linear;
  transition-duration: 1;
}
.carousel .image.active a,
.carousel .image.active img {
  width: 100%;
}
.carousel-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
