@media (max-width: 500px) {
  header.close {
    height: 100%;
  }
  main .text {
    font-size: 1rem;
    top: -80px;
    left: 10px;
  }
  main .block {
    padding: 0;
    flex-direction: column;
    height: auto;
  }
  main .block .block-text {
    width: 100%;
    margin: 0 auto;
  }
  main .block .block-text .button {
    margin: 5% auto;
  }
  main .block.top-block {
    top: -60px;
  }
  main .block.middle-block {
    flex-direction: column;
    top: -50px;
  }
  main .block img {
    width: 100%;
  }
  main .projects {
    width: 100%;
    top: -40px;
  }
  main .projects .overlay {
    font-size: 0.1rem;
    width: auto;
    height: auto;
    top: 0px;
    right: 0px;
    width: 100%;
  }
  main .projects .project-info {
    width: 100%;
    margin: 10% 0, 0, 0;
  }
  main .projects .outskirts img {
    top: 5px;
    left: 0px;
  }
  main .projects .outskirts .overlay {
    top: 5px;
    left: 0px;
  }
  main .projects .the-blocks img {
    top: 20px;
  }
  main .projects .the-blocks .overlay {
    top: 20px;
  }
  main .projects img {
    width: 100%;
    margin: 0 auto;
  }
  .container footer {
    position: relative;
    top: 20px;
    padding: 0;
    height: auto;
  }
  .container footer h3 {
    font-size: 0.7rem;
    top: 0px;
  }
  .container footer.address {
    top: 0px;
  }
  .container footer .copyright {
    bottom: 0px;
  }
}
