.mobile {
    display: none;
}
@media(max-width: 500px) {
  
  .mobile {
    display: inline;
  }
  .recent {
     width: 100%;
  }
  .full-width {
    width: 100%;
  }
  .jumbo-container .bottom-left {
    font-size: 5rem;
    line-height: 55px;
    left: 20px;
    bottom: 38px;
  }
  .villa-container .bottom-right {
    position: absolute;
    bottom: -60px;
    left: 20px;
    width: 80%;
  }
  .outskirts-container .bottom {
    position: absolute;
    bottom: -60px;
    left: 20px;
    width: 80%;
  }
  .blocks-container .bottom-right-block {
     position: absolute;
     bottom: -60px;
     left: 20px;
     width: 80%;
   }
}

@media(max-width: 500px) {
  .desktop {
     display: none;
   }
}

