.nav_over {
  display: flex;
  justify-content: space-between;
  width: 880px;
}
.nav_over:hover {
  cursor: pointer;
}
.nav_over .close {
  display: none;
}
.nav_over .nav_over a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}
.nav_over .nav_over .closenv {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
