@media (max-width: 320px) {
  .container {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
  }
}
.navigation {
  position: fixed;
  font-size: 2.8rem;
  color: #fff;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  z-index: 1;
}
@media (max-width: 320px) {
  .navigation {
    max-width: 300px;
    width: 100%;
    padding: 0;
  }
}
.navigation .modal {
  width: 1024px;
  height: 100vh;
  position: absolute;
  background-color: #9DA7B1;
  opacity: 0.95;
}
.navigation .modal-hidden {
  display: none;
}
.navigation .dropdown {
  z-index: 3;
  position: absolute;
  display: flex;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
}
.navigation .dropdown-link {
  width: 100%;
  text-align: center;
  font-weight: Bold;
  font-size: 4.8rem;
  line-height: 85px;
  color: white;
}
.navigation .dropdown-link a {
  text-decoration: none;
  color: white;
}
.navigation .close-button {
  margin-top: 20px;
  margin-left: 965px;
}
@media (max-width: 320px) {
  max-width: 300px;
  width: 100%;
  padding: 0;
}
.nav-icon {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 70px;
  width: 1000px;
  position: absolute;
}
.nav-icon h1 {
  margin-left: 40px;
}
.nav-icon img {
  margin-bottom: 10px;
}
