.navigation {
  position: fixed;
  top: 15px;
  padding-left: 8rem;
  font-size: 2.8rem;
  color: #FFF;
  width: 100%;
  max-width: 855px;
  margin: 0 auto;
}
.navigation .nav-icon {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
