.bar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #828282;
  opacity: .75;
  position: fixed;
  z-index: 2;
}
.bar h1 {
  align-self: flex-start;
  margin: 20px;
  margin-left: 5%;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}
.bar .menu {
  align-self: flex-end;
  margin: 20px;
  margin-right: 8%;
  z-index: 3;
}
.bar .menu .dropdown .dropdown-button:hover {
  cursor: pointer;
}
.bar .menu .dropdown .dropdown-content {
  display: none;
}
.bar .menu .dropdown .dropdown--open {
  background-color: #828282;
  display: block;
  height: 90vh;
  width: 100vw;
  padding: 0 130px;
  position: fixed;
  top: 10vh;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: .95;
  z-index: 1;
}
.bar .menu .dropdown .dropdown--open .dropdown-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin: 15vh 130px 15vh;
  color: #FFF;
  font-family: Roboto, Arial, sans-serif;
  font-size: 4rem;
  text-decoration: none;
}
