/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
html {
  font-size: 62.5%;
  font-family: Roboto, Arial, sans-serif;
  color: #222222;
  background-color: #FFFFFF;
  box-sizing: border-box;
}
html h2 {
  font-weight: bold;
  font-size: 2.2rem;
  color: #222222;
}
.cta {
  max-width: 1024px;
  width: 100%;
  margin: 0px auto;
}
.cta .navs {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
}
.cta .nav-bar {
  margin: 0px auto;
  font-size: 2.4rem;
  font-weight: bold;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #98a4b0;
  max-width: 1024px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.cta .nav-bar .ham {
  cursor: pointer;
}
.cta .nav-bar .close-btn {
  cursor: pointer;
  display: none;
}
.cta .navigation {
  display: none;
}
.cta .navigation nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
.cta .navigation a {
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 85px;
  color: #FFFFFF;
  text-decoration: none;
}
.cta .navigation a:hover {
  color: #222222;
}
.jumbo-container {
  position: relative;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
}
.jumbo-container .jumbo-service {
  height: 90%;
  width: 100%;
}
.jumbo-container .bottom-left {
  position: absolute;
  bottom: 18px;
  left: 46px;
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  text-align: left;
}
.services {
  width: 85%;
  margin: 0px auto;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 1.6rem;
  line-height: 24px;
}
.tabs {
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  width: 85%;
}
.tabs .tab {
  width: 30%;
  font-size: 1.6rem;
  font-weight: bold;
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-bottom: 40px;
}
.tabs .tab:hover {
  background-color: #222222;
  color: #fff;
  cursor: pointer;
}
.card {
  width: 85%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.card div {
  font-size: 1.6rem;
  line-height: 24px;
  width: 48%;
}
.card img {
  margin-top: 40px;
  width: 100%;
}
.foot {
  background-color: #838183;
  Color: #FFFFFF;
  margin-top: 60px;
}
.foot footer {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  margin-bottom: 15px;
}
.foot form {
  border: none;
}
.foot h5 {
  font-size: 2rem;
  line-height: 24px;
}
.foot p {
  font-size: 14px;
  line-height: 26px;
}
.foot .copyright {
  padding-bottom: 10px;
  text-align: center;
}
