.recent_title {
  justify-content: flex-start;
  padding: 0px 0px 48px 70px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.recent_div {
  padding: 55px 0px 0px 0px;
}
.recent_div .recent_panal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 0px 100px 0px;
}
.recent_div .recent_panal .img_text {
  display: flex;
  justify-content: flex-start;
}
.recent_div .recent_panal .img_text .img_text_img1 {
  width: 100%;
  padding: 0px 0px 0px 0px;
}
.recent_div .recent_panal .img_text .overlay1 {
  background-color: #D8D8D8;
  font-family: Roboto, Arial, sans-serif;
  width: 320px;
  height: 100px;
  z-index: 2;
  position: absolute;
  margin: 175px 0px 0px 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  letter-spacing: 7px;
  border: white solid 1px;
}
.recent_div .recent_panal .img_text .overlay2 {
  background-color: #D8D8D8;
  font-family: Roboto, Arial, sans-serif;
  width: 320px;
  height: 100px;
  z-index: 2;
  position: absolute;
  margin: 175px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  letter-spacing: 7px;
  border: white solid 1px;
}
.recent_div .recent_panal .img_text_p {
  padding: 75px 0px 0px 0px;
  width: 40%;
  font-family: Roboto, Arial, sans-serif;
}
.recent_div .recent_panal .img_text_p p {
  padding: 15px 0px 0px 0px;
  line-height: 1.5;
  font-size: 1.2rem;
}
