.container-fluid nav {
  background-color: #8d9aa9;
}
.container-fluid nav .nav-header {
  color: white;
  font-size: 2rem;
  padding-left: 4%;
}
.container-fluid nav .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  background-color: rgba(81, 89, 112, 0.849);
  overflow-x: hidden;
  transition: 0.5s;
}
.container-fluid nav .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 50px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
.container-fluid nav .overlay a:hover {
  color: #222222;
}
.container-fluid nav .overlay a:focus {
  color: #222222;
}
@media screen and (max-height: 450px) {
  .container-fluid nav .overlay a {
    font-size: 3rem;
  }
}
.container-fluid nav .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .container-fluid nav .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.container-fluid nav .overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.container-fluid nav .menu-bar {
  font-size: 30px;
  cursor: pointer;
  float: right;
  padding: 0 1rem;
  color: white;
}
.container-fluid nav .jumbo-image {
  background: url("../img/services/services-jumbotron.png");
  background-size: cover;
  height: 250px;
}
.container-fluid nav .jumbo-image h1 {
  color: white;
  padding-top: 30%;
  padding-left: 5%;
  font-size: 5rem;
}
.tab-container {
  width: auto;
  height: auto;
}
.tab-container .top-p {
  padding: 60px;
}
.tab-container p {
  margin-top: 5%;
}
.tab-container img {
  width: 30%;
}
.tab-container .tab {
  display: flex;
  padding: 0 60px;
  justify-content: space-between;
  align-items: flex-end;
}
.tab-container .tab .tablinks {
  height: 30%;
  margin-left: 0;
  width: 20%;
  background-color: white;
}
.tab-container .tab button {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border: 2px solid black;
  padding: 5px;
  font-size: 16px;
  color: black;
  width: 40%;
}
.tab-container .tab button:hover {
  background-color: #4e95b0;
  color: white;
}
.tab-container .tabcontent #Pre-construction {
  display: initial !important;
}
.tab-container #Design-Build {
  display: none;
}
.tab-container #Construction {
  display: none;
}
.tab-container #Sustainability {
  display: none;
}
.tab-container h3 {
  padding-top: 5%;
  padding-left: 60px;
}
.tab-container .inner {
  display: flex;
  padding: 70px;
}
.tab-container .inner p {
  padding-right: 5%;
}
footer {
  background: grey;
  color: white;
}
footer h4 {
  font-size: 20px;
}
footer .footer {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  text-align: left;
}
footer .footer .city input {
  padding-top: 10px;
  display: block;
  padding: 10px 0;
  width: 100%;
}
footer .footer .city p {
  font-size: 20px;
}
footer .footer .city .cityName {
  font-size: 30px;
}
footer .copyright {
  text-align: center;
  font-size: small;
}
