/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Variables */
/* Mixins */
/* General Styles */
html {
  box-sizing: border-box;
}
.content {
  max-width: 1024px;
  width: 100%;
  background-color: #FFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
  margin: auto;
}
@media (max-width: 320px) {
  .content {
    max-width: 320px;
  }
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: "";
  justify-content: "";
  background-image: url("../img/home/home-jumbotron.png");
  background-size: 1024px 598px;
  height: 598px;
  background-color: #98A3AD;
  background-repeat: no-repeat;
  color: #FFFFFF;
}
@media (max-width: 320px) {
  nav {
    background-size: 320px 210px;
    background-position: bottom;
    height: 260px;
  }
}
nav .nav-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav .nav-row .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 17px 85px;
  background-color: #98A3AD;
}
@media (max-width: 320px) {
  nav .nav-row .menu {
    padding: 12px 12px;
  }
}
nav .nav-row .menu .name {
  font-size: 24px;
  font-weight: bold;
  font-color: #FFFFFF;
  text-decoration: none;
}
nav .nav-row .menu .menu-opened {
  display: none;
}
nav .nav-row .menu .menu-items {
  display: none;
}
nav .nav-row .jumbotron {
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: left;
  height: 500px;
  width: 84%;
}
@media (max-width: 320px) {
  nav .nav-row .jumbotron {
    height: 185px;
    font-size: 33px;
    line-height: 40px;
  }
}
footer {
  background: #828282;
  padding: 60px 63px;
}
@media (max-width: 320px) {
  footer {
    margin-top: 105px;
    padding: 13px 6px;
    width: 100%;
  }
}
footer .footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 320px) {
  footer .footer-row {
    display: flex;
    flex-direction: column;
    align-items: normal;
    justify-content: normal;
    width: 320px;
    margin: auto;
  }
}
footer .footer-row .footer-col {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 0px 20px;
}
@media (max-width: 320px) {
  footer .footer-row .footer-col {
    padding: 0px 0px;
  }
}
footer .footer-row .footer-col h4 {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
@media (max-width: 320px) {
  footer .footer-row .footer-col h4 {
    padding-top: 10px;
  }
}
footer .footer-row .footer-col address {
  font-size: 14px;
  line-height: 26px;
  color: #FFFFFF;
}
footer .footer-row .footer-col .text-field {
  border: 1px solid white;
  background: #FFFFFF;
  height: 40px;
  margin: 20px 0px 10px;
  border-radius: 5px;
}
@media (max-width: 320px) {
  footer .footer-row .footer-col .text-field {
    width: 90%;
  }
}
footer .footer-row .footer-col .sharing {
  font-size: 12px;
  color: #FFFFFF;
}
footer .footer-row .copyright {
  font-size: 12px;
  padding-top: 35px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}
