/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*adjusting font size so REM= 1-10*/
HTML {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
/* Your Code Goes Here */
/* imports */
/*nav menue*/
.header {
  width: 100%;
  max-width: 1000px;
  background-color: lightgray;
  height: 40px;
  display: flex;
  position: fixed;
}
.header h1 {
  font-size: 2rem;
  display: flex;
  align-self: center;
  margin-left: 10px;
  color: white;
}
.menu-button {
  position: absolute;
  right: 30px;
  top: 10px;
  cursor: pointer;
}
.menu-button-close {
  position: absolute;
  right: 33px;
  top: 7px;
  cursor: pointer;
}
.menu {
  display: none;
  position: fixed;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  background-color: lightgrey;
  border: 1px solid black;
  z-index: 2;
}
.menu h1 {
  font-size: 2rem;
  display: flex;
  align-self: center;
  margin: 9px;
  color: white;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}
a:hover {
  color: black;
}
.menu ul li {
  list-style-type: none;
  font-size: 3.2rem;
  padding: 30px 0;
  text-align: center;
}
.menu--open {
  display: block;
}
/* smartphone width*/
@media screen and (max-width: 500px) {
  body {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*section*/
    /*footer*/
  }
  body .desktopImg {
    display: none;
  }
  body .mobileImg {
    width: 100%;
    display: flex;
  }
  body .mobileImgJumbo {
    width: 100%;
    max-height: 280px;
    display: flex;
  }
  body .jumbotron {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  body .jumbotron h1 {
    font-size: 5rem;
    position: absolute;
    align-self: flex-end;
    padding: 0px 0px 30px 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  body section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    /*Needed a seperate class for this image because of the size of the image.*/
  }
  body section .mobileImgLineDraw {
    display: flex;
    width: 432px;
    margin: 20px 0px;
  }
  body section h2 {
    font-size: 2rem;
    margin: 20px 0px;
  }
  body section p {
    font-size: 1.6rem;
    padding-bottom: 15px;
    max-width: 1000px;
  }
  body section .imageBox {
    position: relative;
    width: 100%;
    max-width: 1000px;
  }
  body section .paragraphs {
    margin: 100px 0px 30px 0px;
  }
  body section .greyTextBox {
    width: 90%;
    background-color: lightgrey;
    height: 100px;
    text-align: center;
    line-height: 5;
    margin: 0px;
    position: absolute;
    bottom: -70px;
    right: 21px;
  }
  body section .button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: darkblue;
    text-align: center;
    line-height: 3;
    font-size: 1.6rem;
    margin: 20px 0px;
  }
  body section .button:hover {
    cursor: pointer;
    background-color: dodgerblue;
  }
  body footer {
    background-color: grey;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /*foot container*/
  }
  body footer .footContainer {
    width: 90%;
    padding: 30px 0px;
  }
  body footer .footContainer h3 {
    font-size: 2rem;
    margin: 30px 0px;
  }
  body footer .footContainer h4 {
    font-size: 1.6rem;
    margin: 10px 0px;
  }
  body footer .footContainer h5 {
    font-size: 1rem;
    margin-top: 20px;
  }
  body footer .footContainer input[type=email],
  body footer .footContainer select {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  /*body*/
}
/*media*/
/*desktop*/
@media screen and (min-width: 501px) {
  body {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /*section*/
    /*footer*/
  }
  body .mobileImg {
    display: none;
  }
  body .mobileImgJumbo {
    display: none;
  }
  body .mobileImgLineDraw {
    display: none;
  }
  body .jumbotron {
    height: 500px;
  }
  body .jumbotron h1 {
    font-size: 5rem;
    position: absolute;
    align-self: flex-end;
    padding: 0px 0px 30px 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  body section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
  }
  body section h2 {
    font-size: 2rem;
    margin: 20px 4%;
  }
  body section p {
    font-size: 1.6rem;
    padding-bottom: 15px;
    margin: 20px 4%;
  }
  body section .button {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: darkblue;
    text-align: center;
    line-height: 3;
    font-size: 1.6rem;
    margin: 20px 4%;
  }
  body section .button:hover {
    cursor: pointer;
    background-color: dodgerblue;
  }
  body section .firstImg {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 4%;
  }
  body section .secondImg {
    display: flex;
    flex-direction: row;
    margin: 20px 4%;
  }
  body section .imageBox .deskGreyBox1 {
    width: 30%;
    background-color: lightgrey;
    height: 100px;
    text-align: center;
    line-height: 5;
    margin: 0px;
    position: absolute;
    bottom: -629px;
    right: 21px;
  }
  body section .imageBox .deskGreyBox2 {
    width: 30%;
    background-color: lightgrey;
    height: 100px;
    text-align: center;
    line-height: 5;
    margin: 0px;
    position: absolute;
    bottom: -1090px;
    left: 15px;
  }
  body section .imageBox .deskGreyBox3 {
    width: 30%;
    background-color: lightgrey;
    height: 100px;
    text-align: center;
    line-height: 5;
    margin: 0px;
    position: absolute;
    bottom: -1575px;
    right: 21px;
  }
  body section .paragraphs {
    margin-top: 65px;
  }
  body footer {
    background-color: grey;
    color: white;
    width: 100%;
    /*foot container*/
  }
  body footer .footContainer {
    width: 90%;
    padding: 30px 0px;
    display: flex;
    justify-content: space-evenly;
  }
  body footer .footContainer h3 {
    font-size: 2rem;
    margin: 30px 0px;
  }
  body footer .footContainer h4 {
    font-size: 1.6rem;
    margin: 10px 0px;
  }
  body footer .footContainer input[type=email],
  body footer .footContainer select {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  body h5 {
    font-size: 1rem;
    margin-top: 20px;
    text-align: center;
  }
  /*body*/
}
/*media*/
/* smartphone width*/
@media screen and (max-width: 500px) {
  body {
    /*section*/
  }
  body .jumbotronServices {
    width: 100%;
    max-width: 500px;
    display: flex;
  }
  body .jumbotronServices .deskTopJumbotron {
    display: none;
  }
  body .jumbotronServices .mobileJumbotron {
    position: absolute;
    width: 100%;
    left: 0px;
    z-index: -1;
    height: 382px;
  }
  body .jumbotronServices h1 {
    font-size: 5rem;
    position: absolute;
    padding: 0px 0px 30px 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 255px 0px 0px 0px;
  }
  body p {
    margin-top: 420px;
  }
  body .section {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  body .section .tabs {
    width: 90%;
    max-width: 500px;
  }
  body .section .tabs-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 4%;
  }
  body .section .tabs-links .tabs-link {
    padding: 20px 25px;
    text-align: center;
    max-width: 500px;
    font-size: 2.4rem;
    border: 1px solid black;
    cursor: pointer;
  }
  body .section .tabs-links .tabs-link:hover {
    background-color: dodgerblue;
  }
  body .section .tabs-links .tabs-link-selected {
    background-color: aqua;
    color: black;
  }
  body .section .tabs-links .tabs-link-selected:hover {
    background-color: dodgerblue;
  }
  body .section .tabs-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
  }
  body .section .tabs-item {
    display: none;
  }
  body .section .tabs-item .tabs-item-title {
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 10px;
  }
  body .section .tabs-item-description {
    font-size: 1.6rem;
  }
  body .section .tabs-item-selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body .section .desk {
    display: none;
  }
  body .section .mobile {
    width: 100%;
  }
  body .section h6 {
    font-size: 1.6rem;
  }
  body .section h5 {
    text-align: center;
  }
  /*body*/
}
/*media*/
/*desktop width*/
@media screen and (min-width: 501px) {
  body {
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    /*.section*/
  }
  body .mobileJumbotron {
    display: none;
  }
  body .mobile {
    display: none;
  }
  body .jumbotronServices {
    z-index: -1;
    width: 100%;
    max-width: 1000px;
  }
  body .jumbotronServices h1 {
    position: absolute;
    font-size: 5rem;
    margin: 188px 0px 0px 15px;
    color: white;
  }
  body .section {
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  body .section .tabs {
    width: 100%;
  }
  body .section .tabs .tabs-links {
    margin-left: 12%;
  }
  body .section .tabs .tabs-links .tabs-link {
    text-align: center;
    max-width: 20%;
    font-size: 2rem;
    border: 1px solid black;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    margin: 30px 3%;
  }
  body .section .tabs .tabs-links .tabs-link:hover {
    background-color: dodgerblue;
  }
  body .section .tabs-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 15px;
    margin: 0px 8%;
  }
  body .section .tabs-item {
    display: none;
  }
  body .section .tabs-item .tabs-item-title {
    font-size: 2.4rem;
    font-weight: bold;
    padding-bottom: 10px;
  }
  body .section .tabs-item-description {
    font-size: 1.6rem;
    flex-direction: column;
  }
  body .section .tabs-item-description .tabImg {
    flex-direction: row-reverse;
  }
  body .section .tabs-item-selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /*body*/
}
/*media*/
