.tabs .topics {
  display: flex;
  justify-content: space-between;
}
.tabs .topics .tab {
  font-weight: bold;
}
.tabs .topics .tab:hover {
  cursor: pointer;
}
.tabs .topics .active-tab {
  background-color: lightblue;
  color: white;
  border: 2px solid green;
}
