/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
html {
  max-width: 1025px;
  height: auto;
  margin: auto;
  font-family: Roboto, Arial, sans-serif;
}
body nav {
  background-color: #9a9b9b;
  font-weight: Bold;
  font-size: 24px;
  color: #FFFFFF;
  height: 50px;
  padding-left: 80px;
  padding-right: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body nav #nav-bar-closed {
  cursor: pointer;
}
body nav #close-button {
  display: none;
}
@media (max-width: 650px) {
  body nav {
    padding-left: 15px;
    padding-right: 15px;
  }
}
body .nav-bar-open {
  height: 200px;
  width: 100%;
  margin: auto;
  font-weight: Bold;
  font-size: 48px;
  background-color: #9a9b9b;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 75px;
  display: none;
  position: absolute;
  z-index: 1;
  opacity: 0.9;
}
@media (max-width: 650px) {
  body .nav-bar-open {
    height: 210px;
  }
}
body .nav-bar-open p:hover {
  color: #222222;
  cursor: pointer;
}
body #main-content #title {
  height: 200px;
}
body #main-content #title h1 {
  font-size: 64px;
  line-height: 75px;
  font-weight: bold;
  color: #FFFFFF;
  position: relative;
  bottom: 100px;
  left: 80px;
  right: 20px;
  display: inline-flex;
  height: 120px;
}
@media (max-width: 650px) {
  body #main-content #title h1 {
    font-size: 36px;
    line-height: 44px;
    left: 15px;
    bottom: 160px;
  }
}
body #main-content #title img {
  width: 100%;
  height: 200px;
}
@media (max-width: 650px) {
  body #main-content #title img {
    height: 210px;
  }
}
body #main-content #header-info {
  width: 85%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 24px;
}
body #main-content #tab-list {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  margin-bottom: 50px;
}
body #main-content #tab-list .tab {
  border: 1px solid;
  width: 200px;
  height: 50px;
  margin: none;
  padding: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
body #main-content #tab-list .active-tab {
  background-color: #5E9FB9;
  color: white;
  border: 1px solid black;
}
body #main-content #tabs-info .tab-block {
  width: 85%;
  height: 340px;
  margin: auto;
  margin-bottom: 70px;
  display: flex;
}
body #main-content #tabs-info .tab-block .text-part {
  width: 50%;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body #main-content #tabs-info .tab-block .text-part h3 {
  font-weight: bold;
  font-size: 18px;
}
body #main-content #tabs-info .tab-block img {
  width: 40%;
  height: 80%;
  margin: auto;
}
body #main-content #tabs-info #Construction-tab {
  display: none;
}
body #main-content #tabs-info #Design-Build-tab {
  display: none;
}
body #main-content #tabs-info #Sustainability-tab {
  display: none;
}
body footer {
  background-color: #9a9b9b;
  height: 230px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 14px;
}
@media (max-width: 650px) {
  body footer {
    flex-direction: column;
    height: auto;
    width: 100%;
    height: 660px;
  }
}
body footer .footer-titles {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
body footer #start-project-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  line-height: 24px;
  margin-top: 30px;
  margin-left: 1.9525%;
}
@media (max-width: 650px) {
  body footer #start-project-block {
    width: 92%;
    margin: 0px;
  }
}
body footer #start-project-block #email-entry-title {
  width: 72%;
}
@media (max-width: 650px) {
  body footer #start-project-block #email-entry-title {
    width: 90%;
  }
}
body footer #start-project-block #email-enter {
  background-color: white;
  border-radius: 3px;
  width: 72%;
  height: 40px;
  color: grey;
  display: flex;
  align-items: center;
  margin-top: 25px;
}
@media (max-width: 650px) {
  body footer #start-project-block #email-enter {
    width: 90%;
    height: 50px;
  }
}
body footer #start-project-block #email-enter #email-enter-text {
  margin-left: 5px;
}
body footer #start-project-block #security-notice {
  font-size: 12px;
  width: 72%;
  margin-top: 1.9525%;
}
@media (max-width: 650px) {
  body footer #start-project-block #security-notice {
    width: 90%;
  }
}
body footer #locations-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}
@media (max-width: 650px) {
  body footer #locations-list {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-left: 15px;
    height: 450px;
  }
}
body footer #locations-list .locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 24px;
  margin-right: 13.01%;
  margin-top: 25px;
  min-width: 80px;
}
@media (max-width: 650px) {
  body footer #locations-list .locations {
    margin: 0px;
  }
}
body #Copyright {
  display: flex;
  justify-content: center;
  background-color: #9a9b9b;
  font-size: 12px;
  color: white;
  height: 20px;
}
@media (max-width: 650px) {
  body #Copyright {
    height: 30px;
    justify-content: flex-start;
  }
}
@media (max-width: 650px) {
  body #Copyright span {
    margin-left: 15px;
  }
}
