html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.generalSettings {
  background-color: #ffffff;
  color: #222222;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 24px;
}
.navigationLogo {
  font-weight: 700;
  font-size: 2.1rem;
  color: #ffffff;
  line-height: 8px;
}
.navigationLogo a:hover {
  color: #ffffff;
}
.navigationTextExpand {
  height: 255px;
  width: 300px;
  font-weight: 700;
  font-size: 2.3;
  color: #ffffff;
  line-height: 50px;
  text-align: left;
}
.navigationTextExpand a {
  text-decoration: none;
  color: inherit;
}
.navigationTextExpand a:hover {
  color: #222222;
}
.jumboHeader {
  font-weight: 700;
  font-size: 6rem;
  line-height: 75px;
  color: #222222;
}
.subHeaders {
  font-weight: 700;
  font-size: 2.1rem;
  color: #222222;
}
.button {
  border-color: #222222;
  background-color: #ffffff;
  width: 120px;
  height: 40px;
}
.recentProjects {
  background-color: #d8d8d8;
  border-color: #222222;
}
.footerHeadings {
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
  line-height: 24px;
}
.footerText {
  font-weight: 400;
  font-size: 1.3rem;
  color: #ffffff;
  line-height: 26px;
}
html {
  font-size: 62.5%;
  max-width: 1024px;
  margin: 0 auto;
}
p {
  background-color: #ffffff;
  color: #222222;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 24px;
}
.navi {
  opacity: 0.8;
  display: inline-flex;
  width: 100%;
  height: 40px;
  flex-direction: row;
  justify-content: right;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  background-color: #9aa5b0;
  font-weight: 700;
  font-size: 2.1rem;
  color: #ffffff;
  line-height: 8px;
}
.navi a:hover {
  color: #ffffff;
}
.navi .menuList {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navi .menuList li {
  width: 100%;
}
.logo {
  font-weight: 700;
  font-size: 2.1rem;
  color: #ffffff;
  line-height: 8px;
  padding: 15px 160px 5px 0px;
  width: 200px;
  display: flex;
  justify-content: right;
}
.logo a:hover {
  color: #ffffff;
}
.menuButton {
  display: flex;
  justify-content: right;
  width: 85%;
  height: 20px;
  padding: 10px 100px 10px 0px;
}
.header {
  width: 100%;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  z-index: 1;
}
.header .jumboTron {
  display: flex;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.header .jumboTron .jumboH1 {
  font-weight: 700;
  font-size: 6rem;
  line-height: 75px;
  color: #222222;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  color: #ffffff;
  position: absolute;
  z-index: 0;
  bottom: 5%;
  right: 70%;
}
#servIntro {
  margin-top: 25%;
  padding: 0 5%;
}
.buttons {
  width: 100%;
  height: 70px;
}
.button-links {
  margin: 5% 0;
  padding: 0 2%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.button-links .button-link {
  height: 50px;
  width: 170px;
  border: solid 1px #222222;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  padding-top: 10px;
}
.button-links .button-link:hover {
  color: #fff;
  background-color: #222222;
}
.active {
  color: #fff;
  background-color: #5e9fb9;
}
.button-items {
  margin-top: 100%;
  width: 100%;
  height: 300px;
  margin: 5% 0;
}
.button-item {
  padding: 0 5%;
  height: 300px;
}
.button-item h1 {
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 700;
  font-size: 2.1rem;
  color: #222222;
}
.button-item img {
  padding: 3%;
}
.button-item {
  display: none;
}
.tabs-text {
  padding-right: 5%;
}
.button-item-selected {
  display: flex;
}
.button-link-selected {
  height: 100px;
  width: 200px;
  color: #fff;
  background-color: #5e9fb9;
}
footer {
  background-color: #828282;
  height: 200px;
  position: relative;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
  line-height: 24px;
}
footer .footerWrap {
  margin-top: 300px;
  height: 100%;
  display: flex;
  flex-direction: row;
}
footer .footerWrap .emailWrap {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 5%;
}
footer .footerWrap .emailWrap input {
  height: 40px;
  width: 270px;
  border-radius: 5px;
  padding-left: 5px;
}
footer .footerWrap .emailWrap h3 {
  font-size: 1.2rem;
}
input::placeholder {
  color: grey;
}
.addresses {
  width: 100%;
  padding-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.addresses p {
  background-color: #828282;
  font-weight: 400;
  font-size: 1.3rem;
  color: #ffffff;
  line-height: 26px;
}
#copyright {
  margin: 2% 0;
  text-align: center;
}
#copyright p {
  background-color: #828282;
  font-weight: 400;
  font-size: 1.3rem;
  color: #ffffff;
  line-height: 26px;
}
