/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.container {
  width: 1280px;
}
.container .header {
  width: 100vw;
}
.container .header .bar {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #828282;
  opacity: .75;
  position: fixed;
  z-index: 2;
}
.container .header .bar h1 {
  align-self: flex-start;
  margin: 20px;
  margin-left: 5%;
  color: white;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
}
.container .header .bar .menu {
  align-self: flex-end;
  margin: 20px;
  margin-right: 8%;
}
.container .header .bar .menu .dropdown .dropdown-content {
  display: none;
}
.container .header .jumbotron {
  width: 100vw;
  background-image: url(../img/services/services-jumbotron.png);
  background-size: 100vw;
  height: 50vh;
  display: flex;
  align-items: flex-end;
}
.container .header .jumbotron h1 {
  color: white;
  font-size: 3rem;
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  margin-left: 8%;
  margin-bottom: 4%;
}
.container .bottom-content {
  background-color: #828282;
  color: white;
  height: 25%;
  width: 100vw;
}
.container .bottom-content .contact-container {
  display: inline-flex;
  justify-content: space-evenly;
  margin: 3% 0;
  padding: 3% 0 0;
  width: 100%;
}
.container .bottom-content .contact-container .contact {
  display: block;
  align-self: center;
  height: 25vh;
  line-height: 1.5;
}
.container .bottom-content .contact-container .contact h2 {
  font-weight: bold;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1.6rem;
}
.container .bottom-content .contact-container .contact p {
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
  line-height: 2;
  margin: 3% 0;
}
.container .bottom-content .contact-container .form {
  line-height: 2;
}
.container .bottom-content .contact-container .form input {
  height: 50px;
  width: 100%;
}
.container .bottom-content .footer {
  width: 40%;
  margin: 3% 30% 0;
}
.container .bottom-content .footer p {
  margin: 0 20%;
  font-family: Roboto, Arial, sans-serif;
  font-size: 1rem;
}
