

/*== Tabs Component ==========================================================*/

.services nav {
    display: flex;
    justify-content: space-between;
    @media @mobile {
        flex-direction: column;
    }
    .tab{
        font-weight: bold;
        font-size: 2rem;
        width: 18.5rem;
        height: 5rem;
        line-height: 5rem;
        text-align: center;
        vertical-align: middle;
        border: solid 1px @button-border-color;
        white-space: nowrap;
        @media @mobile {
            width: 100%;
            margin: 1rem 0;
        }
        &.selected {
            color: @tab-select-fg;
            background: @tab-select-bg;
            @media @mobile {
                border-color: @color-grey;
            }
        }
        &:hover {
            color: @tab-hover-fg;
            background: @tab-hover-bg;
        }
    }
}

.services .tab-content {
    display: none;
    &.selected {
        display: block;
    }
    h2 {
        margin: 2rem 0;
    }
    .tab-content-boxes {
        display: flex;
        justify-content: space-between;
        @media @mobile {
            flex-direction: column;
        }
    }
    p {
        width: 40rem;
        margin-bottom: 2rem;
        @media @mobile {
            width: 100%;
        }
    }
    .img-header {
        width: 40rem;
        height: 27.5rem;
        @media @mobile {
            width: 100%;
        }
        &.pre-construction {
            background-image: url('/img/services/services-tab-pre-construction-img.png');
            @media @mobile {
                background-image: url('/img/services/services-tab-mobile-pre-construction-img.png');
            }
        }
        &.construction {
            background-image: url('/img/services/services-tab-construction-img.png');
            @media @mobile {
                background-image: url('/img/services/services-tab-mobile-construction-img.png');
            }
        }
        &.design-build {
            background-image: url('/img/services/services-tab-design-build-img.png');
            @media @mobile {
                background-image: url('/img/services/services-tab-mobile-design-build-img.png');
            }
        }
        &.sustainability {
            background-image: url('/img/services/services-tab-sustainability-img.png');
            @media @mobile {
                background-image: url('/img/services/services-tab-mobile-sustainability-img.png');
            }
        }
    }
}