.tabs {
  
  .tabs-links {
    @media @mobile {
      .flex(center, none, column);
    }
    padding-top: 20px;
    .flex(space-between, none, row);
    .tabs-link {
      cursor: pointer;
      border: 1px solid @primary-color;
      width: 21.5%;
      text-align: center;
      margin-top: 25px;
      padding: 15px 0;
      font-size: 2rem;
      font-weight: 600;


      @media @mobile {
        width: 100%;
        .flex(center, none, column);
      }
  
      &:hover {
        background-color: @primary-color;
        color: @tab-hover;
      }
    }
    .tabs-link-selected {
      background-color: #5E9FB9;
    }
  }
  
  .tabs-items {
   
    .tabs-item {
     

      display: none;
      padding-top: 50px;
      
      .tabs-item-title {
        font-size: 2.4rem;
        font-weight: 600;
      }
  
      .tabs-item-description-container {
        
        .flex(space-between, none, row);
        line-height: 2.4rem;
        @media @mobile {
          flex-direction: column;
        }

        .tabs-item-description {
          padding-top: 20px;
          padding-right: 30px;
  
          p {
            padding-bottom: 55px;
            font-size: 1.6rem;
          }
        }
      }
      
    }

    .tabs-item-selected {
      display: block;
    }
  }
}
