.tabs{
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    .tab-links{
        .layout(space-between, flex-start);
        font-size: 2.8rem;
        margin-bottom: 40px;
        .link{
            border: 1px solid black;
            padding: 10px 25px;
            width: 20%;
            text-align: center;
            &:hover{
                background: @tab-bg-hover;
                color: @white;
            }
        }
        .selected {
            background: @tab-bg-selected;
            color: @white;
        }
    }
    .tab-content{
        height: auto;
        .layout(space-between, flex-start);
        .tab-text{
            width: 65%;
            // padding-right: 50px;
        }
        .tab-image{
            width: 35%;
            text-align: right;

        }

    }
}
