.tabs {
  //.border-bottom-grey();
  .flex(center, center);
  width: 100%;
  height: 47px;
  background-color: @white;
  margin-top: 49px;

  .topics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    .title {
      font-size: 12px;
      letter-spacing: 1px;
      font-weight: bold;
    }
    .tab {
      .flex(center, center);
      color: black;
      background-color: @white;
      border: 1px solid black;
      width: 21.5%;
      height: 49px;
      font-size: 12px;
      font-size: 2rem;
      cursor: pointer;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
    .active-tab {
      background-color: @tab-bg;
      color: @white;
      border: 2px solid black;
    }
  }
}

.tabs-items {

  .tabs-item {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    margin-bottom: 80px;

    .tab-item-text {
      width: 50%;

      p {
        padding-top: 15px;
        padding-bottom: 11px;
        line-height: 26px;
      }
    }

    .tab-picture {
      padding-top: 37px;
    }
  }
}