.tab-container {
    margin-bottom: 107px;

    .tab-box { // Tab Select Menu container
        display: flex;
        justify-content: space-between;
        margin-top: 46px;
    }

    .tab {
        border: 1px solid black;
        display: flex;
        justify-content: center;
        font-size: 2.1rem;
        font-weight: bold;
        padding: 14px 0% 15px 0%;
        width: 21%;

        &:hover {
        background: @tabHoverBG;
        color: @tabHoverTextColor;
        cursor: pointer;
        }

 
 } // End Tab Box (tab select menu)

 .tab-selected {
    z-index: 1;
    background: @tabSelectBG;
    color: white;
    &:hover {
        background: @tabSelectBG;
    }
}


 .big-tab-content-container {

    display: flex;
    flex-direction: column;
    margin-top: 50px;

    .tab-content {
        
        display: none;
   
        h3 {
            font-size: 2.4rem;
            margin-bottom: 14px;
        }
    } // End tab-content

    .tab-content-selected {
        display: flex;
    }
   
    .content2 {
   
       .tab-text {
           display: flex;
           flex-direction: column;
           width: 50%;
       }
   
       .constIMG {
           background-image: url("../img/services/services-tab-construction-img.png");
           height: 275px;
           width: 47%;
           margin-top: 36px;
           margin-left: 3%;
           background-size: cover;
           background-position: center;
        }
    }
   
    .content1 {
   
       .tab-text {
           display: flex;
           flex-direction: column;
           width: 50%;
       }
   
       .preConstIMG {
           background-image: url("../img/services/services-tab-pre-construction-img.png");
           height: 275px;
           width: 47%;
           margin-top: 36px;
           margin-left: 3%;
           background-size: cover;
           background-position: center;
        }
    }
   
    .content3 {
   
       .tab-text {
           display: flex;
           flex-direction: column;
           width: 50%;
       }
   
       .designBuildIMG {
           background-image: url("../img/services/services-tab-design-build-img.png");
           height: 275px;
           width: 47%;
           margin-top: 36px;
           margin-left: 3%;
           background-size: cover;
           background-position: center;
        }
    }
   
    .content4 {
   
       .tab-text {
           display: flex;
           flex-direction: column;
           width: 50%;
       }
   
       .sustainIMG {
           background-image: url("../img/services/services-tab-sustainability-img.png");
           height: 275px;
           width: 47%;
           margin-top: 36px;
           margin-left: 3%;
           background-size: cover;
           background-position: center;
        }
    }

 } // End Tab-Content-Container

} // End Tab Container