.tab-container {
    width: 100%;
    margin: 0 85px 50px;
    display: flex;
    justify-content: space-between;

    .tab-button {
        border: 1px solid black;
        width: 150px;
        height: 45px;
        text-align: center;
        font-size: 1.6rem;
        outline: none;
        margin: 0;

        &:hover {
            background: @tabHoverBg;
            color: @tabHoverColor;
            }
        }

    .active {
        display: "flex";
        background: @tealish;
        color: @tabSelectedColor;
    }
}

.tab-header {
    width: 100%;
    margin: 0 85px;
}

.services {
    .content-section {
        padding-top: 0;
        padding-bottom: 0;
        .tab-content-img {
            width: 48%;

            @media (max-width: 500px) {
                order: -1;
                width: 100%;
                padding: 15px;
            }
        } 
    }
}