.tabs {
    .center();
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    margin-top: 25px;
    &__links {
        // .brd();
        .center();
        width: 98%;
        height: 60px;
        justify-content: space-between;
        &--pre-construction{
            .servicesTabs();
        }
        &--construction{
            .servicesTabs();
        }
        &--design-build{
            .servicesTabs();
        }
        &--sustainability{
            .servicesTabs();
        }
        
    }
}