// Services
#tab-links {
  .flexIt(column, center, center);

  // Breakpoint
  @media @desktop {
    flex-direction: row;
    justify-content: space-between;
  }

  // Children
  .tab {
    border: 1px solid #222222;
    width: 90%;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin: 4% 0;
    padding: 4%;

    // Hover
    &:hover {
      background: #222222;
      color: #ffffff;
    }

    // Breakpoint
    @media @desktop {
      width: 17%;
      padding: 2%;
    }
  }

  .active-tab {
    background: #5e9fb9;
    color: white;
  }
}

#tab-cards {
  width: 100%;

  // Children
  .card {
    .flexIt(column, center, center);
    margin: 5% 0 15%;

    // Breakpoint
    @media @desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0;
    }

    // Children
    .text-content {
      margin: 4% 0;

      // Breakpoint
      @media @desktop {
        max-width: 400px;
        width: 45%;
        margin: 0;
      }

      // Children
      h2 {
        font-weight: bold;
        font-size: 1.5rem;
        margin: 2% 0;
      }

      p {
        margin: 2% 0;
        font-size: 1rem;
      }
    }
    .mobile-img {
      width: 100%;

      // Breakpoint
      @media @desktop {
        display: none;
      }
    }

    .desktop-img {
      display: none;

      // Breakpoint
      @media @desktop {
        display: inline-block;
        max-width: 400px;
        width: 45%;
      }
    }
  }

  .hide {
    display: none;
  }
}
