
.tabs-link:hover {
    color: white;
    background-color: @tab-select;
    cursor: pointer;
}
  
  
  .tabs-item-selected {
    display: none;
  }

  .tabs-link-selected {
    border-right: 1px solid red;
    background-color: @tab-select;
    color: white;
    &:hover {
      color: black;
    }
  }

  

