.tabs {
    .center();
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    margin-top: 25px;
    &__links {
        // .brd();
        .center();
        width: 98%;
        height: 60px;
        justify-content: space-between;
        &--pre-construction{
            .servicesTabs();
        }
        &--construction{
            .servicesTabs();
        }
        &--design-build{
            .servicesTabs();
        }
        &--sustainability{
            .servicesTabs();
        }
    }

    &__items {
   
        margin-top: 55px;
        width: 98%;
        
        &--pre-construction{
            display: none;
           

            .pcitem {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 400px;
                justify-content: center;
                align-content: space-between;
                &__title{
                    .subHeader();
                }
                &__text{
                    .generalText();
                    width: 50%;
                }
                &__img {
                    width: 47%;
                }
            }
        }
        &--construction{
            display: none;

            .citem {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 400px;
                justify-content: center;
                align-content: space-between;
                &__title{
                    .subHeader();
                }
                &__text{
                    .generalText();
                    width: 50%;
                }
                &__img {
                    width: 47%;
                }
            }
        }
        &--design-build{
            display: none;
            
            .dbitem {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 400px;
                justify-content: center;
                align-content: space-between;
                &__title{
                    .subHeader();
                }
                &__text{
                    .generalText();
                    width: 50%;
                }
                &__img {
                    width: 47%;
                }
            }
        }
        &--sustainability{
            display: none;

            .sitem {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 400px;
                justify-content: center;
                align-content: space-between;
                &__title{
                    .subHeader();
                }
                &__text{
                    .generalText();
                    width: 50%;
                }
                &__img {
                    width: 47%;
                }
            }
        }
    }
}

.tabs-link-selected {
    background-color: #5E9FB9;
    color: #FFFFFF;
}


.tabs-item-selected {
    display: block;
}