//holds all tab buttons
.tab-container {
    width: 100%;
    margin: 0 85px 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 500px) {
        margin: 0 15px 30px;
    }

    //clickable tab button
    .tab-button {
        border: 1px solid black;
        width: 150px;
        height: 45px;
        text-align: center;
        font-size: 1.6rem;
        outline: none;
        transition: all 0.5s ease;
        margin: 0;

        @media (max-width: 500px) {
            width: 100%;
            margin: 10px 0;
        }

        &:hover {
            background: @tabHoverBg;
            color: @tabHoverColor;
            transition: all 0.5s ease;
            }
        }

    //sets style of active tab button
    .active {
        display: "flex";
        background: @tealish;
        color: @tabSelectedColor;
    }
}

//header shown depending on active tab button
.tab-header {
    width: 100%;
    margin: 0 85px;

    @media (max-width: 500px) {
        margin: 0 15px 30px;
    }
}

//specific to services page
.services {

    .content-section {
        padding-top: 0;
        padding-bottom: 0;

        @media (max-width: 500px) {
            padding: 0 15px;
        }

        .tab-content-img {
            width: 48%;

            @media (max-width: 500px) {
                order: -1;
                width: 100%;
            }
        } 

        .services-content-text {
            @media (max-width: 500px) {
                padding: 0;
            }
        }
    }
}

//specific to services page
footer.services-footer {
    @media (max-width: 500px) {
        margin-top: 15px;
    }
}