html,
body {
  height: 100%;
  font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0 auto;
}

a,
p,
address,
footer,
ul,
li,
section,
nav,
header {
  font-size: 1.6rem;
}

.container {
  display: grid;
  grid-template-rows: 8rem 70vh repeat(9, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}
