.home {
  .container {
    max-width: 880px;
  }
  .top-section {
    margin-top: 5rem;

    .row {
      margin-bottom: 10rem;
    }

    .text-content {
      margin-top: 5rem;
      &__heading {
        margin-bottom: 2rem;
      }
      &__paragraph {
        margin-bottom: 2.5rem;
      }
    }
  }
}
