body {
  font-size: 1.6rem;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: $font-regular;
  color: $color-black;
  line-height: 2.4rem;
}

.heading-primary {
  font-size: 6.4rem;
  line-height: 7.5rem;
  font-weight: $font-bold;
  color: $color-white;
}
