body {
  font-size: 1.6rem;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: $font-regular;
  color: $color-black;
  line-height: 2.4rem;
}

h3 {
  font-weight: $font-bold;
  font-size: 2rem;
  line-height: 2.4rem;
}

footer {
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: $color-white;

  h3 {
    font-weight: $font-regular;
  }

  .copyright {
    font-size: 1.2rem;
    text-align: center;
  }
}

.navbar__logo {
  font-weight: $font-bold;
  color: $color-white;
  font-size: 2.4rem;

  &:link {
    text-decoration: none;
    text-transform: uppercase;
  }
}

.heading-primary {
  font-size: 6.4rem;
  line-height: 7.5rem;
  font-weight: $font-bold;
  color: $color-white;
  letter-spacing: 0.2rem;
  text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.4);

  &--services {
    font-size: 6rem;
  }
  @media screen and (max-width: $mobile-width) {
    font-size: 3.6rem;
    line-height: 4.8rem;
  }

  &--dark {
    color: $color-blue-gray;
    text-shadow: none;
  }
}

.text-content {
  &__heading {
    font-weight: $font-bold;
    font-size: 2.4rem;
  }
}

.display__title {
  font-size: 2.4rem;
  letter-spacing: 0.8rem;
  text-align: center;
}

.projects {
  font-size: 1.8rem;
}

.form {
  &__input {
    font-size: 1.6rem;
    &::placeholder {
      color: #888;
    }
  }
  &__small-text {
    font-size: 1.3rem;
    color: #888;
  }
}

.tabs {
  &__links {
    font-size: 2rem;
    font-weight: $font-bold;
  }
}

.collapse {
  &__link {
    a {
      color: $color-white;
      text-decoration: none;

      font-weight: $font-bold;
      font-size: 4.8rem;
      line-height: 8.5rem;
    }

    &:hover a {
      color: $color-black;
    }
  }
}

.contacts__contact-info {
  p {
    line-height: 1.8;
  }

  h3 {
    line-height: 2;
  }
}

.project-details {
  &__heading {
    font-size: 4.8rem;
    line-height: 1.2;
    color: transparent;
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-align: center;
  }
}

.about {
  &__lead {
    font-size: 2.4rem;
    line-height: 1.5;
  }

  &__title {
    font-size: 4.8rem;
    font-weight: $font-bold;
    line-height: 2;
    color: $color-white;
    text-shadow: 0.5rem 0.8rem 2rem rgba($color-black, 0.4);
  }
}

.timeline {
  &__title {
    font-size: 3.6rem;
    line-height: 1.5;
    font-weight: $font-bold;
    color: $color-blue-gray;
    text-align: center;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
  }
}
