.img-responsive {
  @include img-repsonsive;
}

.p-left {
  padding-left: 14.5% !important;
}

.flex-prepend {
  order: -1;

  &-sm {
    @media screen and (max-width: $mobile-width) {
      order: -1;
    }
  }
}
