.img-responsive {
  @include img-repsonsive;
}

.flex-prepend {
  order: -1;

  &-sm {
    @media screen and (max-width: $mobile-width) {
      order: -1;
    }
  }
}

.container-sm {
  max-width: 880px;
}

// margin bottom utility classes

@for $i from 1 through 5 {
  .mb-#{$i} {
    margin-bottom: 1rem * $i;
  }
}

// margin top utility classes

@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: 1rem * $i;
  }
}

// padding vertical utility classes

@for $i from 1 through 5 {
  .py-#{$i} {
    padding-top: 1rem * $i;
    padding-bottom: 1rem * $i;
  }
}
