// colors
$color-white: #fff;
$color-black: #222;
$color-gray: #d8d8d8;
$color-dark-gray: #828282;
$color-blue-gray: #8e9aaf;
$color-blue: #5e9fb9;

// breakpoint values
$mobile-sm-width: 320px;
$mobile-width: 576px;
$tablet-width: 768px;

$global-max-width: 1024px;

// font weights
$font-regular: 400;
$font-bold: 700;
