@import 'reset';
@import 'variables';
@import 'mixins';
@import 'typography';
@import 'layout';
@import 'utilities';
@import 'animations';

@import 'components/navbar';
@import 'components/buttons';
@import 'components/tabs';
@import 'components/carousel';
@import 'components/scrollFade';

@import 'pages/home';
@import 'pages/projects';
@import 'pages/about';
