@import '../tab/less/tab.less';
@import '../page/less/page.less';

.tab-pages {
  .tab-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    .active {
      background-color: #5DBCD2;
      color: white;
      // border: 1px solid black;
    }
  }

  .page-container {
    .active {
      display: flex;
    }
  }
}
