.ImgHolder {
    position: relative;
    margin-bottom: 3rem;
}
.ImgHolder img {
    height: 230px;
    margin: 4.4rem;
}

.MobileOnly {
    display: none;
}
.ImgHolderOverlays {
    position: absolute;
    background-color: #D8D8D8;
    height: 9.4rem;
    font-size: 2.6rem;
    letter-spacing: 7px;
    font-weight: 200;
    border: 1px solid white;
    text-align: center;
}
.ImgHolderOverlaysVillas {
    bottom: 0;
    right: 5rem;
    width: 31.2rem;
    padding: 3rem 0;
}
.ImgHolderOverlaysOutskirts {
    bottom: 1rem;
    width: 31.6rem;
    left: 4.4rem;
    padding: 3rem 0;
}
.ImgHolderOverlaysBlocks {
    bottom: 0rem;
    width: 31.6rem;
    right: 5rem;
    padding: 3rem;
}  


@media (max-width: 500px) {
    .ImgHolderOverlaysVillas, .ImgHolderOverlaysOutskirts, .ImgHolderOverlaysBlocks {
        left: 3%;
        bottom: -6rem;
        width: 84vw;
        max-width: 30rem;
    }
}
@media (max-width: 880px) and (min-width: 501px) {
    .ImgHolderOverlaysVillas, .ImgHolderOverlaysBlocks, .ImgHolderOverlaysOutskirts {
        left: 23rem;
    }
}



@media (max-width: 500px) {
    .MobileOnly {
        display: block;
    }
    .DesktopOnly {
        display: none;
    }
    .ImgHolder img {
        margin: 0;
        max-width: 100%;
        height: unset;
        max-height: 230px;
    }
}