section.tabs-section {

    p {
        padding: 2rem 0 4rem 0;
    }

    .tabs {
        width: 100%;

        .tabs-links {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }// close .tabs-links
    }// close .tabs
} // close tabs section