.Container {
    margin: 0 auto;
    max-width: 102rem;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 600;
    margin-top: 7rem;
  }

.ContactMain {
  max-width: 850px;
  margin: 0 auto;
  margin-top: 5.0rem;
  display: flex;
  justify-content: space-between;
}
.ContactMain h2 {
  margin-bottom: 4.2rem;
  font-weight: bold;
  font-size: 2.6rem;
  color: #222222;
}
.GetInTouch {
  width: 48%;
}

.GetInTouch form label {
  font-size: 1.6rem;
  font-weight: 400;
}

.GetInTouch input:not([type="radio"]), textarea, select {
  display: block;
  width: 100%;
  border-radius: 6px;
  margin: 1rem 0;
}

.GetInTouch p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #C0C0C0;
}

.GetInTouch input:not([type="radio"]), select {
  height: 3.8rem;
  border: 1px solid #ccc;
  padding-left: 1rem;
  font-size: 1.6rem;
  background-color: white;
}

.GetInTouch textarea {
  height: 13.5rem;
  border: 1px solid #ccc;
  font-size: 1.6rem;
  background-color: white;
  padding: 1rem;
}
.WhereWeWork address {
  margin-bottom: 5rem;
}

.WhereWeWork address h3 {
  font-weight: bold;
  font-size: 2.6rem;
  color: #222222;
  margin-bottom: 1rem;
}
.WhereWeWork address p {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 24px;
}

@media (max-width: 500px) {
  .ContactMain {
    flex-flow: column;
    align-items: center;
  }
  .GetInTouch {
    width: 95%;
  }
  .WhereWeWork {
    width: 95%;
    margin-top: 6rem;
  }
}

@media (max-width: 880px) and (min-width: 501px) {
  .GetInTouch {
    padding: 0 1rem;
  }
  .WhereWeWork {
    width: 49%;
    text-align: center;
  }
}