/* COLORS */
/* FONTS */
/* MEDIA QUERIES */
.tabComponent {
  display: none;
}
.tabSelected {
  width: 90%;
  margin: 0px auto;
  display: block;
}
@media (min-width: 736px) {
  .tabSelected {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.tabSelected .tabText {
  margin: 10px 0 0 0;
}
@media (min-width: 736px) {
  .tabSelected .tabText {
    width: 48%;
  }
}
.tabSelected .tabText h2 {
  font-size: 24px;
  font-weight: bold;
}
.tabSelected .tabText p {
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0 0 0;
}
.tabSelected .tabText p:last-child {
  margin: 30px 0 30px 0;
}
.tabSelected .tabImg {
  width: 100%;
  height: 280px;
  margin-bottom: 30px;
}
@media (min-width: 736px) {
  .tabSelected .tabImg {
    width: 48%;
    margin: 60px 0 0 0;
  }
}
.tabSelected .preConstruction {
  background-image: url('../../img/services/services-tab-mobile-pre-construction-img.png');
  background-size: cover;
}
@media (min-width: 736px) {
  .tabSelected .preConstruction {
    background-image: url('../../img/services/services-tab-pre-construction-img.png');
  }
}
.tabSelected .construction {
  background-image: url('../../img/services/services-tab-mobile-construction-img.png');
  background-size: cover;
}
@media (min-width: 736px) {
  .tabSelected .construction {
    background-image: url(../../img/services/services-tab-construction-img.png);
  }
}
.tabSelected .designBuild {
  background-image: url('../../img/services/services-tab-mobile-design-build-img.png');
  background-size: cover;
}
@media (min-width: 736px) {
  .tabSelected .designBuild {
    background-image: url(../../img/services/services-tab-design-build-img.png);
  }
}
.tabSelected .sustainability {
  background-image: url('../../img/services/services-tab-mobile-sustainability-img.png');
  background-size: cover;
}
@media (min-width: 736px) {
  .tabSelected .sustainability {
    background-image: url(../../img/services/services-tab-sustainability-img.png);
  }
}
