.services-page {
  max-width: 1024px;
  width: 100%;
  .header-section {
    header {
      h1 {
      }
    }
  }
  .service-top {
    padding-top: 50px;
    width: 84%;
    margin: 0 auto;
  }
  .service-bottom {
    width: 84%;
    margin: 0 auto;
    
  }
}