.container {
    line-height: 24px;
    .intro-para {
        .container-margins();
        margin-bottom: 40px;
    }
    .top-img {
        background-image: url('../img/services/services-jumbotron.png');
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 170px;
        padding-bottom: 30px;
        width: 100%;
        max-width: 1000px;
        margin-bottom: 40px;
        h1 {
            font-weight: bold;
            font-size: 4rem;
            line-height: 4.68rem;
            color: #FFFFFF;
            padding-left: 5%;
        }
    }
    .tabs {
        .flex(space-between,
        center,
        row);
        @media @mobile {
            flex-direction: column;
        }
        .container-margins();
        .tab {
            border: 1px solid #222222;
            width: 25%;
            margin-right: 40px;
            font-weight: bold;
            text-align: center;
            padding: 10px 20px;
            cursor: pointer;
            &:hover {
                color: #FFF;
                background-color: #222222;
            }
            @media @mobile {
                width: 80%;
                margin-right: 2%;
                margin-left: 2%;
                margin-bottom: 15px;
            }
        }
        .selected-tab {
            background-color: #5e9fb9;
            color: #FFF;
        }
        .tab:last-child {
            margin-right: 0px;
            @media @mobile {
                margin-right: 2%;
            }
        }
    }
    .cards {
        .card {
            .container-margins();
            margin-top: 100px;
            display: none;
            margin-bottom: 100px;
            @media @mobile {
                padding-right: 2%;
                padding-left: 2%;
                margin-top: 50px;
            }
            .title {
                .sub-headers();
                margin-bottom: 40px;
            }
            .card-content {
                .flex(space-between,
                flex-start,
                row);
                .text-content {
                    margin-right: 10%;
                    line-height: 28px;
                    @media @mobile {
                        margin-right: 2%;
                        margin-bottom: 40px;
                    }
                }
                @media @mobile {
                    flex-direction: column;
                    align-content: center;
                }
            }
        }
        .selected-card {
            .flex(space-between,
            flex-start,
            column);
        }
    }
}