.services-page {
  max-width: 1024px;
  width: 100%;
  .header-section {
    header {
      h1 {
        padding-top: 50px;
        color: red;
      }
    }
  }
  .service-top {
    padding-top: 50px;
    width: 84%;
    margin: 0 auto;
  }
  .service-bottom {
    width: 84%;
    margin: 0 auto;
    .tabs-links {
      padding-top: 20px;
      .flex(space-between, none, row);
      .tabs-link {
        border: 1px solid @primary-color;
        width: 21.5%;
        text-align: center;
        margin-top: 25px;
        padding: 15px 0;
        font-size: 2rem;
        font-weight: 600;
      }
    }

    .tabs-items {
      .tabs-item {
        padding-top: 50px;
        
        .tabs-item-title {
          font-size: 2.4rem;
          font-weight: 600;
        }

        .tabs-item-description-container {
          .flex(space-between, none, row);
          line-height: 2.4rem;
          .tabs-item-description {
            padding-top: 20px;
            padding-right: 30px;

            p {
              padding-bottom: 55px;
              font-size: 1.6rem;
            }
          }
        }
        
      }
    }
  }
}