.Container {
    margin: 0 auto;
    max-width: 102rem;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 600;
    margin-top: 7rem;
  }
  .ServicesSection {
    max-width: 850px;
    margin: 0 auto;
    margin-top: 6rem;
  }
  .TabsHolder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6rem;
  }

@media (max-width: 500px) {
  .TabsHolder {
    flex-flow: column;
    align-items: center;
  }
}
@media (max-width: 880px) and (min-width: 501px) {
    .TabsHolder {
      flex-flow: column;
      align-items: center;
    }
}