.CTA {
  width: 100%;
  margin: auto;
  margin-top: 3%;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

    .cta-content {
      width: 50%;
      padding: 7% 1% 0% 8%;
    }

    h3 {
      padding-bottom: 21px;
    }

    p {
      font-size: 1.6rem;
      padding-bottom: 28px;
    }

    button {
      background: #FFFFFF;
      font-size: 1.6rem;
      padding: 3% 7%;
      text-align: center;
      cursor: pointer;
    }

    .smith-jones-img {
      padding-top: 5%;
      padding-right: 17%;
    }

    .futuristic-img {
      padding-top: 13%;
      padding-left: 17%;
    }

    .futuristic {
      padding-top: 10%;
      padding-right: 0%;
      padding-left: 1%;
    }

    .mobile-sj-img, .mobile-futuristic-img {
      display: none;
    }

}

@media (max-width: 500px) {
  .home .cta-content {
    width: 100%;
    padding: 2%;

     button {
      width: 100%;
    }

     h3 {
      font-size: 2.2rem;
    }.smith-jones-img, .futuristic-img {
      display: none;
    }

    .mobile-sj-img {
        display: block;
    }

    .mobile-futuristic-img {
      display: block;
    }

      .smith-jones-img, .futuristic-img {
        display: none;
    }

    .mobile-sj-img,.mobile-futuristic-img {
      width: 100%;
        display: block;
    }

  }
  
}