.CTA {
  width: 320px;
  margin: auto;
  margin-top: 30px;
  .ctacontent {
    display: flex;
    flex-direction: column;
    // align-content: center;
    // align-items: center;
  }
  img {
    padding-left: 12px;
    padding-right:12px;
  }
  h3 {
    font-size: 2.5rem;
    color: black;
    padding-top: 25px;
    padding-left: 12px;
    padding-right:12px;
  }
  p {
    padding: 20px 5%;
  }
  button {
    width: 92%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right:12px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    background: white;
    border: 1px solid black;
  }
}