.CTA {
  width: 320px;
  margin: auto;
  border: solid crimson;
  .ctacontent {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  h3 {
    font-size: 2rem;
    color: black;
  }
}