@import './variables.less';

.link {
  // border: 1px solid black;
  display: block;
  font-size: @nav-link-font-size;
  // font-weight: bold;
  text-align: center;
  padding: 16px 0;
  color: white;
  text-decoration: none;
  outline: none;

  &:hover {
    background-color: @nav-link-hover-bg-color;
    color: @nav-link-hover-color;
  }
}
