.margin-80{
    margin-top: 50px;
}

.about-us-block {
    top: 200px;
}
.regular{
    position: relative;
}
.box {
    display: flex; 
    flex-direction: column;
    .h-carousel{
        width: 1000px; 
        text-align: center; 
        margin-top: 50px;
        margin-bottom: 50px; 
        font-size: 28px;
    }
    .p-carousel {
        margin: 50px; 
        
    }
}
.fa-stop-stop{
    position: absolute;
    top: 120px;
    right:47%;
    font-size: 40px; 
    z-index: 1;
    
}
.right-button2 {
    position: absolute;
    right: 26.36718%;
    top:45%;
    font-size: 40px; 
    z-index: 1;
    transform: translate(0, -50%);
}

.left-button2 {
    position: absolute;
    left: 26.36718%;
    top:45%;
    font-size: 40px;
    z-index: 1; 
    transform: translate(0, -50%);
}
.right-button2, .left-button2, .fa-stop-stop{
    .flex(center);
        color: @generalAndBorders;
        background-color: @backgroundOffWhiteText;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center; 
        cursor: pointer;
        &:hover {
            color: @generalAndBorders;
            background-color: @backgroundOffWhiteText;
            border: 2px solid @generalAndBorders;
            cursor: pointer;
        }
}
  

  @media(max-width:450px){
      .margin-80{
           margin-left: 0px;
        }
        .about-us-block{
            top: 300px;
        }
      .img-img {
          width: 275px;
      }
      .left-button2 {
          top:27%;
          left:-5.5%; 
      }
      .right-button2 {
          top: 27%;
          right:-5.5%;
      }
      .fa-stop-stop {
          right: 43%;
      }
  }