.about-us-page {
  max-width: 1000px;
  margin: 0 auto;
  .jumbotron {
    background-image: url("https://images.pexels.com/photos/1081228/pexels-photo-1081228.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    width: 100%;
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    .flex();
    justify-content: flex-start;
    align-items: flex-end;
    .jumbotron-header();
    h1 {
      padding: 40px 5%;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .about-us-intro {
    width: 82.5%;
    margin: 50px auto;
    .flex();
    justify-content: space-around;
    text-align: left;
    .text {
      width: 45%;
      .flex();
      flex-direction: column;
    }
    h2 {
      font-size: 2.4rem;
      font-weight: bold;
      padding: 10px 0;
    }
    p {
      font-size: 1.6rem;
      line-height: 24px;
      padding: 20px 0;
    }
  }
  .testimonials-section {
    width: 82.5%;
    margin: 0 auto 50px;
    .flex();
    flex-direction: column;
    justify-content: space-between;
    .testimonial-content {
      margin: 40px 0;
      .flex();
      justify-content: space-between;
      width: 100%;
      .testimonial-text {
        width: 60%;
      }
      div {
        width: 35%;
        img {
          max-height: 250px;
          width: 100%;
          z-index: 1;
        }
        .about-us-text-box {
          width: 80%;
          border: 1px solid black;
          background: #d8d8d8;
          font-size: 2rem;
          margin-top: 10px;
          text-align: center;
          z-index: 2;
          letter-spacing: 2px;
          padding: 15px 0;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
    .inverse {
      flex-direction: row-reverse;
    }
    h3 {
      font-size: 2rem;
      font-weight: bold;
      padding: 10px 0;
    }
    p {
      font-size: 1.6rem;
      padding: 20px 0;
    }
  }
}
