.about__introduction {
  h2 {
    margin: 50px 8% 0;
  }

  p {
    margin: 25px 8%;
    line-height: 1.5;
  }
}

.team__profiles {
  margin: 0 8%;

  .profile {
    .flex(row, space-between, flex-start, nowrap);
    margin-top: 100px;
    img {
      width: 50%;
    }

    .profile__content {
      .flex(column, space-between, flex-start, nowrap);
      margin: 0 3%;
      width: 50%;

      h2 {
        margin-bottom: 25px;
      }

      p {
        line-height: 1.5;
      }
    }
  }

  .jordan {
    .flex(row-reverse, space-between, flex-start, nowrap);

    .profile__content {
      margin: 0 3% 0 0;
    }
  }

  .christopher {
    p {
      margin-bottom: 25px;
    }
  }
}
