.about-h1 {
  padding-top: 157px;
  @media @tablet {
    padding-top: 120px;
  }
}

.about {
  margin-top: 20px;
  @media @mobile {
    margin-top: 30px;
  }
  
  .top-content {
    // padding-top: 40px;
    // border-top: 2px solid @mine-shaft;
    padding-bottom: 30px;
    // border-bottom: 2px solid @mine-shaft;

    h2 {
      margin-bottom: 18px;
    }
    p {
      font-size: 18px;
      line-height: 26px;
      margin: 10px 0;
    }    
  }
}

.team {
  padding: 45px 0 75px;
  max-width: 880px;
  margin: 0 auto;
  background: rgb(218, 218, 218);
  margin-bottom: 60px;
  
  h2 {
    text-align: center;
    font-size: 44px;
    color: #3b3b3b;
  }
  .team-container {
    display: flex;
    justify-content: space-around;
    @media @tablet {
      flex-wrap: wrap;
    }

    .employee {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 45px;
      @media @tablet {
        width: 50%;
        margin-bottom: 25px;
      }
      @media @mobile {
        width: 100%;
      }

      h2 {
        font-size: 26px;
        color: #3b3b3b;
      }
      h3 {
        margin: 12px 0 20px;
        color: #585858;
      }
      img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
      }
    }
  }
}