.about-page {
  .jumbotron {
    background: url('../img/about/about-jumbotron.png');
    height: 250px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    @media @phone {
      background: url('../img/about/about-mobile-jumbotron.png');
      height: 260px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

    &__heading {
      font-weight: 700;
      font-size: 6.4rem;
      line-height: 7.5rem;
      color: @color-white;
      padding-bottom: 3.5rem;

      @media @tablet {
        width: 90%;
        margin: auto;
        font-size: 4.8rem;
        padding-bottom: 1rem;
      }

      @media @phone {
        padding-bottom: 0;
        font-size: 3.6rem;
        width: 90%;
        margin: auto;
      }
    }
  }
  .intro {
    margin: 5rem 0;
    @media @tablet {
      width: 90%;
      margin: 3rem auto 5rem;
    }
  }

  &__heading {
    .sub-heading(2.8rem);
    margin-bottom: 3rem;
  }
}
