.home {
  @media @tablet {
	max-width: 800px;
  }
  @media @phone {
	max-width: 400px;
  }
  .aboutus-main-img {
	padding-top: 50px;
	position: relative;
	.desktop {
	  width: 100%;
	  height: auto;
	  @media @phone {
		display: none;
	  }
	}
	.mobile {
	  display: none;
	  @media @phone {
		display: block;
		width: 100%;
		max-width: 400px;
		height: auto;
	  }
	}
	h1 {
	  .head-text()
	}
  }
  .aboutus {
	display: flex;
	flex-direction: column;
	padding: 6% 8%;
	@media @phone {
	  padding: 5% 5%;
	}
	h1 {
	  margin-bottom: 5%;
	}
  }
  .team {
	display: flex;
	flex-direction: column;
	padding: 6% 8%;
	@media @phone {
	  padding: 5% 5%;
	}
	.team-members {
	  display: flex;
	  flex-direction: column;
	  .team-member {
		display: flex;
		margin: 6% 0%;
		align-items: center;
		@media @phone {
		  flex-direction: column;
		}
		.member-pic {
		  border-radius: 150px;
		  width: 100%;
		  @media @phone {
			width: 80%;
		  }
		}
		.member-info {
		  padding: 0% 5%;
		  @media @phone {
			padding: 5% 0%;
		  }
		  h3 {
			margin-left: 5%;
			margin-bottom: 5%;
		  }
		}
	  }
	  .team-member-rev{
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		@media @phone {
		  flex-direction: column;
		}
		.member-pic {
		  border-radius: 150px;
		  width: 100%;
		  @media @phone {
			width: 80%;
		  }
		}
		.member-info {
		  padding: 0% 5%;
		  @media @phone {
			padding: 5% 0%;
		  }
		  h3 {
			margin-left: 5%;
			margin-bottom: 5%;
		  }
		}
	  }
	}
  }
}