.margin-80{
    margin-top: 50px;
}

.about-us-block {
    top: 200px;
}


  .carousel{
      border: 1px solid red;  
  }
  .regular {
      display: flex;
      flex-wrap: wrap; 
      flex-direction: row;
      height: auto;
  }
  .h-carousel {
      border: 1px solid green;
      width: 300px;
      top: 0;
  }
  .p-carousel {
      border: 1px solid yellow;
      width: 300px;
  }
  .img-img {
      width: 300px; 
  }

//   @media(max-width:450px){
//       .margin-80{
//            margin-left: 0px;
//         }
//         .jumbo-col .projects-block{
//             top: 50px;
//         }
//       .img-img {
//           width: 275px;
//       }
//   }