.about-us-container {
  .intro {
    margin-top: 50px;
    height: 200px;
    background-color: white;
    background-image: url(../img/services/services-jumbotron.png);
    .background-center();
    background-position: bottom;

    h1 {
      padding-top: 10rem;
      padding-left: 8rem;
      color: white;
      font-size: 6.4rem;
      font-weight: bold;

      @media @tablet {
        padding-left: 3.9rem;
      }
    }
  }
}

.about-us-content {
  width: 83%;
  max-width: 900px;
  margin: 0 auto;

  .description {
    p {
      margin: 50px 0;
    }
  }

  .faqs {
    margin-bottom: 7rem;

    h2 {
        margin-bottom: 3rem;
    }

    .faq {
      margin: 3rem 5%;
      padding: 20px 25px;
      border: 1px solid @mine-shaft;
      border-radius: 1rem;
      background-color: white;
      // box-shadow: 1px 1px 2px 3px #ccc;
      position: relative;
      height: 8rem;
      overflow: hidden;
      box-shadow: 2px 2px 2px 2px @gray;

      h3 {
        // font-size: 28px;
        // padding: 0;
        margin: 1rem 0 1.5rem;
      }

      p {
        margin-bottom: 1rem;
      }

      .expand-button {
        position: absolute;
        bottom: 0;
        left: 50%;
        font-size: 1.5rem;
        //         color: grey;
        cursor: pointer;
        transform: translate(-50%, -50%);
        //         background-color: white;
      }
    }

    .expand {
        height: 100%;
    }
  }
}

