//about-page.less




.about-jumbo {
    position: relative;

    .about-jumbo-text {
        position: absolute;
        bottom: 8px;
        left: 16px;
        padding-left: 30px;
        @media @phone {
            padding-left: 10px;
        }
    }
    .about-jumbo-photo {
        display: block;
        width: 100%;
        max-width: 800px;
        padding-top: 15px;
        @media @phone {
            display: none;
        }
    }
}//.about-jumbo

//tabs
// need to add MIXINS & about.js
.tabs {
    // .border-bottom-grey();
    // .flex(center, center);
    // .width-100();
    border: 1px solid red;
    max-width: 800px;
    width: 100%;
    height: 200px;
    background-color: @white;
    margin-top: 50px;
    margin-bottom: 50px;

  
    .topics {
    //   .flex(none, center);
      display: flex;
      flex-direction: column;
      border: 1px solid blue;

      .title {
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: bold;
      }//.title
      .tab {
        // .flex(none, center);
        color: @white;
        background-color: @navcolor;
        margin: 0 5px;
        padding: 2px 10px;
        font-size: 12px;
        letter-spacing: 2px;
        cursor: pointer;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }//.tab
      .active-tab {
        background-color: @white;
        color: @navcolor;
        border: 2px solid @footercolor;
      }//.active-tab
    }//.topics
}//.tabs

.about-main-content {
  border: 1px solid orange;

  .cards-container {
    border: 1px solid blue;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: whitesmoke;

    .card {
      border: 1px solid pink;
      background-color: @white;
      box-shadow: 5px 5px 5px gray;
      width: 30%;
      height: 200px;
      margin-top: 20px;
      .headline {
        font-size: 20px;
        font-family: Didot, serif;
        padding-left: 10px;
        padding-top: 10px;
      }
      .author {
        .img-container {
          padding-right: 10px;
          border-right: 1px solid aqua;
          height: 150px;
        }
        img {
          width: 100px;
          padding-left: 10px;
          padding-top: 10px;
        }
      }
      span {
        padding-left: 20px;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: bold;
      }   
    }
  }//.cards-container
}//.about-main-content