.margin-80{
    margin-top: 50px;
}

.about-us-block {
    top: 200px;
}
.regular{
    position: relative;
}
.box {
    display: flex; 
    flex-direction: column;
    .h-carousel{
        border: 1px solid black;
        width: 1000px; 
        text-align: center; 
        margin-top: 50px;
        margin-bottom: 50px; 
    }
    .p-carousel {
        margin-top: 50px; 
        margin-bottom: 50px; 
    }
}
.stop-button {
    position: relative;
    top: 100px;
}
  

//   @media(max-width:450px){
//       .margin-80{
//            margin-left: 0px;
//         }
//         .jumbo-col .projects-block{
//             top: 50px;
//         }
//       .img-img {
//           width: 275px;
//       }
//   }