.jumbotron-about {
  width: 100%;
  max-width: 1024px;
  height: 250px;
  margin: 0 auto;
  background: url("../img/about/about_jumbotron.jpg");

  .container {
    height: 100%;
  }

  
  h1 {
    .jumbotron-text;
    position: absolute;
    top: 155px;
  }
}

.top-content-about {

  .heading-and-subtitle {
    h2 {
      .sub-heading;
      text-align: center;
      padding-top: 40px;
    }

    p {
      font-size: 1.8rem;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 40px;
    }
  }
}
