.about {
  .about-content {
    .flex();
    .center();
    // border: 2px solid #222222;
    // border-bottom: 10px solid #222222;

    .top-text {
      width: 60%;
      margin: 20px 0 30px;
    }

    .tabs {
      .flex();
      .center();

      .tab-links {
        .flex();
        .center();
        width: 80%;

        .tab-link {
          margin: 10px 20px;
          position: relative;

          img {
            max-width: 150px;
            cursor: pointer;
            border-radius: 5px;
            filter: grayscale(1);

            &:hover {
              transition: 1000ms;
              filter: grayscale(0);
            }
          }

          .name {
            position: absolute;
            bottom: 10px;
            left: 3%;
            font-size: 2rem;
            font-weight: bold;
            color: #fff;
            -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            opacity: 0;
            z-index: -1;
          }
          .toggle {
            opacity: 1;
          }
        }
        .tab-link-selected {
          color: black;

          img {
            transition: 1000ms;
            filter: grayscale(0);
          }

          .name {
            opacity: 1;
            z-index: 0;
          }
        }
      }
    }

    .tab-contents {
      .flex();
      .center();

      .tab-container {
        .flex();
        .center();

        // padding: 5px;
        width: 80%;

        .tab-content {
          display: none;

          .tab-content-text {
            h2 {
              font-size: 2rem;
              font-weight: bold;
              margin-bottom: 20px;
            }
          }
        }

        .tab-content-selected {
          .flex();
          .center();
          justify-content: space-evenly;
          padding: 21px 0px 53px 5px;

          @media @phone {
            padding: 21px 0 0 5px;
          }
        }
      }
    }

    .staff {
      .staff-img-and-name {
        position: relative;
        margin: 10px 5%;

        img {
          max-width: 150px;
          border-radius: 15px;
          filter: grayscale(1);

          &:hover {
            transition: 500ms;
            filter: grayscale(0);
          }
        }

        .name {
          position: absolute;
          bottom: 10px;
          left: 3%;
          font-size: 2rem;
          font-weight: bold;
          color: #fff;
          -webkit-text-fill-color: #fff; /* Will override color (regardless of order) */
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
          opacity: 0;
        }
        .toggle {
          opacity: 1;
        }
      }
    }
  }
}
