.jumbo{
    position: relative;

    .jumbotron{
        height: 600px;
        width: 100%;
    }

    .jumbo-text{
        position: absolute;
        bottom: 8%;
        left: 8%;
        color: #FFFFFF;
        font-weight: bold;
        
        h1{
            font-size: 6rem;
        }
    }
}

.aboutus-content{
    display: flex;
    justify-content: space-between;
    padding: 3%;

    @media @tablet {
        margin-left: 10%; 
    }

    .mission{
        width: 50%;

        h1{
            margin-bottom: 5%;
        }
    }

    .team{
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-right: 15%;

        ul li{
            margin: 8% 0;

            a{
                font-size: 2rem;
                text-decoration: none;
                color: #222222;

                &:hover{
                    color: #5E9FB9;
                }
            }
        }
    }
}

#footer{
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 6%;

    .copyright{
        bottom: 0;
    }
    
    

}