.archText{
    display:flex;
    flex-direction: column;
    .archText-img{
        width:100%;
        background-image: url('../img/home/home-mobile-img-1.png');
        background-size:cover;
        background-position: center;
        height:347px;
        margin-top:30px;
    }    
    .archText-text{
        margin-top:30px;
        text-align: center;


        .archText-header{
            font-size: 2.2rem;
        }
        .archText-para{
            text-align: center;
            margin-top:30px;
            line-height: 2rem;
            font-size: 1.6rem;
            margin-bottom:30px;
        }
    }
    .archText-btn{
        border:1px solid gray;
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            font-size:1.6rem;
            padding-top:15px;
            padding-bottom:15px;
        }
    }

}