.banner {
    background-image: url("home-jumbotron");
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    flex-direction: column;
    .menuBar {
      background-color: #828282;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
        h1 {
          font-family: Roboto, Arial, sans-serif;
          font-weight: bold;
          font-size: 24px;
          color: #FFFFFF;
          padding-left: 8%;
          padding-top: 12px;
          padding-bottom: 12px;
        }
        .menu {
          display: none;
          position: fixed;
          top: 75px;
          left: 0;
          width: 350px;
          height: 100vh; /* This give the height 100% of the        screen or, '100% of View Height' */
          background-color: #81C784;
          border: 1px solid #004D40;
          border-left: none;
          border-bottom: none;
          z-index: 2; /* This set the layer level of the element,         it has precendence over initial level of 1*/
          .menu ul li{
            list-style-type: none;
            font-size: 32px;
            padding: 30px 0;
            text-align: center;
          }
          .menu--open {
            display: block;
         }
        }

        
        .menu-button {
          margin-right: 6%;
          margin-top:14px;
          height: 60%;
        }
      } 
    h2 {
      font-family: Roboto, Arial, sans-serif;
      font-weight: bold;
      font-size: 64px;
      line-height: 75px;
      color: #FFFFFF;
      margin: 280px 0px 16px 8%;
    }
}
  



//// Services Page

.servicesBanner {
  background-image: url("./img/home/services-jumbotron.png");
  background-repeat: no-repeat;
  background-position: top center;
  height: 600px;
  display: flex;
  flex-direction: column;
  @media (max-width: 450px) {
    background-image: url("./img/home/services-mobile-jumbotron.png");
    background-size: 320px 256px;
    background-position: 49% 11%;
    height: 290px;
  }
  .menuBar {
    background-color: #828282;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .menuItemContainer {
        width: 80%;
        display: flex;
        justify-content: space-between;
        @media (max-width: 450px) {
          width: 83%;
        }
        h1 {
          font-family: Roboto, Arial, sans-serif;
          font-weight: bold;
          font-size: 24px;
          color: #FFFFFF;
          padding-left: 8%;
          padding-top: 12px;
          padding-bottom: 12px;
        }
        .menu {
          display: none
        }
        .menu-button {
          margin-top: 15px;
          margin-right: 8%;
          height: 45%;
        }
    } 
  } 
    h2 {
    font-family: Roboto, Arial,sans-serif;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    margin: 280px 0px 30px 16%;
    @media (max-width: 450px) {
      font-size: 36px;
      line-height: 42px;
      margin: 60px 0px 30px 16%;
    }
  }
}  