.home {
  .banner {
    background: url("../img/home/home-jumbotron.png") no-repeat center center
      fixed;
    // @media @mobile {
    //   background: url("../img/home/home-mobile-jumbotron.png") no-repeat center
    //     center;
    // }
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 545px;
    background-repeat: no-repeat, repeat;
    background-position: center; /* Center the image */
    display: flex;
    align-items: flex-end;
    font-size: @jumbo-font-size;
    font-weight: @jumbo-font-weight;
    line-height: @jumbo-line-height;
    color: @jumbo-color;
    h2 {
      margin-left: 82px;
      margin-bottom: 47px;
      @media @mobile {
        margin-left: 35px;
      }
    }
  }
}
