* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  background-color: @white;
  body {
    box-sizing: border-box;
  }
  .container {
    margin: auto;
    background-color: white;
    max-width: 1024px;
    .mobile-images {
      display: none;
    }
    @media (max-width: 400px) {
      width: 100%;
      .mobile-images {
        display: block;
        width: 100%;
      }
    }
  }
}
