
.body-home {
  width: 100%;
  max-width: 860px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;

  @media @mobile {
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .top-section {

    h2 {
      font-size: 2.3rem;
      font-weight: Bold;
      color: @primary-dark;
    }

    p {
      font-size: 1.6rem;
      line-height: 24px;
    }

    .top-section__sandj {
      .flex(space-between, center);

      @media @mobile {
        flex-direction: column-reverse;
      }

      .top-section__sandj--content {
        margin-right: 20px;

        @media @mobile {
          margin: 5px 10px;
        }

        h2 {
          margin: 20px 0 0;
        }

        p {
          margin-top: 25px;
        }

        button {
          margin-top: 25px;
          .button();

          @media @mobile {
            width: 100%;
          }

          &:hover {
            .button-hover();
          }
        }
      } // Top SandJ Content

      .top-section__sandj--img-container {
        
        .top-section__sandj--img-mobile {
          display: none;

          @media @mobile {
            display: block;
          }
        }

        .top-section__sandj--img {
          @media @mobile {
            display: none;
          }
        }
      } // Top SandJ img
    } // Top SandJ

    .top-section__futuristic {
      .flex(space-between, center);
      flex-direction: row-reverse;
      margin-top: 100px;

      @media @mobile {
        flex-direction: column-reverse;
        margin-top: 35px;
      }

      .top-section__futuristic--content {
        margin-left: 30px;

        @media @mobile {
          margin: 30px 10px;
        }

        h2 {
          margin: 0 0 20px;
        }

        p {
          margin-top: 15px;
        }

        button {
          margin-top: 28px;
          .button();

          @media @mobile {
            width: 100%;
          }

          &:hover {
            .button-hover();
          }
        }
      } // Top Futuristic Content

      .top-section__futuristic--img-container {
        
        .top-section__futuristic--img-mobile {
          display: none;

          @media @mobile {
            display: block;
          }
        }

        .top-section__futuristic--img {
          @media @mobile {
            display: none;
          }
        }
      } // Top Futuristic img
    } // Top Futuristic
  } // Top Section

  .bottom-section {
    margin-top: 100px;

    h2 {
      font-size: 2.3rem;
      font-weight: Bold;
      color: @primary-dark;
    }

    p {
      font-size: 1.8rem;
      line-height: 24px;
    }

    @media @mobile {
      margin-top: 25px;
    }

    .bottom-section__villas {
      margin-top: 45px;

      @media @mobile {
        margin-top: 25px;
      }

      .bottom-section__villas--img {
        width: 100%;
        height: 230px;
        background-image: url("../img/home/home-villas-img.png");
        background-size: cover;
        position: relative;

        @media @mobile {
          background-image: url("../img/home/home-mobile-villas-img.png");
          height: 200px;
        }

        .bottom-section__villas--title {
          border: 1px solid @primary-white;
          background-color: @primary-gray;
          padding: 25px 6.5%;
          position: absolute;
          right: 0;
          bottom: -40px;

          @media @mobile {
            right: 5%;
            left: 5%;
            bottom: -80px;
            border: none;
            .flex(center, center);
          }

          h2 {
            font-size: 2.3rem;
            font-weight: normal;
            letter-spacing: 8px;
          }
        } // Bottom Section Villas img title
      } // Bottom Section Villas img

      .bottom-section__villas--content {
        width: 52%;
        margin: auto;
        margin-top: 92px;

        @media @mobile {
          width: 90%;
          margin-top: 105px;
        }

        .bottom-section__villas--content-bottom {
          margin-top: 25px;
        }
      } // Bottom Section Villas Content
    } // Bottom Section Villas

    .bottom-section__outskirts {
      margin-top: 97px;

      @media @mobile {
        margin-top: 48px;
      }

      .bottom-section__outskirts--img {
        width: 100%;
        height: 230px;
        background-image: url("../img/home/home-outskirts-img.png");
        background-size: cover;
        position: relative;

        @media @mobile {
          background-image: url("../img/home/home-mobile-outskirts-img.png");
          height: 200px;
        }

        .bottom-section__outskirts--title {
          border: 1px solid @primary-white;
          background-color: @primary-gray;
          padding: 25px 7.2%;
          position: absolute;
          left: 0;
          bottom: -40px;

          @media @mobile {
            right: 5%;
            left: 5%;
            bottom: -80px;
            border: none;
            .flex(center, center);
          }

          h2 {
            font-size: 2.3rem;
            font-weight: normal;
            letter-spacing: 8px;
          }
        } // Bottom Section Outskirts img title
      } // Bottom Section Outskirts img

      .bottom-section__outskirts--content {
        width: 52%;
        margin: auto;
        margin-top: 92px;

        @media @mobile {
          width: 90%;
          margin-top: 110px;
        }

        .bottom-section__outskirts--content-bottom {
          margin-top: 26px;
        }
      } // Bottom Section Outskirts Content
    } // Bottom Section Outskirts

    .bottom-section__blocks {
      margin-top: 97px;

      @media @mobile {
        margin-top: 45px;
      }

      .bottom-section__blocks--img {
        width: 100%;
        height: 230px;
        background-image: url("../img/home/home-the-blocks-img.png");
        background-size: cover;
        position: relative;

        @media @mobile {
          background-image: url("../img/home/home-mobile-the-blocks-img.png");
          height: 200px;
        }

        .bottom-section__blocks--title {
          border: 1px solid @primary-white;
          background-color: @primary-gray;
          padding: 25px 6%;
          position: absolute;
          right: 0;
          bottom: -45px;

          @media @mobile {
            right: 5%;
            left: 5%;
            bottom: -80px;
            border: none;
            .flex(center, center);
          }

          h2 {
            font-size: 2.3rem;
            font-weight: normal;
            letter-spacing: 8px;
          }
        } // Bottom Section Blocks img title
      } // Bottom Section Blocks img

      .bottom-section__blocks--content {
        width: 52%;
        margin: auto;
        margin-top: 92px;

        @media @mobile {
          width: 90%;
          margin-top: 103px;
        }

        .bottom-section__blocks--content-bottom {
          margin-top: 26px;
        }
      } // Bottom Section Blocks Content
    } // Bottom Section Blocks
  } // Bottom Section
} // Body Home



.body-services {
  max-width: 860px;
  margin: auto;
  
  h2 {
    font-size: 2.3rem;
    font-weight: Bold;
    color: @primary-dark;
  }

  p, .tabs-link {
    font-size: 1.6rem;
    line-height: 25px;
  }

  .info-section {
    margin-top: 54px;
  }


  .tabs-section {
    margin-top: 43px;

    .tabs-links {
      .flex(space-between, center);

      .tabs-link {
        border: solid 1px black;
        font-size: 2.0rem;
        font-weight: Bold;
        color: @primary-dark;
        width: 21.5%;
        .flex(center, center);
        padding: 10px 0;

        &:hover {
          .button-hover();
        }
      }

      .tabs-link--selected {
        .button-hover();
      }
    }

    .tabs-item {
      display: none;
      margin-top: 43px;
      

      .tabs-item__description--top {
        margin-top: 18px;
        margin-right: 20px;
      }

      .tabs-item__description--bottom {
        margin-top: 30px;
        margin-right: 20px;
      }

      .tabs-item__img--container {
        margin-top: 30px;
      }
    }

    .tabs-item--active {
      .flex(space-between, center);
    }
  }
}