.container{
    display:flex;
    // padding: 0 15%;
    flex-flow: column;
    align-items: center;
    h3{
        font-weight:bold;
        font-size: 2.8rem;
        color: @dark-text;
        margin-bottom: 20px;
         }


    .top-content{
        justify-content: center;
        position: relative;
        width: 100%;
        // max-width: 1024px;


        img{
            width: 100%;
            height: auto;
        }
        
        .jumbo-words{
            position: absolute;
            bottom: 2%;
            left: 5%;
            line-height: 7.5rem;
            padding:  5%;
            // font-size: 6.4rem;


            h1{
                font-size: 6.4rem;
                color: @white-text;
                font-weight: bold;
                width:100%;
                
            }
        }
    }//end top content

    .content{
        padding: 0 9%;
        display:flex;
        flex-flow: column wrap;

    

        .small-content{
        display: flex;
        justify-content: space-between;
        max-width:100%;
        flex-direction: column;
        
            .small-boxes{
            width: 100%;
            display:flex;
            margin: 5% 0;
            justify-content:space-between;
            align-items:center;

            .small-text{

                width:39%;
                
               
    
            }
         }
         img{
            width:48%;
            height:auto;
            }
            p{
            margin: 40px 0;
            }




        }//end small content

        .recent-projects{
            display:flex;
            flex-flow: column wrap;
            align-items:center; 

            h3{
                align-self: flex-start;
            }

            .mid-content{
                
            }
            



        }//end recent projects


        button{
        .custom-btn();
        font-size: 1.6rem;
        }
    }//end content
}//end container