.recent-project{
    width:100%;
    align-items: center;

    .recent-letters{
        font-weight:@sub-Font-Weight;
        font-size:@subFont-Size;
        color:@subHeader-Color;
        padding:1%;
        margin-top: 80px;
        margin-bottom: 35px;
    }
  
}

.bottom-img{
    width:100%;
}

.gray-blocks{
    background:@Recent-Projects-Gray-Square;
    font-family:sans-serif;
    padding:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:325px;
    border: 1px solid white;
}

.villas{
   background-size:cover;
    width: 100%;
    height:230px;
    position: relative;
    background-position:center center;
    overflow: hidden;
    margin:auto; 
    z-index:1; 
} 
.the-villas{
    float: right;
    position: relative;;
    bottom:42px;
    right:0px;
    z-index:1;
}

.the-villas2{
    float: left;
    position: relative;;
    bottom:42px;
    left:0px;
    // border: 1px solid white;
    z-index:1;
}
.three-middle-paragraphs{
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    align-items: center;
    margin-top:76px;
    margin-bottom:50px;
    // margin:0 auto;
    width:100%;
.center-text{
    width:45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

}