.recentProjects {
  margin-bottom: 40px;
}
.mainContainer{
  position: relative;
  height: auto;
}
.villa {
  width: 100%;
  z-index: -1;
  @media (max-width: 320px) {
    display: none;
  }
}
.villaMobile {
  width: 100%;
  z-index: -1;
  @media (min-width: 320.1px) {
    display: none;
  }
}
.villaText {
  font-family: Arial;
  font-size: 2rem;
  letter-spacing: 4px;
  border: 1px solid #FFFFFF;
  padding: 35px 70px;
  background: #D8D8D8;
  position: absolute;
  top: 190px;
  right: 0;
  @media (max-width: 320px){
    padding: 25px 25px;
    top: 150px;
    right: 23px;
  }
}
.textUnderVilla {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0 auto;
  font-size: 1.4rem;
}
.outskirts {
  z-index: -1;
  width: 100%;
  @media (max-width: 320px) {
    display: none;
  }
}
.outskirtsMobile {
  width: 100%;
  z-index: -1;
  @media (min-width: 320.1px) {
    display: none;
  }
}
.outskirtsText {
  font-family: Arial;
  font-size: 2rem;
  letter-spacing: 4px;
  border: 1px solid #FFFFFF;
  padding: 35px 70px;
  background: #D8D8D8;
  position: absolute;
  top: 190px;
  left: 0;
  @media (max-width: 320px){
    padding: 25px 25px;
    top: 150px;
    left: 35px;
  }
}
.textUnderOutskirts{
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0 auto;
  font-size: 1.4rem;
}
.blocks{
  z-index: -1;
  width: 100%;
  @media (max-width: 320px) {
    display: none;
  }
}
.blocksMobile {
  width: 100%;
  z-index: -1;
  @media (min-width: 320.1px) {
    display: none;
  }
}
.blocksText {
  font-family: Arial;
  font-size: 2rem;
  letter-spacing: 4px;
  border: 1px solid #FFFFFF;
  padding: 35px 70px;
  background: #D8D8D8;
  position: absolute;
  top: 190px;
  right: 0;
  @media (max-width: 320px){
    padding: 25px 25px;
    top: 150px;
    right: 23px;
  }
}
.textUnderBlocks{
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 0 auto;
  font-size: 1.4rem;
}
