.recent-project{
    width:100%;

    .recent-letters{
        font-weight:@sub-Font-Weight;
        font-size:@subFont-Size;
        color:@subHeader-Color;
        padding:1%;
    }
  
}

.bottom-img{
    width:100%;
}

.gray-blocks{
    background:@Recent-Projects-Gray-Square;
    font-family:sans-serif;
    padding:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:225px;
}