.home .bottom-content {  
    padding-bottom: 10%;
    padding-top: 10%;

    @media @phone {
      margin: 0 -8%;
    }
  
    h1 {
      .sub-header();
      
      

      @media @phone {
        padding-left: 7%;
      }
    }
    
    .location-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; 
      padding-top: 10%; 
          
  
  
      .overlay-1 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 34vh;      
        background-image: url('../img/home/home-villas-img.png');
        background-repeat: no-repeat;    
        background-position: center;
        background-size: cover;
        margin-bottom: 5%;  
        
        @media @phone {
          justify-content: center;
          margin-bottom: 20%;
        }
  
        h1 {
          background-color: @project-gray;          
          z-index: 2;
          border: 1px solid @project-gray;
          padding: 40px 60px; 
          margin-top: 20%;                
          font-weight: normal;
          letter-spacing: 10px;  
          
          @media @phone {
            margin-top: 60%;
          }
        } // h1
      } // .overlay
    } // .location-box-1
  } // .bottom-cont
  
  .location-box p { 
    margin: 0 15%;      
  }

  
  .bottom-content .location-box .overlay-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 34vh;      
    background-image: url('../img/home/home-outskirts-img.png');
    background-repeat: no-repeat;    
    background-position: center;
    background-size: cover;
    margin-bottom: 5%;

    @media @phone {
      justify-content: center;
      margin-bottom: 20%;
    }
  
    h1 {
      background-color: @project-gray;
      z-index: 2;
      border: 1px solid @project-gray;
      padding: 40px 60px; 
      margin-top: 20%; 
      font-weight: normal; 
      letter-spacing: 10px; 
      
      @media @phone {
        margin-top: 60%;
      }
    } // h1
  } // .overlay-2
  
  .bottom-content .location-box .overlay-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 34vh;      
    background-image: url('../img/home/home-the-blocks-img.png');
    background-repeat: no-repeat;    
    background-position: center;
    background-size: cover;
    margin-bottom: 5%;

    @media @phone {
      justify-content: center;
      margin-bottom: 20%;
    }
  
    h1 {
      background-color: @project-gray;
      z-index: 2;
      border: 1px solid @project-gray;
      padding: 40px 60px; 
      margin-top: 20%; 
      font-weight: normal;
      letter-spacing: 10px; 

      @media @phone {
        margin-top: 60%;
      }
    } // h1
  } // .overlay-3