.bottom-container {
    max-width: 100%;
    margin: 0 auto;

    .bottom-content {
        background: #828282;
        color: white;
        font-family: sans-serif;
        padding: 60px 65px 30px;
        font-weight: lighter;
        letter-spacing: .5px;
        margin: 0;
        display: flex;
        justify-content: space-evenly;

        .bottom-form .bottom-text {
            font-size: 12px;
        }

        .my-column {
            font-weight: lighter;
            line-height: 2;
        }

        li {
            font-size: 12px;
        }
    }

    .footer {
        Background: #828282;
        color: white;
        font-size: 12px;
        font-weight: lighter;
        letter-spacing: .5px;
        padding-bottom: 10px;
        margin: 0;
        .center;
    }
}

@media (max-width: 600px) {
    .bottom-container {
        .bottom-content {
            padding: 20px 15px;
    
            .bottom-form .bottom-text {
                font-size: 12px;
                font-weight: lighter;
                padding: 10px 0 0;
                letter-spacing: .5px;
            }
    
            .my-column {
                padding: 10px 15px;
            }
        }
    
        .footer {
            padding: 0 30px 20px;
            display: flex;
            justify-content: flex-start;
        }
    }
}