.home .bottom-content {  
    padding-bottom: 10%;
    padding-top: 10%;

    @media @phone {
      margin: 0 -8%;
    }
  
    h1 {
      .sub-header();
      
      

      @media @phone {
        padding-left: 7%;
      }
    }
    
    .location-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start; 
      padding-top: 10%; 
          
  
  
      .overlay-1 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 34vh;      
        background-image: url('../img/home/home-villas-img.png');
        background-repeat: no-repeat;    
        background-position: center;
        background-size: cover;
        margin-bottom: 5%;  
        
        @media @phone {
          justify-content: center;
          margin-bottom: 20%;
        }

        @media @desktop1100 {
          margin-bottom: 8%;
        }

        @media @tablet {
          margin-bottom: 15%;
        }
  
        h1 {
          background-color: @project-gray;                    
          border: 1px solid @project-gray;
          padding: 40px 60px; 
          margin-top: 20%;                
          font-weight: normal;
          letter-spacing: 10px;  
          
          @media @phone {
            margin-top: 60%;
          }

          @media @desktop1200 {
            margin-top: 22%;
          }

          @media @desktop1100 {
            margin-top: 25%;
          }

          @media @tablet {
            margin-top: 36%
          }
        } // h1
      } // .overlay
    } // .location-box-1
  } // .bottom-cont
  
  .location-box p { 
    margin: 0 15%;      
  }

  
  .bottom-content .location-box .overlay-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 34vh;      
    background-image: url('../img/home/home-outskirts-img.png');
    background-repeat: no-repeat;    
    background-position: center;
    background-size: cover;
    margin-bottom: 5%;

    @media @phone {
      justify-content: center;
      margin-bottom: 20%;
    }

    @media @desktop1100 {
      margin-bottom: 8%;
    }

    @media @tablet {
      margin-bottom: 15%;
    }
  
    h1 {
      background-color: @project-gray;      
      border: 1px solid @project-gray;
      padding: 40px 60px; 
      margin-top: 20%; 
      font-weight: normal; 
      letter-spacing: 10px; 
      
      @media @phone {
        margin-top: 60%;
      }
      @media @desktop1200 {
        margin-top: 22%;
      }

      @media @desktop1100 {
        margin-top: 25%;
      }

      @media @tablet {
        margin-top: 36%
      }
    } // h1
  } // .overlay-2
  
  .bottom-content .location-box .overlay-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 34vh;      
    background-image: url('../img/home/home-the-blocks-img.png');
    background-repeat: no-repeat;    
    background-position: center;
    background-size: cover;
    margin-bottom: 5%;

    @media @phone {
      justify-content: center;
      margin-bottom: 20%;
    }  
    
    @media @desktop1100 {
      margin-bottom: 8%;
    }

    @media @tablet {
      margin-bottom: 15%;
    }
  
    h1 {
      background-color: @project-gray;      
      border: 1px solid @project-gray;
      padding: 40px 60px; 
      margin-top: 20%; 
      font-weight: normal;
      letter-spacing: 10px; 

      @media @phone {
        margin-top: 60%;
      }

      @media @desktop1200 {
        margin-top: 22%;
      }

      @media @desktop1100 {
        margin-top: 25%;
      }

      @media @tablet {
        margin-top: 36%
      }
    } // h1
  } // .overlay-3













  // Services Styling
.construction-content {
  height: 90vh;
}
  .tabs {
    padding-top: 2%;
    width: 100%;

    .tabs-items {
      height: 40vh;
      width: 100%;
      .tabs-item {
        display: none;
      }

      .tabs-item-selected {
        display: block;
      }

      h1 {
        .sub-header();
      }
    } // tabs items

    .tabs-item-title {

      h1 {
        padding-bottom: 2%
      }
    } // item title

    .tabs-item-description {

      .flex-two-column {
        display: flex;

        .flex-column-one {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        } // column one

        .flex-column-two {
          padding-left: 4%;
        }
      } // two column
    } // item description
  } // tabs

  .tabs .tabs-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    padding-bottom: 10%;

    .tabs-link {
      border: 1.2px solid @button-border;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 20px 30px;
    }

    .tabs-link:hover {
      color: @white;
      background-color: @tab-select-background;
    }

    .tabs-link-selected {      
      color: @white;
      background-color: @tab-select-background;
    }
  }