.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #222222;;
  height: 3rem;
  width: 10rem;
  margin-top: 20px;

  &__txt {
    font-size: 20px;
    color: #222222;
  }
}