.caption__serviceContainer {
  margin-top: 5rem;
  height: 20rem;
  background-image: url(../img/services/services-jumbotron.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  //   background-position: top;
  color: #fff;
  text-align: center;

  @media (max-width: 600px) {
    height: 30rem;
    background-position: bottom;
    background-image: url(../img/services/services-mobile-jumbotron.png);
  }


  &--text {
    position: relative;
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 7.5rem;
    color: #ffffff;
    bottom: -10rem;
    width: 0rem;
    left: 6rem;

    @media (max-width: 600px) {
      font-size: 4rem;
      top: 22rem;
      width: 0rem;
      left: 6rem;
      line-height: 5rem;
    }
  }
}
