.caption__container {
  height: 550px;
  background-image: url(../img/home/home-jumbotron.png);
  background-position: top;
  color: #fff;
  text-align: center;
  background-position: bottom;

  &--text {
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 7.5rem;
    color: #ffffff;
    width: 400px;
    text-align: left;
    padding-top: 27.5rem;
    padding-left: 8.3rem;
  }
}
