.caption__contactContainer {
    margin-top: 5rem;
    height: 20rem;
    background-image: url(../img/contact/contact-jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    //   background-position: top;
    color: #fff;
    text-align: center;
  
    @media (max-width: 600px) {
      height: 30rem;
      background-position: bottom;
      background-image: url(../img/contact/contact-mobile-jumbotron.png);
    }
  
    &--text {
      position: relative;
      font-weight: bold;
      font-size: 6.4rem;
      line-height: 7.5rem;
      color: #ffffff;
      bottom: -10rem;
      width: 32rem;
      left: 6rem;
  
      @media (max-width: 600px) {
        font-size: 4rem;
        top: 22rem;
        width: 20rem;
        left: 6rem;
        line-height: 5rem;
      }
    }
  }