.tab-section {
    display: flex;
    width: 100%;
}

.tab {
    display: flex;
    height: 259px;
    flex-direction: column;
    color: #222222;
}

.tab p {
    display: flex;
    padding: 50px 80px 0 80px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.tabs {
    display: flex;
    width: 50px;
    height: 175px;
    border: 1px double #222222;
    font-size: 16px;
    cursor: pointer;
}

.tabs:hover {
    background: #222222;
    color: #FFFFFF;
}