// buttons for carusel : left/right buttons

.cards-container {

  .left-button, .right-button {
    .layout();
    color: @color;
    background-color: @background;
    font-size: 35px;
    border-radius: 50%;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid @color;
    padding-left : 3px;
    &:hover {
      color: @background;
      background-color: @color;
      border: 2px solid @background;
    }
  }
  .left-button {
    top: 50%; 
    left: 1px;
    //  transform: translate(0, -50%);
    z-index : 2;
  }
  .right-button {
    top: 50%; 
    right: 1px;
    // transform: translate(0, -50%);
    z-index : 2;
  }
}



