.carousel {
  .primer {
    h3 {
      font-size: 2.8rem;
      margin-bottom: 20px;
    }
  }
  .carousel-items {
      width: 85%;
      margin: 0 auto 40px;
    .arrow {
    }
    .carousel-item {
      display: none;
    }
    .current {
      .flex(row, space-between, flex-start);
      width: 97%;
      margin: 0 auto;
      @media @aboutTablet{
        flex-direction: column-reverse;
      }
      .carousel-text {
          margin-top: 30px;
        h3 {
          font-size: 2.8rem;
          margin-bottom: 5px;
          
        }
        h4 {
          font-size: 2.4rem;
          margin: 10px 0;
          font-weight: 400;
        }
        p{
            font-size: 1.4rem;
            padding-right: 10px;
            line-height: 1.6;
        }
      }
      img{
          width: 500px;
          height: auto;
          @media @aboutTablet{
              margin: 0 auto;
              width: 100%;
          }

      }
    }
  }
}
