.carousel {
    height: 300px;
    width: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;

    .left-button, .right-button {
        position: absolute;
        font-size: 40px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        text-align: center;
        top: 45%;
        background-color: @body-bgd-color;
        z-index: 1;
        cursor: pointer;
        &:hover {
            background-color: @nav-bgd;
            color: @body-bgd-color;
        }
    }

    .left-button {
        left: 0;
    }

    .right-button {
        right: 0;

    }

    img {
        height: 300px;
        display: none;
    }

    .current-img {
        display: block;
    }
}
