.recent-projects {
    flex-wrap: wrap;
    padding: 18px;
    .center;
    @media @mobile {
      padding: 18px 0px;
    }
  }
    .rp-title h3 {
        position: relative;
        align-self: flex-start;
        padding: 30px 0px 10px 0px;
        font-size: 1.4rem;
        justify-content: flex-start;
        right: 225%;
      @media @tablet {
          right: 0;
      }
      @media @mobile {
        padding: 30px 0px 20px 26px;
        right: 100px;
      }
    }
    .center-images {
      .center;
      flex-wrap: wrap;
      padding: 4% 0%;
      @media @mobile {
        padding: 0;
        margin: 0;
        width: 100%;
      }
      .title {
        font-size: 1.4rem;
        padding: 35px 50px;
        background-color: #D8D8D8;
        letter-spacing: 12px;
        position: relative;
        left: 29.2%;
        bottom: 40px;
        @media @mobile {
            left: 0;
        }
        @media @mobile {
          left: 0;
          bottom: 15px;
        }
      }
      .img {
        width: 105%;
        position: relative;
        right: 2.5%;
        @media @mobile {
          display: none;
          right: 0;
        }
      }
      .img-mobile {
        display: none;
        @media @mobile {
          display: inline;
          width: 100%;
        }
      }
    }
    .center-text {
      .center;
      width: 40%;
      flex-wrap: wrap;
      line-height: 24px;
      @media @mobile {
        width: 95%;
        margin-top: 4%;
        margin-bottom: 10%;
        padding: 0% 3%;
      }
    }
  
  .outskirts {
    .center;
    flex-wrap: wrap;
    .center-images {
      .img {
        width: 105%;
        position: relative;
        right: 2.5%;
        @media @mobile {
          right: 0;
        }
      }
      .title {
        position: relative;
        left: -28.7%;
        @media @mobile {
          left: 0;
          bottom: 15px;
        }
      }
    }
  }

  .blocks {
    .center;
    flex-wrap: wrap;
    .img {
      width: 105%;
      position: relative;
      right: 2.5%;
    }
    .title {
      position: relative;
      left: 27.34%;
      @media @mobile {
        left: 0;
      }
    }
  }