.coming-soon {
  background-image: url('../img/comingsoon/comming-soon-bg.png');  
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;

  .notice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    hr {
      margin: 50px auto;
      width: 40%;
    }
  }
}