
.jumbotron {
    background-image: url("../img/home/home-jumbotron.png");
    height: 598px;

    .jumbo-text {
        padding-top: 325px;
        padding-left: 85px;

        h1 {
            font-weight: bold;
            font-size: 6.4rem;
            line-height: 7.5rem;
            color: @white;
        }
    }
}

.top-content {
    display: flex;
    margin: 50px 85px 25px;
    color: @off-black;

    .top-c {
        flex-direction: column;

        h1 {
            font-weight: bold;
            font-size: 2.2rem;
        }

        .text {
            padding: 50px 20px 0 0;
        }
    }
}
