.contact-content {
    display:flex;
    width:95%;
    margin: 0 auto;
    height:730px;


    form{
        width:45%;
        margin:0 auto;

        .form-heading{
            font-size:2.4rem;
            font-family:'Roboto';
            margin:11% 0 7% 8%;
        }
        .form-group{
            margin: 10% auto;
            font-family:'Roboto';
            label[name="email"]{
               font-size:1.8rem;
               padding-left:8%;
               padding-top:2%;
            }
            
            input[type="text"]{
                width:94%;
                margin: 0 auto;
                margin-left:8%;
                margin-top: 2%;
                padding:2%;
                border-radius:2px;
            }

            p {
                margin-left:8%;
                font-size:1.3rem;
            }

            label[name="select"]{
                font-size:1.8rem;
                padding-left:8%;
                padding-top:2%;
            }
            select{
                width:94%;
                margin: 0 auto;
                margin-left:8%;
                margin-top: 2%;
                padding:2%;
                border-radius:2px;
            }

            label[name="textarea"]{
                font-size:1.8rem;
                padding-left:8%;
                padding-top:2%;
            }
            textarea{
                width:94%;
                margin: 0 auto;
                margin-left:8%;
                margin-top: 2%;
                padding:12%;
                border-radius:2px;
            }

           .radiogroup{
               padding-left:5.8%;
               margin:2% 0;


            input[type="radio"]{
                width:5%;
                height:15px;
            }
            label[name="radio"]{
                font-size:1.6rem;
            }

           }

           input[type="submit"]{
            margin-left:8%;
            margin-top:2%;
            padding:3% 10.5%;
            background:#ffffff;

       }//form-group
           
            
            }
        }//form
        

        aside{
            width:45%;
            margin:0 auto;


            .aside-heading{
                font-size:2.4rem;
                font-family:'Roboto';
                margin:13% 0 0% 28%;
            }

            .aside-content-heading {
                font-size:2.4rem;
                margin:10% 0 2% 28%;
            }
            .aside-content-paragraph{
                font-size:1.8rem;
                line-height:20px;
                margin-left:28%;
            }
        }



    }

@media(max-width:500px){
    .contact-content{
        flex-direction: column;
        height:1180px;

    form{
        width:100%;
        margin:0 auto;

        .form-group{


            label[name="email"]{
                padding-left:2%;
            }
            input[type="text"]{
                margin-left:2%;
            }
            p{
                margin-left:2%;
            }
            label[name="select"]{
                padding-left:2%;
            }
            select{
                margin-left:2%;
            }
            label[name="textarea"]{
                padding-left:2%;
            }
            textarea{
                margin-left:2%;
            }
            .radiogroup{
                padding-left:0%;
            }
            
            input[type="submit"]{
                margin-left:0%;
                padding:3% 44.5%;
           }
                   
    }
    
  }
}
}   