.intro-contact {
  h1 {
  font-size: 6.4rem;
  font-weight: bold;
  color: @white;
  margin: 18.5rem 0 5rem 8.5rem;
  padding-bottom: 1rem;
  }
}

.contact-content {
  display: flex;
  margin: 1rem 1rem;

  h2 {
    font-size: 2.4rem;
    font-weight: bold;
  }

  form {
    font-size: 1.6rem;

    p {
      font-size: 1.2rem;
    }
  }
}