.main-content {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 50px;

    @media @mobile {
        margin-bottom:31px;
    }

    .mobile-content {
        display: none;
    }

    @media @mobile {
        .desktop-content {
            display: none;
        }
        
        .mobile-content {
            display: initial;
        }
    }

    .jumbotron {
        background-image: url("../img/contact/contact-jumbotron.png");
        background-position: 0 -50px;
        background-repeat: no-repeat;
        height: 250px;
        font-weight: bold;
        font-size: 64px;
        line-height: 75px;
        color: @white;
        margin: auto;

        @media @mobile {
            background-image: url("../img/contact/contact-mobile-jumbotron.png");
            font-size: 35px;
        }
        
        .tagline {
            padding-top: 108px;
            padding-left: 85px;

            @media @mobile {
                padding-top: 128px;
                padding-left: 16px;
            }
        }
    } // .jumbotron

    .content-section {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @media @mobile {
            padding: 0 14px;
            margin-top: -10px;
            flex-direction: column;
        }

        .get-in-touch {
            margin-left: -107px;
            margin-top: -1px;

            @media @mobile {
                width: 100%;
                margin:auto;
            }

            h2 {
                font-weight: bold;
                font-size: 24px;
                color: @soft-black;
                margin-bottom: 45px;

                @media @mobile {
                    margin-bottom: 56px;
                }
            }

            label {
                line-height: 22px;
            }

            p {
                font-size: 13px;
                margin-bottom: 43px;

                @media @mobile {
                    margin-bottom: 32px;
                }
            }

            input[type=text] {
                height: 27px;
                width: 400px;
                padding: 5px 0;
                padding-left: 10px;
                margin-top: 8px;
                border-radius: 5px;
                color: @dark-grey;
                font-size: 16px;
        
                @media @mobile {
                    width: 278px;
                    height: 16px;
                    padding: 10px 5px 10px 4px;
                    margin-top: 2px;
                    margin-bottom: 8px;
                }
            }
            
            select {
                width: 100%;
                margin-top: 8px;
                border-radius: 5px;
                height: 38px;
                padding: 0px 12px;
                font-size: 20px;
                margin-bottom: 43px;
            }

            #buildings {
                @media @mobile {
                    margin-top: 2px;
                    font-size: 16px;
                    padding-left: 7px;
                    margin-bottom: 20px;
                }
            }

            textarea {
                margin-top: 10px;
                width: 406px;
                height: 128px;
                margin-bottom: 26px;

                @media @mobile {
                    margin-top: 15px;
                    width: 283px;
                    margin-bottom: 16px;
                }
            }

            input[type=radio] {
                height: 16px;
                width: 16px;
                margin-left: 1px;
                margin-top: 5px;
            }

            input[type=submit] {
                margin-top: 26px;
                padding: 12px 41px;
                font-size: 16px;

                @media @mobile {
                    width: 291px;
                }
            }
        } // .get-in-touch

        .where-we-work {
            margin-left: -36px;
            margin-top: -63px;
            font-size: 18px;
            line-height: 28px;

            @media @mobile {
                margin-top: 52px;
                margin-left: -110px;
            }

            h2 {
                font-weight: bold;
                font-size: 24px;
                color: @soft-black;
                margin-bottom: 37px;
            }

            address {
                margin-top: 32px;
                line-height: 28px;
            }

            h3 {
                font-weight: bold;
                font-size: 20px;
            }
        } // .where-we-work
    } // .content-section
} // .main-content
