.contact-page {
  .jumbotron {
    background: url('../img/contact/contact-jumbotron.png');
    height: 250px;
    background-size: cover;
    display: flex;
    align-items: flex-end;

    &__heading {
      font-weight: 700;
      font-size: 6.4rem;
      line-height: 7.5rem;
      color: @color-white;
      padding-bottom: 1.5rem;
    }
  }

  .contact-container {
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    @media @phone {
      width: 90%;
      margin: 5rem auto 0;
    }
    .contact {
      width: 47.3%;
      margin-right: 18.7%;
      @media @phone {
        width: 100%;
        margin-right: 0%;
        margin-bottom: 5rem;
      }
    }
    .locations {
      width: 33%;
      @media @phone {
        width: 100%;
      }
    }
  }
  &__heading {
    .sub-heading(2.4rem);
    margin-bottom: 4rem;
  }
}

.location {
  &__heading {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
  }
  &__text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.6rem;
  }
  &__col {
    margin-bottom: 5rem;
  }
}
