.cta-section-contact {
  background-image: url(../img/contact/contact-jumbotron.png);

  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 120rem;
  margin: 0 auto;

  height: @mini-cta-height;
  position: relative;

  .wrapper {
    h1 {
      position: absolute;
      bottom: 2rem;

      color: white;
      font-size: 7rem;

      span {
        display: block;
      }
    }
  }
}

.contact-container {
  display: flex;
  justify-content: space-between;
}
