.container.contact {
  display: flex;
  justify-content: space-between;

  
  .contact-form {
    display: flex;
    flex-direction: column;

    width: 40%;

  }

  .locations {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-right: 10%;


    .location.address {
      margin-bottom: 15%;
      
    }

  }



}