//Contact styles
.contact-form {
  font-size: 1.6rem;

  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  .client-choice {
    margin-left: 10px;
  }

.contact-button {
  width: 100px;
  padding: 15px 20px;
  background-color: white;
  border: 1px solid black;
  text-align: center;
  font-size: 1.6rem;
}
}

.footer-heading {
  font-size: 2rem;
  font-weight: bold;
}

.where-we-work {
  h1 {
    width: 160px;
    font-size: 2rem;
    font-weight: bold;
  }
  p {
    width: 160px;
  }
}
