.intro-contact {
  h1 {
  font-size: 6.4rem;
  font-weight: bold;
  color: @white;
  margin: 18.5rem 0 5rem 8.5rem;
  padding-bottom: 1rem;
  }
}

.contact-content {
  display: flex;
  margin: 8rem 1rem 1rem 8.5rem;
  line-height: 2.4rem;

  h2 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 4rem;
  }

  form {
    font-size: 1.6rem;

    input::placeholder {
      font-size: 1.6rem;
    }

    input[type="email"] {
      width: 41.2rem;
      height: 4rem;
      margin-top: 0.5rem;
    }

    select {
      width: 41.2rem;
      height: 4rem;
      margin-top: 0.5rem;
      background: white;
      font-size: 1.6rem;
      margin-bottom: 3.7rem;
    }

    input[type="text"] {
      width: 41.2rem;
      height: 13.5rem;
      margin-top: 0.5rem;
      margin-bottom: 2.7rem;
    }

    input[type="submit"] {
      margin-top: 2.7rem;
      width: 13.5rem;
      margin-bottom: 7rem;
    }

    p {
      font-size: 1.3rem;
    }
  }
}

.contact-addresses {
  margin-left: 16rem;
  line-height: 2.8rem;
  
  h5 {
    font-size: 2rem;
    font-weight: bold;
  }

  p {
    font-size: 1.8rem;
  }
}

.contact-address {
  margin-bottom: 3.6rem;
}

.disclaimer {
  margin-bottom: 3rem;
}