// =================== CONTACT CONTENT

.contact-container {
    max-width: 865px;
    min-width: 865px;
    margin: 5% 10% 0 10%;
    display: flex;
    justify-content: space-between;
    

    h3 {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 5%;
    }

    .contact-content {
        .center();
        width: 50%;

        .contact-getInTouch-container {
            width: 100%;
            .center(flex, flex-start, flex-start);
            flex-direction: column;

            .forms-container {
                flex-direction: column;
                margin: 3% 0;

                label {
                    width: 400px;
                    font-size: 14px;
                    margin: 0 0 5% 0;
                }

                input {
                    width: 400px;
                    margin: 5px 0;
                    padding: 5px 10px;
                    border-radius: 3px;
                    // .dev();
                }

                select {
                    width: 400px;
                    margin: 5px 0;
                    padding: 5px 10px;
                    border-radius: 3px;
                }
                
                p {
                    font-size: 12px;
                }

                textarea {
                    width: 400px;
                    margin: 3px 0;
                    border-radius: 5px;
                    padding: 5px 10px;
                }
            } // FORMS CONTAINER

            .form-radio-input {
                .center(flex, flex-start, center);
                flex-direction: column;
                width: 100%;
                margin: 10px 0;

                div {
                    width: 100%;
                    margin: 3px 0;
                }
            } // FORM RAIO INPUT

            .submit-btn {
                margin: 20px 0 50px 0;
                width: 100%;
                height: 50px;
                .center(flex, sflex-start, center);

                a {                    
                    text-decoration: none;
                    color: #222222;                    
                    border: 1px solid #222222;
                    padding: 10px 45px;
    
                }
            }            
            
        } // CONTACT GET IN TOUCH CONTENT
    } // CONTACT CONTENT

    .contact-whereWeWork-container {
        width: 50%;
        margin-left: 20%;

        h4 {
            font-weight: bold;
        }

        h3 {
            margin-bottom: 5%;
        }

        .locations {
            width: 100%;
            margin-top: 30px;

            .location {
                flex-direction: column;
                line-height: 1.7;
                margin-bottom: 20px;
            }
        }
    }
} // CONTACT CONTAINER