// Services Styles




    
.contact-us-jumbo-container {
    max-width: 1024px;
    width:100%;
    margin: auto;
    position:relative;
  
      p {
        font-size: 64px;
        font-weight: 700;
        line-height:75px;
        color:#FFFFFF;
        position:absolute;
        // border: 1px solid red;
        display:flex;
        flex-wrap: wrap;
        padding-right:500px;
        padding-top:150px;
        padding-left:78px;
      }
  }

  
.contact-us-container {
    max-width: 880px;
    width:100%;
    margin: auto;
    border:1px solid orange;
    

    .top-content {
        display:flex;
        flex-direction:column;
        margin-bottom: 50px;

        .text-content {
            margin-top:50px;
            margin-bottom:50px;
        }

        .button-tabs {          

            .button-container {
                display:flex;
                justify-content:space-between;
                border: 1px solid green;
                padding-left:30px;

                .button-tab {
                    font-size:20px;
                    font-weight:700;
                    border: 1px solid black;
                    padding:10px 30px 10px 30px;
                }
            }


        }
    }
    
    .bottom-content {
        max-width: 880px;
        width:100%;
        margin: auto;
        display:flex;
        flex-direction: row;

        .text-content {
            border:1px solid blue;

        }

        img {
            border:1px solid green;
        }
    }
  }




