.main-content {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 58px;

    .jumbotron {
        background-image: url("../img/contact/contact-jumbotron.png");
        background-position: 0 -50px;
        background-repeat: no-repeat;
        height: 250px;
        font-weight: bold;
        font-size: 64px;
        line-height: 75px;
        color: @white;
        margin: auto;

        @media @mobile {
            background-image: url("../img/contact/contact-mobile-jumbotron.png");
            font-size: 35px;
        }
        
        .tagline {
            padding-top: 108px;
            padding-left: 85px;

            @media @mobile {
                padding-top: 128px;
                padding-left: 16px;
            }
        }
    } // .jumbotron

    .content-section {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 88px;

        @media @mobile {
            padding: 0 14px;
            margin-top: -10px;
        }

        h2 {
            font-weight: bold;
            font-size: 24px;
            color: @soft-black;
            margin-bottom: 14px;
        }

        input[type=text] {
            height: 27px;
            width: 265px;
            padding: 5px 5px;
            margin-top: 14px;
            border-radius: 5px;
            color: @dark-grey;
            font-size: 16px;
    
            @media @mobile {
                width: 272px;
                padding: 10px 5px 10px 4px;
                margin-bottom: 8px;
            }
        }
        
        select {
            width: 60%;
            padding: 16px 20px;
        }
    } // .content-section
} // .main-content
