.contact-content {
 
  .touch-form {
button{
  background-color: white;
      border: 1px solid;
      color: black;
      padding: 2% 2%;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1rem;
      width: 22%;
}
  }
}
