// Home styles
p {
    width: 100%;
}

img {
    width: 100%;
}

.top-content {
    padding: 30px 0;

    h2 {
        font-weight: bold;
        padding-top: 1rem;
    }

    p {
        padding: 10px 0;
    }

    .top-content1 {
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        padding-bottom: 80px;
    }

    .top-content2 {
        display: flex;
        align-items: center;
        padding-bottom: 80px;
    }

    button {
        background-color: #ffffff;
        font-size: 1.6rem;
        border: 0.1rem solid black;
        height: 4.8rem;
        width: 100%;

        &:hover {
            background: #222222;
            font-size: 1.8rem;
            color: #ffffff;
            cursor: pointer;
        }
    }
}

.middle-content {
    .middle-content-img {
        position: relative;
        padding-top: 1rem;
    }

    .middle-content-headers {
        background: #d8d8d8;
        position: relative;
        left: 3rem;
        bottom: 1rem;
        height: 7rem;
        width: 80%;
        display: flex;
        justify-content: center;
    }

    h2 {
        font-weight: bold;
        font-size: 2rem;
        padding-bottom: 20px;
    }

    h3 {
        font-weight: bold;
        font-size: 1.8rem;
        letter-spacing: 1rem;
        align-self: center;
    }

    img {
        width: 100%;
    }

    p {
        padding: 10px 0;
    }
}

.top-content p, .middle-content p {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

// Services styles
.services .top-content {
    padding-top: 30px;
    padding-bottom: 0;
}

.middle-content {
    .tabs {
        .tabs-links {
            .tabs-link {
                height: 50px;
                border: 1px solid black;
                font-size: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 20px 0;

                &:hover {
                    background: #222222;
                    color: #ffffff;
                    cursor: pointer;
                }
            } 
        }
    }

    .tabs-items {
        .tabs-item {
            .tabs-item-title {
                font-size: 2.4rem;
                font-weight: bold;
                padding-top: 30px;
                padding-bottom: 20px;
            }

            .tabs-item-text {
                font-size: 1.6rem;
                padding-bottom: 30px;
            }

            .tabs-item-img {
                padding-bottom: 50px;
            }
        }
    }

    .tabs-item {
        display: none;
    }

    .tabs-item-selected {
        display: block;
    }

    .tabs-link-selected {
        background: #5E9FB9;
        color: #ffffff;
        
    }
}

// Contact styles
.contact {
    h2 {
    font-weight: bold;
    padding-top: 30px;
    margin-bottom: 0;
    }

    h4 {
        font-weight: bold;
        font-size: 2rem;
        padding-top: 40px;
    }

    .form-group {
        label {
            font-size: 1.6rem;
            padding-top: 20px;
        }

        small p {
            font-size: 1.2rem;
        }

        .form-control, .form-number {
            font-size: 1.6rem;
            height: 40px;
        }

        .form-number {
            width: 100%;
        }

        textarea {
            font-size: 1.6rem;
            height: 130px;
            width: 100%;
        }
    }

    .form-group {
        .form-check {
            label {
                padding-top: 0;
                padding-left: 10px;
            }
        }
    }

    .main-content {
        padding-bottom: 30px;
    }

    .main-content p {
        font-size: 1.6rem;
        margin: 0;
    }

    button {
        background: #ffffff;
        font-size: 1.6rem;
        height: 50px;
        width: 100%;
        border: 1px solid black;
        margin: 15px 0 30px;

        &:hover {
            background: #222222;
            font-size: 1.8rem;
            color: #ffffff;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

    // Home styles
    .top-content p, .middle-content p {
        font-size: 1.6rem;
    }

    button {
        width: 35%;
    }

    .middle-content {
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 2.8rem;
        }

        .middle-content-headers {
            width: 30%;
        }

        .sub-header1 {
            left: 583px;
            bottom: 40px;
        }

        .sub-header2 {
            left: 15px;
            bottom: 40px;
        }

        .middle-content-p {
            display: flex;
            flex-direction: column;
        }

        p {
            width: 50%;
            align-self: center;

            &:last-child {
                padding-bottom: 50px;
            }
        }
    }

    // Services styles
    .tabs {
        .tabs-links {
           display: flex;
           justify-content: space-between;

            .tabs-link {
                width: 18rem;
            }
        }
    }

    // Contact styles
    .contact {
        .main-content {
            h2:first-child {
                padding-bottom: 20px;
            }

            .address {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 0;

                div {
                    display: flex;
                    flex-direction: column;
                }

                h2 {
                    padding: 0;
                    
                }
            }
        }

        button {
            width: 150px;
        }
    }
 }