.jumbo-contact {
  background-image: url(../img/contact/contact-jumbotron.png);
  height: 250px;
  color: @navi-text-color;
  .contact-nav-top {
    display: flex;
    padding-top: 2%;
    font-size: 2.2rem;
    // #sj {
    width: 92.999%;
  }
}
.container-contact {
  .row {
    border: 2px solid red;
    margin-top: 4%;
    height: 685px;
    .left-side {
      border: 1px solid black;
      display: flex;
      flex-flow: column;
      .contact-header {
        border: 1px solid green;
        margin-left: 14%;
        font-size: 2.4rem;
      }
      .email-contact {
        margin-top: 6.5%;
        margin-left: 14%;
      }
      .amount-form {
        margin-top: 3.5%;
        margin-left: 14%;
      }
      .project-details {
        margin-top: 5%;
        margin-left: 14%;
      }
      textarea {
        width: 82.3%;
        height: 134px;
        margin-top: 1%;
      }
      .radio-btns {
        margin-top: 6%;
      }
    }
    .right-side {
      border: 1px solid blue;
    }
    .submit-btn {
      border: 1px solid black;
      margin-left: 14%;
      width: 23.5%;
      margin-top: 4.5%;
      height: 47px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
