.contentServices{
    padding: 5% 8%;
    p{
        margin-bottom: 5rem;
    }
    h2 {
        font-weight: bold;
        font-size: 2.8rem;
        color: #222222;
        margin-bottom: 2rem;
    }





    .tabs-links{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
        .tabs-link{
            border: 1px solid #222222;
            text-align: center;
            width: 22%;
            padding: 1rem;
            font-weight: bold;
            font-size: 1.8rem;
            color: #222222;
            cursor: pointer;
            &:hover{
                background-color: #222222;
                color:#FFF;
            }
        }

    }

    .tabs-items{
        .tabs-item{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .tabs-item-description{
                width: 48%;
            }
        }
        img{
            border: 1px solid #222222;
            width: 48%;
            height: auto;
        }
    }

}
.active-tab{
    background-color: #5E9FB9;
}
