.container {
    background-color: @background-color;
    color: @main-font-color;
    font-family: @main-font-family;
    font-weight: @main-font-weight;
    font-size: @main-font-size;
    line-height: @main-line-height;

    max-width: 1200px;
    margin: 0 auto;
}