// ================ CONTACT HEADER

.contactHeader-content {
    position: relative;

    img {
        width: 100vw;
        min-width: 1024px;
    }

    h2 {
        position: absolute;
        .jumboHeader();
        top: 62%;
        left: 8%;
    }
}