.about-header {
    margin-bottom: 8%;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    @media @tablet {
        flex-direction: column;
    }
    .about-content-text {
        width: 48%;
        @media @tablet {
            width: 95%;
            padding: 3%;
        }
        h1 {
            font-weight: bold;
            font-size: 2rem;
            margin-bottom: 5%;
        }
    }
    .myTest {     
        width: 48%;   
        align-self: center;
        @media @tablet {
            width: 95%;
            margin-top: 5%;
        }
        .about-center-img {
            width: 100%;
        }
    }
}