.contentServices{
    padding: 5% 8%;
    p{
        margin-bottom: 5rem;
    }
    h2 {
        font-weight: bold;
        font-size: 2.8rem;
        color: #222222;
        margin-bottom: 2rem;
    }





    .tabs-links{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
        @media (max-width: 900px){
            flex-direction: column;
            margin-bottom: 3rem;
        }
        .tabs-link{
            border: 1px solid #222222;
            text-align: center;
            width: 22%;
            padding: 1rem;
            font-weight: bold;
            font-size: 1.8rem;
            color: #222222;
            cursor: pointer;
            &:hover{
                background-color: #222222;
                color:#FFF;
            }
            @media (max-width: 900px){
                width: 100%;
                font-size: 2.4rem;
                margin-bottom: 2rem;
            }
        }

    }

    .tabs-items{
        .tabs-item{
            display: none;
            justify-content: space-between;
            align-items: center;

            .tabs-item-description{
                width: 48%;
                p{
                    @media (max-width: 900px){
                        margin-bottom: 4rem;   
                    }
                }
            }
            @media (max-width: 900px){
                flex-direction: column;
                margin-bottom: 3rem;
                .tabs-item-description{
                    width: 100%;
                }
            }
        }
        img{
            border: 1px solid #222222;
            width: 48%;
            height: auto;
            @media (max-width: 900px){
                width: 100%;
            }
        }
        .active-item{
            display: flex;
        }
    }

}
.active-tab{
    background-color: #5E9FB9;
}
