.contact-header {
  max-width: 1000px;
    .contact-wrapper {
      position: relative;
      z-index: 0;
      .contact-mobile {
      display: none;
      position: relative;
      @media @mobile {
        width: 100%;
        display: block;
        margin-top: -15%;
      }
    }
      .contact-desk {
        width: 100%;        
        position: relative;
        z-index: 1;
        // margin-top: -8%;
        @media @mobile {
          display: none;
        }
      }
  
    .contact-heading {
      position: absolute;
      z-index: 2;
      padding-left: 5rem;      
      padding-top: 15%;      
      font-size: 64px;
      line-height: 75px;
      color:white;
      
      @media @mobile {
        padding-left: 6%;
        margin-top: 5%;
        font-size: 2rem;
        line-height: 2.5rem;
        bottom: 8%;
      }
    }    
  }
}