.container.contact {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10%;
  
  .contact-form {
    display: flex;
    flex-direction: column;

    width: 40%;

    .form-div {
      display: flex;
      flex-direction: column;
      margin-bottom: 10%;

      #overview {
        height: 150px;
      }
    }

    h3 {
      font-size: 1.6rem;
      margin-bottom: 1.5%;
    }

    p {
      font-size: 1.2rem;
    }


    .email-input {
      width: 100%;
      padding: 3% 2%;
      font-size: 1.6rem;
    }

    select {
      height: 3.5rem;
    }
    
    

    .radio {
      margin: 1% 0;
    }
   .radio-label {
     font-size: 1.6rem;
     
   }

   .submit-btn {
     width: 40%;
     padding: 4% 0;
     margin-top: 6%;
     text-align: center;
     border: 1px solid #222;
     cursor: pointer;
     

    &:hover {
      background-color: #222;
      color: #FFF;
    }

   }

  }

  .locations {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-right: 10%;
  

    h2 {
      margin-bottom: 15%;
    }


    .location.address {
      margin-bottom: 15%;

      h4 {
        font-weight: bold;
        font-size: 2.0rem;
        
        line-height: 1.6rem;
      }

      p {
        font-size: 1.8rem;
      }
      
    }

  }



}