.contact-container {
  // border: 2px solid red;
  display: flex;
  max-width: 100%;
  height: 635px;
  margin: 43px 50px 50px 50px;

  @media @mobile {
    flex-direction: column;
    margin-left: 0px;
    margin-top: 33px;
  }

  .form {
    // border: 2px solid blue;
    margin-left: 31px;
    margin-right: 77px;
    width: 505px;

    @media @mobile {
      margin-left: 16px;
    }

    .p-email-address {
      margin-top: 43px;

      @media @mobile {
        display: none;
      }
    }

    .p-email-address-mobile {
      display: none;

      @media @mobile {
        display: block;
        margin-top: 42px;
      }
    }

    .s-input-field {
      width: 413px;
      height: 38px;
      border-radius: 5px;
      border-width: .5px;
      border-style: solid;

      @media @mobile {
        width: 290px;
      }
    }

    .p-small {
      font-size: 1.3rem;
      margin-top: 1px;
      
      @media @mobile {
        font-size: 1rem;
      }
    }

    .p-how-many {
      margin-top: 13px;

      @media @mobile {
        display: none;
      }
    }

    .p-how-many-mobile {
      display: none;

      @media @mobile {
        display: block;
        margin-top: 0px;
      }
    }

    .p-provide {
      margin-top: 25px;

      @media @mobile {
        display: none;
      }
    }
    .p-provide-mobile {
      display: none;

      @media @mobile {
        display: block;
        margin-top: -6px;
      }
    }

    textarea {
      border-radius: 5px;

      @media @mobile {
        width: 288px;
      }
    }

   .control-group {
      // Box to contain form controls
      display: inline-block;
      vertical-align: top;
      background: #FFFFFF;
      text-align: left;
      margin-top: 26px;

      @media @mobile {
        margin-top: 12px;
      }

      // Basic control styles
      .control {
      display: block;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 1.6rem;

      // Hide default browser input
        .input {
          position: absolute;
          z-index: -1;
          opacity: 0;
        }

      }
       
   }

   .btn-submit {
    border: 1px solid black;
    position: relative;
    top: 126px;
    right: 200px;
    height: 49px;
    width: 139px;
    font-size: 1.6rem;
    background-color: #FFFFFF;

    @media @mobile {
      top: 111px;
      width: 294px;
    }
   }
  }

  .work-locations {
    // border: 2px solid green;
    margin-top: 12px;
    margin-left: 77px;
    width: 40%;

    @media @mobile {
      margin-top: 114px;
      margin-left: 20px;
    }

    .w-location {
      // border: 2px solid black;
      margin-top: 36px;

      @media @mobile {
        margin-top: 26px;
      }

      h4 {
        font-weight: bold;
      }

      p {
        font-size: 1.9rem;
        margin-top: 1px;
        line-height: 2.7rem;

        @media @mobile {
          width: 179px;
          line-height: 3.2rem;
        }
      }
    }
  }
}//contact-container