.main-contact-container {
    display: flex;
    flex-direction: row;
    max-width: 1020px;
    width: 100%;
    border: 2px solid orange;
}

.jumbotron3 {
    //display: flex;
    max-width: 100%;
    .marginCenter;
    background-color: white;
    margin: 0px;
    padding: 0px;
    height: 200px;
    .jumbo-img-contact {
        max-width: 100%;
        height: 200px;
        width: 100%;
    }
}
.jumbotron3 .main-text {
    display: flex;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2.35%;
    padding-right: 2.35%;
    //padding: 20px;
    max-width: 36%;
    height: 50px;
    left: 6%;
    top: -80px;
    font-size: 6.0rem;
    color: #FFFFFF;
}

.contact-container-left {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    width: 60%;
    padding-left: 86px;
    border: 2px solid red;

    .contact-text-01 {

    }
    .contact-text-02 {
        
    }

    .input {

    }

    .contact-text-03 {
        
    }
    .contact-text-04 {
        
    }

    .buildings {

    }


    .contact-text-05 {
        
    }

    .textarea {

    }

    .radio-buttons {

    }


}

.contact-container-right {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    width: 40%;
    border: 2px solid blue;
    .contact-title-right {
        font-size: 2.4rem;
        font-weight: bold;

    }
    .contact-container-b {
        //display: inline-block;
        border: 2px solid green;
        max-width: 50%;
        padding-top: 40px;
        .contact-head-1b {
            color: black;
            font-weight: bold;
            font-size: 2.0rem;
        }
        .contact-text-1b {
            color: black;
            font-size: 1.6rem;
        }
    }
    .contact-container-c {
       // display: inline-block;
        max-width: 50%;
        padding-top: 50px;
        .contact-head-1c {
            color: black;
            font-weight: bold;
            font-size: 2.0rem;
        }
        .contact-text-1c {
            color: black;
            font-size: 1.6rem;
        }
    }
    .contact-container-d {
        display: inline-block;
        max-width: 50%;
        padding-top: 50px;
        padding-bottom: 100px;
        .contact-head-1d {
            color: black;
            font-weight: bold;
            font-size: 2.0rem;
        }
        .contact-text-1d {
            color: black;
            font-size: 1.6rem;
        }
    }

    .contact-text-06 {
        
    }

    .contact-text-07 {
        
    }

    .contact-text-08 {
        
    }

}



