.main-contact-container {
    display: flex;
    flex-direction: row;
    max-width: 1020px;
    width: 100%;
}

.jumbotron3 {
    max-width: 100%;
    .marginCenter;
    background-color: white;
    margin: 0px;
    padding: 0px;
    height: 200px;
    .jumbo-img-contact {
        .width-max-width-100;
        height: 200px;
    }
}

.jumbotron3 .main-text {
    display: flex;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2.35%;
    padding-right: 2.35%;
    max-width: 36%;
    height: 50px;
    left: 6%;
    top: -80px;
    font-size: 6.0rem;
    color: #FFFFFF;
}

.contact-container-left {
    display: flex;
    flex-direction: column;
    max-width: 65%;
    width: 65%;
    padding-left: 86px;
    padding-bottom: 20px;
    .contact-text-01 {
        padding-top: 48px;
        font-size: 2.4rem;
        font-weight: bold;
    }
    .contact-text-02 {
        padding-top: 42px;
    }
    .input {
        max-width: 100%;
        height: 36px;
        width: 70%;
        box-shadow: 3px 3px 7px rgb(122, 122, 122);
    }
    .contact-text-03 {
        font-size: 1.2rem;
        padding-top: 4px;
    }
    .contact-text-04 {
        padding-top: 30px;
        padding-bottom: 4px;
    }
    .buildings {
        max-width: 100%;
        width: 70%;
        height: 40px;
        box-shadow: 3px 3px 7px rgb(122, 122, 122);
    }
    .contact-text-05 {
        max-width: 100%;
        padding-top: 40px;
    }
    .textarea {
        display: flex;
        max-width: 100%;
        width: 70%;
        padding-bottom: 30px;
        box-shadow: 3px 3px 7px rgb(122, 122, 122);
    }
    .radio-buttons {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .submit {
        width: 138px;
        height: 44px;
        box-shadow: 3px 3px 7px rgb(122, 122, 122);
    }
}

.contact-container-right {
    display: flex;
    flex-direction: column;
    max-width: 35%;
    width: 35%;
    .contact-title-right {
        font-size: 2.4rem;
        padding-top: 54px;
        font-weight: bold;
    }
    .contact-container-b {
        max-width: 50%;
        padding-top: 38px;
        line-height: 27px;
        .contact-head-1b {
            color: black;
            font-weight: bold;
            font-size: 2.0rem;
        }
        .contact-text-1b {
            color: black;
            font-size: 1.6rem;
        }
    }
    .contact-container-c {
        // display: inline-block;
        max-width: 50%;
        padding-top: 40px;
        line-height: 26px;
        .contact-head-1c {
            color: black;
            font-weight: bold;
            font-size: 2.0rem;
        }
        .contact-text-1c {
            color: black;
            font-size: 1.6rem;
        }
    }
    .contact-container-d {
        display: inline-block;
        max-width: 50%;
        padding-top: 48px;
        padding-bottom: 20px;
        line-height: 26px;
        .contact-head-1d {
            color: black;
            font-weight: bold;
            font-size: 2.0rem;
        }
        .contact-text-1d {
            color: black;
            font-size: 1.6rem;
        }
    }
    input[type="button"] {
        width: 75px;
        background-color: lightblue;
        border-radius: 5px;
        display: none;
    }
    #audioSeek {
        width: 50px;
        display: none;
    }
    .duration {
        display: none;
    }
    #volume {
        width: 20px;
        display: none;
    }
    .audio-control {
        //border: 2px solid blue;
    }
}

//*********************************************
//*** FOR SCREENS SMALLER THAN 620 ************
//*********************************************
@media @tablet {
    .main-contact-container {
        //  display: flex;
        flex-direction: column;
        max-width: 620px;
        width: 100%;
    }
    .jumbotron3 {
        .jumbo-img-contact {}
    }
    .jumbotron3 .main-text {
        max-width: 50%;
        font-size: 4.0rem;
    }
    .contact-container-left {
        max-width: 620px;
        width: 100%;
        padding-left: 6px;
        .submit {
            max-width: 100%;
            ;
            display: flex;
            width: 70%;
            height: 44px;
            box-shadow: 3px 3px 7px rgb(122, 122, 122);
            padding-left: 30%;
        }
    }
    .contact-container-right {
        display: flex;
        flex-direction: column;
        padding-left: 6px;
        max-width: 600px;
        width: 100%;
    }
}

//*********************************************
//*** FOR SCREENS SMALLER THAN 320 ************
//*********************************************
@media @mobile {
    .main-contact-container {
        // display: flex;
        flex-direction: column;
        max-width: 320px;
        width: 100%;
    }
    .jumbotron3 {
        height: 210px;
        .jumbo-img-contact {
            height: 210px;
        }
    }
    .jumbotron3 .main-text {
        max-width: 100%;
        left: 4%;
        font-size: 3.6rem;
    }
    .contact-container-left {
        .width-max-width-100;
        padding-left: 6px;
        .contact-text-01 {
            padding-top: 33px;
            font-size: 2.4rem;
            font-weight: bold;
        }
        .contact-text-02 {
            padding-top: 60px;
        }
        .input {
            height: 38px;
            width: 289px;
        }
        .contact-text-03 {
            padding-top: 4px;
        }
        .contact-text-04 {
            padding-top: 24px;
            padding-bottom: 4px;
        }
        .buildings {
            width: 289px;
            height: 38px;
        }
        .contact-text-05 {
            padding-top: 24px;
        }
        .textarea {
            width: 289px;
            height: 135px;
        }
        .radio-buttons {}
        .submit {
            width: 289px;
            height: 48px;
        }
    }
    .contact-container-right {
        max-width: 320px;
        width: 100%;
        .contact-title-right {}
        .contact-container-b {
            .contact-head-1b {}
            .contact-text-1b {}
        }
        .contact-container-c {
            .contact-head-1c {}
            .contact-text-1c {}
        }
        .contact-container-d {
            .contact-head-1d {}
            .contact-text-1d {}
        }
        input[type="button"] {
            width: 75px;
            background-color: lightblue;
            border-radius: 5px;
            display: none;
        }
        #audioSeek {
            width: 50px;
            display: none;
        }
        .duration {
            display: none;
        }
        #volume {
            width: 20px;
            display: none;
        }
        .audio-control {}
    }
}