// Contacts //

// Top Section
.contacts {
  .contacts-top-section {
    h1 {
      font-size: 6rem;
      font-weight: bold;
      font-family: "Roboto", Arial, sans-serif;
      color: white;
      position: absolute;
      margin: 17% 20% 5% 5%;
    }
    .img {
      width: 100%;
      height: 0 auto;
    }
    .contacts-jumbo {
      width: 100%;
      display: block;
    }
    .contacts-mobile {
      display: none;
    }
  }
  .contacts-container {
    width: 70%;
    margin: 0 10%;
    display: flex;
    justify-content: space-evenly;

    .signup {
      h1 {
        font-size: 2rem;
        font-family: "Roboto", Arial, sans-serif;
        font-weight: bold;
        color: #222222;
        margin: 10% 0;
      }
      h4 {
        font-size: 1.2rem;
        font-family: "Roboto", Arial, sans-serif;
        margin: 1% 0;
      }
      input[type="text"] {
        width: 500px;
        height: 35px;
        border: 1px solid lightgray;
        border-radius: 8px;
        margin: 5px 0 10px 0;
      }
      input[placeholder="Enter email"] {
        padding-left: 10px;
        font-size: 1.2rem;
      }
      p {
        color: gray;
        margin-bottom: 40px;
      }
      select[id="number"] {
        width: 515px;
        height: 35px;
        border: 1px solid lightgray;
        border-radius: 8px;
        margin: 5px 0 40px 0;
      }
      textarea[id="desc"] {
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 8px;
      }
      .radio-button {
        margin-top: 15px;
        margin-bottom: 10px;
        input[type="radio"] {
          display: inline-block;
          width: auto;
          border: 1px solid black;
          background: #ffffff;
        }
        label {
          font-family: "Roboto", Arial, sans-serif;
        }
      }
      input[type="submit"] {
        font-size: 1rem;
        font-family: "Roboto", Arial, sans-serif;
        background-color: white;
        border: 1px solid black;
        width: 140px;
        height: 50px;
        margin: 30px 0;
      }
    }
    .address {
      h1 {
        font-size: 2rem;
        font-family: "Roboto", Arial, sans-serif;
        font-weight: bold;
        margin: 30% 0 20% 0;
      }
      .contact {
        margin: 40px 0;
        h4 {
          font-size: 1.4rem;
          font-family: "Roboto", Arial, sans-serif;
          font-weight: bold;
          margin-bottom: 15px;
        }
        p {
          font-size: 1rem;
          font-family: "Roboto", Arial, sans-serif;
          line-height: 28px;
        }
      }
    }
  }
  @media @mobile {
    .contacts-top-section {
      h1 {
        font-size: 3rem;
        margin-top: 60%;
      }
      .contacts-jumbo {
        display: none;
      }
      .contacts-mobile {
        display: block;
        width: 100%;
      }
    }
    .contacts-container {
      flex-direction: column;
      margin: 0 10%;
      .signup {
        input[type="text"] {
          width: 100%;
        }
        select[id="number"] {
          width: 105%;
        }
        input[type="submit"] {
          width: 100%;
        }
      }
    }
  }
}
