.content__container {
  margin: 0 auto;
  max-width: 85.5rem;
  display: flex;
  justify-content: space-between;
  padding: 5rem 0rem;
  a{
      text-decoration: none;
  }
  @media (max-width: 900px){
    width: 90%;
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  &--text {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 2rem 0rem;
    width: 48%;
    h2 {
      font-weight: bold;
      font-size: 2.8rem;
      color: #222222;
      @media (max-width: 900px){
        margin-bottom: 4rem;
        text-align: left;
      }
    }
    p{
      @media (max-width: 900px){
        margin-bottom: 4rem;
        text-align: left;
      }
    }
    @media (max-width: 900px){
      width: 100%;
      padding: 0;
      order:1;
    }
    @media (max-width: 600px){
      order: 1;
    }
  }

  &--img{
      margin-bottom: 3rem;
      height: 27rem;
      width: 48%;
      background-image: url(../img/home/home-img-1.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-align: center;
    
      @media (max-width: 600px) {
        height: 31rem;
        width: 100%;
        // background-position: bottom;
        background-image: url(../img/home/home-mobile-img-1.png);
      }




    // width: 100%;
    // @media (max-width: 900px){
    //   margin-bottom: 2rem;
    // }
    // @media (max-width: 600px){
    //   margin-bottom: 2rem;
    // }
    
  }

  &--btn {
    border: 1px solid #222222;
    color: #222222;
    padding: 1rem 0rem;
    text-align: center;
    width: 14rem;
    @media (max-width: 900px){
      width: 100%;
      margin-bottom: 4rem;
    }
  }
}

.two {
  .content__container--text {
    order: 1;
  }
  .content__container--img{
    background-image: url(../img/home/home-img-2.png);
    @media (max-width: 600px) {
      background-image: url(../img/home/home-mobile-img-2.png);
    }
  }
}

// .content:nth-child(2) {
//   .content-container {
//     .content__container--text {
//       order: 1;
//     }
//   }
// }
