.wrapper {
    .mid-width-center();
    padding-top: 1.5rem;
    h3 {
        font-size: @font-large;
        font-weight: @bold;
        color: #222;
    }

    h5 {
        font-size: @font-medium;
        font-weight: @bold;
    }

    p {
        font-size: 16px;
        font-weight: @regular;
        line-height: @footer-text-lh;
        letter-spacing: .07rem;
    }

    .flex();
}

.left-wrap {
    width: 66.8%;
    padding-left: .4rem;

    h3 {
        padding-bottom: 4.4rem;
    }

    h4 {
        padding-bottom: .5rem;
    }

    #email-input {
        width: 40.5rem;
        height: 3rem; 
        border-radius: .5rem;
    }

    ::placeholder {
        padding-left: 1rem;
    }

    .disclaimer {
        font-size: @font-xxsmall;
        padding-bottom: 3rem;
    }

    #button {
        border: 1px solid black;
        margin-top: 5rem;
        padding: 1.2rem 4.2rem;
    }   
}

.right-wrap {
    padding-top: 1.6rem;
    padding-bottom: 0;
    margin-bottom: 0;

    h3 {
        padding-bottom: 3.1rem;
    }

    h5 {
        padding-bottom: .8rem;
    }

    .last-p {
        padding-bottom: 4.2rem;
    }
}
.radio-options {
        .flex-direction(column);
        margin: 2.5rem 0 3.4rem;
    }

#buildings {
    width: 40.5rem;
    height: 3rem;
    border-radius: .5rem;
    margin-bottom: 4rem;
    }

#overview {
    width: 40.5rem;
    height: 13rem;
    resize: vertical;
}

