.container.contact {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10%;
  .contact-form {
    display: flex;
    flex-direction: column;

    width: 40%;

  }

  .locations {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin-right: 10%;
  

    h2 {
      margin-bottom: 15%;
    }


    .location.address {
      margin-bottom: 15%;

      h4 {
        font-weight: bold;
        font-size: 2.0rem;
        
        line-height: 1.6rem;
      }

      p {
        font-size: 1.8rem;
      }
      
    }

  }



}