.cta {
    max-width: 880px;
    margin: 0 auto;

    &-content {
        margin-top: 43px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 65px;

        @media @phone {
            flex-direction: column;
            align-items: center; 
        }

        &__text{
            width: 48%;
            margin-top: 40px;

            @media @phone {
                width: 90%; 
            }

            h3 {
                font-weight: 700;
                font-size: 2.8rem;
                color: #222222;
            }

            &-p {
                font-size: 1.6rem;
                text-align: justify;
                margin-top: 20px;
                margin-bottom: 45px;

                @media @phone {
                    font-size: 1.8rem;
                }
            }

            a {
                text-decoration: none;
                color: black;
                font-size: 1.6rem;
                border: 1.5px solid black;
                padding: 12px 22px;

                @media @phone {
                    width: 100%; 
                    display: block;
                    text-align: center;
                }

                &:hover {
                    background: #000; 
                    color: #fff;
                    border: none;
                }
    
            }
        }

        &__img {
            width: 48%;

            @media @phone {
                width: 90%; 
                order: -1;
            }

            img{
                width: 100%;

            }
        }

    }

}