.cta-1 {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  .cta-text {
    width: 50%;
    h3 {
      font-size: @sub-font-size;
      font-weight: @sub-font-weight;
      color: @sub-color;
      padding: 20px 0;
    }

    p {
      line-height: @line-height;
      padding-bottom: 25px;
      width: 83%;
    }

    button {
      padding: 15px 30px;
      background: none;
      border: 1px solid #222222;
    }
  }
}

.cta-2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 30px 0;
  .cta-text {
    width: 50%;
    padding-left: 35px;
    h3 {
      font-size: @sub-font-size;
      font-weight: @sub-font-weight;
      color: @sub-color;
      padding: 20px 0;
    }

    p {
      line-height: @line-height;
      padding-bottom: 25px;
      width: 83%;
    }

    button {
      padding: 15px 30px;
      background: none;
      border: 1px solid #222222;
    }
  }
}
