.cta-1 {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  @media @mobile {
    flex-direction: column-reverse;
    align-items: center;
  }
  .cta-text {
    width: 50%;
    @media @mobile {
      width: 88%;
    }
    h3 {
      font-size: @sub-font-size;
      font-weight: @sub-font-weight;
      color: @sub-color;
      padding: 20px 0;
    }

    p {
      line-height: @line-height;
      padding-bottom: 25px;
      width: 83%;
    }

    button {
      padding: 15px 30px;
      background: none;
      border: 1px solid #222222;
      &:hover {
        background: @services-tab-hover-bg;
        color: @services-tab-hover-color;
      }
      &:active {
        background: @services-tab-selected-bg;
        color: @services-tab-hover-bg;
      }
      @media @mobile {
        width: 100%;
      }
    }
  }
}

.cta-2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 30px 0;
  @media @mobile {
    flex-direction: column-reverse;
    align-items: center;
  }
  .cta-text {
    width: 50%;
    padding-left: 35px;
    @media @mobile {
      width: 88%;
      padding-left: 0;
    }
    h3 {
      font-size: @sub-font-size;
      font-weight: @sub-font-weight;
      color: @sub-color;
      padding: 20px 0;
    }

    p {
      line-height: @line-height;
      padding-bottom: 25px;
      width: 83%;
    }

    button {
      padding: 15px 30px;
      background: none;
      border: 1px solid #222222;
      &:hover {
        background: @services-tab-hover-bg;
        color: @services-tab-hover-color;
      }
      &:active {
        background: @services-tab-selected-bg;
        color: @services-tab-hover-bg;
      }
      @media @mobile {
        width: 100%;
      }
    }
  }
}
