.dropdown {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: @sj-color-navigation;
    opacity: 0.94;
    overflow-x: hidden;
    transition: 0.5s;

    .dropdown-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px; 
    }

    a {
        padding: 8px;
        text-decoration: none;
        font-size: @navtext-font-size;
        line-height: @navtext-line-height;
        font-weight: bold;
        color: @sj-color-background;
        display: block;
        transition: 0.3s;
        &:hover, &:focus{
            color: @sj-color-black;
        }
    }

    .closebtn {
        position: absolute;
        top: 12px;
        right: 70px;
    }

    @media @phone {
        .dropdown-content {
            top: 10%;
        }

        .closebtn {
            top: 12px;
            right: 25px;
        }
    }
}
