header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 5;
    align-items: center;
    width: 100%;
    background-color: @header-color;
    opacity: .9;
    h1 {
        margin: 8.5%;
        color: @main-color;
        font-size: 2.4rem;
        font-weight: bold;
        z-index: 5;
    }

    .dropdown{
        display: none;
        width: 100%;
        height: 100vh;      
        text-decoration: none;
        position: absolute;        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: @header-color;
        z-index: 4;
        top: 0%;
        .navigation{
            display: flex;
            flex-direction: column;
            height: 36%;
            justify-content: space-between;
            .dropdown-link {
                font-size: 4.8rem;
                text-decoration: none;
                font-weight: bold;
                color: white;
                padding: 5% 0;
                cursor: pointer;
                &:hover {
                    color: @secondary-color;
                }
            }
        } 
        
    }    
    .dropdown--open {
        display: flex;
    } 

    .hamburger{
        margin: 8.5%;
        cursor: pointer;
        z-index: 5;
    }   
  }
