.beat-drop-button {
    width: 32px;
    height: 21px;
    background-image: url('../img/nav-hamburger.png');
    margin-right: 100px;
    border-radius: 2px;
}

.beat-drop {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: #9AA5B0;
    z-index: 1000;
    .drop-down-item {
        width: 100vw; // height: 100vh;
        line-height: 2.5;
        font-size: 2.5rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        color: #fff;
        text-align: center;
        &:hover {
            background-color: rgb(174, 185, 196);
        }
    }
    .close-button {
        position: absolute;
        display: block;
        top:5%;
        left: 80%;
        z-index: 1000;
        width: 32px;
        height: 32px;
        background: #9AA5B0;
        background-image: url('../img/nav-hamburger-close.png');
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 1px;
        border-radius: 2px;
    }
}

.beat-drop-hidden {
    display: none;
}