.employees {

	.control-center {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction:column;

		.control-btn1 {
			border: solid black 1px;
	    padding: 1%;
	    font-size: 4rem;
	    margin-bottom: 30px;
	    @media @phone {
	    	margin-top: 20px;
	    	width: 94%;
	    	text-align: center;
	    }
		}

		.control-btn1:hover {
			color:white;
			background-color:black;
			cursor: pointer;
		}

		.control-btn2 {
			display: none;
	    border: solid red 1px;
	    padding: 1%;
	    font-size: 4rem;
	    color: red;
	    @media @phone {
	    	width: 94%;
	    	font-size: 3.5rem;
	    	text-align: center;
	    	margin-bottom: 20px;
	    }
		}

		.control-btn2:hover{
			background-color: red;
			color:white;
			cursor: pointer;
		}

		.show-fire {
			display: block;
		}
	}


	.employees-list {
		display:flex;
		flex-wrap: wrap;
		padding-right:4%;

		@media @phone {
			flex-wrap: nowrap;
			flex-direction: column;
		}

		.emlpoyees-section {
			width: 46%;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    position:relative;
	    border: solid black 1px;
	    margin: 2%;
	    background-color: #faf7e7;

	    @media @phone {
	    	width: 100%;
	    }

			h2 {
		    font-size: 2.5rem;
		    text-align: center;
		    margin: 10px 0;
			}
			p {
				font-size: 1.6rem;
    		margin: 10px 6%;
			}
			.pic {
				margin: 10px 3% 0 3%;
		    border-radius: 15px;
		    border: solid black 1px;
			}
		}

		.fired {
			display:none;
			position: absolute;
	    top: 15px;
		}

		.show-fire {
			display:block;
		}

	}
}


