.menu__expanded {
    max-width: 1024px;
    height: 51%;
    background-color: #99A4AF; 
    opacity: .97;
    padding: 100px 0;
    position: absolute;
    z-index: 1; 
    top: 50px;
    display: none;
    width: 100%;
}

a {
        color: #FFFFFF;
        font-size: 48px;
        line-height: 85px;
        font-weight: bold;
        margin: 30px 35%;
}

a:hover {
    background-color: #222222; 
}

a:link {
    text-decoration: none;
}
