.features {
  margin-top: 10%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;

  .column {
    width: 32%;
  }

  .features-item {
    margin-top: 5%;
    background-color: lighten(@seaweed, 65%);

    p {
      font-size: 1.7rem;
      line-height: 1.8;
    }

    h3 {
      font-size: 2rem;
      font-weight: bold;
      padding-bottom: 7%;
      text-transform: uppercase;
    }

    div {
      padding: 13%;
    }
  }

  .text-alerts {
    height: 35%;

    div {
      padding-top: 10%;
    }
  }

  .add-multiple-plants {
    height: 55%;

    div {
      padding-top: 25%;
    }
  }

  .family-members {
    height: 55%;

    div {
      padding-top: 25%;
    }
  }

  .suggested-times {
    height: 35%;
    div {
      padding-top: 10%;
    }
  }

  .community {
    height: 35%;
    div {
      padding-top: 10%;
    }
  }

  .canvas-message {
    height: 55%;

    p{
        font-size: 2.6rem;
        line-height: 1.8;
    }

    div {
      padding-top: 29%;
    }
  }
}
