.firstsection {
    .sec1 {
	display: flex;
	/* border: 1px solid red; */
	width: 70%;
	margin: 0 auto 10% auto;
	justify-content: space-around;
	@media @mobile {
	    width: 90%;
	    flex-direction: column-reverse;
	}
	h1 {
	    @media @mobile {
		text-align: center;
		margin: 4% 0;
	    }
	    font-size: 20px;
	    font-weight: bold;
	    font-family: roboto;
	    color: #272727;
	}
	.pic {
	    @media @mobile {
		width: 80%;
	    }
	    width: 50%;
	    margin: auto;
	    height: auto;
	    img {
		width: 100%;
	    }
	}
	.text {
	    @media @mobile {
		width: 100%;
		padding: 20px 0;
	    }
	    font-size: 16px;
	    line-height: 24px;
	    display: flex;
	    align-items: center;
	    flex-flow: row wrap;
	    /* justify-content: flex-start; */
	    width: 50%;
	    padding-right: 4%;

	    #secondp {
	    	@media @mobile {
	    	    margin-left: 0;
	    	}
	    }
	    button {
		button:hover {
		    background: black;
		    color: white;
		}
		@media @mobile {
		    width: 100%;
		}
		background-color: white;
		border: 1px solid black;
		color: black;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		/* display: inline-block; */
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	    }
	}
    }
    #futuristic {
	/* background: red; */
	@media @mobile {
	    flex-direction: column;
	}
	.text {
	    padding-left: 40px;
	    @media @mobile {
		padding-left: 0;
	    }
	    display: flex;
	    justify-content: left;
	    @media @mobile {
	    	width: 100%;
	    }
	    button {
		button:hover {
		    background: black;
		    color: white;
		}
	    	@media @mobile {
	    	    width: 100%;
	    	    margin: 0 auto;
		    display: flex;
		    justify-content: center;
	    	}
	    }
	}
    }
}

p {
    width: 100%;
    button {
	@media @mobile {
	    width: 100%;
	}
    }
    @media @mobile {
	padding-bottom: 20px;
    }
}

button:hover {
    background: white;
    color: ;
}
