.firstsection {
    .sec1 {
	display: flex;
	/* border: 1px solid red; */
	width: 90%;
	margin: 25px auto 70px auto;
	justify-content: space-around;
	h1 {
	    font-size: 20px;
	    font-weight: bold;
	    font-family: roboto;
	}
	.text {
	    display: flex;
	    align-items: center;
	    flex-flow: row wrap;
	    justify-content: flex-start;
	    #secondp {
		margin-left: 35px;
	    }
	    button {
		background-color: white;
		border: 1px solid black;
		color: black;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	    }
	}
    }
}
