.footer {
  margin: auto;
  padding: 50px 0 20px 0;
  width: 1024px;
  background-color: gray;
  color: white;
  span {
    display: block;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }
  .footer-top {
    display: flex;
    justify-content: space-around;
    span {margin-top: 0}
    .footer-form {
      form {
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        input {
          width: 250px;
          color: gray;
          height: 30px;
          border-radius: 5px;
          margin: 5px 0;
          padding-left: 5px;
        }
      }
      font-size: 12px;
    }
    .locations {
      width: 50%;
      display: flex;
      justify-content: space-between;
      h3 {
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
      }
      p {
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
}
