// Footer Styles


.footer-container {
    max-width: 1024px;
    width:100%;
    margin: auto;
    display: flex;
    flex-direction:column;
    background-color: gray;
    color:#FFFFFF;
    padding-top:55px;
    padding-left:45px;
    // border:2px solid black;
  
    .contact-info {
      display: flex;
      margin-bottom: 30px;
  
        h2 {
          color:#FFFFFF;
        }
  
      .lets-talk {
        margin-left:40px;
        margin-right:50px;
        // border:1px solid red;
        
        .form-email-container {
          border:1px solid black;
        }

      }
  
      .offices {
        display: flex;
  
        h2 {
          margin-bottom: 5px;
        }
  
          .address {
            margin-right:78px;
  
              p {
                font-size:14px;
                line-height:26px;
              }
          }
      } 
    }
    .copyright {
      display:flex;
      justify-content: center;
      font-size:12px;
  
        p {
          padding-right:25px;
          padding-bottom:15px;
          // border:1px solid green;
        }
    }
  }




  // ************ MEDIA QUERIES ************//

/* Phone */

@media (max-width:320px) {


  .footer-container {
    // max-width: 1024px;
    // width:100%;
    // margin: auto;
    // display: flex;
    // flex-direction:column;
    // background-color: gray;
    // color:#FFFFFF;
    padding-top:0px;
    padding-left:10px;
    // border:2px solid black;
  
    .contact-info {
      // display: flex;
      flex-direction:column;
      // margin-bottom: 30px;
  
        h2 {
          // color:#FFFFFF;
        }
  
      .lets-talk {
        margin-left:0px;
        margin-right:0px;
        border:1px solid red;
        // display:none
        margin-bottom:30px;
        
        .form-email-container {
          border:1px solid black;
          // display:none;
        }
      }
  
      .offices {
        display: flex;
        flex-direction: column;
        border:1px solid green;
  
        h2 {
          margin-bottom: 5px;
          font-size:20px;
        }
  
          .address {
            // margin-right:78px;
            margin-bottom:7.5px;
            margin-top:7.5px;
  
              p {
                font-size:14px;
                // line-height:26px;
              }
          }
      } 
    }
    .copyright {
      // display:flex;
      justify-content: left;
      // font-size:12px;
  
        p {
          // padding-right:25px;
          // padding-bottom:15px;
          // border:1px solid green;
        }
    }
  }



}