.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(130, 130, 130);
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 18px;


    .foot-container-a {
        display: inline-block;
        max-width: 30%;
        .foot-text-1a {
            font-weight: bold;
            color: white;
        }
        .foot-input-element {
            .input {
                max-width: 100%;
                width: 100%;
                color: black;
            }

        }
        .foot-text-2a {
            font-size: 12px;
            color: white;
        }
    }
    .foot-container-b {
        display: inline-block;
        max-width: 20%;
        .foot-head-1b {
            color: white;
            font-weight: bold;
        }
        .foot-text-1b {
            color: white;
            font-size: 14px;
        }
    }
    .foot-container-c {
        display: inline-block;
        max-width: 20%;
        .foot-head-1c {
            color: white;
            font-weight: bold;
        }
        .foot-text-1c {
            color: white;
            font-size: 14px;
        }
    }
    .foot-container-d {
        display: inline-block;
        max-width: 20%;
        .foot-head-1d {
            color: white;
            font-weight: bold;
        }
        .foot-text-1d {
            color: white;
            font-size: 14px;
        }
    }
}

.footer {
    display: flex;
    font-size: 12px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    //width:40%;
    padding-top: 20px;
    color: white;
    background-color: rgb(130, 130, 130);;

}

.footer-container {
    display: flex;
    flex-direction: column;
    max-width: 1020px;
    width: 100%;
    .marginCenter;
    background-color: rgb(130, 130, 130);;
}

//*********************************************
//*** FOR SCREENS SMALLER THAN 320 ************
//*********************************************
@media @mobile {
    .contact {
        display: flex;
        flex-direction: column;
        //justify-content: space-evenly;
        background-color: rgb(130, 130, 130);
        padding-top: 60px;
        padding-bottom: 20px;
        padding-left: 14px;
        font-size: 18px;
    width: 320px;
    
        .foot-container-a {
           //border: 2px solid blue;
           // display: flex-block;
            max-width: 100%;
           padding-bottom: 30px;
            .foot-text-1a {
                font-weight: bold;
                color: white;
            }
            .foot-input-element {
                .input {
                    max-width: 100%;
                    width: 280px;
                    color: black;
                }
    
            }
            .foot-text-2a {
                font-size: 12px;
                color: white;
            }
        }
        .foot-container-b {
           // display: inline-block;
            max-width: 100%;
            padding-bottom: 30px;
            .foot-head-1b {
                color: white;
                font-weight: bold;
            }
            .foot-text-1b {
                color: white;
                font-size: 14px;
            }
        }
        .foot-container-c {
          //  display: inline-block;
            max-width: 100%;
            padding-bottom: 30px;
            .foot-head-1c {
                color: white;
                font-weight: bold;
            }
            .foot-text-1c {
                color: white;
                font-size: 14px;
            }
        }
        .foot-container-d {
         //   display: inline-block;
            max-width: 100%;
            .foot-head-1d {
                color: white;
                font-weight: bold;
            }
            .foot-text-1d {
                color: white;
                font-size: 14px;
            }
        }
    }
    
    .footer {
    //    display: flex;
//font-size: 12px;
     //   max-width: 100%;
        margin-left: 14px;
        padding-top: 20px;
        color: white;
        background-color: rgb(130, 130, 130);;
    
    }
    
    .footer-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 320px;
        background-color: rgb(130, 130, 130);;
    }





}