.services {
    
    .footer {
    background-color: #828282;
    padding: 30px 40px 10px 40px;
    color: white;

    .cr {
        font-size: 12px;
        text-align: center;
        margin-top: 20px;
    }

    .contact-info{
        display: flex;
        justify-content: space-evenly;
        
        .e-mail {
            width: 35%;
        }

        input[type=text] {     
            border: 1px;
            border-radius: 3px;
            color: gray;
            align-content: center;
            padding: 6px;
            font-size: 10px;
            width: 85%;
        }

        .underForm {
            font-size: 11px;
            margin-top: 7px;
        }

        .contacts {
           
            p {
                line-height: 120%;
            }
        }

        .state {
            font-weight: bolder;
        }

        address {
                font-size: 10px;
                line-height: 160%;
                font-weight: normal;

                @media @mobile {
                    font-size: 12px;
                 }
            }
        }
    }
}