@import 'partials/_all-partials';


// FOOTER
footer {
    
    margin: 0 auto;
    padding: 48px 0 0; 
    width: (1024% / 1351) * 100;
    background: #818181;
    .cta-text {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;
        color: @general-white;
        margin-bottom: 6px;
    }
    .cta-email {
        display: block;
        width: 85%;
        height: 48px;
        border-radius: 5px;
    }
    .cta-disclosure {
        color: @general-white;
        font-size: 1.4rem;
        line-height: 2.6rem;
    }
    .places {
        display: flex;
        justify-content: space-around;
    }
    .city-name {
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.4rem;
        color: @general-white;
    }
    .address, .phone-number {
        color: @general-white;
        font-size: 1.4rem;
        line-height: 2.6rem;
    }

    .copyright {
        text-align: center;
        margin-top: 24px;
        color: @general-white;
        font-size: 1.2rem;
    }
    .row {
        margin-bottom: 0;
    }

    @media @phone {
        width: 100%;
        padding-bottom: 24px;
        .places {
            flex-direction: column;
        }
        .city-name {
            margin-top: 24px;
        }
        .copyright {
            text-align: start;
        }
    }
}