//Footer styles
footer{
    .center();  
    width: 100%;
    height: 250px;
    margin: 5px 0 0 0;
    background-color: grey;
    flex-direction: column;
    justify-content: center;
    background-color: @footer-background;
    color:@white;

    .footer-container {
        width: 100%;
        height: 120px;

        margin: 62px 0;
        font-size: 2rem;
        line-height: 1.2;
        .contact-us{

            width: 33%;
            height: 100%;
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            p{
                font-weight: bold;
            }
            input{
                border-radius: 5px;
                height:40px;
                color: gray;
            }
            .tiny-font{
                font-size: 1rem;
            }

        }
        .addresses{
            width:67%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            address{
                p{
                    font-size: 2rem;
                    font-weight: bold;
                }

            }
        }
        
    }
    .foot-note{
        font-size: 1rem;
        bottom: 0;
    }
}