.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: lightgray;
    padding-top: 60px;
    padding-bottom: 20px;
    font-size: 18px;


    .foot-container-a {
        display: inline-block;
        max-width: 30%;
        .foot-text-1a {
            font-weight: bold;
        }
        .foot-input-element {
            .input {
                max-width: 100%;
                width: 100%;
            }

        }
        .foot-text-2a {
            font-size: 12px;
        }
    }
    .foot-container-b {
        display: inline-block;
        max-width: 20%;
        .foot-head-1b {
            font-weight: bold;
        }
        .foot-text-1b {
            font-size: 14px;
        }
    }
    .foot-container-c {
        display: inline-block;
        max-width: 20%;
        .foot-head-1c {
            font-weight: bold;
        }
        .foot-text-1c {
            font-size: 14px;
        }
    }
    .foot-container-d {
        display: inline-block;
        max-width: 20%;
        .foot-head-1d {
            font-weight: bold;
        }
        .foot-text-1d {
            font-size: 14px;
        }
    }
}

.footer {
    display: flex;
    font-size: 12px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    padding-top: 20px;
    background-color: lightgray;

}

.footer-container {
    display: flex;
    flex-direction: column;
    max-width: 1020px;
    .marginCenter;
    background-color: lightgray;
}