.footer {
  margin: auto;
  padding: 50px 0 20px 0;
  width: 1024px;
  background-color: #9DA7B1;
  color: white;
  span {
    display: block;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }
  .footer-top {
    display: flex;
    justify-content: space-around;
    span {margin-top: 0}
    .footer-form {
      form {
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        input {
          width: 250px;
          color: #9DA7B1;
          height: 30px;
          border-radius: 5px;
          margin: 5px 0;
          padding-left: 5px;
        }
      }
      font-size: 12px;
    }
    .locations {
      width: 50%;
      display: flex;
      justify-content: space-between;
      h3 {
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
      }
      p {
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
  @media (max-width: 400px) {
    width: 100%;
    padding-left: 15px;
    span {
      text-align: left;
      margin: 10px 0 30px 0;
    }
    .footer-top {
      flex-direction: column;
      .footer-form form input {
        width: 280px;
        height: 40px;
        font-size: 18px;
        margin-top: 15px;
      }
      span {
        text-align: left;
        margin: 10px 0 30px 0;
      }
      .locations {
        flex-direction: column;
        .location {
          margin-bottom: 30px;
        }
      }
    }
  }
}
