footer {
    background: @footercolor;
    margin-top: 100px;
    max-height: 250px;
    padding-bottom: 10px;

    @media @tablet {
        max-height: 100%;
    }

    @media @mobile {
        max-height: 100%;
        margin-top: 68px;
    }

    h4 {
        .text-styling(bold, 2rem, @white);
        line-height: 2.4rem;
        padding-top: 63px;
        display: inline;

        @media @mobile {
            padding-top: 25px;
        }
    }

    p {
        .text-styling(regular, 1.4rem, @white);
        line-height: 2.6rem;
        display: inline;
    }

    div {  
        .flex(row,wrap, space-between, center);
        max-height: 318px;

        @media @mobile {
        .flex(column,nowrap, space-between, baseline);
        max-height: 100%;
        padding: 0 4%;
        }

        #footertext {
            .flex(column,nowrap, flex-start, flex-start);

            @media @tablet {
                width: 100%;
            }

            @media @mobile {
                padding: 0 0%;
                }

            input {
                margin-top: 12px;
                padding: 12px 6px;
                width: 100%;
                border-radius: 5px;

                @media @mobile {
                    padding: 15px 6px;
                }
            }
        }

        address {
            margin-top: 60px;

            @media @mobile {
                margin-top: 30px;
            }

            h4 {
                .text-styling(bold, 2rem, @white);
                line-height: 2.4rem;
                padding-top: 63px;
                display: inline;
            }
        
            p {
                .text-styling(regular, 1.4rem, @white);
                line-height: 2.6rem;
                display: inline;
            }
        }
    }

    .copyright {
        text-align: center;
        display: block;
        margin-top: 28px;
        font-size: 1.2rem;

        @media @tablet {
            margin-top: 90px;
        }

        @media @mobile {
            margin-top: 20px;
            padding: 0 20%;
        }
    
    }

}