footer {
  background: @footer-bg;
  color: @footer-text-color;
  h4 {
    font-size: @footer-head-font-size;
  }
  .footer {
    display: flex;
    justify-content: space-around;
    font-size: @footer-text-font-size;
    text-align: left;
    padding: 50px 0;
    @media @mobile {
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;
    }
    .city {
      padding: 20px 0;
      @media @mobile {
      }
      input {
        padding-top: 10px;
        display: block;
        padding: 10px 0;
        width: 100%;
        @media @mobile {
          width: 60%;
          padding: 20px;
        }
      }

      p {
        font-size: @footer-text-font-size;
      }

      h4 {
        font-size: @footer-head-font-size;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }

  .copyright {
    text-align: center;
    font-size: small;
  }
}
