.form {
  width: 100%;
  // border: 1px solid black;
  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    &--radio {
      display: block;
      margin-bottom: 2.5rem;
    }
  }
  &__label {
    margin-bottom: 1rem;
    font-weight: 700;
  }

  &__input {
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid @form-border-color;
  }

  &__select {
    height: 40px;
    background: @main-bg;
  }

  &__text-area {
    height: 135px;
  }

  &__submit {
    .btn-creator(@main-bg, @main-color, 34.1%, 1px solid @main-color);
    .center();
    // display: block;
  }
}
