.form {
  width: 100%;
  // border: 1px solid black;
  &__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    &--radio {
      display: block;
      margin-bottom: 2.5rem;
      @media @phone {
        margin-bottom: 0.5rem;
      }
    }
  }
  &__label {
    margin-bottom: 1rem;
    font-weight: 700;
    @media @phone {
      font-weight: 400;
    }
  }

  &__disclaimer {
    font-size: 1.3rem;
  }

  &__input {
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid @form-border-color;
  }

  &__select {
    height: 40px;
    background: @main-bg;
  }

  &__text-area {
    height: 135px;
  }

  &__submit {
    .btn-creator(@main-bg, @main-color, 34.1%, 1px solid @main-color);
    .center();
    @media @tablet {
      width: 100%;
    }
  }
}
