.futureDesign{
    display:flex;
    flex-direction: column;

    @media @desktop{
        flex-direction: row;
    }

    .futureDesign-img{
        width:100%;
        background-image: url('../img/home/home-mobile-img-2.png');
        background-size:cover;
        background-position: center;
        height:275px;
        margin-top:30px;
    
        @media @desktop {
            width: 50%;
            background-image: url('../img/home/home-img-2.png');    
        }
    }
    .futureDesign-txt{
        width: 100%;
        
        @media @desktop{
            width: 50%;
        }

        .futText-text{
            margin-top:30px;
            text-align: left;
    
            @media @desktop {
                text-align: left;
            }
        }        
    
    }
}

