* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 3.2rem;
}

.buttons{
    display:flex;
    justify-content: center;
    margin-bottom: 1rem;
    button{
        padding: 2rem;
        margin: 2rem 1.2rem 0 1.2rem;
        border-radius: 50%;
        background: transparent;
    }
}
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 0 1rem;
}

.column img {
    transition: .5s ease;
  backface-visibility: hidden;
  height: 30rem;
  margin: 1rem 0;
cursor: pointer;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.hover-effect{
    
    position: relative;
    
    &:hover img{
        opacity: 0.3;
    }

  
}

.modal{
    height: 100vh;
    width: 0vw;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;     
    background-color: rgba(46, 46, 46, 0.719);
    overflow-x: hidden; 
    transition: 0.5s; 
.mySlide{
    width: 80%;
    height: 80%;
    background: white;
    margin: 10rem auto;
    .bg-img-format();
}
.modalX{
    display: none;
    float: right;
    padding: 6rem;
    cursor: pointer;
}
}
