* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    .general-font-style;
}

//User Interface specifics:
.container {
    max-width: 885px; // Base width of 855 + 30 padding (15px L/R) from BS4
    border: 1px solid red;
    width: 100%;
    margin: auto;
}