* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto-Bold', cursive;
    letter-spacing: 1px;
    margin-bottom: 10px;

}

html {
    font-size: 62.5%;
}

h1{
    font-size: 1.6rem
}

// body{

// }

//User Interface specifics:
.container {
    max-width: @max-width;
    border: 1px solid red;
    width: 100%;
    margin: auto;
}