* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    .general-font-style;
}

.container{
    max-width: 885px;
    border: 1px solid red;
    width: 100%;
    margin: 0 auto;
}