@desktop: ~"(min-width: 768px)";
@phone: ~"(min-width: 576px)";
@watch: ~"(max-width: 575.98px)";

body {
  .general-font-style;
  display: flex;
  justify-content: center;
}

.container {
  // max-width: 855px;
  width: 855px;
  margin: 0 auto;
}
