html, body {
    font-size: 62.5%;
    background-color: @white;
    color: @blackish;
    font-family: @font-family;
    font-size: @font-size;
  }

.container {
    width: 855px;
}

.learn-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #222222;
    padding: .5rem 1rem;
  }