*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body{
    background:@bkgd;
    Color:@font-color;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.container {
    max-width: 102.4rem;
    width: 100%;
    margin: 0 auto;
}
.content-area{
    margin:0 8.4rem;
    @media @mobile{
        margin: 0;
        line-height:3rem;
    }
}
img{
    width:100%;
    height:auto;
}
h2{
    font-size:2.4rem;
}
.mobile-img{
    display:none;
    @media @mobile{
        display:block;
    }
}
@media @mobile{
    .desktop-img{
        display:none;
    }
}