html {
  font-size: 62.5%;
}

body {
  .general-font-style;
}

.container {
  width: 100%;
  max-width: 855px;
  margin: 0 auto;

  @media (max-width: 400px) {
    width: 72%;
  }
}

.desktop-img {
  display: block;

  @media (max-width: 400px) {
    display: none;
  }
}

.mobile-img {
  display: none;

  @media (max-width: 400px) {
    display: block;
  }
}
