* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html body {
  font-size: 1.6rem;
}

.container{
  max-width: 855px;
  margin: 0;
  z-index: 1;
  position: static;
}

.button {
  border: 1px solid black;
  text-align: center;
  // padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 137px;
  height: 47px;

  &:hover{
    background: black;
    color: @white;
  }
}
