* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html body {
  font-size: 1.6rem;
}

.container{
  max-width: 855px;
  margin: 0;
  z-index: 1;
  position: static;
}

.button {
  .button;
}
