html,
body,
.container {
    height: 100%;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    h1,
    h2,
    h3,
    h4 {
        font-weight: 700;
    }
}

h1 {
    font-size: 6.4rem;
    line-height: 7.5rem;
    @media @mobile {
        font-size: 3.4rem;
        line-height: 4rem;
    }
}

h2 {
    font-size: 2.8rem;
    color: @dark;
    @media @mobile {
        font-size: 2.4rem;
    }
}

h3 {
    font-size: 2.4rem;
}

.container {
    max-width: @large-max-width;
    width: 100%;
}

.jumbotron {
    .jumbotron('../img/home/home-jumbotron.png', '../img/home/home-mobile-jumbotron.png');
    h1,
    h2,
    h3,
    h4 {
        color: @white;
    }
    nav {
        display: none;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner {}

header,
.banner {
    padding: 22px 8.4% 48px;
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    padding-top: 66px;
    display: flex;
    flex-wrap: wrap;
    color: @white;
    background-color: @dark-gray;
    .email {
        padding-left: 8.3%; 
        width: 33.33%;
        input {
            font-size: 1.8rem;
            height: 42px;
            width: 100%;
            min-width: 150px;
            .rounded-border;
            color: lighten( @dark-gray, 10%);
        }
    }

    .fine-print {
        font-size: 1.2rem;
    }
    .locations {
        width: 66.67%;
        display: flex;
        justify-content: space-between;
        padding-right: 8.3%;
        padding-left: 5.3%;
    }
    h3 {
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 2.4rem;
    }
    p {
        font-size: 1.4rem;
        line-height: 2.6rem;
    }

    .copyright {
        padding-top: 38px;
        width: 100%;
        display: flex;
        justify-content: center;

        input {
            padding-left: 0.8%;
        }
    }
}