// General Styles

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-size: 62.5%;
  background-color: @background-color;
}

h1 {
  font-weight: 700;
  font-size: 2.8rem;
  color: @off-black;
}

h2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: @off-black;
}
h3 {
  font-weight: 700;
  font-size: 2.2rem;
  color: @off-black;
}

p {
  .general-text;
}

.navigation-container {
  z-index: 1;
  display: flex;
  max-width: 1024px;
  width: 100%;
  position: fixed;
  margin: auto;
  top: -4px;
  left: 8.35%;
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 7rem;
  color: @white;
  .company {
    margin-top: 4px;
  }
  .hamburger {
    z-index: 2;
    display: flex;
    height: 21px;
    width: 32px;
    margin-top: 29px;
    margin-left: 76.3%;
  }
  .hambutton {
    z-index: 10;
  }
}

button {
  border-color: @off-black;
  padding: 16px 3.447%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
}

.overlay {
  z-index: 20;
  background: #9da7b1;
  height: 100vh;
  width: 100vw;
  position: fixed;
  opacity: 0.95;
  overflow: hidden;
  display: block;
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 7rem;
  color: @white;

  .overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

    nav {
      display: flex;
      flex-direction: column;

      a {
        margin-bottom: 30px;
      }
    }
  }
  .overcompany {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0px;
    left: 86px;
  }
  .close-btn {
    width: 45px;
    height: 45px;
    position: absolute;
    font-size: 3rem;
    top: 0px;
    right: 64px;
  }
}
