.container {
    max-width: 855px;
}

.menu-content {

    .nav {

        .popup {
            display: none;
        }

        .hamburger {
            width: 100%;
            height: 20px;
            margin: 15px 69px;
            font-size: 1.25rem;
            color: @background;
            font-weight: 700;
            display: flex;
            justify-content: space-between;
        }
    }
}

.jumbo-home {

    img {
        width: 825px;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    .jumbo-header {
        .jumbo-head;
        margin-top: 210px;
        margin-left: 68px;
    }
}