.container {
    max-width: 855px;
}

.footer {
    background-color: #828282;
    color: @background;
    height: 204px;
    padding-left: 8%;
    padding-top: 54px;

    .main-content {
        display: flex;

        form {
            margin-top: 18px;

            input {
                padding: 7px 10px;
                padding-right: 87px;
                font-size: 0.75rem;
                border: 0px;
                border-radius: 5px;
            }

            small {
                font-size: 0.65rem;
            }
        }

        .location {
            margin-left: 7%;

            ul {
                font-size: 0.75rem;
                line-height: 23px;
            }
        }
    }

    .copyright {
        display: block;
        text-align: center;
        font-size: 0.558rem;
        margin-top: 24px;
        margin-left: -9%;
    }
}