* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: auto;
}

html body {
    font-family: 'Roboto', Arial, sans-serif;
}

h2 {
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 15px;
}

h3 {
    font-size: 2.3rem;
    padding-bottom: 10px;
    font-weight: bold;
}

p {
    font-size: 1.6rem;
    line-height: 24px;
}

.container {
    max-width: @max-width;
    width: 100%;
    margin: 0 auto;
}

a {
    font-weight: bold;
    color: @nav-color;
    text-decoration: none;
    display: none;
}