//Global styles go here

* {
  box-sizing:border-box;
}

html {
//conversion of 1rem == 10px here
font-size: 62.5%;
}

html, body {
  font-family: 'Roboto', 'Arial', sans-serif;
  background-color: #FFFFFF;
  color: #222222;
}

h1 {
  font-size: 6.4rem;
}
