* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // max-width: 1024px;
  }
  
  h1 {
    font-size: @h1FontSize;
  }
  
  h2 {
    font-size: @h2FontSize;
    font-weight: 700;
    margin-bottom: 3%
  }
  
  p {
    font-size: @pFontSize;
    margin-bottom: 3%;
    // padding: 0.25%;
    line-height: 150%;
  }
  