* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #ffffff;
  color: #222222;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 24px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  font-size: 1.6rem;

  @media @phone {
    max-width: 500px;
  }
}

.jumbotron {
  position: relative;

    h1 { 
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #ffffff;
    position: absolute;
    bottom: 50px;
    left: 7.5%;

    @media @phone {
      font-size: 40px;
      line-height:  50px;
      left: 3%;
      bottom: 10px;
    }

}
    img {
      width: 100%;
      height: auto;
    }

}
