* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  html, body {
    font-family: @font-family;
    color: @font-color;
  }

  section {
    display: block;
  }
  
  h1 {
    font-size: 6.4rem;
    font-weight: bold;
    line-height: 7.5rem;
    color: @white;
  }
  
  h2 {
    font-size: 2.4rem;
    font-weight: bold;
  }
  
  h4 {
    font-size: 20px;
    font-weight: bold;
  }
  
  p {
    line-height: 2.4rem;
    font-size: 1.6rem;
  }

  button:focus {
    outline:0;
  }
  
  a {
    font-size: 1.6rem;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .container {
    max-width: 1024px;
    width: 96%;
    margin: 0 auto;
  }

  .reverse-wrap {
    flex-direction: row-reverse;
}
