* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 24px;
    //background-color: black;
    color: #222222;


}
  
  h1, h2, h3, h4, h5 {
    font-family: 'Roboto', Arial;
  }

    /* Jumbotron Headers */
  h1 {
    font-size: 2.0rem;
    color: #FFFFFF;
    line-height: 65px;
    font-weight: bold;
  }

    /* Sub Headers */
  h2 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #222222;
    /* padding-bottom: 10px; */
  }

    /* Footer Headings */
  h3 {
    font-size: 20px; 
    line-height: 2.4rem;
    color: #FFFFFF;
  }
  
  p {
    line-height: 2.4rem;
    font-size: 18px;
    /* padding-bottom: 10px; */
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  @mobile: ~"(max-width: 320px)";
  /* .container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  } */
  
 /*    @media @mobile {
      width: 90%;
      margin: 0 5%;
    } */
  
  