* {
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #FFFFFF;
    color: #222222;


}
  
  h1, h2, h3, h4, h5 {
    font-family: 'Roboto', Arial;
  }

    /* Jumbotron Headers */
  h1 {
    font-size: 20px;
    color: #FFFFFF;
    line-height: 75px;
    font-weight: bold;
  }

    /* Sub Headers */
  h2 {
    font-size: 28px;
    font-weight: bold;
    color: #222222;
    font-size: 28px;
    /* padding-bottom: 10px; */
  }

    /* Footer Headings */
  h3 {
    font-size: 20px; 
    line-height: 24px;
    color: #FFFFFF;
  }
  
  p {
    line-height: 24px;
    font-size: 16px;
    /* padding-bottom: 10px; */
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  
    @media @mobile {
      width: 90%;
      margin: 0 5%;
    }
  }
  