html {
  background-color: black;
  .container {
    margin: auto;
    background-color: white;
    width: 1024px;
    .mobile-img {
      display: none;
    }
    @media (max-width: 400px) {
      width: 100%;
      .mobile-img {
        display: inherit;
      }
      .desktop-img {
        display: none;
      }
    }
  }
}
