.topbar {
    display: flex;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: @header-gray;
    max-width: 1024px;
    .topbar-h1 a {
        text-decoration: none;
        color: @altfont-color;
        font-weight: bold;
        font-size: 2.4rem;
    }
    .menu-button {
        
    }
}
.menu {
    display: none;
}
