.container{

    .homepage-header{
        width: @100perWidth;
        height: 600px;
        margin: 65px auto 100px auto;  
        background: url("../img/home/home-jumbotron.png")  no-repeat left top;
        background-position: left 0px bottom 0px;
        background-size: 100% 100%;
        display: flex;
    
        .h1-container{
            max-width: @maxWidth;
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;
        }
    
        h1{
            width: 50%;
            margin-bottom: 100px;
            .generalFonts(@jumboFontSize, @jumboColor, @fontBold, @jumboLineHeight);
        }
    }
}




