header {
  width: 100%;
  position: fixed;
  .container(1024px);
  @media @mobile{
    max-width: 320px;
  }
  .header-contents {
    background: @headerBG;
    z-index: 100;
    opacity: .9;

    padding: 14px 85px;
    .flex(row, space-between, center);
    @media @mobile{
      padding: 14px;
    }
    h1 {
      font-size: 2.4rem;
      letter-spacing: 0.11rem;
      color: @colorBG;
    }
    .nav{
      cursor: pointer;
    }
  }
}
    .nav-items {
      display: none;
    }
    .active{
      .flex(column, flex-start, center);
      position: fixed;
      background: @headerBG;
      width: 100vw;
      height: 100vh;
      opacity: .9;
      padding: 164px 0;
      @media @mobile{
        padding: 97px 0;
      }
      .nav-item{
        text-decoration: none;
        font-weight: bold;
        font-size: 4.8rem;
        color: @colorBG;
        line-height: 8.5rem;
        width: 13%;
        @media @mobile{
          width:39%;
        }
        &:hover{
          color: @colorDefault;
        }
      }
    }
footer {
  background: @footerBG;
  color: @colorBG;
  @media @mobile{
    margin: 62px 0 0;
  }
  .row {
    padding: 62px 60px 0 82px;
    .flex(row, space-between, stretch);
    @media @mobile{
      flex-direction: column;
      padding: 23px 15px;
      
    }
    .form {
      margin-right: 12px;
      width: 33%;
      @media @mobile{
        width: 100%;
        margin-bottom: 8px;
      }
      #email {
        width: 90%;
        font-size: 1.6rem;
        padding: 12px 8px 8px;
        border-radius: 5px;
        margin: 10px 0;
        @media @mobile{
          margin: 18px 0 14px;
          padding: 15px 7px 12px;
        }
      }
      p {
        font-size: 1.2rem;
        margin: 2px;
        letter-spacing: 0.04rem;
        @media @mobile{
          margin: 0;
        }
      }
    }
    h4 {
      font-size: 2rem;
      line-height: 1.2;
      letter-spacing: 0.002rem;
    }

    .address {
      width: 18%;
      @media @mobile{
        width: 100%;
        margin: 17px 0 0;
      }
      p {
        font-size: 1.4rem;
        margin: 11px 0;
      }
    }
  }
  .copyright {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    padding: 30px 0 20px;
    @media @mobile{
      text-align: left;
      padding: 11px 14px 25px;
    }
  }
}
