.header{
    position: fixed;
    top: 0;
    z-index: 1;
    height: 50px;
    width: 100%;
    background-color: @header-bgcolor;

    @media @mobile{
        max-width: 320px;
    }

    .container{
        .flex-box(row, space-between, center);
        height: 100%;
    }

    .topnav{
        .flex-box(row, space-between, center);
        margin: 0 auto;
        width: 83.5%;

        @media @mobile{
            width: 91.5%;
        }
    }

    .logo{        
        font-weight: bold;
        font-size: 2.4rem;
        color: #ffffff;
    }

    button{
        cursor: pointer;
        background-color: transparent;
        border: none;
        height: 22px;
        width: 31px;
        background-image: url(../img/nav-hamburger.png);
        background-position:left;
        background-size: fill;
        background-repeat: no-repeat;


    }
    .navbar{
        display: none;
        z-index: 2;

        a{
            font-weight: bold;
            font-size: 4.8rem;
            line-height: 8.5rem;
            color: #ffffff;

            &hover{
                color: @main-font;
            }
        }
    }

}

.footer{
    margin-top: 95px;

    @media @mobile{
        margin-top: 50px;
    }
    
    .container{
        background-color: @footer-bgcolor;
        color: @header-bgcolor;
        font-size: 1.4rem;
        line-height: 2.6rem;
        color: @footer-font;
        .flex-box(column, center, space-between);
        height: 250px;
        padding: 0 83px;

        @media @mobile{
            .flex-box-mobile(column);
            height: 100%;
            padding: 0 14px;
        }
    }

    .top-section{
        .flex-box(row, space-between, center);
        margin-top: 56px;

        @media @mobile{
            .flex-box-mobile(column, flex-start, flex-start);
            margin-top: 24px;

            ul{
                 margin-top: 23px;
            }
            
        }
    }

    .form-footer{
        .flex-box(column);        
    }

    form{
        .flex-box(column, center, flex-start);

        h3{
            margin-bottom: 13px;

            @media @mobile{
                margin-bottom: 17px;
            }
        }
        input{
            padding: 12px 8px;
            width: 100%;

            @media @mobile{
                padding: 15px 8px;
                margin-bottom: 8px;
            }

        }
    }

    .copyright {
        width: 94%;
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 1.2rem;
        margin-top: 28px;

        @media @mobile{
            justify-content: flex-start;
            padding-bottom: 25px;
        }
    }
}