.container{

    .homepage-header{
        max-width: @maxWidth;
        width: @100perWidth;
        height: 598px;
        margin: 65px auto 50px auto;  
        background: url("../img/home/home-jumbotron.png")  no-repeat left top;
        background-size: @100perWidth @100perWidth;
        .flexing-boxes;

        @media(max-width: @mobileBreak800) and (min-width: @mobileBreakMin600){
            // max-width : @mobileBreak800min; 
            height: 400px; 
        }


        @media(max-width: @mobileBreak450){
            height: 300px;
        }
    
        .h1-container{
            max-width:@contentMaxWidth;
            width: @100perWidth;
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;

            @media(max-width: @mobileBreak800) and (min-width: @mobileBreakMin600){

            max-width : @mobileBreak800min;  

            }   

            @media(max-width: @mobileBreak450){
                max-width: @mobileMaxWidth;
            }
        }
    
        h1{
            width: 50%;
            margin-bottom: 100px;
            .generalFonts(@jumboFontSize, @jumboColor, @fontBold, @jumboLineHeight);
            @media(max-width: @mobileBreak800) and (min-width: @mobileBreakMin600){
                
                margin-bottom: 50px;
                .generalFonts(@jumboFontSize, @jumboColor, @fontBold, @jumboLineHeight);
    
                } 

            @media(max-width: @mobileBreak450){
                width:  @100perWidth;
                margin-bottom: 30px;
                align-items: flex-start;
                .generalFonts(@jumboMobileFontSize, @jumboColor, @fontBold, @jumboMobileLineH);
            }
        }
    }
}



.services-container{
    .services-header{
        max-width: @maxWidth;
        width: @100perWidth;
        height: 250px; 
        margin: 0 auto 50px auto;
        background: url("../img/services/services-jumbotron.png")  no-repeat left top;
        background-size: @100perWidth @100perWidth;
        .flexing-boxes;

        .h1-container{
            max-width: @contentMaxWidth;
            width: @100perWidth;
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;
        }
    
        h1{
            width: 50%;
            margin-bottom: 30px;
            .generalFonts(@jumboFontSize, @jumboColor, @fontBold, @jumboLineHeight);
        }

    }
}
