.header-container{
    color: white;
    background-color: #98A4AF;

    .header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    h3{
      padding: 10px 0 10px 3%;
    }

    .menu-button{
      padding: 18px 3% 18px 0;
      cursor: pointer;
    }
  }
}





