


@media @mobile {
    .top-img-header {
        .header-img{
            display: none;
        }
        .mobile-header{
            display:flex;
            width:100%;
        }
    h1{
        top:100px;
    }
} // jumbotron

   .top-content {
       display:flex;
       flex-direction: column;
       justify-content: center;
       width:100%;

       button {
        width:100%;
    
       }

       .top-text{
        margin-top: 20px;
        padding-left: 45%;
        width:100%;
        text-align: center;
       
       }
        .img-content {
            display: none;
           }
       .img-mobile{
           display: flex;
           order: -1;
       }

   } //top-content
  
   .top-content1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;

    button {
        width:100%;
       }
    .bottom-text {
        margin-top: 20px;
         padding-right: 15%;
        width:100%;
        text-align: center;
    }
   .img-content{
    display:none;
    }

    .img-mobile1{
        display: flex;
        
    }

   } //top-content1

.middle-content {
    display:flex;
    flex-direction: column;
    width:100%;
    .midImg {
        display: none;
    }

    .midMobile {
        display: flex;
        width:100%;
    }

    .custom-index {
        width:100%;
        .mobile-index;
    }

    .inverse {
        width:100%;
        .mobile-index;
        
        
    }

} // middle-content

.footer-section {
    display: flex;
    flex-direction: column;
    width:100%;
  
    .forms {
        input {
            width:100%;
            padding: 15px 0;
            font-size: 1.5rem;
            margin: 10px 0;
        }
    }

    .footers {
        margin-top: 20px;
        text-align: left; 
        padding-right: 70%;
    }
    
} //footer-section





} //media query