.home-buttons {
    text-decoration: none;
    border: 1px solid black;
    color: black;
    padding: 10px;
    font-size: 1.6rem;
    align-self: flex-start;
    margin-top: 20px;
}

// mobile

@media (max-width: 500px) {
    .home-buttons {
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
}