.jumbotron{
    position: relative;
    
    .jumbotron-img{
        width: 100%;
    }
    

    header{
        position: absolute; 
        transform: translate(60px, -285px); 
        font-size: 6.4rem;
        font-weight: bold;
        line-height: 7.6rem; 
        color: #FFFFFF;

        @media(max-width: 600px){
            font-size: 3.2rem; 
            line-height: 1.2; 
            transform: translate(30px, -140px); 
        }
    }
}

.container-2{
   padding: 50px 70px; 

    @media(max-width: 400px){
        padding: 15px; 
    }
.row1{ 
    .section-align;
    line-height: 1.3; 

    @media(max-width: 600px){
        flex-wrap: wrap-reverse; 
        justify-content: center;  
    }

    .row-image{ 

        @media(max-width: 400px){
            width: 315px; 
       }
    }
    .smith-sons{
        width: 47%;
        .content-align;

            @media(max-width:600px){
                width: 100%; 
                padding: 12px;  
            }

            @media(max-width: 400px){ 
                width: 100%; 
                padding: 13px;  
            }
        
        h1{
            font-weight:bold;
            padding-bottom: 12px; 

                @media(max-width:400px){
                    width: 100%;  

                }
            }

        .button1{
           .button-1; 

            @media(max-width: 400px){
                width: 90%; 
            }
        }
    }
}

.row2{
    padding-top: 80px; 
    .section-align; 
    flex-direction: row-reverse; 
    line-height: 1.3; 

        @media(max-width: 400px){ 
            flex-wrap: wrap-reverse; 
            justify-content: center; 
            padding-top: 20px; 
        }

        .row-image{
            @media(max-width: 400px){
                width: 315px; 
           }
        }

    .futuristic-designs{
        width: 47%;  
        .content-align;

        @media(max-width: 819px){
            padding-bottom: 40px; 
            width: 100%; 
            padding-left: 12px; 
        }

        

        h1{
            font-weight: bold; 
            padding-bottom: 20px; 

                @media(max-width: 400px){
                    padding-top: 15px; 
                    width: 100%; 
                }
        }
        
        .button1{
            .button-1; 

                @media(max-width: 400px){
                    width: 89%; 
                }
        }
    }
}   
} 
.row3{ 
    padding-top: 40px;  
    width: 90%; 
    margin: auto; 

        @media(max-width: 400px){
            width: 100%; 
            padding: 0px; 
        }

    .row3-title{
        padding-bottom: 50px; 
        font-weight: bold; 

        @media(max-width: 400px){
            padding-bottom: 20px; 
            padding-left: 15px; 
        }
    }

    
        .row3-img{
            width: 100%; 
            
            @media(min-width: 400px){
                width: 100%;
            }
        }
    

    .the-villas{ 
        .flex; 
        justify-content: flex-end; 

        .villa-banner{
            .image-banner; 
            letter-spacing: 7px;  

                @media(max-width: 400px){
                    transform: translate(0px, -25px);
                     width: 95%; 
                    margin: auto; 
                }
        }
    }

    .row3-content{
        .flex; 
        justify-content: center;
        align-items: center;

        p{
            width: 50%; 
            font-size: 1.7rem; 
            line-height: 1.4; 
            padding-bottom: 80px; 

            @media(max-width: 600px){
                width: 100%; 
                padding: 10px; 
            }
        }
    }
}

.row4{
    width: 90%; 
    margin: auto; 

    @media(max-width: 400px){
        padding-top: 20px; 
        width: 100%; 
    }

    .row4-img{
        width: 100%; 

        @media(max-width: 400px){
            height: 200px; 
        }
    }

    .outskirts{
        .flex;  
        }

        .outskirts-banner{
          .image-banner; 
          letter-spacing: 7px; 

          @media(max-width: 400px){
            transform: translate(0px, -25px);
            width: 95%;
            margin: auto; 
         }
    }
    
    .row4-content{
        .flex; 
        justify-content: center;
        align-items: center; 

         p{
            width: 50%; 
            font-size: 1.7rem; 
            line-height: 1.4; 
            padding-bottom: 80px; 

            @media(max-width: 600px){
                width: 100%; 
                padding: 10px; 
            }
        }
    }
}
.row5{   
     width: 90%; 
     margin: auto; 

     @media(max-width: 400px){
        padding-top: 20px; 
        width: 100%; 
    }

    .row5-img{
        width: 100%; 

        @media(max-width: 400px){
            height: 200px; 
        }
    }

    .the-blocks{
        .flex;  
        justify-content: flex-end; 
        }

        .blocks-banner{
          .image-banner; 
          letter-spacing: 7px; 

          @media(max-width: 400px){
            transform: translate(0px, -25px);
            width: 95%;
            margin: auto; 
         }
    }
    .row5-content{
        .flex; 
        justify-content: center;
        align-items: center; 

         p{
            width: 48%; 
            font-size: 1.7rem; 
            line-height: 1.4; 
            padding-bottom: 80px; 

            @media(max-width: 600px){
                width: 100%; 
                padding: 10px; 
                padding-bottom: 60px; 
            }
        }
    }
}

.general-text-p{
    .general-text; 
}


