.page-container {
    .top-img {
        position: relative;
        text-align: center;
        color: white;
        
        .main-page {
            position: absolute;
            bottom: 8px;
            left: 16px;
        }
    }
}
