


body {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    
    .mainSection {
        padding: 0 60px 0 60px;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        background-color: rgb(148, 162, 165);
        justify-content: space-between;
        align-items: center;
        justify-items: center;
        position: fixed;
        width: 100%;
        max-width: 800px;
        z-index: 1;

        .header-text {
            color: white;
            font-weight: bold;
            margin: 5px 0 5px 70px;

        }

        .nav {
          display: none;
          
        }

        img {
            margin: 10px 70px 10px 0;
        }
    }
    button {
        background-color: white;
        padding: 10px;
        border: 1.5px solid gray;
        width: 150px;
        margin-top: 30px;
        
        
        
    }

    .services {

        .header {

            h1 {
                color: white;
                position: absolute;
                top: 13%;
                left: 15%;
                font-size: 36px;
                font-weight: bolder;
            }
    }


   

  
}
.secondSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0 90px 0;
    // justify-content: space-between;
    width: 100%;
    max-width: 800px;

    
   

    .secondPara {
        
    width: 48%;
    padding-right: 20px;

    p {
        line-height: 18px;
    }


    }

    .secondImg {
        width: 48%;
        margin-right: 0;
        padding-left: 2px;
        
        
        .const {
            width: 100%;
        }
    
    }
}

.firstSection{
    margin-top: 20px;

    p {
        line-height: 18px;
    }
}

.secondSectionHeading {
    margin-top: 40px;
}

.servicesJumbo {
    // .jumbo();
    width: 100%;
    max-width: 800px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
     
}



}