.image-container {
    background-image: url(../img/home/home-jumbotron.png);
    height:597px;
    background-position-y: 95%;

    h1 {
        font-size:6.4rem;
        color: #ffffff;
        padding-top: 31.5%;
        padding-left: 8%;
        line-height: 75px;
        font-family: 'Roboto';
    }
}// image container 


.content {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    font-family: 'Roboto';
    width:87%;
    margin:0 auto;
    .content-card{
        width:46%;
        margin: 6% auto;
        margin-bottom: 4.7%;
     }

    .content-text {
        padding:5% 0%;
        h1 {
            font-size:2.4rem;
        }
        p {
            padding-top:6%;
        }

        button {
            background: #ffffff;
            font-size:1.6rem;
            margin-top: 5%;
            padding: 3%;
        }
    }
}// content


@media(max-width:500px){

    .image-container{
        width:100%;
        height:320px;
        background-size:100%;
        background-repeat: no-repeat;
        height:100%;
        h1{
            padding-top:34%;
            font-size:3.8rem;
            padding-left:5%;
            background-position-y: 0%;
            line-height: 50px;
            padding-bottom:3%;
        }
    }
     .content {
         width:100%;
         flex-direction: column;

         .inversedContent {
            display:flex;
            flex-direction:column-reverse;
        }
         .content-text{
            margin:0 auto;
        }
        .content-card{
             width: 95%;
             img{
                width:100%;
                margin:0 auto;
             }
            button {
                 width:100%;
             }
         }
     }
}
