@import "mixins.less";
@import "variables.less";
//NAVBAR-----------------------------------------------------------------------
.container {
    .general-style;
    .general-text;
    .centered-max-width(950px);

    img {
        max-width: 100%;
    }

    .navbar {
        .flex-justify-align(space-between, stretch);
        color: white;
        font-weight: bold;
        padding: 1.25% 5%;
        background-color: #99a4af;
        position: sticky;
        top: 0;

        .navbar-logo {
            font-size: 24px;
        }

        .navbar-menu {
            display: none;
            ul {
                display: flex;
                flex-direction: column;
                margin-top: 80%;
            }
        }

        .navbar-link {
            color: white;
            text-decoration: none;
            font-size: 48px;
            line-height: 85px;
        }

        .navbar-link:hover {
            color: #222222;
        }
    }

    //INTRO SECTION---------------------------------------------------------------------

    .home-jumbotron-div {
        .flex-justify-align(stretch, flex-end);
        .background-images('../img/home/home-jumbotron.png');
        height: 598px;
        @media @phone {
            .background-images('../img/home/home-mobile-jumbotron.png');
            background-size: cover;
            height: 320px;
        }

        .home-jumbotron-text {
            .jumbotron-text-style;
            margin-left: 5%;
            margin-bottom: 5%;
        }

    }

    //SERVICES SECTION-----------------------------------------------

    .home-SJ, .home-future {
        //Make them into a row
        .flex-justify-align(space-between, stretch);
        padding: 2.5% 2.5%;
        @media @phone {
            flex-direction: column-reverse;
            align-items: center;
            margin-top: @margin-top-value;
        }
        .home-info {
            //Positions the info header, text and button
            .flex-justify-align(space-evenly, stretch);
            width: 47.5%;
            flex-direction: column;

            @media @phone {
                width: 100%;
                height: 250px;
            }
            .home-info-button {
                .button-style;
                @media @phone {
                    width: 100%;
                }
            }
        }

        .home-info-img-div {
            width:47.5%;
            @media @phone {
                display: none;
            }
        }

        .home-info-img-mobile-div {
            display: none;
            @media @phone {
                display: block;
                width: 100%;
            }
            .mobile-image {
                width: 100%;
                height: auto;
            }
        }
    }

    .home-future {
        flex-direction: row-reverse;
        @media @phone {
            flex-direction: column-reverse;
        }
    }

    //RECENT PROJECTS-----------------------------------------------

    .home-projects {
        padding: 0 @padding-left-right;
        .centered-max-width(855px);
        margin-top: 2*@margin-top-value;
        .home-projects-div {
            margin-top: @margin-top-value;

            .home-project-title {
                .flex-justify-align(center, center);
                background-color: #D8D8D8;
                width: 35%;
                font-size: 32px;
                height: 60px;
                @media @phone {
                    width: 95%;
                    margin-top: 50%;
                }
            }
            .home-project-content-div {
                .centered-max-width(600px);
                margin-top: @margin-top-value;
                @media @phone {
                    width: 95%;
                }
            }
        }
    }

    //FOOTER-----------------------------------------------------------
    .footer {
        font-size: 14px;
        line-height: 26px;
        color: #FFFFFF;
        background-color: #828282;
        margin-top: @margin-top-value;
        padding: 2.5% 2.5% 2.5% 2.5%;

        .footer-container {
            .flex-justify-align(space-between, stretch);
            .centered-max-width(855px);
            @media @phone {
                flex-direction: column;
                padding: 2.5% 5%;
            }
            .footer-header {
                font-size: 20px;
                line-height: 24px;
            }

        }
        .copyright {
            text-align: center;
        }
    }
}

.villa-header-div {
    .background-images("../img/home/home-villas-img.png");
    .flex-justify-align(flex-end, flex-end);

    @media @phone {
        .project-mobile-img-style;

    }
}

.outskirts-header-div {
    .background-images("../img/home/home-outskirts-img.png");
    .flex-justify-align(stretch, flex-end);
    @media @phone {
        .project-mobile-img-style;
    }
}

.blocks-header-div {
    .background-images("../img/home/home-the-blocks-img.png");
    .flex-justify-align(flex-end, flex-end);
    @media @phone {
        .project-mobile-img-style;
    }
}

