.CTA {
    position: relative;
    img {
    }
    p {
        position: absolute;
        font-weight: @jt-font-weight;
        font-size: @jt-font-size;
        color: @jt-font-color;
        bottom: 50px;
        left: 82px;
        line-height: @jt-line-height;
    }
}
.IntroContent {
    .either-flex(row, space-between);
    margin: 50px 85px;
    img {
        width: 125%;
    }
    h1, h2 {
        font-size: @intro-font-size;
        line-height: 6rem;
    }
    p {
        margin-right: 10px;
    }
    .btn {
        .button(45px, 135px)
    }
}
.IntroContent2 {
    margin-top: 100px;
    img {
        width: 135%;
    }
}
.FuturisticDesigns {
    margin-left: 30px;
}
