h2 {
    font-size: 1.6rem;
    font-weight: bold;
    color: @main-articles-font-color;
    margin: 30px 0;
}

p {
    font-size: 1rem;
    color: @main-articles-font-color;

}

.header-content {
    position: relative;
}


.header-img {
    width: 100%;
}



.jumbotron-text {
    position: absolute;
    z-index: 1;
    bottom: 80px;
    left: 75px;
    color: @header-font-color;
    font-size: 4rem;
    font-weight: bold;
    line-height: 75px;

}

.article {
    margin: 40px auto;
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid red;
    justify-content: space-between;
    width: 80%;

    .article-img {
        max-width:50%;
        border: 1px solid blue;
    }
    .article-box {
        max-width: 50%;
        border: 1px solid red;
        align-self: center;

        // h2 {
        //     margin: 20px 0;
        // }
        button {
            .sexy-btn(170px, 60px, white, @main-articles-font-color);
        }
    }
    
    
}
.shiftDirection {
    flex-direction: row;
}

.recent-proj {
    margin: 40px auto;
    // display: flex;
    // flex-direction: column;
    border: 1px solid red;
    // justify-content: space-between;
    width: 80%;


    .projects {



        .projects-header {
            max-width: 100%;
            position: relative;


            .projects-img {
                max-width: 100%;
                
            }
            .projects-overlay {
                
                width: 290px;
                height:80px;
                background: #D8D8D8;
                color: #000000;
                font-size: 1.6rem;
                display: flex;
                justify-content: center;
                align-items: center;
                letter-spacing: .4rem;
                text-transform: uppercase;
                position: absolute;
                right: 0;
                bottom: -50px;
                border: 1px solid white;
            }
        }
        .projects-text {
            border: 1px dotted red;
            margin: 100px auto;
            
            width: 42%;
            p {
                margin: 20px auto;
                border: 1px solid red;
                font-size: 1.1rem;
            }
        }
        



    }
}