// Home Page styles
@import "global.less";
@import "variables.less";
@import "mixins.less";

.main {
    position: absolute;

    .home {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .jumbotron {
            width: 100%;
            display: flex;
            align-items: flex-end;

            img {
                width: 100%;
                position: relative;
                align-self: center;
                margin-left: 15px;
            }

            h2 {
                position: absolute;
                z-index: 2;
                margin-left: 9.5%;
                padding-bottom: 5%;
            }

            .jumbo-mobile {
                display: none;
            }

        } //.jumbotron

        .top-content {
            background: blue;
            
            .intro {
                background: purple;
                border: 2px solid magenta;   
            }


            .designs {
                background: purple;
                border: 2px solid magenta;
            }

            //Mobile Images

            .img-1-mobile {
                display: none;
            }

            .img-2-mobile {
                display: none;
            }

        }//.top-content


        .bottom-content {
            background: darkred;

            .projects {
                background: darkorange;

                h3 {
                    background: goldenrod;

                }//.projects h3

                .block {
                    background: darkgreen;
                    
                    .overlay {
                        background: darkblue;
                        border: 2px solid darkmagenta;

                        .mobile {
                            display: none;
                        }
                    }

                    .text-content {
                        background: darkorchid;
                        border: 2px solid darkmagenta;
                    }

                } //.block

            }//.projects
        }//.bottom-content
    } //.home
}