.hero {
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  @media @phone {
        max-width: 480px;
        margin: 0;
      }
  img{
    display: block;
    max-width:100%;
    max-height:100%;
    width: 100%;
    height: 600px;
    padding-top: 20px;
    margin-bottom: 50px;
    @media @phone {
        max-width: 480px;
        height: auto;
        margin: 0;
        padding: 0;
        padding-top: 58px;
      }
  }
  .ourMotto {
    position: absolute;
    text-align: start;
    top: 5.5em;
    left: 1.3em;
    .JumbotronHeader;
    @media @phone {
      font-size: 3.9rem;
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
      font-weight: normal;
      line-height: 61px;
      top: 123px;
      left: 19px;
      margin: 0;
      padding: 0;
    }
  }
}

.textOne {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5em;
  padding: 0;
  .pushText{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    @media @phone {
    order: 2;
    max-width: 480px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
    h3 {
      .SubHeaders;
      display: block;
      margin-bottom: 15px;
      @media @phone {
      }
    }
    p {
      padding: 5px 0;
      .GeneralText;
    }
    .button {
      .Button;
      justify-content: flex-start;
      .GeneralText;
    }
  }
  .imgOne {
    background-image: url(/img/home/home-img-1.png);
    width: 50%;
    height: 270px;
    overflow: hidden;
    background-repeat: no-repeat;
    @media @phone {
      background-image: url('../img/home/home-mobile-img-1.png');
        order: 1;
        // overflow: hidden;
        width: 500px;
        background-repeat: no-repeat;
        height: 100%;;
        margin: 0;
        padding: 30px 0;
      }
  }
  .imgTwo {
    background-image: url(/img/home/home-img-2.png);
    width: 50%;
    height: 270px;
    overflow: hidden;
    background-repeat: no-repeat;
  }
  @media @phone {
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0;
    padding: 0;
  }
}

.midSectionOne {
  position: relative;
  padding-top: 2em;
  @media @phone {
    max-width: 480px;
    margin: 0;
    padding: 0;
  }
  h3{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 2.8rem;
    margin-bottom: 1.2em;
  }
  .theVillasImg {
    background-image: url(/img/home/home-villas-img.png);
    width: 855px;
    height: 230px;
  }
  .theVillas {
    right: 0em;
    .FloatingText;
    @media @phone {
    max-width: 480px;
    margin: 0;
    padding: 0;
  }
  }
  .theOutSkirtsImg {
    background-image: url(/img/home/home-outskirts-img.png);
    width: 855px;
    height: 230px;
  }
  .theOutskirts {
    left: 0em;
    .FloatingText;
    top: 8em;
    @media @phone {
    max-width: 480px;
    margin: 0;
    padding: 0;
  }
  }
  .theBlocksImg {
    background-image: url(/img/home/home-the-blocks-img.png);
    width: 855px;
    height: 230px;
  }
  .theBlocks {
    right: 0em;
    .FloatingText;
    top: 8em;
    @media @phone {
    max-width: 480px;
    margin: 0;
    padding: 0;
  }
  }
  img {
    margin-bottom: 0;
    @media @phone {
        max-width: 480px;
        height: auto;
        margin: 0;
        padding: 0;
      }
  }
  .midText {
    width: 100%;
    padding: 8% 26.2%;
    margin: 0 auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    p {
      .GeneralText;
      margin-bottom: 10px;
      font-weight: normal;
    }
  }
}
