// Home Page styles
@import "global.less";
@import "variables.less";
@import "mixins.less";

.main {
    position: absolute;
  //  @media @phone {
    //    max-width: 400;
    //}

    .home {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: -5%;
        @media @phone {
            flex-wrap: column-wrap;}

        .jumbotron {
            width: 100%;
            display: flex;
            align-items: flex-end;
            @media @phone {
                justify-content: flex-start; }

            img {
                position: relative;
                align-self: center;
            }

            h2 {
                position: absolute;
                z-index: 2;
                margin-left: 8%;
                padding-bottom: 5%;
                @media @phone {
                    font-size: 3.5rem;
                    line-height: 4rem;
                    margin-left: 5%;
                    padding-bottom: 8%;
                   
                    }
            }
            
            .jumbo-desk {
                position: relative;
                align-self: center;
                width: 100%;
                @media @phone {
                    display: none; }
            }

            .jumbo-mobile {
                display: none;
                width: 100%;
                @media @phone {
                    display: flex;
                width: 100%;
            margin-top: 5%; } 
            }

        } //.jumbotron

        .top-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 5% 0 5% 0;
            @media @phone {
                flex-wrap: column-wrap;
                width: 100%;
                margin: 2% 0 2% 0;
            }
            
            
            .intro {
                .top-content-row(); 
                margin-bottom: 10%;

                @media @phone {
                    flex-direction: column-reverse;
                     width: 100%;
                   margin: 10%; }

                .img-1-desk {
                    padding: 0 2%;
                    @media @phone {
                        display: none;
                    }
                } 
                
                .img-1-mobile {
                    display: none;
                    @media @phone {
                       padding: 0 2%;
                        display: flex; }
                }

                .text-content {
                    padding: 5.5% 0 0 4%;
                    p {
                        padding-top: 3%;
                    }

                    @media @phone {
                        .mobile-width();
                        padding-top: 8%; }
                }
            }


            .designs {
                .top-content-row();

                @media @phone {
                    flex-direction: column-reverse;
                    width: 100%;
                    margin: 10%;
                }
                
                .img-2-desk {
                    order: -1;
                    padding-left: 4%;
                    @media @phone {
                        display: none; }
                }

                .img-2-mobile {
                    display: none;
                    @media @phone {
                        display: flex;
                    }
                }

                .text-content {
                    padding-top: 8%;
                    padding-left: 3%;
                    p {
                        padding-top: 3%;
                   
                    }
                }
              
            } //designs
            
            
            //Mobile Images

            

            

        }//.top-content


        .bottom-content {
            
            display: flex;
          

            .projects {
                
                display: flex;
                flex-wrap: wrap;
              

                h3 {
                    padding-top: 5%;
                    padding-left: 8.5%;
                    width: 100%;

                }//.projects h3

                .block {
                    
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    margin-top: 3%;
                    margin-bottom: 5.5%;
                 
                    
                    .overlay {
                        display: flex;
                        justify-content: flex-end;
                            @media @phone {
                                justify-content: center;
                                width: 100%;
                            }

                        .desk {
                            display: flex;
                            @media @phone {
                                display: none; }
                            }
                        
                        .mobile {
                            display: none;
                            @media @phone {
                                display: flex; }
                            }


                    } //.overlay

                    .overlay.left {
                        justify-content: flex-start; 

                        @media @phone {
                            justify-content: center;
                            width: 100%;
                        }
                    }

                    .text-content {
                        
                        display: flex;
                        flex-wrap: wrap;
                        width: 44%;
                        padding-top: 10%;
                        p {
                            font-size: 1.8rem;
                        }

                       @media @phone {
                            padding-top: 30%; }
                            width: 90%;
                        } 
                    

                } //.block

            }//.projects
        }//.bottom-content
    } //.home
}
