// Home intro section
// ------------------

.home-intro {
    // Set dimensions of images in this section
    figure {
        width: 410px;
        height: 275px;

        @media @device-size[mobile] {
            width: 290px;
            height: 275px;
        }
    }

    // Image URL settings begin here

    .home-intro__about-image {
        background-image: url("../img/home/home-img-1.png");

        @media @device-size[mobile] {
            background-image: url("../img/home/home-mobile-img-1.png");
        }
    }

    .home-intro__designs-image {
        background-image: url("../img/home/home-img-2.png");

        @media @device-size[mobile] {
            background-image: url("../img/home/home-mobile-img-2.png");
        }
    }
}


// Recent projects section
// -----------------------

.recent-proj {
    // Set dimensions of images in this section
    figure {
        width: 855px;
        height: 230px;

        @media @device-size[mobile] {
            width: 320px
            height: 200px;
        }
    }

    // Image URL settings begin here

    .recent-proj__the-villas {
        background-image: url("../img/home/home-villas-img.png");
    
        @media @device-size[mobile] {
            background-image: url("../img/home/home-mobile-villas-img.png");
        }
    }
    
    .recent-proj__outskirts {
        background-image: url("../img/home/home-outskirts-img.png");
    
        @media @device-size[mobile] {
            background-image: url("../img/home/home-mobile-outskirts-img.png");
        }
    }
    
    .recent-proj__the-blocks {
        background-image: url("../img/home/home-the-blocks-img.png");
    
        @media @device-size[mobile] {
            background-image: url("../img/home/home-mobile-the-blocks-img.png");
        }
    }
}

