.mobile-img {
    display: none;
}

@media (max-width: 500px) {
    .home-bg {
        background-image: url('../img/home/home-mobile-jumbotron.png');
        height: 260px;
        .custom-jumbotron {
            .jumbotron-text {
                padding-top: 110px;
                font-size: 3.6rem;
                line-height: 42px;
                margin-left: 1.5%;
            }
        }
    }
    .custom-nav {
        .logo {
            margin-left: 5%;
        }
        .nav-btn {
            margin-right: 5%;
        }
    }

    .home-content {
        width: 100%;
        .mobile-img {
            display: block;
        }
        .img-fluid {
            display: none;
        }
    }
    
    #recent {
        .embed {
            display: block;
            margin: 0 auto;
            width: 90%;
        }
    }
}