
.homePageIMG{
    .topIMG{
        width:100%;
        
    }
    
}

.homePageTitle{
  
    h2{
        font-size: 5rem;
    line-height: 1.5;
    font-weight: bold;
    
    }
}

.upperContent{

display: flex;
flex-direction: column;

    .sjArch{
        
        display: flex;

        .sjArchContent{
            flex-direction: column;
            justify-content: center;
            padding: 6% 0%;
            margin-right: 3%;
            
            h3{
                font-weight: bold;
                margin: 8% 0%;
                font-size: 2rem;

            }
        }
        .button{
            border: 1px solid black;
            max-width: 43%;
            padding: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 6% 0%;

        }
    
    }
    .archIMG {
        padding: 4% 0%;
    }
}

.futureDesign{

    display: flex;
    justify-content: space-between;

    .futureContent{

        flex-direction: column;
        justify-content: center;
        order: 1;
        margin-left: 3%;
        padding: 6% 0%;

        h3{
            font-weight: bold;
                margin: 8% 0%;
                font-size: 2rem;
        }
    }

    .button{
        border: 1px solid black;
            max-width: 43%;
            padding: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 6% 0%;
    }

    .futureIMG {
        
        padding: 4% 0%;
    }
}