.jumbo-home {
    width: 1024px;
    height: 596px;
    background: url('../img/home/home-jumbotron.png');
    margin: auto;

    .jumbo-text {
        position: absolute;
        bottom: 40px;
        left: 60px;
        .jumbotron-header-style();
    }
}