// Home Styles


.jumbo-container {
    max-width: 1024px;
    width:100%;
    margin: auto;
    position:relative;
  
      p {
        font-size: 64px;
        font-weight: 700;
        line-height:75px;
        color:#FFFFFF;
        position:absolute;
        // border: 1px solid red;
        display:flex;
        flex-wrap: wrap;
        padding-right:500px;
        padding-top:322px;
        padding-left:78px;
      }
  }

  
.container {
    max-width: 880px;
    width:100%;
    margin: auto;
    border:1px solid orange;
  }

.top-content {
display: flex;
flex-direction: column;

    .cta.top{
    display: flex;
    margin-top:45px;
    margin-bottom:45px;

    .text-content {
        display: flex;
        flex-direction: column;
        text-align:left;
        margin-left: 20px;
        padding-right:10px;
        border: 1px solid red;
        
        h1 {
            margin-top:45px;
            margin-bottom: 25px;
        }

        
    }
    img {
        border: 1px solid blue;
    }
    }

    .cta.bottom{
    display: flex;
    margin-top:45px;
    margin-bottom:50px;

    .text-content {
        display: flex;
        flex-direction: column;
        text-align:left;
        margin-left: 25px;
        border: 1px solid red;
        
        h1 {
            margin-top:35px;
            margin-bottom: 25px;
        }         
    }
    img {
        border: 1px solid blue;
        margin-left: 20px;
        
    }
    }
}


.bottom-content {
    display: flex;
    flex-direction: column;
    border:1px solid green;
    margin-top:35px;
    margin-left:20px;
    margin-right:20px;
    font-size:18px;

    h1 {
        margin-bottom:45px;
    }

    .recent-projects {
    display: flex;
    flex-direction:column;
    border:1px solid red;
    margin-bottom:10px;

        .image-span {
        position:relative;

        p {
            position:absolute;
            font-size: 28px;
            letter-spacing:5px;
            background-color: #D8D8D8;
            margin-left:525px;
            margin-top:185px;
            padding:32px 55px 32px 50px;

        }

        img {
            margin-bottom: 85px;
        }
        }



    .text-content {
        margin-left:200px;
        margin-right:190px;
        margin-bottom:90px;

        p {
        // font-size:2rem;
        // margin-bottom: 2rem;
        }
    }
    }
}