.home-projects {
  margin-top: 13rem;

  h2 {
    font-size: @h2-fs;
    font-weight: bold;
    text-transform: capitalize;
    // margin-bottom: 2rem;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .background-img {
      // position: relative;
      height: 20rem;
      background-size: cover;
      margin: 5rem 0;
    }

    .project-overlay {
      position: absolute;
      background: @project-bg;
      width: 24rem;
      padding: 2rem;
      text-align: center;
      letter-spacing: 0.5rem;
      text-transform: uppercase;
      right: 0;
      top: 21rem;
    }

    .reverse-overlay {
      left: 0;
    }

    p:first-child {
      margin-top: 5rem;
    }

    p {
      font-size: @p-fs;
      margin: 1.5rem 0;
      line-height: 2;
      font-weight: 400;
      width: 50%;
      align-self: center;
    }
  }
}

.background-img-1 {
  background-image: url(../img/home/home-villas-img.png);
}

.background-img-2 {
  background-image: url(../img/home/home-outskirts-img.png);
}

.background-img-3 {
  background-image: url(../img/home/home-the-blocks-img.png);
}
