.jumbotron{
    .jumbotron-img{
      width: 100%; 
      height: 550px; 
    }
}

header{
    font-size: 6.4rem;
    font-weight: bold;
    line-height: 76px; 
    color: #FFFFFF;
    padding-bottom: 75px; 
    transform: translate(70px, -273px);   
}

.row1{
    margin-top: -250px; 
    .section-align; 
    
    .smith-sons{
        width: 42%;
        .content-align; 

        h1{
            padding-bottom: 20px; 
        }

        .button1{
           .button-1; 
        }
    }
}

.row2{
    padding-top: 100px; 
    .section-align; 
    flex-direction: row-reverse; 

    .futuristic-designs{
        .section-width; 
        .content-align; 

        h1{
            padding-bottom: 20px; 
        }
        
        .button1{
            .button-1; 
        }
    }
}
 
.row3{
    width: 100%; 
    padding-top: 100px; 

    .row3-title{
        padding-bottom: 50px; 
    }

    .row3-img{
        width: 100%; 
    }

    .the-villas{
        .flex;  
        justify-content: flex-end; 
        }

        .villa-banner{
          .image-banner; 
    }
    .row3-content{
        .flex; 
        justify-content: center;
        align-items: center;
        padding-top: 15px; 

         p{
            .flex; 
            width: 45%; 
            justify-content: center; 
            font-size: 1.7rem; 
            line-height: 1.4; 
            padding-bottom: 80px; 
        }
    }
}

.row4{
    width: 100%; 

    .row4-img{
        width: 100%; 
    }

    .outskirts{
        .flex;  
        }

        .outskirts-banner{
          .image-banner; 
    }
    
    .row4-content{
        .flex; 
        justify-content: center;
        align-items: center; 

         p{
            .flex; 
            width: 45%; 
            justify-content: center; 
            font-size: 1.7rem; 
            line-height: 1.4; 
            padding-bottom: 80px; 
        }
    }
}
.row5{   
     width: 100%; 

    .row5-img{
        width: 100%; 
    }

    .the-blocks{
        .flex;  
        justify-content: flex-end; 
        }

        .blocks-banner{
          .image-banner; 
    }
    .row5-content{
        .flex; 
        justify-content: center;
        align-items: center; 

         p{
            .flex; 
            width: 45%; 
            justify-content: center; 
            font-size: 1.7rem; 
            line-height: 1.4; 
            padding-bottom: 80px; 
        }
    }
}

.general-text-p{
    .general-text; 
}


