


@media @mobile {
    .top-img-header {
        .header-img{
            display: none;
        }
        .mobile-header{
            display:flex;
            width:100%;
        }
    h1{
        top:100px;
    }
} // jumbotron

   .top-content {
       display:flex;
       flex-direction: column;
       justify-content: center;
       

       .top-text{
        padding-left: 43%;
        
       }
        .img-content {
            display: none;
           }
       .img-mobile{
           display: flex;
           order: -1;
       }

   } //top-content
  
   .top-content1 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    

   .img-content{
    display:none;
    }

    .img-mobile1{
        display: flex;
    }

   } //top-content1

.middle-content {
    .midImg {
        display: none;
    }

    .midMobile {
        display: flex;
        width:100%;
    }

    .custom-index {
        width:100%;
        .mobile-index;
    }
}






} //media query