footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: @footer-bg;
  color: white;
  padding: 3rem;
  margin-top: 5rem;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: red;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    // max-width: 25%;
    text-align: center;

    .footer-header {
      font-size: 1.5rem;
      text-transform: capitalize;
      font-weight: 700;
      width: 100%;
      // margin-bottom: 2rem;
    }
    p {
      margin-top: 1rem;
    }
  }

  .input-section {
    // border: 1px solid red;

    h3 {
      text-align: start;
    }

    input {
      margin-top: 1rem;
      width: 100%;
      padding: 0.5rem;
    }
  }
}
