.home-jumbotron {

    &-img {
        position: relative;
        width: 100%;
    }//home-jumbotron-img

    &-text {
        position: absolute;
        bottom: 15rem;
        margin-left: 80px;
        font-size: 6.4rem;
        color: white;
        font-weight: bold;
        line-height: 7.5rem;
        z-index: 10;
    }//home-jumbotron-text
}//home-jumbotron

.hide-jumbo {
    display: none;
}//hide-jumbo

.home-content {
    width: 85%;
    margin: 0 auto;

    .about {
        display: flex;
        flex-direction: column;

        &-top {
            display: flex;
            margin: 50px 0 100px 10px;


            &-text {
                width: 60%;

                h2 {
                    margin-top: 50px;
                    font-size: 2.5rem;
                    font-weight: bold;
                } //h2

                p {
                    margin-top: 30px;
                }//p

                .home-button {
                    width: 32%;
                    padding: 10px;
                    border: 1px solid black;
                    margin-top: 20px;
                    text-align: center;
                }//home-button
            }//about-text

            &-right {

            }//about-right
        }//about-top

        &-bottom {
            display: flex;
            margin-left: 10px;

            &-text{
                width: 60%;
                margin-left: 20px;

                h2 {
                    margin-top: 50px;
                    font-size: 2.5rem;
                    font-weight: bold;
                } //h2

                p {
                    margin-top: 30px;
                }//p

                .home-button {
                    width: 32%;
                    padding: 10px;
                    border: 1px solid black;
                    margin-top: 20px;
                    text-align: center;
                }//home-button
            }//about-bottom-text

            &-left {
                order: -1;

            }//about-left
        }//about-bottom
    }//about

    .recent-projects {
        margin: 100px 0 0 10px;
        
        h2 {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 50px;
        }//h2

        .villa-banner {

            .villa-img {
                position: relative;
            }//villa-img

            &-text {
                position: relative;
                bottom: 6rem;
                left: 54rem;
                width: 37%;
                padding: 30px 20px;
                border: 1px solid white;
                background-color: @bannerColor;
                font-size: 2.5rem;
                letter-spacing: 7px;
                text-align: center;
            }//villa-banner-text
        }//villa-banner
        .villa-text {
            width: 52%;
            margin: 0 auto;

            p{
                font-size: 1.8rem;
                margin-bottom: 20px;
            }//p
        }//villa-text

        .outskirts-banner {
            margin-top: 100px;

            .outskirts-img {
                position: relative;
            }//outskirts-img

            &-text {
                position: relative;
                bottom: 6rem;
                width: 37%;
                padding: 30px 20px;
                border: 1px solid white;
                background-color: @bannerColor;
                font-size: 2.5rem;
                letter-spacing: 7px;
                text-align: center;
            }//outskirts-banner-text
        }//outskirts-banner

        .outskirts-text{
            width: 52%;
            margin: 0 auto;

            p{
                font-size: 1.8rem;
                margin-bottom: 20px;
            }//p
        }//outskirts-text

        .blocks-banner {
            margin-top: 100px;

            .blocks-img{
                position: relative;
            }//blocks-img

            &-text {
                position: relative;
                bottom: 6rem;
                left: 54rem;
                width: 37%;
                padding: 30px 20px;
                border: 1px solid white;
                background-color: @bannerColor;
                font-size: 2.5rem;
                letter-spacing: 7px;
                text-align: center;
            }//blocks-banner-text
        }//blocks-banner

        .blocks-text {
            width: 52%;
            margin: 0 auto;

            p{
                font-size: 1.8rem;
                margin-bottom: 20px;
            }//p
        }//blocks-text
    }//recent-projects
}//home-container