.cta-section {
  background-image: url(../img/home/home-jumbotron.png);
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 120rem;
  margin: 0 auto;

  height: 55rem;
  position: relative;

  .wrapper {
    h1 {
      position: absolute;
      bottom: 4rem;

      color: white;
      font-size: 7rem;

      span {
        display: block;
      }
    }
  }
}
