html {
    font-size: 62.5%;
    body {
        background-color: @primaryColor;
        Font-Family: 'Roboto', Arial, sans-serif;
        .genText;
        .container {
            width: 65%;
            margin: 0 auto;
        }
    }
}

.jumbotron {
    display: flex;
    background: url("../img/home/home-jumbotron.png") no-repeat center;
    background-size: cover;
    height: 59.8rem;
    padding-left: 5%;
    padding-bottom: 5%;
    .jumbotron-header {
        align-self: flex-end;
        .jumboFont;
    };
};

.section{
    display: flex;
    justify-content: space-evenly;
    padding: 5rem 0;
    
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.button {
    .buttons;
}

h3 {
    font-weight: bold;
    font-size: 2.8rem;
    color: @secondaryColor;
}

p{
    margin: 2rem 0;
}

.recent-projects {
    margin-top: 5rem;
}

.recent-projects h3 {
    margin-left: 6.7%;
}
.pro-images-container {
    margin: 4rem 6.7%;
    text-align: center;
}

.projects {
    background-size: contain;
    height: 26.5rem;    
    display: flex;
    align-items: flex-end;
}

.first-project .projects {
    background: url(../img/home/home-villas-img.png) no-repeat;
    justify-content: flex-end;
}

.second-project .projects {
    background: url(../img/home/home-outskirts-img.png) no-repeat;    
}

.third-project .projects {
    background: url(../img/home/home-the-blocks-img.png) no-repeat;
    justify-content: flex-end;
}

span {
    width: 35%;
    height: 8rem;
    border: 1px solid @primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d7dae0;
    font-size: 2.5rem;
}
.space{
    color: #d7dae0;
    display: inline-block;
    border: 1px solid #d7dae0;
    height: auto;
    width: auto;
}

.paragraph-container {
    width: 52%;
    text-align: start;
    margin: 0 auto;
    font-size: 1.9rem;
    margin-top: 5rem;
}



