// Home Styles Go Here 

.jumbo-home {
    width: 1024px; 
    margin: 0 auto;
    height: 598px; 
    background: url("../img/home/home-jumbotron.png");

    .container-jumbo {
        height: 100%;
        position: relative;
    }
    h1 {
        .jumbo-text;
        position: absolute;
        bottom: 49px;
        right: 600px;
    }
}

.Jones-Arch, .Futuristic-Designs {
    margin-top: 65px;
    line-height: 24px;
    font-size: 1.6rem; 
    h2 {
        margin-top: 50px;
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 22px;
    }
    p {
        margin-bottom: 22px;
    }
    button {
        background-color: @white; 
        width: 140px;
        height: 39px;
        border: 1px solid #222222;
    }

}

.Futuristic-Designs {
    margin-bottom: 73px;
}

.recent-projects-header {
    margin-bottom: 50px;
}

    .Recent-Projects {
        background: url("../img/home/home-villas-img.png");
        width: 855px;
        height: 230px;
        margin: 0 auto;
        position: relative;

        h3 {
            border: 1px solid black; 
            width: 26.3%; //225px;
            height: 80px;
            background: @gray;
            position: absolute;
            left: 630px; 
            top: 156px; 
            text-align: center;
            padding-top: 25px;
            letter-spacing: 5px;
            z-index: 10;
        }
    }
   

    .container.Villas-text {
        margin-top: 90px;
        width: 50%;
        .general-font-style; 
    }




