.home {
  width: 100%;
  margin: 0 auto;
  @media @phone {
    max-width: 500px;
    margin: 0 auto;
  }

  .jumbo-img {
    background-image: url("../img/home/home-jumbotron.png");
    background-size: cover;
    height: 800px;
    padding-top: 20px;
  }
}

.jumbo-text {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 450px;
  left: 80px;
  font-weight: bold;
  text-align: start;
  font-size: 6.4rem;
  line-height: 75px;
  color: #ffffff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.top-text {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 50px;
  padding: 0;

  @media @phone {
    max-width: 500px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
  }
}
.main-text {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: normal;

  @media @phone {
    align-items: center;
    max-width: 500px;
    width: 100%;
    order: 2;
    margin: 0;
    border: 0;
    padding: 0;
  }
}
p {
  font-size: 1.6rem;
  line-height: 24px;
  padding: 5px 0;

  @media @phone {
    max-width: 500px;
    width: 90%;
    line-height: 35px;
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 2.8rem;
  color: #222222;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: block;
  margin-bottom: 15px;

  @media @phone {
    max-width: 500px;
    font-size: 3.5rem;
    font-weight: bold;
  }
}
.button {
  text-decoration: none;
  max-width: 150px;
  text-align: center;
  padding: 10px 25px;
  border: 1px solid black;
  color: black;
  margin: 25px 25px 25px 0;
  justify-content: flex-start;

  @media @phone {
    max-width: 500px;
    width: 90%;
    font-size: 2.5rem;
  }

  &:hover {
    background-color: #629fb8;
    color: #ffffff;
  }
}
.first-image {
  background-image: url("../img/home/home-img-1.png");
  width: 50%;
  height: 270px;
  overflow: hidden;
  background-repeat: no-repeat;

  @media @phone {
    max-width: 500px;
    width: 90%;
    background-size: 100%;
    height: 455px;
    margin-top: 30px;
    margin-right: 28px;
  }
}

.second-image {
  background-image: url("../img/home/home-img-2.png");
  width: 50%;
  height: 270px;
  overflow: hidden;
  background-repeat: no-repeat;

  @media @phone {
    max-width: 500px;
    width: 90%;
    background-size: 100%;
    height: 455px;
    margin-top: 30px;
    margin-right: 28px;
  }
}

.middle-section {
  padding-top: 20px;

  @media @phone {
    max-width: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  h3 {
    font-size: 2.8rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;

    @media @phone {
      max-width: 500px;
      font-size: 3.5rem;
      padding: 20px 10px 0 15px;
    }
  }
}
.villas-img {
  background-image: url("../img/home/home-villas-img.png");
  margin: 0 auto;
  width: 855px;
  height: 230px;
  margin-top: 40px;

  @media @phone {
    max-width: 500px;
    background-image: url("../img/home/home-mobile-villas-img.png");
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 315px;
    margin-top: 40px;
  }
}
.villas {
  width: 30%;
  font-size: 2.5rem;
  background-color: #d8d8d8;
  text-align: center;
  padding: 25px 30px;
  margin-bottom: 60px;
  letter-spacing: 4px;
  z-index: 1;
  position: relative;
  left: 627px;
  bottom: 38px;
  margin-bottom: 0;

  @media @phone {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    width: 455px;
    height: 130px;
    bottom: 45px;
    left: 8px;
  }
}
.outskirts-img {
  background-image: url("../img/home/home-outskirts-img.png");
  margin: 0 auto;
  width: 855px;
  height: 230px;

  @media @phone {
    background-image: url("../img/home/home-mobile-outskirts-img.png");
    width: 100%;
    height: 315px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 40px;
  }

}

.outskirts {
  width: 30%;
  font-size: 2.5rem;
  background-color: #d8d8d8;
  text-align: center;
  padding: 25px 30px;
  margin-bottom: 60px;
  letter-spacing: 4px;
  z-index: 1;
  position: relative;
  bottom: 38px;
  left: 70px;
  margin-bottom: 0;

  @media @phone {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    width: 455px;
    height: 130px;
    bottom: 45px;
    left: 8px;
  }
}

.blocks-img {
  background-image: url("../img/home/home-the-blocks-img.png");
  margin: 0 auto;
  width: 855px;
  height: 230px;

  @media @phone {
    background-image: url("../img/home/home-mobile-the-blocks-img.png");
    width: 100%;
    height: 315px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
  }
}

.blocks {
  width: 30%;
  font-size: 2.5rem;
  background-color: #d8d8d8;
  text-align: center;
  padding: 25px 30px;
  margin-bottom: 60px;
  letter-spacing: 4px;
  z-index: 1;
  position: relative;
  left: 627px;
  bottom: 38px;
  margin-bottom: 0;

  @media @phone {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    width: 455px;
    height: 130px;
    bottom: 45px;
    left: 8px;
  }
}

.middle-text {
  width: 40%;
  margin: 0 auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;

  @media @phone {
      max-width: 500px;
      width: 100%;
     
  }
  p {
      @media @phone {
        font-size: 2.4rem;
        line-height: 40px;
        max-width: 500px;
        width: 100%;

      }
  }
}
