

.homePageContent{

    position: relative;
    
    max-width: 100%;

    .topIMG{
        width:100%;
        display: block;
    }
  
    .homeText{
        position: absolute; 
        top: 50%;
        left: 11%;
        font-size: 5rem;
    line-height: 1.5;
    font-weight: bold;
    z-index: 1;
    color:white;

    @media @mobile {
      top: 12%;  
      line-height: 1.25;
    }
    
    }
}

.upperContent{

display: flex;
flex-direction: column;

    .sjArch{
        
        display: flex;

        @media @mobile {
            display:flex;
            flex-direction: column-reverse;
        }

        .sjArchContent{
            flex-direction: column;
            justify-content: center;
            padding: 6% 0%;
            margin-right: 3%;

            @media @mobile{
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 1.25;
                padding: 4%;
                margin-top:-10%;
            }
            
            h3{
                font-weight: bold;
                margin: 8% 0%;
                font-size: 2rem;

                @media @mobile{
                    font-size: 3rem;
                }

            }
        }
        .button{
            border: 1px solid black;
            max-width: 43%;
            padding: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 6% 0%;

            @media @mobile{

                    width: 90%;
                    max-width:105%;
            }

        }
    
    }
    .archIMG {
        padding: 4% 0%;

        @media @mobile{
            padding: 5%;
        }
    }
}


.futureDesign{

    display: flex;
    justify-content: space-between;

    @media @mobile {
        display:flex;
        flex-direction: column;
    }

    .futureContent{

        flex-direction: column;
        justify-content: center;
        order: 1;
        margin-left: 3%;
        padding: 6% 0%;

        @media @mobile{
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1.25;
            padding: 4%;
            margin-top:-10%;
        }

        h3{
            font-weight: bold;
                margin: 8% 0%;
                font-size: 2rem;

                @media @mobile{
                    font-size: 3rem;
                }


                
        }
    }

    .button{
        border: 1px solid black;
            max-width: 43%;
            padding: 3%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 6% 0%;

            
            @media @mobile{

                width: 90%;
                max-width:105%;
    }

    .futureIMG {
        
        padding: 4% 0%;

        @media @mobile{
            padding: 5%;
        }
    
    }
    }
}