.homePageContent {
  .homeText {
    background-image: url("https://raw.githubusercontent.com/LambdaSchool/User-Interface-Project-Week/master/img/home/home-jumbotron.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    font-size: 5rem;
    line-height: 1.5;
    font-weight: bold;
    color: white;
    padding: 23% 0% 7% 8%;

    @media @mobile {
      line-height: 1.25;
      padding: 14% 0% 9% 6%;
    }
  }
}

.upperContent {
  display: flex;
  flex-direction: column;

  p {
    @media @mobile {
      font-size: 2.2rem;
    }
  }

  .sjArch {
    display: flex;

    @media @mobile {
      display: flex;
      flex-direction: column-reverse;
    }

    .sjArchContent {
      flex-direction: column;
      justify-content: center;
      padding: 6% 0%;
      margin-right: 3%;

      @media @mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.25;
        padding: 4%;
        margin-top: -10%;
      }

      h3 {
        font-weight: bold;
        margin: 8% 0%;
        font-size: 2rem;

        @media @mobile {
          font-size: 3rem;
        }
      }
    }
    .button {
      border: 1px solid black;
      max-width: 43%;
      padding: 3%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 6% 0%;

      @media @mobile {
        width: 90%;
        max-width: 105%;
      }
    }
  }
  .archIMG {
    padding: 4% 0%;

    @media @mobile {
      padding: 5%;
      content: url("https://raw.githubusercontent.com/GannonDetroit/User-Interface-Project-Week/master/img/home/home-mobile-img-1.png");
    }
  }
}

.futureDesign {
  display: flex;
  justify-content: space-between;

  @media @mobile {
    display: flex;
    flex-direction: column;
  }

  .futureContent {
    flex-direction: column;
    justify-content: center;
    order: 1;
    margin-left: 3%;
    padding: 6% 0%;

    @media @mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.25;
      padding: 4%;
      margin-top: -10%;
    }

    h3 {
      font-weight: bold;
      margin: 8% 0%;
      font-size: 2rem;

      @media @mobile {
        font-size: 3rem;
      }
    }
  }

  .button {
    border: 1px solid black;
    max-width: 43%;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6% 0%;

    @media @mobile {
      width: 90%;
      max-width: 105%;
    }

    .futureIMG {
      padding: 4% 0%;

      @media @mobile {
        padding: 5%;
        content: url("https://raw.githubusercontent.com/GannonDetroit/User-Interface-Project-Week/master/img/home/home-mobile-img-2.png");
      }
    }
  }
}
