//---------WRAPPER

.wrapper {
    @media @mobile {
        width: 90%;
        padding: 0 .5rem;
      }
    .mid-width-center();

    h3 {
        font-weight: @bold;
        color: @black;
        font-size: @font-large;
     }
}


.show-mobile {
    display: none;
  }

//------------------quick info

.quick-info-container {
    @media @mobile {
        .hide-mobile{
            display: none;
          }
          .show-mobile {
            display: block;
            width: 95%;
          }
        padding: 2rem 0;
    }
    padding: 5rem 0;
    .flex-direction(column);
}



//---------------top part of quick info

.qi-text-left {
    @media @mobile {
        .flex-direction(column-reverse);
        width: 100%;
        margin-bottom: 4rem;
    }
    .flex();
    margin-bottom: 9.4rem;

    h3 {
        @media @mobile {
            padding: 2rem 0 2.3rem;
        }
        padding: 5rem 0 2.3rem; 
    }

    p {
        @media @mobile {
            margin-bottom: 2rem;
        }
        margin-bottom: 3.5rem;
    }

    .left-content {
        padding-right: 1.5rem;
     }

     .buttons {
        @media @mobile {
            width: 85%;
            .flex-justify(center);
        }
        .button-border();
        padding: 1.3rem 2.6rem;
    }
}


//-------------bottom part of quick info

.qi-text-right {
    
    @media @mobile {
        .flex-direction(column);
        width: 100%;
        margin-bottom: 4rem;
    }
    .flex();
    margin-bottom: 4.1rem;

    .qi-right-image {
        @media @mobile {
            height: auto;
        }
    }

    h3 {
        @media @mobile {
            padding: 2rem 0 2.3rem;
        }
        padding: 4rem 0 2.3rem; 
    }

    p {
        @media @mobile {
            margin-bottom: 2rem;
        }
        margin-bottom: 4rem;
    }

    .right-content {
        @media @mobile {
            padding: 0;
        }
        padding-left: 2.8rem;
     }

     .buttons {
        @media @mobile {
            .flex-justify(center);
            width:85%;
        }
        .button-border();
        padding: 1.3rem 2rem;
    }
}


//------------RECENT PROJECTS



.rp-title {
    @media @mobile {
        margin-bottom: 2rem;
    }
    margin-bottom: 4.8rem;
}

.rp-title-right {
    @media @mobile {
        .hide-mobile{
            display: none;
          }
          .show-mobile {
            display: block;
            width: 95%;
          }

          height: 22rem;
    }
    font-size: @font-large;
    height: 31rem;
    margin-bottom: 0;

    .grey-box {
        @media @mobile {
            left: .5rem;
            padding: 2.5rem 1.5rem;
        }
        .grey-box-shared();
        bottom: 6rem;
        left: 53.7rem;
    }
}


.rp-text-centered {
    @media @mobile {
        width: 100%;
        margin-bottom: 0;
    }
    .small-width-center();
    font-weight: @regular;
    line-height: @footer-heading-lh;
    font-size: @font-small;
    margin-bottom: 5rem;

    p:first-child {
        @media @mobile {
            margin-top: 3rem;
        }
    }

    p {
        padding: 1rem 1rem 1.2rem;
    }
}

.rp-title-left {
    @media @mobile {
        width: 100%;
        padding-top: 2rem;
        height: 22rem;
        .hide-mobile{
            display: none;
          }
          .show-mobile {
            display: block;
            width: 95%;
            height: auto;
          }
    }
    font-size: @font-large;
    width: 85rem;
    height: 31rem;
    margin-bottom: 0;
    padding-top: 4.2rem;

    .grey-box {
        @media @mobile {
            left: .5rem;
            padding: 2.5rem 1.5rem;
        }
        .grey-box-shared();
        bottom: 6rem;
        left: 0;
    }
}


.bottom {
    @media @mobile {
        margin: 2rem 0;
        height: 22rem;
    }
    margin-top: 9.5rem;
    margin-bottom: 4rem;
    height: 27rem;
}

