@media (max-width: 500px) {
    
    body {
        width: 100%;
        max-width: 500px;
    }
   .navigationBar {
       max-width: 500px;

        h1{
            position: relative;
            right: -50px;
        }
        nav{
            .openCloseButton{
              position: relative;
              left: -50px;
              cursor: pointer;
            }
        }
    }
    .sectionsContainer {
        max-width: 500px;
        flex-direction: column;

    }

    .recentProjectsStructure {
        flex-direction: column;
    }
    
    .footerSection {
        flex-direction: column;
        height: 775px;
        margin-bottom: -50px;

       

        input{
            position: relative;
            width: 450px;
           
        }
    }
     .footerSectionSplits {
        h4 {
            width: 400px;
        }
        p {
            width: 400px;
        }  

     #copyRights {
         color: purple;
     }
     }

}