.main-top {
  
  .desktopview;
  .mobileview;
  img {
    width: 100%;
  }
    h1 {
        font-weight: bold;
    }
    margin: 6%;
    @media (max-width: 400px){
      margin: 4%;
    }
    .button {
      @media (min-width: 401px), (max-width: 1000px){
        .buttonmaker(130px, 50px);
      }
      @media (max-width: 400px){
        .buttonmaker(360px, 50px);
      }
    }
    .content {
      padding: 3%;
      line-height: 130%;
      .flexcolumn;
      justify-content: center;
    }
    .smith {
      .flexrow;
      flex-direction: row-reverse;
      .mobileview;
    }
    .future{
      .flexrow;
      margin-top: 10%;
      @media (min-width: 401px), (max-width: 100px){
        margin-left:2%;
      .content {
        margin-left: 2%;
      }
      }
      .mobileview;
    }
 }

.main-mid {
  .desktopview;
  .mobileview;
  @media (max-width: 400px){
    margin: 0;
  }
  img {
    height: 100%;
  }
  h1 {
    margin-left: 9%;
  }
  p {
      margin-top: 6%;
      padding: 0 25%;
      line-height: 150%;
      font-size: 110%;
      letter-spacing: 120%;
      @media (width: 400px) {
        margin-top: 15%;
        padding: 4%;
      }
    }
  .villas, .outskirts {
    @media (min-width: 401px), (max-width: 1000px){
      margin: 6% 6% 14% 8%;
    }
    @media (width: 400px) {
      margin: 0;
      .flexcolumn;
    }
    position: relative;
    z-index: 0;

    h1 {
        .textsquare;
        @media (width: 400px) {
        bottom: 16.5em;
        left: 0;
        }
    }
    
    .villas-head {
        right: 0;
    }
    .outskirts-head {
        left: -3.3em;
        
    }
    .mobileview;
  }
  .blocks {
    @media (min-width: 401px), (max-width: 1000px){
      margin: 6% 6% 5% 8%;
    }
    @media (width: 400px) {
      margin: 0;
    }
    position:relative;
    h1 {
        .textsquare;
        @media (width: 400px) {
          bottom: 16.5em;
          left: 0;
          }
    }
    .blocks-head {
        right: 0;
        
    }
    .mobileview; 
  }
  .recent {
    @media (width: 400px) {
      margin: 8% 3% 6%;
      }
  }
}
