// ======== Home Page Styles =========

.home-page-main {

  @media @mobile {
    width: 90%;
    margin: 0 auto;
  }

  .home.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4%;

  @media @mobile {
    flex-direction: column-reverse;
    justify-content: space-between;

    margin: 10% 0 15%;
  }

    .text-content {

      width: 50%;

      @media @mobile {
        width: 100%;

        h2 {
          margin: 7% 0 3% auto;
          font-size: 3.3rem;
        }
      }

      .content-button {
        border: 1px solid @tabBtnBorder;
        margin-top: 3%;
        width: 30%;
        padding: 2% 0;
        text-align: center;
        cursor: pointer;

        &:hover {
          background: @tabBtnBorder;
          color: #FFF
        }

        @media @mobile {
          width: 100%;
          padding: 4% 0;
          
          font-size: 2.0rem;
        }


      }

    }

    img {
      width: 50%;

      @media @mobile {
        width: 100%;
        margin: 0;
      }
    }
  
  } 

  .left-img {
    margin-right: 4%;

    @media @mobile {
        order: 1;
      }

  }

  .right-img {
    margin-left: 4%;

  }

}


// ====== Recent Projects Section

.recent-projects {
  
  @media @mobile {
    h2 {
      font-size: 3.0rem;
      width: 90%;
      margin: 0 auto 3%;
    }
  }

  .recent-projects-content {

    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      width: 100%;

    }


    .recent-title-image {
    position: relative; 

    @media @mobile {
      margin-bottom: 25%;
    }


    .recent-projects-title-right {
      font-size: 2.0rem;
      letter-spacing: 5px;
      background: @recentProjects;
      text-align: center;

      border-top: 2px solid #FFF;
      border-left: 2px solid #FFF;
      border-bottom: 2px solid #FFF;

      width: 25%;
      padding: 3% 0;

      position: absolute;
      bottom: -40px;
      right: 0;

      @media @mobile {
        right: 25px;
        bottom: -85px;
        padding: 7% 0;
        width: 90%;

        border-right: 2px solid #FFF;

        font-size: 3.5rem;
        letter-spacing: 10px;
      }

    }


    .recent-projects-title-left {
      font-size: 2.0rem;
      letter-spacing: 5px;
      background: @recentProjects;
      text-align: center;

      border-top: 2px solid #FFF;
      border-right: 2px solid #FFF;
      border-bottom: 2px solid #FFF;

      width: 25%;
      padding: 3% 0;

      position: absolute;
      bottom: -40px;
      left: 0;

      @media @mobile {
        left: 25px;
        bottom: -85px;
        padding: 7% 0;
        width: 90%;

        border-left: 2px solid #FFF;

        font-size: 3.5rem;
        letter-spacing: 10px;
      }
    }


  
   }
  
   .recent-projects-text-content {
     margin: 10% auto;
     width: 55%;
     
     @media @mobile {
       width: 90%; 
       margin: 0 auto 7%;
     }


     p {
       margin: 3% 0;

       @media @mobile {
         margin: 0;
       }
     }
     
   }
  
  }

  


}
