.main-section {
  display: flex;
  flex-direction: column;

  //   margin-top: 10rem;

  .row {
    .col-2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 2rem 0;
      //   background: blue;
    }

    .text-article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 50%;
      //   background: red;

      h2 {
        font-size: @h2-fs;
        text-transform: capitalize;
        color: #010101;
        margin-bottom: 5rem;
        font-weight: bold;
      }

      p {
        font-size: @p-fs;
        font-weight: 400;
        line-height: 1.2;
      }

      a {
        color: #010101;
        border: 1px solid #010101;
        width: 15rem;
        text-align: center;
        font-size: @a-fs;
        text-transform: capitalize;
        margin-top: 4rem;
        padding: 2rem;
      }
    }
    .img-reverse {
      order: -1;
    }
  }
}
