@import "mixins.less";
@import "variables.less";

.home-container {
    //.general-style sets the default styles along with a centered max-width
    .general-style(950px);
    //NAVBAR -----------------------------------------------------
    .navbar {
        //Style in mixins.less
        .navbar-style;
    }

    //.jumbotron-style section takes in (desktop background image, mobile background image, desktop height, mobile height)
    .home-jumbotron-div {
        .jumbotron-style('../img/home/home-jumbotron.png', '../img/home/home-mobile-jumbotron.png', 598px, 406px);
    }

    //SERVICES SECTION-----------------------------------------------

    .home-SJ, .home-future {
        //In mixin.less.
        .flex-justify-align(space-between, stretch);
        // This is so the content isn't against the edge of the viewport
        .padding-left-right;
        // Used to move this section away from jumbotron section and give a row gap
        .margin-top;
        //@phone is for when the width of the viewport is 500px or less 
        @media @phone {
            //shows the sections in a column, with the image first
            flex-direction: column-reverse;
            align-items: center;
        }
        .home-info {
            //positions the header, text and button with space-evenly
            .flex-justify-align(space-evenly, stretch);
            flex-direction: column;
            //So the text content doesn't take up most of the width
            width: 47.5%;

            //Styles the sub-header with .sub-header-style
            .home-info-sub-header {
                .sub-header-style;
            }
            //Lets the images and text take all the width space in mobile
            @media @phone {
                width: 100%;
                height: 250px;
            }
            //Styles the buttons learn more and view-designs
            .home-info-button {
                .change-button-default-style;
                width: 40%;
                @media @phone {
                    width: 100%;
                }
            }

        }

        //desktop image. Disappears on mobile
        .home-info-img-div {
            width: 47.5%;
            @media @phone {
                display: none;
            }
        }
        //Mobile image. Shows on mobile, hides on desktop
        .home-info-img-mobile-div {
            display: none;
            @media @phone {
                display: block;
                width: 100%;
            }
            .mobile-image {
                width: 100%;
                height: auto;
            }
        }
    }

    //Changes position of second row
    .home-future {
        flex-direction: row-reverse;
        @media @phone {
            flex-direction: column-reverse;
        }
    }

    //RECENT PROJECTS-----------------------------------------------

    .home-projects-div {
        .padding-left-right;

        .home-projects-sub-header {
            .sub-header-style;
            .margin-top;
            margin-bottom: 5%;

        }
        //For each project section, sets the background and the grey box style
        .home-projects-villa-div {
            //.home-projects-header-style sets the header style. Located on bottom of this page
            //Takes desktop background image, mobile image, then justify-content and align-items to position grey box
            .home-projects-style("../img/home/home-villas-img.png", "../img/home/home-mobile-villas-img.png", flex-end, flex-end);
        }
        .home-projects-outskirts-div {
            .home-projects-style("../img/home/home-outskirts-img.png", "../img/home/home-mobile-outskirts-img.png", stretch, flex-end);
        }

        .home-projects-blocks-div {
            .home-projects-style("../img/home/home-the-blocks-img.png", "../img/home/home-mobile-the-blocks-img.png", flex-end, flex-end);
        }

    }

    //FOOTER-----------------------------------------------------------
    .footer {
        //.footer-style is in mixins.less
        .footer-style(855px);
    }
}

.home-projects-style(@desktop-image, @mobile-image, @justify, @align) {
    .header-div {
        //sets the background image of the header div
        background-image: url(@desktop-image);
        background-repeat: no-repeat;
        //Sets the height
        height: 260px;

        //Positions the grey header box
        .flex-justify-align(@justify, @align);

        //mobile styling
        @media @phone {
            background-image: url(@mobile-image);
            justify-content: center;
            height: 300px;
            background-position: top;
            background-size: cover;
        }
    }

    //styles the grey header box
    .home-project-title {
        //Centers the text
        .flex-justify-align(center, center);
        background-color: #D8D8D8;
        width: 35%;
        font-size: 32px;
        height: 60px;
        @media @phone {
            width: 95%;
        }
    }
    //pushes the text inward, gives it some space
    .home-projects-text {
        .centered-max-width(600px);
        .margin-top;
        margin-bottom: 5%;
    }
}



.gallery-container {

    .image-div-container {
        display: none;

        .image-preview-div {
            display: none;
        }
        .show-preview-div {
            .centered-max-width(600px);
            .padding-left-right;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            justify-items: center;
            align-items: center;
            @media @phone {
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-template-columns: 1fr 1fr;
            }

            @media (max-height:700px) and @phone {
                .centered-max-width(250px);
            }
            
            .close-button {
                cursor: pointer;
            }
            

            .preview-img {
                width: 200px;
                cursor: pointer;
            }
        }
        .carousel-div {
            display: none;
            button {
                .change-button-default-style;
                padding-top:2.5%;
                padding-bottom:2.5%;
                margin-bottom:1%;
            }
            .next-button {
                margin-top:1%;
            }
            

        }

        .show-carousel-div {
            display: flex;
            flex-direction:column;
            justify-content: space-between;
            align-items: center;
        }

    }

    .show-images-container {
        display: block;
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        opacity: .95;
        padding-top: 5%;

    }

}















