.container {
    max-width: 880px;
    margin: 0 auto;
    width:100%;
  }
  
  .container .main-content-container {
    padding: 0 40px;
  }

  // mobile
  @media (max-width:500px) {
    .container {
        margin: 0 auto;
      }
      
      .container .main-content-container {
        padding: 0 10px;
      }
  }