.home__jumbotron {
  background-image: url('../img/home/home-jumbotron.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // padding: 120px 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  h1 {
    padding: 370px 0 66px 90px;
  }
}



.home__services-item {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;

  // .home__services-item-content{}
  .home__services-image-01 {
    background-image: url('../img/home/home-img-1.png');
    width: 100%;
    padding: 150px 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .home__services-image-02 {
    background-image: url('../img/home/home-img-2.png');
    width: 100%;
    padding: 150px 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 50px;
  }

  h2 {
    margin-top: 50px;
  }

  p {
    margin: 20px 0 10px 0;
    width: 90%;

  }

  button {
    padding: 16px 25px;
    margin-top: 20px;
    font-size: 1.7rem;
  }
}


.home__recent-projects {
  padding-top: 20px;

  h2 {
    margin-bottom: 60px;

  }
}




.home__recent-item {
  .home__image-01 {
    position: relative;
    background-image: url('../img/home/home-villas-img.png');
    width: 100%;
    padding: 130px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 95px;
  }

  .home__image-02 {
    position: relative;
    background-image: url('../img/home/home-outskirts-img.png');
    width: 100%;
    padding: 130px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 95px;

    h3 {
      position: absolute;
      left: 0;
      bottom: -50px;
      width: 335px;
      z-index: 99;
      font-size: 2.6rem;
      letter-spacing: 9px;
      text-align: center;
      color: @mainBlack;
      background: @mainGray;
    }
  }

  .home__image-03 {
    position: relative;
    background-image: url('../img/home/home-the-blocks-img.png');
    width: 100%;
    padding: 130px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 95px;
  }

  h3 {

    text-align: cemter;
    position: absolute;
    bottom: -50px;
    right: 0;
    z-index: 99;
    font-size: 2.6rem;
    letter-spacing: 9px;
    padding: 35px 50px;
    color: @mainBlack;
    background: @mainGray;
  }

  p {
    width: 50%;
    font-size: 2rem;
    line-height: 25px;
    margin: 0 auto;

    &:nth-of-type(odd) {
      margin-bottom: 20px;
    }

    &:last-of-type {
      margin-bottom: 125px;

    }
  }

}