@media (max-width: 500px) {
    
    body {
        width: 100%;
        max-width: 500px;
    }
   .navigationBar {
       max-width: 500px;

        h1{
            position: relative;
            left: 30px;
        }
        nav{
            
            .openCloseButton{
              position: relative;
              left: -50px;
              cursor: pointer;
            }
        }
    }
    .sectionsContainer1 {
        max-width: 425px;
        flex-direction: column-reverse;
        align-self: center;
        img{
            position: relative;
            left: 25px;
        }
        .content1{
            position: relative;
            left: 25px;
        }

        
        .button1 {
        width: 375px;
        height: 75px;
    }
    }




    .sectionsContainer2 {
        max-width: 425px;
        flex-direction: column;
        align-content: center;
        img{
            position: relative;
            left: 25px;
        }
        .button2 {
            width: 375px;
            height: 75px;
        }
    }

    .recentProjectsStructure {
        flex-direction: column;
        div {
            p {
                max-width: 100%;
                width: 425px;
            }
        }
    }

    .titleIMGVilla {
        max-width: 500px;
  
        #theVillasHeader{
            max-width: 100%;
            width: 325px;
            left: 75px;
        }
    }

    .titleIMGOutskirts{
        #theOutskirtsHeader{
            max-width: 100%;
            width: 325px;
            left: 75px;

        }
    }

    .titleIMGBlock{
        max-width: 500px;
        #theBlockHeader{
            max-width: 100%;
            width: 325px;
            align-self: left;
            left: 75px;
        }
    }
    .footerSection {
        flex-direction: column;
        height: 775px;
        margin-bottom: -50px;

       

        input{
            position: relative;
            width: 450px;
           
        }
    }
     .footerSectionSplits {
        h4 {
            width: 400px;
        }
        p {
            width: 400px;
        }  

     #copyRights {
         color: purple;
     }
     }


    
}