/* home page */
/* Your Code Goes Here 
### Home Page
- Recent Projects Gray Square: #D8D8D8
- Button borders: #222222

### Jumbotron Headers
- Font Weight: Bold
- Font Size: 64px
- Line Height: 75px
- Color: #FFFFFF
*/
header {
    
    .header {
        position: relative;
        top:0px;
        left:0px;
        width: 100%;
        height: 600px;
        z-index:0;
        
      h1 {
        @media @phone {
            .mobileZHeaderText;
          }
        position: relative;
        top:310px;
        left: 97px;
        z-index: 2;
      }
      img {
        @media @phone {
            .mobileImg;
          }
        position: relative;
        top:-227px;
        left:0px;
        z-index: 1;
        width: 100%;
      }
     
    }

}
.featureText{
    .learnMore {
        .btn;
    }
}

.overview {
    .centerColumn;
    @media @phone {
        .stackContent;
      }
    .feature {
        @media @phone {
            .stackContent;
          }
        .centerRow;
        margin: 10px;
        margin-top:40px;
        div {
        width:100%;
        margin-left: 10px;
        margin-right: 10px;
        img {
            width: 100%;
        }
    }
    }
    .featureReverse {
        @media @phone {
            .stackContent;
          }
        .centerRow;
        flex-direction: row-reverse;
        margin: 10px;
        margin-bottom: 40px;
        div {
            width:100%;
            margin-left: 10px;
            margin-right: 10px;
            img {
                width: 100%;
            }
        }
    }
   
}
#recentProjectsHeader {
    width: 100%;
  text-align: left;
}
.recentProjects {
    @media @phone {
        .stackContent;
        margin: 1%;
        padding:1%;
       
      }
    .centerColumn;
    margin-top:5px;
    margin-bottom: 5px;
    width: 100%;
    .recentProjectsFeature {
        @media @phone {
            .stackContent;
            margin: 1%;
            padding:1%;
          }
        .first {
            @media @phone {
                .stackContent;
                .mobileZPost;
              }
            position: relative;
            top:-55px;
            left: 66%;
            width: 315px;
            padding: 38px;
            background: @callOut-bg;
            z-index: 4;
            font-weight: normal;
            text-align: center;
            letter-spacing: 10px;
            font-size: 1.8rem;

          
        }
        .second {
            @media @phone {
                .stackContent;
                .mobileZPost;
              }
            position: relative;
            top:-55px;
            left: 0px;
            width: 315px;
            padding: 38px;
            background: @callOut-bg;
            z-index: 4;
            font-weight: normal;
            text-align: center;
            letter-spacing: 10px;
            font-size: 1.8rem;
        }
        p {
            @media @phone {
                .stackContent;
                position: relative;
                width: 95%;
                padding:0px;
                margin:10px;
              }
            position: relative;
            top:0px;
            left: 0px;
            width: 40%;
            margin-left:25%;
           
        }
        img {
            @media @phone {
                .stackContent;
                width: 98%;
                padding:0px;
                margin:0px;
              }
            width: 100%;
        }
    }
  
}

footer {
    @media @phone {
        .stackContent;
      }
    .footer;
    .footerContent {
        @media @phone {
            .stackContent;
            padding:2px;
            margin:2px;
          }
        .centerRow;
        align-items: flex-start;
        .locations {
            @media @phone {
                .stackContent;
                padding:2px;
                margin:2px;
              }
            .centerRow;
            width:610px;
            justify-content: center;
            align-items: flex-start;
          .singleLocation {
            margin-left: 10px;
            margin-right: 10px;
            width:124px;
          }
        }
    .footerContact {
        @media @phone {
            .stackContent;
            padding:2px;
            margin:2px;
          }
        margin-left:50px;
        width: 335px;
        input[type=email], select {
            @media @phone {
                width:80%;
                padding: 6px 10px;
              }
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 1.4rem;
            color: @footer-bg;
        }
        

    }
    }
}
