.home {
    // Jumbotron
    .jumbotron {
        .jumobotron-headers;
        position: relative;

        // Jumbotron Image
        img {
            width: 100%;
        }

        // Jumbotron Header
        .jumbotron-text {
            // padding: 5%;
            position: absolute;
            top: 53%;
            left: 8%;

            @media @mobile {
                top: 40%;
                padding-left: 6%;
                left: 0;
            }
        }
    }

    // Content wrapper -----------------------------------
    .content {
        margin-left: 7%;
        margin-right: 7%;

        // Content mobile
        @media @mobile {
            margin-left: 0;
            margin-right: 0;
        }
    }

    // Top content section -------------------
    .content-section {
        margin: 85px 0;
        display: flex;
        justify-content: space-between;

        // Mobile
        @media @mobile {
            flex-wrap: nowrap;
            flex-direction: column-reverse;
            margin-top: 40px;
            margin-left: 5%;
            margin-right: 3%;
        }

        // Text content
        .text-content {
            padding-left: 1.5%;

            @media @mobile {
                width: 93%;
            }
        }

        // Img div
        .img-content {

            img {
                margin-left: -3%;
                margin-top: -50px;

                @media @mobile {
                    margin: 0 0 30px 0;
                }
            }

            // Mobile
            @media @mobile {
                padding: 0;
                width: 100%;
                // height: 276px;
                padding-left: 0;
                overflow: hidden;
            }
        }

        button {
            .button-creator;
        }
    }

    // Inverse section -------------------
    .inverse-content {
        margin-top: 16.2%;
        margin-left: 3%;
        margin-bottom: 10%;

        // Mobile
        @media @mobile {
            flex-wrap: nowrap;
            flex-direction: column;
            margin-top: 40px;
            margin-left: 5%;
            margin-right: 3%;
        }
    }

    // Recent Projects -----------------------------------
    .recent-projects {
        h2 {
            @media @mobile {
                margin-left: 3%;
            }
        }

        margin-left: 1.5%;

        // Mobile
        @media @mobile {
            margin-left: 0;
        }

        // Projects
        .project-card {
            position: relative;

            // Title of project
            .block-title {
                .block;
                top: 29%;
                left: 62.3%;
                .projects-text;

                // Mobile
                @media @mobile {
                    // top: 29%;
                    left: 3.5%;
                }
            }

            // Reverse Title of project
            .inverse-block {
                .block;
                top: 29%;
                left: 0;
                .projects-text;

                // Mobile
                @media @mobile {
                    // top: 37%;
                    left: 3.5%;
                }
            }

            // Project content
            .text-content {
                padding: 90px 0 0 0;
                margin-left: 23%;
                width: 43%;
                margin-bottom: 101px;

                // Mobile
                @media @mobile {
                    margin-top: 30px;
                    padding-left: 5%;
                    margin-left: 0;
                    padding-right: 3%;
                    width: 100%;
                }
            }

            // Image
            .img-content {
                width: 100%;
                height: 230px;
                padding: 0;
                margin-top: 50px;

                // Mobile
                @media @mobile {
                    img {
                        width: 100%;
                    }
                    margin: 0;
                    padding: 0;
                }
                

               
            }
        }
        
    }
}