.topContent {
    max-height: 598px;
    .picWords {
        position: relative;
        color: #FFFFFF;
        bottom: 270px;
        left: 80px;
        // overflow: hidden;
        max-width: 50%;
        padding-right: -30px;
        width: 20%;


        @media @mobile {
            bottom: 210px;
            left:30px;
        }

        p {
            font-size: 6.5rem;
            font-weight: bold;
            line-height: 75px;

            @media @mobile {
                font-size: 5rem;
                line-height: 60px;
            }
        }
    }
}

.services {
    .picWords {
        bottom: 90px;
    }
}