.home-img-jumbo {
    content: url("../img/home/home-jumbotron.png");
    display: block;
    width: 100%;
    top: 5rem;
}

.home-img-1 {
    content: url("../img/home/home-img-1.png");
    display: block;
}

.home-img-2 {
    content: url("../img/home/home-img-2.png");
    display: block;
}

.home-img-villa {
    content: url("../img/home/home-villas-img.png");
    display: block;
}

.home-img-outskirts {
    content: url("../img/home/home-outskirts-img.png");
    display: block;
}

.home-img-blocks {
    content: url("../img/home/home-the-blocks-img.png");
    display: block;
}



