.home-img-jumbo {
  content: url("../img/home/home-jumbotron.png");
  display: block;
  width: 100%;
  @media @mobile {
    content: url("../img/home/home-mobile-jumbotron.png");
  }
}

.home-img-1 {
  content: url("../img/home/home-img-1.png");
  width: 100%;
  display: block;
  @media @mobile {
    content: url("../img/home/home-mobile-img-1.png");
  }
}

.home-img-2 {
  content: url("../img/home/home-img-2.png");
  width: 100%;
  display: block;
  @media @mobile {
    content: url("../img/home/home-mobile-img-2.png");
  }
}

.home-img-villa {
  content: url("../img/home/home-villas-img.png");
  width: 100%;
  display: block;
  @media @mobile {
    content: url("../img/home/home-mobile-villas-img.png");
  }
}

.home-img-outskirts {
  content: url("../img/home/home-outskirts-img.png");
  width: 100%;
  display: block;
  @media @mobile {
    content: url("../img/home/home-mobile-outskirts-img.png");
  }
}

.home-img-blocks {
  content: url("../img/home/home-the-blocks-img.png");
  width: 100%;
  display: block;
  @media @mobile {
    content: url("../img/home/home-mobile-the-blocks-img.png");
  }
}

.services-img-jumbo {
  content: url("../img/services/services-jumbotron.png");
  width: 100%;
  display: block;
  @media @mobile {
    content: url("../img/services/services-mobile-jumbotron.png");
  }
}

.services-img-precon {
  content: url("../img/services/services-tab-pre-construction-img.png");
  width: 100%;
  display: block;
  @media @mobile {
    content: url("../img/services/services-tab-mobile-pre-construction-img.png");
  }
}

.services-img-con {
  content: url("../img/services/services-tab-construction-img.png");
  width: 100%;
  display: block;
  @media @mobile {
    content: url("../img/services/services-tab-mobile-construction-img.png");
  }
}

.services-img-design {
  content: url("../img/services/services-tab-design-build-img.png");
  width: 100%;
  display: block;
  @media @mobile {
    content: url("../img/services/services-tab-mobile-design-build-img.png");
  }
}

.services-img-sustain {
  content: url("../img/services/services-tab-sustainability-img.png");
  width: 100%;
  display: block;
  @media @mobile {
    content: url("../img/services/services-tab-mobile-sustainability-img.png");
  }
}

.contact-img-jumbo {
  content: url("../img/contact/contact-jumbotron.png");
  width: 100%;
  display: block;
  @media @mobile {
    content: url("../img/services/services-tab-mobile-sustainability-img.png");
  }
}

