.topContent {
    max-height: 598px;
    .picWords {
        position: relative;
        
        color: #FFFFFF;
        bottom: 270px;
        left: 80px;
        // overflow: hidden;
        max-width: 50%;

        p {
            font-size: 6.5rem;
            font-weight: bold;
            line-height: 75px;
        }
    }
}

