.topContent {
    // text-align: center;
    .picWords {
        position: relative;
        font-size: 64px;
        font-weight: bold;
        line-height: 75px;
        color: #FFFFFF;
        bottom: 270px;
        left: 80px;
        overflow: hidden;
        max-width: 50%;
    }
}

