/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.b_red {
  border: 1px solid red;
}
.b_blue {
  border: 1px solid blue;
}
.b_o {
  border: 1px solid orange;
}
.b_sg {
  border: 4px solid seagreen;
}
.b_p {
  border: 1px solid purple;
}
.desktopIMG {
  width: 88rem;
  z-index: 1;
}
.projectIMG {
  height: auto;
  padding: 3rem;
  border: 5px solid blue;
}
/*

.mobileIMG{
  display: none;
}
*/
.middleIMG {
  width: 90%;
  padding: 3rem;
}
.footer-container .footerContent {
  background-color: #828282;
  display: flex;
  color: #FFFFFF;
}
.footer-container .footerContent .email {
  padding: 4rem;
}
.footer-container .footerContent p {
  font-size: 1.4rem;
  line-height: 2.6rem;
}
.footer-container .footerContent .smallText {
  font-size: 1rem;
}
.footer-container .footerContent .officeLocation {
  padding: 4rem;
}
.footer-container .copyright {
  text-align: center;
  font-size: 1rem;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  color: #222222;
  font-weight: normal;
  line-height: 2.4rem;
  background-color: #FFFFFF;
  max-width: 88rem;
  margin: 0 auto;
  padding: 0 15rem;
}
.menu-container {
  background-color: lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  max-width: 90rem;
  width: 88rem;
  top: 0;
  z-index: 3;
}
.menu-container .hamburgerIMG {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  padding-right: 10rem;
}
.menu-container .title {
  padding: 2rem 2rem 2rem 10rem;
  font-size: 4rem;
  color: #FFFFFF;
}
.menu-container .dropdown-content {
  display: none;
}
.top {
  position: relative;
  width: 88rem;
  z-index: 1;
}
.top h1 {
  z-index: 2;
  position: absolute;
  color: #FFFFFF;
  bottom: 10rem;
  left: 10rem;
  font-weight: bold;
  font-size: 6.4rem;
  height: auto;
  line-height: normal;
}
.top .sideways {
  display: flex;
  padding-bottom: 2rem;
  border: 1px solid green;
}
.top .sideways .projectIMG {
  height: auto;
  width: 100%;
  padding: 3rem;
  border: 5px solid blue;
}
.top .sideways .mobileIMG {
  display: none;
}
@media (max-width: 500px) {
  .top .sideways {
    display: flex;
    flex-direction: column-reverse;
  }
  .top .sideways h2 {
    border: 1px solid blue;
  }
  .top .sideways .projectIMG {
    display: none;
  }
  .top .sideways .mobileIMG {
    order: 1;
    display: contents;
  }
  .top .sideways .top .textBox {
    order: 2;
  }
}
.top .textBox {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}
.top .textBox h2 {
  font-size: 3rem;
  padding: 2rem 0;
}
.top .textBox p {
  padding: 2rem 0;
}
.top .textBox .button {
  padding: 1rem;
  display: inline;
  width: 10rem;
  border: 1px solid black;
}
.bottom {
  position: relative;
  width: 90%;
  padding: 3rem;
}
.bottom h2 {
  font-size: 3rem;
  padding: 2rem 0;
}
.bottom .villas {
  background-color: #D8D8D8;
  font-size: 2.8rem;
  position: absolute;
  right: 7.8rem;
  top: 28rem;
  z-index: 2;
  padding: 2rem;
}
.bottom .outskirts {
  background-color: #D8D8D8;
  font-size: 2.8rem;
  position: absolute;
  left: 6rem;
  top: 98rem;
  z-index: 2;
  padding: 2rem;
}
.bottom .blocks {
  background-color: #D8D8D8;
  font-size: 2.8rem;
  position: absolute;
  right: 7.8rem;
  top: 170rem;
  z-index: 2;
  padding: 2rem;
}
.bottom .narrowText {
  width: 40%;
  margin: 0 auto;
  padding: 6rem 0;
}
.footerContent {
  background-color: #828282;
  display: flex;
  color: #FFFFFF;
}
.footerContent .email {
  padding: 4rem;
}
.footerContent p {
  font-size: 1.4rem;
  line-height: 2.6rem;
}
.footerContent .smallText {
  font-size: 1rem;
}
.footerContent .officeLocation {
  padding: 4rem;
}
.copyright {
  text-align: center;
  font-size: 1rem;
}
/*# sourceMappingURL=index.css.map */