/*****************************************
* Contains styling for the following sections of index.html
*   .overview
        .smith-jones
        .futuristic
    .villas
    .outskirts
    .blocks
*/

.smith-img-mobile, .futuristic-img-mobile,.villas-img-mobile,
.outskirts-img-mobile, .blocks-img-mobile
 {
    display: none;
}

//.overview, .smith-jones, .futuristic
.overview {
    width: 85.4%;
    max-width: 820px;
    margin: 20px auto 60px;

    @media @mobile {
        width: 92%;
        max-width: 350px;
        margin: 25px auto 20px;
    }

} //.overview

.smith-jones {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    @media @mobile {
        margin-bottom: 20px;
        // .smith-img {
        //     display: none;
        // }
        // .smith-img-mobile {
        //     display: block;
        // }
    }

    .smith-jones-text {
        width: 48%;  //393.6 px
        padding: 40px 0 40px;

        p {
            .paragraph-separator();
        }

        .overview-button {
            .flex-centered();
            border: 1px solid @button-border-color;
            width: 40%;
            height: 45px;

            @media @mobile {
                width: 100%;
            }
        }

        @media @mobile {
            padding: 20px 0 20px;
        }
    }

    picture {
        width: 48%;

        @media @mobile {
            width: 100%;
            order: -1;
        }
    }

    @media @mobile {
        flex-direction: column;
        .smith-jones-text {
            width: 100%;
        }

    } //media query

} //.smith-jones

.futuristic {
    display: flex;
    justify-content: space-between;

    @media @mobile {
        flex-direction: column;
        margin-bottom: 0;

        .futuristic-img {
            display: none;
        }
        .futuristic-img-mobile {
            display: block;
        }
    }

    picture {
        width: 48%;

        @media @mobile{
            width: 100%;
        }
    } //img

    .futuristic-text {
        width: 48%;  //393.6 px
        padding: 40px 0 40px;

        p {
            .paragraph-separator();
        }

        .overview-button {
            .flex-centered();
            border: 1px solid @button-border-color;
            width: 40%;
            height: 45px;

            @media @mobile {
                width: 100%;
            }
        } //.overview-button

        @media @mobile {
            width: 100%;
            padding: 20px 0 20px;
        }

    } //.futuristic-text


}  //.futuristic

// .villas
.villas {
    display: flex;
    flex-direction: column;
    width: 85.4%;
    max-width: 820px;
    margin: 0 auto 40px;

    @media @mobile {
        width: 100%;

        h3, .villas-inset, p {
            padding: 0 4% 0;
        }

        .villas-img {
            display: none;
        }
        .villas-img-mobile {
            display: block;
        }
    }



    picture {
        margin: 30px 0 60px;
        height: auto;
        width: 100%;
        object-fit: contain;

        @media @mobile {
            margin:15px 0 40px;
        }
    }


    .villas-inset{
        align-self: flex-end;
        background-color: @inset-background;
        width: 36.6%;
        height: 90px;
        position: relative;
        bottom: 106px;
        .flex-centered();

        @media @mobile {
            align-self: center;
            width: 92%;
            height: 80px;
            bottom: 50px;
        }

        h3 {
            font-size: 2.2rem;
            font-weight: normal;
            letter-spacing: .8rem;

            @media @mobile {
                font-size: 2.0rem;
                letter-spacing: .4rem;
            }
        } //h3



    } //.villas-inset

    p {
        width: 48%;
        margin: 0 auto 15px;
        z-index: 999;

        @media @mobile {
            width: 100%;
            margin: 0 auto;
        }
    }

    p:nth-of-type(1){
        margin: -65px auto 15px;

        @media @mobile {
            margin-top: -30px;
        }
    }
}

//.outskirts
.outskirts {
display: flex;
flex-direction: column;
width: 85.4%;
max-width: 820px;
margin: 0 auto 40px;

@media @mobile {
    width: 100%;

    h3, .outskirts-inset, p {
        padding: 0 4% 0;
    }

    .outskirts-img {
        display: none;
    }
    .outskirts-img-mobile {
        display: block;
    }
}



picture {
    margin: 30px 0 60px;
    height: auto;
    width: 100%;
    object-fit: contain;

    @media @mobile {
        margin:15px 0 40px;
    }
}


.outskirts-inset{
    align-self: flex-start;
    background-color: @inset-background;
    width: 36.6%;
    height: 90px;
    position: relative;
    bottom: 106px;
    .flex-centered();

    @media @mobile {
        align-self: center;
        width: 92%;
        height: 80px;
        bottom: 50px;
    }

    h3 {
        font-size: 2.2rem;
        font-weight: normal;
        letter-spacing: .8rem;

        @media @mobile {
            font-size: 2.0rem;
            letter-spacing: .4rem;
        }
    } //h3



} //.outskirts-inset

p {
    width: 48%;
    margin: 0 auto 15px;
    z-index: 999;

    @media @mobile {
        width: 100%;
        margin: 0 auto;
    }
}

p:nth-of-type(1){
    margin: -65px auto 15px;

    @media @mobile {
        margin-top: -30px;
    }
}

}

//.blocks
.blocks {
    display: flex;
    flex-direction: column;
    width: 85.4%;
    max-width: 820px;
    margin: 0 auto 40px;

    @media @mobile {
        width: 100%;

        h3, .blocks-inset, p {
            padding: 0 4% 0;
        }

        .blocks-img {
            display: none;
        }
        .blocks-img-mobile {
            display: block;
        }
    }



    picture {
        margin: 30px 0 60px;
        height: auto;
        width: 100%;
        object-fit: contain;

        @media @mobile {
            margin:15px 0 40px;
        }
    }


    .blocks-inset{
        align-self: flex-end;
        background-color: @inset-background;
        width: 36.6%;
        height: 90px;
        position: relative;
        bottom: 106px;
        .flex-centered();

        @media @mobile {
            align-self: center;
            width: 92%;
            height: 80px;
            bottom: 50px;
        }

        h3 {
            font-size: 2.2rem;
            font-weight: normal;
            letter-spacing: .8rem;

            @media @mobile {
                font-size: 2.0rem;
                letter-spacing: .4rem;
            }
        } //h3



    } //.blocks-inset

    p {
        width: 48%;
        margin: 0 auto 15px;
        z-index: 999;

        @media @mobile {
            width: 100%;
            margin: 0 auto;
        }
    }

    p:nth-of-type(1){
        margin: -65px auto 15px;

        @media @mobile {
            margin-top: -30px;
        }
    }
}
