@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
@import './reset.less';
/* Your Code Goes Here */

body {
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #222222;
  font-family: 'Roboto', Arial, sans-serif;
  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto';
    margin-bottom: 20px;
  }
  h3 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 28px;
    color: #222222;
    margin-bottom: 20px;
  }
}

.container {
  margin: 0 auto;
  width: 1024px;
}

// Home Page Styling

.jumbotron {
  font-size: 64px;
  font-weight: bold;
  line-height: 75px;
  color: #FFFFFF;
  position: relative;
  .jumbotron-text {
    z-index: 2;
    display: block;
    position: absolute;
    left: 25%;
    top: 70%;
    transform: translate(-50%, -50%);
  }
}

.main-content {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .content-box {
    width: 41%;
    margin-bottom: 40px;
  }
  .content-box-text {
    padding: 40px 0;
    box-sizing: border-box;
  }
  button {
    border: 1px solid #222222;
    background-color: white;
    padding: 10px 20px;
    font-size: 16px;
  }
  button:hover {
    background-color: #222222;
    color: white;
  }
}