/*****************************************
* Contains styling for the following sections of index.html
*   .overview
        .smith-jones
        .futuristic
    .villas
    .outskirts
    .blocks
*/

//.overview, .smith-jones, .futuristic
.overview {
    width: 100%;
    max-width: 820px;
    margin: 20px auto 60px;

}

.smith-jones {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    .smith-jones-text {
        width: 48%;  //393.6 px
        padding: 40px 0 40px;

        p {
            .paragraph-separator();
        }

        .overview-button {
            .flex-centered();
            border: 1px solid @button-border-color;
            width: 40%;
            height: 45px;
        }
    }

    img {
        width: 48%;
    }
}

.futuristic {
    display: flex;
    justify-content: space-between;

    img {
        width: 48%;
    }

    .futuristic-text {
        width: 48%;  //393.6 px
        padding: 40px 0 40px;

        p {
            .paragraph-separator();
        }

        .overview-button {
            .flex-centered();
            border: 1px solid @button-border-color;
            width: 40%;
            height: 45px;
        }
    }


}


.villas {
    width: 100%;
    max-width: 820px;
    margin: 0 auto 40px;

    img {
        margin: 30px 0 60px;
        height: auto;
        width: 100%;
        object-fit: contain;
    }


    .villas-inset{
        background-color: @inset-background;
        width: 36.6%;
        height: 90px;
        position: relative;
        bottom: 110px;
        float: right;
        z-index: 1000;
        .flex-centered();

        h3 {
            font-size: 2.2rem;
            font-weight: normal;
            letter-spacing: .8rem;
        }
    }

    p {
        width: 48%;
        margin: 0 auto 15px;
    }
}

.outskirts {
    width: 100%;
    max-width: 820px;
    margin: 0 auto 40px;

    img {
        margin: 30px 0 60px;
        height: auto;
        width: 100%;
        object-fit: contain;
    }


    .outskirts-inset{
        background-color: @inset-background;
        width: 36.6%;
        height: 90px;
        position: relative;
        bottom: 110px;
        float: left;
        z-index: 1000;
        .flex-centered();

        h3 {
            font-size: 2.2rem;
            font-weight: normal;
            letter-spacing: .8rem;
        }
    }

    p {
        width: 48%;
        margin: 0 auto 15px;
    }

}

.blocks {
     width: 100%;
    max-width: 820px;
    margin: 0 auto 40px;

    img {
        margin: 30px 0 60px;
        height: auto;
        width: 100%;
        object-fit: contain;
    }


    .blocks-inset{
        background-color: @inset-background;
        width: 36.6%;
        height: 90px;
        position: relative;
        bottom: 110px;
        float: right;
        z-index: 1000;
        .flex-centered();

        h3 {
            font-size: 2.2rem;
            font-weight: normal;
            letter-spacing: .8rem;
        }
    }

    p {
        width: 48%;
        margin: 0 auto 15px;
    }
}