
.jumbo-container {
    display: flex;
    width: 100%;
    max-width: 960px;

    .jumbotron {
        border: 2px solid blue;
        overflow: hidden;
        font-weight: bold;
        font-size: 6.4rem;
        line-height: 75px;
        color: #ffffff; //white
        position: relative;

        img {
            height: auto%;
            width: 100%;
            object-fit: contain;
        }

        .jumbo-text {
            position: absolute;
            bottom: 46px;
            left: 65px;
        }
    }
}

