.input{
    &__label{
        font-size: 1.4rem;
        display: inline-block;
    }
    &__email{
        display: block;
        width: 100%;
        padding: 1rem;
        border-radius: 0.5rem;
        border: 1px solid #D8D8D8;
        font-size: 1.6rem;
        box-sizing: border-box;
    }
    &__radio{
        display: inline;
    }
    &__number{
        display: block;
        width: 100%;
        padding: 0.51rem;
        border-radius: 0.2rem;
        border: 1px solid #D8D8D8;

    }
    &__text{
        display: block;
        width: 100%;
        border-radius: 0.2rem;
        border: 1px solid #D8D8D8;
    }
    &__group:not(:last-child){
        margin-bottom: 2rem;
    }
    &__info{
        color: rgb(139, 139, 139);
        font-size: 1.2rem;
    }
}
