.slideshow-container {
  height: auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  .text {
    margin: 15px 0;
  }
  .content {
    height: auto;
    max-height: 535px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
    @media (max-width: 768px) {
      max-height: 350px;
    }
    .slides {
      display: none;
    }
    .visible {
      display: block;
      max-height: 535px;
      height: 100%;
      width: 100%;

      object-fit: cover;
    }
  }
  .demo-pictures {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
    width: 100%;

    .demo {
      width: 18%;
      height: 118px;
      object-fit: fill;
      &:hover {
        cursor: pointer;
      }
    }
    .first {
      margin-bottom: 30px;
    }
  }
}

// .slideshow-container-vw {
//   .content1 {
//     height: 535px;
//     width: 100%;
//     margin-bottom: 40px;
//     margin-top: 40px;
//     .vwslides {
//       display: none;
//     }
//     .visible {
//       display: block;
//       height: 100%;
//       width: 100%;
//       object-fit: scale-down;
//     }

//     .demo-pictures {
//       display: flex;
//       justify-content: space-between;
//       flex-wrap: wrap;
//       width: 100%;
//     }
//     .col {
//       width: 18%;
//       height: 100px;
//       img {
//         height: 100%;
//         width: 100%;
//         object-fit: cover;
//         &:hover {
//           cursor: pointer;
//         }
//       }
//     }
//   }
// }
