.slideshow-container {
  padding-top: 50px;
  .text{
      margin: 15px 0;
  }

  .slides {
    display: none;
    .demo-pictures {
      height: 100px;
      width: 100%;
    }
  }
  .visible {
    display: block;
    height: 100%;
    width: 100%;
  }

  .demo-pictures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .col {
    width: 18%;
    img {
      height: 60%;
      width: 100%;
      object-fit: cover;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .content {
    height: 535px;
    width: 100%;
    border: 1px solid red;
    margin-bottom: 40px;
  }
}
