//INTRO

.intro-bg{
    width: 100%;
    background-color: @bg-gray;
    height: 100vh;
    z-index: 13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.letters {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    height: 350px;
    
    p {
        font-size: 300px;

        .letter2 {
            font-size: 150px;
        }
    }

    
    
    
}

.all-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    height: 800px;

        p{
            color: white;
            
        
        &.designing{
            color: black;
            font-size: 80px;
            margin-bottom: 24px;
            
            padding: 5px;
        }
        &.future{
            font-size: 60px;
            height: 60px;
            margin-left: 180px;
        }
    }
   
}

.building {
    height: auto;
    width: 100px;
    
    
}

