.jumbo-container {
  margin-bottom: 50px;

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  @media @phone {
    .desktop {
      display: none;
    }
  
    .mobile {
      display: block;
    }

  }

  img {
    width: 100%;
    max-height: 95vh;
  }

  .jumbotron {
    position: relative;
    padding: 0 5%;
    max-width: 1024px;
    margin: 0 auto;
    
    h1 {
      position: absolute;
      bottom: 20px;
      left: 5%;
      z-index: 2;
      font-weight: 700;
      font-size: 6.4rem;
      line-height: 7.5rem;
      color: @white;

      @media @phone {
        font-size: 4rem;
        line-height: 4.3rem;
        font-weight: 400;
      }
    }
  }
}

