.jumbotron-header {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #ffffff;

  @media @phone {
    line-height: 42px;
  }

  h1 {
    margin-top: -287px;
    margin-bottom: 97px;
    margin-left: 83px;
    @media @phone {
      font-size: 3.7rem;
      margin-top: -148px;
      margin-bottom: 58px;
      margin-left: 16px;
      font-weight: 400;
    }
  }

  @media @phone {
    img {
      width: 100%;
    }
  }
}
