.Integrity {
    font-size:6.4rem;
    color:white;
    position: relative;
    height:100%;


    h1 {
        left: 0px;
        position: absolute;
        bottom: 53px;
    }

}



.jumbo-home {
    background-image:url("../img/home/home-jumbotron.png");
    height: 598px;
    width:1024px;
    margin:0 auto;
    margin-bottom:40px;
    
}

.jumbo-home-services {
    background-image:url("../img/services/services-jumbotron.png");
    height: 250px;
    width:1024px;
    margin:0 auto;
    margin-bottom:40px;
}

.Integrity-services {
    font-size:6.4rem;
    color:white;
    position: relative;
    height:100%;


    h1 {
        left: 0px;
        position: absolute;
        bottom: 30px;

    }



}

.jumbo-home-contact {
    background-image:url("../img/contact/contact-jumbotron.png");
    height: 250px;
    width:1024px;
    margin:0 auto;
    margin-bottom:40px;

}

.Integrity-contact {
    font-size:6.4rem;
    color:white;
    position: relative;
    height:100%;


    h1 {
        left:0px;
        position: absolute;
        bottom:30px;
    }

}