.header {
    .main-header {
	height: auto;
	height: 30%;
	font-size: 65px;
	color: white;
	img {
	    /* position: relative; */
	    width: 100%;
	}
	
	.title-text {
	    position: relative;
	    /* border: 1px solid red; */
	    left: 100px;
	    top: -400px;
	    z-index: 1000;
	    font-family: roboto;
	    font-weight: bold;
	    width: 50%;
	}
    }
}
