.bg {
  max-width: 1100px;
  margin: 0 auto;
  background-size: cover;
  padding: 0;
  margin-bottom: 0px;
  height: 350px;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background: transparent;
  .jumbotron {
    width: 100%;
    margin-bottom: 0px;
    height: 350px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background: transparent;
  }
}
@media screen and (max-width: 480px) {
}
