.jumbotron-header {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: #ffffff;

  @media @phone {
    font-weight: bold;
    font-size: 3.7rem;
    line-height: 42px;
    font-weight: normal;
  }

  h1 {
    margin-top: -287px;
    margin-bottom: 97px;
    margin-left: 83px;
    @media @phone {
      margin-top: -158px;
      margin-bottom: 58px;
      margin-left: 16px;
      font-weight: normal;
    }
  }

  @media @phone {
    img {
      width: 100%;
    }
  }
}
