.jumbo-container {
  margin-bottom: 50px;

  img {
    width: 100%;
    height: auto;
  }

  .jumbotron {
    position: relative;
    padding: 0 5%;
    max-width: 1024px;
    margin: 0 auto;
    
    h1 {
      position: absolute;
      bottom: 20px;
      left: 5%;
      z-index: 2;
      font-weight: 700;
      font-size: 6.4rem;
      line-height: 7.5rem;
      color: @white;
    }
  }
}

