.contact {
  .jumbotron {
    background-image: url('../img/contact/contact-jumbotron.png');
    background-repeat: no-repeat, repeat;
    width: 100%;

    .JumboText {
      padding: 157px 0 40px 8%;
    }

    .jumbo {
      font-weight: bold;
      font-size: 6.4rem;
      line-height: 75px;
      color: @white;
    }

    @media  @mobile {
      background-image: url('../img/contact/contact-mobile-jumbotron.png');
      height: 260px;
      
      .JumboText {
        padding: 195px 0 40px 5%;
      }

      .jumbo {
        font-size: 3.7rem;
        line-height: 42px;
      }
    }
  }
}