.jumobotron {
    width: 100%;
    color: black;
    position: relative;
    h1 {
      font-weight: bold;
      font-size: 64px;
      line-height: 50px;
      z-index: 1;
      position: absolute;
      color: #FFFFFF;
      bottom: 75px;
      left: 80px;
    }
    img {
      z-index: -1;
    }
  }
