// General styles
* {
    box-sizing: border-box;
}

html, body {
    background: #ffffff;
    color: #222222;
    font-family: 'Roboto', 'Arial', sans-serif;
}

html {
    font-size: 62.5%;
}

.container-fluid {
    position: relative;
}

.container {
    max-width: 855px;
}