// General styles
* {
    box-sizing: border-box;
}

html, body {
    background: #ffffff;
    color: #222222;
    font-family: 'Roboto', 'Arial', sans-serif;
}

html {
    font-size: 62.5%;
}

h3 {
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 1rem;
    // font-weight: bold;
}

p {
    width: 100%;
}

img {
    width: 100%;
}

.container-fluid {
    position: relative;
}

.container {
    max-width: 855px;
}

.container nav {
    position: fixed;
    top: 0.5rem;
    left: 3rem;
    width: 100%;
}

nav p {
    color: #ffffff;
    font-size: 1.6rem;
    text-decoration: none;
}

.nav img {
    position: fixed;
    top: 0.5rem;
    right: 3rem;
    width: 10%;
}

.jumbotron-headers {
    position: absolute;
    bottom: 10px;
}

.jumbotron-headers p {
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1rem;
}

.top-content {
    padding: 3rem 0;
}

.top-content h2 {
    font-weight: bold;
    padding-top: 1rem;
}

.top-content1 {
    display: flex;
    flex-wrap: wrap-reverse;
    padding-bottom: 30px;
}

button {
    background-color: #ffffff;
    font-size: 1.6rem;
    border: 0.1rem solid black;
    height: 4.8rem;
    width: 100%;

    &:hover {
        background: #d8d8d8;
        cursor: pointer;
    }
}

.middle-content {
    padding: 1rem 0;
}

.middle-content-img {
    position: relative;
}

.middle-content-headers {
    background: #d8d8d8;
    position: relative;
    left: 3rem;
    bottom: 1rem;
    height: 7rem;
    width: 80%;
    display: flex;
    justify-content: center;
}

.middle-content h3 {
    align-self: center;
}

.middle-content img {
    width: 100%;
}

.top-content p, .middle-content p {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.custom-footer {
    background-color: #828282;
}

.custom-footer footer {
    width: 100%;
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: #ffffff;
    padding-top: 20px; 
}

footer h4 {
    font-size: 2rem;
    line-height: 2.4rem;
    margin: 5px 0 0;
}

footer p {
    margin: 0;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }