// General styles
* {
    box-sizing: border-box;
}

html, body {
    background: #ffffff;
    color: #222222;
    font-family: 'Roboto', 'Arial', sans-serif;
}

html {
    font-size: 62.5%;
}

h2 {
    font-size: 2.8rem;
    font-weight: bold;
}

p {
    font-size: 1.6rem;
}

.container {
    max-width: 855px;
}

.container nav {
    position: fixed;
    top: 0.5rem;
    width: 100%;
}

header {
    background-color: #d8d8d8;
    color: white;
}

.jumbotron {
    background: #ffffff;
    padding: 0;
    margin: 0;
}

.jumbotron-headers {
    position: relative;
    bottom: 30rem;
    padding: 0;
    margin: 0;
}

.jumbotron-headers p {
    color: #ffffff;
    font-size: 6.4rem;
    font-weight: bold;
    line-height: 7.5rem;
}

.top-content {
    padding: 30px 0;
}

button {
    background-color: #ffffff;
    font-size: 1.6rem;
    border: 0.1rem solid black;
    height: 4.8rem;
    width: 14rem;

    &:hover {
        cursor: pointer;
    }
}

.middle-content {
    padding: 10px 0;
}

.middle-content-headers {
    background: #d8d8d8;
    position: relative;
    left: 53.9rem;
    bottom: 5rem;
    height: 8rem;
    width: 30rem;
    display: flex;
    justify-content: center;
}

.middle-content h2 {
    align-self: center;
}

.middle-content img {
    width: 100%;
}

.middle-content p {
    width: 50%;
}

footer {

    font-size: 1.4rem;
    line-height: 2.6rem;
    color: #ffffff;
    padding: 20px 50px 0;
}

.footer-bg {
    background-color: #828282;
}

footer h4 {
    font-size: 2rem;
    line-height: 2.4rem;
}