article {
     .display-flex;
      margin: 80px 0;
      @media @phone {
          flex-direction: column-reverse;
          margin: 15px;
      }
     .text{
         
            h2 {
                font-size: 2.8rem;
                font-weight: bold;
                padding-bottom: 20px;
                color: #222222;
                @media @phone {
                    font-size: 2.3rem;
                }
            }
            p {
                font-size: 1.6rem;
                padding-bottom: 40px;
                line-height: 24px;
            }
            div {
                border: 1px solid #222222;
                padding: 15px 20px;
                font-size: 1.6rem;
                display: inline;
                @media @phone {
                    display: block;
                    width: 80%;
                    text-align: center;
                    margin: 0 auto;
                }
            }
     } 
    img {
        max-width: 500px;
        height: 300px;  
        margin-left: 40px;
        @media @phone {
            margin: 0 auto;
        }
    } 
          
}
.img-rev {
    margin-left: 0;
    margin-right: 40px;
    @media @phone {
        margin: 0;
    }
}
.text-2{
    flex-direction: row-reverse;
    justify-content: space-between;
    @media @phone {
        flex-direction: column-reverse;
        margin: 40px 15px;
    }
}

.container {
    margin: 80px;
    @media @phone {
        margin: 0;
    }
    h2{
        font-size: 2.0rem;
        font-weight: 700;
        margin: 20px 0;
    }
    img {
        width: 100%;
        z-index: -1;
        @media @phone {
            height: 200px;
            background-image: url(..img/home/home-mobile-villas-img.png) no-repeat;
        }
    }
    .img-wide{
        position: relative;
        z-index: -1;
        h1{
            background-color: #D8D8D8;
            display: flex;
            flex-direction: flex-end;
            justify-content: center;
            align-items: center;
            height: 90px;
            width: 250px;
            font-size: 2.8rem;
            position: absolute;
            bottom: -45px;
            right: 0;
            padding: 0 20px;
            
            @media @phone {
                width: 79%;
                right: 10%;
                left: 10%;
                bottom: -65px;
                flex-direction: none;
                padding: 0 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .villas1 {
            @media @phone {
                display: none;
            }
        }
        .villas2 {
            display: none;
            @media @phone {
                display: block;
            }
        }
        
    }
    .text-center{
       width: 50%;
       margin: 0 auto;
       padding-top: 40px;
       @media @phone {
        width: 85%;
        padding-top: 60px;
        
    }
       p{
           font-size: 1.6rem;
           padding: 20px 0;
           line-height: 2.4rem;
           
       } 
    }
    .outskirts{
        h1{
        left: 0;
        @media @phone {
            right: 10%;
            left: 10%;
        }
        }
    }
}
