.main-top {
    h1 {
        font-weight: bold;
    }
    margin: 6%;
    .button {
      .buttonmaker(130px, 50px);
    }
    .content {
      padding: 3%;
      line-height: 130%;
      .flexcolumn;
      justify-content: center;
    }
    .smith{
      .flexrow;
      flex-direction: row-reverse;
    }
    .future{
      margin-left:2%;
      .flexrow;
      margin-top: 10%;
      .content {
        margin-left: 2%;
      }
    }
 }
  
  .main-mid {
    img {
      height: 100%;
    }
    h1 {
      margin-left: 9%;
    }
    p {
        margin-top: 6%;
        padding: 0 25%;
        line-height: 150%;
        font-size: 110%;
        letter-spacing: 120%;
      }
    .villas, .outskirts {
      margin: 6% 6% 14% 8%;
      position: relative;
     h1 {
         .textsquare;
     }
      
      .villas-head {
          right: 0;
      }
      .outskirts-head {
          left: -3.3em;
      }
    }
    .blocks {
        margin: 6% 6% 5% 8%;
        position:relative;
        h1 {
            .textsquare;
        }
        .blocks-head {
            right: 0;
        }
    }
 }