.home-jumbotron {
	max-width: 1024px;
	margin: auto;
}

.jumbotron-heading {
  	position: absolute;
  	top: 325px;
  	padding: 0 82px;
  	font-weight: bold;
  	font-size: 64px;
  	line-height: 75px;
	font-family: 'roboto', sans-serif;
	color: @f;
}