.container{
    width: 1024px;
    max-width: 100%;
    padding-left: 0; 
    padding-right: 0; 
}

.text-block {
    position: absolute;
    color: white;
    padding-left: 20px;
    left: 250px;
    top: 500px;
}