.main-nav {
    background: @main-nav-bg-color;
    color: @main-nav-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 854px;
    height: 50px;
    //height: 100%;
    font-size: 24px;
    font-weight: bold;
    padding: 0 85px;
    position: fixed;
    z-index: 1;

    @media @mobile {
        width: 288px;
        padding: 0 16px;
    }

    .top-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        //height: 100%;
        padding-top: 14px;
    }

    nav {
        height: 350px;
        font-weight: bold;
        font-size: 48px;
        line-height: 85px;
        padding-bottom: 118px;
        padding-left: 7px;

        a {
            text-decoration: none;
            color: @white;

            &:hover {
                color: @soft-black;
            }
        }

        .selected-link {
            color: @soft-black;
        }
    }

    .main-nav-btn:hover {
        cursor: pointer;
    }

    .toggle-display {
        display: none;
    }
} // .main-nav

.toggle-height { // toggle height of .main-nav
    height: 100%;
}

.toggle-opacity { // toggle opacity of .main-nav
    opacity: 0.9;
}
