// index.html styling

.main {
    .center;
    flex-direction: column;

    .jumbo-main {
        width: 100%;
        margin-bottom: 100px;

        @media @mobile {
            .margin-btm;
        }

        .jumbo-text {
            z-index: 1;
            position: relative;
            margin-top: -295px;
            margin-left: 8%;

            @media @mobile {
                margin-top: -200px;
                margin-left: 5%;
            }
        }
    }

    .btn {
        .button-creator(135px, 50px, @button-bg, @glb-font, @button-border);

        @media @mobile {
            .center;
            .button-creator(99%, 50px, @button-bg, @glb-font, @button-border);
        }
    }

    .top-content {
        width: 49%;

        @media @mobile {
            width: 99%;
        }
    }

    .intro {
        .center-margin-between;

        @media @mobile {
            flex-direction: column;
        }

        img{
            order: 1;

            @media @mobile {
                margin-bottom: 30px;
                order: 0;
            }
        }
    }

    .designs {
        .center-margin-between;

        @media @mobile {
            flex-direction: column;
        }

        img {
            @media @mobile {
                margin-bottom: 30px;
            }
        }
    }

    .projects {
        .center-margin;
        flex-direction: column;

        h2 {
            margin-right: auto;
        }

        .project {
            .margin-btm;

            img {
                width: 100%;
                @media @mobile {
                    width: 320px;
                }
            }

            h3 {
                .center;
                width: 315px;
                height: 95px;
                margin-bottom: 35px;
                font-weight: bold;
                letter-spacing: 10px;
                background-color: @project-bg;
                border: 1px solid @project-border;

                @media @mobile {
                    width: 90%;
                    margin: auto;
                    margin-bottom: 25px;
                }
            }

            p {
                width: 50%;
                margin: auto;

                @media @mobile {
                    width: 90%;
                }
            }

            .right {
                position: relative;
                margin-top: -60px;
                margin-left: auto;
                @media @mobile {
                    margin-top: -15px;
                }
            }

            .left {
                position: relative;
                margin-top: -60px;
                @media @mobile {
                    margin-top: -15px;
                }
            }
        }
    }
}
