article {
     .display-flex;
     .text{
         padding: 40px;
            h2 {
                font-size: 2.0rem;
                font-weight: 700;
                padding-bottom: 20px;
            }
            p {
                font-size: 1.4rem;
                padding-bottom: 40px;
            }
            div {
                border: 1px solid black;
                padding: 10px 15px;
                font-size: 1.2rem;
                display: inline;
            }
     }
     img {
         width: 300px;
         height: 200px;
         margin: 40px;
     }
     
}
.text-2{
    flex-direction: row-reverse;
}