.main-body {
    .jumbotron {
        background-image: url("../img/home/home-jumbotron.png");
        background-position: 0 -50px;
        background-repeat: no-repeat;
        width: 1024px;
        height: 598px;
        font-weight: bold;
        font-size: 64px;
        line-height: 75px;
        color: @white;

        .tagline {
            padding-top: 274px;
            padding-left: 84px;
        }
    }
}