// Main Content Styles
.container {
    max-width: 800px;
    margin: auto;
    // width: 100%;
    border: 1px solid blue;
    //margin: 0 auto;
    font-family: Arial, sans-serif;
}
    .main-content {
    border-top: 2px solid black; 
    border-bottom: 2px solid black;
    // margin: 75px 0 35px 0;
    // padding: 35px 0;
    // font-size: 16px;
    // line-height: 18px;


        .img-jumbotron {
            display: block;
            width: 800px;
            // margin: 30px auto;
        }

        .top-content {
                display: flex;
                justify-content: space-around;        
            }

    

            .top-left{
               // display: flex;
                border: 1px solid black;
            }

            .btn-features{
                margin-top: 20px;
            .button-maker(100px, 50px, RoyalBlue);
                color: white;
                cursor: pointer;
                // flex-direction: column;
            }

        .bottom-content {
            display: flex;
            justify-content: space-around;

            // .btn-features{
            //       margin-top: 20px;
            //      .button-maker(100px, 50px,RoyalBlue );
            //       color: white;
            //       cursor: pointer;
                

            p {
                // padding-right: 20px;
                width: 400px;
                }
            }
        }
