// jumbotron styles
.home-jumbotron {
	max-width: 1024px;
	margin: auto;
}

.jumbotron-heading {
  	position: absolute;
  	top: 325px;
  	padding: 0 82px;
  	font-weight: bold;
  	font-size: 6.4rem;
  	line-height: 75px;
	font-family: 'roboto', sans-serif;
	color: @f;
}

.main-container {
	max-width: 855px;
	margin: auto;
}

// two column section styles
.col-split {
	padding: 50px 0;
}

.two-col-row {
	display: flex;
	align-items: center;
}

.col-split-right .two-col-row {
	flex-direction: row-reverse;
}

.two-col-text p{
	padding: 25px 0;
}

.two-col-button {
	display: inline-block;
	width: 135px;
	height: 47px;
	border: 1px solid @2;
	text-align: center;
	padding-top: 11px;
}

// single column section styles
.single-col {
	img {
		width: 100%;
		padding: 50px 0;
	}

	.gray-box {
		width: 315px;
		height: 95px;
		background-color: @graybox;
		border: 1px solid @f;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		top: -90px;

		h3 {
			text-align: center;
			font-size: 2.4rem;
		}
	}

	p {
		clear: both;
		max-width: 450px;
		margin: auto;
		font-weight: bold;
	}

	&:nth-child(even) .gray-box {
		float: right;
	}
}