// index.html styling

.main {
    .jumbo-intro {
        font-weight: bold;
        font-size: 6.4rem;
        line-height: 75px;
        color: @jumbotron-font;
    }

    .hdr {
        font-weight: bold;
        font-size: 2.8rem;
        color: @hdr-font;
    }

    .project {
        background-color: @project-bg;
    }

    .btn {
        border-color: @button-border;
    }
}