.mainContent {
    .jumbotron {
        position: relative;
        max-width: 1024px;
        max-height: 598px;
        padding-top: 37px;
        img {
            width: 100%;
        }
        p {
            position: absolute;
            bottom: 5%;
            left: 5%;
            color: #FFFFFF;
            font-size: 6.4rem;
            font-weight: bold;
            line-height: 7.5rem;
        }
    }
    .features {
        max-width: 855px;
        margin: auto;
        padding-top: 5%;
        .featureContent {
            display: flex;
            align-items: center;
            padding-top: 5%;
            .featureText {
                max-width: 48%;
                margin: 1%;
                h1 {
                    font-size: 2.8rem;
                }
                p {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                }
                button {
                    background-color: #FFFFFF;
                    border: 1px solid #222222;
                    font-size: 1.8rem;
                    margin-top: 8%;
                    padding: 4%;
                }
            }
            .featureImage {
                max-width: 48%;
                margin: 1%;
                img {
                    max-width: 100%;
                }
            }
        }
    }
    .recentProjects {
        max-width: 855px;
        margin: auto;
        h2 {
            font-size: 2.8rem;
            padding-bottom: 4%;
        }
        div {
            .projectImage {
                position: relative;
                img {
                    max-width: 100%;
                }
                h2  {
                    position: absolute;
                    color: #222222;
                    background-color: #d7d7d7;
                    bottom: -5%;
                    right: 0%;
                    padding: 3%;
                }
            }
            .projectContent {
                display: flex;
                flex-direction: column;
                margin: auto;
                max-width: 60%;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
                p {
                    justify-content: center;
                    font-size: 1.8rem;
                    line-height: 2.0rem;
                    padding: .5rem;
                }
            }
        }
    }
}