@media(max-width: 576px){



    .footer-flex{
      display: flex;
      flex-direction: column;

    }

    .contact-block{
      margin: 10px;
      padding-left: 10px;
    }

    .jumbo-img{
        position: relative;
        z-index: -1;
      }
    
      .section-1 h1 {
        position: absolute;
        top:35%;
        left: 5%;
        font-weight: Bold;
        font-size: 37px;
        line-height: 45px;
        Color: #FFFFFF;
        margin-left: 10px;
        margin-bottom: 10px;
      }

      .pic-reverse{
        display: flex;
        flex-direction: column-reverse;
    }

}