
@media (max-width: 399px) {
    .container {
        width: 399px;

        .header {
            width: 100%;
            .bar {
                width: 100%;
                height: 10vh;
                display: flex;
                justify-content: space-between;
                background-color: #828282;
                opacity: .75;
                position: fixed;
                z-index: 2;
                h1 {
                  align-self: flex-start;
                  margin: 20px;
                  margin-left: 5%;
                  color: white; 
                  font-family: Roboto, Arial, sans-serif;
                  font-weight: bold;
                  font-size: 1.6rem;
                }
                .menu {
                  align-self: flex-end;
                  margin: 20px; 
                  margin-right: 8%;
                  z-index: 3;
                  .dropdown {
                    .dropdown-button {
                      &:hover {
                        cursor: pointer;
                      }
                    }
                    .dropdown-content {
                      display:none;
                    }
                    .dropdown--open {
                        background-color: #828282;
                        display:block;
                        height: 90vh;
                        width: 100vw;
                        // padding: 0 130px;
                        position: fixed;
                        top: 10vh;
                        right:0;
                        left: 0;
                        bottom:0;
                        opacity: .95;
                        z-index: 1;
                        .dropdown-link {
                          display: flex;
                          justify-content: flex-start;
                          align-items: center;
                          height: 20vh;
                          width: 100%;
                          margin: 0;
                          color: #FFF;
                          font-family: Roboto, Arial, sans-serif;
                          font-size: 3rem;
                          text-decoration: none;
                        }
                      }
                    }
                }
            }
            .jumbotron {
                background-image: url(../img/home/home-mobile-jumbotron.png) no-repeat;
                height: 50vh;
                p {
                  font-size: 2rem;;
                }
              }
            } //end of header
        .main-content {
            margin: 0 auto;
            max-width: 100%;
            .boxes {
                margin: 0 20px;
                .row1 {
                    display: inline-flex;
                    flex-wrap: wrap;
                    margin: auto;
                    .box {
                        width: 100%;
                        margin: 0 5px;
                        h2 {
                            margin: 20px auto;
                            width:100%;
                        }
                        .button {
                            margin: 20px 60px;
                        }
                    }
                    .image {
                        img {
                            display:none;
                        }
                        display: block;
                        background: url("../img/home/home-mobile-img-1.png") no-repeat;
                        width: 290px; 
                        height: 275px; 
                        padding-left: 290px;
                        margin: 20px 30px;
                        order:1;
                    }
                    .text {
                        order: 2;
                    }
                }
                .row2 {
                    display: inline-flex;
                    flex-wrap: wrap;
                    margin: auto;
                    .box {
                        width: 100%;
                        margin: 0 5px;
                        h2 {
                            margin: 20px auto;
                            width: 100%
                        }
                        .button {
                            margin: 20px 60px;
                        }
                    }
                    .image {
                        img {
                            display:none;
                        }
                        display: block;
                        background: url("../img/home/home-mobile-img-2.png") no-repeat;
                        width: 290px; 
                        height: 275px; 
                        margin: 20px 30px;
                        padding-left: 290px;
                        order:1;
                    }
                    .text {
                        order: 2;
                    }
                }
            }
            .projects {
                display: inline-block;
                h2 {
                    margin-left: 20px; 
                    width: 100%;
                }
                .villas {
                    margin: auto 9%;
                    img {
                        display: none;
                    }
                    display: block;
                    background: url("../img/home/home-mobile-villas-img.png") no-repeat;
                    width: 320px; 
                    height: 200px;
                    padding: 220px 20px;
                    margin-bottom: 100px;
                    .title {
                        left: 5%;
                        height: 15vh;
                        width: 80%;
                        font-size: 1.6rem;
                    }
                     .text {
                        display: block;
                        margin: 0 0;
                        height: 60vh;
                        width: 100%;
                        p {
                            font-size: 1.2rem;
                            line-height: 1.2;
                            margin: 5px 0;
                            margin-bottom: 10px;
                        }
                     }              
                }
                .outskirts-sum {
                    margin: auto 9%;
                    img {
                        display: none;
                    }
                    display: block;
                    background: url("../img/home/home-mobile-outskirts-img.png") no-repeat;
                    width: 320px; 
                    height: 200px;
                    padding: 220px 20px;
                    margin-bottom: 100px;
                    .title {
                        left: 5%;
                        height: 15vh;
                        width: 80%;
                        font-size: 1.6rem;
                    }
                    .text {
                        display: block;
                        margin: 0 0;
                        height: 50vh;
                        width: 100%;
                        p {
                            font-size: 1.2rem;
                            line-height: 1.2;
                            margin: 5px 0;
                            margin-bottom: 10px;
                        }
                    }        
                }
                .blocks {
                    margin: auto 9%;
                    img {
                        display: none;
                    }
                    display: block;
                    background: url("../img/home/home-mobile-the-blocks-img.png") no-repeat;
                    width: 320px; 
                    height: 200px;
                    padding: 220px 20px;
                    margin-bottom: 100px;
                    .title {
                        left: 5%;
                        height: 15vh;
                        width: 80%;
                        font-size: 1.6rem;
                    }
                    .text {
                        display: block;
                        margin: 0 0;
                        height: 50vh;
                        width: 100%;
                        p {
                            font-size: 1.2rem;
                            line-height: 1.2;
                            margin: 5px 0;
                            margin-bottom: 10px;
                        }
                    }          
                }
            }
        } 
        .bottom-content {
            .contact-container {
                flex-direction: column;
                margin: 0;
                padding: 20px 0 0;
                .form {
                    display: block;
                    padding: 20px 0;
                }
                .contact {
                    align-self: flex-start;
                    height: 20vh;
                    padding: 20px 0;
                    margin: 30px 10px;
                    h2 {
                        font-size: 1.2;
                    }
                    p {
                        line-height: 1.5;
                        margin: 5px 0;
                    }
                }
            }
            .footer {
                width: 100%;
                margin: 0;
                p {
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    margin: 10px 5px 0;
                    padding-bottom: 5px;
                    font-size: .8rem;
                }
            }
        }
    }    

}