@media(max-width: 576px){
    .footer-flex{
      display: flex;
      flex-direction: column;

    }

    .contact-block{
      margin: 10px;
      padding-left: 10px;
    }

    .jumbo-img{
        position: relative;
        z-index: -1;
      }
    
      .section-1 h1 {
        position: absolute;
        top:35%;
        left: 5%;
        font-weight: Bold;
        font-size: 37px;
        line-height: 45px;
        Color: #FFFFFF;
        margin-left: 10px;
        margin-bottom: 10px;
      }

 
      .mobile-center{
          display: flex;
          flex-direction: column;
          align-items: center;
    
      }

    
      .button-mobile{
          display: flex;
          flex-direction: column;
          margin-left: 17%;
      
    
          .section-3-title-overlay {
            border:.5px solid white;
            height: 100px;
            width: 90%;
            text-align: center;
            padding-top: 35px; 
            background-color: black;
            position: absolute;
            bottom: -50%;    

   
        }
    }

    .text-margin{
        margin: auto;
        margin-left: 10%;
        margin-right: 10%;
    }

    .footer-component{
        padding-right: 20px;
    }
  

// img-swap-section

        .display-pic-section-1-mobile{
            display: flex;
            flex-direction: column;
            
            .jumbo-img{
                position: relative;
                z-index: -1;
                display: flex;
                align-content: center;
              }
            
              .section-1 h1 {
                position: absolute;
                top:50%;
                left: 5%;
                font-weight: Bold;
                font-size: 64px;
                line-height: 75px;
                Color: #FFFFFF;
              }
        }

        .display-pic-section-1-desktop{
            display: none;
        }


        .display-pic-section-2-mobile{
            display: block;
        }
  
        .display-pic-section-2-desktop{
            display: none;
        }



        .display-pic-section-3-mobile{
            display: flex;
            flex-direction: column;
            
            .section-3-title-overlay {
                border:.5px solid white;
                height: 100px;
                width: 60%;
                text-align: center;
                padding-top: 35px; 
                background-color: #D8D8D8;
                position: absolute;
                bottom: -40%;    
            }
        }
  


        .display-pic-section-3-desktop{
            display: none;
        }
  

      }




