.meet {

    .content {
        height: 75%;
    }

    .button {
        color: black;
        font-size: 5rem;
        text-align: center;
        margin: auto 0px;
    }

    .about-me {
        display: none;

        padding: 20px 10%;
        
        &.active {
            display: block;
        }
    }

}


.carousel {
    padding-top: 20px;

    display: flex;
    justify-content: space-evenly;
    align-content: center;

    .image {
        display: none;
        width: 0px;


        .img {
            max-height: 500px;
            height: 100%;

        }

        &.active {
            width: auto;
            display: block;
            overflow: hidden;
            transition-property: all;
            transition-timing-function: linear;
            transition-duration: 1;
        }
    }


}