.meet {
  .content {
    height: 850px;
  }

  .button {
    color: black;
    font-size: 5rem;
    text-align: center;
    margin: auto 0px;

    img {
      width: 30px;
    }
  }

  .left-button img {
    transform: rotate(-90deg);
    &:hover {
      transform: rotate(-90deg) scale(1.1);
    }
    &:active {
      transform: scale(0.95) rotate(-90deg);
    }
  }

  .right-button img {
    transform: rotate(90deg);
    &:hover {
      transform: scale(1.1) rotate(90deg);
    }
    &:active {
      transform: scale(0.95) rotate(90deg);
    }
  }

  .about-me {
    display: none;
    padding: 20px 10% 80px;

    h2 {
      padding-bottom: 40px;
      text-align: center;
    }

    &.active {
      display: block;
    }
  }
}

.carousel {
  padding-top: 20px;

  display: flex;
  justify-content: space-evenly;
  align-content: center;

  .image {
    display: none;
    width: 0px;

    &.active {
      max-width: 700px;
      width: 100%;
      display: block;
      overflow: hidden;
      transition-property: all;
      transition-timing-function: linear;
      transition-duration: 1;

      a,
      img {
        width: 100%;
      }
    }
  }
}

.carousel-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
