.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background-color: @main-bg;

  .menu-button {
    display: block;
    position: absolute;
    right: 40px;
    cursor: pointer;
  }

  .hamburger-hide {
    display: none;
  }

  .menu-button-close {
    display: block;
    position: absolute;
    right: 40px;
    cursor: pointer;
  }

  .menu-btn-close-hide {
    display: none;
  }

  .menu {
    //display: none;
    position: fixed;
    top: 50px;
    width: 1000px;
    height: 100%;
    background-color: @headerColor;
    opacity: 0.95;
    z-index: 2;

    ul {
      margin: 5% 40%;

      li .menu-item {
        list-style-type: none;
        text-decoration: none;
        font-size: 3rem;
        line-height: 85px;
        font-weight: bold;
        color: @navigationFont;

        &:hover {
          color: @navigationHover;
        }
      }
    }
  }

  .menu--open {
    display: block;
  }
}
