// menu.less

.navigation {
    display: none;
    position: fixed;
    max-width: 800px;
    width: 100%;
    height: 100vh;
    background-color: @navcolor;
    opacity: 0.9;
    z-index: 2;
    border: 1px solid red;

    nav {
        .flex-column-around();
        align-items: center;
        padding-top: 150px;
    }

    nav a {
        .menu-font();
    }
    nav a:hover {
        color: #24292e;
    }
}



.logo {
    display: block;
    z-index: 3;
    font-size: 24px;
    color: @white;
    font-weight: bold;
    padding: 15px 0 0 70px;
    @media @phone {
      padding: 15px 0 0 20px;
    }
}

.hamburger-close {
    display: none;
    z-index: 3;
    height: 35px;
    padding: 15px 70px 0 0;
}


.navigation--open {
    display: block;
}

.hamburger--open {
    display: block;
}