.menu-button {
  position: absolute;
  right: 40px;
  cursor: pointer;
}

.menu {
  display: none;
  position: fixed;
  top: 50px;
  right: 120px;
  width: 1024px;
  //width: 81%;
  height: 340px; 
  background-color: @greySquare;
  z-index: 2; /* This set the layer level of the element, it has precendence over initial level of 1*/
}

.menu ul li{
  list-style-type: none;
  font-size: 48px;
  padding: 15px 0;
  line-height: 85px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}

.menu--open {
  display: block;
}