.menu-open   {
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    width: 100%;
    height: 100vh;
    background-color:#99a4af9d;
   
}

.menu-close {
    display: none;
}
.open{
    height: 560px;
    z-index: 2;
    opacity: .7;
    
}
.menu-open a{
    margin-top: 100px;
    text-decoration: none;
    Color: #FFFFFF;
}

.menu-open a:hover{
    color: #222222;
}
