.menu {
  background: @menu-bkgd;
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 8.6rem;
  position: fixed;
  max-width: 1024px;
  width: 100%;
  z-index: 2;
  &__logo {
    font-size: 2.4rem;
    font-weight: bold;
    color: @menu-logo;
  }
  img {
    width: auto;
  }
  .menu__hamburger--close {
    display: none;
  }
  @media @mobile {
    padding: 1.3rem 1.5rem;
  }
}
