.menu-button {
    position: abosolute;
    cursor: pointer;
    
}

.menu-open {
    right: 99px;
    max-width: 1024px;
    position: fixed;
    opacity: .95;
    margin: 0 auto;
    top: 55px;
    height: 100vh;
    width: 100%;
    background-color: @header-bg;
    z-index: 2;
    .flex(@jc: center, @ai: center, @dir: column);

}





.menu-hamburger {
    display: none;
}











