.mid-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //border:1px solid red;
    width: 720px;
    margin-bottom: 90px;
}

.btn{
    border: 1px solid #222222;
    width: 120px;
    height: 40px;
    font-size: 15px;
    margin-top: 15px;
}

.mid-content h3{
    font-weight: bold;
    font-size: 24px;
    Color: #222222;
    font-family: 'Arial';
    margin-bottom: 20px;
}
.mid-content p{
    font-weight: 'regular';
    font-size: 16px;
    font-family: 'sans-serif';
    line-height: 24px;
    color:#222222;
}
.mid-txt{
    width: 370px;
    margin-top: 40px;
}
.txt2{
    margin-top: 90px;

}

.mid-img1{
    margin-top: 30px;
    //border: 1px solid red;
    margin-right: 30px;
    
    
}
.mid-img2{
    margin-top: 50px;
    //border: 1px solid red;
    
}
