.top-page{
    width:100%;
    display:flex;
    flex-flow:column;
    // padding:2%;

    .top-letter-section{
        width:50%;
    }

    .middle-title{
        font-weight:@sub-Font-Weight;
        font-size:@subFont-Size;
        color:@subHeader-Color;
        padding:1%;
    }
    .button{
        display: flex;
        justify-content:center;
        padding:10px;
        margin-top:10px;
        width:125px ;
        margin-bottom: 10px;
        border: 1px solid #333;
        cursor: pointer;
    }
  .middle-boxes{
        display:flex;
        justify-content: space-between;
        margin-top:30px;
        // @media @phone{
        //     flex-flow: column;
        //     justify-content: center;
        //     width:100%;
        // }
    }
    .part2{
        margin-top:80px;

    }
}
.middle-img{
    width:45%;
}




