.home {  
    margin-left: 7%;
    margin-right: 7%;

    @media @phone {
      margin-top: 10%;
    }
  
    .middle-content {    
      height: 100vh;
      width: 100%;
      display: flex;
      justify-content: space-around;
      flex-flow: row wrap;
      padding-bottom: 20%;

      @media @phone {        
        padding-bottom: 170%;
      }

      .box-divider{
        display: flex;
        flex-direction: row;
        width: 100%;        

        .box {      
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start; 
          padding-bottom: 10%;          
          
          
          h1 {
            .sub-header();

            @media @phone {
              width: 100%;
            }
          }

          p {
            width: 70%;

            @media @phone {
              width: 100%;
              font-size: 1.7rem;
            }
          }
    
          a {
            border: 1px solid @button-border;
            text-decoration: none;
            color: black;
            padding: 16px 30px;
            font-size: 1.6rem;

            @media @phone {
              width: 85%;
              text-align: center;
            }
          }
    
          a:hover {
            color: @tab-hover-color;
            background-color: @tab-hover-background;
          }
    
          img {
            width: 100%;
            
            @media @phone {
              display: none;
            }
          }
        } // box
        @media @phone {
          .box:nth-child(1) {
            padding-top: 10%;
          }
          .box:nth-child(2) {
            background-image: url('../img/home/home-mobile-img-1.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 400px;
            }
        }
      }
      @media @phone {
        .box-divider:nth-child(1) {
          flex-direction: column-reverse;
          padding-bottom: 0%;
        }
        .box-divider:nth-child(2) {
          flex-direction: column;
        }
      }
      
      .box-divider {

      .box-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
  
        h1 {
          .sub-header();
        }

        p {
          width: 90%;
        }
  
        a {
          border: 1px solid @button-border;
          text-decoration: none;
          color: black;
          padding: 16px 30px;
          font-size: 1.6rem;

          @media @phone {
            width: 85%;
            text-align: center;
          }
        }
  
        a:hover {
          color: @tab-hover-color;
          background-color: @tab-hover-background;
        }
  
        img {
          width: 100%;          
          
          @media @phone {
            display: none;
          }
        }
      } // .box-2

      .box-2:nth-child(2) {
        padding-left: 2%;
        margin-left: 4%;

        @media @phone {
          padding-left: 0%;
          margin-left: 0%;
          padding-top: 10%;
          padding-bottom: 10%;
        }
      }
      @media @phone {
        .box-2:nth-child(1) {
          background-image: url('../img/home/home-mobile-img-2.png');
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 400px;
        }                
      }
    }
    } // mid-content
  } // home






  // Services Styling

 .services {
   margin: 0 7%;

   .nav-paragraph {
     padding-bottom: 5%;    
   }
   
   .four-buttons {
    padding-bottom: 5%;

    nav {
      display: flex;
      width: 100%;
      justify-content: space-between;      

      a {
        text-decoration: none;
        color: black;
        .sub-header();
        font-size: 1.8rem;
        border: 1.2px solid @button-border;
        padding: 15px 32px;
      }

      a:hover {
        background-color: @tab-select-background;
        color: @tab-hover-color;
      }
    }
   }
 }