
.middle-content {
    margin-top: 50px;

    padding-bottom: 15px;

    @media only screen and (max-width : 480px){
        margin-top: 30px;
        padding-bottom: 0;
        
    }
       
    p {
        font-size: 1.7rem;
        @media only screen and (max-width : 480px){
            letter-spacing: 1px;
        }
        
    }

    .recent-projects, .description {
        .no-padding();

        @media only screen and (max-width : 480px){
            padding-right: 15px;
            padding-left: 15px;
            
        }
    }
        
        .villa {
            margin-top: 45px;
            margin-bottom: 30px;
            position: relative;
            height: 270px;
            .no-padding();
            @media only screen and (max-width : 480px){
                margin-top: 25px;
                margin-bottom: 19px;
            }
                .villa-img {
                    background-image: url(../img/home/home-villas-img.png);
                    height: 230px;
                    width: 100%;
                    background-size: cover;
                    .no-padding();

                    @media only screen and (max-width : 480px){
                        background-image: url(../img/home/home-mobile-villas-img.png);
                        height: 200px;
                    }
                }

                .overlay {
                    .overlay-right();
                    
                    @media only screen and (max-width : 480px){
                        bottom: -12px;
                        width: 290px;
                        right: 15px;
                    }
                }
        }
        .outskirts {
            margin-top: 130px;
            margin-bottom: 30px;
            position: relative;
            height: 270px;
            .no-padding();

            @media only screen and (max-width : 480px){
                margin-top: 48px;
                margin-bottom: 20px;
            }

                .outskirt-img {
                    background-image: url(../img/home/home-outskirts-img.png);
                    height: 230px;
                    width: 100%;
                    background-size: cover;
                    .no-padding();

                    @media only screen and (max-width : 480px){
                        background-image: url(../img/home/home-mobile-outskirts-img.png);
                        height: 200px;
                        background-size: cover;
                    }
                }

                .overlay {
                   .overlay-left();
                    @media only screen and (max-width : 480px){
                    width: 290px;
                    left: 15px;
                    bottom: -12px;                                           
                    }
                }
        }
        .block {
            margin-top: 130px;
            margin-bottom: 30px;
            position: relative;
            height: 270px;
            .no-padding();

            @media only screen and (max-width : 480px){
                margin-top: 50px;
                margin-bottom: 20px;
            }
                .block-img {
                    background-image: url(../img/home/home-the-blocks-img.png);
                    height: 230px;
                    width: 100%;
                    background-size: cover;
                    .no-padding();

                    @media only screen and (max-width : 480px){
                        background-image: url(../img/home/home-mobile-the-blocks-img.png);
                        height: 200px;
                    }
                }

                .overlay {
                    .overlay-right();

                    @media only screen and (max-width : 480px){
                        bottom: -12px;
                        width: 290px;
                        right: 15px;
                                              
                        }
                }
        }
}