.content {
    margin: 50px 8.5%;
    font-size: 1.6rem;
    line-height: 24px;
    
    h3 {
        .subtitles();
    }

    .content-top {
        width: 100%;
        display: flex;
        flex-direction: column;

        .architects {
            width: 100%;
            display: flex;

            .left {
                width: 52%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                padding: 40px 0;
                padding-right: 10px;
            }

            .right {
                width: 48%;

                img {
                    width: 100%;
                }
            }
        }

        .designs {
            width: 100%;
            display: flex;
            margin-top: 100px;

            .left {
                width: 48%;

                img {
                    width: 100%;
                }
            }

            .right {
                width: 52%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                padding: 40px 0;
                padding-left: 30px;
            }
        }

        .top-btn {
            .buttons();
        }
    }
    .content-bottom {

        margin-top: 100px;
        font-size: 1.8rem;
        line-height: 24px;

        h2 {
            .recent-sqrs();
        }

        img {
            width: 100%;
        }

        .villas {
            .banner {
                position: relative;
                margin-top: 50px;
            }

            h2 {
                position: absolute;
                bottom: -30px;
                right: 0px;
            }

            .text {
                padding: 80px 20.01%;

                p:last-child {
                    padding-top: 25px;
                }
            }
        }

        .outskirts {
            .banner {
                position: relative;
                margin-top: 50px;
            }

            h2 {
                position: absolute;
                bottom: -30px;
                left: 0px;
            }

            .text {
                padding: 80px 20.01%;

                p:last-child {
                    padding-top: 25px;
                }
            }
        }

        .blocks {
            .banner {
                position: relative;
                margin-top: 50px;
            }

            h2 {
                position: absolute;
                bottom: -30px;
                right: 0px;
            }

            .text {
                padding: 80px 20.01%;

                p:last-child {
                    padding-top: 25px;
                }
            }
        }
    }
}