.top-page{
    width:100%;
    display:flex;
    flex-flow:column;
    // padding:2%;

    .p {
        margin-top:20px;
        margin-bottom:30px;
    }

    .top-letter-section{
        width:50%;
        @media @phone{
            width:90%;
            margin-left:25px;
            
        }
    }

    .middle-title{
        font-weight:@sub-Font-Weight;
        font-size:@subFont-Size;
        color:@subHeader-Color;
        padding:1%;

        @media @phone{
            margin-top:25px;
            margin-bottom:25px;
        }
    }
    .button{
        display: flex;
        justify-content:center;
        padding:10px;
        margin-top:10px;
        width:125px ;
        margin-bottom: 10px;
        border: 1px solid #333;
        cursor: pointer;

        @media @phone{
            width:100%;
            margin-top:35px;
        }
    }
  .middle-boxes{
        display:flex;
        justify-content: space-between;
        margin-top:30px;
        @media @phone{
            flex-flow: column;
            justify-content: center;
            width:100%;
        }
    }
    .part2{
        margin-top:80px;

    }
}
.middle-img{
    width:45%;

    @media @phone{
        display:none;
    }
}

.img2{
    width:90%;
    margin-left:25px;
    height:293px;
}



