.middleContent {
  display: flex;
  flex-direction: column;

  h4 {
    font-weight: bold;
    font-size: 2rem;
    margin: 5% 0%;

    @media @mobile {
      font-size: 3rem;
    }
  }

  p {
    margin: 6% 30%;

    @media @mobile {
      font-size: 2.2rem;
      margin: 6% 7%;
    }
  }

  .villas {
    h5 {
      background-color: #d8d8d8;
      padding: 3%;
      margin-left: 70%;
      display: flex;
      justify-content: center;
      font-weight: bold;
      letter-spacing: 5px;
      position: relative;
      z-index: 5;
      margin-top: -5%;

      @media @mobile {
        margin: -5% 5% 0% 5%;
        padding: 7%;
        font-size: 3rem;
        font-weight: normal;
      }
    }

    .villasIMG {
      width: 100%;
      position: relative;
      z-index: 1;

      @media @mobile {
        content: url("https://raw.githubusercontent.com/GannonDetroit/User-Interface-Project-Week/master/img/home/home-mobile-villas-img.png");
      }
    }
  }

  .outskirts {
    h5 {
      background-color: #d8d8d8;
      padding: 3%;
      width: 30%;
      display: flex;
      justify-content: center;
      font-weight: bold;
      letter-spacing: 5px;
      position: relative;
      z-index: 5;
      margin-top: -5%;
      @media @mobile {
        margin: -5% 5% 0% 5%;
        padding: 7%;
        width: 90%;
        font-size: 3rem;
        font-weight: normal;
      }
    }

    .outskirtsIMG {
      width: 100%;
      position: relative;
      z-index: 1;

      @media @mobile {
        content: url("https://raw.githubusercontent.com/GannonDetroit/User-Interface-Project-Week/master/img/home/home-mobile-outskirts-img.png");
      }
    }
  }

  .blocks {
    h5 {
      background-color: #d8d8d8;
      padding: 3%;
      margin-left: 70%;
      display: flex;
      justify-content: center;
      font-weight: bold;
      letter-spacing: 5px;
      position: relative;
      z-index: 5;
      margin-top: -5%;
      @media @mobile {
        margin: -5% 5% 0% 5%;
        padding: 7%;
        font-size: 3rem;
        font-weight: normal;
      }
    }

    .blocksIMG {
      width: 100%;
      position: relative;
      z-index: 1;

      @media @mobile {
        content: url("https://raw.githubusercontent.com/GannonDetroit/User-Interface-Project-Week/master/img/home/home-mobile-the-blocks-img.png");
      }
    }
  }
}
