

.middleContent{
   
    display: flex;
    flex-direction: column;

    h4{
        font-weight: bold;
        font-size: 2rem;
        margin: 5% 0%;
    }

    p{
        margin: 6% 30%

    }

    .villas{
    

        h5{
            background-color: #D8D8D8;
            padding: 3%;
            margin-left: 70%;
            display: flex;
            justify-content: center;
            font-weight: bold;
            letter-spacing: 5px;
        }

        .villasIMG {
            width: 100%;
        }
    }

    .outskirts{
        

        h5{
            background-color: #D8D8D8;
            padding: 3%;
            width: 30%;
            display: flex;
            justify-content: center;
            font-weight: bold;
            letter-spacing: 5px;
        }

        .outskirtsIMG{
            width: 100%;
        }
    }

    .blocks{
        

        h5{
            background-color: #D8D8D8;
            padding: 3%;
            margin-left:70%;
            display: flex;
            justify-content: center;
            font-weight: bold;
            letter-spacing: 5px;
        }

        .blocksIMG{
            width: 100%;
        }
    }

}
