.content-top {
    
    .architects {
        display: flex;
        margin: 50px 7.85%;
        margin-bottom: 95px;

        .left {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-size: 1.6rem;
            line-height: 24px;
            padding: 20px 20px 8px 5px;
            h3 {
                .subtitles();
            }

            .architects-btn {
                .buttons();
            }
        }
    }
    
    .designs {
        display: flex;
        margin: 50px 7.85%;
        margin-top: 95px;

        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            font-size: 1.6rem;
            line-height: 24px;
            padding: 17px 10px 10px 32px;

            h3 {
                .subtitles();
            }

            .designs-btn {
                .buttons();
            }
        }
    }
}