.center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-creator() {
    .center;
    width: 200px;
    height: 50px;
    border: 1px solid @home-page-button-border;
    background: @global-background;
}

.services-button-creator() {
    .center;
    width: 200px;
    height: 50px;
    border: 1px solid @home-page-button-border;
    background: @global-background;
    font-size: 20px;
    font-weight: @font-weight-bold;
}

.insert-creator() {
    .center;

    font-size: @nav-logo-text-size;
    letter-spacing: 3px;

    width: 300px;
    height: 100px;
    border: 1px solid @global-background;
    background: @home-page-gray-square;
  }