.center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-creator() {
    .center;
    width: 200px;
    height: 50px;
    border: 1px @home-page-button-border;
  }