.center() {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.marginCenter() {
    margin-left: auto;
    margin-right: auto;
}

.width-100 {
    width: 100%;
  }
  
  .border-bottom-grey {
    border-bottom: 1px solid red;
  }
  
  .flex(@jc: none, @ai: none, @dir: row) {
    display: flex;
    justify-content: @jc;
    align-items: @ai;
    flex-direction: @dir;
  }
  