/* Mixin's 

General Body 
- Background: #FFFFFF
- Color: #222222
- Font Family: Roboto, Arial, sans-serif
*/

.center() {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

.navBar(){
      flex-direction: row;
      justify-content: flex-end;
      margin: 5%;
      margin-bottom: 3%;
      }

.footer
.nav
.feature
.recentProject
.img
.location


