/* Mixin's 

General Body 
- Background: #FFFFFF
- Color: #222222
- Font Family: Roboto, Arial, sans-serif

 */

 // -- MOBILE MIXINS --
 .stackContent() {
    display:flex;
    flex-direction: column;
    width: 100%;
    margin:1%;
    padding:1%;
    
}
.mobileZPost(){
    position: relative;
    top:-25px;
    left: 6%;
    width: 85%;
    padding:15px;
    padding: 25px 15px 25px;
    margin: 0px;
    background: @callOut-bg;
    z-index: 4;
    font-weight: normal;
     text-align: center;
    letter-spacing: 1rem;
    font-size: 2.4rem;
}
.mobileZHeaderText(){
        position: relative;
        top:-22px;
        left: 37px;
        z-index: 4;
        padding:0;
        margin:0;
    }
.mobileZHeaderImg() {
        position: relative;
        top:-97px;
        left:0px;
        z-index: 3;
        padding:2px;
        margin:2px;
}  
.mobileImg(){
    img {
        position: relative;
        top:0px;
        left: 0px;
        width: 100%;
        padding: 1px;
        z-index: 4;
    }
}

 // -- FLEX MIXINS --
.centerRow() {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
.centerColumn() {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5%;
    padding:5%;
    width: 100%;
  }
  
 // -- FOOTER MIXINS --  
.footer() {
    @media @phone {
        .stackContent;
      }
    width: 100%;
    height: auto;
    background:@footer-bg;
    #copyright {
        @media @phone {
            .stackContent;
          }
        text-align: center;
        margin-top: 10px;
        margin-bottom: 15px;
}
    .footerContent {
        @media @phone {
            .stackContent;
            
          }
    padding-top:40px;
    .centerRow;
    h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h2{
        font-weight: normal;
        font-size: 2rem;
        line-height: 2.4rem;
        color: @accent-font;
    }   
    p {
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 2.6rem;
        color: @accent-font;
    }
}
}

// -- NAV MIXINS --

.btn(){
        width:134px;
        background-color:@button-bg;
        border:1px solid @borders;
        color:@main-font;
        padding: 15px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
}

.tabContainer() {
    .centerRow;
    margin-top: 20px;
    margin-bottom: 50px;
}

.tabStyle() {
    width:188px;
    background-color:@button-bg;
    border:1px solid @borders;
    color:@main-font;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}


  


/* 
.nav
.feature
.recentProject
.img
.location

footerContent 
    footerContact
    locations
      singleLocation


      */