.button-maker(@width, @height, @bg-color) {
	width: @width;
	height: @height;
	background-color: @bg-color;
	border: 1px solid black;
	
	.center;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}