//Colors
@navbar: #98A4AF;
@title: #D8D8D8;
@footer: #828282;
@tab: #5E9FB9;
@navHover: #222222;

//Fonts
@font: "Roboto";
@fontBold: "Roboto-Bold";

@mobile: ~"screen and (max-width: 320px)";

//Custom Mixins

.custom-layout(@direction: row, @content: space-between, @align: center) {
    display: flex;
    flex-direction: @direction;
    justify-content: @content;
    align-items: @align;
}
.button-maker(@background, @main) {
    background-color: @background;
    color: @main;
    font-size: 1rem;
    text-align: center;
    padding: 3.5% 0%;
    cursor: pointer;
    border:1px solid #222222;
    font-family: "Roboto", sans-serif;
    width: 32.5%;
}