//mixins
.container(@width){
    width: @width;
    margin: 0 auto;
}

//variables

//general
@colorBG: #FFFFFF;
@colorDefault: #222222;
@font: Roboto, Arial, san-serif;

//home
@insetBG: #D8D8D8;
@buttonBorder: @colorDefault;

//services
