.flexIt(@dir: row, @jc: center, @ai: center){
    display:flex;
    flex-direction: @dir;
    align-items: @ai;
    justify-content: @jc;
}

.buttonIt(){
font-size: 1.6rem;
border: 1px solid black; 
background: white;
width: 30%;
height: 35px;
color:black;
.flexIt();

}