//mixins
.container(@width){
    max-width: @width;
    margin: 0 auto;
}
.flex(@dir, @justify, @align){
    display: flex;
    flex-direction: @dir;
    justify-content: @justify;
    align-items: @align;
}
.font(){
    font-family: 'Roboto', Arial, san-serif;
    color: @colorDefault;
}

.mobileContentCards(){
    flex-direction: column-reverse;
    margin: 35px 15px;
}

//variables

//header
@headerBG: #98A4AF;

//general
@colorBG: #FFFFFF;
@colorDefault: #222222;


//home
@insetBG: #D8D8D8;
@buttonBorder: @colorDefault;

//services
@tabSelectedBG: #5E9FB9;
@tabHoverBG: @colorDefault;
@tabHover: #FFF;

//footer
@footerBG: #828282;

//media queries
@mobile: ~"(max-width: 900px)";