//mixins
.container(@width) {
  max-width: @width;
  margin: 0 auto;
}
.flex(@dir, @justify, @align) {
  display: flex;
  flex-direction: @dir;
  justify-content: @justify;
  align-items: @align;
}
.font() {
  font-family: "Roboto", Arial, san-serif;
  color: @colorDefault;
}

.mobileContentCards() {
  flex-direction: column-reverse;
  margin: 35px 17px 32px 15px;
}

.tabletInsetText() {
  width: 50%;
  left: 15px;
  bottom: -82px;
}

//variables

//header
@headerBG: #98a4af;

//general
@colorBG: #ffffff;
@colorDefault: #222222;

//home
@insetBG: #d8d8d8;
@buttonBorder: @colorDefault;

//services
@tabSelectedBG: #5e9fb9;
@tabHoverBG: @colorDefault;
@tabHover: #fff;

//footer
@footerBG: #828282;

//media queries
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 650px)";
@serviceTablet: ~"(max-width: 750px)";
