.jumbo-text(){
	font-weight: bold;
	font-size: 64px;
	line-height: 75px;
	color: #FFFFFF;
}

.footer-text(){
font-weight: regular;
font-size: 14px;
line-height: 26px;
color: #FFFFFF;
}

.jumbo-style(){
	width: 1024px;
        margin: 0 auto;
        position: relative;

}
