//Mixin Variables
.button-maker(@width, @height, @bg-color){
	width: @width;
	height: @height;
	background: @bg-color;
}

.btn-flex(@justify-content, @align-items){
	display: flex;
	justify-content: @justify-content;
	align-items: @align-items;
}

.tabs-maker(@width, @height){
	width: @width;
	height: @height;
	font-size: 14px;
	font-weight: bold;
	color: black;
	background: #FFFFFF;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
