.no-margin-padding {
  margin:0 ! important;
  padding:0 ! important;
}
.mynav {
  display: flex;
  padding-left: 95px;
  padding-right: 95px;
  p {
    font-size: 22px;
    font-weight: bold;
    color: white;
  }
}
footer {
  padding-top: 50px;
  background: #828282;
  color: white;
  address {
    font-size: 15px;
    strong {
    font-size: 20px;
    }
  }
  .email-label {
    font-size: 20px;
  }
  .email-label-share {
    font-size: 15px;
  }
  .form-group {
    margin-right: 40px;
  }
}
.jumbo-text-base {
  color: white;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  position: absolute;
}
