@media (max-width: 500px) {
  .contact-jumbotron {
    .text {
      font-size: 1.2rem;
      bottom: 10%;
    }
  }
  form {
    .form-item {
      h3 {
        font-size: 1rem;
      }

      p {
        font-size: 0.6rem;
      }
    }

    .button {
      width: 100%;
    }
  }
}
