@media (max-width: 500px) {
  .home-jumbotron {
    .text {
      font-size: 1.5rem;
    }
  }

  main {
    .block-container {
      .block {
        flex-direction: column;

        .block-text {
          text-align: center;
          width: 100%;

          h2 {
            text-align: center;
            font-size: 1.5rem;

            &.block-h2 {
              transform: translate3d(0, 150%, 0);
            }
          }
        }

        .block-img-container {
          width: 100%;

          img {
            width: 100%;

            &.block-img-2 {
              transform: translate3d(0, -110%, 0);
              transition-delay: 1s;
            }
          }
        }
      }
    }

    //======================== Recent Projects ====================

    .projects {
      .project {
        width: 90%;

        .project-info {
          width: 100%;

          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
