<<<<<<< HEAD
@media (max-width: 500px) {

    .desktop-img {
        display: none;
    }

    .mobile-img {
=======
@media (max-width: 500px){

    .desktopIMG {
        display: none;
    }

    .mobileIMG {
>>>>>>> c89449366ef30e0a5e1f47e9cf098dd9cf32c3ff
        display: block;
        margin: 0 auto;
        width: 100%;
    }

<<<<<<< HEAD
    .big-container {
        width: 320px;
        margin: 0 auto;
    }

    // header

    header h1 {
        font-size: 3.4rem;
        line-height: 40px;
        top: 114px;
        left: 8%;
    }

    // content
    .sections-container {
        width: 90%;
    }

    .lead-in {
        margin-top: 20px;
    }

    .lead-in article {
        align-items: center;
        flex-direction: column-reverse;

        .lead-in-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;

            h2 {
                font-size: 2.4rem;
                text-align: left;
            }

            .lead-in-button {
                text-align: center;
                width: 90%;
            }
        }
    }

// Projects
    .projects-subheader {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .projects article {


        .overlay {
            display: flex;
            justify-content: center;
    
            img {
                width: 112%;
            }
    
            .project-label {
                font-size: 2.6rem;
                padding: 30px 53px;
            }

            .left-label {
                right: 0px;
            }
        }
    
        .project-text {
            font-size: 1.8rem;
            width: 100%;
        }
    }
    
    footer {
        align-items: flex-start;
        margin-top: 90px;
        padding: 40px 20px;

        .footer-content {
            flex-direction: column;

            .office-address {
                margin-top: 20px;
            }
        }
    }


} // end of media query
=======
}

// header

header h1 {
    font-size: 3.4rem;
    line-height: 40px;
    top: 114px;
    left: 8%;
}


.mainSection {
    width: 90%;
}

.leadIn {
    margin-top: 20px;
}

// .leadIn article {
//     align-items: center;
//     flex-direction: column-reverse;
// }

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h2 {
    font-size: 2.4rem;
    text-align: left;
}

.articleButton {
    text-align: center;
    width: 90%;
}

// projects

.projectHeader {
    margin-top: 40px;
    margin-bottom: 30px;
}

.project .projectContent {
    display: flex;
    justify-content: center;

    img {
        width: 112%;
    }

    .projectTitle {
        font-size: 2.6rem;
        padding: 30px 53px;
    }

    .leftLabel {
        right: 0px;
    }
}

.projectText {
    font-size: 1.8rem;
    width: 100%;
}

// footer {
//     align-items: flex-start;
//     margin-top: 90px;
//     padding: 40px 20px;

//     .footerContent {
//         flex-direction: column;

//         .companyAddress {
//             margin-top: 20px;
//         }
//     }
// }
>>>>>>> c89449366ef30e0a5e1f47e9cf098dd9cf32c3ff
