@media (max-width: 1000px) {
  .home-projects {
    margin-top: 5rem;

    h2 {
      font-size: @h2-fs;
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 4rem;
      text-align: center;
    }

    .project {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: static;

      .background-img {
        height: 25rem;
        background-size: cover;
        margin: 0;
        width: 100%;
      }

      .project-overlay {
        position: static;
        margin-top: -3rem;
        background: @project-bg;
        width: 24rem;
        padding: 4rem;
        text-align: center;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        align-self: center;
        width: 90%;
      }

      p {
        font-size: @p-fs;
        line-height: 1.4;
        width: 90%;
        align-self: center;
      }
    }
  }

  .wrapper.home-projects {
    width: 100%;
  }
}
