@media (max-width: 500px){

    .desktopIMG {
        display: none;
    }

    .mobileIMG {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

}

// header

header h1 {
    font-size: 3.4rem;
    line-height: 40px;
    top: 114px;
    left: 8%;
}


.mainSection {
    width: 90%;
}

.leadIn {
    margin-top: 20px;
}

.leadIn article {
    align-items: center;
    flex-direction: column-reverse;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

h2 {
    font-size: 2.4rem;
    text-align: left;
}

.articleButton {
    text-align: center;
    width: 90%;
}

// projects

.projectHeader {
    margin-top: 40px;
    margin-bottom: 30px;
}

.project .projectContent {
    display: flex;
    justify-content: center;

    img {
        width: 112%;
    }

    .projectTitle {
        font-size: 2.6rem;
        padding: 30px 53px;
    }

    .leftLabel {
        right: 0px;
    }
}

.projectText {
    font-size: 1.8rem;
    width: 100%;
}

footer {
    align-items: flex-start;
    margin-top: 90px;
    padding: 40px 20px;

    .footerContent {
        flex-direction: column;

        .companyAddress {
            margin-top: 20px;
        }
    }
}