@media (max-width: 500px) {
  .services-jumbotron {
    .text {
      font-size: 2rem;
    }
  }

  .top-paragraph {
    font-size: 1rem;
    p {
      font-size: 1.2rem;
    }
  }
}

.tab-container {
  width: 85%;

  .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;

    .tab {
      width: 100%;
      margin: 2%;
    }
  }

  .tab-contents {
    .tab-items {
      flex-direction: column;

      .tab-info {
        width: 100%;

        h2 {
          font-size: 1.5rem;
        }

        p {
          font-size: 0.8rem;
        }
      }

      .service-img {
        width: 100%;
      }

      &:nth-child(even) {
        flex-direction: column-reverse;
      }
    }
  }
}
