.nav-dropdown {
    z-index: 6;
    //position: absolute;
    //background-color: @footer-background;
    cursor: crosshair;
    width: 100%;
    height: 100%;

    .dropdown-button {
        //display: flex;
    }
    
    .dropdown-content {
        background-color: @footer-background;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 7%;
    }

    .dropdown-link {

    }
}