nav {
    .make-flex(row, space-between);
    background-color: @gray-chateau;
    padding: 10px 8.5%;

    .nav__logo-header {
        font-size: 2.4rem;
        color: @nav-logo-header-color;
    }

    .nav__menu-button {
        
    }
}