.nav-dropdown {
    z-index: 4;
    //position: absolute;
    //background-color: @footer-background;
    cursor: crosshair;
    width: 100%;
    height: 100%;

    .dropdown-button {
        //display: flex;
    }
    
    .dropdown-content {
        background-color: @footer-background;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 7%;
    }

    .dropdown-link {
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        &:hover {
            color: @sj-gray-color;
        }
    }

    .dropdown-hidden {
        display: none;
    }
}