header {
    .top-bar {
        position: fixed;
        z-index: 1;
        .make-flex(row, space-between, center);
        max-width: @header-footer-max-width[desktop];
        width: 100%;
        background-color: @gray-chateau;
        padding: 13.5px 5.4%;

        .nav__logo-header {
            font-size: 2.4rem;
            color: @nav-logo-header-color;

            @media @device-max-size[tablet] {
                font-size: 1.9rem;
            }

            @media @device-max-size[mobile] {
                font-size: 2.4rem;
            }
        }

        input[type="image"] {
            @media @device-max-size[tablet] {
                max-width: 3.75%;
            }

            @media @device-max-size[mobile] {
                max-width: 100%;
            }
        }

        @media @device-max-size[tablet] {
            max-width: @header-footer-max-width[tablet];
            padding: 7.5px 6.25%;
        }

        @media @device-max-size[mobile] {
            max-width: @header-footer-max-width[mobile];
            padding: 13px 4.25%;
        }
    }

    .jumbotron-area {
        position: relative;
        margin-bottom: 50px;

        @media @device-max-size[tablet] {
            margin-bottom: 40px;
        }

        @media @device-max-size[mobile] {
            margin-bottom: 32.5px;
        }

        .jumbotron-header {
            position: absolute;
            bottom: 25px;
            left: 8%;
            font-size: 6.4rem;
            font-weight: bold;
            color: @jumbotron-header-color;
            line-height: 75px;

            @media @device-max-size[tablet] {
                font-size: 3.5rem;
                line-height: 42.5px;
            }

            @media @device-max-size[mobile] {
                left: 5%;
            }
        }

        .jumbotron-header.home {
            bottom: 50px;

            @media @device-max-size[tablet] {
                bottom: 25px;
            }
        }
    }
}