nav {
    background-color: #9bb4be;
    .flex; 
    justify-content: space-between;
    width: 100%; 
    font-size: @navFontSize; 

    .nav-logo{
        font-weight: bold;
        font-size: 24px;
        padding: 12px; 
        color: #ffffff; 
    }

    .menu{
        padding: 12px; 
    }

    .hamburger{
        padding-right: 50px; 
    }

    .navbar-menu{
        display: none; 
    }
    
    a{
        color: white; 
        text-decoration: none; 
        padding-left: 50px; 

    }
}



footer{
    .flex; 
    width: 100%;
    background-color: #828282;
    justify-content: space-around;
    padding: 70px 10px 15px 10px; 

    @media(max-width: 320px){
        flex-direction: column; 
        justify-content: center; 
        align-items: flex-start; 
        padding-top: 25px; 
    }

    h3{
        .nav-header; 
        line-height: 1.1; 
        padding-bottom: 10px; 
    }

    input{
        width: 95%; 
        height: 37px; 
        border-radius: 6px; 
        text-indent: 20px; 
    }
    
    .email{
        width: 30%; 
        line-height: 1.7;
        padding-left: 30px; 

        @media(max-width:360px){
           width: 97%; 
           padding-left: 0px; 
        }
    }
    .disclaimer{
        color: white; 
        font-size: 1.2rem; 
        padding-top: 5px; 
        padding-left: 3px; 
    }
    .address{
        width: 15%; 
        line-height: 1.8; 
        font-size: 1.3rem; 
        color: #ffffff; 

        @media(max-width: 320px){
            width: 95%; 
            padding-top: 22px; 
        }
    }
    
    .copyright{
        width: 100%; 
        color: white; 
        text-align: center; 
        font-size: 1.1rem; 
        padding-top: 40px; 
    }

}