.main-navigation{
    background-color: #F6F6F6;
    div{
        border-bottom: 1px grey;
    }
    .logo-heading{
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    .nav{
        display: flex;
        justify-content: space-evenly;
        align-items:center;
        border-bottom: 1px grey;
        
        @media @phone {
            display: flex;
            justify-content: space-evenly;
          }
    }
        a{
            color:@nav-font-color;
        }
    
}