
.nav-container {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: @navigation-background-color;
  height: 3.2rem;

  nav {
    width: 84%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    .nav-logo();
  }

  .menu {
    display: none;
    a {
      .nav-text();
    }

  }
}

.menu-show {
  display: flex;
}