nav {
    background-color: #828282;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 20px; 
    width: 100%; 
    font-size: @navFontSize; 
    
    a{
        color: white; 
        text-decoration: none; 
        padding: 0px 20px 0px 20px; 
    }
}