header {
  display: flex;
  justify-content: space-between;
  padding: 10px 5%;
  color: #FFFFFF;
  background-color: lightslategray;
  font-weight: bold;
  font-size: 2.4rem;
  font-family: Roboto, Arial, sans-serif;

  img:hover {
      cursor: pointer;
  }
}