.container {
  nav {
    position: fixed;
    max-width: 1025px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: @navgray;
    height: 50px;
    margin-bottom: 50px;
    h2 {
      margin: 0px 0px 0px 8.5%;
      color: white;
      font-size: 1.6rem;
    }
    img {
      margin: 0px 8.5% 0px 0px;
      .display-item {
        display: flex;
      }
      .display-none {
        display: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
