/* Nav Styles */
nav {
    background: @nav-bar-bg;
    opacity: .8;
    padding: 1rem;
    @media @mobile {
        display: none;
    }

    /* Navigation Logo */
    .nav-logo {
        font-weight: bold;
        font-size: 2.4rem;
        color: @nav-bar-text;
        padding: .25rem;
        padding-right: 14rem;
        text-align: center;
    }

    /* NavBurger */
    .nav-burger-column {
        padding-left: 16rem;
        .center;

        .nav-burger {
            padding:.25rem;          
            cursor: pointer;
        }
    }

    /* Navigation Text (Needs to be toggled to show expanded) */
    .nav-text {
        
        a {
            font-weight: bold;
            font-size: 4.8rem;
            line-height: 8.5rem;
            color: @nav-bar-text;

            &:hover{
            color: @nav-hover-text;
            text-decoration: none;
            }
        }
    }
    .dropdown-hidden {
        display: none;
        
    }
    ul {
        align-items: start;
        justify-content: start;
        display: flex;
        flex-direction: column;
        margin-left: 43vw;
        margin-top: 6rem;
        height: 100vh;
    }
}

.mobile-nav {
    display: none;
    background: @nav-bar-bg;
    opacity: .8;
    padding: 1rem 3rem;    
    @media @mobile {
        display: block;
    }

    /* Navigation Logo */
    .mob-nav-logo {
        font-weight: bold;
        font-size: 2.4rem;
        color: @nav-bar-text;
        padding: .25rem;
        padding-left: 3rem;
        text-align: center;
    }
    /* NavBurger */
    .mob-nav-burger {
        padding:.25rem;
        margin-left: 3.7rem;
        cursor: pointer;
    }

    .mob-nav-text-container {
        margin-left: 35vw;

        a {
            font-weight: bold;
            font-size: 4.8rem;
            line-height: 8.5rem;
            color: @nav-bar-text;

            &:hover{
            color: @nav-hover-text;
            text-decoration: none;
            }
        }
    }
    /* Navigation Text (Needs to be toggled to show expanded) */
    
    .mob-dropdown-hidden {
        display: none;
    }

    ul {
        margin-top: 6rem;
        height: 100vh;
    }
}