.nav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;

  nav {
    width: 100%;

    .nav-strip {
      .flexit;
      justify-content: space-between;
      align-items: center;
      padding: 0 50px;

      .burger-div {
        .flexit;
        // height: 21px;
        // width: 32px;
        // background-image: url("../img/nav-hamburger-close.png");
        // background-size: cover;
      }

      .burger-on {
        this.src = "img/nav-hamburger.png");
      }
    }


    h3 {
      font-weight: bold;
      font-size: 24px;
      color: #FFFFFF;
    }

    .links {
      .flexit;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        font-weight: bold;
        font-size: 48px;
        line-height: 85px;
        color: #FFFFFF;

        &:hover {
          color: #222222;
          }
      }




    }

    .links-hidden {
        display: none;
    }

    .navBurger {
      height: 21px;

      &:hover {
        opacity: .5;
        }
    }
  }
}

.burger-select-nav {
  height: auto;
  width: 100%;
}
