.navBar {
    .flex(no-wrap, row, space-between, center);
    max-width: 100%;
    background: #9AA5B0;
    font-weight: bold;
    font-size: 2.4rem;
    color: #FFFFFF;
    padding: 10px 4%;
    
    // .companyName {
    //     margin-left: 4%;
    // }

    // .navHamburger {
    //     margin-right: 4%;
    // }
}
