.navBar {
  .flex(no-wrap, row, space-between, center);
  max-width: 100%;
  background: #99a4af;
  padding: 10px 5%;
  font-weight: bold;
  font-size: 2.4rem;
  color: #ffffff;
  position: fixed;
  width: 100%;

  .companyName {
    font-size: 2.4rem;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
  }

  .overlay {
    .navButton {
      cursor: pointer;
    }

    .navContent {
      height: 100vh;
      background: #99a4af;
      opacity: 0.9;
      width: 100vw;
      // padding: -50%;
      position: absolute;
      left: 0;
      top: 45px;
      // background-color: white;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // margin-top: 10px;
      // border: 2.5px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .navLink {
        text-decoration: none;
        margin: 30px;
        font-size: 5rem;
        color: white;
        opacity: 2;
      }
    }

    .navHidden {
      display: none;
    }
  }
}
h1 {
  padding: 425px 0 0 5%;

  @media @phone {
    padding: 120px 0 0 5%;
  }
}
