.navbar {
  background: @navigation-background;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  max-width: 1025px;
  width: 100%;
  z-index: 300;
  .nav-logo {
    font-size: 2.4rem;
    font-weight: 700;
    margin-left: 80px;
    color: @navigation-logo;
  }
  .bar {
    height: 4px;
    width: 35px;
    border-radius: 10px;
    background: @navigation-logo;
    display: block;
    margin-bottom: 6px;
    margin-right: 80px;
  }
  .nav-list {
    display: none;
  }
}