@import (once) "variables.less";

.navbar-component {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 1.5rem 0;
    width: 100vw;
    background: @slate-gray;
    .navbar-container {
        width: 92%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .navbar-name {
            color: @white;
            font-weight: bold;
            font-size: 2.4rem;
        }
        .navbar-button-open {
            display: none;
        }
        .navbar-button-close {
            display: none;
        }
        .navbar-button-visible {
            display: block;
        }
    }
    .navbar-links-container {
        display: none;
        flex-flow: column nowrap;
        width: 35%;
        margin: 4rem auto;
        justify-content: center;
        .navbar-link {
            text-decoration: none;
            color: @white;
            font-weight: bold;
            font-size: 4.2rem;
            margin: 3.5rem 0;
            &:hover {
                color: #444444;
            }
        }
    }
    .navbar-links-container-open {
        display: flex;
    }
}

@media (min-width: @desktop-width) {
    .navbar-component {
        .navbar-container {
            width: 1024px;
            padding: 0 7.5rem;
        }
        .navbar-links-container {
            width: 10%;
            margin: 10rem auto;
        }
    }
}
