.container {
  font-family: @font-family;
  line-height: @line-height;
  //max-width: 1100px;

  .main {
    max-width: 855px;
    margin: 0 auto;
    img {
      width: 100%;
      height: auto;
    }
    @media @mobile {
      max-width: 100%;
    }
  }
  //margin: 0 auto;
  header {
    display: flex;
    justify-content: space-between;
    background: #98a4af;
    padding: 14px 84px;
    position: fixed;
    width: 90%;
    top: 0;
    z-index: 1;

    h1 {
      font-size: @logo-font-size;
      font-weight: @logo-font-weight;
      color: @logo-color;
    }
  }
}
