.navigation {
  position: fixed;
  color: @white;
  font-size: 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  width: 83%;

  @media (max-width: 400px) {
    width: 72%;
  }
}
