// ### Navigation Logo
// - Font Weight: Bold
// - Font Size: 24px
// - Color: #FFFFFF

// ### Navigation Text (Expanded)
// - Font Weight: Bold
// - Font Size: 48px
// - Line Height: 85px
// - Color: #FFFFFF
// - Hover Color: #222222


// .menu-img {
//     // position: relative;
//     // left:60px;
//     color: black;
//     cursor: pointer;
// }

.header {
    background: #778899;
  
    

    .menu-img {
    position: absolute;
    line-height: 84px;
    left:88%;
    margin: 1.5rem 0;
    cursor: pointer;
    
    
    }    

    
       

    
    h1{
        font-size: 4.8rem;
        color: white;
    }
}

.menu {
    display: none;
    position: fixed;
    top: 75px;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: #778899;
    opacity: .9;
    border: 1px solid black;
    z-index: 2; 
    margin-top:-6%;

    .menu-close {
        position: absolute;
        right: 0%;
    }
    nav{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 60px;
        
    a {
        font-size: 6rem;
        padding: 40px 0;
        width: 100%;
        color:white;
        text-decoration: none;
        text-align: center;
        &:hover {
            color: black;
        }

    }
    }
  }
  

  .menu--open {
    display: block;
   
   
  }
