@media (max-width: 500px) {

    .navigationBar{
        max-width: 500px;
        width: 500px;
    }
    .openNavBackground{
        max-width: 500px;
        width: 500px;
    }
    .openOpenButton {
        display: flex;
        z-index: +2;
        position: relative; 
    }

    .openCloseButton{
        display: flex;
        z-index: +2;
        position: relative;
    }

    .siteLogo{
        display: flex;
        z-index: +2;
        position: relative;
        left: 200px;
    }


}