header{
    background-color: #D8D8D8;
}

.nav{
    .around;
    .container;
    padding: 0.2rem;
    

    h1{
       font-size: 24px;
       font-weight: bold;
       line-height: 26px;
       color: #ffffff; 
    }
   
}
.menu{
    display: none
} 