.top-bar {
    display: flex;
    flex-direction: row;
    background-color: rgb(157, 168, 178);
    max-width: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    padding-left: 8.32%;
    height: 50px;
    padding-top: 10px;
    box-shadow: 4px 4px 7px rgb(122, 122, 122);
    .logo-text {
        left: 11.76%;
        p {
            font-size: 3.6rem;
            left: 160px;
        }
    }
    .menu-button {
        display: flex;
        position: relative;
        left: 83%;
        top: 5px;
        max-width: 10%;
        width: 3.35%;
        height: 25px;
        cursor: pointer;
        background-image: url("/img/nav-hamburger.png");
        background-repeat: no-repeat;
    }
    .menu-button-close {
        background-image: url("/img/nav-hamburger-close.png");
    }
}

.nav {
    display: block;
    flex-direction: column;
    position: fixed;
    max-width: 100%;
    top: 40px;
    width: 60%;
    height: 500px;
    left: 20%;
    justify-content: center;
    background-color: rgb(216, 216, 216);
    border: 4px solid darkgray;
    border-radius: 15px;
    z-index: 4;
    box-shadow: 4px 4px 7px rgb(122, 122, 122);
    animation: loseIt2 1s 1 forwards;
    
    /* This set the layer level of the element, it has precendence over initial level of 1*/
    .nav-container {
        display: flex;
        position: relative;
        .width-max-width-100;
        height: 60px;
        font-size: 3.6rem;
        padding-left: 8%;
        top: 20px;
        .nav-button {
            display: flex;
            position: relative;
            max-width: 10%;
            left: 60%;
            width: 6.35%;
            height: 60px;
            top: -4px;
            background-image: url("../img/nav-hamburger-close.png");
            background-repeat: no-repeat;
            cursor: pointer;
        }
    }
}

.nav-open {
    display: block;
    animation: moveIt2 1s 1;
}

.nav-close {
    display: block;
    animation: loseIt2 1s 1 forwards;
}

.nav-ul {
    padding-top: 10px;
}

.nav-li {
    max-width: 100%;
    .marginCenter;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 4.0rem;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

@keyframes moveIt2 {
    0% {
        top: -510px;
    }
    100% {
        top: 50px;
    }
}

@keyframes loseIt2 {
    0% {
        top: 50px;
    }
    100% {
        top: -510px;
    }
}

//*********************************************
//*** FOR SCREENS SMALLER THAN 620 ************
//*********************************************
@media @tablet {
    .top-bar {
        .menu-button {
            left: 71.17%;
            top: 0px;
            width: 13.05%;
            height: 25px;
        }
    }
    .nav {
        width: 70%;
        left: 10%;
        .nav-container {
            .nav-button {
                max-width: 40px;
                left: 50%;
                width: 26.35px;
                height: 60px;
                top: -4px;
            }
        }
        .nav-ul {
            padding-top: 60px;
            font-size: 2.6rem;
        }
    }
}

//*********************************************
//*** FOR SCREENS SMALLER THAN 490 ************
//*********************************************
@media @subTablet {
    .nav {
        width: 85%;
        left: 5%;
    }
    .nav-li {
        font-size: 3.0rem;
    }
}

//*********************************************
//*** FOR SCREENS SMALLER THAN 320 ************
//*********************************************
@media @mobile {
    .top-bar {
        font-size: 2.8rem;
        padding-left: 15px;
        padding-top: 10px;
        .logo-text {
            left: 11.76%;
            p {
                font-size: 1.8rem;
                left: 15px;
            }
        }
        .menu-button {
            left: 71.17%;
            top: 0px;
            width: 13.05%;
            height: 25px;
        }
    }
    .nav {
        max-width: 320px;
        top: 10px;
        width: 90%;
        height: 400px;
        left: 5%;
        justify-content: center;
    }
    .nav-li {
        font-size: 3.0rem;
        padding-bottom: 10px;
        padding-top: 10px;
        top: -10px;
    }
}