.visible-mobile {
  display: none !important;

  @media @mobile {
    .visible-mobile {
      display: inline;
    }

    .hidden-mobile {
      display: none !important;
    }
  }
}

.dropdown-button {
  //position: absolute;
  right: 7%;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  position: relative;
  width: 100%;
  height: 100%;

  padding: 100px 0;
  padding-left: 45%;
  background-color: @footerBg;
  z-index: 2;

  font-size: 3.2rem;
  font-weight: 700;
  line-height: normal;
  color: @generalBg;
}

.dropdown-link {
  display: flex;
  text-align: center;
  font-size: 3.2;
}

.dropdown-open {
  display: flex;
  opacity: 0.8;
}

.main-navigation {
  .sub-headers;
  color: @generalBg;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #9A9A9A;
  padding: 15px 7%;

  //position: fixed;
  z-index: 2;

  @media @mobile {
    padding: 15px 3.5%;
  }
}