
nav {

  position: fixed;
  top: 0;
  left: 23.1%;
  background-color: @navBack;
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  width: 100%;
  padding: 13px 4.5%;
  z-index: 2;

  .logo {
    font-weight: bold;
    font-size: 2.4rem;
    color: @white;
  }

  .links {
    display: none;
  }
}