@media (max-width: 500px) {

    .navigationBar {
        max-width: 500px;
        width: 500px;
         h1{
             position: relative;
             left: 30px;
         }
     }

     .siteLogo{
         position: relative;
         left: 60px;
     }


.openOpenButton{
    position: relative;
    right: 90px;
}

}