@media (max-width: 500px) {
.servicesBody{ 
    max-width: 500px !important;
    .navigationBar{
        z-index: +2 !important;
        max-width: 500px !important;
        width: 500px;
        .siteLogo{
            position: relative;
            left: 50px;
        }

        .openOpenButton{
            position: relative !important;
            left: -50px !important;
        }
    }
}
   
}