.nav {
  width: 1025px;
  background-color: #98A4AF;
  position: fixed;
  z-index: 1;
    @media @phone {
      max-width: 500px;
      min-height: 58px;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  .main-nav{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px 8%;
    align-items: center;
      @media @phone {
      max-width: 500px;
      min-height: 58px;
      width: 500px;
      margin: 0 5% 0 5%;
    }
    a.logo {
      .NavLogo;
      text-decoration: none;
      font-family: 'Roboto';
      &:hover {
        color: #ffffffb0;
      }
      @media @phone {
        max-width: 500px;
        width: 100%;
        padding-left: 2%;
        font-size: 3.3rem;
        font-weight: normal;
      }
    }
    img.burger {
      .NavLogo;
      width: 33px;
      cursor: pointer;
      &:hover {
        color: #000000;
      }
      @media phone {
        width: 50px;
      }
    }
  }
  .expandNav {
    display: none;
  }
}
