header{
    width: 100%;
    height: 5.5rem;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #97A4B0;
    display: flex;

}

.nav{    
    .around;
    .container;
    padding: 0.2rem;
    align-items: center;
    

    h1{
       font-size: 24px;
       font-weight: bold;
       line-height: 26px;
       color: #ffffff; 
    }
   
}
.menu{
    display: block;
    position: fixed;
    top: 5.5rem;
    width: 100%;
    height: 100vh;
    background: rgb(210, 221, 231);
    z-index: 2;

    nav-links{
        text-align: center;
        
    }

    
} 