.recent-projects .outskirts {
    .bind-outskirts {
        display: flex;
        flex-flow: column wrap;
        position: relative;
        margin-bottom: 50px;

        h1 {
            position: absolute;
        padding: 20px;
        background: lightgray;
        border: 1px solid white;
        letter-spacing: .3rem;
        font-size: 2.1rem;
        top: 190px;
        left: 1px;
        }
    }
}

.recent-projects .outskirts {
    p {
        padding: 10px 230px 0 180px;
        font-size: 1.6rem;
    }

    margin-bottom: 50px;
}

// mobile
@media (max-width:500px){
    .recent-projects .outskirts {
        .bind-outskirts {
            margin-bottom: 60px;
        h1 {
            padding:35px 60px;
            left: 30px;
            font-size: 2.5rem;
            border: 0;
        }
    
    }
    
    p {
        padding: 20px;
        width: 100%;
        font-size: 2.1rem;
        
    }
    margin-bottom: 20px;
    }
}