.overlay {
    display: none;
}

.open {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: fixed;
    background: rgba(119, 136, 153, .95);
    z-index: 4;
    .flexcolumn;
    justify-content: center;
    align-items: center;

    .overlay-menu {
        font-size: 3em;
        font-weight: 700;
        .flexcolumn;
        line-height: 180%;
        a {
            color: white;
            }
        .home, .serv {
            color: rgb(100, 91, 91);
        }
    }
}