.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 80vh;
    background: #778899;
    z-index: 1;
    width: 100%;
    opacity: 0.94;

    .overlay-exit {
        display: flex;
        justify-content: space-between;
        h1{
            color: @nav-font-color;
            font-weight: bold;
            font-size: 3rem;
            margin-left: 6rem;
            padding: 2rem 0;
        }
    
        img{
            width: 4rem;
            margin-right: 6rem;
            padding-top: 2rem;
            height: 5rem;
            &:hover {
                cursor: pointer;
            }
        }
    }

    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 72vh;

        a {
            color: @nav-font-color;
            font-weight: bold;
            font-size: 5rem;
            margin-left: 6rem;
            padding: 2rem 0;
            text-decoration: none;  
        }
    }
}