/*------------------------------------*\
PAGE-SERVICES
\*------------------------------------*/

.services {

    header {

        .slogan{
            padding: 10% 0 44px 0;
            width: 84%;
            margin: 0 auto;

            @media @mobile {
                width: 90%;
                padding: 20% 0 54px 0;
            }

            h1 {
                padding-bottom: 10px;
                color: white;

                @media @mobile {
                    font-size: 3.5rem;
                }
            }
        }

        img {
            max-width: 1024px;
            width: 100%;
            position: absolute;
            top: 0px;
            z-index: -2;
        }

        .banner-big {
            @media @mobile {
                display: none;
            }
        }

        .banner-small {
            display: none;

            @media @mobile {
                display: block;
            }
        }
    }

    .intro {
        width: 84%;
        margin: 0 auto;
        padding: 35px 0;
    }

    .tabs {
        width: 84%;
        margin: 0 auto;


        }.tabs-links {
            display: flex;
            justify-content: space-between;

            .tabs-link {
                font-size: 1.8rem;
                font-weight: 700;
                text-align: center;
                border: 1px solid black;
                width: 22%;
                padding: 15px 0;
                margin-bottom: 50px;
            }
        }

        .tabs-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 45px;

            .tabs-item-text {
                width: 100%;

                h2 {
                    margin-bottom: 15px;
                }
                p {
                    margin-bottom: 15px;
                }
            }

            img {
                height: 100%;
            }

        }


}