/*------------------------------------*\
PAGE-HOME
\*------------------------------------*/

.home {

    header {

        .slogan{
            padding: 330px 0 44px 0;
            width: 84%;
            margin: 0 auto;

            h1 {
                padding-bottom: 10px;
            }
        }

        img {
            position: absolute;
            top: 0px;
            z-index: -1;
        }
    }
}