/*------------------------------------*\
PAGE-SERVICES
\*------------------------------------*/

.services {

    header {

        .slogan{
            padding: 150px 8%;
            margin: 0 auto;
            position: absolute;
            top: 0px;
            z-index: 1;

            @media @mobile {
                width: 90%;
                padding: 200px 8%;
            }

            h1 {
                
                padding-bottom: 10px;
                color: white;

                @media @mobile {
                    font-size: 3.5rem;
                }
            }
        }

        img {
            max-width: 1024px;
            width: 100%;
        }

        .banner-big {
            @media @mobile {
                display: none;
            }
        }

        .banner-small {
            display: none;

            @media @mobile {
                display: block;
            }
        }
    }

    .intro {
        width: 84%;
        margin: 0 auto;
        padding: 35px 0;

        @media @mobile {
            width: 90%;
        }
    }

    .tabs {
        width: 84%;
        margin: 0 auto;

        @media @mobile {
            width: 90%;
        }


        .tabs-links {
            display: flex;
            justify-content: space-between;

            @media @mobile {
                flex-direction: column;
                margin-bottom: 20px;
            }

            .tabs-link {
                font-size: 1.8rem;
                font-weight: 700;
                text-align: center;
                border: 1px solid black;
                width: 22%;
                padding: 15px 0;
                margin-bottom: 50px;

                &:hover {
                    background-color: lightblue;
                  }

                @media @mobile {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }

            .tabs-link-selected {
                background-color: #609BB7;
                color: white;

                &:hover {
                    background-color: #609BB7;
                  }
            }
        }

        .tabs-item {
            display: none;
            justify-content: space-between;
            margin-bottom: 45px;

            @media @mobile {
                flex-direction: column;
            }

            .tabs-item-text {
                width: 48%;

                @media @mobile {
                    width: 100%
                }

                h2 {
                    margin-bottom: 15px;
                }
                p {
                    margin-bottom: 15px;
                }
            }

            img {
                width: 48%;
                height: 100%;

                @media @mobile {
                    width: 100%
                }            
            }

            .tabs-item-img {
                
                @media @mobile {
                    display: none;
                }
            }

            .tabs-item-img-mobile {
                display: none;

                @media @mobile {
                    display: block;
                    margin: 10px 0;
                }
            }

        }

        .tabs-item-selected {
            display: flex;
          }
        }

        


}