/*------------------------------------*\
PAGE-HOME
\*------------------------------------*/

.home {

    header {

        .slogan{
            padding: 30% 8%;
            margin: 0 auto;
            position: absolute;
            top: 0px;
            z-index: 1;

            @media @mobile {
                padding: 30% 4%;
            }

            h1 {
                padding-bottom: 10px;
                color: white;

                @media @mobile {
                    font-size: 3.5rem;
                }
            }
        }

        img {
            max-width: 1024px;
            width: 100%;

            @media @tablet {
                width: auto;
                height: 457px;
            }

            @media @mobile {
                width: 100%;
                height: auto;
                margin-bottom: 35px;
            }
        }

        .banner-big {
            @media @mobile {
                display: none;
            }
        }

        .banner-small {
            display: none;

            @media @mobile {
                display: block;
            }
        }
    }

    .intro {
        width: 84%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media @mobile {
            width: 90%;
            flex-direction: column;
            flex-wrap: nowrap;
        }

        div {
            width: 48%;
            margin: 50px 0;

            @media @mobile {
                width: 100%;
                margin : 0;
                margin-bottom: 10px;
            }
        }

        .intro-big {
            @media @mobile {
                display: none;
            }
        }

        .intro-small {
            display: none;

            @media @mobile {
                display: block;
            }
        }

        .intro-text {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h2 {
                margin-top: 30px;
                
                @media @mobile{
                    margin-bottom: 20px;
                }
            }

            p {
                @media @mobile{
                    margin-bottom: 20px;
                }
            }

            .btn {
                font-size: 1.6rem;
                text-align: center;
                border: 1px solid black;
                width: 135px;
                padding: 15px 0;
                margin: 0 0 20px 0;

                @media @mobile {
                    width: 100%;
                    margin-bottom: 30px;
                }
            }
        }

        .b3 {
            order: 4;
        }

        .b2 {
            @media @mobile {
                order: -1;
            }
        }
    }


    .recent {
        width: 84%;
        margin: 0 auto;

        @media @mobile {
            width: 100%;
        }

        h2 {
            margin: 45px 0;
            
            @media @mobile {
                width: 90%;
                margin: 0 auto;
                padding: 10px 0 20px 0;
            }
        }

        .recent-content {

            .recent-text {
                margin-bottom: 70px;
            }

            .recent-img{
                position: relative;
                margin-bottom: 95px;

                @media @mobile {
                    margin-bottom: 115px;
                }
            }

            .recent-big {
                @media @mobile {
                    display: none;
                }
            }

            .recent-small {
                display: none;

                @media @mobile {
                    display: block;
                }
            }

            .title-box {
                position: absolute;
                bottom: -50px;
                right: 0px;
                z-index: 1;
                font-size: 2.4rem;
                background-color: #D7D7D7;
                width: 320px;
                text-align: center;
                letter-spacing: 5px;
                padding: 35px 0;
                border: 1px solid white;

                @media @mobile {
                    bottom: -80px;
                    width: 90%;
                    left: 15px;
                }
            }

            .outskirts {
                left: 0px;

                @media @mobile {
                    left: 15px;
                }
            }

            p {
                width: 45%;
                margin: 0 auto;
                padding-bottom: 25px;

                @media @tablet {
                    width: 84%;
                }

                @media @mobile {
                    width: 90%;
                }
            }
        }
    }

}