/*------------------------------------*\
PAGE-CONTACT
\*------------------------------------*/

.contact-us {

    header {

        .slogan{
            padding: 150px 8%;
            margin: 0 auto;
            position: absolute;
            top: 0px;
            z-index: 1;

            @media @mobile {
                width: 90%;
                padding: 200px 8%;
            }

            h1 {
                
                padding-bottom: 10px;
                color: white;

                @media @mobile {
                    font-size: 3.5rem;
                }
            }
        }

        img {
            max-width: 1024px;
            width: 100%;

            @media @tablet {
                width: auto;
                height: 250px;
            }

            @media @mobile {
                width: 100%;
                height: auto;
            }
        }

        .banner-big {

            @media @mobile {
                display: none;
            }
        }

        .banner-small {
            display: none;

            @media @mobile {
                display: block;
            }
        }
    }

    .main-content {
        display: flex;
        justify-content: space-between;
        margin: 50px 0;

        .get-in-touch{
            width: 50%;
            border: 1px solid green;
        }

        .where-we-work {
            width: 50%;
            border: 1px solid red;

            div {
                margin: auto;
                width: 50%;
                border: 1px solid green;
            }
        }
    }
}