
.place-content {
    width: 100%;
    .flex(column,center,center);
    .place-nav-sec {
        width:85%;
        @media(max-width:600px) {
            width: 100%;
            text-align: center;
        }
        
        .flex(row,space-between,space-between);
        flex-wrap: wrap;

        .place-nav-button {
            cursor: pointer;
            padding: 10px;
            border: 1px solid black
        }
        .clicked {
            background-color: @tabselectbc;
            color:white;
            cursor: default;
        }
        p {
            .font(regular,1.75rem,black,regular);
            @media(max-width:600px) {
                .font(regular,2.25rem,black,regular);
                width: 100%;
            }
        }
    }
    
        .flex(column,center, center);
    
        .tab {
            margin: 20px 0px;
            width:85%;
            @media(max-width:600px) {
                width: 100%;
            }
            .tab-stuff {
                .flex(row, flex-start, space-between);
                width:100%;
                .head-text {
                    .font(bold,2.25rem,#222222,regular);
                    margin: 20px 4% 20px 0px;  
                    width: 30%;  
                    @media(max-width:600px) {
                        .font(bold,3.25rem,black,24px);
                    }
                }
                div {
                    align-self: flex-start;
                    width: 80%;
                    .flex(column, flex-start, flex-start);
                    h4 {
                        .font(regular,2rem,black,regular);
                        margin-top: 20px;
                    }
                }
                p {
                    margin:10px 20px 10px 0px;
                    .font(regular,1.75rem,black,regular);
    
                    @media(max-width:600px) {
                        .font(regular,2.25rem,black,regular);
                    }
                }
                img {
                    height: 60vh;
                    align-self: flex-start;
                }
            }
        }


        
    
    
    .visible {
        .flex(row,space-between,center);
        @media(max-width:600px){
            width: 100%;
            .flex(column,center,center);
    
        }
    }
    
    .invisible {
        display:none;
    }

}
    
.recolored {
    filter: sepia(100%) saturate(200%) hue-rotate(-20deg)
}