
.place-content {
    width: 100%;
    .flex(column,center,center);
    .place-nav-sec {
        width:85%;
        @media(max-width:600px) {
            width: 100%;
            text-align: center;
        }
        
        .flex(row,space-between,space-between);
        flex-wrap: wrap;

        .place-nav-button {
            cursor: pointer;
            padding: 10px;
            margin: 0;
            margin-top: 10px;
            border: 1px solid black;
            @media(max-width:600px) {
                padding: 15px 2%;
                width: 100%;
                .font(regular,4rem,black,regular);            }
        }
        .clicked {
            background-color: @tabselectbc;
            color:white;
            cursor: default;
        }
        p {
            .font(regular,1.75rem,black,regular);
            @media(max-width:600px) {
                .font(regular,2.25rem,black,regular);
                width: 100%;
            }
        }
    }
    
        .flex(column,center, center);
    
        .tab {
            margin: 20px 0px;
            width:85%;
            @media(max-width:600px) {
                width: 100%;
            }
            .tab-stuff {
                .flex(row, flex-start, space-between);
                width:100%;
                @media(max-width:600px) {
                    .flex(column, center, center);
                }
                .head-text {
                    .font(bold,2.25rem,#222222,regular);
                    margin: 20px 4% 20px 0px;  
                    width: 100%;  
                    @media(max-width:600px) {
                        .font(bold,3.25rem,black,40px);
                        text-align: center;
                        padding: 20px;
                        margin: 0
                    }
                }
                div {
                    align-self: flex-start;
                    width: 80%;
                    .flex(column, flex-start, flex-start);
                    @media(max-width:600px) {
                        align-self: center;
                        width: 95%;
                        .flex(column, center, center);

                    }
                    h4 {
                        .font(regular,2rem,darkorange,regular);
                        margin-top: 20px;
                        @media(max-width:600px) {
                            .font(regular,2.5rem,darkorange,regular);
                            text-align: center;
                            margin: 0

                        }
                    }
                }
                p {
                    margin:10px 20px 10px 0px;
                    .font(regular,1.75rem,black,regular);
    
                    @media(max-width:600px) {
                        .font(regular,2.25rem,black,regular);
                        text-align: center;
                        margin: 15px 0px
                    }
                }
                img {
                    height: 60vh;
                    align-self: flex-start;
                    @media(max-width:600px) {
                        height: 250px;
                        align-self: center;

                    }
                }
            }
        }


        
    
    
    .visible {
        .flex(row,space-between,center);
        @media(max-width:600px){
            width: 100%;
            .flex(column,center,center);
    
        }
    }
    
    .invisible {
        display:none;
    }

}
    
.recolored {
    filter: sepia(100%) saturate(200%) hue-rotate(-20deg)
}