//project-page.less

.project-jumbo {
    position: relative;

    .project-jumbo-text {
        position: absolute;
        bottom: 8px;
        left: 16px;
        padding-left: 30px;
        @media @phone {
            padding-left: 10px;
        }
    }
    .project-jumbo-photo {
        display: block;
        width: 100%;
        max-width: 800px;
        padding-top: 15px;
        @media @phone {
            display: none;
        }
    }
}