.projects-container {

    .carousel {

        img {
          display: none;  
        }

        .active-img {
            width: 100%;
            height: 500px;
            position: relative;
            overflow: hidden;
            display: flex;

            @media @mobile {
                width: 100%;
                height: 250px;
                overflow: hidden;
                display: block;
            }
        }

        .mobile-jumbo-image {
            display: none;

            @media @mobile {
                display: flex;
                width: 100%;
            }
        }

        .jumbo-image {
            z-index: -1;
            width: 100%;

            @media @mobile {
                display:none;
            }
        }
        .jumbo-img-tag {
            vertical-align: super;
            z-index: 1;
            margin-left: 5%;
            margin-top: -10%;
            line-height: 7.5rem;
            //background-color: @footer-background;
            
            @media @tablet {
                margin-top: -15%;
            }

            @media @mobile {
                margin-top: -22%
            }
        }

    }

    .projects-blurb {
        display: flex;
        padding-top: 7%;
        padding-left: 6%;
        padding-right: 5%;
        padding-bottom: 4%;
        align-content: justify;
        

        p {
            display: none;
        }

        .active-paragraph {
            padding-left: 5%;
            padding-right: 5%;
            display: flex;
    
            @media @mobile {
                pading-left: 2%;
                padding-right: 2%;
            }
        }
        
        .left-button {
            font-size: 6.8rem;
            cursor: pointer;
            color: @footer-background;

            @media @mobile {
                font-size: 4.6rem;
                
            }
        }
        .right-button {
            font-size: 6.8rem;
            cursor: pointer;
            color: @footer-background;

            @media @mobile {
                font-size: 4.6rem;
               
            }
        }
    }

}