.carousel {
  margin-top: 75px;

  .carousel__container {
    background-color: lightgrey;

    .prev, .next {
      font-size: 4rem;
      background-color: rgba(255, 255, 255, 0.3);

      width: 10%;
      height: 30px;
      margin: 10px auto;

      .flexCenter();

      &:hover {
        background-color: @theme2;
        color: @theme1;
      }
    }

    .box {
      display: none;
    }

    .show {
      .flexColumn();

      img {
        height: 50%;
        width: 50%;
        margin: 0 auto;
      }

      .box-description {
        margin: 20px auto;
        width: 65%;
      }
    }
  }
}

@media (max-width: 600px) {
  .carousel {
    .carousel__container {
      display: flex;
      align-items: center;

      .prev, .next {
        font-size: 6rem;
        height: 100px;
      }

      .show {
        img {
          width: 90%;
        }
      }
    }
  }
}
