.project{

    .project-page{
        position: relative;

        .project-header{
            max-width: 100%;

            @media @mobile{
                display: none;
            }
        }

        .project-header-mobile{
            display: none;

            @media @mobile{
                display: block;
                width: 100%;
            }
        }

        .project-headline{
            width: 285px;
            color: @main-bg;
            height: 270px;
            position: absolute;
            top: 59%;
            left: 11.5%;
            font-weight: bold;

            @media @mobile{
                top: 77%;
                left: 6.5%;
            }
            
        }
    }

    .content {
        padding: 0 12%;

        header{
            padding: 40px 0;
        }
    }
}