.project{

    .project-page{
        position: relative;

        .project-header{
            max-width: 100%;

            @media @mobile{
                display: none;
            }
        }

        .project-header-mobile{
            display: none;

            @media @mobile{
                display: block;
                width: 100%;
            }
        }

        .project-headline{
            width: 285px;
            color: @main-bg;
            height: 270px;
            position: absolute;
            top: 59%;
            left: 11.5%;
            font-weight: bold;

            @media @mobile{
                top: 77%;
                left: 6.5%;
            }
            
        }
    }

    .content {
        padding: 0 12%;

        header{
            padding: 40px 0;
        }

        .carousel{
            width: 100%;
            display: flex;
            height: auto;
            position: relative;
            overflow: hidden;
            margin: 16px 0;
            justify-content: center;
            padding-bottom: 40px;


            .left-button, .right-button {
                display: flex;
                font-size: 40px;
                position: absolute;
                cursor: pointer;
                 
                 
              }

              .left-button {
                  width: 0;
                  height: 0;
                  border-top: 40px solid transparent;
                  border-bottom: 40px solid transparent;
                  border-right: 40px solid @services-tab;
                top: 50%; 
                left: 16%;
                transform: translate(0, -50%);

                &:hover{
                    border-right: 40px solid @nav-color;
                }
              }
              .right-button {
                width: 0;
                height: 0;
                border-top: 40px solid transparent;
                border-bottom: 40px solid transparent;
                border-left: 40px solid @services-tab;
                top: 50%; 
                right: 16%;
                transform: translate(0, -50%);

                &:hover{
                    border-left: 40px solid @nav-color;
                }
              }
              img {
                width: auto;
                display: none;
              }

        }
    }
}