.projects {
           width:87%;
           display:flex;
           flex-direction: column;
           margin: 5% auto;
           h1{
               font-size:2.6rem;
               padding: 0 2%;
               font-family: 'Roboto';
           }

           .projects-card{
                    margin: 3% 0;

                           .villas{
                                background-image: url("../img/home/home-villas-img.png");
                                height:230px;
                                width:95%;
                                margin: 0 auto;                                                    
                            }
                            
                            .blocks{
                                background-image: url("../img/home/home-the-blocks-img.png");
                                height:230px;
                                width:95%;
                                margin: 0 auto;  
                            }
                            .outskirts{
                                background-image: url("../img/home/home-outskirts-img.png");
                                height:230px;
                                width:95%;
                                margin: 0 auto;  
                            }

                             .projects-text-card {                                   
                                    font-family:'Roboto';                                    
                                    width:95%;
                                    display:flex;
                                    align-items: flex-end;
                                    justify-content: flex-end;
                                    margin:0 auto;
                                    margin-top:-55px;
                                    h1{
                                        letter-spacing:7px;
                                        font-size:2.5rem;
                                        font-weight: normal;
                                        padding:4.3% 6%;
                                        background: #d8d8d8;
                                    }
                                }

                                .projects-text-card-inversed {                                   
                                    font-family:'Roboto';                                    
                                    width:95%;
                                    display:flex;
                                    align-items: flex-end;
                                    justify-content: flex-start;
                                    margin:0 auto;
                                    margin-top:-55px;
                                    h1{
                                        letter-spacing:7px;
                                        font-size:2.5rem;
                                        font-weight: normal;
                                        padding:4.3% 6%;
                                        background: #d8d8d8;
                                    }
                                }   

                             p {
                                 font-family: 'Roboto';
                                 line-height:22px;
                                 font-size:1.8rem;
                                 width:50%;
                                 margin:35px auto;
                             }   
           }
}


@media(max-width:500px){

    .projects{
        width:100%;

        .projects-card{

            .villas{
                width:100%;
                background-repeat: no-repeat;
                background-image: url('../img/home/home-mobile-villas-img.png');
                background-size:cover;
            }

            .outskirts{
                width:100%;
                background-image: url('../img/home/home-mobile-outskirts-img.png');
            }
            
            .blocks{
                width:100%;
                background-image: url('../img/home/home-mobile-the-blocks-img.png');
            }

            p{
                width:95%;
                font-size:2.0rem;
                line-height:30px;
            }


            .projects-text-card{
                width:100%;
                text-align: center;
                h1{
                    padding:8% 6%;
                    width:95%;
                    margin:40px auto;
                }
            }
            .projects-text-card-inversed{
                width:100%;
                text-align: center;
                h1{
                    padding:8% 6%;
                    width:95%;
                    margin:40px auto;
                }
            }
        }
    }

}