/*
    About Us Page Jumbotron styles
*/

.projectsPage {
  background-image: url("../img/projects/jumbo.jpeg");
  .jumbotronImg();

  height: 250px;
  width: 100%;
  margin-top: 15px;

  display: flex;
  align-items: flex-end;

  h1 {
    .jumbotronText();
  }
}



/*
  Our Promise Styles
*/

.promise {
  margin-top: 30px;
  .flexCenter();
  .flexColumn();

  h1 {
    font-size: 3.6rem;
    font-weight: bold;
    margin: 20px 0;
  }

  p {
    margin-top: 30px;
    font-size: 1.6rem;
  }
}

/*
  Carousel Styles
*/

.carousel {
  margin-top: 30px;

  h2 {
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    margin: 40px 0;
  }

  .carousel__container {
    background-color: lightgrey;

    .prev, .next {
      font-size: 4rem;
      background-color: rgba(255, 255, 255, 0.3);

      width: 10%;
      height: 30px;
      margin: 10px auto;

      .flexCenter();

      &:hover {
        background-color: @theme2;
        color: @theme1;
      }
    }

    .box {
      display: none;
    }

    .show {
      .flexColumn();

      img {
        height: 50%;
        width: 50%;
        margin: 0 auto;
      }

      .box-description {
        margin: 20px auto;
        width: 65%;
      }
    }
  }
}

@media (max-width: 600px) {
  .carousel {
    .carousel__container {
      display: flex;
      align-items: center;

      .prev, .next {
        font-size: 6rem;
        height: 100px;
      }

      .show {
        img {
          width: 90%;
        }
      }
    }
  }
}
