.project-container {
  .fontDesign(normal; 1.6rem; @main-color; 24px);
  width: 100%;
  max-width: 1024px;
  margin: auto;

  h2 {
    .fontDesign(bold; 2.4rem; @main-color);
  }

  .title {
    position: relative;
    width: 100%;

    @media @phone {
      padding-top: 50px;
    }
  }

  .title img {
    width: 100%;

    @media @phone {
      height: 210px;
    }
  }

  .title-words {
    .fontDesign(bold; 6.4rem; @bckgrnd; 75px);
    position: absolute;
    width: 20%;
    bottom: 58px;
    left: 8.2%;

    @media @phone {
      .fontDesign(bold; 3.6rem; @bckgrnd; 42px);
      bottom: 30px;
      left: 5.2%;
    }
  }

  .project-buttons {
    .flex(row, space-between, center);

    .project-button {
      .buttonDesign();
      margin: 10px;
    }
  }

  .project-info {
    .title,
    .contact,
    .para1,
    .para2,
    .price,
    .features {
      display: none;
    }
  }

  .project-showing {
    width: 90%;
    margin: auto;

    .title,
    .contact,
    .para1,
    .para2,
    .price,
    .features {
      display: block;
    }

    .top {
      .flex(row; space-between; center);
    }

    .title {
      width: 70%;

      h3 {
        .projectsTitle();
        right: 0;
        top: 120px;
      }
    }

    .contact {
      .flex(row; center; center);
      width: 20%;
      min-width: 170px;
      .fontDesign(normal; 1.6rem; @main-color; 24px);
      margin-top: 20px;
      padding: 35px 20px;
      letter-spacing: 0.1rem;
      background-color: @recent-proj-bkgrn;

      h4 {
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 10px;
      }
    }

    .bottom {
      .flex(row; center; center);
    }

    .para {
      width: 100%;
      margin-right: 50px;
    }
    .para1 {
      padding-top: 75px;
      font-size: 1.8rem;
    }

    .para2 {
      padding: 30px 0 95px;
      font-size: 1.8rem;
    }

    .info {
      width: 100%;
      padding-left: 30px;
      position: relative;
    }

    .price {
      .projectsTitle();
      top: -150px;
      letter-spacing: 0.3;
    }

    .features {
      .flex(row; center; center);
      width: 90%;
      .fontDesign(normal; 1.8rem; @main-color; 24px);
      padding: 20px 10px;
      background-color: @recent-proj-bkgrn;
      position: absolute;
      right: 8.2%;
      top: 0px;
    }

    li {
      list-style: circle inside;
      padding: 5px 0;
    }
  }
}
