

.project-jumbotron{

  background-image: url(../img/projects/projects-full.png);
  height:300px;
  background-repeat: no-repeat;
  background-size: contain 100% 100%;
  position:relative;

  h1{
    width:33%;
    position:absolute;
    top:75%;
    left:9.5%;
    font-weight: bold;
    font-size: 5rem;
    line-height: 7.5rem;

    color:@white;
    @media(@phone){

    }
  }
  @media(@phone){
    background-image: url(../img/projects/projects.png);

    height:400px;
    background-size: contain;
    h1{
      width:50%;
      font-size:4.2rem;
      line-height:5rem;
      top:55%;
    }
  }
}
