.press-coverage {
  margin: 8% 0% 10% 0%;
  height: 200px;
  background-color: white;

  @media @tablet {
    margin-top: 11%;
    margin-bottom: 15%;
  }

  h2 {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1.8;
    color: @seaweed;
    text-transform: lowercase;
    padding-left: 1%;
    margin-bottom: 1.5%;

    @media @tablet {
      padding-left: 3%;
    }

  }

  .logo-container {
    padding: 5% 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lighten(@teal,25%);
    height: 20%;
    border-radius: 2px;

    @media @tablet {
      height: 40%;
      width: 92%;
      margin: auto;
    }

    .logo {
      padding: 5%;
      width: 20%;
      margin: 1%;
      position: relative;
      border-right: 2px solid lighten(@teal, 30%);

      img {
        height: 70%;
        width: 50%;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    .gardeners-world {
      @media @tablet {
        display: none;
      }
    }

    .wired {
      @media @tablet {
        height: 70%;
        width: 100%;
      }
    }

    .bloomberg {
      @media @tablet {
        height: 70%;
        width: 100%;
      }
    }

    .guardian {
      @media @tablet {
        height: 30%;
        width: 100%;
      }
      @media @phone {
        display: none;
      }
    }

    .logo:last-child{
      border-right: none;
    }
  }
}
