.recent-projects {
  margin-top: 100px;
  h2 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 35px;
  }
  .project {
    margin: 50px 0;
    p {
      width: 450px;
      margin: 0 auto;
      font-size: 1.8rem;
      line-height: 2.4rem;
      margin-bottom: 20px;
    }
  }
  .project--img-txt-right {
    margin-top: 100px;
  }
  .project--img-txt-left {
    padding-top: 50px;
  }
  .annotated-image-right {
    position: relative;
    h3 {
      .projecth3();
      bottom: -40px;
      right: -5px;
    }
    margin-bottom: 80px;
  }
  .annotated-image-left {
    position: relative;
    h3 {
      .projecth3();
      left: 0;
      bottom: -40px;
    }
    margin-bottom: 80px;
  }
}