.recent-projects-villas-header{
    margin-top:40px;
    margin-bottom:25px;
}

.recent-projects-villas{
    width:100%;
    background-image: url('../img/home/home-mobile-villas-img.png');
    background-size:cover;
    background-position: center;
    height: 224px;

    @media @desktop{
        background-image: url('../img/home/home-villas-img.png');    
    }
}

.recent-projects-villa-box{
    background-color: @boxColor;
    position: relative;
    height:96px;
    top:-15px;
    display:flex;
    justify-content: center;
    align-items:center;

    @media @desktop{
        width: 37%;
        top:-45px;
        left:320px;
    }

    p{
        font-size: 2.4rem;
        letter-spacing: 5px;
    }
}
.recent-projects-villa-text{
    display:flex;
    flex-direction: column;

    @media @desktop{
        width: 50%;
    }

}
