.recent {
  margin-top: 10rem;

  &__headline {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 6rem;
  }

  &__project {
    margin: 8rem 0;

    &--img {
      width: 100%;
    }

    &--textBox {
      margin-top: 8.5rem;
    }

    &--text {
      font-size: 1.6rem;
      line-height: 2.4rem;
      padding: 1.5rem 20rem;
    }

    &--titleBox {
      background-color: @propertyNameBG;
      height: 10rem;
      width: 32rem;
      display: flex;
      justify-content: center;
      align-items: center;
      

      position: relative;
      bottom: 6rem;
      z-index: 100;

     
      &--title {
        font-size: 2.5rem;
        letter-spacing: 10px;
        text-transform: uppercase;
      }
    }
  }
}