.recent_div {
	//background-color: black;
	padding: 55px 0px 0px 0px;
			margin: auto;
	.recent_panal {
		

		.recent_title {
			padding: 0px 0px 48px 85px;
			font-family:  Roboto, Arial, sans-serif;
			font-weight: bold;
			font-size: 1.5rem;

		}

		.img_text img{
		}



	}

}