.bottom-content-section{
    margin: 0 auto; 
    h3{
        padding-left:20px;
        font-weight: 700;
    }
    .bottom-content{
        position: relative;
        .bottom-img-content{

            
                    padding: 10px;
                    .mobile{
                    display: none;
                    }
                    @media @mobile{
                    .desktop{
                    display: none;
                    }
                    .mobile{
                    display: inherit;
                    padding-left: 20px;
                     }
            } 
        }
        a {
        text-decoration: none;
        font-size: 2rem;
        border: 1.5px solid  @tab-hover-color;
        padding: 18px 25px;
        background: @recent-project-greysquare;
        width: 300px;
        text-align: center;
        letter-spacing: 3px;
        &:hover {
            background: #000; 
            color: #fff;
            border: none;
            } 

        }
        .tile-right {
            position: absolute;
            right: 20px;
            top: 190px;
            @media @mobile{
                right: 65px;
                
            }
        }
        .tile-left {
            position: absolute;
            left:20px;
            top: 190px;
            @media @mobile{
                left: 40px;
            }
        }
        p{
         width: 50%;   
         margin: 0 auto;
         margin-bottom: 20px;
         margin-top: 20px;
         @media @mobile{
             padding-top: 20px;
             width: 90%;
         }
        }
}
}