// ============  RECENT PROJECTS SECTION

.recent-project-content {
    margin-bottom: 11.5%;

    .recent-img-btn-content {
        position: relative;

        img {
            margin-bottom: 10%;
        }

        a {
            position: absolute;
            top: 56%;
            border: 1px solid #ffffff;
            padding: 35px 64px;
            background-color: #D8D8D8;
            text-decoration: none;
            color: #222222;
            letter-spacing: 7px;
            font-size: 1.4rem;
        } // A
    } // RECENT IMG BTN CONTENT

    .recent-text {
        .genText();
        margin: 5px 25.5% 0 23.4%;
        font-size: 18px;
    }
}