.recent-projects {
  margin-top: 100px;
  h2 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 50px;
  }
  .project {
    p {
      width: 400px;
      margin: 0 auto;
      font-size: 1.6rem;
      line-height: 2.4rem;
      margin-bottom: 40px;
    }
  }
  .annotated-image-right {
    position: relative;
    h3 {
      .projecth3();
      bottom: -40px;
      right: 0px;
    }
    margin-bottom: 100px;
  }
  .annotated-image-left {
    position: relative;
    h3 {
      .projecth3();
      left: 0;
      bottom: -40px;
    }
    margin-bottom: 100px;
  }
}