.recent-projects {
  margin-top: 100px;
  h2 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 35px;
  }
  .project {
    margin: 50px 0;
    p {
      width: 450px;
      margin: 0 auto;
      font-size: 1.8rem;
      line-height: 2.1rem;
      margin-bottom: 20px;
      @media @phone {
        width: 100%;
        text-align: center;
      }
    }
    @media @phone {
      margin: 20px 0;
    }
  }
  .project--img-txt-right {
    margin-top: 50px;
  }
  .project--img-txt-left {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .annotated-image-right {
    position: relative;
    h3 {
      .projecth3();
      bottom: -40px;
      right: -5px;
      @media @phone {
        right: 50%;
        transform: translateX(50%);
      }
    }
    margin-bottom: 80px;
  }
  .annotated-image-left {
    position: relative;
    h3 {
      .projecth3();
      left: 0;
      bottom: -40px;
      @media @phone {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    margin-bottom: 80px;
  }
  @media @phone {
    margin-top: 50px;
  }
}