.recent {
  margin-top: 10rem;

  &__headline {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 6rem;

    @media @mobile {
      font-size: 3rem;
      padding-left: 1.8rem;
    }
  }

  &__project {
    margin: 6rem 0;

    &--img {
      width: 100%;

      @media @mobile {
        display: none;
      }
    }

    &--img--mobile {
      @media @mobile {
        display: block;
        width: 100%;
      }

      @media @desktop {
        display: none;
      }
    }

    &--textBox {
      margin-top: 8.5rem;
    }

    &--text {
      font-size: 1.6rem;
      line-height: 2.4rem;
      padding: 1.5rem 20rem;

      @media @mobile {
        font-size: 2rem;
        line-height: 1.4;
        padding: 1.5rem 2.5rem;
      }
    }

    &--titleBox {
      background-color: @propertyNameBG;
      height: 10rem;
      width: 32rem;
      display: flex;
      justify-content: center;
      align-items: center;
      
      position: relative;
      bottom: 6rem;
      z-index: 100;

      @media @mobile {
        width: 90%;
        height: 13rem;
        bottom: 2rem;
        float: none;
        margin: 0 2.5rem;        
      }

     
      &--title {
        font-size: 2.5rem;
        letter-spacing: 10px;
        text-transform: uppercase;

        @media @mobile {
          font-size: 3rem;
        }
      }
    }
  }
}