.recentContent {
  margin: 0 auto;
  max-width: 85.5rem;

//   padding: 3rem 0rem;

  &__container {
    width: 100%;
    &--img {
      height: 23rem;
      overflow: hidden;
      img {
        width: 100%;
        height: auto;
        position: relative;
        top: -8rem;
      }
    }
    &--imgTextCon {
      height: 27rem;
      h3 {
        font-size: 3rem;
        padding: 3rem;
        position: relative;
        top: -5rem;
        left: 54rem;
        background-color: #d8d8d8;
        width: 31.4rem;
        text-align: center;
      }
    }

    &--text {
      margin: 5rem auto 7rem;
      width: 45rem;
      p{
          padding-bottom: 2rem;
          font-size: 2rem;
          line-height: 2.4rem;
      }
    }
  }
  h2 {
    font-weight: bold;
    font-size: 2.8rem;
    color: #222222;
    margin-bottom: 5rem;
  }
}
.reverse{
    .recentContent__container--imgTextCon{
        h3 {
            left: 0rem;
          }
    }
}

// .recentContent__container{
//     .recentContent__container--imgTextCon:nth-child(even){
//         h3 {
//             left: 0rem;
//           }
//     }
// }