.project-img{
    position: relative;
    z-index: -1;
    @media @mobile{
        width:100%;
        height:200px;
    }
}

.main-content{
    width:100%;
    margin-top:45px;
    padding-right:8%;
    padding-left:8%;
    @media @mobile{
        margin:0;
        margin-top:45px;
    }
    h2{
        color:#222222;
        font-size:2.4rem;
        font-weight:bold;
        margin-bottom:40px;
        @media @mobile{
            font-size:2.4rem;
            margin-bottom:30px;
            margin-left:4.6%;
        }
    }
    .project{
        .project-img{
            width:100%;
        }
        margin-bottom:100px;
        @media @mobile{
            margin-bottom:45px;
        }
        .project-header{
            display:flex;
            width:100%;
            flex-direction: column;
            align-items: flex-end;
            margin-bottom:56px;
            @media @mobile{
                margin-bottom:20px;
            }
            .project-title{
                .projectTitle();
                @media @mobile{
                    margin-right:4.6%;
                }
            }                                     //Find a better way to do this later
        @media @mobile{
            .project-img{
                height:200px;
            }
        }
        }
        .project-header-left{
            display:flex;
            width:100%;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom:40px;
            @media @mobile{
                margin-bottom:30px;
            }
            .project-title{
                .projectTitle();
                @media @mobile{
                    margin-left:4.6%;
                }
            }
        }
        p{
            .center();
            padding-right:24%;
            padding-left:24%;
            font-size:1.8rem;
            margin-bottom:22px;
            @media @mobile{
                padding:0 4% 0 4%;
                //font-size:2.8rem;
                //line-height:30px;
                margin-bottom:25px;
                font-weight:bold;
            }
        }
    }
}
