/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:’’;
  content:none;
}
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}





// .home {
//       @media (max-width: 320px) {
//         padding: 0 10px;
//       }
      
//       .content {
//         margin: 29px 0;
//         padding: 20px 0;
//         display: flex;
  
//         @media (max-width: 320px) {
//           flex-direction: column;
  
//           img {
//             order: -1;
  
//           }
//         }
  
//         .text-content {
//           display: flex;
//           flex-direction: column;
//           justify-content: center;
//           align-items: flex-start;
//           padding-right: 20px;

//           h3 {
//             margin-top: 10px;
//             margin-bottom: 0px;
//           }
  
//           p {
//             // margin-top: 25px;
//             // margin-bottom: 25px;
//             margin-top: 0px;
//             padding-top: 23px;
//             margin-bottom: 25px;
//           }
  
//           img {
//             margin-top: 50px;
//           }
  
//           @media (max-width: 320px) {
//             padding-right: 0px;
//           }
//         }
  
//         &:last-child {

//           margin: 59px 0;

//           .text-content {
//             order: 1;
//             padding-right: 0;

//             h3 {
//               margin-top: 0px;
//               margin-bottom: 0px;
//             }

//             p {
//               margin-top: 0px;
//               padding-top: 21px;
//               margin-bottom: 30px;
//             }

//             button {
//               padding: 13px 19px;
//             }
//           }
  
//           img {
//             padding-right: 30px;

//             @media (max-width: 320px) {
//               padding-right: 0px;
//             }
//           }
//         }

//         @media (max-width: 320px) {
//           button {
//             width: 100%;
//             max-width: 100%;
//           }
//       }
//       }
//   }