* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #fff;
  color: #222;
  font-family: "Roboto", "Arial", sans-serif;
}
