@import (once) "variables.less";

.desktop {
    display: none;
}
.mobile {
    display: block;
}

@media (min-width: @desktop-width) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}