@import (once) "variables.less";

.row-reverse {
    flex-direction: row-reverse;
}

.column-reverse {
    flex-direction: column-reverse;
}

@media (min-width: @desktop-width) {
    .desktop-row-reverse {
        flex-direction: row-reverse;
    }
}
