.secondsection {
    width: 70%;
    margin: auto;
    h1 {
	font-size: 20px;
	font-family: roboto;
	font-weight: 100;
	letter-spacing: 3px;
    }
    .sec2 {
	/* border: 1px solid red; */
	img {
	    position: relative;
	    margin-top: 45px;
	}
	.box {
	    position: relative;
	    left: 100px;
	    z-index: 1000;
	    font-family: roboto;
	    /* font-weight: bold; */
	    background: grey;
	    height: 75px;
	    width: 30%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    left: 70%;
	    top: -50px;
	    /* border: 1px solid white; */
	}
	
	.box2 {
	    position: relative;
	    left: 100px;
	    z-index: 1000;
	    font-family: roboto;
	    /* font-weight: bold; */
	    background: grey;
	    height: 75px;
	    width: 30%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    left: 0%;
	    top: -50px;
	    /* border: 1px solid white; */
	}
	
	p {
	    width: 70%;
	    margin: auto;
	}

	.pic2 {
	    width: 100%;
	    margin: auto;
	    height: auto;
	    img {
		width:100%;
	    }
	}
    }
}
