.secondsection {
    width: 90%;
    margin: auto;
    h1 {
	font-size: 20px;
	font-family: roboto;
	font-weight: bold;
    }
    .sec2 {
	/* border: 1px solid red; */
	img {
	    position: relative;
	    margin-top: 45px;
	}
	.box {
	    position: relative;
	    left: 100px;
	    z-index: 1000;
	    font-family: roboto;
	    /* font-weight: bold; */
	    background: grey;
	    height: 75px;
	    width: 25%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    left: 76%;
	    top: -50px;
	    border: 1px solid white;
	}
	p {
	    width: 50%;
	    margin: auto;
	}
    }
}
