.future-designs {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    .column-second {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        padding: 30px;

        h1 {
            font-size: 2.4rem;
            font-weight: bold;
            align-self: flex-start;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.6rem;
        }
    }
}


// mobile 

@media (max-width: 500px) {
    .future-designs {
        display: flex;
        flex-flow: column wrap;

        .column-second {
            padding: 10px;

            h1 {
                font-size: 2.4rem;
                width: 100%;
               
            }

            p {
                font-size: 2rem;
            }

        }

    }
}