.secondsection {
    @media @mobile {
	width: 100%;
	height: auto;
    }
    width: 70%;
    margin: auto;
    h1 {
	font-size: 20px;
	font-family: roboto;
	font-weight: 100;
	letter-spacing: 3px;
	color: #272727;
	@media @mobile {
	    margin-left: 5%;
	}
    }
    p {
	/* @media @mobile { */
	/*     margin: 0; */
	/* } */
	font-size: 14px;
	line-height: 20px;
	max-width: 700px;
    }
    .sec2 {
	/* border: 1px solid red; */
	img {
	    position: relative;
	    margin-top: 45px;
	}
	.box {
	    @media @mobile {
		width: 60%;
		left: 0;
		margin: auto;
	    }
	    position: relative;
	    left: 100px;
	    z-index: 1000;
	    font-family: roboto;
	    /* font-weight: bold; */
	    background: #D3D3D3;
	    height: 75px;
	    width: 30%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    left: 70%;
	    top: -50px;
	    /* border: 1px solid white; */
	}

	.box2 {
	    @media @mobile {
		width: 60%;
		left: 0;
		margin: auto;
	    }
	    position: relative;
	    left: 100px;
	    z-index: 1000;
	    font-family: roboto;
	    /* font-weight: bold; */
	    background: #D3D3D3;
	    height: 75px;
	    width: 30%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    left: 0%;
	    top: -50px;
	    /* border: 1px solid white; */
	}
	
	p {
	    @media @mobile {
		width: 90%;
	    }
	    width: 70%;
	    margin: auto;
	    font-size: 16px;
	    line-height: 24px;
	}

	.pic2 {
	    width: 100%;
	    margin: auto;
	    height: auto;
	    img {
		width:100%;
	    }
	}
    }
}

#recent {
    font-weight: bold;
    letter-spacing: 0px;
}
