section {
    margin: 4rem 0;
    @media @phone {
        margin: 2rem 0;
    }
    h2 {
        .sub-header-text;
        padding-bottom: 4rem;
        @media @phone {
            padding: 2rem 0 2rem 0;
        }
    }
    .flex-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 0;
        @media @phone {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
        .flip-order-mobile {
            @media @phone {
                order: 3;
            }
        }
        .text-content-about {
            width: 50%;
            @media @phone {
                width: auto;
            }
            p {
                padding-top: 1rem;
            }
            .btn {
                .button-maker(144px, 48px, @white, 1px solid @mine-shaft);
                font-size: 1.6rem;
                margin-top: 2rem;
                @media @phone {
                    .button-maker(100%, 48px, @white, 1px solid @mine-shaft);
                }
                &:hover {
                    color: @white;
                    background: @mine-shaft;
                }
            }
        }
        h2 {
            .sub-header-text;
            padding-bottom: 1rem;
            @media @phone {
                padding-top: 2.5rem;
            }
        }
    }
    .text-content-projects {
        position: relative;
        .project-img {
            width: 100%;
        }
        .box {
            position: absolute;
            background: @project-title-bg;
            width: 313px;
            height: 94px;
            margin-top: -60px;
            border: 1px solid @white;
            font-size: 2.4rem;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: .8rem;
            .animated;
            @media @phone {
                position: relative;
                margin: -30px auto 0 auto
            }
            // &:nth-of-type(1n - 1) {
            //     background: green;
            // }
        }
        .right {
            right: 0;
            @media @phone {
                right: auto;
            }
        }
        div {
            .center;
            p {
                padding: 8rem 0 4rem 0;
                max-width: 44rem;
                @media @phone {
                    padding-top: 3rem;
                }
            }
        }
    }
}