.section{
    &__flex{
        padding: 6rem 0;
        display: flex;
        @media (max-width: 400px){
            flex-direction: column;
            padding: 4rem 0;
            align-items: initial;
            
        }
        &--spaceBetween{
            justify-content: space-between;
        }
    }
    &__fluid{
        margin: auto;
        position: relative;
        padding: 4rem 0;
        @media (max-width: 400px) {
            padding: 3.3rem 0;
        }
    }
}