.jumbo-img{
    position: relative;
    z-index: -1;
  }

  .section-1 h1 {
    position: absolute;
    top:50%;
    left: 5%;
    font-weight: Bold;
    font-size: 64px;
    line-height: 75px;
    Color: #FFFFFF;
  }


  // img-swap section
  .display-pic-section-1-mobile{
    display: none;
  }