section {
    margin: 4rem 0;
    h2 {
        .sub-header-text;
        padding-bottom:4rem;
    }

    .flex-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 0;

        

        .text-content-about {
            width:50%;
            p {
                padding-top: 1rem;
              }
            .btn {
                .button-maker(144px, 48px, @white, 1px solid #222);
                color: #222;
                font-size: 1.6rem;
            }
        }

        h2 {
            .sub-header-text;
            padding-bottom: 1rem;
        }

        }
        .text-content-projects {
            position: relative;
           .project-img {
               width: 100%;
           }
            .box {
                position: absolute;
                background:#D8D8D8;
                width: 313px;
                height: 94px;
                margin-top: -60px;;
                border: 1px solid white;
                font-size: 2.4rem;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: .8rem;
            }
            .right {
                right:0;
            }
                
            div {
                .center;
                p {
                    padding: 8rem 0 4rem 0;
                    max-width: 44rem;
                }
            }
            
        }
    }