.section-2 h1 {
    font-weight: Bold;
    font-size: 28px;
    color: #222222;
    padding: 10px;
}

.section-2 p {
    font-size: 16px;
    color: #222222;
    line-height: 24px;
    padding: 10px;
}

.button-section-1{
    border:1px solid black;
    height: 50px;
    width: 150px;
    text-align: center;
    padding-top: 15px; 
    margin-left: 10px;
}

// img-swap section
.display-pic-section-2-mobile{
    display: none;
}
