// ================= SECTION CONTENT


.section-content {
    // margin-top: 5.5%;
    margin-bottom: 11.5%;
    .center();
    .genText();

    @media @mobile {
        .center(flex, center, center);
        flex-direction: column;
    }

    .desktp-img {
        display: block;

        @media @mobile {
            display: none;
        }

        @media @tablet {
            width: 100%;
            margin-bottom: 50px;
        }
    }

    .mobile-img {
        display: none;

        @media @mobile {
            display: block;
            margin-bottom: 9%;
        }
    }

    .image-order2 {
        
        @media @mobile {
            order: -1;
        }
    }

    .image-order {

        @media @mobile {
            margin-top: 8%;
            margin-bottom: 5%;
        }
    }

    .text-container {
        width: 48.5%;

        @media @mobile {
            width: 100%;
        }

        @media @tablet {
            width: 60%;
            margin: 0 20px;
        }

        .futr-dsgn {
            margin: -13px 0 0 0;
        } // FUTR DSGN

        .txt-content {

            h3 {
                .sectionFont();
                font-size: 24px;
            } // H3
    
            p {
                margin: 20px 0 40px 0;
            } // P
    
            a {
                padding: 13px 26px;
                text-decoration: none;
                border: 1px solid #222222;
                color: #222222;
                font-weight: bold;

                @media @mobile {
                    padding: 13px 101px;
                }

                @media @tablet {
                    padding: 13px 100px;
                }

            } // A

    
            .viewDesign-btn {
                padding: 13px 18px;

                @media @mobile {
                    padding: 13px 94px;
                }

                @media @tablet {
                    padding: 13px 95px;
                }
            } // VIEWDESIGN BTN
        } // TXT-CONTENT  
    } // TEXT CONTAINER
} // SECTION CONTENT