.section-calltoAction{
    .section-width;
    .display-flex-column;
   
    &--content{
        display: flex;
        margin: 25px;
       
        article{
            width: 50%;
            padding:10px 2%;
            height: 350px;
            .display-flex-column;
          

            .content--title{
                font-size:2.8rem;
                font-weight: 600; 
                color: @color-DarkGrey;
                margin: 30px 0;
            }
            .content--text{
                font-size:1.6rem;
               line-height: 1.5;
                color: @color-DarkGrey;
                margin-bottom: 25px;
            }

            .content--link{
                width: 40%;
                display: inline-block;
                text-decoration: none;
                padding: 10px 20px;
                font-size: 1.6rem;
                color: @color-DarkGrey;
                border: 1px solid ;
            }
         
            
        }
        .contentImage1{
            .home-image(url(../img/home/home-img-1.png));   
        }
        .contentImage2{
            .home-image(url(../img/home/home-img-2.png)); 
        }
        
    }
   
}