.section-3 h1 {
    font-weight: Bold;
    font-size: 28px;
    color: #222222;
    padding: 10px;
}

.section-3 p {
    font-size: 16px;
    color: #222222;
    line-height: 24px;
    padding: 10px;
}

section-3-img {
    position: relative;
    z-index: -1;
    margin-top: 50px;
}

.section-3-title-overlay {
    border:.5px solid white;
    height: 125px;
    width: 400px;
    text-align: center;
    padding-top: 35px; 
    background-color: #D8D8D8;
    position: absolute;
    bottom: -20%;


}

.section-3-title-overlay .overlay-p {
    letter-spacing: 3px;
    font-size: 28px;
    color: #222222;
}

.button-flex {
    display: flex; 
    flex-direction: row-reverse;
}


.text-margin{
    margin: auto;
    margin-left: 25%;
    margin-right: 25%;
}

.img-margin{
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.text-left{
    margin-top: 25px;

}

// img-swap section
.display-pic-section-3-mobile{
    display: none;
}
