.jumbotron{
    width: 100%;
    margin: 0;
    height: 90vh;
    padding: 30px 8%;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url(../img/home/home-jumbotron.png);
    .bacground-image;
    .flex-start-end;
    
    &--title{
        color:@color-white ;
        font-size: 6.4rem;
        
    }

    
}