.services-container {
    max-width: 880px;
    margin: 0 auto;
  }
  
  .services-container .services-main-content {
    padding: 0 40px;
  }

  // mobile
  @media (max-width:500px) {
    .services-container {
        margin: 0 auto;
      }
      
      .services-container .services-main-content {
        padding: 0 10px;
      }
  }