.section {
  .flexit;
}

.tabs {
  max-width: 880px;
  width: 100%;

  .tabs-items {
    width: 100%;
    height: auto;
    .flexit;
    padding-top: 60px;
  }
  .tabs-item {
    display: none;

    .tabs-item-title {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 10px;
    }

    .tabs-item-content {
      height: 600px;

      @media @small {
        height: 350px;
        justify-content: space-evenly;
      }

      img {
        width: 100%;
      }
    }
  }

  .tabs-item-selected {
    display: inline-block;
    max-width: 880px;
  }

  .tabs-links {
    height: 300px;
    .flexit;
    flex-direction: column;
    justify-content: space-between;
    // width:

    @media @medium {
      flex-flow: row nowrap;
      height: auto;
    }
  }

  .tabs-link {
    padding: 10px 20px;
    font-size: 24px;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    text-align: center;

    &:hover {
      background-color: #222222;
      color: #FFFFFF;
    }
  }
  .tabs-link-selected {
    z-index: 2;
    border: 1px solid black;
    background-color: #5E9FB9;
    color: #FFFFFF;
    &:hover {
      background-color: #FFFFFF;
    }
  }
}
