//services-hompage styles

.services-content-container {
  // border: 2px solid red;
  width: 85%;
  margin-top: 53px;
  margin-left: 83px;
  margin-bottom: 94px;

  .tabs {
    // .border-bottom-grey();
    .flex(center, center);
    .width-100();
    height: 121px;
    margin-top: 17px;
    // background-color: blue;
    // @media(min-width: 1280px){
    //   width: 1280px;
    // }
    .topics {
      .flex(space-between, center);
      width: 852px;
      .title {
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: bold;
      }
      .tab {
        .flex(center, center, center);
        color: #222222;
        background-color: #FFFFFF;
        border: 1px solid #222222;
        // margin: 0 5px;
        padding: 2px 10px;
        font-size: 17px;
        letter-spacing: 2px;
        cursor: pointer;
        font-weight: bold;
        width: 188px;
        height: 50px;
        &:hover {
          text-decoration: none;
          color: #FFFFFF;
          background-color: lightblue;
        }
      }
      // .active-tab {
      //   background-color: purple;
      //   color: pink;
      //   border: 2px solid pink;
      // }
    }
  }

  // .cards-container {
  //   .flex(space-evenly);
  //   .width-100();
  //   margin-top: 16px;
  //   flex-wrap: wrap;
    // @media(min-width: 1200px){
    //   width: 1200px;
    // }

    .card {
      // .border-green();
      .flex(space-between, none, none);
      background-color: #FFFFFF ;
      width: 852px;
      height: 325px;
      margin-top: 11px;
      // margin: 0px;
      // padding: 24px;
      .card-body {
        width: 42%;
        // font-size: 25px;
        // font-family: Didot, serif;
      }
      
        .img-container {
          .flex(none, center);
          width: 396px;
          height: 279px;
          margin-top: 44px;
          padding-right: 0px;
      
          img {
            width: 100%;
          }
        
        
      }
    }
  //}
}