.services-buttons{
width: 720px;
display: flex;
justify-content: space-evenly;
//border: 1px solid red;
margin:0 auto;
}

.services-buttons button{
margin: 28px 20px;
margin-bottom: 40px;
font-size: 14px;
font-weight: bold;
background-color: #FFFFFF;
color:#222222;
width: 140px;
height:40px;
border: 1px solid black;

}
.services-buttons button:hover{
    background-color: #5E9FB9;
    color:#FFFFFF;
}