
.Services {
    position: absolute;
    z-index: 2;
    bottom: 15px;
    left: 8%;

    @media @phone {
        bottom: 25px;
        left: 5%;
    }
}

.Top-Text {
    width: 100%;
    margin: 40px auto;
}

.Tab-Buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 40px;
}

.Tab-Button {
    width: 22%;
    height: 50px;
    border: 2px solid grey;
    .font-size(18);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: @fontColor;

    // .Tab-Button:hover {
    //     background-color: @tab-background-hover;
    // }
}