.header {
    .jumbo-tron-services {
        // go back in directory once to get img address
        background: url("../img/services/services-jumbotron.png");
        // width: 100%;
        .projects-bg-img(); 

        .moto {
            margin: 0 0 6rem 8rem;
    
            h1 {
                .moto-styling();
            }
        }
    }
    // width: 100%;
    //overwriting height from .projects-bg-img() mixin
    // height: 60rem;
}

.container {
        h1 {
            .moto-styling();
            margin: 0 0 3rem 6rem; //TRBL
            // margin-left: 6rem;
        }

    .service-paragraph {
        p {
           margin: 6rem;
        }
    }

    .service {
        display: flex;
        flex-direction: column;

        button {
            margin: 0 6rem 6rem 6rem; //TRBL
            border: 1px solid black;
            h2 {
                font-size: 2.5rem;
                padding: 0;
            }
            padding: 1.5rem;

            &:hover {
                background-color: lightblue;
                color: @white;
                cursor: pointer;
            }
        }
 
        .service-items {
            width: 100%;;
            display: flex;
            justify-content: center;
        }

        .service-item {
            display: none;
            width: 100%;
        }

        .service-item-selected {
            display: block;
            margin-left: 6rem;
            margin-right: 6rem;
            margin-bottom: 6rem;

            .content {
                display: flex;
                justify-content: space-between;

                .content-paragraphs{
                    margin-right: 6rem;
                    margin-bottom: 2rem;
                    text-align: justify;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                }
                // img{
                //     // width: 70%;
                // }
            }
        }

        .services-link {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .service-link-selected {
                background-color: rgb(82, 138, 156);
                color: @white;  
        }
    }

} // container