
.tabs-item {
    display: none; 

    .tabs-item-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    }
}
.tabs-item-selected {
    display: block;
}

.tabs-links {
    background-color: @backgroundOffWhiteText;
}

.tabs-link {
    padding: 20px 25px;
    font-size: 24px;
    background-color: @backgroundOffWhiteText;
    border-right: 1px solid @generalAndBorders;
    color: @generalAndBorders;
    cursor: pointer;
    &:hover {
    background-color: @tabHoverColor;
    }
}
.tabs-link-selected {
    z-index: 2;
    border-right: 1px solid @generalAndBorders;
    background-color: @navBackground;
    color: @backgroundOffWhiteText;
    &:hover {
    background-color: @tabHoverColor;
    }
}
