.services-container .services-menu-content {
    display: flex;
    justify-content: space-between;
    background: lightgray;
    padding: 20px;
    h2{
        color: white;
        font-size: 1.9rem;
        margin-left: 50px;
        font-weight: bold;
    }
    nav {
        margin-right: 50px;
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

// mobile
@media (max-width:500px) {
    .services-container .services-menu-content {
        display:flex;
        width:100%;
        // background: red;

        h2 {
            margin: 0;
        }

        nav {
            margin:0;
            a{
            
            }
        }
    }
}