
.tabs-item {
    display: none; 

    .tabs-item-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    }
}
.tabs-item-selected {
    display: flex;
}

.tabs-links {
    background-color: @backgroundOffWhiteText;
}

.tabs-link {
    padding: 20px 25px;
    font-size: 24px;
    background-color: @backgroundOffWhiteText;
    border-right: 1px solid @generalAndBorders;
    color: @generalAndBorders;
    cursor: pointer;
    &:hover {
    background-color: @tabHoverColor;
    }
}
.tabs-link-selected {
    z-index: 2;
    border-right: 1px solid @generalAndBorders;
    background-color: @navBackground;
    color: @backgroundOffWhiteText;
    &:hover {
    background-color: @tabHoverColor;
    }
}

.nav-img {
    max-width: 100%;
    margin-bottom: 50px;
    margin-top: 60px; 
}

.tabs-item-description {
    padding-top: 25px;
}
.jumbo-mobile-2, .nav-mobile-img {
    display: none; 
}