


.tab-links {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
  background-color: #FFF;
  
  .tab-link {

  width: 23%;
  text-align: center;
  padding: 2% 0;
  border: 1px solid @tabBtnBorder;
  cursor: pointer;

    &:hover {
      color: @tabHover;
      background: #222222;
    }

  }

  h2 {
    font-size: 2.0rem;
  }

}



.tab-item {
  margin: 7% 0 ;
  display: none;
  
  h2 {
    margin-bottom: 1%;
  }

  .tab-text-image-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    p {
      width: 50%;
      line-height: 3.3rem;
    }

    img {
      width: 45%;
      max-height: 350px;
      object-fit: fill;
    }
    
  }
  

}


.tab-link-selected {
  background-color: @tabSelected; 
  color: #FFF;
  border: none;
}

.tab-item-selected {
  display: block;
}

.services-mobile-jumbotron {
  display: none;
}

@media @mobile {

  .jumbotron.services {
    margin-top: 7%;


    .services-desktop-jumbotron {
      display: none;
    }

    .services-mobile-jumbotron {
      display: block;
    }


  }

  .container.services {
    width: 90%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    p {
      line-height: 3.8rem;
    }

    .tab-links {
      display: flex;
      flex-direction: column;
      
      .tab-link {
        width: 100%;
        padding: 5% 0;
        margin: 4% auto;
      }
    }

    
      .tab-text-image-content {
        display: flex;
        flex-direction: column;

        p {
          width: 100%;
          line-height: 3.3rem;
          margin-bottom: 7%;
        }

        img {
          width: 100%;
          max-height: 350px;
          object-fit: fill;
          margin-bottom: 15%;
        }

      }
    

  }
}