.services-text, .tab-navigator, {
    width: 85.4%;
    max-width: 820px;
    margin: 0 auto;
}

.services-text {
    margin: 25px auto;
}

.tab-navigator {
    margin-bottom: 80px;
} //.tab-navigator

.tab-navigator .navigator-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;

    .button-link {
        width:  21.3%;
        border: 1px solid @font-color; //black
        height: 45px;
        .flex-centered();
        background: #FFFFFF;
        font-size: 1.8rem;
        font-weight: bold;
        cursor: pointer;
        transition: .2s ease;

        &:hover {
            background: @font-color;
            color: #FFFFFF;
        }


    } //.button-link


} //.navigator-links

.tab-navigator .navigator-card{
    display: none;

    .card-text {
        display: flex;
        flex-direction: column;
        width: 48%;

        p:nth-of-type(1){
            margin: 20px 0 25px;
        }
    }//.card-text

    .card-img {
        width: 48%;

        img{
            padding-top: 50px;

        }
    } //.card-img

}//.navigator-card

//display card
.tab-navigator .show-card {
    display: flex;
    justify-content: space-between;
}

.tab-navigator .navigator-links .clicked-link {
    border: 1px solid #222222;//black
    background: #5E9FB9;
    color: #FFFFFF;

}
// ### Services Page
// - Tab selected background: #5E9FB9
// - Tab Hover background: #222222
// - Tab Hover color: #FFF;