.container{

.menu-header-services {
    width: 100%;
    max-width: 800px;
    height: 30px;
    background-color: @footer-bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    
    z-index: 2;
    line-height: 24px;
    h3{
        color: @logo-color;
        padding-left: 50px;
        @media @mobile{
            padding-left:10px;

        }
    }
    @media @mobile{
        height: 60px;
       
 
    }
  }
  .cta-services{
    max-width: 800px;
    width: 100%;
    height: 250px;  
    background-image: url(../img/services/services-jumbotron.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    padding-left: 50px;
    padding-bottom: 30px;
    color: @logo-color;
    font-weight: 700;
  
   
    @media @mobile{
        background-image: url(../img/services/services-mobile-jumbotron.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-size: cover;
    }
}
.cta .cta-text {
    padding: 30px;
    color: @logo-color;
    align-items: flex-start;
    padding-left: 8.45rem;
    h1{

    }
}
.menu-button{
    position: absolute;
    align-items: center;
    cursor: pointer;
    top: 5px;
    right:20px;
    padding-right: 50px;
    @media @mobile{
        top: 20px;
        padding-right:10px;
    }
    
    

}
.services-about p{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

}
}