.service {
  #active {
    display: inherit;
  }

  
  .tabs-area {
    .tabs {
      .center;
      justify-content: space-between;
      margin-bottom: 50px;

      .btn {
        .button(@font-color, @font-color, @bg-color);
        width: 20%;
        padding: 10px 0;

        &:hover {
          .button(@tab-hover-color, @tab-hover-color, @tab-hover)
        }
      }

      .active {
        .button(@tab-hover-color, @font-color, @tab-select-bg);
      }

    }

    .tab {
      display: none;
      padding-bottom: 100px;

      h2 {
        padding-bottom: 15px; 
      }

      .flex {
        .center;
        align-items: flex-start;
      }

      .tab-content {
        padding-right: 5%;

        p {
          padding-bottom: 20px;
        }
        

      }

      img {
        height: 90%;
      }
    }
  } //tabs area end
} //Service end