.services-main-content .bot-content {
    .bot-sec {
        h1 {
            font-size: 2.4rem;
            font-weight: bold;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.6rem;
            margin-bottom: 20px;
        }
    }
}