// Service 

.service-content{
  width : 90%;
  margin : 0 auto;

  .tabLink{
    .layout();
    margin-bottom : 50px;

    .tab{
      width : 20%;
      padding : 10px;
      .border(1px, black);
      text-align: center;
      font-size: 1.6rem;
      font-weight: bold;
      cursor : pointer;
    }

    .activeTab{
      color : @background;
      background : #006699;
    }
  }
}

.cards-container{

  margin : 0 auto;
  margin-bottom : 100px;

  .card{

    .layout();
    z-index : 0;
    width : 90%;
    margin : 0 auto;


    .card-text{
      width : 45%;

      h2{
      margin-bottom : 20px;
      }
    }
    img{
      width : 45%;
    }
  }
  .disappear{
    display : none;
    left : -100%;
    z-index : -1;
  }

  .doubleWidth{
    width : 180%;   // double the width of .card
  }
  
}


