.servicespage-content {
	width: 900px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid red;


	display: flex;
	flex-direction: column;
	

	.servHeader {
		top: 50px;

		background-color: teal;

		.servicesHeaderImg {
			width: 100%;
			
		}
		h1 {
			font-size: @h1-font-size;
			color: @h-color;
		}
	}
	.servFirstTextBlock {
		border: 1px solid blue;
		p {
			color: @font-color;
		}

	}
}