.servicesHeader {
  background-image: url("https://raw.githubusercontent.com/GannonDetroit/User-Interface-Project-Week/master/img/services/services-jumbotron.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  padding: 16% 0% 8% 9%;

  h1 {
    font-size: 4rem;
    color: white;
    font-weight: bold;
  }
}

.serviceParagraph {
  line-height: 1.3;
  margin-bottom: 4%;
}

//Tabs
.tabsContainer {
  //tabs
  width: 100%;

  .tabButtons {
    //tabs-links
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1%;
    justify-content: space-between;

    .tabButton {
      //tab-link
      border: solid black 1px;
      padding: 1% 2%;
      margin-bottom: 3%;
      font-weight: bold;
      cursor: pointer;

      &hover {
        background-color: #5e9fb9;
        color: white;
      }
    }

    .tabButtonSelected {
      border: solid black 1px;
      padding: 1% 2%;
      margin-bottom: 3%;
      font-weight: bold;
      background-color: #5e9fb9;
    }
  }

  .tabContents {
    //tabs-items

    .tabContent {
      display: none;
      align-items: flex-end;
      margin-bottom: 10%;

      .tabRightText {
        display: flex;
        flex-direction: column;
        padding: 3% 3% 0% 3%;

        .tabTitle {
          font-weight: bold;
          margin: 2% 0%;
          font-size: 2rem;
        }

        p {
          line-height: 1.3;
          width: 100%;
        }

        .tabIMG {
          width: 45%;
        }
      }
    }

    .tabContentSelected {
      display: flex;
    }
  }
}
