.jumbotron {
    .full-width-center();
    
    .jumbo-image {
        width: 100%;
        height: 20rem;
    }

    .jumbo-items {
        position: relative;
        bottom: 7.2rem;
        left: 8.5rem;
        font-weight: @bold;
        font-size: @font-biggest;
        color: @white;
    }
}