.services-container {
  .main-p {
    margin: 5.5rem 0;
    font-size: 1.8rem;
  }

  .services-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.5rem;

    .services-button {
      border: 1px solid black;
      color: black;
      font-size: @services-button-fs;
      text-transform: capitalize;
      padding: 1.2rem 3rem;
      font-weight: bold;
    }

    .services-button-selected {
      background-color: @services-btn-bg;
      color: white;
    }
  }
}

.services-button-output {
  display: flex;

  .services-text-output {
    margin-right: 5rem;
    width: 50%;

    h2 {
      font-weight: bold;
    }

    p {
      margin: 5rem 0;
    }
  }
}
