// ===================== SERVICES PAGE

//============== Service Jumbotron
.serviceHeader-content {
    position: relative;
    // width: 100%;

    .desktop-img {
        width: 100vw;
        min-width: 1024px;

        @media @mobile {
            display: none;
        }
    }

    .mobile-img {
        display: none;

        @media @mobile {
            display: block;
        }
    }
    

    h2 {
        position: absolute;
        top: 63%;
        left: 8%;

        .jumboHeader();
        // text-decoration: none;
    }
}


//=============== Service Subheader

.serviceSubheader-content {
    .genText();

    p {
        margin: 6% 0 5% 0;

        @media @mobile {
            max-width: 320px;
        }
    }
}