.servicesHeader {
  .servicesImage {
    max-width: 100%;
    height: 25vh;
    background-image: url("../img/services/services-jumbotron.png");
    background-repeat: no-repeat;
    background-size: cover;
    @media @phone {
     height: 35vh;     
    }
  }
  
  .servicesTitle {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 5%;
    h1 {
      position: absolute;
      top: 140px;
      color: white;
      @media @phone {
        top: 240px;
      }
    }
  }
}

.services {
  p {
    margin: 50px 0;
    @media @phone {
     line-height: 4rem;    
     margin: 30px 0 15px;
    }
  }

  .tabs {
    width: 100%;
    .tabItems {
      margin-bottom: 60px;
    }
    .tabItem {
      display: none;

      width: 100%;
      h2 {
        margin: 10px 0 20px;
        @media @phone {
          margin: 30px 0 0;
        }
      }
      .tabContent {
        .flex(no-wrap, row, space-between, center);
        @media @phone {
          .flex(wrap, row, space-between, flex-start);
          width: 100%;
                }
        

        .tabText {
          .flex(wrap, column, space-between, flex-start);
          width: 44%;
          height: 275px;
          @media @phone {
          .flex(no-wrap, row, center, center);
          width: 100%;
          }

          p {
            margin: 0;
            @media @phone {
          margin-top: 20px;
            }
          }
        }

        .tabImage {
          width: 45.3%;
          height: 275px;
          @media @phone {
            width: 100%;
          margin: 190px 0 0;

          img {
            @media @phone {
              width: 100%;
            }
          }
          }
        }
      }
    }
    .hidden {
      display: none;

    }
    .tabItemSelected {
      display: block;
    }

    .tabLinks {
      .flex(wrap, row, space-between, center);
      @media @phone {
          .flex(no-wrap, column, center, center);
      }
    }

    .tabLink {
      //=========================================//
      margin-top: 0;
      background: white;
      padding: 10px 5%;
      border: 1px solid #222222;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background: #5e9fb9;
        color: #fff;
        transition: 0.7s all;
      }
      @media @phone {
       width: 100%;
       padding: 10px 2%;
       font-size: 2rem;
       text-align: center;
       margin: 20px 0;
      }
      
    }
    .tabLinkSelected {
      z-index: 1; //=========================================//
      background: #5e9fb9;
      color: #fff;
      &:hover {
        background: #5e9fb9;
        color: #fff;
      }
    }
  }
}
