.jumbotron {
    @media @mobile {
        width: 100%;
    }

    .full-width-center();
    
    .show-mobile {
        display: none;
      }

    .jumbo-image {
        @media @mobile {
            .hide-mobile{
                display: none;
              }
              .show-mobile {
                display: block;
                width: 95%;
              }
        }
        width: 100%;
        height: 20rem;
    }

    .jumbo-items {
        @media @mobile {
            width: 100%;
            padding: 0;
            margin: 0;
    
            h1 {
                font-size: @font-huge;
                position: relative;
                bottom: 0;
                left: -7rem;
        }
    }
        position: relative;
        bottom: 7.2rem;
        left: 8.5rem;
        font-weight: @bold;
        font-size: @font-biggest;
        color: @white;
    }
}