.services-banner {
  background-image: url('/img/services/services-jumbotron.png');
  height: 250px;
  padding-top: 160px;
  padding-left: 90px;
  font-size: 6.4rem;
  font-weight: bold;
  line-height: 7.5rem;
  color: @jumbotron--text-color;
  margin-bottom: 50px;
}

.services--top-info {
  margin-top: 10px;
  font-size: @general-text--font-size;
  line-height: @general-text--line-height;
}