
.tabs {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
  
  .services-tab {

  width: 23%;
  text-align: center;
  padding: 2% 0;
  border: 1px solid @tabBtnBorder;
  cursor: pointer;

    &:hover {
      color: @tabHover;
      background: #222222;
    }

  }

  h2 {
    font-size: 2.0rem;
  }

}



.tab-content {
  margin: 7% 0 ;
  

  .tab-text-image-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    p {
      width: 50%;
      line-height: 3.3rem;
    }

    img {
      width: 45%;
      max-height: 350px;
      object-fit: fill;
    }
    
  }
  

}