// Services Styles




    
.services-jumbo-container {
    max-width: 1024px;
    width:100%;
    margin: auto;
    position:relative;
  
      .jumbo-font {
        font-size: 64px;
        font-weight: 700;
        line-height:75px;
        color:#FFFFFF;
        position:absolute;
        // border: 1px solid red;
        display:flex;
        flex-wrap: wrap;
        padding-right:500px;
        padding-top:155px;
        padding-left:80px;
      }

      .logo-font {
        font-size:20px;
        color:#FFFFFF;
        position: absolute;
        border: 1px solid green;
        font-weight:700;
        font-size:24px;
        padding-left:85px;
        padding-top: 23px;
    }

    .nav-hamburger {
        position: absolute;
        border: 1px solid yellow;
        padding-left:903px;
        padding-top:21px;
      }
  }

  
.services-container {
    max-width: 880px;
    width:100%;
    margin: auto;
    border:1px solid orange;
    margin-bottom:100px;
    

    .top-content {
        display:flex;
        flex-direction:column;
        margin-bottom: 50px;

        .text-content {
            margin-top:45px;
            margin-bottom:45px;
            margin-left:25px;
        }

        .button-tabs {          

            .button-tabs-links {
                display:flex;
                justify-content:space-between;
                border: 1px solid green;
                padding-left:22px;

                .button-tabs-link {
                    font-size:20px;
                    font-weight:700;
                    border: 1px solid black;
                    width:21%;
                    text-align: center;
                    padding-top:10px;
                    padding-bottom:10px;
                    background-color: lightgray;
                    border:2px solid blue;
                    &:hover {
                        background-color: white;
                      }
                }

                .button-tabs-link-selected {
                    z-index:2;
                    font-size: 20px;
                    font-weight:700;
                    border: 1px solid black;
                    width:21%;
                    text-align: center;
                    padding-top:10px;
                    padding-bottom:10px;
                    &:hover {
                        background-color: red;
                      }
                }
            }
            .button-tabs-items {
                max-width: 880px;
                width:100%;
                margin: auto;
                display:flex;
                flex-direction: row;
                
        
                .button-tabs-item {
                    border:1px solid blue;
                    margin-left: 15px;
                    margin-top: 12px;
                    line-height: 28px;
                    font-size:16px;
                    display:none;
                }
        
                .button-tabs-item-selected {
                    border:1px solid blue;
                    margin-left: 15px;
                    margin-top: 12px;
                    line-height: 28px;
                    font-size:16px;
                    display:block;
                }
        
                img {
                    margin-top: 12px;
                    border:1px solid green;
                }
            }
        }
    }

    .bottom-content-heading-container {
        display:flex;

        .bottom-content-heading {
            border:2px solid red;
            margin-left:15px;

                h1 {
                    font-size:24px;
                }
            

        }
    }
    
  }

