.tab-navigator {
  margin-top: 50px;
  margin-bottom: 75px;
  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .tab {
      font-size: 2rem;
      border: 1px solid @homepage-button-border;
      padding: 15px;
      max-width: 185px;
      width: 25%;
      text-align: center;
    }
    .tab:hover {
      background: @services-tab--hover-background;
      color: @services-tab--hover-text-color;
    }
    .tab--selected {
      background: @services-tab--selected-background;
      color: @services-tab--hover-text-color;
    }
  }
  .tab--content {
    font-size: 1.6rem;
    line-height: 2.2rem;

    h2 {
      font-size: 2.4rem;
      font-weight: bold;
      margin-top: 50px;
      margin-bottom: 10px;
    }

    .tab-body{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;

      p {
        margin-bottom: 25px;
      }

      img {
        margin-left: 15px;
        height: 275px;
        width: 100%;
      }
    }
  }
  
  .hide-content {
    display: none;
  }

}