.intro-services {
  h1 {
    font-size: 6.4rem;
    color: @white;
    font-weight: bold;
    margin: 13.5rem 1rem 5rem 8.5rem;
    @media @phone {
      font-size: 5.5rem;
      margin: 24.5rem 1rem 5rem 2.5rem;
    }
  }
}

.services-content {
  margin: 9.1rem 8.5rem 4rem 8.5rem;
  line-height: 2.6rem;
  @media @phone {
    font-size: 2.48rem;
    line-height: 4rem;
    margin: 10.7rem 2.5rem 5.9rem 2.5rem;
  }
}


// Tabs CSS 

.tabs {
  width: 100%;
  margin-bottom: 15rem;
  @media @phone {
    margin-bottom: 105rem;
  }
}
.tabs .tabs-items {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  @media @phone {
    padding-top: 4.5rem;
  }
}
.tabs .tabs-item {
  display: none;
  width: 85%;
  @media @phone {
    width: 91%;
  }
}
.tabs .tabs-item .tabs-item-title {
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 1rem;
  @media @phone {
    font-size: 3.8rem;
    padding-bottom: 4rem;
  }
}

.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  margin-left: 7.5rem;
  @media @phone {
    flex-direction: column;
    margin-left: 1.5rem;
  }
}
.tabs .tabs-link {
  padding: 1.3rem 1rem;
  margin: 0rem 2.8rem 1rem 1rem;
  font-size: 2rem;
  font-weight: bold;
  width: 18.5rem;
  text-align: center;
  background-color: @white;
  border: 1px solid black;
  @media @phone {
    width: 45rem;
    height: 7.7rem;
    margin-bottom: 3.3rem;
    font-size: 3.1rem;
    padding-top: 2.5rem;
  }
}
.tabs .tabs-link-selected {
  background-color: @blue;
  color: @white;
}

#tabs-item-description {
  display: flex;
  @media @phone {
    flex-direction: column;
  }
  p {
    margin-bottom: 2rem;
    line-height: 3.2rem;
    @media @phone {
      font-size: 2.48rem;
      line-height: 4.1rem;
    }
  }
}
.tabs-imgs {
  margin-left: 2rem;
  @media @phone {
    height: 47rem;
    width: 46rem;
    margin-left: 0;
  }
}