@media @mobile {
 .tabs {
     width:100%;
     display: flex;
     flex-direction: column;
     
     .tabs-links {
        flex-direction: column;
      }

      .tabs-link {
          margin-bottom: 2rem;
      }

      .tabs-item-title {
       text-align: center;
      }
      .tabs-item-description {
       display: flex;
       position: relative; 
        flex-direction: column;
        text-align: center;

        p{
            padding-left: 2rem;
        }
       
      }
      
 } //tabs


 .footer-section {
     margin-top: 15rem;
     p{
         text-align: center;
     }
 }

 // Mobile for About Page
.midImg {
    display: none;
}
 .aboutImg {
     display:flex;
 }



 // Contact Page Mobile

 .service-header h1{
     
     top: 50%;

 }
.contact-whole {
    display: flex;
    flex-direction: column;
    width:100%;

    .form-section {
        padding-right: 14rem;
        margin-bottom: 6rem;
    }
} // contact-whole

} // media 


