.intro-services h1 {
    font-size: 6.4rem;
    color: @white;
    font-weight: bold;
    margin: 13.5rem 1rem 5rem 8.5rem;
}

.services-content {
  margin: 9.1rem 8.5rem 4rem 8.5rem;
  line-height: 2.6rem;
}