
.services-content {
  max-width: 855px;
	width: 100%;
  margin: 0 auto 32px;

  .intro {
    margin: 51px auto 41px;
		line-height: 26px;
  }

  .service-options{
    display: flex;
    justify-content: space-between;
    .option {
      font-size: 20px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      width: 183px;
      border: 1px black solid;
    }
    .active {background-color: lightblue;}
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 52px 0 12px;
  }

  .display-options {
    height: 300px;
    display: flex;
    justify-content: space-between;

    .text {
      width: 50%;

      p {
        line-height: 26px;
        margin: 3px 0 -2px 1px
      }
    }

    .img {
      background: url('../img/services/services-tab-construction-img.png');
      width: 400px;
      height: 275px;
    }

  }

}
