// ================ SERVICE TABS SECTION

.tabSection-container {

    margin-bottom: 65px;

    .tabs {
        .center();

        .tab-link {
            width: 185px;
            padding: 15px 0;
            align-items: center;
            text-align: center;
            border: 1px solid #222222;
            color: #222222;
            font-size: 20px;

            &:hover {
                background-color: @hoverTabcolor;
                color: #ffffff;
            } // hover
        } // tab-link
    } // tabs

    .tabs-items {
        margin: 50px 0 0 0;

        h2 {
            font-size: 25px;
            margin: 0 0 13px 0;
        }

        .tab-item {

            .center(flex, space-between, flex-start);

            .tab-text {
                width: 50%;

                p {
                    line-height: 26px;
                    margin-bottom: 28px;
                } // p
            } // tab text

            img {
                width:  47%;
            } //img
        } // tab item
    } // tabs items
} // tab selector container