@media (max-width: 500px){
    .servicesHeader {
        max-width: 500px !important;
        margin-top: 45px;
        height: 300px !important;
        width: 500px !important;
        background-image: url(/img/services/services-mobile-jumbotron.png);

        h1{
            position: relative;
            bottom: 75px;
            right: 50px;
        }
    }

    .topInfoServices{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 50px;
        max-width: 85% !important;
        left: 10px;
    }

    .tabLinks {
        display: inline-flex;
        flex-direction: column;
        margin-top: -20px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        left: 75px;
        
    }

    .tabImg{
        margin-top: 50px;
    }

    .tabs-link {
        margin-top: 15px !important;
        margin-bottom: 5px !important;
        max-width: 250px;
        width: 250px !important;
    }

    .tabs-item{
        margin-top: 50px;
        
        .tabs-item-description{
            max-width: 400px !important;
            position: relative;
        }

        .tabs-item-title{
            margin-left: 10px;
        }
    }

    .tabInfo{
        position: relative;
        display: Flex;
        flex-direction: column;
        max-height: 1000px;
        left: 10px;
        
    }
    .tabs-item-description{
        margin-top: 20px;
        width: 400px !important;
    }

    
}

