.intro {
    margin: 5% 7%;
    line-height: 180%;
}

.service-tabs {
    .flexrow;
    justify-content: space-evenly;
    .tab {
        .buttonmaker(160px, 50px);
        font-weight: 700;
        font-size: 1.2em;
        &:hover {
            cursor: pointer;
            background: #222222;
            color: white;
        }
    }
}

.service-content {
    h1 {
        margin: 7% 0 0 7%;
        font-weight: 700;
    }

}
.service-text {
    img {
        height: 100%;
    }
    .flexrow;
    margin: 2% 7% 7%;
    line-height: 180%;
}

.active-tab {
    background: #5E9FB9;
    color: white;
}