/*Services LESS*/

.servicespage-content {
	background-color: @bg-color;

	.section1 {
		.servicesImg {
			img {
				position: absolute;
				left: 0px;
				top: 0px;
				z-index: 1;
			}
		}
		h1 {
			position: absolute;
			top: 150px;
			color: @h-color;
			font-size: @h1-font-size;
		}
	}
	.section2 {
		display: flex;
		.center();
		padding: 50px;
		.section2-p {
			font-size: @p-font-size;
			color: @font-color;
		}
	}
	.tabs {
		.tab-links {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			
			.link {
				.tab-creator(@tab-width, @tab-height, @tab-bg-color, @tab-font-color, @p-font-size);

				&:hover {
					background-color: @tab-hover-bg-color;
					color: @h-color;
				}
			}
			.link {
				.tab-creator(@tab-width, @tab-height, @tab-bg-color, @tab-font-color, @p-font-size);

				&:hover {
					background-color: @tab-hover-bg-color;
					color: @h-color;
				}
			}
			.link {
				.tab-creator(@tab-width, @tab-height, @tab-bg-color, @tab-font-color, @p-font-size);

				&:hover {
					background-color: @tab-hover-bg-color;
					color: @h-color;
				}
			}
			.link {
				.tab-creator(@tab-width, @tab-height, @tab-bg-color, @tab-font-color, @p-font-size);

				&:hover {
					background-color: @tab-hover-bg-color;
					color: @h-color;
				}
			}
		}
	}
		.tab-content {
			.content {
				display: none;
				.tab-cont1 {
					display: flex;
					flex-direction: column;

					h2 {	
						font-size: @h2-font-size;

					}
					p {
						font-size: @p-font-size;
						margin: @basic-margin;
						padding: @tab-padding;

					}
				}
			
				img {

				}	
			}

			.content {

				.tab-cont2 {
					h2 {
						font-size: @h2-font-size;

					}
					p {
						font-size: @p-font-size;
						margin: @basic-margin;

					}
				}
				img {
				
				}
			}
			.content {
				

				.tab-cont3 {
					h2 {
						font-size: @h2-font-size;

					}
					p {
						font-size: @p-font-size;
						margin: @basic-margin;

					}
				}
				img {
				
				}
			}
			.content {
				

				.tab-cont4 {
					h2 {
						font-size: @h2-font-size;

					}
					p {
						font-size: @p-font-size;
						margin: @basic-margin;

					}
				}
				img {
				
				}
			}
			.tab-toggle {
					display: flex;
			}
		}
	
}












