.servicespage-content {
	width: 900px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid red;


	display: flex;
	flex-direction: column;
	

	.servHeader {
		top: 50px;

		.servicesHeaderImg {
			width: 100%;
			
		}
		h1 {
			font-size: @h1-font-size;
			color: @h-color;
			position: absolute;
			top: 130px;
			z-index: 1;
		}
	}
	.servFirstTextBlock {
		border: 1px solid blue;
		width: 80%;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;

		p {
			color: @font-color;
		}

	}
	.tabs-Section {
		.tabs-links {
			.tab-link {

			}
		}
		.tabs-items {
			.tab-item {
				.tabs-content {
					.tabs-item-title {

					}
					.tabs-item-content {

					}
				}
				img {
				
				}
			}
		}
	}
}



































