.letters-img2{
    background-size: cover;
    width: 100%;
    height:250px;
    position: relative;
    background-position:center center;
    overflow: hidden;
    margin:auto;
  }

  .letters-top2{
    position:absolute;
    width: 100%;
    top:130px;
    left:15px;
    padding:20px 30px;
}

.service-include{
    margin-top:30px;
    margin-bottom:30px;
    padding:15px;
}
    .four-change-buttons{
        display:flex;
        justify-content: space-between;
        flex-flow: row;
        align-items: center;
        margin-bottom:60px;

        .button2{
            display: flex;
            justify-content:center;
            padding:10px;
            margin-top:10px;
            width:180px ;
            margin-bottom: 10px;
            border: 2px solid #333;
            cursor: pointer;
            font-family:@GENERAL-STYLES-Font-family-Roboto,sans-serif;
            font-size:@footer-h2-Font-Size;
            font-weight:@sub-Font-Weight;
        
        }
    }

.top-page2{
display: flex;
justify-content: space-between;
flex-flow: row;
margin-bottom:70px;
.two-paragraphs{
    width:47%;
}
    .service-page-img{
        width:47%;
    }
}

.button-title{
    font-weight:@sub-Font-Weight;
    font-size:@subFont-Size;
    color:@subHeader-Color;
    margin-bottom:20px;
}

.display2{
    display:none;
}

.active-tab{
    background-color:@Tab-selected-background;
    color:@Tab-Hover-color;
    
}