/* Services Page LESS File */

.container {
    max-width: 1024px;
    margin: 0 auto;

    .services-page-content {
        .jumbotron-div {
            position: relative;
            z-index: 20;
        }

        .services-text {
            position: relative;
            z-index: 30;
            margin: -120px 80px 0;
            font-weight: bold;
            font-size: 64px;
            line-height: 75px;
            color: #FFFFFF;
        }
    }
}

.services-container {
    max-width: 900px;
    margin: 0 auto;

    .services-included {
        padding: 40px 15px 20px;
    }

    .tabs-links {
        justify-content: space-between;
        padding: 20px 15px;
    
        .tab-link {
            border: 1px solid black;
            width: 184px;
            padding: 12px 0;
            font-weight: bold;
            .center;
            cursor: pointer;
            &:hover {
                background-color: #59A0B6;
                color: white;
            }
        }

        .tabs-link-selected {
            cursor: pointer;
            background-color: #59A0B6;
            color: white;
            border: 1px solid white;
        }
    }
    
    .tab-item {
        display: none;
        padding: 20px 0 40px;

        .inside-img {
            .center;
        }
    }

    .tab-item-selected {
        display: inline-flex; 
    }
}

/*============ Displaying mobiles images to NONE ==================*/

.services-mobile-jumbo {
    display: none;
}

.services-mobile {
    display: none;
}

/*======================= MOBILE VIEW =============================*/
@media (max-width: 405px) {
    // max-width: 1024px;
    .container {
        width: 100%;
    
        .services-page-content {
            .services-text {
                position: relative;
                z-index: 30;
                margin: -80px 15px 0;
                font-weight: bold;
                font-size: 44px;
                color: #FFFFFF;
            }
        }
    }

    .services-container {
        width: 75%;
    
        .tabs-links {      
            .tab-link {
                margin: 10px 0;
                width: 100%;
                padding: 12px 0;
            }
        }
    }


    /*===========Displaying mobile images to BLOCK =============*/

    .jumbotron-div {
        width: 100%;

        .services-jumbo {
            display: none;
        }
    
        .services-mobile-jumbo {
            display: block;
            width: 100%;
                
        }
    }

    .services-desktop {
        display: none;
    }

    .services-mobile {
        display: block;
    }
}


