.servicesHeader {
  max-width: 100%;
  height: 200px;
  background-image: url("../img/services/services-jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    padding: 100px 0 0 5%;
  }
}

.services {
  p {
    margin: 50px 0;
  }

  .tabs {
    .tabLinks {
      .flex(no-wrap, row, space-between, center);

      p {
        margin: 0;
      }

      .tabLink {
        background: white;
        padding: 10px 5%;
        border: 1px solid #222222;
        font-weight: bold;

        &:hover {
          background: black;
          color: white;
          transition: 2s all;
        }
      }
    }

    .tabItems {

      .tabItem {
        h2 {
          margin-bottom: 20px;
        }
        .tabContent {
          .flex(no-wrap, row, space-between, center);

          .tabText {
            .flex(wrap, column, space-between, flex-start);
            width: 44%;
            height: 275px;

            p {
              margin: 0;
            }
          }

          .tabImage {
            width: 45.3%;
            height: 275px;
          }
        }
      }
      .hidden {
        display: none;
      }
    }
  }
}
