
.jumbotron-services{
    position: relative; 
    max-width: 1200px;
   
    .jumbotron-img{
    width: 100%;  
    height: 210px;   
    }

    .services-header{
        position: absolute; 
        color: white; 
        font-size: 6.6rem; 
        top: 90px;  
        left: 65px; 
        font-weight: bold;   
    }
}

.container{
    padding: 50px 70px;

    .services-text{
        font-size: 1.6rem; 
        line-height: 2.5rem; 
    }

    .buttons{
        padding: 50px 0px 50px 0px; 
        .flex; 
        justify-content: space-between; 
         
        .button2{
            .button-2;

            &:hover{
                background-color: #5E9FB9; 
            }


        }
    }

    .tab-header{
        font-weight: bold;
    }

.tab-row{
    .flex; 
    justify-content: space-between; 
    width: 100%;
    font-size: 1.5rem; 
    padding-top: 15px; 

    p{
        width:52%; 
        line-height: 1.7; 
    }
    img{
        
        width: 45%; 
    }
 }
}
