.services-image-container {
    background:url("/img/services/services-jumbotron.png");
    height:250px;
    background-position-y: 95%;
    h1{
        font-size:6.4rem;
        color: #ffffff;
        padding-top:18%;
        padding-left: 8%;
        font-family: 'Roboto';
    }
}

.services-content{
    width:90%;
    margin:0 auto;
    .services-paragraph{
        width:100%;
        margin: 5% auto;
        font-size:1.8rem;
        line-height: 25px;
        font-family:'Roboto';
    }
}

@media (max-width:500px){
    .services-image-container{
        background-image:url("/img/services/services-mobile-jumbotron.png");
        background-size:cover;
        width:100%;
        height: 400px;
        background-position-y:100%; 
        h1{
            font-size:5.8rem;
            padding-top:65%;
        }
    }
}