
.tabs {
    margin-right: 80px;
    margin-left: 80px;
    .flex-box(@display:flex, @flex-direction:row, @flex-wrap:wrap, @justify-content:space-between);
}

.one, .two {
    width: 50%; 
}
.services-paragraph {
    padding-right: 80px;
    margin-left: 40px;
}

.tabs-item {
    display: none; 

    .tabs-item-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    }
}

.tabs-item-title {
    max-width: 100%;
    width: 600px;
    margin-top: 50px;
}
.tabs-item-selected {
    display: flex;

}

.tabs-links {
    background-color: @backgroundOffWhiteText;
}

.tabs-link {
    width: 200px;
    margin-top: 20px; 
    font-size: 24px;
    background-color: @backgroundOffWhiteText;
    border: 1px solid @generalAndBorders;
    color: @generalAndBorders;
    text-align: center;
    height: 60px; 
    font-weight: Bold;
    .flex-box(@perfect-center:true);  
    cursor: pointer;
    &:hover {
    background-color: @tabHoverColor;
    }
}
.tabs-link-selected {
    border: 1px solid @generalAndBorders;
    background-color: @navBackground;
    color: @backgroundOffWhiteText;
    &:hover {
    background-color: @tabHoverColor;
    }
}

#nav-img, #nav-mobile-img {
    max-width: 100%;
    width: 497px;
    margin-bottom: 50px;
    margin-top: 110px; 
}

.tabs-item-description {
    padding-top: 25px;
    padding-right: 50px;
    
}


@media(max-width: 450px){
    .one, .two {
        width: 300px;
        max-width: 100%;
        text-align: center;
        
    }
    .tabs {
        margin: 5px;
        .flex-box(@perfect-center:true);
        
    }
    .tabs-item-description {
        width: 300px;
        max-width: 100%;
        padding: 10px;
    }
    .tabs-items {
        .flex-box(@perfect-center:true);
    }
    
    #nav-img, #nav-mobile-img {
        width: 300px;
        max-width: 100%;
    }
    .tabs-item-selected{
        flex-wrap:wrap;
    }

    .services-paragraph {
        margin-left: 0px;
        padding: 0px;
        p{
            width: 300px;
        }
    }
        

}