//Footer Styles
h4 {
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.4rem;
};

p.location-p {
  font-size: 1.3rem;
    margin-top: 5px;
    line-height: 2.5rem;
}

p.copyright {
  width: 220px;
  position: absolute;
  left: 418px;
  top: 197px;
  font-size: 1.2rem;

  @media @mobile {
    left: 15px;
    top: 656px;
  };
};

footer {
  width: 1024px;
  margin-left: 0px; 
  padding-left: 37px;
  padding-top: 58px;
  position: relative;
  color:  #FFFFFF;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.6rem;
  height: 248px;
  background-color: #828282
  

  
};// Footer

.footer-box {
  @media @mobile {
    padding-left: 0px;
    padding-top: 26px;
    height: 704px;
    width: 68%;
  };
};

.form-location {
  display: flex;
  margin-left: 45px;

  @media @mobile {
    display: block;
    margin-left: 16px;
  };


  .form {
    height: 130px;

    input { 
      width: 280px;
      height: 44px;
      border-radius: 6px;
      margin-top: 14px;
    };
  };

  .location-1 {
   height: 130px;
   margin-top: 5px;
   margin-left: 50px;
   margin-right: 25px;

   @media @mobile {
    margin-left: 0px;
    padding-top: 37px;
   };
  };

  .location-2 {
    height: 130px;
    margin-top: 6px;
    margin-left: 60px;
    margin-right: 25px;

    @media @mobile {
      margin-left: 0px;
      padding-top: 62px;
    };
   };

   .location-3 {
    height: 130px;
    margin-top: 5px;
    margin-left: 72px;
    margin-right: 25px;

    @media @mobile {
      margin-left: 0px;
      padding-top: 82px;
    };
   };

};
