// Services Styles




    
.services-jumbo-container {
    max-width: 1024px;
    width:100%;
    margin: auto;
    position:relative;
  
      .jumbo-font {
        font-size: 64px;
        font-weight: 700;
        line-height:75px;
        color:#FFFFFF;
        position:absolute;
        // border: 1px solid red;
        display:flex;
        flex-wrap: wrap;
        padding-right:500px;
        padding-top:155px;
        padding-left:80px;
      }

      .logo-font {
        color:#FFFFFF;
        position: absolute;
        // border: 1px solid green;
        font-weight:700;
        font-size:24px;
        padding-left:85px;
        padding-top: 23px;
        display:none;
    }


    .nav-hamburger {
        position: absolute;
        // border: 1px solid yellow;
        padding-left:903px;
        padding-top:21px;
        display:none;
      }

    .navbar {
    // border: 1px solid red;
    // background-color:#9DA7B1;
    display:flex;
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
    position:absolute;
    z-index:10;
    
        .logo-font2 {
            // border: 1px solid blue;
            padding-left:85px;
            font-size:24px;
            color:#FFFFFF;
            font-weight:700;
        }

        .nav-hamburger2 {
            // border:1px solid black;
            margin-left:770px;
            z-index:100;
        }
       
    }
    .sticky {
        position:fixed;
        top:0px;
        width:100%;
        background-color:#9DA7B1;
        opacity:0.95;
      }
  }
  

  
.services-container {
    max-width: 880px;
    width:100%;
    margin: auto;
    // border:1px solid orange;
    margin-bottom:100px;
    

    .top-content {
        display:flex;
        flex-direction:column;
        margin-bottom: 50px;

        .text-content {
            margin-top:45px;
            margin-bottom:45px;
            margin-left:25px;
        }

        .button-tabs {          

            .button-tabs-links {
                display:flex;
                justify-content:space-between;
                // border: 1px solid green;
                padding-left:22px;
                margin-bottom:50px;

                .button-tabs-link {
                    font-size:20px;
                    font-weight:700;
                    border: 1px solid black;
                    width:21%;
                    text-align: center;
                    padding-top:10px;
                    padding-bottom:10px;
                    padding-left:10px;
                    padding-right:10px;
                    background-color: white;
                    // border:2px solid blue;
                    &:hover {
                        // background-color: rgb(75, 175, 221);
                        // color:white;
                        border:2.5px solid black;
                      }
                }

                .button-tabs-link-selected {
                    z-index:2;
                    font-size: 20px;
                    font-weight:700;
                    // border: 2px solid rgb(21, 129, 179);
                    border: 2.5px solid black;
                    width:21%;
                    text-align: center;
                    padding-top:10px;
                    padding-bottom:10px;
                    background-color: rgb(75, 175, 221);;
                    color:white;

                }
            }
            .button-tabs-items {
                max-width: 880px;
                width:100%;
                margin: auto;
                display:flex;
                flex-direction: row;
                // border:2px solid green;
                
        
                .button-tabs-item {
                    // border:1px solid blue;
                    margin-left: 15px;
                    margin-top: 12px;
                    line-height: 28px;
                    font-size:16px;
                    display:none;

                    .button-tabs-item-content {
                        display:flex;
                        // border:2px solid yellow;

                        h2 {
                            padding-bottom: 30px;
                        }

                        .button-tab-item-image-container {
                            font-size: 20px;
                        }
                    }                    
                }
        
                .button-tabs-item-selected {
                    // border:1px solid blue;
                    margin-left: 15px;
                    margin-top: 12px;
                    line-height: 28px;
                    font-size:16px;
                    display:block;
                }
        
                img {
                    margin-top: 12px;
                    // border:1px solid green;
                }
            }
        }
    }

    .bottom-content-heading-container {
        display:flex;

        .bottom-content-heading {
            // border:2px solid red;
            margin-left:15px;

                h1 {
                    font-size:24px;
                }
            

        }
    }
    
  }



  // ************ MEDIA QUERIES ************//

/* Phone */

@media (max-width:320px) {

    
    .overlay {
        // position:fixed;
        // background-color:#9DA7B1;
        // opacity:0.95;
        // overflow-x: hidden;
        // z-index:1000;
        // left:0;
        // top:0;
        // width:100vw;
        // height:100vh;
        // display:none;
    
        .menu-content{
            // position:relative;
            // top:40%;
            // width:100%;
            // text-align:center;
            margin-top:30px;
    
            a {
                // text-decoration: none;
                font-size:48px;
                // font-weight:700;
                // color:#FFFFFF;;
                // display:block;
                padding-bottom:60px;
                // &:hover {
                //     color: black;
                //   }
            }
        }
        .close-btn {
            // position:absolute;
            top:15px;
            right:80px;
            font-size:25px;
            height:40px;
            width:40px;
            // background-color:transparent;
            // color:#FFFFFF;
        }
    
        .navMenu-logo {
            // position:absolute;
            top:10px;
            left:80px;
            font-weight:700;
            font-size:24px;
            // color:#FFFFFF;
        }
    } 


    
    .services-jumbo-container {
        // max-width: 1024px;
        // width:100%;
        // margin: auto;
        // position:relative;
        max-width:320px;
        // border:2px solid purple;
      
          .jumbo-font {
            font-size: 32px;
            // font-weight: 700;
            line-height:42px;
            // color:#FFFFFF;
            // position:absolute;
            // border: 1px solid red;
            // display:flex;
            // flex-wrap: wrap;
            // padding-right:500px;
            padding-top:125px;
            padding-left:10px;
          }
    
          .logo-font {
            // color:#FFFFFF;
            // position: absolute;
            // border: 1px solid green;
            // font-weight:700;
            // font-size:24px;
            padding-left:85px;
            padding-top: 23px;
            // display:none;
        }
    
        .nav-hamburger {
            // position: absolute;
            // border: 1px solid yellow;
            // padding-left:903px;
            // padding-top:21px;
            // display:none;
          }

          .jumbo {
              display:none;
          }
    
          .jumbo.mobile {
              display:block;
          }
    
        .navbar {
        // border: 1px solid red;
        // background-color:#9DA7B1;
        // display:flex;
        padding-top:10px;
        padding-bottom:10px;
        width:100%;
        // position:absolute;
        // z-index:10;
        
            .logo-font2 {
                // border: 1px solid blue;
                padding-left:15px;
                // font-size:24px;
                // color:#FFFFFF;
                // font-weight:700;
            }
    
            .nav-hamburger2 {
                // border:1px solid black;
                margin-left:190px;
                // z-index:100;
            }
           
        }
    //     .sticky {
    //         position:fixed;
    //         top:0px;
    //         width:100%;
    //         background-color:#9DA7B1;
    //         opacity:0.95;
    //       }
    //   }
    
    }  




    .services-container {
        max-width: 880px;
        width:100%;
        margin: auto;
        // border:1px solid orange;
        margin-bottom:100px;
        
    
        // .top-content {
        //     display:flex;
        //     flex-direction:column;
        //     margin-bottom: 50px;
    
        //     .text-content {
        //         margin-top:45px;
        //         margin-bottom:45px;
        //         margin-left:25px;
        //     }
    
        //     .button-tabs {          
    
        //         .button-tabs-links {
        //             display:flex;
        //             justify-content:space-between;
        //             // border: 1px solid green;
        //             padding-left:22px;
        //             margin-bottom:50px;
    
        //             .button-tabs-link {
        //                 font-size:20px;
        //                 font-weight:700;
        //                 border: 1px solid black;
        //                 width:21%;
        //                 text-align: center;
        //                 padding-top:10px;
        //                 padding-bottom:10px;
        //                 padding-left:10px;
        //                 padding-right:10px;
        //                 background-color: white;
        //                 // border:2px solid blue;
        //                 &:hover {
        //                     // background-color: rgb(75, 175, 221);
        //                     // color:white;
        //                     border:2.5px solid black;
        //                   }
        //             }
    
        //             .button-tabs-link-selected {
        //                 z-index:2;
        //                 font-size: 20px;
        //                 font-weight:700;
        //                 // border: 2px solid rgb(21, 129, 179);
        //                 border: 2.5px solid black;
        //                 width:21%;
        //                 text-align: center;
        //                 padding-top:10px;
        //                 padding-bottom:10px;
        //                 background-color: rgb(75, 175, 221);;
        //                 color:white;
    
        //             }
        //         }
        //         .button-tabs-items {
        //             max-width: 880px;
        //             width:100%;
        //             margin: auto;
        //             display:flex;
        //             flex-direction: row;
        //             // border:2px solid green;
                    
            
        //             .button-tabs-item {
        //                 // border:1px solid blue;
        //                 margin-left: 15px;
        //                 margin-top: 12px;
        //                 line-height: 28px;
        //                 font-size:16px;
        //                 display:none;
    
        //                 .button-tabs-item-content {
        //                     display:flex;
        //                     // border:2px solid yellow;
    
        //                     h2 {
        //                         padding-bottom: 30px;
        //                     }
    
        //                     .button-tab-item-image-container {
        //                         font-size: 20px;
        //                     }
        //                 }                    
        //             }
            
        //             .button-tabs-item-selected {
        //                 // border:1px solid blue;
        //                 margin-left: 15px;
        //                 margin-top: 12px;
        //                 line-height: 28px;
        //                 font-size:16px;
        //                 display:block;
        //             }
            
        //             img {
        //                 margin-top: 12px;
        //                 // border:1px solid green;
        //             }
        //         }
        //     }
        // }
    
        // .bottom-content-heading-container {
        //     display:flex;
    
        //     .bottom-content-heading {
        //         // border:2px solid red;
        //         margin-left:15px;
    
        //             h1 {
        //                 font-size:24px;
        //             }
                
    
        //     }
        // }
        
      }


}

