.service {
  .flex(column, center, center);
  @media @mobile {
    width: 90%;
  }
  p {
    margin: 4.4rem 0;
  }
  .tabs-links {
    .flex(row, space-between, center);
    .mobile-column();
    width: 100%;

    .tabs-link {
      .flex(row, center, center);
      width: 22%;
      height: 5rem;
      text-align: center;
      border: 1px solid @clr-button-bor;
      font-size: 2rem;
      font-weight: bold;
      @media @mobile {
        width: 100%;
        margin-bottom: 2rem;
      }

      &:hover {
        background-color: @clr-bg-tab-hover;
        color: @clr-tab-hover;
      }

    }

    .tabs-link-selected {
      background-color: @clr-bg-tab-selected;
      color: @clr-tab-hover;
      border-color: @clr-tab-hover;
    }
  }

  .tabs-items {
    padding: 5.5rem 0rem;

    .tabs-item {
      .desktop-display();
      .mobile-display();
      .content {
        padding: 1.2rem 0;
        .flex();
        .mobile-column();
        .img100();
        p {
          margin: 3rem 0rem;
        }
      }
    }
  }

  .hidden{
    display: none;
  }
}