.services-banner {
  position: relative;
  height: 250px;
  margin-bottom: 50px;
  img {
    max-width: 1025px;
    @media @phone {
      max-width: 500px;
    }
  }
  h1 {
    color: @jumbotron--text-color;
    position: relative;
    top: -110px;
    left: 90px;
    font-size: 6.4rem;
    font-weight: bold;
    line-height: 7.5rem;
    color: @jumbotron--text-color;
  
    @media @phone {
      font-size: 4.8rem;
      left: 20px;
      top: -90px;
    }
  }
}

.services--top-info {
  margin-top: 10px;
  font-size: @general-text--font-size;
  line-height: @general-text--line-height;
}