.cta-section-services {
  background-image: url(../img/services/services-jumbotron.png);

  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 120rem;
  margin: 0 auto;

  height: 20.2rem;
  position: relative;

  .wrapper {
    h1 {
      position: absolute;
      bottom: 2rem;

      color: white;
      font-size: 7rem;

      span {
        display: block;
      }
    }
  }
}
