.tabs-item{
width: 720px;
//border:1px solid red;

flex-wrap: wrap;
margin-top: 28px;
margin-bottom: 45px;
display:none;
}

.services-mid p{
    font-size: 12px;
    font-family: 'Arial';
    line-height: 22px;
    margin-bottom:40px;
}
.services-mid h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 36px;
    
}
.construction-txt{
    width: 300px;
    margin: 0 auto;
}
.construction-img{
    margin-left: 58px;
    margin-top: 65px;
}
 .tabs-item-selected{
    display:flex;
}