.tab-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.tab-link {
    border: 1px solid @text-black;
    height: 40px;
    width: 21%;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.tab-item {
    display: flex;
    margin: 50px 0;

    h1 {
        font-size: 2rem;
        font-weight: bold; 
    }

    .tab-text {
        height: 275px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}