.services-container .bind-services {
    display: flex;
    flex-flow: column wrap;
    position: relative;
    img {
        width:100%;
    }
    h1 {
        position:absolute;
        font-size: 5rem;
        font-weight: bold;
        color: white;
        bottom: 20px;
        left: 70px;
    }
}