.pre-construction{
    display: none;
}
.construction{
    display: none;
}
.design-build{
    display: none;
}
.sustainability{
    display: none;
}
.services-container{
    padding-top: 80px;
    

}
.service-heading{
    padding-top: 140px;
    padding-left: 80px;
}
.tab-nav{
    display: flex;
    justify-content: space-between;
    p{
        border:1px solid red;
        background: #5E9FB9;
    }
}