body {
  background: #FFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
}
.container {
  margin: 0 auto;
  width: 80%;
}
p {
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
}
