//general site styles
html {
    font-size: 62.5%;
}

body{
    .general-font-styles;

}

.container {
    max-width: 855px;
    margin: 0 auto;
    height: 100%;
}

.jumbo-text {
    font-weight: 700px;
    font-size: 6.4rem;
    color: @white;
    line-height: 7.5rem;
}


h1 {
    font-size: 6.3rem;
    color:@white;
}

