.splash {
  .flex(center, center);
  width: 100%;
  max-width: 1024px;
  height: auto;
  max-height: 100vh;
  position: relative;
  margin: 0 auto;
  img {
    width: 100vw;
    max-width: 1024px;
    @media @mobile {
      height: 210px;
    }
  }
  .splash-title {
    position: absolute;
    color: white;
    bottom: 50px;
    left: 0px;
    @media @mobile {
      bottom: 27px;
      left: 16px;
    }
    h2 {
      font-size: 64px;
      font-weight: bold;
      line-height: 75px;
      @media @mobile {
        font-size: 35px;
        line-height: 40px;
      }
    }
  }
}
