.splash {
    width: 100%;
    position: relative;
  
    img {
        width: 100%;
        @media @mobile {
            height: 210px;
        }
    }
    .splash-title {
      position: absolute;
      color: white;
      bottom: 50px;
      left: 82px;
      @media @mobile {
        bottom: 27px;
        left: 16px;
      }
      h2 {
        font-size: 63px;
        font-weight: 700;
        line-height: 75px;
        @media @mobile {
            font-size: 35px;
            line-height: 40px;
        }
      }
    }
  }