//GENERAL STYLES
html{
    background: #FFFFFF;
}
h1,p{
    color: #222222;
    font-family: 'Roboto', Arial, sans-serif;
}
//Page Specific

//Home Page
.recent-projects-gray-square{
    background: #D8D8D8;
}
button{
    border-color: #222222;
}

//Services Page
// Tab selected background: #5E9FB9
// Tab Hover background: #222222
// Tab Hover color: #FFF;

// Footer
.footer{
    background: #828282;
}

// General Text
p{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

// Jumbotron Headers
// Font Weight: Bold
// Font Size: 64px
// Line Height: 75px
// Color: #FFFFFF

// Sub Headers
h1{
    font-weight: bold;
    font-size: 28px;
    color: #222222;
}

// Footer Headings
.footer h1{
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

// Footer Text
.footer p{
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
}

// Navigation Logo
// Font Weight: Bold
// Font Size: 24px
// Color: #FFFFFF

// Navigation Text (Expanded)
// Font Weight: Bold
// Font Size: 48px
// Line Height: 85px
// Color: #FFFFFF
// Hover Color: #222222
