
.suspect-content {
    .suspect-nav-sec {
        width:100%;
        @media(max-width:600px) {
            width: 100%;
            text-align: center;
        }
        
        .flex(row,center,space-between);
        flex-wrap: wrap;
        .suspect-nav-button {
            cursor: pointer;
            padding: 10px;
            border: 1px solid black
        }
        .clicked {
            background-color: @tabselectbc;
            color:white;
            cursor: default;
        }
        p {
            .font(regular,1.75rem,black,regular);
    
            @media(max-width:600px) {
                .font(regular,2.25rem,black,regular);
                width: 100%;
            }
        }
    }
    
    .tab {
        margin: 20px 0px;
        width:100%;
        @media(max-width:600px) {
            width: 100%;
        }
        .tab-stuff {
            .flex(column,space-between, center);
           width:100%;
            p {
                margin:10px 20px 10px 0px;
                .font(regular,1.75rem,black,regular);
    
                @media(max-width:600px) {
                    .font(regular,2.25rem,black,regular);
                }
            }
            div {
                align-self: flex-start;
                width: 75%;
                .flex(row, flex-start, center);
                .head-text {
                    .font(bold,2.25rem,#222222,regular);
                    margin: 20px 4% 20px 0px;    
                    @media(max-width:600px) {
                        .font(bold,3.25rem,black,24px);
                    }
                }
                h4 {
                    .font(regular,1.75rem,black,regular);
                }
            }
            img {
                height: 70vh;
            }
        }
    }
    
    .visible {
        .flex(row,space-between,center);
        @media(max-width:600px){
            width: 100%;
            .flex(column,center,center);
    
        }
    }
    
    .invisible {
        display:none;
    }
    
}

.recolored {
    filter: sepia(100%) saturate(200%) hue-rotate(-20deg)
}