.tab-navigator {
  width: 100%;
  margin-bottom: 10rem;

  .tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;

    .tab {
      .btn-creator(@main-bg, @main-color, 20.5%, 1px solid @main-color);
      font-weight: bold;
      font-size: 1.8rem;
      display: flex;
      justify-content: center;
    }

    .tab-active {
      background: @tab-selected-bg;
      color: @main-bg;
    }
  }

  .cards {
    .card {
      display: none;
      align-items: center;

      &__content {
        width: 48%;
        margin-right: 4%;
        p:first-of-type {
          margin-bottom: 3.5rem;
        }
      }

      &__header {
        .sub-heading();
        margin-bottom: 2rem;
      }

      &__img {
        width: 48%;
      }
    }

    .card-active {
      display: flex !important;
    }
  }
}
