.tabs {
    width: 100%;
    padding: 0 55px;
    .tabs-items {
      padding-top: 50px;
    }
    .tabs-item {
      display: none; 
      
      width: 75%;
      .tabs-item-title {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 10px;
      }
    }
    .tabs-item-selected {
      display: block;
      
    }
  
    .tabs-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: @white;
    }
  
    .tabs-link {
      width: 185px;
      height: 50px;
      font-weight: bold;
      
      font-size: 2.1rem;
      background-color: @white;
      border: 1px solid @off-black;
      color: @off-black;
      cursor: pointer;
      &:hover {
        background-color: @off-black;
        color: #fff;
      }
    }
    .tabs-link-selected {
      z-index: 2;
      border-right: 1px solid @off-black;
      background-color: @teal;
      color: @white;
      &:hover {
        background-color: @off-black;
      }
    }
  }