.tabs {
    display: flex;
    width: 100%;

    margin: 1rem 5%;

    .tabs-items {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 40px;
    }
    .tabs-item {
        display: none; 

        .tabs-item-title {
        font-size: 2.4rem;
        font-weight: bold;
        padding-bottom: 10px;
      }
    }
    .tabs-item-selected {
      display: block;
    }

  
.tabs-links {
      display: flex;
      justify-content: space-between;
    }
  
    .tabs-link {
      padding: 10px 1.5%;
      margin-right: 2%;
      margin-left: 2%;
      font-size: 2.2rem;
      border: 1px solid @blackish;
      color: @blackish;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: @blue;
        color: @white;
      }
    }
    .tabs-link-selected {
      z-index: 2;
      border-right: 1px solid @blackish;
      background-color: @white;
        color: @blackish;
      &:hover {
        background-color: @blue;
        color: @white;   
      }
    }
}

.tabs-item-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

        .tabs-text{
            max-width: 45%;
            p {
                margin-bottom: 1rem;
            }
        }
        .tabs-pic {
            max-width: 45%;
        }
}