.tabs {
    width: 100%;
    max-width: 85%;
    margin-left: 3%;
    margin-top: 3%;
    padding-bottom: 27rem;

}
.tabs-items {
      width: 100%;
      display: flex;
      justify-content: center;
      padding-top: 40px;
      height: 30px;
    

    .tabs-item {
        display: none; 

        .tabs-item-title {
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: 10px;
        margin-left: 3%;
      }
    }
    .tabs-item-selected {
      display: block;
    }
    }
  
.tabs-links {
      display: flex;
      justify-content: space-between;
    }
  
    .tabs-link {
      padding: 10px 1.5%;
      margin-right: 2%;
      margin-left: 2%;
      font-size: 2rem;
      border: 1px solid @blackish;
      color: @blackish;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        background-color: @blue;
        color: @white;
      }
    }
    .tabs-link-selected {
      z-index: 2;
      border: 1px solid @blackish;
      background-color: @white;
        color: @blackish;
      &:hover {
        background-color: @blue;
        color: @white;   
      }
    }


.tabs-item-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

        .tabs-text{
            display: flex;
            flex-direction: row;
            max-width: 85%;
            p {
                width: 80%;
                margin-bottom: 1rem;
                margin-left: 4%;
            }
            }
        .tabs-pic {
            width: 100%;
        }
}