// tabs styling
.tabs {
  .border-bottom-grey();
  .flex(center, center);
  .width-100();
  background-color: @white;
  @media(min-width: 1280px){
    width: 1280px;
  }
  .topics {
    .flex(center, center);
    flex-wrap: wrap;
    width: 100%;
    @media @tablet {
      justify-content: center;
    }
    .title {
      font-size: 1.8rem;
      letter-spacing: 1px;
      font-weight: bold;
    }
    .tab {
      .flex(none, center);
      color: @dark;
      background-color: @white;
      margin: 5px 5px;
      padding: 15px;
      border: 1px solid @dark;
      font-size: 1.8rem;
      letter-spacing: 2px;
      white-space: nowrap;
      font-weight: bold;
      &:hover {
        color: @tab-hover-color;
        background-color: @tab-hover-bg;
      }
    }
    .active-tab {
      background-color: @tab-selected-bg;
      color: @tab-selected-color;
    }
  }
}