.tab-section {
    width: 100%;
    display: flex;
    margin-top: 20px;
    

    .tabs {
        width: 100%;
        

        .tabs-items {
            
            // width: 100%;
            display: flex;
            
            // justify-content: center;
            // padding-top: 60px;
            
        }

        .tabs-item {
                display: none;
                margin-top: 35px;                
             
                .tab-item-title {
               display: flex;
               align-items: center;
               font-size: 1.8rem;
               font-weight: bold;
               height: 50px;
                 
             }
          } //TABS ITEM

          .tabs-item-selected {
              display: block;
          }

        .tabs-links {
            display: flex;
            justify-content: space-between;
            
        }
            .tabs-link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
                height: 40px;
                font-size: 1.5rem;
                font-weight: bold;
                border: 1.4px solid black;
    
                &:hover{
                    background-color: rgb(108,158, 182);
                }
            }
          
         
              
                  .tab-item-description {
                    display: flex;
                
                    line-height: 24px;
                    font-size: 1.5rem;
                    
                    

                    .text-content {
                        width: 46%;
                        padding-right: 20px;
                        p{
                            padding-bottom: 20px;
                        }
                        
                    }

                    .tab-item-img {
                        
                        img {
                         width: 100%;  
                        }
                    }

                  } //ITEM DESRIPTION
                }
            }//TAB SECTION
        