.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.team-member {
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;

  &__img {
    width: 40%;
    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  &__card {
    width: 55%;
  }

  &__name {
    font-size: 2rem;
    font-weight: 700;
  }

  &__role {
    font-size: 1.4rem;
    font-style: italic;
  }

  &__bio {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  &__email {
    .btn-creator(@main-bg, @main-color, 100%, 1px solid @main-color);
    padding: 10px;
    .center();
  }
}
