.testimonials {
  padding-bottom: 3.5%;
  padding-top: 5%;

  .testimonial-container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .hide {
    display: none;
  }

  .testimonial-item {
    background-color: @offwhite;
    padding: 5% 10%;
    border-radius: 2px;

    h3 {
      color: @seaweed;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.6rem;
      padding-top: 5%;
    }

    p {
      color: black;
      font-size: 1.9rem;
      line-height: 1.8;
      padding: 2% 0%;
    }
  }
  img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .left-button {
    transform: rotate(180deg);
    position: absolute;
    top: 42%;
    left: 1.5%;
  }

  .right-button {
    height: 30px;
    position: absolute;
    right:  1.5%;
    top: 42%;
  }
}
