.testimonials {
    padding-bottom: 3.5%;
    padding-top: 5%;

  .testimonial-container {
    display: flex;
    justify-content: space-between;
  }

  .hide {
    display: none;
  }

  .testimonial-item {
    width: 39%;
    background-color: lighten(@seaweed, 61%);
    padding: 5% 5% 4.5% 5%;
    border-radius: 2px;

  h3 {
    color: @seaweed;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.2rem;
    padding-top: 7%;
  }

  p {
    color: black;
    font-size: 1.9rem;
    line-height: 1.8;
    padding-bottom: 2%;
  }
}
}
