

/*== Basic Theming - Colors, Fonts =============================================
*/

//-- Base Color Definitions ----------------------
@color-white: #ffffff;
@color-dark-grey: #222222;
@color-grey: #828282;
@color-cold-grey: #9ba5af;
@color-light-grey: #D8D8D8;
@color-dark-purple: #1a1326;

//-- Color Role Assignments ----------------------

@main-bg-color: @color-white;
@main-text-color: @color-dark-grey;
@main-font: Roboto, Arial, sans-serif;
@subheading-color: @color-dark-grey;
@header-bg-color: @color-cold-grey;
@footer-bg-color: @color-grey;
@footer-text-color: @color-white;
@button-border-color: @color-dark-grey;
@button-text-color: @color-dark-purple;
@button-bg-color: @color-white;


//-- Global Color & Font Theming -----------------
body {
    background-color: @main-bg-color;
    color: @main-text-color;
    font-family: @main-font;
    line-height: 2.4rem;
}
body > header {
    background-color: @header-bg-color;
}
body > footer {
    background-color: @footer-bg-color;
    font-size: 1.4rem;
    line-height: 2.6rem;
    Color: @footer-text-color;
}


//== Theme Mixins ==============================================================

.button-maker () {
    color: @button-text-color;
    border: solid 1px @button-border-color;
    background: @button-bg-color;
    display: inline-block;
    padding: 1rem 2.5rem;
    &:hover {
        color: @button-bg-color;
        background: @button-text-color;
    }
    &:active {
        color: @button-bg-color;
        background: tint(@button-text-color);
    }
}
.button {
    .button-maker();
}


//== Main Layout Spacing - Headers, Footers, Content ===========================

//-- Main Page Spacing ---------------------------
.content-spacer {
    max-width: 1024px;
    margin: 0 auto;
}
.container {
    .content-spacer;
}

//-- Main Header ---------------------------------
body > header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
}

//-- Main Footer ---------------------------------
footer .content-spacer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts {
    display: flex;
    justify-content: space-between;
    width: 84%;
    margin-top: 6.5rem;
    h4 {
        font-size: 2rem;
        line-height: 2.4rem;
        color: @color-white;
        margin-bottom: 1rem;
    }
    input {
        width: 28rem;
        height: 4rem;
        font-size: 1.6rem;
        display: block;
    }
    .notice {
        display: block;
        font-size: 1.2rem;
    }
    div {
        min-width: 14.5rem;
    }
}
.copyright {
    margin-top: 2rem;
    font-size: 1.2rem;
}



/*
Style Guide

Page Specific

Services Page

    Tab selected background: #5E9FB9
    Tab Hover background: #222222
    Tab Hover color: #FFF;

Jumbotron Headers

    Font Weight: Bold
    Font Size: 64px
    Line Height: 75px
    Color: #FFFFFF

Sub Headers

    Font Weight: Bold
    Font Size: 28px
    Color: #222222

Footer Headings

Navigation Logo

    Font Weight: Bold
    Font Size: 24px
    Color: #FFFFFF

Navigation Text (Expanded)

    Font Weight: Bold
    Font Size: 48px
    Line Height: 85px
    Color: #FFFFFF
    Hover Color: #222222

    */