

/*== Basic Theming - Colors, Fonts =============================================
*/

//-- Base Color Definitions ----------------------
@color-white: #ffffff;
@color-dark-grey: #222222;
@color-grey: #828282;
@color-light-grey: #9ba5af;
@color-dark-purple: #1a1326;

//-- Color Role Assignments ----------------------

@main-bg-color: @color-white;
@main-text-color: @color-dark-grey;
@main-font: Roboto, Arial, sans-serif;
@header-bg-color: @color-light-grey;
@footer-bg-color: @color-grey;
@footer-text-color: @color-white;
@button-border-color: @color-dark-grey;
@button-text-color: @color-dark-purple;
@button-bg-color: @color-white;


//-- Global Color & Font Theming -----------------
body {
    background-color: @main-bg-color;
    color: @main-text-color;
    font-family: @main-font;
    line-height: 2.4rem;
}
body > header {
    background-color: @header-bg-color;
}
body > footer {
    background-color: @footer-bg-color;
    font-size: 1.4rem;
    line-height: 2.6rem;
    Color: @footer-text-color;
}


//== Theme Mixins ==============================================================

.button-maker () {
    color: @button-text-color;
    border: solid 1px @button-border-color;
    background: @button-bg-color;
    display: inline-block;
    padding: 1rem 2.5rem;
}
.button {
    .button-maker();
}


//== Main Layout Spacing - Headers, Footers, Content ===========================

//-- Main Page Spacing ---------------------------
.content-spacer {
    max-width: 1024px;
    margin: 0 auto;
}
.container {
    .content-spacer;
}

//------------------------------------------------
body > header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
}



/*
Style Guide

Page Specific
Home Page

    Recent Projects Gray Square: #D8D8D8

Services Page

    Tab selected background: #5E9FB9
    Tab Hover background: #222222
    Tab Hover color: #FFF;

Jumbotron Headers

    Font Weight: Bold
    Font Size: 64px
    Line Height: 75px
    Color: #FFFFFF

Sub Headers

    Font Weight: Bold
    Font Size: 28px
    Color: #222222

Footer Headings

    Font Weight: Regular
    Font Size: 20px
    Line Height: 24px
    Color: #FFFFFF

Navigation Logo

    Font Weight: Bold
    Font Size: 24px
    Color: #FFFFFF

Navigation Text (Expanded)

    Font Weight: Bold
    Font Size: 48px
    Line Height: 85px
    Color: #FFFFFF
    Hover Color: #222222

    */