
.home{
    font-size: 30px;
    color: #FFFFFF;
    display:flex;
    align-items: flex-end;
    height: 400px;
    line-height:75px;
    //background-color: aqua;
    //background-image: url("img/home/home-jumbotron.png");
}
.services{
    font-size: 64px;
    color: #FFFFFF;
    display:flex;
    align-items: flex-end;
    height: 170px;
    line-height:75px;
    //border:1px solid red;
    
    //background-color: aqua;
    //background: 'img/home/home-jumbotron.png';
}

 .jumbo-container{
    
    width:100%;
    position:relative;
    
}

.title-txt{
    position:absolute;
    bottom: 30px;
    font-size: 60px;
    font-weight:bold;
    left:10px;

}


.title&img h2{
    margin-bottom: 45px;
   margin-top: 30px;
    margin-left: 70px;
    
}

.services h1{
font-size: 60px;
height: 150px;
//border:1px solid red;
display:flex;
align-items: flex-end;
padding-bottom:15px;
}

.services-jumbo{
margin-top: 150px;
width:100%;
//border: 1px solid red;
}

.mobile-img{
    display:none;
}