 .title-and-img{
    border:1px solid red;;
    //background-image:"img/home/hom/Users/estevanrodriguez/Documents/git/User-Interface-Project-Week/img/home/home-jumbotron.pnge-jumbotron.png";
    height: 400px;
    display:flex;
    align-items: flex-end;
    color:#FFFFFF;
    font-size: 64px;
    font-weight: bold;
    line-height:75px;

    
	//background-image: url('img/home/home-jumbotron.png');
		
	background-size: auto;
	background-color: aqua;
    background-repeat: no-repeat;
    
}
.title-and-img h2{
    margin-bottom: 45px;
    margin-left: 70px;
}