.intro{
    background-image: url(/User-Interface-Project-Week/img/home/home-jumbotron.png);
    height:600px;
    display:flex;
    align-items: flex-end;
    padding-left:85px;
    padding-bottom:50px;
    margin-bottom:50px;
    h1{
        font-size:6.4rem;
        font-weight:bold;
        line-height:75px;
        color: #FFFFFF;
    }
}

.introduction{
    h2{
        font-size:2.5rem;
        font-weight:bold;
        color: #222222;
    }
    .introduction-section{
        border:1px solid red;
        display:flex;
    }
}