
.top-content {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 50px;
    max-width: 855px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    
    
    @media only screen and (max-width : 480px){
        margin-top: 10px;
        .no-padding();
        
    }
    .snj {
        
        padding: 50px 0 0 0;
        
        @media only screen and (max-width : 480px){
            flex-direction: column-reverse;
           
        }        
    }

    .snj-image-holder {
        padding-right: 0;
    
    .snj-image {
        background-image: url(../img/home/home-img-1.png);
        height: 275px;
        background-size: cover;
        
        @media only screen and (max-width : 480px) {
            background-image: url(../img/home/home-mobile-img-1.png);
        }
    }
} 
    .fd {
        padding: 45px 0 0 15px;
        @media only screen and (max-width: 480px){
            margin-top: 40px;
        }
    }

    .fd-image-holder {
        padding-left: 0;
    
    
    .fd-image {
            
        background-image: url(../img/home/home-img-2.png);
        height: 275px;
        background-size: cover;

        @media only screen and (max-width : 480px){
            background-image: url(../img/home/home-mobile-img-2.png);
            margin-bottom: 20px;
            
        }
    }
    }
    button {
        border: 1px solid @off-black;
        height: 47px;
        text-align: center;
        width: 135px;
        margin-top: 25px;
        background: @white;
        
        cursor: pointer;

        @media only screen and (max-width : 480px){
            width: 100%;
            margin-top: 27px;
            height: 45px;
            .no-padding();
        }
    }
    h2 {

        font-size: 2.4rem;

        @media only screen and (max-width : 480px){
            margin-top: 20px;
            font-size: 2.3rem;
        }
    }
    p {
        margin-top: 20px;
    }
}

.services-top-content {
    padding: 50px 85px;
}