.intro{
    background-image: url(/User-Interface-Project-Week/img/home/home-jumbotron.png);
    height:550px;
    display:flex;
    align-items: flex-end;
    padding-left:85px;
    padding-bottom:50px;
    h1{
        font-size:6.4rem;
        font-weight:bold;
        line-height:75px;
        color: #FFFFFF;
    }
}