
.top-content {
    margin-top: 40px;
    .snj {

        @media only screen and (max-width : 480px){

        }

        .snj-image {
            background-image: url(../img/home/home-img-1.png);
            height: 275px;
            background-size: 100% 100%;
            
            @media only screen and (max-width : 480px) {
                background-image: url(../img/home/home-mobile-img-1.png);
            }
        }
    }

    .fd {
        margin-top: 80px;
        .fd-image {
            background-image: url(../img/home/home-img-2.png);
            height: 275px;
            background-size: 100% 100%;

            @media only screen and (max-width : 480px){
                background-image: url(../img/home/home-mobile-img-2.png);
            }
        }
    }

    button {
        border: 1px solid #222;
        height: 40px;
        text-align: center;
        width: 130px;
        margin-top: 20px;
        background: @white;
        cursor: pointer;

        @media only screen and (max-width : 480px){
            width: 100%;
        }
    }

    h2 {
        
    }
    p {
        margin-top: 20px;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}