
.top-content {
    margin-top: 40px;
    @media only screen and (max-width : 480px){
        margin-top: 20px;
    }
    .snj {

        @media only screen and (max-width : 480px){
            flex-direction: column-reverse;
        }

        .snj-image {
            background-image: url(../img/home/home-img-1.png);
            height: 275px;
            background-size: 100% 100%;
            
            @media only screen and (max-width : 480px) {
                background-image: url(../img/home/home-mobile-img-1.png);
            }
        }
    }

    .fd {
        margin-top: 80px;
        @media only screen and (max-width : 480px){
            margin-top: 40px;
        }
        .fd-image {
            background-image: url(../img/home/home-img-2.png);
            height: 275px;
            background-size: 100% 100%;

            @media only screen and (max-width : 480px){
                background-image: url(../img/home/home-mobile-img-2.png);
                margin-bottom: 20px;
                
            }
        }
    }

    button {
        border: 1px solid @off-black;
        height: 40px;
        text-align: center;
        width: 130px;
        margin-top: 20px;
        background: @white;
        cursor: pointer;

        @media only screen and (max-width : 480px){
            width: 100%;
            margin-top: 30px;
            height: 45px;
        }
    }
    h2 {
        @media only screen and (max-width : 480px){
            margin-top: 20px;
            font-size: 2.3rem;
        }
    }
    p {
        margin-top: 20px;
    }
}

.services-top-content {
    padding: 50px 70px;
}