.top-third{
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    
    .design{
        display: flex;
        flex-direction: row;
        padding: 30px 0;
        
        
    }
    
}
.button{
    width: 90px;
    height: 30px;
    margin: 10px 0;
}

.top-words1, .top-words2{
    padding: 30px 10px;
}
