.sj-section {
    .center;
    flex-wrap: wrap;
    @media @mobile {
      flex-direction: column-reverse;
    }
    .top-content {
        @media @tablet {
            padding-left: 8%;
        }
    }
  }
  
  .futuristic-section {
    .center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    @media @mobile {
      flex-direction: column-reverse;
    }
    .top-content {
      padding-left: 8%;
      @media @mobile {
        padding: 0;
      }
    }
  }

.top-content {
    width: 49%;
    flex-wrap: wrap;
    margin: 7% 0%;
    @media @mobile {
    width: 88%;
    }
    h3 {
    font-size: 1.4rem;
    padding: 2% 0;
    }
    .top-content p {
    line-height: 22px;
    margin: 2% 0%;
    font-size: 5rem;
    }
}
    
  
  .top-img {
    width: 110%;
    @media @tablet {
        width: 95%;
    }
    @media @mobile {
      display: none;
      padding: 0;
    }
  }
  
  .top-img-mobile {
    display: none;
    @media @mobile {
      position: relative;
      width: 88%;
      display: block;
      margin-top: 30px;
    }
  }

  .sj-section .top-content .btn {
    width: 35%;
    text-align: center;
    margin-top: 20px;
    padding: 12px 15px;
    border: 1px solid black; 
    cursor: pointer;
    @media @tablet {
        min-width: 250px;
    }
    @media @mobile {
      width: 100%;
    }
  }
  
  .btn2 {
    width: 45%;
    text-align: center;
    margin-top: 20px;
    padding: 12px 15px;
    border: 1px solid black; 
    cursor: pointer;
    @media @tablet {
        min-width: 250px;
    }
    @media @mobile {
      width: 100%;
    }
  }
  
  .btn span, .btn i {
    display: inline-block;
    z-index: 100;
  }
  
  .backgroundHover {
    z-index: -1;
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
  }
  
  .btn2 span, .btn2 i {
    display: inline-block;
    z-index: 100;
  }
  
  .backgroundHover2 {
    z-index: -1;
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
  }

  h3 {
    font-weight: bold;
  }