.jumbo {
    height:598px;
    margin-bottom: 47px;
    @media @tablet {
        height: 504px;
    }
    @media @lmobile {
        height: 306px;
    }
    @media @mobile {
        height: 260px;
        margin-bottom: 37px;
    }
    .jumbotron-img {
        z-index: -1;
        width:100%;
        @media @mobile {
            display: none;
        }
    }
    .jumbotron-mobile-img {
        z-index: -1;
        display: none;
        @media @mobile {
            display: block;
        }
    }
    .cta { 
        z-index: 1;
        position: relative;
        top: -275px;
        left: 83px;
        font-weight: bold;
        font-size: 6.4rem;
        line-height: 7.5rem;
        color: @white;
        @media @lmobile {
            top: -150px;
            left: 0px;
            font-size: 4rem;
            line-height: 4.3rem;
        }
        @media @mobile {
            font-size: 3.5rem;
        }
    }
}
.jumbo-services {
    height: 250px;
    margin-bottom: 53px;
    @media @tablet {
        margin-bottom: 44px;
    }
    @media @mobile {
        height: 258px;
        margin-bottom: 34px;
    }
    .jumbtron-services-mobile-img {
        display: none;
        z-index: -1;
        @media @mobile {
            display: block;
        }
    }
    .jumbotron-services-img {
        z-index: -1;
        @media @mobile {
           display: none;
        }
    }     
    .cta-services h1 {
        z-index: 1;
        position: relative;
        top: -93px;
        left: 85px;
        font-weight: bold;
        font-size: 6.4rem;
        line-height: 7.5rem;
        color: @white;
        @media @mobile {
            top: -71px;
            left: 15px;
            font-size: 3.6rem;
            line-height: 5.5rem;
        }
    }  
}

.jumbo-contact {
    height: 250px;
    margin-bottom: 48px;
    @media @tablet {
        margin-bottom: 44px;
    }
    @media @mobile {
        height: 258px;
        margin-bottom: 34px;
    }
    .jumbtron-contact-mobile-img {
        display: none;
        z-index: -1;
        @media @mobile {
            display: block;
        }
    }
    .jumbotron-contact-img {
        z-index: -1;
        @media @mobile {
           display: none;
        }
    }     
    .cta-contact h1 {
        z-index: 1;
        position: relative;
        top: -93px;
        left: 85px;
        font-weight: bold;
        font-size: 6.4rem;
        line-height: 7.5rem;
        color: @white;
        @media @mobile {
            top: -71px;
            left: 15px;
            font-size: 3.6rem;
            line-height: 5.5rem;
        }
    }  
}

.topbar {
    z-index: 3;
    position: fixed;
    max-width: 1024px;
    top: 0px;
    width: 100%;
    display: flex;
    background: @top-bar;
    justify-content: space-between;
    @media @mobile {
        height: 51px;
    }
}
.nav-button {        
    padding: 1.32% 8.23%;
    width: 20%;
    cursor: pointer;       
    @media @lmobile {
        width: 22%;
    }
    @media @mobile {
        padding: 4.5% 5%;
        width: 20%;        
    }
}

.logo {
    font-weight: bold;
    font-size: 2.4rem;
    color: @white;
    padding: 1.32% 8.23%;
    @media @mobile {
        padding: 4.5% 5%;
        font-size: 2.4rem;
    }
}
.nav-close {
    padding: 1.32% 8.23%;
    width: 20%;
    cursor: pointer;
    @media @lmobile {
        width: 22%;
    }       
    @media @mobile {
        padding: 4.5% 5%;
        width: 20%;        
    }
}
.menu {
    display: none;
    opacity: 0.96;
    width: 100%;
    max-width: 1024px;
    position: fixed;
    top: 0px;
    height: 100vh;
    background: @top-bar;
    z-index: 4;
}

.menu-top {
    display: flex;
    justify-content: space-between;
}

.menu--open {
    display: block;
}

ul {
    margin: 125px auto;
    text-align: left;
    width: 33%;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 85px;
    :hover {
        color: #222222;
    }
    a {
        text-decoration: none;
        color: #FFFFFF;
    }
    @media @mobile {
        margin-top: 45px;
        margin-left: 70px;
    }
}
.topbar-services {
    top: 0px;
}

.menu-services {
    top: 0px;   
}