.jumbo {
    height:598px;
    margin-bottom: 47px;
    @media @mobile {
        height: 395px;
        margin-bottom: 55px;
    }
    .jumbotron-img {
        z-index: -1;
        @media @mobile {
            display: none;
        }
    }
    .jumbotron-mobile-img {
        z-index: -1;
        display: none;
        @media @mobile {
            display: block;
        }
    }
    .cta { 
        z-index: 1;
        position: relative;
        top: -275px;
        left: 83px;
        font-weight: bold;
        font-size: 6.4rem;
        line-height: 7.5rem;
        color: @white;
        @media @mobile {
            top: -223px;
            left: 18px;
            font-size: 5.1rem;
            line-height: 5.5rem;
        }
    }
}
.jumbo-services {
    height: 250px;
    margin-bottom: 53px;
    .jumbtron-services-mobile-img {
        display: none;
        z-index: -1;
        @media @mobile {
            display: block;
        }
    }
    .jumbotron-services-img {
        z-index: -1;
        @media @mobile {
           display: none;
        }
    }     
    .cta-services h1 {
        z-index: 1;
        position: relative;
        top: -93px;
        left: 85px;
        font-weight: bold;
        font-size: 6.4rem;
        line-height: 7.5rem;
        color: @white;
        @media @mobile {
            top: -223px;
            left: 18px;
            font-size: 5.1rem;
            line-height: 5.5rem;
        }
    }  
}

.topbar {
    z-index: 0;
    position: relative;
    top: -823px;
    width:100%;
    display: flex;
    background: @top-bar;
    justify-content: space-between;
    @media @mobile {
        height: 75px;
    }
}
.nav-button {        
    padding: 1.32% 8.23%;
    cursor: pointer;       
    @media @mobile {
        padding: 4.5% 5%;
        width: 20%;        
    }
}

.logo {
    font-weight: bold;
    font-size: 2.4rem;
    color: @white;
    padding: 1.32% 8.23%;
    @media @mobile {
        padding: 4.5% 5%;
        font-size: 3.4rem;
    }
}
.nav-close {
    padding: 1.32% 8.23%;
    cursor: pointer;       
    @media @mobile {
        padding: 4.5% 5%;
        width: 20%;        
    }
}
.menu {
    display: none;
    opacity: 0.96;
    width: 100%;
    position: relative;
    top: -874px;
    height: 100vh;
    background: @top-bar;
    z-index: 2; 
}

.menu-top {
    display: flex;
    justify-content: space-between;
}

.menu--open {
    display: block;
}

ul {
    margin: 125px auto;
    text-align: left;
    width: 33%;
    font-weight: bold;
    font-size: 48px;
    line-height: 85px;
    :hover {
        color: #222222;
    }
    a {
        text-decoration: none;
        color: #FFFFFF;
    }
}
.topbar-services {
    top: -325px;
}

.menu-services {
    top: -377px;   
}