.jumbo {
    height:645px;
    .jumbotron-img {
        position: relative;
        top:-50px;
        z-index: -1;

    }
    .topbar {
        z-index:1;
        width:100%;
        display: flex;
        background: @top-bar;
        justify-content: space-between;
        img {
            padding: 1.32% 8.23%;
        }
        .logo {
            font-weight: bold;
            font-size: 2.4rem;
            color: @white;
            padding: 1.32% 8.23%;
        }
    }

    .menu {
        display: none;
    }

    .cta { 
        z-index: 1;
        position: relative;
        top: -325px;
        left:80px;
        font-weight: bold;
        font-size: 6.4rem;
        line-height: 7.5rem;
        color: @white;
    }
}    