.top {
  @media (min-width: 320px) {
    margin-bottom: 20px;
  }
}
.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
nav {
  background: lightgray;
  display: flex;
  position: relative;
}
nav span {
  font-weight: bold;
  font-size: 2.4rem;
  color: #ffffff;
  padding: 10px 0px 10px 5%;
}
nav .menu {
  padding: 15px 5% 10px 0;
  right: 0;
}
.imgContainer {
  position: relative;
}
.imgContainer .jumbotron {
  z-index: -1;
  width: 100%;
  padding: 0;
  @media (max-width: 320px) {
    display: none;
  }
}
.imgContainer .jumbotronMobile {
  width: 100%;
  z-index: -1;
  padding: 0;
  @media (min-width: 321px) {
    display: none;
  }
}
.textInImg {
  position: absolute;
  top:50%;
  left: 20%;
  font-family: Roboto;
  @media (max-width: 320px) {
    top: 110px;
    left: 10px;
  }
}
.textInImg p {
  font-weight: bold;
  font-size: 6rem;
  line-height: 75px;
  color: #ffffff;
  @media (max-width: 320px) {
    font-size: 3.4rem;
    line-height: 28px;
  }
}
.topTop {
  margin-bottom: 100px;
  font-size: 1.4rem;
  @media (max-width: 320px) {
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
}
.topTop .header {
  @media (max-width: 320px) {
    width: 100%;
  }
}
.smallImg {
  padding-bottom: 20px;
  @media (max-width: 320px) {
    display: none;
  }
}
.smallMobileImg {
  margin-bottom: 18px;
  @media (min-width: 320px) {
    display: none;
  }
}
.topMobileImg {
  margin-top: 20px;
}
.topBottom {
  margin-bottom: 100px;
  font-size: 1.4rem;
  @media (max-width: 320px) {
    flex-direction: column;
    margin-bottom: 50px;
  }
}
.topButton {
  width: 150px;
  border: 1px solid #222222;
  padding: 5px 5px;
  text-align: center;
  background: #ffffff;
  @media (max-width: 320px) {
    width: 100%;
  }
}
.topButton:hover {
  background: #222222;
  color: #ffffff;
  cursor: pointer;
}
