nav {
    background: lightgray;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
  }
  nav span {
    font-weight: bold;
    font-size: 2.4rem;
    color: #FFFFFF;
    padding: 10px 0px 10px 5%;
  }
  nav .hamburger {
  
  }
  nav .menu {
    padding: 15px 5% 10px 0;
    right: 0;
  }
  .imgContainer {
  }
  .imgContainer .jumbotron {
    position: absolute;
    z-index: -1;
    width: 100%;
    padding: 0;
    @media (max-width: 320px) {
      display: none;
    }
  }
  .jumbotron .jumbotronMobile {
    width: 100%;
    position: absolute;
    z-index: -1;
    padding: 0;
    @media (min-width: 321px) {
      display: none;
    }
  }
  .textInImg {
    font-family: Roboto;
    padding: 270px 0 100px 109px;
    @media (max-width: 320px){
      padding: 0;
    }
  }
  .textInImg p {
    font-weight: bold;
    font-size: 6rem;
    line-height: 75px;
    color: #FFFFFF;
    @media (max-width: 320px){
      font-size: 3.4rem;
      line-height: 28px;
      margin-top: ;
    }
  }
  .topTop {
    margin-bottom: 100px;
    @media (max-width: 320px){
      flex-direction: column-reverse;
      justify-content: ;
      align-items: ;
      margin-bottom: 50px;
    }
  }
  .topTop .header{
    @media (max-width: 320px){
      width: 100%;
    }
  }
  .smallImg {
    padding-bottom: 20px;
  }
  .topBottom {
    margin-bottom: 100px;
    @media (max-width: 320px){
      flex-direction: column;
      justify-content: ;
      align-items: ;
      margin-bottom: 50px;
    }
  }
  .topButton {
    width: 150px;
    border: 1px solid #222222;
    padding: 5px 5px;
    text-align: center;
    background: #FFFFFF;
    @media (max-width: 320px) {
      width: 100%;
    }
  }
  .topButton:hover {
   background: #222222;
   color: #FFFFFF;
   cursor: pointer;
  }