body {
  background: #FFFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
}

.nav {
  background: #828282;
  opacity: .75;
}

.main-container {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 36px;
  padding: 0 20px;
}

.jumbo {
  .flexit;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 30px 65px;

  h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
  }
}

.footer {
  background: #828282;
  padding: 20px;

  h3 {
    font-weight: regular;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }

  p {
    font-weight: regular;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
  }

  small {
    color: white;
  }

  .copyright {
    margin: 10px auto 0;
  }
}
