body {
  background: #FFFFFFF;
  color: #222222;
  font-family: Roboto, Arial, sans-serif;
}

.nav {
  background: #828282;
  opacity: .75;

  nav {
    width: 100%;
    .flexit;
    justify-content: space-between;
    padding: 0 50px;

    h3 {
      font-weight: bold;
      font-size: 24px;
      color: #FFFFFF;
    }

    a {
      display: none;
    }

    .navBurger {
      height: 21px;
      align-self: center;
    }
  }
}

.main-container {
  max-width: 880px;
  margin: 0 auto;
  // display: flex;
  // justify-content: center;
}

.jumbo {
  .flexit;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 30px 65px;

  h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
  }
}

.footer {
  background: #828282;
  padding: 20px;

  h3 {
    font-weight: regular;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }

  p {
    font-weight: regular;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
  }

  small {
    color: white;
  }

  .copyright {
    margin: 10px auto 0;
  }
}
