.container {



    header{
              display: flex; 
              justify-content: space-between;
              background-color: #989898; 
              padding: 15px 0;
    
                .burger{
                              margin-right: 10%;
                              cursor: pointer;
                            }
              .company{
                            font-size: 2.2rem;
                            color: #FFFFFF;
                            text-decoration: none;
                            margin-left: 3%;
    
                          
              }
    }
    
    .menu-button {
      position: absolute;
      left: 20px;
      cursor: pointer;
    }
    nav { 
                font-weight: bold; 
                font-size: 70px;
                font-family: 'Roboto';
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                margin-left: 35%;
    
                a {
                    color:#FFFFFF;
                    text-decoration: none; 
                      margin: 0 10px;
                      padding: 5%;
    
                    &:hover {
                        color:#222222;
                    }
                }
             
    }
    .menu {
      display: none;
      position: fixed;
      width: 100vw;
      height: 100vh; /* This give the height 100% of the screen or, '100% of View Height' */
      background-color:lightgrey;
      border-left: none;
      border-bottom: none;
      z-index: 2; /* This set the layer level of the element, it has precendence over initial level of 1*/
      opacity: .9;
    
    }
    
    .menu ul li{
      list-style-type: none;
      font-size: 32px;
      padding: 30px 0;
      text-align: center;
    }
    
    .menu--open {
      display: block;
    }
    
    
    
    .home-page{
      width: 1000px;
      margin: auto;
    }
    .main-content{
    
     
    
      .home-jumbo{
        background-image:url("../img/home/home-jumbotron.png");
        background-size:cover;
        background-position:center;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100vh;
    
        
      
        
        
        
        h1{
          font-size: 6.0rem;
          color: #FFFFFF;
          line-height: 75px;
          margin-left: 6%; 
          margin-bottom: 30px;
          font-weight: bold;
          
          @media(max-width: 600px)
          {
            font-size: 3.0rem;
           line-height: 35px;
          }
          
        }
      }
      .services-jumbo{
        background-image:url("../img/services/services-jumbotron.png");
        background-size:cover;
        background-position:center;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 50vh;
    
        @media(max-width:400px) {
          
        }
        
        h1{
          font-size: 6.0rem;
          color: #FFFFFF;
          line-height: 75px;
          margin-left: 6%; 
          margin-bottom: 30px;
          font-weight: bold;
          
        }
      }
    }
    }
    
    
     p {
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Roboto';
        margin-bottom: 50px;
        @media(max-width:400px) {
          width: 90%;
        }
      }
      h3 {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 28px;
        color: #222222;
        margin-bottom: 20px;
      }
      .button{
        width: 100px;
        height: 40px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        
    
        &:hover {
          background-color: #222222;
          color: white;
          cursor: pointer;
        }
      }
      .mid-content{
        width: 1000px;
        margin: 0 auto;
        
    
        padding: 5%;
      }
    
    
    
      
    .mid-content{
      
     
      p{
        width: 50%;
        @media(max-width: 400px)
        {
          width: 25%;
        }
      }
    
    }