.margin-r-sm{ margin-right: 1rem}
.margin-r-md{ margin-right: 2rem}
.margin-r-lg{ margin-right: 4rem}

.margin-l-lg{ margin-left: 4rem}
.margin-l-md{ margin-left: 2rem}
.margin-l-sm{ margin-left: 1rem}

.margin-t-sm{ margin-top: 1rem}
.margin-t-md{ margin-top: 2rem}
.margin-t-lg{ margin-top: 4rem}
.margin-t-xlg{ margin-top: 6rem}
.container{
    max-width: 810px;
    margin: auto;
    // padding-bottom: 29rem;
    // min-height: 100vh; 
    @media(max-width: 400px){
        padding: 0 2.5rem;
    }
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flex1{
    flex: 1;
}
.align__center{
    align-items: center;
}
.hide{
    display: none;
}