// ### General Text
// - Font Weight: Regular
// - Font Size: 16px
// - Line Height: 24px

// ### Sub Headers
// - Font Weight: Bold
// - Font Size: 28px
// - Color: #222222

// ### Footer Text
// - Font Weight: Regular
// - Font Size: 14px
// - Line Height: 26px
// - Color: #FFFFFF


@white: white;
@bold: 700;
@sub-size: 28px;
@general-line-height: 24px;
@footer-back:  #828282;
@regular: 400;
@normal-height: 24px;