// General Styles
@background: #ffffff;
@color: #222222;
@font-family: Roboto, Arial, sans-serif;
@font-weight: Regular;
@font-size: 16px;
@line-height: 24px;

// Home Page
@home-projects-gray: #d8d8d8;
@home-btn-border: #222222;

// Services Page
@services-tab-selected-bg: #5e9fb9;
@services-tab-hover-bg: #222222;
@services-tab-hover-color: #fff;

// Footer
@footer-bg: #828282;
@footer-head-font-weight: Regular;
@footer-head-font-size: 20px;
@footer-head-line-height: 24px;
@footer-head-color: #ffffff;
@footer-text-font-weight: Regular;
@footer-text-font-size: 14px;
@footer-text-line-height: 26px;
@footer-text-color: #ffffff;

// Jumbotron Headers
@jumbo-font-weight: Bold;
@jumbo-font-size: 64px;
@jumbo-line-height: 75px;
@jumbo-color: #ffffff;

// Sub Headers
@sub-font-weight: Bold;
@sub-font-size: 28px;
@sub-color: #222222;

// Navigation Logo
@logo-font-weight: Bold;
@logo-font-size: 24px;
@logo-color: #ffffff;

// Navigation Text
@nav-font-weight: Bold;
@nav-font-size: 48px;
@nav-line-height: 85px;
@nav-color: #ffffff;
@nav-hover-color: #222222;
