@white: #FFFFFF;
@project-gray: #D8D8D8;
@button-border: #222222;
@header-background: #97A4B0;

@footer-background: #828282;

// Services Variables
@tab-select-background: #5E9FB9;
@tab-hover-background:  #222222;
@tab-hover-color: #FFF;

// Media Query
@phone: ~"(max-width: 500px)";
@desktop1200: ~"(max-width: 1200px)";
@desktop1100: ~"(max-width: 1100px)";
@tablet: ~"(max-width: 768px)";