/* LESS variables */

/* General Text */
@general-font-weight: regular; 
@general-font-size: 1.6rem;
@general-line-height: 2.4rem;

/* Jumbotron Headers */
@jumbotron-font-weight: bold;
@jumbotron-font-size: 6.4rem;
@jumbotron-line-height: 7.5rem;
@jumbotron-color: #FFFFFF; 

/* Sub Headers */
@subheaders-font-weight: bold;
@subheaders-font-size: 2.8rem;
@subheaders-color: #222222;

/* Footer Headings */ 
@footerheadings-font-weight: bold;
@footerheadings-font-size: 2.0rem;
@footerheadings-line-height: 2.4rem;
@footerheadings-color: #FFFFFF;

/* Footer Text */ 
@footertext-font-weight: regular;
@footertext-font-size: 1.4rem;
@footertext-line-height: 2.6rem;
@footertext-color: #FFFFFF;

/* Navigation Logo */
@navlogo-font-weight: bold;
@navlogo-font-size: 2.4rem;
@navlogo-color: #FFFFFF;

/* Expanded Navigation Text */
@navexpanded-font-weight: bold;
@navexpanded-font-size: 4.8rem;
@navexpanded-line-height: 8.5rem;
@navexpanded-color: #FFFFFF;
@navexpanded-hover-color: #222222;

/* Media query variables*/
@smartphones: ~"only screen and (max-width: 479px)";
@tablets: ~"only screen and (max-width: 1200px)";