@navFontSize: 2.0rem; 
@h1: 4.0rem; 


/*mixins--------------------------------------------------------------*/

.flex(){
    display: flex; 
    flex-wrap: wrap; 
}


/*---Main Section Mixins-----------------------------------------------------------*/

.section-align(){
    .flex; 
    width: 100%; 
    justify-content: space-around; 
}

.content-align(){
    .flex; 
    flex-direction: column; 
    justify-content: center; 
}
.section-width(){
    width: 50%; 
}

.image-banner(){
    border: 1px solid #ffffff; 
    width: 260px; 
    height: 90px; 
    justify-content: center; 
    align-items: center; 
    transform: translate(0px, -50px); 
    .flex; 
    background-color: #D8D8D8
    
}

.general-text(){
    font-weight: regular; 
    font-size: 16px;
    line-height: 24px;
}

.button-1(){
    border: 1px solid black; 
    width: 25%; 
    text-align: center; 
    padding: 15px; 
    font-size: 1.6rem; 
    margin-top: 20px; 
}

.nav-header(){
    font-size: 2rem; 
    
    color: #ffffff; 
}


