@navFontSize: 2.0rem; 
@h1: 3.0rem; 


/*mixins--------------------------------------------------------------*/

.flex(){
    display: flex; 
    flex-wrap: wrap; 
}


/*---Main Section Mixins-----------------------------------------------------------*/

.section-align(){
    .flex; 
    width: 100%; 
    justify-content: center;
}

.content-align(){
    .flex; 
    flex-direction: column; 
    justify-content: center; 

}
.section-width(){
    width: 45%; 
}

.image-banner(){
    border: 1px solid #ffffff; 
    width: 310px; 
    height: 90px; 
    justify-content: center; 
    align-items: center; 
    transform: translate(0px, -50px); 
    .flex; 
    background-color: #D8D8D8
    
}

.general-text(){
    font-size: 16px;
    line-height: 24px;
}

.button-1(){
    border: 1px solid black; 
    width: 110px;  
    text-align: center; 
    padding: 12px; 
    font-size: 1.6rem; 
    margin-top: 30px; 
}

.button-2(){
    border: 1px solid black; 
    width: 18%; 
    text-align: center; 
    font-weight: bold; 
    padding: 15px; 
    font-size: 1.9rem; 
}

.nav-header(){
    font-size: 2rem; 

    color: #ffffff; 
}


