/*Variables*/
@bgcolor: #FFFFFF;
@main-font: #222222;
@secondary-font: #222222;


//Home Page
@recent-projects-squares: #D8D8D8;
@bottom-border: #222222;

//Service Page
@tab-selected-bg: #5E9FB9;
@tab-hover-bg: #222222;
@tab-hover-font: #FFFFFF;

//Footer/ Header
@header-bgcolor: #919CA6;
@footer-bgcolor: #828282;






/*Mixins*/
.flex-box(@flex-direction: row, @justify-content: flex-start, @align-items: flex-start){
    display: flex;
    flex-direction: @flex-direction;
    justify-content: @justify-content;
    align-items: @align-items;
}