/*--- FONT FAMILIES -------*/
@generalFontFamily: 'Roboto', 'Arial', sans-serif;


/*---- FONTS - WEIGHT & SIZES ----*/
@fontBold : bold;
@fontBold900 : 900px;
@fontReg : normal;

@fontSizeReg: 1rem;
@fontSize24px : 1.5rem; //24px
@navFontSize: 3rem; //48px
@jumboFontSize: 4rem;//64px
@jumboMobileFontSize: 3rem;
@homeSubFontSize: 1.75rem; //28px
@homeSubMobileFont: 1.7rem; 
@footerFontSize: 0.875rem; //14px
@footerHeadingSize: 1.25rem; //20px;

/*FONT LiNE HEIGHT*/
@generalLineHeight: 1.5rem;
@navLineHeight : 5.3125rem; //85px
@jumboLineHeight : 4.6875rem;//75px
@jumboMobileLineH: 3.5rem; //37.5px
@footerLineHeight: 1.625rem; //26px
@footerHeaderLH: 1.5rem; //24px



/*---Widths & Heights -----*/
@maxWidth : 1024px;
@contentMaxWidth: 800px;
@100perWidth : 100%;
@navElementsWidth: 10%;

@mobileMaxWidth320: 320px;
@mobileMaxWidth500: 700px;
@mobileMaxWidth: 285px;

/* ---colors -----*/
@white : #fff;
@generalColor: #222;

@navBackgroundColor : #98a4af;
@navLinksColor: @white;
@logoColor: @white;
@jumboColor: @white;
@homepageSubHeaders: @generalColor;
@btnBorderColor: @generalColor;
@recentProjectsBoxColor: #D8D8D8;
@footerFontColor: @white;
@footerColor: #828282;
@buttonBGHover: #649fb8;
@buttonColorHover: @white;


/*MOBILE  BREAKPOINTS*/
@mobileBreak450: 600px;
@mobileBreak800: 850px;
@mobileBreak800min: 85%;
@mobileBreakMin600: 601px;
@mobileBreak320: 320px;


