//variables
@white: #ffffff;
@ltgray: #d8d8d8;
@offblack: #222222;
@dkgray: #828282;
@blue: #5e9fb9;


// mixins

.flex-box (@flex-direction: row, @justify-content: flex-start, @align-items: flex-start) {
    display: flex;
    flex-direction: @flex-direction;
    justify-content: @justify-content;
    align-items: @align-items;
}