.viewDesigns {


    .viewDesignsBanner {
        background-image: url("../img/viewDesignBanner.jpeg");
        width: 100%;
        height: 300px;
        max-width: 1024px;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
      

        h1 {
            background: none;
            color: white;
            font-size: 6.4rem;
            padding: 0 0 48px 8%;
        }
    } // End of Services Banner
    

.contentWidthWrapper {
margin: 0 auto;
width: 76.1%;


.RP-img-square {
    background: #d8d8d8;
    width: 51%;
    display: flex;
    justify-content: center;
    font-weight: normal;
    padding: 34px 0%;
    letter-spacing: 6px;
    position: relative;
    z-index: 1;
    left: 131px;
    top: 62px;
    margin-top: 150px;
}



   } // End of Content Width Wrapper

} // End of services container