.viewDesigns {


    .viewDesignsBanner {
        background-image: url("../img/viewDesignBanner.jpeg");
        width: 100%;
        height: 250px;
        max-width: 1024px;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: flex-end;
      

        h1 {
            background: none;
            color: white;
            font-size: 6.4rem;
            padding: 0 0 48px 8%;
        }
    } // End of Services Banner
    

.contentWidthWrapper {
margin: 0 auto;
width: 76.1%;


    .servicesCTA {
        margin-top: 49px;
    }

   } // End of Content Width Wrapper

} // End of services container