
.weapon-content {
    .flex(column,center,center);
    .weapon-nav-sec {
        width:85%;
        @media(max-width:600px) {
            width: 95%;
            margin-top: 0;
            text-align: center;
        }
        
        .flex(row,center,space-between);
        flex-wrap: wrap;
        .weapon-nav-button {
            cursor: pointer;
            padding: 15px;
            margin: 10px 1%;
            border: 1px solid black;
            text-align: center;
            .font(regular,3rem,black,regular);

            @media(max-width:600px) {
                padding: 15px 2%;

                margin: 5px 0px;
                width: 100%;
                .font(regular,4rem,black,regular);

            }
        }
        .clicked {
            background-color: @tabselectbc;
            color:white;
            cursor: default;
        }
        p {
            .font(regular,1.75rem,black,regular);

            @media(max-width:600px) {
                .font(regular,2.25rem,black,regular);
                width: 100%;
            }
        }
    }

    .tab {
        margin: 20px 0px;
        width:85%;
        @media(max-width:600px) {
            width: 100%;
            position: sticky;
            top: 40px;
            background-color: white;
            padding: 15px;
            border-bottom: 3px solid orange;        
        }
        .tab-stuff {
            .flex(column,space-between,flex-start);
            width:100%;
        @media(max-width:950px) {
            .flex(column,center,center);
        }
            .head-text {
                font-family: 'Kameron', serif;
                .font(bold,2.25rem,#222222,regular);
                margin-bottom: 10px;
                @media(max-width:950px) {
                    .font(bold,2.75rem,black,24px);
                    padding: 20px;
                }
                @media(max-width:600px) {
                    .font(bold,3.25rem,black,24px);
                    padding: 20px;
                }
            }

            img {
                height: 60vh;
                align-self: center;
                @media(max-width:950px) {
                    width: 90%;
                    height: auto;

                }
                @media(max-width:600px) {
                    width: auto;
                    height: 250px;

                }
            }

            .bottle {
                @media(max-width:600px) {
                    width: 20%;
                    object-fit: cover;
                    height: auto;

                }            
            }

            .knife {
                @media(max-width:600px) {
                    width: 50%;
                    object-fit: cover;
                    height: auto;

                }            
            }
        }
    }

    .visible {
        .flex(row,space-between,center);
        @media(max-width:600px){
            width: 100%;
            .flex(column,center,center);

        }
    }

    .invisible {
        display:none;
    }
}