.weapon-sec1 div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  }
  @media (max-width: 600px) {
    .weapon-sec1 div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      align-self: center;
    }
  }
  .weapon-sec1 div p {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.75rem;
    color: black;
    line-height: 24px;
    border: 1px solid gray;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  @media (max-width: 600px) {
    .weapon-sec1 div p {
      font-weight: bold;
      font-size: 2.5rem;
      color: black;
      line-height: 24px;
      width: 95%;
      padding: 30px;
      margin: 10px;
    }
  }

  .weapon-sec1 {
    margin: 50px 0px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }
  @media (max-width: 600px) {
    .weapon-sec1 {
      width: 100%;
    }
  }
  .weapon-sec1 .service-nav {
    cursor: pointer;
  }
  .weapon-sec1 .clicked {
    background-color: orange;
    color: white;
    cursor: default;
  }
  .weapon-sec1 p {
    font-weight: regular;
    font-size: 1.75rem;
    color: black;
    line-height: regular;
  }
  @media (max-width: 600px) {
    .weapon-sec1 p {
      font-weight: regular;
      font-size: 2.25rem;
      color: black;
      line-height: regular;
      width: 100%;
    }
  }