.cta-services {
    .cta-services-text {
        position: absolute;
        z-index: 2;
    }
    cta-services-img {
        position: relative;
        z-index: 1;
    }
}

.top-services {
    border: 1px solid red;
}
.tab-nav {
    border: 1px solid red;
}