.sec1 {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

  .sec1Cont {
    order: 2;
    width: 90%;
  }

    .sec1Cont h2 {
      font-weight: bold;
      font-size: 28px;
      color: #000;
      margin-top: 30px;
    }

    .sec1Cont p {
      font-size: 16px;
      line-height: 24px;
      margin-top: 20px;
    }

    .sec1Cont button {
      width: 100%;
      border: 1px solid #000;
      background-color: #fff;
      height: 45px;
      margin-top: 20px;
      cursor: pointer;
    }

    .sec1Cont button:hover {
      background-color: #000;
      color: #fff;
    }

.img {
  order: 1;
  width: 90%;
  height: 275px;
  background-image: url('./../../assets/home/home-mobile-img-1.png');
  background-size: cover;
  margin-top: 30px;
}