/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: Roboto, Arial, sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2rem;
  padding-bottom: 10px;
}
p {
  line-height: 2.5rem;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}
.container .mobile {
  display: none;
}
.nav-container {
  padding: 5px 8%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: #8fa0b1;
}
.nav-container .logo {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff;
}
.nav-container .nav-bar {
  display: none;
}
.nav-container .menu-icon {
  display: inline-block;
  cursor: pointer;
}
.nav-container .menu-icon .bar1,
.nav-container .menu-icon .bar2,
.nav-container .menu-icon .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.nav-container .menu-icon .bar1:hover,
.nav-container .menu-icon .bar2:hover,
.nav-container .menu-icon .bar3:hover {
  color: #222222;
}
.nav-container .menu-icon .change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.nav-container .menu-icon .change .bar2 {
  opacity: 0;
}
.nav-container .menu-icon .change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
footer {
  padding: 5%;
  color: white;
  height: 250px;
  width: 100%;
  background: #828282;
  display: flex;
  flex-direction: column;
}
footer .address-section {
  display: flex;
  justify-content: space-evenly;
}
footer .copyright {
  align-self: center;
}
.cta {
  position: relative;
  color: white;
}
.cta .cta-text {
  line-height: 4.5rem;
  font-size: 64px;
  font-weight: bold;
  position: absolute;
  bottom: 70px;
  left: 70px;
}
.main-content {
  margin: 5%;
}
@media (max-width: 550px) {
  .main-content {
    margin: 0;
  }
}
.main-content h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #222222;
  margin-bottom: 30px;
}
.main-content .top-content .content-section {
  margin-top: 50px;
  display: flex;
  margin-bottom: 10%;
}
@media (max-width: 550px) {
  .main-content .top-content .content-section {
    flex-direction: column-reverse;
  }
}
.main-content .top-content .content-section .text-content {
  margin-top: 5%;
  padding: 0 3%;
  width: 50%;
}
@media (max-width: 550px) {
  .main-content .top-content .content-section .text-content {
    width: 100%;
  }
  .main-content .top-content .content-section .text-content .button {
    width: 100%;
    display: block;
    font-size: 1.5rem;
  }
}
.main-content .top-content .content-section h3 {
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 5%;
}
.main-content .top-content .content-section p {
  font-size: 1.5rem;
  margin-bottom: 3%;
}
.main-content .top-content .content-section .button {
  text-align: center;
  font-size: 1.2rem;
  padding: 5% 0;
  width: 102px;
  height: auto;
  display: inline-block;
  border: 1px solid #222222;
  cursor: pointer;
}
.main-content .top-content .content-section .button:hover {
  background: lightslategray;
  color: white;
  transition: 0.2s;
}
.content-section {
  margin-bottom: 10%;
}
.content-section .cta-container {
  position: relative;
  text-align: center;
}
.content-section .cta-container .word-overlay {
  padding-top: 25px;
  font-size: 1.2rem;
  letter-spacing: 5px;
  width: 38%;
  height: 40%;
  position: absolute;
  bottom: -17%;
  right: 0%;
  border: 1px solid white;
  background: #d8d8d8;
}
@media (max-width: 550px) {
  .content-section .cta-container .word-overlay {
    width: 96%;
    height: 80%;
    bottom: -65%;
    right: 2%;
  }
}
.content-section .cta-container .outskirts-word-overlay {
  padding-top: 25px;
  font-size: 1.2rem;
  letter-spacing: 5px;
  width: 38%;
  height: 40%;
  position: absolute;
  bottom: -17%;
  left: 0%;
  border: 1px solid white;
  background: #d8d8d8;
}
@media (max-width: 550px) {
  .content-section .cta-container .outskirts-word-overlay {
    width: 96%;
    height: 80%;
    bottom: -65%;
    left: 2%;
  }
}
.content-section .text-content {
  margin: 0 auto;
  width: 50%;
  margin-top: 10%;
}
@media (max-width: 550px) {
  .content-section .text-content {
    margin: 70px 0;
    padding: 0 5%;
    width: 100%;
  }
}
.contact .contact-img {
  position: relative;
  text-align: center;
  color: white;
}
.contact .contact-img .heading {
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.contact .main-content {
  display: flex;
}
.contact .main-content .form-content form {
  display: flex;
  flex-direction: column;
}
