/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}
.nav-container {
  padding: 5px 8%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: lightslategray;
}
.nav-container .logo {
  color: white;
}
.nav-container .nav-bar {
  display: none;
}
.nav-container .menu-icon {
  display: inline-block;
  cursor: pointer;
}
.nav-container .menu-icon .bar1,
.nav-container .menu-icon .bar2,
.nav-container .menu-icon .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.nav-container .menu-icon .change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.nav-container .menu-icon .change .bar2 {
  opacity: 0;
}
.nav-container .menu-icon .change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
.cta {
  position: relative;
  text-align: center;
  color: white;
}
.cta .cta-text {
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.top-content {
  margin: 5%;
}
.top-content .content-section {
  display: flex;
  margin-bottom: 10%;
}
.top-content .content-section .text-content {
  margin-top: 5%;
  padding: 0 3%;
  width: 50%;
}
.top-content .content-section .text-content h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 5%;
}
.top-content .content-section .text-content p {
  font-size: 1.5rem;
  margin-bottom: 3%;
}
.top-content .content-section .text-content .button {
  text-align: center;
  font-size: 1.2rem;
  padding: 5% 0;
  width: 30%;
  height: 25%;
  display: inline-block;
  border: 1px solid black;
  cursor: pointer;
}
.top-content .content-section .text-content .button:hover {
  background: lightslategray;
  color: white;
}
.top-content .content-section .img-content {
  margin-left: 2%;
}
