.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #99a4af;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  color: #fff;
}

.dropdownButton {
  width: 25px;
  height: 25px;
  margin: 10px 10px 0 0;
  background-image: url('./../../assets/nav-hamburger.png');
  background-size: cover;
  cursor: pointer;
}

nav {
  display: none;
}

/* EXPANDED TOGGLE CLASSES */
.headerExpanded {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  opacity: 0.9;
}

  .headerExpanded h1 { padding: 20px 0 0 20px; }
  .headerExpanded img { margin: 20px 20px 0 0; }

  .navExpanded {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 25%;
  }

  .navExpanded a {
    font-size: 48px;
    font-weight: bold;
    line-height: 85px;
    color: #fff;
    text-decoration: none;
  }

  .navExpanded a:hover {
    columns: #000;
  }

  .current { color: #504545; }

  .closeNav {
    width: 25px;
    height: 25px;
    margin: 10px 10px 0 0;
    background-image: url('./../../assets/nav-hamburger-close.png');
    background-size: cover;
    cursor: pointer;
  }

  @media (min-width: 736px) {
    .navExpanded {
      margin-top: 16%;
    }
  }