.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #99a4af;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  color: #fff;
}

.dropdownButton {
  width: 25px;
  height: 25px;
  margin: 10px 10px 0 0;
  background-image: url('./../../assets/nav-hamburger.png');
  background-size: cover;
  cursor: pointer;
}

nav {
  display: none;
}