.aboutus {
    .jumbotron {
        position: relative;
        background: url('../img/services/services-jumbotron.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        @media @mobile {
            background: url('../img/services/services-mobile-jumbotron.png');
            background-size: cover;
            background-position: bottom;
        }
        h1 {
            font-weight: bold;
            font-size: 4rem;
            line-height: 75px;
            color: #FFFFFF;
            padding-left: 85px;
            padding-top: 107px;
            padding-bottom: 18px;
            @media @mobile {
                font-size: 2.6rem;
                padding: 0;
                padding-left: 12px;
                padding-bottom: 12px;
                padding-top: 152px;
            }
        }
    }

    .main-content {
        width: 83.5%;
        margin: 0 auto;
        margin-bottom: 120px;
        @media @tablet {
            width: 90%;
        }
        @media @mobile {
            width: 95%;
        }
        .about-panel {
            margin-top: 52px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            h2 {
                width: 100%;
                font-size: 1.6rem;
                margin-bottom: 32px;
            }
            .text {
                width: 45%;
                font-size: 1rem;
                line-height: 18px;
                p {
                    margin-bottom: 12px;
                }
                @media @tablet {
                    width: 90%;
                    margin: 0 auto;
                    margin-bottom: 12px;
                }
                @media @mobile {
                    width: 100%;
                }
            }
            .image {
                width: 45%;
                img {
                    width: 100%;
                }
                @media @tablet {
                    width: 90%;
                    margin: 0 auto;
                    margin-bottom: 12px;
                    order: 2;
                }
                @media @mobile {
                    width: 100%;
                }
            }
        }
    }
}