.cta {
	position: relative;
	color: white;

	.cta-text {
		line-height: 4.5rem;
		font-size: 64px;
		font-weight: bold;
		position: absolute;
		bottom: 70px;
		left: 70px;
	}
}

.main-content {
	margin: 5%;
	@media (max-width: 550px) {
		margin: 0;
	}
	h2 {
		font-size: 2.5rem;
		font-weight: bold;
		color: #222222;
		margin-bottom: 30px;
	}

	.top-content {
		.content-section {
			margin-top: 50px;
			display: flex;
			margin-bottom: 10%;
			@media (max-width: 550px) {
				flex-direction: column-reverse;
			}

			.text-content {
				margin-top: 5%;
				padding: 0 3%;
				width: 50%;

				@media (max-width: 550px) {
					width: 100%;
					.button {
						width: 100%;
						display: block;
						font-size: 1.5rem;
					}
				}
			}
			h3 {
				font-weight: bold;
				font-size: 2.2rem;
				margin-bottom: 5%;
			}
			p {
				font-size: 1.5rem;
				margin-bottom: 3%;
			}
			.button {
				text-align: center;
				font-size: 1.2rem;
				padding: 5% 0;
				width: 102px;
				height: auto;
				display: inline-block;
				border: 1px solid #222222;
				cursor: pointer;
				&:hover {
					background: lightslategray;
					color: white;
					transition: 0.2s;
				}
			}
		}
	}
}

.content-section {
	margin-bottom: 10%;

	.cta-container {
		position: relative;
		text-align: center;

		.word-overlay {
			padding-top: 25px;
			font-size: 1.2rem;
			letter-spacing: 5px;
			width: 38%;
			height: 40%;
			position: absolute;
			bottom: -17%;
			right: 0%;
			border: 1px solid white;
			background: #d8d8d8;
			@media (max-width: 550px) {
				width: 96%;
				height: 80%;
				bottom: -65%;
				right: 2%;
			}
		}
		.outskirts-word-overlay {
			padding-top: 25px;
			font-size: 1.2rem;
			letter-spacing: 5px;
			width: 38%;
			height: 40%;
			position: absolute;
			bottom: -17%;
			left: 0%;
			border: 1px solid white;
			background: #d8d8d8;
			@media (max-width: 550px) {
				width: 96%;
				height: 80%;
				bottom: -65%;
				left: 2%;
			}
		}
	}
	.text-content {
		margin: 0 auto;
		width: 50%;
		margin-top: 10%;

		@media (max-width: 550px) {
			margin: 70px 0;
			padding: 0 5%;
			width: 100%;
		}
	}
}
