.cta {
	position: relative;
	color: white;

	.cta-text {
		line-height: 4.5rem;
		font-size: 64px;
		font-weight: bold;
		position: absolute;
		bottom: 70px;
		left: 70px;

		@media @mobile {
			bottom: 8%;
			left: 5%;
		}
	}
}

.main-content {
	margin: 5%;
	@media @mobile {
		// margin: 0;
	}
	h2 {
		font-size: 2.5rem;
		font-weight: bold;
		color: #222222;
		margin-bottom: 30px;
	}
	.top-content {
		.content-section {
			margin-top: 50px;
			display: flex;
			margin-bottom: 10%;
			@media @mobile {
				flex-direction: column-reverse;
			}

			.text-content {
				margin: 0 auto;
				width: 45%;

				@media @mobile {
					padding: 0;
					width: 100%;
					.button {
						width: 100%;
						display: block;
						font-size: 1.5rem;
					}
				}
			}

			.img-content {
				width: 50%;
				@media @mobile {
					width: 100%;
				}
			}
			h3 {
				font-weight: bold;
				font-size: 2.2rem;
				padding-top: 5%;
				margin-bottom: 2%;
			}
			p {
				font-size: 1.5rem;
				line-height: 2.2rem;
				margin-bottom: 3%;
				@media @mobile {
					line-height: 1.5rem;
				}
			}
			.button {
				text-align: center;
				font-size: 1.2rem;
				padding: 5% 0;
				width: 120px;
				height: auto;
				display: inline-block;
				border: 1px solid #222222;
				cursor: pointer;
				&:hover {
					background: lightslategray;
					color: white;
					transition: 0.2s;
				}
			}
		}

		.inverse-content {
			@media @mobile {
				display: flex;
			}
			.text-content {
				@media @mobile {
					order: -1;
				}
			}
		}
	}
	// bottom content

	.bottom-content {
		h2 {
			margin: 0 3%;
			display: flex;
		}
		h3 {
			font-weight: 400;
			font-size: 2.2rem;
			margin-bottom: 5%;
		}

		.content-section {
			margin-bottom: 10%;
			@media @mobile {
				flex-direction: column;
			}

			.cta-container {
				position: relative;
				text-align: center;

				.word-overlay {
					padding-top: 25px;
					font-size: 1.2rem;
					letter-spacing: 5px;
					width: 38%;
					height: 40%;
					position: absolute;
					bottom: -17%;
					right: 0%;
					border: 1px solid white;
					background: #d8d8d8;
					@media @mobile {
						width: 96%;
						height: auto;
						bottom: -20%;
						right: 2%;
					}
				}
				.outskirts-word-overlay {
					padding-top: 25px;
					font-size: 1.2rem;
					letter-spacing: 5px;
					width: 38%;
					height: 40%;
					position: absolute;
					bottom: -17%;
					left: 0%;
					border: 1px solid white;
					background: #d8d8d8;
					@media @mobile {
						width: 96%;
						height: auto;
						bottom: -20%;
						left: 2%;
					}
				}
			}
			.text-content {
				margin: 0 auto;
				width: 50%;
				margin-top: 10%;

				@media @mobile {
					margin: 70px 0 10px 0;
					padding: 0 5%;
					width: 100%;
				}
			}
		}
	}
}
