.container {
    
      .width-100; 

}

.jumbotron {

    background-image: url('../img/home/home-jumbotron.png');
    height: 600px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    .header {
        line-height: 105px;
        padding: 50px;
        margin-left: 15px;
        font-size: 6.4rem;
        font-family: Roboto, Arial, sans-serif;
        font-weight: bold;
        color: white;
    }
}

.footer {
    background-color: #828282;
}