.nav-container {
	padding: 5px 8%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	background: lightslategray;

	.logo {
		color: white;
	}
	.nav-bar {
		display: none;
	}
	.menu-icon {
		display: inline-block;
		cursor: pointer;
		.bar1,
		.bar2,
		.bar3 {
			width: 35px;
			height: 5px;
			background-color: white;
			margin: 6px 0;
			transition: 0.4s;
		}
		.change .bar1 {
			transform: rotate(-45deg) translate(-9px, 6px);
		}
		.change .bar2 {
			opacity: 0;
		}
		.change .bar3 {
			transform: rotate(45deg) translate(-8px, -8px);
		}
	}
}

.cta {
	position: relative;
	text-align: center;
	color: white;

	.cta-text {
		text-align: center;
		font-size: 6rem;
		font-weight: 600;
		position: absolute;
		bottom: 8px;
		left: 16px;
	}
}

.top-content {
	margin: 5%;

	.content-section {
		display: flex;
		margin-bottom: 10%;

		.text-content {
			margin-top: 5%;
			padding: 0 3%;
			width: 50%;
			h3 {
				font-size: 2rem;
				font-weight: 600;
				margin-bottom: 5%;
			}
			p {
				font-size: 1.5rem;
				margin-bottom: 3%;
			}
			.button {
				text-align: center;
				font-size: 1.2rem;
				padding: 5% 0;
				width: 30%;
				height: 25%;
				display: inline-block;
				border: 1px solid black;
				cursor: pointer;
				&:hover {
					background: lightslategray;
					color: white;
				}
			}
		}
		.img-content {
			margin-left: 2%;
		}
	}
}
