.container {
    
      .width-100; 

}

.jumbotron {

    background-image: url('../img/home/home-jumbotron.png');
    height: 600px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    .header {
        line-height: 105px;
        padding: 50px;
        margin-left: 15px;
        font-size: 6.4rem;
        font-family: Roboto, Arial, sans-serif;
        font-weight: bold;
        color: white;
    }
}

.mainSection {
.width-100;
border: 2px solid orangered;


}



.footer {
    .width-100;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;    
    align-items: center;
    align-content: center;
    background-color: #828282;
    padding: 10px 40px;


.email {
    align-self: center;
    width: 300px;
    color: white;
    line-height: 18px;
    h5 {
        font-size: 1rem;
    }
    
}
.nycAddress, .floridaAddress, .caliAddress {
    .header4(.8rem, white);
    width: 250px;
    height: 100px;
    line-height: 18px;
    font-size :.6rem;
    color: white;
    margin: 25px 30px;

}
 .copyright {  
   width: 250px;
   margin-top: 10px;
   font-size: .6rem;
   text-align: center;
   color: white;
 }
}