.container {

    .width-100;



    .jumbotron {

        background-image: url('../img/home/home-jumbotron.png');
        height: 600px;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: flex-end;

        .header {
            line-height: 85px;
            padding: 50px;
            margin-left: 15px;
            font-size: 4.3rem;
            font-family: Roboto, Arial, sans-serif;
            font-weight: bold;
            color: white;
        }
    }

    .main-section {
        .width-100;
        border: 2px solid orangered;
        .flex(center, center, column);

        .waw-section {
           font-size: 1.2rem;
           display:flex;
           flex-wrap: wrap;
           justify-content: center;
           line-height: 21px;
           margin:20px 20px;
           align-items: center;
           .content{
       
            h2{
            
                font-size: 1.9rem;
                font-family: Roboto, Arial, sans-serif;
                color: #222222;
                font-weight:bold;  
                margin-bottom: 30px;  
            }     
            p {
                margin-bottom:30px;
               
                 width: 550px;
                font-size:1.1rem;
                font-family: Roboto, Arial, sans-serif;
                color: #222222;
            }
            
            .button {
                margin-left: 20px;
                .button-creator(150px, 1rem);
            }
        }
        
        }
        
        .future-section {
            font-size: 1.2rem;
            display:flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            line-height: 21px;
            margin: 60px 20px;
            align-items: center;
            .content{
                
                h2{
                 
                    font-size: 1.9rem;
                    font-family: Roboto, Arial, sans-serif;
                    color: #222222;
                    font-weight:bold;  
                    margin-bottom: 30px;
                    margin-left: 50px;  
                }     
                p {
                    margin-bottom:30px;
                    margin-left: 50px;  
                     width: 550px;
                    font-size:1.1rem;
                    font-family: Roboto, Arial, sans-serif;
                    color: #222222;
                }
                
                .button {
                    margin-left: 50px;  
                    .button-creator(150px, 1rem);
                }
            
            }

            

        }

        .recent-projects {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
    
            h2{
                align-self: flex-start;
                font-size: 1.9rem;
                font-family: Roboto, Arial, sans-serif;
                color: #222222;
                font-weight:bold;  
                margin-bottom: 30px;
                margin-left: 50px;  
            } 
          

            .villa-heading{
               position: relative;
               width: 900px;
            
               h3 {
                  .img-heading(-35px);
               }
              
            }
            .villas-content {
              padding: 20px 0;
                line-height: 30px;
                width: 400px;
                font-size: 1rem;
            }


            }
        }

    }




.footer {
    .width-100;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: #828282;
    padding: 0px 20px;


    .email {
        align-self: center;
        width: 250px;
        color: white;
        line-height: 18px;
        margin: 20px 80px;

        h5 {
            font-size: 1rem;
        }

    }

    .nyc-address,
    .florida-address,
    .cali-address {
        .header4(.8rem, white);
        width: 137px;
        line-height: 18px;
        font-size: .6rem;
        color: white;

    }

    .copyright {
        width: 150px;
        font-size: .6rem;
        text-align: center;
        color: white;
        margin-top: 10px;
    }
}