.cards-container {
 display: flex;
 justify-content: space-between;
  //  .flex(space-evenly);
  // .width-100();
  margin-to: 16px;
  flex-wrap: wrap;
 
 
}

.card {
   
    
  // .flex(space-between, none);
  width: 600px;
  margin-bottom: 16px;
  padding: 24px;
 
  // h2 .headline .img-container{
  //   display: flex;
  //   justify-content: space-between;

  // }
  
}
