div.tabs {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    width: 100%;
    // height: 300px;
    
    font-weight: bold;
    padding-bottom: 10px;
  }

  div.topics{
    display:flex;
  }
//   .tabs  {
//     width: 100%;
//     height: 300px;
//     display: flex;
//     // justify-content: center;
    
//     padding-top: 60px;
//   }
//   .tabs  {
//     display: none;
//     width: 75%;
//     justify-content: space-between;
//   }
//   .tabs  {
//     font-size: 24px;
//     font-weight: bold;
//     padding-bottom: 10px;
   
//   }
//   .tabs  {
//      display: block;
//     margin-left:10px;
//   }
//   .tabs .tabs-links {
//     display: flex;
//     // background-color: #931d25;
//   }
//   .tabs .tabs-link {
//     padding: 20px 25px;
//     font-size: 24px;
//     border: 1px solid black;
    
    // background-color: #931d25;
    // border-right: 1px solid white;
    // color: #ffffff;
//     cursor: pointer;
//   }

//   .tabs .tabs-link:hover {
//      background-color: #be2530;
//   }
//   .tabs .tabs-link-selected {
//     z-index: 2;
//     border-right: 1px solid black;
//     // background-color: #ffffff;
//     color: black;
//   }
//   .tabs .tabs-link-selected:hover {
//     // background-color: #ffffff;
//   }

  // .header-container {
  //   width: 100%;
  //   height: 70px;
  //   // border-bottom: 1px solid #ffffff;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   // background-color: #931d25;
  // }
  // .header-container .header {
  //   height: 50px;
  // }
  // .section {
  //   width: 70%;
  //   margin: 45px auto;
  //   display: flex;
  //   // border: 1px solid #931d25;
  //   // box-shadow: 1px 1px 5px #931d25;
   
  //   overflow: hidden;
  // }
  // .section .box {
  //   padding: 40px;
  // }
  // .section .box .box-title {
  //   font-size: 24px;
  //   padding-bottom: 10px;
  //   font-weight: bold;
  // }
  