// .tabs {
//   // .border-bottom-grey();
//   .flex(center, center);
//   .width-100();
//   height: 47px;
//   background-color: rgb(225, 28, 28);
//   // @media(min-width: 1280px){
//   //   width: 1280px;
//   // }
//   .topics {
//     .flex(none, center);
//     // .title {
//     //   font-size: 12px;
//     //   letter-spacing: 1px;
//     //   font-weight: bold;
//     // }
//     .tab {
//       .flex(none, center);
//       color: black;
//       // background-color: rgb(47, 179, 144);
//       margin: 0 5px;
//       padding: 2px 10px;
//       font-size: 20px;
//       letter-spacing: 2px;
//       cursor: pointer;
//       font-weight: bold;
//       &:hover {
//         text-decoration: underline;
//       }
//     }
.tabs .topics .tab {
  display: inline-block;
  
  align-items: center;
  flex-direction: row;
  color: black;
  background-color: lightgray;
  margin: 0 5px;
  padding: 2px 10px;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid black;
}
    .active-tab {
      background-color: rgb(164, 25, 25);
      color: red;
      border: 2px solid black;

      
    }
//   }
// }

// .cards {
  
//   .flex(none, center);
// }