.contact {
	.contact-img {
		position: relative;
		text-align: center;
		color: white;
		.heading {
			text-align: center;
			font-size: 6rem;
			font-weight: 600;
			position: absolute;
			bottom: 8px;
			left: 16px;
		}
	}

	.main-content {
		display: flex;
		.form-content {
			form {
				display: flex;
				flex-direction: column;
			}
		}
	}
}
