.contact-img {
	position: relative;
	text-align: center;
	color: white;
	.heading {
		text-align: center;
		font-size: 6rem;
		font-weight: 600;
		position: absolute;
		bottom: 8px;
		left: 16px;
	}
}

.contact-main-content {
	margin: 40px 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	@media @mobile {
		flex-direction: column;
	}
	.form-content {
		width: 50%;
		@media @mobile {
			padding: 0 15px;
			width: 100%;
		}
		h3 {
			font-weight: bold;
			font-size: 2rem;
			margin-bottom: 25px;
		}
		form {
			// width: 60%;
			display: flex;
			flex-direction: column;
			@media @mobile {
				width: 100%;
			}
			.email-label {
				font-size: 1.5rem;
				margin: 8px 0;
			}
			.email-input {
				font-size: 1.5rem;
				border-radius: 5px;
				height: 40px;
				width: 100%;
				padding: 8px;
			}
			p {
				color: darkgray;
				font-size: 1.2rem;
			}
			.buildings {
				margin-top: 20px;
				margin-bottom: 5px;
				font-size: 1.5rem;
			}
			select {
				margin: 3px 0;
				height: 40px;
				font-size: 1.5rem;
			}
			.overview-desc {
				font-size: 1.5rem;
				margin-top: 30px;
				margin-bottom: 5px;
			}
			#tarea {
				border-radius: 5px;
				margin-top: 5px;
				margin-bottom: 20px;
			}
			.radio-button {
				font-size: 1.5rem;
			}
			.submit-btn {
				font-size: 1.5rem;
				height: 38px;
				margin: 5% 0;
				width: 30%;
				@media @mobile {
					width: 100%;
					margin-bottom: 50px;
				}
				&:hover {
					color: @background;
					background: @main-color;
				}
			}
		}
	}
	.locations {
		width: 30%;
		@media @mobile {
			width: 100%;
			padding: 0 15px;
		}
		.heading {
			font-weight: bold;
			margin-bottom: 20px;
		}
		h3 {
			font-weight: bold;
			font-size: 2.2rem;
		}
		p {
			font-size: 1.5rem;
		}
		@media @mobile {
		}
		address {
			margin-top: 20px;
		}
	}
}
