.contact-form {
  width: 48%;
  margin: 0 15px 0 0;

  h2 {
    margin: 0 0 4rem 0;
  }

  h4 {
    margin: 0 0 .5rem 0;
  }

  input[type='email'], select, textarea {
    width: 100%;
    outline: 0;
  }

  input[type='radio'] {
    margin: 0 10px 0 0;
  }

  input {
    margin: 0 0 2px 0;
    padding: 9px;
    border-radius: 3px;
    border: 1px solid @brand-color-light-gray;
    outline: 0;
    color: @brand-color-med-gray;
    font-size: 1.5rem;
  }

  p {
    font-size: 1.3rem;
  }

  label {
    display: block;
    margin: 0 0 3rem 0;
  }

  .label--radio {
    margin: 0;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 7px 15px;
    border-radius: 3px;
    border: 1px solid @brand-color-light-gray;
    outline: 0;
    color: @brand-color-dark-gray;
    font-size: 1.7rem;
  }

  .contact-form__select {
    margin: 0 0 4rem 0;
  }

  .contact-form__textarea {
    margin: 0 0 1.5rem 0;
  }

  .contact-form__radio-buttons {
    display: flex;
    flex-direction: column;
    margin: 20px 0 25px;
  }

  button {
    padding: 14px 41px;
  }
}

.contact__addresses {
  padding: 10px 0 0 0;
  width: 33%;

  h2 {
    margin: 0 0 3.5rem 0;
  }

  .contact__address {
    margin: 0 0 37px 0;
    font-size: 1.8rem;
    line-height: 2.8rem;

    h4 {
      font-weight: @font-bold;
      font-size: 2.0rem;
      line-height: 2.4rem;
      margin: 0 0 .3rem 0;
    }
  }
}