.main--home {

  .feature {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px 0;
    padding: 50px 0 0 0;
    color: @brand-color-dark-gray;
    opacity: 0;
    transform: translateY(60px);
    transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: .1s;

    @media @tablet {
      flex-direction: column-reverse;
      margin: 0 0 10px 0;
      padding: 35px 0 0 0;
    }

    &.is-showing {
      transform: translateY(0);
      opacity: 1;
    }

    .feature__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      padding: 0 27px 0 0;

      @media @tablet {
        width: 100%;
        padding: 0;
      }

      @media @phone {
        padding: 0 @gutter-width-phone;
      }

      p {
        margin: 0 0 2.6rem 0;
      }
    }

    &.feature--alt {
      flex-direction: row-reverse;

      @media @tablet {
        flex-direction: column-reverse;
      }

      .feature__content { 
        padding: 0 0 0 27px;

        @media @tablet {
          width: 100%;
          padding: 0;
        }

        @media @phone {
          padding: 0 @gutter-width-phone;
        }
      }
    }

    .feature__img {
      max-width: 410px;
      width: 100%;

      @media @tablet {
        margin: 0 0 20px 0;
        padding: 0;
      }    

      @media @phone {
        padding: 0 @gutter-width-phone;
      }    
    }

  }

  .h2--project-title {
    margin: 100px 0 45px 0;

    @media @tablet {
      margin: 52px 0 24px;
      padding: 0 @gutter-width-tablet;
    }

    @media @phone {
      padding: 0 @gutter-width-phone;
    }
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 77px 0;
    opacity: 0;
    transform: translateX(60px);
    transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition-delay: .1s;

    @media @tablet {
      margin: 0 0 20px 0;
    }

    .project__title {
      align-self: flex-end;
      margin: -5.5rem 0 4.9rem 0;
      padding: 35px 50px;
      border: 1px solid @brand-color-white;
      background-color: @brand-color-light-gray;
      font-size: 2.4rem;
      letter-spacing: .8rem;
      text-transform: uppercase; 

      @media @tablet {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 90%;
        margin: -2rem @gutter-width-tablet 2.5rem;
        padding: 35px 0;
      }   

      @media @phone {
        margin: -2rem @gutter-width-phone 2.5rem;
      }   


    }

    &.project--alt {
      transform: translateX(-60px);

      .project__title {
        align-self: flex-start;
      }      
    }

    &.is-showing {
      transform: translateX(0);
      opacity: 1;
    }

    picture, .project__img {
      width: 100%;
    }

    p {
      max-width: 450px;
      margin: 0 0 2.4rem 0;
      font-size: 1.8rem;

      @media @tablet {
        padding: 0 @gutter-width-tablet;
      }

      @media @phone {
        padding: 0 @gutter-width-phone;
      }
    }
  }

}




