.main--services {

  .main__content--services {
    display: flex;
    flex-direction: column;
    padding: 52px 0 66px;

    @media @phone {
      padding: 32px 16px 27px;
      line-height: 2.6rem;
    }
  }

  .services-intro {
    margin: 0 0 45px 0;

    @media @phone {
      margin: 0 0 35px 0;
    }
  }
  
}

