.Main {
    display: flex;
    justify-content: space-around;
}


.Img {
    height: 275px;
    margin-top: 3rem;
}
.MobileOnly {  
    display: none;
}
.Content h2 {
    font-weight: bold;
    font-size: 2.6rem;
    color: #222222;
    margin-bottom: 1.3rem;
}
.Content p {
    width: 95%;
    margin-bottom: 3.6rem;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 24px;
}

@media (max-width: 500px) {
    .DesktopOnly {
        display: none;
    }
    .MobileOnly {  
        display: block;
    }
    .Img {
        height: 290px;
        width: 290px;
    }
    .Main {
        flex-flow: column;
        padding: 0 1rem;
    }
}
@media (max-width: 880px) and (min-width: 501px) {
    .Main {
        flex-flow: column;
        padding: 0 1rem;
    }   
}