@import './../assets/variables.less';

.blocks {
  width: 100%;

  @media @tablet {
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-flow: column nowrap;
  }

  .img {
    width: 100%;
    height: 200px;
    margin-top: 40px;
    background-image: url('./../../img/home/home-mobile-outskirts-img.png');
    background-size: cover;

    @media @tablet {
      background-image: url('./../../img/home/home-outskirts-img.png');
      height: 275px;
    }
  }

  .titleBox {
    width: 85%;
    height: 90px;
    margin: 0px auto;
    margin-top: -20px;
    background-color: @grey;
    border: 1px solid @grey;

    @media @tablet {
      width: 270px;
      height: 80px;
      margin: 0;
      margin-left: auto;
      margin-top: -35px;
    }

    .title {
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      margin-top: 34px;
      letter-spacing: 5px;
      @media @tablet { margin-top: 30px; }
    }
  }

  p {
    padding: 0 20px 50px 20px;
    line-height: 24px;
    margin-top: 20px;

    @media @tablet {
      padding: 20px 10% 0 10%;
        &:last-child { padding-bottom: 40px; }
    }
  }
}