body{
    font-size: 62.5%;
    font-family: @font-family;
    
  
}
.container{
    .display-flex-column;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    @media @mobile{
        width: 100%;
       
       }

}