header{
background: @color-header;

width: 100%;

.display-flex-spacebtween-centered;

.nav{
    flex: 1 0 100%;
    .nav-top{
        flex: 1 0 100%;
        .display-flex-spacebtween-centered;
      
        &--text{
            font-weight:bold ;
            font-size: 2.4rem; 
            color:@color-white;
            margin-left: 1%;
            @media @mobile{
                font-size: 1.3rem;
                font-weight: bold;
            }
        }

        &--btn{
            width: 35px;
            height: 30px;
            margin: 20px 1%;
            
            @media @mobile{
                width: 25px;
                height: 20px;
                margin: 20px 2%;
            }
        }

        .open{
            background: url(../img/nav-hamburger.png);
            .bacground-image;
        }

        .close{
           
            background: url(../img/nav-hamburger-close.png);
            .bacground-image;
        }
    }

    
    .nav--links{
        display: none;
        position: absolute;
        background: @color-header;
        width: 100%;
        

        .link{
            display: block;
            padding: 10px 2%;
            font-size: 1.8rem;
            text-decoration: none;
            color: @color-white;
            text-align: center;
            transition: color 1s ease, padding-left 1s ease;
            
        }

        .link:hover{
            color: @color-DarkGrey;
            padding-left: 3%;
          
            
        }
    }

    .nav--links__open{
        display: block;
}

}

}