.container {
    .width-100;
    .jumbotron {
        background-image: url('../img/home/home-jumbotron.png');
        height: 600px;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        .header h1{
            line-height: 85px;
            padding: 50px;
            margin-left: 15px;
            font-size: 6.4rem;
            font-family: Roboto, Arial, sans-serif;
            font-weight: bold;
            color: white;
        }
    }
    .main-section {
        .flex(center,
        center,
        column);
        .waw-section {
            .flex-wrap(@jc: center,
            @ai: none,
            @fw: wrap);
            line-height: 21px;
            margin: 10px 0px;
            align-items: center;
            img {
                margin-top: 20px;
                margin-right: 35px;
            }
            .content {
                h2 {
                    font-size: 2.8rem;
                    font-family: Roboto, Arial, sans-serif;
                    color: #222222;
                    font-weight: bold;
                    margin-bottom: 30px;
                }
                p {
                    margin-bottom: 30px;
                    margin-right: 20px;
                    width: 450px;
                    font-size: 1.6rem;
                    font-family: Roboto, Arial, sans-serif;
                    color: #222222;
                }
                .button {
                    .button-creator(100px,
                    1.4rem);
                }
            }
        }
        .future-section {
            display: flex;
            justify-content: flex-start;
            line-height: 21px;
            margin: 60px 0px 73px 68px;
            align-items: center;
            .content {
                h2 {
                    font-size: 2.8rem;
                    font-family: Roboto, Arial, sans-serif;
                    color: #222222;
                    font-weight: bold;
                    margin-bottom: 30px;
                    margin-left: 20px;
                }
                p {
                    margin-bottom: 30px;
                    margin-left: 20px;
                    width: 450px;
                    font-size: 1.6rem;
                    font-family: Roboto, Arial, sans-serif;
                    color: #222222;
                }
                .button {
                    margin-left: 20px;
                    .button-creator(120px,
                    1.4rem);
                    padding: 12px;
                }
            }
        }
        .recent-projects {
            .flex(@jc: center,
            @ai: center,
            @dir: column);
            h2 {
                align-self: flex-start;
                font-size: @font-sub-heading;
                font-family: Roboto, Arial, sans-serif;
                color: #222222;
                font-weight: bold;
                margin-bottom: 30px;
            }
            .villa-heading {
                position: relative;
                width: 900px;
                h3 {
                    .img-heading(@right: 45px,
                    @bottom: -25px);
                }
            }
            .villas-content {
                padding: 50px 0;
                line-height: 30px;
                width: 400px;
                font-size: @font-regular;
            }
            .outskirt-heading {
                position: relative;
                width: 900px;
                h3 {
                    .img-heading(@left: 0px,
                    @bottom: -25px);
                }
            }
            .outskirts-content {
                padding: 50px 0;
                line-height: 30px;
                width: 400px;
                font-size: 1.6rem;
            }
            .block-heading {
                position: relative;
                width: 900px;
                h3 {
                    .img-heading(@right: 45px,
                    @bottom: -25px);
                }
            }
            .blocks-content {
                padding: 50px 0;
                line-height: 30px;
                width: 400px;
                font-size: @font-regular;
            }
        }
    }
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #828282;
    .width-100;
    .email {
        align-self: center;
        width: 300px;
        color: white;
        line-height: 20px;
        padding: 40px;
        margin-left: 40px;
        font-size: 1rem;
        h5 {
            font-size: @font-regular;
        }
        input {
            padding: 10px 40px 10px 0px;
        }
    }
    .nyc-address,
    .florida-address,
    .cali-address {
        .header4(1.2rem,
        white);
        width: 150px;
        margin-left: 40px;
        line-height: 18px;
        font-size: 1rem;
        color: white;
    }
    .copyright {
        width: 150px;
        font-size: .8rem;
        text-align: center;
        color: white;
        margin: 10px;
    }
}