.container {
    .width-100;
    @media @mobile {
        .width-100;
        margin: 0 auto;
    }
    .jumbotron {
        background-image: url('../img/home/home-jumbotron.png');
        @media @mobile {
            background: url(/img/home/home-mobile-jumbotron.png) no-repeat;
            .width-100;
            height: 260px;
        }
        height: 600px;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        .header h1 {
            line-height: 85px;
            padding: 50px;
            margin-left: 15px;
            font-size: 6.4rem;
            font-family: Roboto, Arial, sans-serif;
            font-weight: bold;
            color: white;
            @media @mobile {
                font-size: 2.2rem;
                line-height: 24px;
                margin-left: 5px;
                padding: 10px;
            }
        }
    }
    .main-section {
        .flex(center,
        center,
        column);
        .waw-section {
            .flex-wrap(@jc: center,
            @ai: none,
            @fw: wrap);
            .width-100;
            margin: 10px 0px;
            align-items: center;
            img {
                margin-top: 20px;
                margin-right: 35px;
            }
            @media @mobile {
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                line-height: 21px;
                margin: 30px;
                width: 95%;
                img {
                    background: url(/img/home/home-mobile-img-1.png) no-repeat;
                    width: 90%;
                    margin-left: 40px;
                    margin-bottom: 30px;
                }
            }
            .content {
                h2 {
                    font-size: 2.8rem;
                    font-family: Roboto, Arial, sans-serif;
                    color: #222222;
                    font-weight: bold;
                    margin-bottom: 30px;
                    @media @mobile {
                        width: 80%;
                        font-size: 1.7rem;
                        margin-left: 20px;
                    }
                }
                p {
                    margin-bottom: 30px;
                    margin-right: 20px;
                    width: 450px;
                    font-size: 1.6rem;
                    font-family: Roboto, Arial, sans-serif;
                    color: #222222;
                    @media @mobile {
                        width: 95%;
                        margin: 10px;
                    }
                }
                .button {
                    .button-creator(25%,
                    1.4rem);
                    @media @mobile {
                        margin-left: 20px;
                        .button-creator(80%,
                        1.4rem);
                    }
                }
            }
        }
        .future-section {
            display: flex;
            justify-content: flex-start;
            line-height: 21px;
            margin: 60px 0px 73px 68px;
            align-items: center;
            .width-100;
            @media @mobile {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 30px;
                width: 90%;
                img {
                    background: url(/img/home/home-mobile-img-2.png) no-repeat;
                    width: 90%;
                    margin-right: 5px;
                    margin-bottom: 30px;
                }
            } // .media-mobile__future;
            .content {
                h2 {
                    font-size: 2.8rem;
                    font-family: Roboto, Arial, sans-serif;
                    color: #222222;
                    font-weight: bold;
                    margin-bottom: 30px;
                    margin-left: 20px;
                    @media @mobile {
                        width: 80%;
                        font-size: 1.7rem;
                        margin-left: 20px;
                    }
                }
                p {
                    margin-bottom: 30px;
                    margin-left: 20px;
                    width: 450px;
                    font-size: 1.6rem;
                    font-family: Roboto, Arial, sans-serif;
                    color: #222222;
                    @media @mobile {
                        width: 100%;
                        margin: 0px;
                    }
                }
                .button {
                    margin-left: 20px;
                    .button-creator(25%,
                    1.4rem);
                    padding: 12px;
                    @media @mobile {
                        margin-left: 20px;
                        .button-creator(80%,
                        1.4rem);
                    }
                }
            }
        }
        .recent-projects {
            .flex(@jc: center,
            @ai: center,
            @dir: column);
            .width-100;
            @media @largedst {
                width: 90%;
            }
            h2 {
                align-self: flex-start;
                font-size: @font-sub-heading;
                font-family: Roboto, Arial, sans-serif;
                color: #222222;
                font-weight: bold;
                margin-bottom: 30px;
            }
            .villa-heading {
                position: relative;
                .width-100;
                .img-villas-mobile {
                    display: none;
                }
                @media @mobile {
                    .img-villas {
                        display: none;
                    }
                    .img-villas-mobile {
                        display: block;
                        width: 95%;
                    }
                }
                h3 {
                    .img-heading(@right: 45px,
                    @bottom: -25px);
                    @media @mobile {
                        .img-heading(@right: 15px,
                        @bottom: -25px)
                    }
                }
            }
            .villas-content {
                padding: 50px 0;
                line-height: 30px;
                width: 50%;
                font-size: @font-regular;
                @media @mobile {
                    width: 90%;
                }
            }
            .outskirt-heading {
                position: relative;
                .width-100;
                .img-outskirts-mobile {
                    display: none;
                }
                @media @mobile {
                    .img-outskirts {
                        display: none;
                    }
                    .img-outskirts-mobile {
                        display: block;
                        .width-100;
                    }
                }
                h3 {
                    .img-heading(@left: 0px,
                    @bottom: -25px);
                    @media @mobile {
                        .img-heading(@left: 15px,
                        @bottom: -25px);
                    }
                }
            }
            .outskirts-content {
                padding: 50px 0;
                line-height: 30px;
                width: 50%;
                @media @mobile {
                    width: 90%;
                }
                font-size: 1.6rem;
            }
            .block-heading {
                position: relative;
                .width-100;
                .img-block {
                    background: url(/img/home/home-the-blocks-img.png) no-repeat;
                }
                .img-mobile-block {
                    display: none;
                }
                @media @mobile {
                    .img-block {
                        display: none;
                    }
                    .img-mobile-block {
                        display: block;
                        .width-100;
                    }
                }
                h3 {
                    .img-heading(@right: 45px,
                    @bottom: -25px);
                    @media @mobile {
                        .img-heading(@right: 15px,
                        @bottom: -25px);
                    }
                }
            }
            .blocks-content {
                padding: 50px 0;
                line-height: 30px;
                width: 50%;
                @media @mobile {
                    width: 90%;
                }
                font-size: @font-regular;
            }
        }
    }
}