.jumbo-img {
    width: 100vw;
    @media (max-width: 576px) {
      background-image:url('../img/home/home-mobile-jumbotron.png'); 

    }
  }
  
.jumbo {
    position: relative;
    text-align: left;
    color: #FFFFFF;
    h1 {
      position: absolute;
      bottom: 10%;
      left: 10%;
      font-size: 320%;
      line-height: 75px;
      font-weight: bold;
    }
}

