.flexColumn() {
  display: flex;
  flex-direction: column;
}

.flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotronText() {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 75px;
  color: @theme1;
  padding: 0 0 19px 8.5%;
}

.jumbotronImg() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.buttonStyle() {
  background-color: transparent;
  border: 1px solid @theme2;
  font-size: 1.5rem;
}

.formInputStyle() {
  width: 120%;
  height: 40px;
  border-radius: 5px;
  font-size: 1.4rem;
  border: 1px solid rgba(0, 0, 0, .4);
  padding-left: 8px;

  &:focus {
    outline: none;
  }
}
