.menu {
  z-index: 1;
  span {
    align-self: flex-start;
  }
  .menu-button-open {
    padding: 15px 0;
    color: @nav;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
    &:hover {
      background-color: none;
      cursor: pointer;
    }
  }
  .menu-button-close {
    padding: 13px 0;
    color: @nav;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
    &:hover {
      background-color: none;
      cursor: pointer;
    }
  }
  .menu-content {
    width: 100vw;
    height: 100vh;
    position: absolute;
    text-align: left;
    background-color: @nav-expanded-bg;
    top: 0;
    .animated;
    .fadeIn;
    animation-duration: .3s; 
    .flex(center, center, column);
  }
  .menu-link {
    text-align: left;
    text-decoration: none;
    .navigation-text-expanded;
    .animated;
    .fadeInUpBig;
    animation-duration: .2s; 
  }
  .menu-hidden {
    display: none;
  }
  .menu-button-hidden {
    display: none;
  }
}