// Contact tablet
@media @tablet {
    .contact-content {
        margin-left: 0;
    }

    form {
        span {
            position: absolute;
        }

        label[for="buildings"] {
            .mt(50px);
        }

        .scale-inputs {
            display: flex;
            justify-content: space-evenly;
        }

        .custom-control {
            display: inline;
        }

        .submit {
            display: block;
            width: 35%;
            margin: 0 auto;
        }
    }

    .col-md-5 {
        .mb(30px);
    }

    .col-md-4 {
        border-top: 1px dotted black;
        padding-top: 30px;

        h3 {
            text-align: center;
        }
    }

    .contact-locations {
        display: flex;
        justify-content: space-around;
    }
}

// Contact mobile
@media @mobile {
    .contact-bg {
        background-image: url('../img/contact/contact-mobile-jumbotron.png');
        background-size: cover;
        .custom-jumbotron {
            .jumbotron-text {
                padding-top: 175px;
                font-size: 3.6rem;
                margin-left: .7%;
            }
        }
    }

    .contact-content {
        margin-left: 0;
        .mt(20px);

        h5 {
            .mt(35px);
        }

        form {
            label[for="email"] {
                .mt(55px);
            }

            #contact-email {
                .mt(2px);
                padding: 7px;
                color: lightgray;
            }

            label {
                .mt(25px);
                &[for="overview"] {
                    .mt(20px);
                    .mb(10px);
                }
            }

            .submit {
                .mt(30px);
                .mb(55px);
                width: 100%;
            }
        }

        .col-md-4 {
            margin-left: 1.5%;

            .location-space {
                .mb(40px);
            }
        }
    }

    .contact-footer {
        .mt(30px);
    }
}