@media @mobile {
    .footer-container {
        padding: 25px 0 0;
    }
    
    footer {
        .mt(80px);
        .footer-content {
            margin: 0;
            h5 {
                .mt();
                font-weight: bold;
            }
            input {
                .mt(17px);
                .mb(5px);
                padding: 10px 7px;
                width: 98%;
            }
        }
        .col-md-4 {
            .mt(20px);
            h5 {
                .mb(5px);
            }
        }
    
        #copyright {
            text-align: left;
            margin-left: 5%;
            .mt(25px);
            .mb(25px);
        }
    }
}