@media @tablet {
    .carousel {
        height: 305px;
    }
}

@media @mobile {
    .carousel {
        height: 225px;
        .left-button, .right-button {
            height: 35px;
            width: 35px;
        }
    }
}

@media (max-width: 350px) {
    .carousel {
        height: 190px;
    }
    .projects-content {
        h3 {
            font-size: 2rem;
        }
    }
}