// Services mobile
@media (max-width: 400px) {
    .services-bg {
        background-image: url('../img/services/services-mobile-jumbotron.png');
        background-size: cover;
        height: 260px;
        .custom-jumbotron {
            .jumbotron-text {
                padding-top: 195px;
                font-size: 3.6rem;
                line-height: 42px;
                margin-left: .7%;
            }
        }
    }

    .services-content {
        width: 100%;
        .mt(30px);
        .img-fluid {
            display: none;
        }
        .mobile-img {
            display: inherit;
        }
        .row {
            .col-md-6 {
                h3 {
                    .mt(27px);
                }
                p {
                    .mb(28px);
                }
            }
        }
        .tabs {
            .mt(34px);
            .tab {
                .mb(22px);
            }
        }
        .tab-content {
            .tab-heading {
                margin: 23px 0 21px;
            }
        }
    }

    .services-footer {
        .mt(60px);
    }
}