.home {
    .details {
        display: grid;
        grid-template-rows: 57.6rem 1rem 57.6rem;
        @media @desktop {
            grid-template-rows: 275px 99px 275px;
            width: 100%;
            max-width: 1024px;
        }
        section {
            display: grid;
            grid-template-rows: 31.2rem 26.4rem;
            grid-template-columns: auto 91% auto;
            font-size: 1.6rem;
            line-height: 2.4rem;
            @media @desktop {
                grid-template-rows: auto auto auto auto;
            }
            .details-text {
                display: grid;
                grid-column-start: 2;
                grid-row-start: 2;
                grid-template-rows: 5.1rem 14rem 7.3rem auto;
                @media @desktop {
                }
                h3 {
                    font-size: 2.4rem;
                    font-weight: bold;
                    align-self: end;
                    grid-row-start: 1;
                    color: #222;
                    justify-self: center;
                    @media @desktop {
                        justify-self: start;
                    }
                }
                p {
                    align-self: end;
                    grid-row-start: 2;
                }
                .button(31.3%; 46px);
                button {
                    grid-row-start: 3;
                    align-self: end;
                    @media @desktop {
                        align-self: center;
                    }
                }
            }
            img {
                grid-column-start: 2;
                align-self: end;
                justify-self: center;
                &.desktop-img {
                    display: none;
                }
                &.mobile-img {
                    display: block;
                }
                @media @desktop {
                    justify-self: unset;
                    width: 100%;
                    height: auto;
                    grid-row-start: 2;
                    &.mobile-img {
                        display: none;
                    }
                    &.desktop-img {
                        display: block;
                    }
                }
            }
        }
        .flow-right {
            @media @desktop {
                grid-template-columns: 8.3% 42.5% 0.9% auto 8.4%;
                grid-row-start: 1;
            }
            img {
                @media @desktop {
                    grid-column-start: 4;
                    justify-self: end;
                }
            }
            .details-text {
                @media @desktop {
                    grid-column-start: 2;
                    grid-template-rows: 7.2rem 11.2rem 5.9rem auto;
                }
            }
        }
        .flow-left {
            grid-row-start: 3;
            @media @desktop {
                grid-template-columns: 8.4% 40% 2.8% 42.5% 6.3%;
            }
            img {
                @media @desktop {
                    grid-column-start: 2;
                    justify-self: start;
                }
            }
            .details-text {
                @media @desktop {
                    grid-column-start: 4;
                    grid-template-rows: 6.5rem 11.2rem 6.7rem auto;
                }
            }
        }
    }
}
