.details {
    @media @desktop {
        display: grid;
        grid-template-rows: 275px 99px 275px;
        width: 100%;
        max-width: 1024px;
    }
    .details-text {
        display: grid;
        h3 {
            @media @desktop {
                font-weight: bold;
                font-size: 2.4rem;
                color: #222;
                grid-row-start: 1;
                align-self: end;
            }
        }
        p {
            @media @desktop {
                grid-row-start: 2;
                align-self: center;
            }
        }
        button {
            @media @desktop {
                grid-row-start: 3;
                border: solid black 1px;
                text-decoration: none;
                width: 31.3%;
                height: 46px;
                align-self: center;
                font-size: 1.6rem;
                background-color: white;
            }
        }
    }
    .flow-right {
        @media @desktop {
            display: grid;
            grid-template-columns: 8.3% 42.5% 0.9% auto 8.4%;
            grid-template-rows: auto auto auto auto;
            grid-row-start: 1;
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
        img {
            @media @desktop {
                grid-column-start: 4;
                grid-row-start: 2;
                justify-self: end;
                width: 100%;
                height: auto;
                &.mobile-img {
                    display: none;
                }
            }
            &.desktop-img {
                display: none;
            }
        }
        .details-text {
            @media @desktop {
                grid-column-start: 2;
                grid-row-start: 2;
                grid-template-rows: 7.2rem 11.2rem 5.9rem auto;
            }
        }
    }
    .flow-left {
        @media @desktop {
            display: grid;
            grid-template-columns: 8.4% 40% 2.8% 42.5% 6.3%;
            grid-template-rows: auto auto auto auto;
            grid-row-start: 3;
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
        img {
            @media @desktop {
                grid-column-start: 2;
                grid-row-start: 2;
                justify-self: start;
                width: 100%;
                height: auto;
                &.mobile-img {
                    display: none;
                }
            }
            &.desktop-img {
                display: none;
            }
        }
        .details-text {
            @media @desktop {
                grid-column-start: 4;
                grid-row-start: 2;
                grid-template-rows: 6.5rem 11.2rem 6.7rem auto;
            }
        }
    }
}
