.details {
    display: grid;
    grid-template-rows: auto 45px auto;
}

.details-text {
    display: grid;
    width: 100%;
    h3 {
        font-weight: bold;
        font-size: 2.4rem;
        color: #222;
        grid-row-start: 1;
        align-self: end;
    }
    p {
        grid-row-start: 2;
        align-self: center;
    }
    button {
        grid-row-start: 3;
        border: solid black 1px;
        text-decoration: none;
        width: 136px;
        height: 48px;
        align-self: center;
        font-size: 1.6rem;
    }
}

.home .details .flow-right {
    display: grid;
    grid-template-columns: 8.3% 42.5% auto 8.4%;
    grid-template-rows: 5.3rem auto auto auto;
    grid-row-start: 1;
    font-size: 1.6rem;
    line-height: 2.4rem;
    img {
        grid-column-start: 3;
        grid-row-start: 2;
        justify-self: end;
    }
    .details-text {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-template-rows: 7.2rem 11.2rem 5.9rem auto;
    }
}

.home .details .flow-left {
    display: grid;
    grid-template-columns: 8.4% auto 42.5% 6.3%;
    grid-template-rows: 5.3rem auto auto auto;
    grid-row-start: 3;
    font-size: 1.6rem;
    line-height: 2.4rem;
    img {
        grid-column-start: 2;
        grid-row-start: 2;
        justify-self: start;
    }
    .details-text {
        grid-column-start: 3;
        grid-row-start: 2;
        grid-template-rows: 6.5rem 11.2rem 6.7rem auto;
    }
}
