#recent-projects {
  width: 100%;
  position: relative;

  //Children

  .carousel-control {
    width: 100%;
    .flexIt(row, space-between, center);
    i {
      font-size: 2rem;
      color: #222222;
      font-weight: bold;
      // position: absolute;
      cursor: pointer;

      &:hover {
        color: brown;
      }
    }
  }

  h2 {
    font-size: 1.75rem;
    color: #222222;
    font-weight: bold;
    margin: 4% 0;
  }

  .project {
    width: 100%;
    margin: 4% 0;

    // Children
    .project-head {
      width: 100%;
      position: relative;

      // Children
      h3 {
        text-transform: uppercase;
        font-size: 1.25rem;
        letter-spacing: 0.25rem;
        height: 100px;
        width: 300px;
        background-color: #d8d8d8;
        .flexIt(row, center, center);
        position: absolute;
      }

      .left {
        left: 15%;
        bottom: -30px;

        // Breakpoint
        @media @desktop {
          left: 0;
        }
      }

      .right {
        right: 15%;
        bottom: -30px;

        // Breakpoint
        @media @desktop {
          right: 0;
        }
      }

      .mobile-img {
        width: 100%;

        // Breakpoint
        @media @desktop {
          display: none;
        }
      }

      .desktop-img {
        display: none;

        // Breakpoint
        @media @desktop {
          display: inline-block;
          width: 100%;
        }
      }
    }

    .text-content {
      margin-top: 40px;

      // Breakpoint
      @media @desktop {
        width: 50%;
        margin: 40px auto;
      }

      // Children
      p {
        padding: 2% 0;
      }
    }
  }

  .hide-project {
    display: none;
  }
}
