.carousel {
  width: 100%;
  .flex(center, center);
  height: 500px;
  position: relative;
  overflow: hidden;
  
  .left-button, .right-button {
    .flex(center);
    color: @white;
    background-color: @text;
    font-size: 40px;
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    &:hover {
      color: @text;
      background-color: @white;
      border: 2px solid @text;
    }
  }
  .left-button {
    top: 50%; 
    left: 25px;
    transform: translate(0, -50%);
  }
  .right-button {
    top: 50%; 
    right: 25px;
    transform: translate(0, -50%);
  }
  img {
    width: 100%;
    display: none;
  }

  .box-show {
    display: block;
  }

  .carouselText {
    position: absolute;
    top: 45%;
    left: 9%;
  }

  .text {
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 75px;
    color: @white;
  }
}