.nav-bar {
  .flex(center, none, row);
  width: 100%;
  left: 0;
  position: fixed;
  z-index: 999;

  // when the burger image is clicked
  .nav--clicked {
    background-color: #98A4AF;
    width: 100vw;
    height: 100vh;
    opacity: .95;
    h2 {
      padding-top: 10px; // margin-left: 20px;
    }
    .burger {
      padding-top: 10px; // margin-right: 90px;
    }
    nav {
      .flex(center, none, column);
      font-weight: bold;
      font-size: 5rem;
      line-height: 80px;
      color: #fff;
      left: 0;

      a {
        color: white;
        text-decoration: none;
      }

      a:hover {
        color: @primary-color;
      }
    
    }
  }
  .nav-container {
    background-color: #98A4AF;
    min-width: 1024px;
    @media @mobile {
      max-width: 500px;
      width: 500px
    }
    padding-top: 15px;
    padding-bottom: 12px;
    .flex(space-between, none, row);
    h2 {
      padding-left: 85px;
      font-weight: 600;
      font-size: 2.4rem;
      color: #fff;
      @media @mobile {
        padding-left: 20px;
      }
    }
    .burger {
      cursor: pointer;
      padding-right: 85px;
      @media @mobile {
        padding-right: 30px;
      }
    }
  }
}