// main: ../../less/index.less

.navbar {
    position: absolute;
    background-color: #828282;
    display: grid;
    grid-template-rows: 9px 30px 11px;
    grid-template-columns: 85px auto auto 85px;
    z-index: 1;
    width: 100%;
    h3 {
        font-weight: bold;
        font-size: 2.4rem;
        color: #fff;
        grid-column-start: 2;
        grid-row-start: 2;
        align-self: center;
    }
    nav {
        display: none;
    }
    img {
        margin-top: 5px;
        grid-column-start: 3;
        grid-row-start: 2;
        justify-self: end;
        align-self: center;
    }
}
