nav {
    background-color: #9AA4AE;
    position: fixed;
    overflow: hidden;
    z-index: 10;
    width: 100%;
    margin: auto;
    max-width: 1000px;
    @media @mobile {
        max-width: 500px;
    }
    .navbar {
        .flex(space-between, center, row);
        padding: 15px 7%;
        h1 {
            font-weight: bold;
            font-size: 1.5rem;
            color: #FFFFFF;
        }
        .not-selected {
            display: none;
        }
        .selected {
            display: block;
        }
        img {
            &:hover {
                cursor: pointer;
            }
        }
    }
    .nav-items {
        display: none;
    }
    .nav-show {
        .flex(space-around, center, column);
        height: 100%;
        width: 100%;
        font-weight: bold;
        font-size: 3rem;
        line-height: 5.31rem;
        a {
            color: #FFFFFF;
            &:hover {
                color: #222222;
            }
        }
    }
}

.scrolled {
    opacity: 0.90;
    background-color: #222222;
    a {
        &:hover {
            color: #9AA4AE;
        }
    }
}

.full-height {
    height: 100%;
    opacity: 0.90;
    background-color: #9AA4AE;
}