.nav-bar {
  background-color: @footer-background;
  width: 1023px;
  position: fixed;
  z-index: 99;
  .nav-container {
    padding-top: 15px;
    padding-bottom: 12px;
    .flex(space-between, none, row);
    h2 {
      padding-left: 85px;
      font-weight: 600;
      font-size: 2.4rem;
      color: #fff;
    }
    .burger {
      padding-right: 85px;
    }
  }
}