.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #828282;

    @media @mobile {
        flex-direction: column;
        width:100%;
    }
    .width-100;
    .email {
        position:relative
        align-self:center;
        width:40%;
        @media @mobile {

        }
        
        h5 {
            font-size: 25.6px;
        }
    
    
    }





}