.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #828282;
    @media @mobile {
        flex-direction: column;
        // flex-direction: row;
        width: 100%;
    }
    .width-100;
    .email {
        position: relative;
        align-self: center;
        width: 40%;
        color: white;
        line-height: 30px;
        padding: 40px;
        margin-left: 40px;
        font-weight: bold;
        font-size: 1rem;
        @media @mobile {}
        h5 {
            font-size: 25.6px;
            @media @mobile {
                // width:90%;
                // empty
            }
        }
        input {
            width: 100%;
            padding: 12px 20px;
            border: 1px solid #bbb;
            margin: 8px 0;
            border-radius: 4px;
            box-sizing: border-box;
            &:focus {
                background-color: rgb(111, 0, 255);
            }
            @media @mobile {
                width: 100%; // padding:10px 80px 5px 0px;
            }
        }
        button {
            position: inline;
            top: 110px;
            left: 280px;
            -webkit-appearance: none;
            -moz-appearance: none;
            border: none;
            background: #ededed;
            border-radius: 3px;
            padding: 10px;
            transition: all .2s;
            &:hover {
                background-color: @tab-hover-bg-color;
                color: purple;
                cursor: crosshair;
            }
            @media @largedst {
                left: 572px;
            }
            @media @laptop {
                left: 260px;
            }
            @media @mobile {
                // position: absolute;
                top: 69px;
                left: 385px;
                padding: 6.66px 7.88px;
            }
        }
    }
    .nyc-address,
    .florida-address,
    .cali-address {
        .header4(19.2px, white);
        width: 10%;
        @media @mobile {
            .header4(25.6px, white);
            margin-right: 150px;
            padding-bottom: 15px;
            width: 65%;
            line-height: 23px;
            font-size: 17.6px;
        }
        margin-left: 40px;
        line-height: 18px;
        font-size: 16px;
        color: white;
    }
    .copyright {
        width: 40%;
        font-size: 1rem;
        text-align: center;
        color: white;
        margin-bottom: 10px;
        @media @mobile {
            margin-right: 50%;
            width: 100%;
        }
    }
}