
.footer {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #828282;
    .width-100;
    
    .email {
        align-self: center;
        width:30%;
        color: white;
        line-height: 20px;
        padding: 40px;
        margin-left: 40px;
        font-size: 1rem;
        h5 {
            font-size: @font-regular;
        }
        input {
            padding: 10px 40px 5px 0px;
        }
    }
    .nyc-address,
    .florida-address,
    .cali-address {
    
        .header4(1.2rem,
        white);
        width: 10%;
      
        margin-left: 40px;
        line-height: 18px;
        font-size: 1rem;
        color: white;
    }
    .copyright {
     
        width: 40%;
        font-size: 1rem;
        text-align: center;
        color: white;
        margin-bottom: 10px;
    }
}