.topsection {
  // border: solid blue;
  // max-width: 320px;
  // margin: auto;
  position: relative;
  text-align: center;
  color: white;
}

/* Container holding the image and the text */
.topsectioncontainer {
  border: solid purple;
  img {
    display:none;
  }
}

/* Bottom left text */
.integrity{
  position: absolute;
  bottom: 150px;
  left: 150px;
}

.excellence {
  position: absolute;
  bottom: 100px;
  left: 150px;
}

.progress {
  position: absolute;
  bottom: 50px;
  left: 150px;
}