.topsection {
  border: solid blue;
  max-width: 320px;
  margin: auto;
}

/* Container holding the image and the text */
.topsectioncontainer {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left1 {
  position: absolute;
  bottom: 8px;
  left: 16px;
}