.topsection {
  // border: solid blue;
  // max-width: 320px;
  // margin: auto;
  position: relative;
  text-align: center;
  color: white;
  border: solid blue;
}

/* Bottom left text */
.threetitles {
  position: absolute;
  bottom: 20px;
  left: 90px;
}
