.button {
  display: inline-block;
  padding: 1.1rem 2.5rem;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  font: inherit;

  &:link {
    text-decoration: none;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid $color-black;
    color: $color-black;

    &:hover {
      background-color: $color-black;
      color: $color-white;
    }
  }

  &--block-sm {
    @media screen and (max-width: $mobile-width) {
      width: 100%;
    }
  }
}
