.navbar {
  background-color: $color-blue-gray;
  position: fixed;
  top: 0;
  max-width: $global-max-width;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 6% 1rem;
  z-index: 1;
}
