.navbar {
  background-color: $color-blue-gray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  .container {
    display: flex;
    justify-content: space-between;
    padding: 1.4rem 6% 1rem;
  }
}
