.tabs {
  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    flex-basis: 18rem;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    cursor: pointer;

    &--active-tab {
      background-color: $color-blue;
      color: $color-white;
    }

    &:hover {
      background-color: $color-black;
      color: $color-white;
    }
  }

  .tabs__content {
    display: none;

    &--active-tab {
      display: block;
    }

    .text-content__heading {
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 2.6rem;
      line-height: 2.5rem;
    }
  }

  &__image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;

    &--1 {
      background-image: url(../../img/services/services-tab-pre-construction-img.png);
    }

    &--2 {
      background-image: url(../../img/services/services-tab-construction-img.png);
    }

    &--3 {
      background-image: url(../../img/services/services-tab-design-build-img.png);
    }

    &--4 {
      background-image: url(../../img/services/services-tab-sustainability-img.png);
    }
  }
}
