body {
  margin: 0;
  padding: 0;
  font-family:"Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
* {
  box-sizing: border-box;
}

footer {
  background-color: #828282;
  width: 100%;
  margin-top: 5rem;
  padding: 4rem 2rem 1rem 2rem;
}
.Container {
  margin: 0 auto;
  max-width: 102rem;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 600;
  margin-top: 7rem;
}