body {
  .showcase {
    font-size: 6.4rem;
    font-weight: bold;
    line-height: 7.5rem;
    color: #fff;
    position: absolute;
    top: 325px;
    margin-left: 20px;
  }

  .feature {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    /* flex-flow: column; */
    /* justify-content: space-around; */
    margin: 100px 0 100px 0;

    h2 {
      font-size: @subheader-font-size;
      font-weight: @subheader-font-weight;
      color: @subheader-color;
    }

    .btn {
      height: 75px;
      width: 33%;
      border: 1px solid #222;
    }
  }
}
