// .home {
//   // width: 1024px;
//   // display: flex;
//   // justify-content: center;
//   // align-items: center;
// }

.showcase {
  font-weight: @jumbo-font-weight;
  font-size: @jumbo-font-size;
  line-height: @jumbo-line-height;
  color: #fff;
  position: absolute;
  top: 500px;
  margin-left: 20px;
}

.feature {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  /* flex-flow: column; */
  /* justify-content: space-around; */
  margin: 100px 0 100px 0;

  .future-design img {
    margin-right: 20px;
  }

  h2 {
    font-size: @subheader-font-size;
    font-weight: @subheader-font-weight;
    color: @subheader-color;
  }

  .btn {
    height: 75px;
    width: 150px;
    border: 1px solid #222;
    background-color: #fff;
    text-decoration: none;
    color: @color;
    margin-top: 20px;
    cursor: pointer;

    &:hover {
      background-color: @tab-hover-bg;
      color: @tab-hover-color;
    }
  }
}
