

header {
  margin-top: 45px;

  .banner {
    .flex(column, flex-end, flex-start);
    height: 500px;
    width: 100%;
    .background('../img/home/home-jumbotron.png');

    @media @mobile {
      height: 300px;
    }
  }

  .title {
    font-size: 3rem;
    width: 200px;
    margin: 50px;
    line-height: 3.5rem;

    @media @mobile {
      font-size: 2.5rem;
      width: 100px;
      margin: 20px;
      line-height: 3rem;
    }
  }
}

//////////////////// PROMOS ////////////////////

.promos {
  .promo-row {
    .flex(row, center);
    margin-bottom: 60px;
    flex-wrap: wrap;

    &:first-child {
      margin-top: 60px;

      @media @mobile {
        margin-top: 20px;
      }
    }

    @media @mobile {
      .flex(column, flex-start, center, 100%);
      margin-bottom: 20px;
    }
  }

  .promo-content {
    .flex(column, center);
    width: 45%;
    margin: 0 20px;
    height: 250px;

    h3, p {
      margin-bottom: 25px;
    }

    @media @mobile {
      .mobile-width;
    }
  }

  .promo-img-1, .promo-img-2 {
    width: 43%;
    height: 250px;
    margin: 0 20px;

    @media @mobile {
      .mobile-width;
    }
  }

  .promo-img-1 {
    .background('../img/home/home-img-1.png');
  }

  .promo-img-2 {
    .background('../img/home/home-img-2.png');
  }

  .row-reverse {
    flex-direction: row-reverse;

    @media @mobile {
      flex-direction: column;
    }
  }
}


//////////////////// RECENT PROJECTS ////////////////////

.recent-projects {
  .flex(column, center, center, 100%);

  @media @mobile {
    margin-top: 50px;
  }

  h3 {
    margin-bottom: 20px;
  }

  .project-img {
    width: 100%;
    height: 187px;
    position: relative;
    margin-bottom: 60px;

    @media @mobile {
      max-width: 400px;
    }

    .project-title {
      .flex(row, center, center);
      background: @grey-background;
      padding: 20px;
      width: 200px;
      position: absolute;
      bottom: -25px;
      right: 10px;
      letter-spacing: .3rem;
    }

    .title-reverse {
      left: 10px;
    }
  }

  .villas-img {
    .background('../img/home/home-villas-img.png');
  }

  .outskirts-img {
    .background('../img/home/home-outskirts-img.png');
  }

  .blocks-img {
    .background('../img/home/home-the-blocks-img.png');
  }

  .project-content {
    .flex(column, center, center, 100%);
    margin-bottom: 60px;

    p {
      width: 50%;

      @media @mobile {
        .mobile-width;
      }
    }
  }
}