.home {
  
  .top-content {

    .text-btn-img {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      margin: 50px 8.4rem 100px 8.4rem;

      .text-content {

        h2 {
          font-weight: bold;
          font-size: 2.4rem;
          color: @SJ-color-black;
          padding-top: 50px;
        } 

        p {
          font-weight: normal;
          font-size: 1.6rem;
          line-height: 24px;
          color: @SJ-color-black;
          padding-top: 21px;
        } 

        .btn {
          max-width: 13.8rem;
          height: 49px;
          .center();
          font-weight: normal;
          font-size: 1.6rem;
          margin-top: 26px;
          color: @SJ-color-black;
          background-color: @SJ-color-white;
          border: 1px solid @SJ-color-black;
        }
      } // .text-content

      .img-content-right {
        img {
          margin-left: 30px;
        }
      }

      .img-content-left {
        img {
          margin-right: 30px;
        }
      } // .img-content-left
    } // .text-btn-img
  } // .top-content
} // .home

.home {

  .bottom-content {
    margin: 45px 8.4rem 100px 8.4rem;
    
    h2 {
      font-weight: bold;
      font-size: 2.4rem;
      color: @SJ-color-black;
      color: red;

      .recent-project {

        .img-heading {

          img {

          } // img

          h3 {
            font-weight: bold;
            font-size: 2.8rem;
            color: @SJ-color-black;
          } // h3

        } // .img-heading

        .project-text {

          p {
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 2.4rem;
          } //p

        } // .project-text
      } // .recent-project
    } // h2
  } // .bottom-content
} // .home


// General Text
// Font Weight: Regular
// Font Size: 16px
// Line Height: 24px

// Sub Headers
// Font Weight: Bold
// Font Size: 28px
// Color: #222222