.home {
  .width-100();
  
  .top-content {

    .text-btn-img {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      margin: 50px 8.4rem 90px 8.4rem;

      .text-content {

        h2 {
          font-weight: bold;
          font-size: 2.4rem;
          color: @SJ-color-black;
          padding-top: 50px;
        } 

        p {
          font-weight: normal;
          font-size: 1.6rem;
          line-height: 24px;
          color: @SJ-color-black;
          padding-top: 21px;
        } 

        .btn {
          max-width: 13.8rem;
          height: 49px;
          .center();
          font-weight: normal;
          font-size: 1.6rem;
          margin-top: 26px;
          color: @SJ-color-black;
          background-color: @SJ-color-white;
          border: 1px solid @SJ-color-black;
        }
      } // .text-content

      .img-content-right {
        img {
          margin-left: 30px;
        }
      }

      .img-content-left {
        img {
          margin-top: 10px;
          margin-right: 30px;
        }
      } // .img-content-left
    } // .text-btn-img
  } // .top-content
} // .home

.home {
  .width-100();

  .bottom-content {

    margin: 50px 8.4rem 50px 8.4rem;
    padding-top: 6px;
    
    h2 {

      font-weight: bold;
      font-size: 2.4rem;
      color: @SJ-color-black;
    } // h2

    .recent-project {


      .img-heading {


        // .image {
        //   background: linear-gradient(rgba(255,0,0,0.5), rgba(255,0,0,0.5)), url(http)


        img {

          margin-top: 45px;
          z-index: 2;
        } // img

        h3 {
          margin: -60px 0 50px 54rem;
          font-weight: normal;
          font-size: 2.2rem;
          color: @SJ-color-black;
          background-color: @SJ-recent-projects;
          width: 31.6rem;
          height: 100px;
          .center();
          letter-spacing: 1.1rem;
          z-index: 1;
          opacity: 0.999;
        } // h3

        .h3-right {
          .width-100();
          margin: -60px 0 50px 0rem;
          font-weight: normal;
          font-size: 2.2rem;
          color: @SJ-color-black;
          background-color: @SJ-recent-projects;
          width: 31.6rem;
          height: 100px;
          .center();
          letter-spacing: 1.1rem;
          z-index: 1;
          opacity: 0.999;
        } // h3

        .project-text {
          padding-bottom: 30px;

          p {
            padding: 0px 20.5rem 24px 20.5rem;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: 0.085rem;
          } //p
        } // .project-text

      } // .img-heading
    } // .recent-project

  } // .bottom-content
} // .home


// General Text
// Font Weight: Regular
// Font Size: 16px
// Line Height: 24px

// Sub Headers
// Font Weight: Bold
// Font Size: 28px
// Color: #222222