.home {
  .width-100();

  @media @mobile {
    .width-100();
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .top-content {
    margin: 50px 10% 0 8.25%;

    @media @mobile {
      margin: 40px 2.2rem 0px 2.2rem;
    }

    .text-btn-img {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      margin: 0;


      @media @mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .text-content {
        width: 50%;

        @media @mobile {
          width: 100%;
          order: 1;
        }

        h2 {
          font-weight: bold;
          font-size: 2.4rem;
          color: @SJ-color-black;
          padding-top: 50px;

          @media @mobile {
            padding-top: 40px;
            font-size: 3.75rem;
          }

        } 

        p {
          font-weight: normal;
          font-size: 1.6rem;
          line-height: 24px;
          color: @SJ-color-black;
          padding-top: 21px;

          @media @mobile {
            padding-top: 35px;
            font-size: 2.5rem;
            line-height: 37.5px;
          }
        } 

        .btn {
          max-width: 13.8rem;
          height: 49px;
          .center();
          font-weight: normal;
          font-size: 1.6rem;
          margin-top: 26px;
          color: @SJ-color-black;
          background-color: @SJ-color-white;
          border: 1px solid @SJ-color-black;

          @media @mobile {
            max-width: 99%;
            margin-top: 40px;
            font-size: 2.5rem;
            height: 75px;
          }
        }
      } // .text-content

      .img-content-right {
        width: 50%;

        @media @mobile {
          margin: 0;
          padding: 0;
          width: 100%;

        }

        img {
          width: 100%;
          height: auto;
          margin-left: 2.5rem;
          padding-right: 1rem;
          margin-bottom: 100px;



          @media @mobile {
            height: 430px;
            width: 100%;
            margin: 0;
            padding: 0;
            margin-top: 15px;
          }
        }
      }

      .img-content-left {
        width: 50%;

        @media @mobile {
          margin: 0;
          padding: 0;
          width: 100%;
        }
        img {
          width: 98%;
          // margin-top: 10px;
          // padding-right: 30px;

          @media @mobile {
            height: 430px;
            width: 100%;
            margin: 70px 0 5px 0;
          }
        }
      } // .img-content-left
    } // .text-btn-img
  } // .top-content
} // .home

.home .top-content .text-btn-img .text-content-left {
  width: 50%;
  padding-left: 20px;

  @media @mobile {
    width: 100%;
    padding-left: 0;
    order: 1;
  }

  h2 {
    font-weight: bold;
    font-size: 2.4rem;
    color: @SJ-color-black;
    padding-top: 40px;

    @media @mobile {
      padding-top: 40px;
      font-size: 3.75rem;
    }

  } 

  p {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 24px;
    color: @SJ-color-black;
    padding-top: 21px;
    margin-right: -8px;

    @media @mobile {
      padding-top: 35px;
      font-size: 2.5rem;
      line-height: 37.5px;
    }
  } 

  .btn {
    max-width: 13.8rem;
    height: 49px;
    .center();
    font-weight: normal;
    font-size: 1.6rem;
    margin-top: 26px;
    color: @SJ-color-black;
    background-color: @SJ-color-white;
    border: 1px solid @SJ-color-black;

    @media @mobile {
      max-width: 99%;
      margin-top: 40px;
      font-size: 2.5rem;
      height: 75px;
    }
  }
} // .text-content-right


.home {
  width: 100%;

  .bottom-content {
    width: 83.5%;
    margin: 90px 8.4rem 50px 8.4rem;
    padding-top: 6px;

    @media @mobile {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    
    h2 {
      width: 100%;
      font-weight: bold;
      font-size: 2.4rem;
      color: @SJ-color-black;


      @media @mobile {
        margin: 80px 0 0 2.5rem;
        font-size: 3.7rem;
      }
    } // h2

    .recent-project {
      width: 100%;

      .img-heading {
        position: relative;
        width: 100%;
        margin: 0;

        img {
          width: 100%;
          margin-top: 45px;
          margin-bottom: 90px;
          z-index: 2;

          @media @mobile {
            margin-top: 33px;
            height: 310px;

          }
        } // img

        h3 {
          position: absolute;
          top: 220px;
          right: 0;
          width: 37%;
          font-weight: normal;
          font-size: 2.2rem;
          color: @SJ-color-black;
          background-color: @SJ-recent-projects;
          height: 95px;
          .center();
          letter-spacing: 1.1rem;
          z-index: 3;
          opacity: 0.999;

          @media @mobile {
            // margin: -25px 2.5rem 5px 2.5rem;
            top: 330px;
            right: 5%;
            padding: 0;
            width: 90%;
            height: 150px;
            font-size: 4rem;
          }
        } // h3

        .h3-right {
          .width-100();
          position: absolute;
          top: 220px;
          left: 0;
          width: 37%;
          margin: 0;
          font-weight: normal;
          font-size: 2.2rem;
          color: @SJ-color-black;
          background-color: @SJ-recent-projects;
          width: 31.6rem;
          height: 100px;
          .center();
          letter-spacing: 1.1rem;
          z-index: 1;
          opacity: 0.999;

          @media @mobile {
            left: 5%;
            top: 325px;
            padding: 0;
            width: 90%;
            height: 150px;
            font-size: 4rem;
          }
        } // h3

        .project-text {
          padding-bottom: 30px;

          @media @mobile {
            margin-top: 82px;
          }

          p {
            padding: 0px 20.5rem 24px 20.5rem;
            font-weight: normal;
            font-size: 1.6rem;
            line-height: 2.4rem;
            letter-spacing: 0.085rem;

            @media @mobile {
              margin: 32px 2.5rem 5px 2.5rem;
              padding: 0;
              font-size: 2.6rem;
              line-height: 3.8rem;
            }
          } //p
        } // .project-text

      } // .img-heading
    } // .recent-project

  } // .bottom-content
} // .home
