.first {
  position: relative;
  color: white;

  .text {
    position: absolute;

    top: 350px;
    left: 80px;
    p {
      font-size: 64px;
      font-weight: bold;
      color:#FFFFFF ;
      line-height: 75px;
      @media @mobile{
        font-size: 2rem;
        color:#FFFFFF;



      }
    }
    @media @mobile {
      position: absolute;
      top:100px;

    }
  }



  .image-1d {
    width: 100%;

    @media @mobile{
      display:none;
    }
  }

  .image-1m{
    display:none;
    @media @mobile{
      width:100%;
      display:block;
    }
  }


}

.content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
    @media @mobile{

      height:600px;
      width:100%;
    }

    .text-content {
       padding-top:5%;
       width: 50%;
       padding-right: 1%;

       bottom: 8px;
       left: 16px;
       @media @mobile{
         width: 100%;
         height:500px;
         line-height: 40px;
         order:1;
         font-weight: bold;

       }

    }

    .image-2d {
      width:100%;
      margin-top: 50px;
      margin-bottom: 50px;

      @media @mobile {
       display: none;
      }
    }

   .image-2m{

      display:none;
      @media @mobile{
        width:100%;
        display:block;
      }
    }



  button {
    height:50px ;
    width: 200px;
    border-color: #222222;


    padding-left: 1%;
    @media @mobile{
      width:100%;
      padding-bottom: 20px;
      padding-top: 10px;
      font-size: 24px;

    }

  }
  .text-content p{
    font-size:18px;
    line-height:24px ;
    padding-bottom: 20px;
    padding-top: 20px;
    @media @mobile{
      width: 100%;

      font-weight: bold;
      font-size:22px;
      padding-bottom: 30px;
      padding-top: 30px;


    }
  }

  h2 {
    font-size: 28px;
    color:#222222;
    @media @mobile{
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: bold;
      text-align: center;
      font-size: 30px;
    }

  }

}
 .inverse-content{

   .image-3d {
     width:100%;
     margin-top: 50px;
     margin-bottom: 50px;

     @media @mobile {

       display: none;
     }
   }
   .image-3m{

     display:none;
     @media @mobile{
       width:100%;

       display:block;
     }
   }


 }

  .villas {
    position: relative;
      h2 {
      font-weight: bold;
       font-size: 28px;
        color:#222222;

      @media @mobile{
         font-size: 26px;
          padding-bottom: 20px;

        }
      }


      p {
         text-align: justify;
         margin-left: 200px;
         margin-right: 545px;
         @media @mobile{
           font-weight: bold;

           font-size:22px;

           margin-top: 20px;

           height:180px;
           width:95%;
           text-align: justify;
           margin-left:0% ;
         }



      }



  .villasButton {
    position: absolute;
    top: 270px;
    height:80px;
    width: 300px;
    right:345px;
    font-size: 3rem;
    background-color: lightgrey;
    @media @mobile{
      width:300px;
      height:80px;
      top:260px;
      left:20px;
      right: 30px;
      text-align: center;

    }
  }

  .image-4d {
    margin-top: 50px;
    margin-bottom: 50px;

     @media @mobile {

      display: none;
     }
   }
  .image-4m{

    display:none;
    @media @mobile{
      width:100%;
      border:5px solid green;
      display:block;
    }
  }
}

.outskirts {
  position: relative;
  h2 {
    font-weight: bold;
    font-size: 28px;
    color:#222222;
  }


  p {
    text-align: justify;
    margin-left: 200px;
    margin-right: 545px;
    font-size: 18px;
    @media @mobile{
      font-weight: bold;
      font-size:22px;
      padding-bottom: 10px;
      padding-top: 10px;
      height:230px;
      width:95%;
      text-align: justify;
      margin-left:0% ;
    }


  }
  .outskirtsButton {
    position: absolute;
    top: 250px;
    height:80px;
    width: 300px;
    left:10px;
    font-size: 3rem;
    background-color:lightgrey;
  }

    .image-5d {
      margin-top: 50px;
      margin-bottom: 50px;

       @media @mobile {

         display: none;
      }
    }
  .image-5m{

    display:none;
    @media @mobile{
      width: 100%;
      border:5px solid green;
      display:block;
    }
  }




}

.blocks {
  position: relative;
  h2 {
    font-weight: bold;
    font-size: 28px;
    color:#222222;
  }
  img {
    margin-top: 50px;
  }

  p {
    text-align: justify;
    margin-left: 200px;
    margin-right: 545px;
    font-size: 18px;
    padding-bottom: 30px;
    @media @mobile{
      font-weight: bold;
      font-size:22px;
      padding-bottom: 10px;
      padding-top: 10px;
      height:280px;
      width:95%;
      text-align: justify;
      margin-left:0% ;
      line-height: 30px;
    }
  }
  .blocksButton {
    position: absolute;
    top: 230px;
    height:80px;
    width: 300px;
    right:345px;

    font-size: 3rem;
    background-color: lightgrey;

    background-color:lightgrey;
    @media @mobile{
      width:350px;
      height:80px;
      top:200px;
      left:20px;
      right: 30px;
      text-align: center;

    }
  }
  .image-6d {
    margin-top: 50px;
    margin-bottom: 50px;

    @media @mobile {

      display: none;
    }
  }
  .image-6m{

    display:none;
    @media @mobile{

      width:100%;

      display:block;
    }
  }


}

