.first {
  position: relative;
  color: white;

  .text {
    position: absolute;

    top: 150px;
    left: 40px;
    p {
      font-size: 8rem;
    }
  }
}

.content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;


  .text-content {
    padding-top:5%;
    width: 50%;
    padding-right: 1%;

    bottom: 8px;
    left: 16px;
  }
  img-content{
    width: 100%;
  }

  .button {
    height:50px ;
    width: 200px;
    border-color: #222222;

    padding-left: 1%;


  }
}

.villas {
  position: relative;
  h2 {
    font-weight: bold;
  }
  img {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  p {
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;

  }
  .villasButton {
    position: absolute;
    top: 270px;
    height:80px;
    width: 300px;
    right:50px;
    font-size: 3rem;
    background-color: gray;
  }
}

.outskirts {
  position: relative;
  h2 {
    font-weight: bold;
  }
  img {
    margin-top: 50px;
  }

  p {
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
  }
  .outskirtsButton {
    position: absolute;
    top: 250px;
    height:80px;
    width: 300px;
    left:10px;
    font-size: 3rem;
    background-color: gray;
  }
}

.blocks {
  position: relative;
  h2 {
    font-weight: bold;
  }
  img {
    margin-top: 50px;
  }

  p {
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
  }
  .blocksButton {
    position: absolute;
    top: 270px;
    height:80px;
    width: 300px;
    right:50px;
    font-size: 3rem;
    background-color: gray;
  }
}

