/* Your Code Goes Here */
general-font-style {
  background-color: white;
  color: black;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
html {
  font-size: 62.5%;
}
body {
  general-font-style: 400;
}
.container {
  max-width: 855px;
  margin: 0 auto;
}
.navigation {
  postion: fixed;
  top: 0;
}
.jumbo-home {
  width: 1024px;
  height: 598px;
  background-color: red;
  background-image: url("../img/home-jumbotron.png");
}
.contact {
  background: orange;
}
.services {
  background: blue;
}
