.container {
    .jumbotron {
        width: 100%;
        background-image: url('/img/home/home-jumbotron.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-weight: bold;
        font-size: 4rem;
        line-height: 4.68rem;
        color: #FFFFFF;
        padding-top: 350px;
        padding-bottom: 50px;
        padding-left: 5%;
    }
    .top-section {
        .flex(space-between,
        center,
        row);
        padding: 40px 6%;
        line-height: 24px;
        .top-section-para {
            h2 {
                font-weight: bold;
                font-size: 1.75rem;
                padding-bottom: 20px;
            }
            .button {
                border: 1px solid #222222;
                padding: 10px 15px;
                width: 22%;
                text-align: center;
                margin-top: 40px;
                max-width: 100px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .top-section-para:first-child {
            margin-right: 20px;
        }
        .top-section-para:last-child {
            margin-left: 20px;
        }
    }
}