.container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    .jumbotron {
        width: 100%;
        background-image: url('/img/home/home-jumbotron.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 350px;
        padding-bottom: 50px;
        padding-left: 5%;
        h1 {
            font-weight: bold;
            font-size: 4rem;
            line-height: 4.68rem;
            color: #FFFFFF;
        }
    }
    .top-section {
        .flex(space-between,
        center,
        row);
        padding: 40px 0px 40px 4%;
        line-height: 24px;
        .top-section-para {
            h2 {
                font-weight: bold;
                font-size: 1.75rem;
                padding-bottom: 20px;
            }
            .button {
                border: 1px solid #222222;
                padding: 10px 15px;
                width: 22%;
                text-align: center;
                margin-top: 40px;
                max-width: 100px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .top-section-para:first-child {
            padding-right: 40px;
        }
        .top-section-para:last-child {
            padding-left: 40px;
        }
    }
}

.projects {
    // width: 100%;
    margin-left: 4%;
    .project1 {
        position: relative;
        margin-top: 40px;
        #villas {
            img {
                .abs-img();
            }
        }
    }
    .project2 {
        position: relative;
        margin-top: 40px;
        #outskirts {
            img {
                .abs-img();
            }
        }
    }
    .project3 {
        position: relative;
        margin-top: 40px;
        #blocks {
            img {
                .abs-img();
            }
        }
    }
    h3 {
        font-weight: bold;
        font-size: 1.75rem;
        margin-top: 50px;
    }
    .justify-left-box,
    .justify-right-box {
        border: 1px solid #FFFFFF;
        background-color: #D8D8D8;
        padding: 30px 40px;
        width: 25%;
        text-align: center;
        font-weight: 300;
        font-size: 1.75rem;
        letter-spacing: 4px;
        position: absolute;
        z-index: 1;
        top: 210px;
    }
    .justify-right-box {
        right: 0;
    }
    .project-text {
        margin: 100px 28% 50px 28%;
        line-height: 24px;
    }
}