.container {
    .jumbotron {
        width: 100%;
        background-image: url('/img/home/home-jumbotron.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-weight: bold;
        font-size: 4rem;
        line-height: 4.68rem;
        color: #FFFFFF;
        padding-top: 350px;
        padding-bottom: 50px;
        padding-left: 5%;
    }
}