.services-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* for IE 6 */
  .header-text {
    position: absolute;
    bottom: 170px;
    left: 20px;
    color: @white;
    padding-left: 62px;
    padding-right: 20px;
    padding-bottom: 23px;
    font-size: 6.41em;
    font-family: @main-font;
    font-weight: 700;
    line-height: 75px;
  }

  .header-ptext {
    font-family: @main-font;
    font-size: 1.6em;
    line-height: 23px;
    width: 84%;
    align-self: center;
    padding-top: 51px;
    padding-left: 6px;
    padding-bottom: 51px;
  }
}

.tabs {
  width: 100%;

  .tabs-items {
    width: 100%;
    height: 300px;
    display: flex;
    padding-top: 5px;
    margin-left: 55px;
    padding-bottom: 150px;
    flex-direction: column;
    .tabs-item-selected {
    display: block;
  }


    .tabs-item-title {
      font-family: @main-font;
      font-size: 2.4em;
      font-weight: 700;
      padding: 48px 25px 16px 31px;
    }


    .services{

      padding-top: 0px;
      display: flex;
      flex-wrap: wrap;
      margin-left: 30px;




    .tabs-item-description {
      p {
        line-height: 25px;
        font-family: @main-font;
        font-size: 1.56em;
        margin: 0;
        width: 42%;

          float:left;
      }

      .headerImage {
        width: 40%;
        float:left;
        padding-left: 40px;
      }
    }

  }

  }

  .tabs-links {
    display: flex;
    background-color: @white;
    margin-left: 74px;
  }

  .tabs-link {
    padding: 13px 15px;
    width: 155px;
    margin-right: 27px;
    margin-left: 10px;
    font-size: 2em;
    background-color: @white;
    border: 1px solid @black;
    color: @black;
    font-family: @main-font;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    transition: .3s ease-in;
    &:hover {
      background-color: @blue;
      color: @white;
    }
  }

  .tabs-link-selected {
    z-index: 2;
    background-color: @blue;
    color: @white;

    &:hover {
      background-color: @blue;
      color: @white;
    }
  }
}
