.service-cta {
	margin-bottom: 15px;
	position: relative;
	color: @background;
	.service-heading {
		text-align: center;
		font-size: 6rem;
		font-weight: 600;
		position: absolute;
		bottom: 8px;
		left: 16px;
	}
}

.services-content {
	margin: 5%;
	p {
		font-size: 16px;
	}
	.tabs {
		h3 {
			font-size: 1.8rem;
			font-weight: bold;
		}
		width: 100%;

		.tabs-items {
			margin: 50px 0;
			display: flex;
		}
		.tabs-item {
			display: none;

			.tabs-item-title {
				margin-bottom: 20px;
				font-size: 24px;
				font-weight: bold;
			}

			.tabs-item-description {
				display: flex;
				justify-content: space-between;
				p {
					padding-right: 20px;
					margin-bottom: 10px;
				}
				@media @mobile {
					flex-direction: column;
					margin-bottom: 15px;
					p {
					}
				}
			}
		}
		.tabs-item-selected {
			display: block;
		}

		.tabs-links {
			display: flex;
			justify-content: space-between;
			margin: 30px 0;
			@media @mobile {
				flex-direction: column;
			}
		}

		.tabs-link {
			border: 1px solid @main-color;
			max-width: auto;
			width: 20%;
			font-size: 20px;
			height: auto;
			text-align: center;
			padding-top: 10px;
			cursor: pointer;
			&:hover {
				color: @background;
				background-color: @main-color;
			}
			@media @mobile {
				width: 100%;
				margin: 10px 0;
			}
		}
		.tabs-link-selected {
			z-index: 2;
			border-right: 1px solid @main-color;
			background-color: #5e9fb9;
			color: @background;
			&:hover {
				color: @background;
				background-color: @main-color;
			}
		}
	}

	// .tabs {
	// 	h3 {
	// 		font-size: 1.8rem;
	// 		font-weight: bold;
	// 	}
	// 	.tab-links {
	// 		display: flex;
	// 		justify-content: space-between;
	// 		margin: 30px 0;
	// 		@media @mobile {
	// 			flex-direction: column;
	// 		}
	// 		.tab-link {
	// 			border: 1px solid @main-color;
	// 			max-width: auto;
	// 			width: 20%;
	// 			height: auto;
	// 			text-align: center;
	// 			padding-top: 10px;
	// 			cursor: pointer;
	// 			&:hover {
	// 				color: @background;
	// 				background-color: @main-color;
	// 			}

	// 			@media @mobile {
	// 				width: 100%;
	// 				margin-bottom: 5%;
	// 			}
	// 		}
	// 	}
	// 	.tab-items {
	// 		margin: 40px 0;
	// 		.tab-item {
	// 			display: flex;
	// 			justify-content: space-between;
	// 			margin: 60px 0;
	// 			@media @mobile {
	// 				flex-direction: column;
	// 			}
	// 			.tab-item-content {
	// 				display: none;
	// 			}
	// 			p {
	// 				margin-right: 20px;
	// 				font-size: 1.5rem;
	// 				line-height: 24px;
	// 			}
	// 		}
	// 	}

	// 	.tab-link-selected {
	// 		z-index: 2;
	// 		border-right: 1px solid @main-color;
	// 		background-color: #5e9fb9;
	// 		color: @main-color;
	// 		&:hover {
	// 			background-color: @background;
	// 		}
	// 	}
	// 	.tab-item-selected {
	// 		display: block;
	// 	}
	// }
}
