#hero {
  width: 100%;
  padding: 0;
  position: relative;
  color: white;

  // Children
  h1 {
    z-index: 2;
    position: absolute;
    bottom: 10%;
    left: 5%;
    font-size: 4rem;
    font-weight: bold;
    line-height: 5.5rem;
  }

  .mobile-jumbo {
    width: 100%;

    // Breakpoint
    @media @desktop {
      display: none;
    }
  }

  .desktop-jumbo {
    width: 100%;
    display: none;

    // Breakpoint
    @media @desktop {
      display: inline-block;
    }
  }
}
