.Col1 {
    display: flex;
    flex-flow: column;
    padding-left: 3rem;
    padding-top: 3rem;
    width: 40%;
}

.Col1 h1, .Col1 h2 {
    font-size: 2.4rem;
    margin: 2rem 0;
}

.Col1 p {
    font-size: 1.6rem;
    line-height: 1.6;
    letter-spacing: 1.2;
    font-weight: 400;
    width: 95%;
}
.Button {
    margin-top: 1rem;
    background-color: white;
    border: 1px solid black;
    font-size: 1.4rem;
    font-weight: 600;
    width: 13.8rem;
    height: 4.9rem;
}

@media (max-width: 500px) {
    .Col1 h1, .Col1 h2 {
        margin: 0.5rem 0;
    }
    .Button {
        width: 95%;
        margin-top: 2.5rem;
    }
    .Col1 {
        width: 100%;
        order: 2;
        margin-left: 0;
        padding-left: 0;
        align-items: center;
    }
}
@media (max-width: 880px) and (min-width: 501px) {
    .Col1 {
        width: 70%;
        order: 2;
        margin-left: 0;
        padding-left: 0;
        align-items: center;
    }
}

