.menu {
  display: none;
  position: absolute;
  width: 963px;
  height: 563px;
  background-color: #828282;
  border-left: none;
  border-bottom: none;
  z-index: 2;
}

.menu-button {
  position: absolute;
  right: 100px;
  cursor: pointer;
}

.menu ul li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
  list-style-type: none;
  font-size: 48px;
  text-align: center;
  line-height: 85px;
  font-weight: bold;
  color: #FFFFFF;
}

.menu ul li a {
  color: #FFFFFF;
}

.menu ul li a:hover {
  color: #222222;
}

.menu--open {
  display: block;
}

.menu--close {
  display: none;
}
