.Row {
    margin: 3rem 0;
}

.Button {
    margin-top: 1rem;
    background-color: white;
    border: 1px solid black;
    font-size: 1.8rem;
    font-weight: 500;
    width: 13.5rem;
    height: 4.9rem;
}

@media (max-width: 500px) {
    .Button {
        margin: 0 auto;
        width: 100%;
    }
  }