.contact-page {
  max-width: 1024px;
  width: 100%;
  .header-section {
    header {
      h1 {
      }
    }
  }

  .contact-main {
    width: 84%;
    margin: 0 auto;
    .flex(space-between, none, row);

    .left-content {
      flex: 2;
    }

    .right-content {
      flex: 1;
    }
  }
}