.contact-page {
  max-width: 1024px;
  width: 100%;
  .header-section {
    header {
      h1 {
      }
    }
  }

  .contact-main {
    padding-top: 60px;
    width: 84%;
    margin: 0 auto;
    .flex(space-between, none, row);

    .left-content {

      h2 {
        margin-top: -20px;
        padding-bottom: 20px;
      }
      flex: 2;
      form {
        padding-top: 30px;

        label {
          font-size: 1.6rem;
        }

        .lower-text {
          font-size: 1.3rem;
          color: #D6D6D6;
          padding-top: 7px;
          padding-bottom: 38px;
        }

        input[type=text] {
          margin-top: 5px;
          padding: 10px;
        }

       

        input[type=text], textarea, select{
          border-radius: 5px;
          width: 72%;
          background-color: white;
          border: 1px solid #D6D6D6;
          font-size: 1.6rem;
        }

        ::placeholder {
          color: #D6D6D6;
        }

        select {
          margin-top: 9px;
          margin-bottom: 31px;
          height: 40px;
        }

        textarea {
          height: 130px;
          margin-bottom: 13px;
        }

        input[type=submit] {
          background-color: white;
          border: 1px solid @primary-color;
          font-size: 1.6rem;
          padding: 15px;
          width: 23.5%;

          &:hover {
            background-color: @primary-color;
            color: white;
          }
        }
      }
    }

    .right-content {
      flex: 1;
    }
  }
}