.tab {
  display: block;
  border: 1.5px solid black;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  padding: 18px 0;
  width: 210px;
  border-radius: 1px;
  background-color: white;
  cursor: pointer;
  outline: none;
  &:hover {
  background-color: #d4d9dd;
    color: #222222;
  }
}
