.hamburger {
  cursor: pointer;

  &__line {
    width: 25px;
    height: 2px;
    padding: 2px;
    margin: 5px;
    background-color: #bdbdbd;
    display: block;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
