.menu-container {
  background-color: #99A4AF;
  position: relative;
  height: 50px;
  width: 99.99%;
  z-index: 999;

  // .menu-container::after {
  // content: '';
  // clear: both;
  // display: block;
  // }

  .logo {
  float: left;
  padding: 1% 0 0 8.2%;
  margin: 0;
  z-index: 2;
  }

  .site-nav {
    display: block;
    transition: 0.3s all ease;
    position: absolute;
    top: 100%;
    padding: 17.4%;
    right: 0;
    left: 0;
    background: #99A4AE;
    opacity: 0.9;
  }

  .site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .nav-link{
    color: #FFFFFF;
    padding-left: 36.5%;
    text-decoration: none;
    text-align: center;
    font-size: 4.5rem;
    line-height: 81px;
    letter-spacing: 2px;
    z-index: 1;
    cursor: pointer;

      .site-nav .nav-link:first-child {
      padding-top: 5%;

      &:hover {
      color: #504446;
      }
    }
  }

  .site-nav {
    display: none;
  }

  .hamburger .open {
    color: #FFFFFF;
    position: absolute;
    top: 23%;
    right: 8%;
    cursor: pointer;
  }

  .close {
    display: none;
  }


  // .hamburger,
  // .hamburger::before,
  // .hamburger::after {
  //   content: '';
  //   display: block;
  //   background: #FFFFFF;
  //   height: 3px;
  //   width: 2.5rem;
  //   border-radius: 3px;
  //   transition: all ease-in-out 500ms;
  // }

  // .hamburger::before {
  //   transform: translateY(-7px);
  // }

  // .hamburger::after {
  //   transform: translateY(4px);
  // }

  // .open .hamburger {
  //   transform: rotate(45deg);
  // }

  // .open .hamburger::before {
  //   opacity: 0;
  // }

  // .open .hamburger::after {
  //   transform: translateY(-3px) rotate(-90deg);
  // }

}



.mobile-jumbo-img {
  display: none;
}

@media ( max-width: 500px) {
  .home {
    width: 100%;
    padding: 1%;
  }

  .jumbo-img {
  display: none;
  }

  .mobile-jumbo-img {
    display: block;
    width: 100%;
  }
  .jumbo-title {
    font-size: 4rem;
    line-height: 1.2em;
  }

  .nav-link {
    padding-left: 0;
    padding-right: 3%;
    text-align: right;
  }

}