.nav {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100vw;
  .center(flex, center, center);
  flex-wrap: wrap;
  padding: 10px;

  .naviCons {
    cursor: pointer;
    .center(flex, space-between, center);
    max-width: 1024px;
    min-width: 85%;

    @media @mobile {
      width: 100%;
    }
  }

  .nav-link {
    .center(flex, flex-start, flex-start);
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    @media @mobile {
      margin: 50px 0 0 130px;
      max-width: 320px;
    }

    a {
      font-weight: bold;
      font-size: 48px;
      line-height: 85px;
      color: #fff;
      text-decoration: none;
    }
  }

  .navShow {
    display: none;
    z-index: 5;
  }
}
