.menu-container {
  background-color: #99A4AF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2% 7.75%;
  width: 100%;
  z-index: 999;

  .hamburger  {
    cursor: pointer;
  }

  .site-nav {
    position: fixed;
    width: 71%;
    height: 100%;
    top: 1px;
    left: 14.5%;
    background: #99A4AE;
    opacity: 0.9;
    // visibility: hidden;
    transition: all 0.5s ease;
    z-index: 2;

    .expanded-menu {
      background-color: #99A4AF;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.2% 7.75%;
      width: 100%;
      z-index: 999;

        .close {
          cursor: pointer;
      }
    }

    .nav-links {
      padding-top: 15%;
    }

    .nav-link {
      color: #FFFFFF;
      padding-left: 40.5%;
      text-decoration: none;
      list-style: none;
      text-align: center;
      font-size: 4.5rem;
      line-height: 81px;
      letter-spacing: 2px;
      z-index: 1;
      cursor: pointer;

       &:hover {
      color: #504446;
      }
    }
  }
    
  .site-nav {
    display: none;
  }

  .toggle-on {
    display: block;
  }
}

.mobile-jumbo-img {
  display: none;
}

@media ( max-width: 500px) {
  .home {
    width: 100%;
    padding: 1%;

    .logo {
      padding: 1.2% 7.75%;
    }
  }

  .jumbo-img {
  display: none;
  }

  .mobile-jumbo-img {
    display: block;
    width: 100%;
  }
  .jumbo-title {
    font-size: 4rem;
    line-height: 1.2em;
  }

  .nav-link {
    padding-left: 0;
    padding-right: 3%;
    text-align: right;
  }

}