/* COLORS */
/* FONTS */
/* MEDIA QUERIES */
footer {
  width: 100%;
  background-color: #828282;
}
footer .wrap {
  width: 90%;
  margin: 0px auto;
  padding: 20px 0 30px 0;
}
footer .wrap .letsTalk h3 {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
footer .wrap .letsTalk input {
  width: 96%;
  padding: 15px 0 15px 10px;
  border-radius: 3px;
  margin-top: 10px;
  border: 1px solid #ffffff;
}
footer .wrap .letsTalk p {
  font-size: 14px;
  color: #ffffff;
  padding: 10px 0 0 0;
}
@media (min-width: 736px) {
  footer .wrap .tabletFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
}
footer .wrap .tabletFooter .card ul {
  margin-top: 25px;
}
footer .wrap .tabletFooter .card ul li {
  color: #ffffff;
  font-size: 14px;
  margin-top: 8px;
}
footer .wrap .tabletFooter .card ul li:nth-child(1) {
  font-size: 20px;
}
footer .copy {
  margin-left: 20px;
  padding: 30px 0 20px 0;
  color: #ffffff;
  font-size: 14px;
}
@media (min-width: 736px) {
  footer .copy {
    text-align: center;
    margin: 0;
  }
}
