/* COLORS */
/* FONTS */
/* MEDIA QUERIES */
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 100%;
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: 0px auto;
  }
}
