/* COLORS */
/* FONTS */
/* MEDIA QUERIES */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #99a4af;
}
header h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  color: #ffffff;
}
header img {
  width: 25px;
  height: 25px;
  margin: 10px 10px 0 0;
  cursor: pointer;
}
header nav {
  display: none;
}
/* EXPANDED TOGGLE CLASSES */
.headerExpanded {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  opacity: 0.9;
}
.headerExpanded h1 {
  padding: 20px 0 0 20px;
}
.headerExpanded img {
  margin: 20px 20px 0 0;
}
.navExpanded {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 19%;
}
.navExpanded a {
  font-size: 48px;
  font-weight: bold;
  line-height: 85px;
  color: #ffffff;
  text-decoration: none;
}
.navExpanded a:hover {
  color: #222222;
}
