/* COLORS */
/* FONTS */
/* MEDIA QUERIES */
header {
  width: 100%;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  background-color: #99a4af;
}
header h1 {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  color: #ffffff;
}
header img {
  width: 25px;
  height: 25px;
  margin: 10px 10px 0 0;
}
header nav {
  display: none;
}
