.page {
  display: none;
  flex-direction: column;
  height: 275px;
  max-height: 275px;

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .container {
    display: flex;
    height: 100%;

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-right: 2vw;

      p {
        font-size: 1.9rem;
        // margin: 1.4vw 0 1.8vw 0;
        line-height: 26px;
      }
    }

    img {
      width: 100%;
      height: 100%;
    }



  }

}
