.Header {
    position: relative;
    margin-bottom: 4rem;
}
.Header img {
    width: 100%;
}
.Header h1 {
    position: absolute;
    bottom: -1.5rem;
    left: 8.5rem;
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 7.5rem;
    color: white;
}
.Header h2 {
    position: absolute;
    bottom: 4.6rem;
    margin-left: 8.2rem;
    font-weight: bold;
    font-size: 6.4rem;
    line-height: 7.5rem;
    color: white;
}

.ImgMobile {
    display: none;
}
.Paragraph {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 24px;
    max-width: 850px;
    margin: 0 auto;
}

@media (max-width: 880px) and (min-width: 501px) {
    .Header h2 {
        bottom: 2rem;
        margin-left: 1rem;
        font-size: 4.8rem;
        line-height: 1.4;
    }
    .Header h1 {
        left: 1.4rem;
        bottom: .8rem;
        font-size: 3.6rem;
    }
    .Header {
        height: unset !important;
    }
    .Paragraph {
        padding-left: 1rem !important;
    }
}
@media (max-width: 500px) {
    .Header h2 {
        bottom: 2rem;
        margin-left: 1rem;
        font-size: 3.8rem;
        line-height: 1.4;
    }
    .Header h1 {
        bottom: 0rem;
        margin-left: -6rem;
        font-size: 3.8rem;
        line-height: 1.4;
    }
    .ImgDesktop {
        display: none;
    }   
    .ImgMobile {
        display: block;
    }
    .Header {
        height: unset !important;
    }
    .Paragraph {
        padding-left: 1rem !important;
    }
}