.villas {
  width: 100%;
}

  .recent {
    font-size: 24px;
    font-weight: bold;
    padding-left: 20px;
    margin-top: 45px;
  }

  .villas .img {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    background-image: url('./../../assets/home/home-mobile-villas-img.png');
    background-size: cover;
  }

  .villas .titleBox {
    width: 85%;
    height: 90px;
    margin: 0px auto;
    margin-top: -20px;
    background-color: #D8D8D8;
    border: 1px solid #D8D8D8;
  }

    .villas .title {
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      margin-top: 34px;
      letter-spacing: 5px;
    }

  .villas p {
    padding: 0 20px 0 20px;
    line-height: 24px;
    margin-top: 20px;
  }