.jumbotron-container {
  width: 100%;
  position: relative;
  color: @white;
  display: flex;
  justify-content: center;
  .jumbo-img {
    width: 100%;
  }
  .jumbo-text {
    position: absolute;
    bottom: 50px;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;
    background: transparent;
    color: @white;
  }
}