.jumbotron {
  width: 100%;
  position: relative;
  z-index: -1;

  .jumbotron h2 {
    position: absolute;
    top: 54%;
    left: 8.1%;
    z-index: 1;
  }

  .jumbo-services {
    width: 100%;
    position: relative;
    z-index: -1;
  }

  .jumbo-contact {
    width: 100%;
    position: relative;
  }

  h2 {
    position: absolute;
    top: 54%;
    left: 7.7%;
    z-index: 1;
  }

  .mobile-jumbo {
    display: none;
  }
}
