@charset "UTF-8";

// ----------------------
// == Site settings
// ----------------------

// Fonts
$font1: 'Roboto', sans-serif;
$font2: Georgia, serif;

$font-size-base: 1.6rem;

// = Colors
// -----------------------------

// Graphic chart
$red: #df2e30;
$blue: #1894c4;
$facebook: #3b5998;
$twitter: #43bfe1;

$color1: $red;
$color2: $blue;
$nav-bg: #9aa5b0;
$blank: #ffffff;
$footer: #828282;
$font-c: #222222;
$banner:  #D8D8D8;
$tab: #5E9FB9;
$active: #504545;
$placeholder: rgba($font-c, .4);

// = Grid
// -----------------------------


//= Mixins - Media Query
//-----------------------------
$bp-1: 450px;
$bp-2: 768px;
$bp-3: 970px;
$bp-4: 1170px;

@mixin screen-xs {

	@media (min-width: $bp-1) {
		@content;
	}
}

@mixin screen-sm {

	@media (min-width: $bp-2) {
		@content;
	}
}

@mixin screen-md {
  
  @media (min-width: $bp-3) {
    @content;
  }
}

@mixin screen-lg {
  
  @media (min-width: $bp-4) {
    @content;
  }
}



// ### Navigation Text (Expanded)
// - Font Weight: Bold
// - Font Size: 48px
// - Line Height: 85px
// - Color: #FFFFFF
// - Hover Color: #222222