.services-tabs {
    display: grid;
    grid-column-gap: 4.4%;
    grid-auto-columns: 21.64%;
    grid-template-rows: 5rem 5.3rem auto;
    .button(100%);
    button {
        grid-row-start: 1;
        font-size: 2.1rem;
    }
    div {
        grid-template-rows: 4.3rem 12.3rem 2.6rem auto;
        grid-template-columns: 50% auto;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        &:not(.active) {
            display: none;
        }
        &.active {
            display: grid;
        }
        h2 {
            grid-column-start: 1;
            list-style: none;
            font-size: 2.4rem;
            font-weight: bold;
        }
        p {
            line-height: 2.6rem;
            align-self: end;
            &:first-child {
                grid-column-start: 1;
                grid-row-start: 2;
            }
            &:nth-child(3) {
                grid-row-start: 4;
            }
        }
        img {
            grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: 5;
            align-self: center;
            justify-self: end;
            margin-top: 23px;
        }
    }
}
