// Home Page


.home-page {
    .jumbotron {
        display: flex;
    }
}
.section-hero {
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        padding-top: 400px;
        padding-bottom: 30px;
    }
    .col {
        position: relative;
    }
    h1 {
        font-size: 48px;
        color: #ffffff;
        position: absolute;
        left: 0; bottom: 30px;
    }
}

.site-nav{
    background-color: #777777
}
.site-brand {
    color: white;
}

.menu-overlay {
        background-color: red;
        bottom: 0;
        content: "";
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 0;
        opacity: .75;


        &.menu-is-active {
            display:block;
        }
}


.menu-site {
max-width: 250px;
margin: auto;


    li, a {
        color: #ffffff;
    }

    li {
font-size: 48px;
font-weight: bold;
    }

}