// * Media Query Escapes --------------

@mobile: ~"(max-width: 400px)";

// * Root Colors ----------------------

@mine-shaft: #222222;
@alto: #d8d8d8;
@hippie-blue: #5e9fb9;
@gray: #828282;
@white: #ffffff;
@gray-chateau: #9aa4ad;

// * Color Theme Variables ------------

// Nav Bar
@nav-bar-bg: @gray;
@nav-expanded: @white;
@nav-expanded-hover: @mine-shaft;
@nav: @white;

// Main Styles
@text-color: @mine-shaft;
@button-border: @mine-shaft;
@jumbotron-header: @white;

// Sub Headers
@sub-header: @mine-shaft;
@project-title-bg: @alto;

// Tabs
@tab-selected-bg: @hippie-blue;
@tab-hover-bg: @mine-shaft;
@tab-hover: @white;

// Footer
@footer-bg: @gray-chateau;
@footer: @white;


.footer-text () {
  font-weight: regular;
  font-size: 1.4rem;
  line-height: 2.6rem;
  color: @footer;
}


#buttons {
  .hover {
    background: @tab-hover-bg;
    color: @tab-hover;
  }

  .btn-main () {
    .center;
    border: solid 1px @button-border;
    width: 135px;
    height: 45px;

    &:hover {
      #buttons.hover;
    }
  }

  .tabs () {
    border: solid 1px @button-border;
    width: 180px;
    height: 50px;
    text-align: center;

    &:hover {
      #buttons.hover;
    }
  }
}

// ----------------------
// == Site settings
// ----------------------

// Fonts
@font1: 'Roboto', sans-serif;
@font2: Georgia, serif;

@font-size-base: 1.6rem;

// = Colors
// -----------------------------

// Graphic chart
@red: #df2e30;
@blue: #1894c4;
@facebook: #3b5998;
@twitter: #43bfe1;

@color1: @red;
@color2: @blue;
@nav-bg: #9aa5b0;
@blank: #ffffff;
@footer: #828282;
@font-c: #222222;
@banner:  #D8D8D8;
@tab: #5E9FB9;
@active: #504545;
@placeholder: fade(@font-c, 40%);

// = Grid
// -----------------------------


//= Mixins - Media Query
//-----------------------------
/*@bp-1: 450px;
@bp-2: 768px;
@bp-3: 970px;
@bp-4: 1170px;

@mixin screen-xs {

	@media (min-width: @bp-1) {
		@content;
	}
}

@mixin screen-sm {

	@media (min-width: @bp-2) {
		@content;
	}
}

@mixin screen-md {
  
  @media (min-width: @bp-3) {
    @content;
  }
}

@mixin screen-lg {
  
  @media (min-width: @bp-4) {
    @content;
  }
} */



// ### Navigation Text (Expanded)
// - Font Weight: Bold
// - Font Size: 48px
// - Line Height: 85px
// - Color: #FFFFFF
// - Hover Color: #222222