/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

/*font-family: 'Alex Brush', cursive;
font-family: 'Niconne', cursive;
font-family: 'Berkshire Swash', cursive;*/
html {
	font-size: font-size:62.5%;
}

body {
	font-family: 'Berkshire Swash', cursive;
	font-size: 1.6rem;
}

.overlay {
	width: 100vw;
	height: 100vh;
	background: url("https://i.pinimg.com/originals/69/b6/d0/69b6d06d12333cf8124f9d9cc21e9565.jpg");
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

.box-group {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box {
	background-color: #80d1c8;
	color: #591f93;
	border: 1px solid #591f93;
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	box-shadow: -5px 5px #591f93;
	opacity: .8;

}

.container-group {
	background-color: #80d1c8;
	color: #591f93;
	border: 1px solid #591f93;
	height: 0vh;
	width: 80vw;
	box-shadow: -5px 5px #591f93;
	margin: 0 auto;
	margin-top: 2vh;
	opacity: .8;
}
