// -----------------------------------------------------------------------------
// This file contains styles for basic elements.
// -----------------------------------------------------------------------------
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%
}

body {
  .font-regular();
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: @brand-color-dark-gray;
  background-color: @brand-color-white;
}

h1 {
  .font-bold();
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: @brand-color-white;
}

h2 {
  .font-bold();
  font-size: 2.4rem;
  margin: 0 0 2.1rem 0;
}

button {
  border: 1px @brand-color-dark-gray solid;
  outline: 0;
  align-self: flex-start;
  padding: 14px 25px;
  font-size: 1.6rem;
  color: @brand-color-dark-gray;
  cursor: pointer;
  transition: all .3s linear;
  word-break: break-all;

  @media @phone {
    width: 100%;
  }

  &:hover {
    color: @brand-color-white;
    background-color: @brand-color-dark-gray;
  }
}