.rp-title {
  width: 100%;
  padding: 6.5% 0 4.5% 8.5%;
}

.recent-projects {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

  .project-img {
    position: relative;
    text-align: center;
  }

  .mobile-villas-img, .mobile-outskirts-img, .mobile-blocks-img {
    display: none;
  }
  p {
    padding: 9% 28%;
  }
}

.box-title {
   width: 31%;
   position: absolute;
   top: 75%;
   right: 8.2%;
   bottom: 2%;

    h4 {
    text-align: center;
    font-weight: normal;
    font-size: 2.5rem;
    letter-spacing: 7.3px;
    padding: 35px 0px;
    background-color: #D8D8D8;
  }
}

.outskirts {
     position: absolute;
     left: 8.3%;
   }

@media (max-width: 500px) {
  .home .recent-projects {
    width: 100%;
    padding: 2%;

    .rp-title {
      font-size: 2.2rem;
      text-align: left;
      padding: 6.5% 0 4.5% 1.5%;
    }

    p {
      width: 100%;
      margin-top: 6%;
      padding: 10% 2%;
    }

    .villas-img, .outskirts-img, .blocks-img {
      display: none;
    }

    .mobile-villas-img, .mobile-outskirts-img, .mobile-blocks-img {
      display: block;
      width: 100%;
    }

    .box-title {
      width: 100%;
      padding: 2%;
      left: .3%;
    }
  }
}