.home {
  .top-section {
    margin-top: 5rem;

    .row {
      margin-bottom: 10rem;
    }

    .text-content {
      margin-top: 5rem;
      &__heading {
        margin-bottom: 2rem;
      }
      &__paragraph {
        margin-bottom: 2.5rem;
      }
    }

    .img-content {
      height: 27.5rem;
      background-size: cover;
      background-position: top;

      &--1 {
        background-image: url(../img/home/home-img-1.png);

        @media screen and (max-width: $mobile-width) {
          background-image: url(../img/home/home-mobile-img-1.png);
        }
      }

      &--2 {
        background-image: url(../img/home/home-img-2.png);

        @media screen and (max-width: $mobile-width) {
          background-image: url(../img/home/home-mobile-img-2.png);
        }
      }
    }
  }

  .projects {
    h2 {
      margin-bottom: 4.5rem;
    }

    .text-content {
      max-width: 45rem;
      margin: 0 auto;
      margin-bottom: 9.8rem;

      p {
        margin-bottom: 2.4rem;
      }
    }
  }

  .display {
    position: relative;
    margin-bottom: 9.3rem;

    &__img230 {
      height: 23rem;
      background-size: center;
      background-position: center;
      background-repeat: no-repeat;

      &--1 {
        background-image: url(../img/home/home-villas-img.png);

        @media screen and (max-width: $mobile-width) {
          background-image: url(../img/home/home-mobile-villas-img.png);
        }
      }

      &--2 {
        background-image: url(../img/home/home-outskirts-img.png);

        @media screen and (max-width: $mobile-width) {
          background-image: url(../img/home/home-mobile-outskirts-img.png);
        }
      }

      &--3 {
        background-image: url(../img/home/home-the-blocks-img.png);

        @media screen and (max-width: $mobile-width) {
          background-image: url(../img/home/home-mobile-the-blocks-img.png);
        }
      }
      @media screen and (max-width: $mobile-width) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }

    &__title {
      position: absolute;
      bottom: 0;
      border: 1px solid $color-white;
      background-color: $color-gray;
      padding: 3.5rem 0;
      width: 31.5rem;
      transform: translateY(45%);

      &--right {
        right: 0;
      }

      &,
      &--right {
        @media screen and (max-width: $mobile-width) {
          left: 50%;
          transform: translate(-50%, 75%);
        }
      }
    }
  }
}
