.project-details {
  &__heading {
    background-image: linear-gradient(
        to right,
        rgba($color-black, 0.2),
        rgba($color-black, 0.2)
      ),
      url(../img/projects/projects-jumbotron.jpg);
    background-size: cover;
    background-position: top;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
