footer {
  width: 100%;
  background-color: #828282;

  h6 {
    font-size: 1.9rem;
    color: #FFFFFF;
  }

  p {
    font-size: 1.2rem;
    color: #FFFFFF;
    letter-spacing: .1rem;
    font-weight: normal;
  }
  .footer-content {
    padding: 5%;
    display: flex;

    .footer-address {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }

  .copyright {
  text-align: center;
}

}


