footer {
    background-color: #828282;
    display: grid;
    grid-template-columns: 8.3% 32.6% 18.3% 19.7% auto 8.3%;
    grid-template-rows: 87px 79px 28px 46px 10px;
    color: #fff;
    font-size: 1.4rem;
    h4 {
        grid-column-start: 2;
        font-size: 2.03rem;
        font-weight: normal;
        grid-row-start: 1;
        align-self: end;
        line-height: 2.4rem;
    }
    p {
        &:nth-child(3) {
            grid-row-start: 3;
            grid-column-start: 2;
            align-self: center;
            font-size: 1.3rem;
        }
        &:last-child {
            grid-row-start: 4;
            grid-column-start: 3;
            align-self: end;
            font-size: 1.2rem;
        }
    }
    form {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        align-self: stretch;
        justify-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        label {
            grid-column-start: 1;
            grid-row-start: 1;
            font-size: 2.03rem;
            font-weight: normal;
        }
        input {
            color: #999;
            height: 42px;
            width: 278px;
            border-radius: 3px;
            font-size: 1.6rem;
            padding-left: 7px;
            overflow: hidden;
            border: none;
        }
    }
    h4 {
        grid-row-start: 1;
        &:nth-child(4) {
            grid-column-start: 3;
        }
        &:nth-child(6) {
            grid-column-start: 4;
        }
        &:nth-child(8) {
            grid-column-start: 5;
        }
    }
    address {
        line-height: 2.6rem;
        grid-row-start: 2;
        grid-row-end: 4;
        align-self: center;
        &:nth-child(5) {
            grid-column-start: 3;
        }
        &:nth-child(7) {
            grid-column-start: 4;
        }
        &:nth-child(9) {
            grid-column-start: 5;
        }
    }
}
