footer {
  width: 100%;
  background-color: #828282;

  .footer-email {
    width: 45%;
  }

    h6 {
      padding-bottom: 5px;
      font-size: 1.9rem;
      color: #FFFFFF;
    }

    p {
      font-size: 1.5rem;
      color: #FFFFFF;
      font-weight: normal;
    }

    input {
      font-size: 1.5rem;
      padding: 4%;
      width: 95%;
      border-radius: 5px;
      margin-top: 5px;
    }

    .footer-content {
      padding: 5%;
      display: flex;

    .footer-address {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }
  }

    .copyright {
    text-align: center;
  }
}

@media (max-width:500%) {

  .footer {
    display: flex;
    flex-direction: column;
  }
}

