footer {
  background-color: @background;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
  // padding: 50px 0;

  h4 {
    font-size: @footer-heading-font-size;
    font-weight: @footer-heading-font-weight;
    line-height: @footer-heading-line-height;
    color: @footer-heading-color;
    margin-bottom: 10px;
  }

  h6 {
    font-weight: @footer-font-weight;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
    color: @footer-color;
  }

  address {
    font-size: @footer-font-size;
    font-weight: @footer-font-weight;
    line-height: @footer-line-height;
    color: @footer-color;
    display: inline-block;
    width: 33%;
    padding-right: 20px;
  }

  .locations {
    justify-content: space-evenly;

    margin: 20px;
  }

  .email-form {
    border: 1px solid @background;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    width: 300px;
    height: 30px;
  }

  p {
    text-align: center;
    color: @footer-color;
    font-weight: @footer-font-weight;
    font-size: @footer-font-size;
    line-height: @footer-line-height;
  }
}

// display: flex;
// justify-content: space-between;
// width: 38%;
// align-items: center;
// height: 200px;
// padding: 40px 9px;
