.footer {
    background-color: #828282;
    color: #FFFFFF;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    .contact-info {
        .flex(space-around, center, row);
        padding: 60px;
        h4 {
            font-size: 1.25rem;
            line-height: 1.5rem;
            
        }
        p {
            font-size: 0.875rem;
            line-height: 1.625rem;
        }
        input {
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: #828282;
            font-size: 0.875rem;
            margin-top: 10px;
            width: 100%;

        }
        .email p {
            font-size: 0.75rem;
            margin-top: 5px;
        }
    }
    .copyright {
        text-align: center;
        width: 100%;
        font-size: 0.75rem;

    }
}