footer {
  background-color: @footer-background;
  margin-top: 40px;
  .flex(center, none, column);
  h2,
  h3 {
    color: #fff;
    font-size: 2rem;
    line-height: 24px;
    font-weight: 400;
  }
  p {
    padding-top: 16px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #fff;
    font-size: 1.25rem;
  }
  #copyright {
    text-align: center;
  }
  .footer-container {
    .flex(space-evenly, none, row);

    @media @mobile {
      .flex(center, none, column);
      padding-left: 20px;
      h2, h3 {
        font-size: 2.6rem;
        font-weight: 600;
        line-height: 3rem;
      }
    }

    padding-top: 60px;
    padding-right: 20px;
    form {
      padding-top: 20px;
      input {
        padding: 10px;
        width: 100%;
        border-radius: 5px;

        @media @mobile {
          padding: 20px;
          font-size: 1.6rem;
        }
      }
    }
  }
}