.footer-container {
    background-color: #828282;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto 0 auto;
    // padding: 30px 20px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    // @media @mobile {
    //     align-items: flex-start;
    // }
    
    h3 {
        color: #FFFFFF;
        font-weight: regular;
        font-size: 2rem;
        line-height: 2.4rem;
    }
    p {
        color: #FFFFFF;
        font-weight: regular;
        font-size: 1.4rem;
        line-height: 2.6rem;
    }

    .footer-contact {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding: 50px 0 30px 70px;
        @media @mobile {
            flex-direction: column;
            padding: 30px 30px 30px 30px;
        }
        
        .footer-cta {
            margin-right: 50px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex-wrap: wrap;
            @media @mobile {
                margin-bottom: 20px;
            }
            p {
                color: #FFFFFF;
            }
            .email-form {
                width: 100%;
                font-size: 1.6rem;
                color: #828282;
                background-color: #FFFFFF;
                height: 40px;
                border-radius: 5px;
                display: flex; 
                align-items: center;
                padding-left: 5px;
                margin-top: 10px;
            }
        }
    
        .contact-city {
            margin-right: 70px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media @mobile {
                margin-bottom: 20px;
            }
        }
    }
}