// Footer
footer {
  background: #828282;
  color: white;
  padding: 5% 0 0;
  line-height: 2.6rem;

  // Children
  #contact,
  #copyright {
    width: 90%;
    margin: 0 auto;
    .flexIt(column, center, flex-start);

    @media @desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    // Children
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .form {
      width: 100%;

      @media @desktop {
        width: 40%;
      }
      // Children
      input {
        width: 97%;
        padding: 3% 1%;
        margin: 2% 0;
        border-radius: 5px;

        p {
          text-align: center;
        }
      }
    }

    #cities {
      .flexIt(column, center, flex-start);

      @media @desktop {
        width: 55%;
        flex-direction: row;
        justify-content: space-between;
      }

      .city {
        margin: 2% 0;

        @media @desktop {
          margin: 0;
        }
      }
    }
  }

  #disclaimer {
    width: 100%;
    text-align: center;
  }

  #copyright {
    margin-top: 4%;
    .flexIt(row, center, center);
  }
}
