footer {
    background-color: #828282;
    display: grid;
    color: #fff;
    font-size: 1.4rem;
    width: 100%;
    grid-template-columns: 4.7% auto 6.1%;
    grid-template-rows: 4.9rem 9rem 4rem 3.6rem 10.8rem 4.5rem 11rem 4.1rem 11rem 7.7rem;
    @media @footerbreakpointmin {
        grid-template-columns: 8.3% 32.6% 18.3% 19.7% 13%;
        grid-template-rows: 88px 79px auto 46px 10px;
        max-width: 1024px;
    }
    h4 {
        grid-column-start: 2;
        align-self: end;
        font-size: 2.03rem;
        font-weight: normal;
        line-height: 2.4rem;
        @media @desktop {
            grid-row-start: 1;
        }
        &:nth-child(1) {
        }
    }
    p {
        &:nth-child(3) {
            grid-column-start: 2;
            align-self: center;
            font-size: 1.3rem;
            @media @footerbreakpointmin {
                grid-row-start: 3;
            }
        }
        &:last-child {
            grid-column-start: 1;
            width: 100%;
            grid-column-end: 7;
            text-align: center;
            align-self: center;
            justify-self: center;
            font-size: 1.2rem;
            @media @footerbreakpointmin {
                grid-row-start: 4;
                align-self: end;
            }
        }
    }
    form {
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-self: stretch;
        justify-content: space-between;
        @media @footerbreakpointmin {
            grid-row-start: 2;
            grid-row-end: 3;
        }
        label {
            font-size: 2.03rem;
            @media @footerbreakpointmin {
                font-weight: normal;
            }
        }
        input {
            height: 49px;
            border-radius: 3px;
            padding-left: 7px;
            font-size: 1.6rem;
            width: 100%;
            border: none;
            @media @footerbreakpointmin {
                height: 42px;
                color: #999;
                width: 84%;
                border: none;
            }
        }
    }
    h4 {
        @media @footerbreakpointmin {
            grid-row-start: 1;
        }
        &:nth-child(4) {
            @media @footerbreakpointmin {
                grid-column-start: 3;
            }
        }
        &:nth-child(6) {
            @media @footerbreakpointmin {
                grid-column-start: 4;
            }
        }
        &:nth-child(8) {
            @media @footerbreakpointmin {
                grid-column-start: 5;
            }
        }
    }
    address {
        grid-column-start: 2;
        line-height: 2.6rem;
        align-self: center;
        @media @footerbreakpointmin {
            line-height: 2.6rem;
            grid-row-start: 2;
            grid-row-end: 4;
        }
        &:nth-child(5) {
            @media @footerbreakpointmin {
                grid-column-start: 3;
            }
        }
        &:nth-child(7) {
            @media @footerbreakpointmin {
                grid-column-start: 4;
            }
        }
        &:nth-child(9) {
            @media @footerbreakpointmin {
                grid-column-start: 5;
            }
        }
    }
}
