.footer {
  width: 100%;
  background-color: #777777;
  padding: 60px 8rem 50px 8rem;


  @media @mobile {
    margin-top: 80px;
    padding: 40px 2.5rem 40px 2rem;
  }

  .top-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media @mobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .left-footer {
      width: 30rem;
      text-align: left;
      line-height: 24px;
      // margin-left: .1rem;
      @media @mobile {
        width: 100%;
      }

      h4 {
        font-size: 2rem;
        line-height: 24px;
        letter-spacing: 0.02rem;
        color: @SJ-color-white;
        color: red;

        @media @mobile {
          font-size: 3.2rem;
          line-height: 35px;
        }
      }

      input {
        height: 39px;
        width: 28rem;
        .border-radius(5px);
        font-size: 1.6rem;
        margin: 10px 0 8px .1rem;

        @media @mobile {
          width: 100%;
          margin-top: 25px;
          height: 75px;
          font-size: 3rem;
          padding-left: 2rem;
          .scooby();
        }
      }

      .p-small {
        font-size: 1.3rem;
        letter-spacing: 0.02rem;
        color: @SJ-color-white;

        @media @mobile {
          margin-top: 15px;
          font-size: 2rem;
        }
      }
    } // .left-footer
    .right-footer { 
      width: 52.5rem;
      display: flex;
      justify-content: space-between;
      color: @SJ-color-white;

      @media @mobile {
        display: block;
      }

      .city-footer {
        h4 {
          font-size: 2rem;
          line-height: 24px;

          @media @mobile {
            margin-top: 45px;
            font-size: 3.3rem;
            margin-bottom: 12px;
          }
        }

        p {
          font-size: 1.4rem;
          line-height: 26px;

          @media @mobile {
            font-size: 2.3rem;
            line-height: 40px;
          }
        }
      } // .city-footer
    } //.right-footer
  } // top-footer
  .bottom-footer {
    padding-top: 25px;

    p {
      font-size: 1.2rem;
      display: block;
      text-align: center;
      color: @SJ-color-white;

      @media @mobile {
        text-align: left;
        font-size: 1.9rem;
        margin-top: 25px;
        color: red;
      }
    } // p
  } // bottom-footer
} // footer

// Footer Headings
// Font Weight: Regular
// Font Size: 20px
// Line Height: 24px
// Color: #FFFFFF

// Footer Text
// Font Weight: Regular
// Font Size: 14px
// Line Height: 26px
// Color: #FFFFFF