.footer {
    background-color: #828282;
    color: #FFFFFF;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    @media @mobile {
        max-width: 450px;
    }
    .contact-info {
        .flex(space-around, center, row);
        padding: 60px;
        @media @mobile {
            .flex(space-between, flex-start, column);
            padding-left: 20px;
            .state-address {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
        h4 {
            font-size: 1.25rem;
            line-height: 1.5rem;
            
        }
        p {
            font-size: 0.875rem;
            line-height: 1.625rem;
        }
        input {
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: #828282;
            font-size: 0.875rem;
            margin-top: 10px;
            width: 100%;

        }
        .email p {
            font-size: 0.75rem;
            margin-top: 5px;
        }
    }
    .copyright {
        text-align: center;
        width: 100%;
        font-size: 0.75rem;
        @media @mobile {
            text-align: left;
            padding-bottom: 50px;
            padding-left: 20px; 
        }

    }
}