
.MobileOnly {
    display: none;
}


@media (max-width: 880px) and (min-width: 501px) {

}
@media (max-width: 500px) {
    .DesktopOnly {
        display: none;
    }
    .MobileOnly {
        display: block;
    }
}