.container {
    .jumbotron {
        background-image: url('../img/contact/contact-jumbotron.png');
        background-position: center;
        background-repeat: no-repeat;
        padding-top: 200px;
        padding-bottom: 50px;
        h1 {
            font-weight: bold;
            font-size: 4rem;
            line-height: 4.68rem;
            color: #FFFFFF;
            padding-left: 7%;
        }
    }
    h2 {
        .sub-headers();
    }
    h3 {
        font-size: 1.25rem;
        line-height: 24px;
        font-weight: bold;
    }
    .main-content {
        .flex(space-between,
        flex-start,
        row);
        padding-bottom: 40px;
        padding-top: 20px;
        .screen-right {
            margin-right: 9%;
            .contact-address {
                line-height: 28px;
                padding-top: 30px;
                padding-bottom: 30px;
                &:first-child {
                    padding-top: 60px;
                }
            }
        }
        .screen-left {
            margin-left: 6%;
            .dropdown,
            .overview,
            .radio-buttons {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .email {
                padding-top: 40px;
                padding-bottom: 20px;
                input {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding: 10px;
                    width: 96%;
                    color: #9AA4AE;
                    font-size: 0.875rem;
                    border-radius: 5px;
                    border: 1px solid #9AA4AE;
                }
                p:last-child {
                    font-size: 0.75rem;
                    color: #9AA4AE;
                }
            }
            .radio-buttons {
                .flex(space-between,
                flex-start,
                column);
                .radio {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    &:first-child {
                        padding-top: 10px;
                    }
                }
            }
            .dropdown {
                select {
                    width: 100%;
                    height: 30px;
                    background-color: white;
                    margin-top: 10px;
                    border: 1px solid #9AA4AE;
                }
            }
            .overview {
                textarea {
                    width: 99%;
                    margin-top: 10px;
                    border-radius: 5px;
                    border: 1px solid #9AA4AE;
                }
            }
            .button {
                border: 1px solid #222222;
                width: 25%;
                text-align: center;
                padding: 15px 15px;
                margin-top: 20px;
                &:hover {
                    cursor: pointer;
                    color: #FFFFFF;
                    background-color: #222222;
                }
            }
        }
    }
}