.contact {
  header {
    .banner {
      .background('../img/contact/contact-jumbotron.png');
      height: 200px;

      .title {
        margin: 20px;
      }
    }
  }

  .contact-row {
    .flex(row, space-between, flex-start, 100%);
    margin: 50px 0;

    @media @mobile {
      .flex(column, space-between, center);
    }

    h3 {
      font-weight: bold;
      font-size: 1.5rem;
    }

    h4 {
      font-weight: bold;
      font-size: 1.2rem;
    }

    .get-in-touch {
      .flex(column);
      width: 50%;
    }

    .locations {
      .flex(column);
      width: 40%;

      @media @mobile {
        margin-top: 50px;
      }

    }

    .get-in-touch, .locations {
      @media @mobile {
        .mobile-width;
      }
    }

    form {
      width: 100%;

      .form-component {
        .flex(column);
        margin: 20px 0;
        width: 100%;

        input {
          width: 100%;
        }

        label {
          font-size: 1rem;
          margin-bottom: 10px;
        }

        span {
          font-size: .7rem;
          color: gray;
          margin-top: 5px;
        }
      }

      textarea {
        height: 100px;
        width: 100%;
      }

      .radio {
        .flex(row, flex-start, center);

        input[type="radio"] {
          width: 13px;
        }

        label {
          margin: 0;
          margin-left: 5px;
        }
      }

      button {
        @media @mobile {
          .mobile-width;
        }
      }
    }

    .location {
      margin: 10px 0;

      h4 {
        color: @main-color;

        &:first-child {
          margin-top: 20px;
        }
      }

      br {
        content: "";
        margin: .5rem;
        display: block;
      }
    }
  }
}