.menu-bar {
    background-color: #99A4AF;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: .9;

}


.banner {
    width: 100%;
    height: 300px;
    display: block;
    position: relative;

    .banner-text {
        .jumbotron-headers;
    }

}