

// General Styles

@mine-shaft: #222222;
@general-font: Roboto, Arial, san-serif;
@general-background: #FFFFFF;
@hippie-blue: #5E9FB9;


@none-display: none;

//Navigation
@nav-color: @general-background;
@nav-font-size: 2.4rem;

//jumbotron
@jumbo-font-size: 6.4rem;
@jumbo-color: @general-background;


//buttons
@button-borders:@mine-shaft;
@tab-selected-colors: @hippie-blue;



//footer 
// @footer-background-color: ; 

//body 
@text-color: @mine-shaft;

