.tab-panel-container{
    margin-bottom: 10rem;

    .tabs{
        .flex(space-between,none,row);
        margin-bottom: 5rem;
    }

    .tab{
        border:1px solid black;
        padding: 1.5rem;
        font-size: 2rem;
        font-weight:bold;
        text-align: center;
        flex: 1 1 0;
        &:hover{
            cursor: pointer;
        }
        &:not(:first-of-type){
            margin-left:3.5rem;
        }
    }

    .panel{
        display:none; 
        
        .panel-header{
            font-size: 2.8rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        .container{
            .flex(space-between,none,row);
            div{
                width:48%;
            }
            
        }
    }
    .display{
        display: block;
    }
}



.tab-selected{
    background-color: @tab-selected-bg;
    color:#ffffff;
}

