.font-regular() {
  font-family: @font-family;
  font-weight: @font-regular;
}

.font-bold() {
  font-family: @font-family;
  font-weight: @font-bold;
}

.grid() {
  display: grid;
  grid-template-columns: 1fr @gutter-width minmax(auto, @max-width) @gutter-width 1fr;
}

.grid-center-column() {
  grid-column: 3;
}