// -----------------------------------------------------------------------------
// For grid specific mixins, see layout/grid
// -----------------------------------------------------------------------------

.font-regular() {
  font-family: @font-family;
  font-weight: @font-regular;
}

.font-bold() {
  font-family: @font-family;
  font-weight: @font-bold;
}
