// -----------------------------------------------------------------------------
// Site wide variables
// -----------------------------------------------------------------------------

// Typography
@font-family: 'Roboto', 'Arial', sans-serif;
@font-regular: 400;
@font-bold: 700;

// Colors
@brand-color-white: #fff;
@brand-color-dark-gray: #222;
@brand-color-med-gray: #828282;
@brand-color-light-gray: #d8d8d8;
@brand-color-blue: #5e9fb9;

// Breakpoints
@breakpoint-small-desktop: 960px;
@breakpoint-tablet: 768px;
@breakpoint-phone: 480px;
@small-desktop: ~"only screen and (max-width: @{breakpoint-small-desktop})";
@tablet: ~"only screen and (max-width: @{breakpoint-tablet})";
@phone: ~"only screen and (max-width: @{breakpoint-phone})";

// Grid specific
@max-width-desktop: 854px;
@max-width-tablet: 740px;
@min-width-phone: 290px;
@gutter-width-desktop: 85px;
@gutter-width-tablet: 30px;
@gutter-width-phone: 15px;