@font-family: 'Roboto', 'Arial', sans-serif;
@font-regular: 400;
@font-bold: 700;

@brand-color-white: #fff;
@brand-color-dark-gray: #222;
@brand-color-med-gray: #828282;
@brand-color-light-gray: #d8d8d8;
@brand-color-blue: #5e9fb9;

@max-width: 1024px;
@gutter-width: 85px;