/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.jumbo-img {
  width: 100vw;
}
@media (max-width: 576px) {
  .jumbo-img {
    background-image: url('../img/home/home-mobile-jumbotron.png');
  }
}
.jumbo {
  position: relative;
  text-align: left;
  color: #FFFFFF;
}
.jumbo h1 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-size: 320%;
  line-height: 75px;
  font-weight: bold;
}
.middle-page-buttons {
  border: 1px solid #222222;
  width: 40%;
  padding: 10px;
  text-align: center;
}
.general-text {
  font-size: 16px;
  line-height: 24px;
}
.sub-headers {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
}
footer {
  margin-top: 50px;
  background: #828282;
  padding: 6% 6% 10px 6%;
}
footer .footer-main-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
}
@media (max-width:576px) {
  footer .footer-main-content {
    flex-direction: column;
    width: 100%;
  }
}
footer .footer-main-content input {
  border-radius: 4px;
  width: 80%;
}
@media (max-width:576px) {
  footer .footer-main-content input {
    width: 100%;
  }
}
footer .footer-main-content h4 {
  font-size: 20px;
  line-height: 24px;
}
footer .footer-main-content address {
  font-size: 14px;
  line-height: 26px;
}
footer .copyright {
  font-size: 12px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 30px;
}
@media (max-width:576px) {
  footer .copyright {
    text-align: start;
  }
}
/* Your Code Goes Here */
div.container-fluid {
  background: #8e9aaf;
}
div.container-fluid .logo-heading {
  font-weight: bold;
  font-size: 2rem;
  color: #FFFFFF;
  margin: 3%;
  font-family: 'Roboto', Arial, sans-serif;
}
div.container-fluid .closed-hamburger {
  display: none;
}
div.container-fluid a {
  display: none;
}
.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7% 4%;
}
@media (max-width:576px) {
  .intro {
    display: block;
    width: 100%;
  }
}
.intro p {
  font-size: 16px;
  line-height: 24px;
}
.futuristic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7% 2%;
}
@media (max-width:576px) {
  .futuristic {
    display: block;
  }
}
.futuristic p {
  font-size: 16px;
  line-height: 24px;
}
.text-button {
  border: 1px solid #222222;
  width: 40%;
  padding: 10px;
  text-align: center;
}
.villas {
  position: relative;
}
.villas .img-tag {
  position: absolute;
  right: -10px;
  bottom: -10%;
  letter-spacing: 4px;
}
.villas-content {
  padding: 8% 25%;
}
@media (max-width:576px) {
  .villas-content {
    padding: none;
  }
}
.villas-content p {
  font-size: 16px;
  line-height: 24px;
}
.outskirts {
  position: relative;
}
.outskirts .img-tag {
  background: #D8D8D8;
  border: 1px solid #FFFFFF;
  padding: 2% 10%;
  position: absolute;
  bottom: -15%;
  letter-spacing: 4px;
}
.outskirts-content {
  padding: 8% 25%;
}
.outskirts-content p {
  font-size: 16px;
  line-height: 24px;
}
.blocks {
  position: relative;
}
.blocks .img-tag {
  position: absolute;
  bottom: -15%;
  right: 0%;
  letter-spacing: 4px;
}
.blocks-content {
  padding: 8% 25%;
}
.blocks-content p {
  font-size: 16px;
  line-height: 24px;
}
div .img-tag {
  background: #D8D8D8;
  border: 1px solid #FFFFFF;
  padding: 2% 10%;
}
@media (max-width:576px) {
  img {
    align-content: center;
  }
}
