/* COLORS */
/* FONTS */
/* MEDIA QUERIES */
.outskirts {
  width: 100%;
}
@media (min-width: 736px) {
  .outskirts {
    width: 90%;
    margin: 0px auto;
    display: flex;
    flex-flow: column nowrap;
  }
}
.outskirts .img {
  width: 100%;
  height: 200px;
  margin-top: 40px;
  background-image: url('../../img/home/home-mobile-outskirts-img.png');
  background-size: cover;
}
@media (min-width: 736px) {
  .outskirts .img {
    background-image: url('../../img/home/home-outskirts-img.png');
    height: 275px;
  }
}
.outskirts .titleBox {
  width: 85%;
  height: 90px;
  margin: 0px auto;
  margin-top: -20px;
  background-color: #d8d8d8;
  border: 1px solid #d8d8d8;
}
@media (min-width: 736px) {
  .outskirts .titleBox {
    width: 270px;
    height: 80px;
    margin: 0;
    margin-top: -35px;
    align-self: flex-start;
  }
}
.outskirts .titleBox .title {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 34px;
  letter-spacing: 5px;
}
@media (min-width: 736px) {
  .outskirts .titleBox .title {
    margin-top: 30px;
  }
}
.outskirts p {
  padding: 0 20px 0 20px;
  line-height: 24px;
  margin-top: 20px;
}
@media (min-width: 736px) {
  .outskirts p {
    padding: 20px 10% 0 10%;
  }
}
@media (min-width: 1024px) {
  .outskirts p {
    padding: 30px 20% 0 20%;
  }
  .outskirts p:last-child {
    padding-bottom: 50px;
  }
}
