/* COLORS */
/* FONTS */
/* MEDIA QUERIES */
.sec1 {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
@media (min-width: 736px) {
  .sec1 {
    width: 90%;
    flex-flow: row nowrap;
    margin: 0px auto;
    justify-content: space-between;
  }
}
.sec1 .sec1Cont {
  order: 2;
  width: 90%;
}
@media (min-width: 736px) {
  .sec1 .sec1Cont {
    width: 45%;
    order: 1;
  }
}
.sec1 .sec1Cont h2 {
  font-weight: bold;
  font-size: 28px;
  color: #222222;
  margin-top: 30px;
}
.sec1 .sec1Cont p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 20px;
}
.sec1 .sec1Cont button {
  width: 100%;
  border: 1px solid #222222;
  background-color: #ffffff;
  height: 45px;
  margin-top: 20px;
}
@media (min-width: 736px) {
  .sec1 .sec1Cont button {
    width: auto;
    height: auto;
    padding: 15px 60px 15px 60px;
  }
}
.sec1 .img {
  order: 1;
  width: 90%;
  height: 275px;
  background-image: url('../../img/home/home-mobile-img-1.png');
  background-size: cover;
  margin-top: 30px;
}
@media (min-width: 736px) {
  .sec1 .img {
    width: 45%;
    order: 2;
  }
}
