.modal{
    margin: 0 auto;
    width: 80%;
    .modal-content{
    .layout(space-between, center);
        margin: 0 auto;
        background: black;
        width: 55%;
        border-radius: 16px;
    .modal-img{
        width: 40%;
        img{
            margin: 10px;
            border-radius: 100%;
        }
    }
    .modal-text{
        width:55%;
        font-size: 2.5rem;
        color: white;
        padding-left: 15px;
        border-left: 3px solid white;
        h3{
            margin-bottom: 15px;
        }
        p{
            line-height: 2.25;
        }
    }

    }
}