.header {
  //   background-color: lightblue;
  grid-column: full-start / full-end;
  background-image: url(../../img/home/home-jumbotron.png);
  background-size: cover;
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: [row-start1] 1fr [row-end1 row-start2] 1fr [row-end2 row-start3] min-content [row-end3 row-start4] 1fr [row-end4];

  //   &__img {
  //     justify-self: center;
  //   }

  &__h1 {
    grid-column: center-start / center-end;
    grid-row: row-start4 / row-end4;
    padding-bottom: 4.8rem;
  }
}
