// .nav {
//   width: 100%;
//   padding: 3.2rem 4rem;
//   background-color: #888888;
//   display: flex;
//   justify-content: space-between;
//   position: fixed;
//   font-size: 2.4rem;
//   z-index: 100000;
//   margin: 0;
// }

.nav {
  background-color: grey;
  grid-column: full-start / full-end;
  z-index: 10000;

  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];

  &_main {
    grid-column: center-start / center-end;
    // background-color: aqua;

    &-content {
      display: flex;
      justify-content: space-between;
      //   background-color: blueviolet;
      margin-top: 3rem;
    }
  }

  a {
    text-decoration: none;
  }

  &__logo {
    color: white;
  }

  &__menu {
    display: none;
    &--links {
      color: white;
      margin: 1.5rem auto;

      &:hover {
        color: black;
        transform: scale(1.05);
        font-weight: bold;
      }
    }
  }

  &__toggle {
    color: white;

    &:hover {
      color: black;
      // transform: scale(1.1);
    }
  }

  .active {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    width: 100%;
  }
}

.project-1 {
  background-color: orangered;
  grid-column: center-start / center-end;
}
.project-2 {
  background-color: fuchsia;
  grid-column: center-start / center-end;
}
.project-3 {
  background-color: orange;
  grid-column: center-start / center-end;
}
.footer {
  background-color: grey;
  grid-column: full-start / full-end;
}
