// -----------------------------------------------------------------------------
// This file contains basic grid variables and mixins
// -----------------------------------------------------------------------------

// Breakpoints
@breakpoint-small-desktop: 960px;
@breakpoint-tablet: 768px;
@breakpoint-phone: 480px;
@small-desktop: ~"only screen and (max-width: @{breakpoint-small-desktop})";
@tablet: ~"only screen and (max-width: @{breakpoint-tablet})";
@phone: ~"only screen and (max-width: @{breakpoint-phone})";

// Grid
@max-width-desktop: 854px;
@max-width-tablet: 740px;
@min-width-phone: 290px;
@gutter-width-desktop: 85px;
@gutter-width-tablet: 30px;
@gutter-width-phone: 15px;

.grid() {
  display: grid;
  grid-template-columns: 1fr @gutter-width-desktop minmax(auto, @max-width-desktop) @gutter-width-desktop 1fr;
  width: 100%;

  @media @tablet {
    grid-template-columns: @gutter-width-tablet minmax(auto, @max-width-tablet) @gutter-width-tablet;
  }

  @media @phone {
    grid-template-columns: @gutter-width-phone minmax(@min-width-phone, 100%) @gutter-width-phone;
  }
}

.grid-center-column() {
  grid-column: 3;

  @media @tablet {
    grid-column: 2 / span 1;
  }

  @media @phone {
    grid-column: 2 / span 1;
  }


}