header {
  .grid();
  width: 100vw;
  height: 100vh;
  background: url(../img/home/home-jumbotron.png) no-repeat center center fixed;
  background-size: cover;

  @media @phone {
    width: 100vw;
    height: calc(100vw * 0.8125);
    background: url(../img/home/home-mobile-jumbotron.png) no-repeat;
    background-size: cover;
  }

  .header__content {
    display: flex;
    align-items: flex-end;
    .grid-center-column();
    padding: 0 0 50px 0;
    color: @brand-color-white;
    font-weight: @font-bold;
    font-size: 6.4rem;
    line-height: 7.5rem;

    @media @phone {
      padding: 0 @gutter-width-phone 23px;
      font-size: 3.6rem;
      line-height: 4.2rem;
    }
  }
}