header {
  .grid();
  width: 100vw;
  height: 100vh;
  background: url(../img/home/home-jumbotron.png) no-repeat center center fixed;
  background-size: cover;

  .header__content {
    display: flex;
    align-items: flex-end;
    .grid-center-column();
    padding: 0 0 50px 0;
    color: @brand-color-white;
    font-weight: @font-bold;
    font-size: 6.4rem;
    line-height: 7.5rem;
  }
}


// - Font Weight: Bold
// - Font Size: 64px
// - Line Height: 75px
// - Color: #FFFFFF