main {
  .grid();

  .main__content {
    .grid-center-column();

    @media @phone {
      margin: 0 0 35px 0;
    }

    &.main__content--contact {
      display: flex;
      justify-content: space-between;
      padding: 50px 0;
    }
  }
}