.home-page {

  // header section
  .header-section {
    position: relative;
    header {
      h1 {
        letter-spacing: 2px;
        position: absolute;
        bottom: 50px;
        left: 80px;
      }
    }
  }

  // top content
  .top-content {
    padding-top: 50px;
    width: 84%;
    margin: 0 auto;
    .flex(center, none, column);
    
    .tp-item {
      .flex(space-between, none, row); 
      padding-bottom: 100px;

      .tp-text {
        padding-top: 50px;

        p {
          padding-top: 15px;
        }

        div {
          margin-top: 30px;
          text-align: center;
          border: 1px solid @button-border;
          padding: 15px 0;
          font-size: 1.6rem;
          width: 33%;
        }
      }
    }

    .imgright {
      margin-left: 30px;
    }
    #txtright {
      padding-top: 40px;
      margin-left: 32px;
    }
    
  }
}