.home-page {
  max-width: 1024px;
  width: 100%;

  // when on desktop view, hide all mobile images
  .img--mobile {
    display: none;
  }
  @media @mobile {
    max-width: 500px; 
    
    // when on mobile view, show mobile images and hide desktop images
    .img--mobile {
      display: block;
    }
    .img--desktop {
      display: none;
    }
  } // header section
  .header-section {
    position: relative;
    
    @media @mobile {
      img {
        width: 100%;
      }
    }
    header {
      h1 {
        letter-spacing: 2px;
        position: absolute;
        bottom: 50px;
        left: 80px;
        @media @mobile {
          font-size: 5rem;
          line-height: 60px;
          left: 25px;
          bottom: 30px;
        }
      }
    }
  } // top content
  .top-content {
    padding-top: 50px;
    width: 84%;
    margin: 0 auto;
    .flex(center, none, column);
    @media @mobile {
      width: 90%;
    }
    .tp-item {
      .flex(space-between, none, row);
      padding-bottom: 100px;
      @media @mobile {
        .flex(center, none, column);
        img {
          order: -1;
        } 
      }
      .tp-text {
        padding-top: 50px;
        @media @mobile {
          order: 1;
        }
        p {
          padding-top: 15px;
        }
        div {
          margin-top: 30px;
          text-align: center;
          border: 1px solid @button-border;
          padding: 15px 0;
          font-size: 1.6rem;
          width: 33%;
          @media @mobile {
            width: 100%;
          }
        }
      }
    }
    .imgright {
      margin-left: 30px;
      @media @mobile {
        margin-left: 0;
      }
    }
    #txtright {
      padding-top: 40px;
      margin-left: 32px;
      @media @mobile {
        margin-left: 0;
      }
    }
  } // bottom content
  .bottom-content {
    width: 84%;
    margin: 0 auto;
    @media @mobile {
      width: 100%;

      h2 {
        padding-left: 20px;
      }
    }
    .bottom-items {
      padding-top: 40px;
      padding-bottom: 43px;
      position: relative;
      img {
        z-index: 1;
      }
      .titlebox {
        text-align: center;
        border: 1px solid white;
        background-color: @project-squares;
        width: 37%;
        padding: 35px 0;
        position: absolute;
        top: 215px;
        z-index: 2;
        font-size: 2.8rem;
        letter-spacing: 7px;

        @media @mobile {
          left: 20px;
          width: 90%;
          top: 320px;
        }
      }
      .title-right {
        right: 0;
        @media @mobile {
          right: none;
        }
      }
      .bottom-text {
        padding: 90px 205px 0 205px;
        @media @mobile {
          width: 90%;
          padding: 90px 0 0 20px;
          .flex(center, none, column);
        }
        
        p {
          width: 100%;
          font-size: 1.85rem;
          padding-bottom: 20px;
        }
      }
    }
  }
}