.Container {
    margin: 0 auto;
    max-width: 102rem;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 600;
    margin-top: 7rem;
  }
  .MainRow {
    display: flex;
    justify-content: space-evenly;
  }
  .RecentProjects {
    margin-top: 7rem;
    padding: 4rem 8rem;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
  }

  .RecentProjects h2 {
    align-self: flex-start;
    font-size: 2.4rem;
  }
  .RecentProjects p {
    width: 53%;
    line-height: 1.5;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 1.2rem 0;
    font-weight: 500;
  }

  @media (max-width: 500px) {
    .RecentProjects {
      padding:0;
    }
    .RecentProjects h2 {
        margin-bottom: 2rem;
        margin-left: 1.5rem;
    }
    .RecentProjects p {
      width: 95%;
    }
}

@media (max-width: 880px) and (min-width: 501px) {
  .RecentProjects p {
    width: 85%;
  }
}
