.address{
    display: flex;
    flex-direction: column;
    line-height: 2;
    

    &-content{
        margin-bottom: 20px;

        &--title{
            font-size: 1.5rem;
        }

        &--location{
            font-size: 1.1rem;
        }
    }
}