

.contact-container {
    .width-100;
    display: flex;
  flex-wrap:wrap;
    .contact-jumbotron {
        width: 100%;
         background-image: url(../img/contact/contact-jumbotron.png);
         height: 600px;
         background-position: center bottom;
         background-repeat: no-repeat;
         background-size: cover;
         display: flex;
         align-items: flex-end;
         @media @mobile {
            background: url(../img/contact/contact-mobile-jumbotron.png);
            width: 100%;
            height: 260px;
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .header h1 {
     
            line-height: 85px;
            padding: 50px;
            margin-left: 15px;
            font-size: 6.4rem;
            font-family: Roboto, Arial, sans-serif;
            font-weight: bold;
            color: white;

            @media @mobile {
                font-size: 2.3rem;
                line-height: 25px;
                margin-left: 5px;
                padding: 10px;

            }
        }
    
       }

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;

    h1 {
        margin-top: 40px;
        margin-left: 50px;
        margin-bottom:20px;
        font-size: 2rem;
        color: @font-color;
        font-weight: 600;
    }
    .cta-contact {
    border: 2px solid goldenrod;
     
        width:100%;
        padding: 30px;
       
     h2 {
         font-size:1.6rem;
         font-weight: 600;
         line-height: 15px;
         color: @font-color-h2;
     } 
     label {
         font-size: 1rem;
     }
     input[type=email]{
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;

     }
     input[type=number]{
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;

    }
  
    textarea {
        width: 80%;
        font-size: 1rem;
        padding: 12px 20px;
        margin: 8px 0;
    }
    
     .radio {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

        input[type=radio]{
        width:20px;
        height:1rem;
    }
}
     }
    }
    border: 3px solid hotpink;
}
 .contact-location {
     display:flex;
     flex-direction: column;
     width:30%;
     border: 2px solid dodgerblue;
 }



