
.section-services {
  width: 83.5%;
  padding-top: 50px;

  p {
    line-height: 2.5rem;

  } //p
  // Tab selected background: #5E9FB9
  // Tab Hover background: #222222
  // Tab Hover color: #FFF;
  .tabs {
    width: 100%;
    margin-top: 45px;
    .tabs-items {
      width: 100%;
      height: 470px;
      display: flex;
      // justify-content: center;
      justify-content: space-between;
      padding-top: 50px;
    }
    .tabs-item {
      display: none; 
      width: 75%;

      .tabs-item-title {
        font-size: 2.4rem;
        font-weight: bold;
        padding-bottom: 0px;
      }

      .tabs-item-description {
        font-size: 1.6rem;
        font-weight: normal;
        padding: 10px 2rem 10px 0;

        p {
          line-height: 2.6rem;
          padding-bottom: 26px;
        }
      }

      img {
        margin-top: 20px;
        width: 50%;
        height: 300px;
        // align-items: center;
      }
    }
    .tabs-item-selected {
      // display: block;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
    }
  
    .tabs-links {
      display: flex;
      justify-content: space-between;
      background-color: white;
    }
  
    .tabs-link {
      padding: 15px 0px;
      text-align: center;
      font-size: 2rem;
      width: 22%;
      font-weight: bold;
      background-color: white;
      border: 1px solid black;
      color: black;
      cursor: pointer;
      &:hover {
        background-color: #222222;
        color: white;
      }
    }
    .tabs-link-selected {
      z-index: 2;
      border: 1px solid black;
      background-color: #5E9FB9;
      color: #FFF;
      &:hover {
        background-color: #FFF;
        color: #5E9FB9;
      }
    }
  }
}

// .dropdown {
//   z-index: 2;
//   position: absolute;
//   left: 25px;
//   cursor: pointer;
//   .dropdown-button {
//     padding: 15px;
//     border: 3px solid @white;
//     color: @white;
//     font-size: 20px;
//     font-weight: bold;
//     &:hover {
//       background-color: @lambda-light-red;
//     }
//   }
//   .dropdown-content {
//     width: 100%;
//     position: absolute;
//     background-color: @white;
//     display: flex;
//     flex-direction: column;
//     align-items: center;  
//     margin-top: 10px;
//     border: 2.5px solid @lambda-red;
//   }
//   .dropdown-link {
//     width: 100%;
//     text-align: center;
//     padding: 15px 0;
//     font-size: 18px;
//     text-decoration: none;
//     color: @lambda-red;
//     &:hover {
//       color: @white;
//       background-color: @lambda-red;
//     }
//   }
//   .dropdown-hidden {
//     display: none;
//   }
// }

// width: 100%;
// width: 70%;
// margin: 45px auto;
// display: flex;
// border: 1px solid red;
// box-shadow: 1px 1px 5px red;
// border-radius: 10px;
// overflow: hidden;
// .box {
//   padding: 40px;
//   .box-title {
//     font-size: 24px;
//     padding-bottom: 10px;
//     font-weight: bold;
//   }
// }

// <section class="container section-services">
// <p>Services include: completely synergize resource taxing relationships via premier niche markets. Professionally cultivate
//   one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the
//   art customer service.</p>
// <div class="tabs">
//   <div class="tabs-links">
//     <div class="tabs-link" data-tab="1">Pre-Construction</div>
//     <div class="tabs-link" data-tab="2">Construction</div>
//     <div class="tabs-link" data-tab="3">Design Build</div>
//     <div class="tabs-link" data-tab="4">Sustainability</div>
//   </div>
//   <!--tab-links-->
//   <div class="tabs-items">
//     <div class="tabs-item" data-tab="1">
//       <div class="tabs-item-title">Pre-Construction</div>
//       <div class="tabs-item-description">
//         Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer
//         service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
//         Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce
//         via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.
//       </div>
//     </div>
//     <!--tab1-->
//     <div class="tabs-item" data-tab="2">
//       <div class="tabs-item-title">Construction</div>
//       <div class="tabs-item-description">
//         Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer
//         service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
//         Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce
//         via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.
//       </div>
//     </div>
//     <!--tab2-->
//     <div class="tabs-item" data-tab="3">
//       <div class="tabs-item-title">Design Build</div>
//       <div class="tabs-item-description">
//         Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer
//         service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
//         Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce
//         via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.
//       </div>
//     </div>
//     <!--tab3-->
//     <div class="tabs-item" data-tab="4">
//       <div class="tabs-item-title">Sustainability</div>
//       <div class="tabs-item-description">
//         Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer
//         service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
//         Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce
//         via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.
//       </div>
//     </div>
//     <!--tab4-->
//   </div>
//   <!--tab-items-->
// </div>
// <!--tabs-->
// </section>