
.section-services {
  width: 83.5%;
  padding-top: 50px;

  p {
    line-height: 2.5rem;

  } //p
  // Tab selected background: #5E9FB9
  // Tab Hover background: #222222
  // Tab Hover color: #FFF;
  .tabs {
    width: 100%;
    margin-top: 45px;
    .tabs-items {
      width: 100%;
      height: 470px;
      display: flex;
      // justify-content: center;
      justify-content: space-between;
      padding-top: 50px;
    }
    .tabs-item {
      display: none; 
      width: 75%;

      .tabs-item-title {
        font-size: 2.4rem;
        font-weight: bold;
        padding-bottom: 0px;
      }

      .tabs-item-description {
        font-size: 1.6rem;
        font-weight: normal;
        padding: 10px 2rem 10px 0;

        p {
          line-height: 2.6rem;
          padding-bottom: 26px;
        }
      }

      img {
        margin-top: 20px;
        width: 50%;
        height: 300px;
        // align-items: center;
      }
    }
    .tabs-item-selected {
      // display: block;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
    }
  
    .tabs-links {
      display: flex;
      justify-content: space-between;
      background-color: white;
    }
  
    .tabs-link {
      padding: 15px 0px;
      text-align: center;
      font-size: 2rem;
      width: 22%;
      font-weight: bold;
      background-color: white;
      border: 1px solid black;
      color: black;
      cursor: pointer;
      &:hover {
        background-color: #222222;
        color: white;
      }
    }
    .tabs-link-selected {
      z-index: 2;
      border: 1px solid black;
      background-color: #5E9FB9;
      color: #FFF;
      &:hover {
        background-color: #FFF;
        color: #5E9FB9;
      }
    }
  }
}

