.main-navigation {
  background-color: @SJ-nav-background;
  color: @SJ-nav-color;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 8.4rem;
  color: @SJ-color-white;

  @media @mobile {
    height: 80px;
    padding: 14px 2% 14px 5%;
  }

  h3 { // S&J
    font-weight: bold;
    font-size: 2.4rem;

    @media @mobile {
      font-size: 3.75rem;
    }
  } //

  .dropdown {
    // width: 100%;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // padding: 14px 8.4rem;
    // color: @SJ-color-white;

    @media @mobile {
        padding: 20px;
    }

    .menu-button { // hamburger img
        cursor: pointer;
        // position: absolute;
        // right: 85px;

          @media @mobile {
            height: 35px;
            width: auto;
          }
    } // img hambuger

    .menu-button-x {
      display: none;
    }

    .hidden-menu-content { // menu
      color: @SJ-nav-color;
      display: none;
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      opacity: 0.9;

      background-color: @SJ-nav-background;
      border-left: none;
      border-bottom: none;
      z-index: 12; 
      height: 550px;
      padding-top: 100px;
    } // hidden-menu-content

    .hidden-link { 
      display: flex;
      flex-direction: column; 
      align-items: center;
      color: @SJ-nav-color;
      text-decoration: none;
      font-size: 5rem;
      padding-top: 30px;
      line-height: 6rem;
    } // hidden-link
    .hidden-menu-content--open {
      display: block
    }

  } // header
} // .main-navigation

.section-services {
  width: 83.5%;
  padding-top: 50px;

  @media @mobile {
    width: 90%;
    padding-top: 60px;
  }

  p {
    line-height: 2.5rem;

    @media @mobile {
      font-size: 2.55rem;
      line-height: 4.1rem;
      margin-right: -1rem;

    }
  } //p

  .tabs {
    width: 100%;
    margin-top: 45px;
    .tabs-items {
      width: 100%;
      height: 470px;
      display: flex;
      justify-content: space-between;
      padding-top: 50px;
    }
    .tabs-item {
      display: none; 
      width: 75%;

      .tabs-item-title {
        font-size: 2.4rem;
        font-weight: bold;
        padding-bottom: 0px;
      }

      .tabs-item-description {
        font-size: 1.6rem;
        font-weight: normal;
        padding: 10px 2rem 10px 0;

        p {
          line-height: 2.6rem;
          padding-bottom: 26px;
        }
      }

      img {
        margin-top: 20px;
        width: 50%;
        height: 300px;
        // align-items: center;
      }
    }
    .tabs-item-selected {
      // display: block;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;

      @media @mobile {
        flex-direction: column;
        padding: 20px;
      }
    }
  
    .tabs-links {
      display: flex;
      justify-content: space-between;
      background-color: white;

      @media @mobile {
        flex-direction: column;
        padding: 20px 0;
      }
    }
  
    .tabs-link {
      padding: 15px 0px;
      text-align: center;
      font-size: 2rem;
      width: 22%;
      font-weight: bold;
      background-color: white;
      border: 1px solid black;
      color: black;
      cursor: pointer;

      @media @mobile {
        width: 100%;
      }

      &:hover {
        background-color: #222222;
        color: white;
      }
    }
    .tabs-link-selected {
      z-index: 2;
      border: 1px solid black;
      background-color: #5E9FB9;
      color: #FFF;
      &:hover {
        background-color: #FFF;
        color: #5E9FB9;
      }
    }
  }
}



