// Contact exclusive content

.contact-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;

    h3 {
        .mt(45px);
    }
    h5 {
        font-weight: bold;
        font-size: 2rem;
        line-height: 24px;
        .mt(30px);
    }
    p {
        line-height: 26px;
    }
    .submit {
        background: #fff;
        border: 1px solid #222;
        border-radius: 0;
        .mt(20px);
        padding: 10px 30px;
        &:hover {
            background: #222;
            color: #fff;
            cursor: pointer;
            transition: 500ms;
        }
    }
    form {
        span {
            .mb(20px);
        }
    }
}