// Contact exclusive content

.contact-content {
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    .mt(30px);

    h5 {
        font-weight: bold;
        font-size: 2rem;
        line-height: 24px;
        .mt(32px);
    }
    
    form {
        label {
            .mt(30px);
            &[for="small"], 
            &[for="medium"], 
            &[for="large"] {
                .mt();
            }
        }

        #contact-email {
            color: gray;
            border-radius: 5px;
            width: 100%;
            padding: 7px 12px;
            margin-top: 10px;
            border: 1px solid lightgray;
        }

        span {
            .mb(20px);
        }

        input[type="number"] {
            width: 100%;
            padding: 7px 12px;
            border-radius: 5px;
            border: 1px solid lightgray;

            &::-webkit-inner-spin-button, 
            &::-webkit-outer-spin-button { 
                opacity: 1;
                background: #fff;
            }
        }

        textarea {
            width: 100%;
            height: 130px;
            border-radius: 5px;
            .mt(2px);
            .mb(10px);
        }

        .submit {
            background: #fff;
            border: 1px solid #222;
            border-radius: 0;
            .mt(20px);
            padding: 10px 40px;
            &:hover {
                background: #222;
                color: #fff;
                cursor: pointer;
                transition: 500ms;
            }
        }
    }

    p {
        font-size: 1.8rem;
        line-height: 28px;
    }
}