// Home exclusive content

.home-content {
    width: 86%;
    .custom-btn {
        border: 1px solid #222;
        border-radius: 0;
        margin-top: 20px;
        &:hover {
            background: #222;
            color: #fff;
            cursor: pointer;
            transition: 500ms;
        }
    }
    #learn-btn {
        padding: 13px 28px;
    }
    #design-btn {
        padding: 13px 20px;
    }
    .row {
        margin-bottom: 45px;
        .col-md-6 {
            margin-top: 50px;
            h3 {
                margin-top: 50px;
                margin-bottom: 21px;
            }
            p {
                margin-bottom: 30px;
            }
        }
    }
}

#recent {
    h3 {
        background: #D8D8D8;
        font-weight: normal;
    }
    img {
        margin-top: 45px;
        position: relative;
    }
    p {
        font-size: 1.8rem;
    }
    .content {
        margin-top: 82px;
        margin-bottom: 55px;
        .row {
            display: block;
            margin: 0 auto;
            width: 56%;
        }
    }
    .embed {
        h3 {
            width: 35%;
            padding: 35px 5px;
            text-align: center;
            position: absolute;
            top: 225px;
        }
    }
    .embed-right {
        h3 {
            right: 1.8%;
        }
    }
    .embed-left {
        h3 {
            left: 1.7%;
        }
    }
}