.projects-content {
    .content {
        display: none;
        width: 80%;
        margin: 0 auto;
        border: 1px solid black;
        padding: 20px;
        h3 {
            .mb(20px);
            border-bottom: 1px dotted gray;
        }
    }
}