// Services exclusive content

.services-content {
    width: 86%;
    margin-top: 50px;
    p {
        line-height: 26px;
    }
}

.tabs {
    margin-top: 44px;
    margin-bottom: 20px;
    .tab {
        font-weight: bold;
        font-size: 2rem;
        border: 1px solid black;
        padding: 12px 0;
        text-align: center;
        &:hover {
            background: #222;
            color: #fff;
            cursor: pointer;
            transition: 500ms;
        }
    }
    
    .tab-selected {
        background: #5E9FB9;
        color: #fff;
        &:hover {
            background: #5E9FB9;
            cursor: not-allowed;
        }
    }
}

.tab-content {
    .tab-heading {
        display: none;
        margin: 50px 0 15px;
    }
    
    .tab-heading-selected {
        display: block;
    }
    
    .tab-img {
        display: none;
    }
    .tab-img-selected {
        display: inherit;
    }
}
