.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

    .container-header {
        position: relative;

        img {
            z-index: 0;
            width: 100%;
            height: auto;
        }

        h2 {
            position: absolute;
            bottom: 8.5%;
            left: 8%;
            z-index: 1;
            letter-spacing: 0.25px;
            font-size: 6.4rem;
            line-height: 75px;
            color: white;
            font-weight: bold;
        }
    }

    .content-container {
        width: 100%;
        padding: 4.75% 8.25%;

        h1, h2 {
            font-size: 2.4rem;
            color: #222222;
            font-weight: bold;
            margin: 10px 0;
        }

        .content-section {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 25px 0;

            .two-column-img {
                width: 48%;
            }

            .two-column-content {
                width: 48.5%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                button {
                    border: 1px solid black;
                    width: 137px;
                    height: 47px;
                    text-align: center;
                    font-size: 1.6rem;
                    margin-top: 20px;
                }
            }

            .the-villas {
                position: relative;
                margin: 25px 0 75px;

                &::after {
                    content: 'THE VILLAS';
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    right: 0;
                    bottom: -38px;
                    border: 1px solid white;
                    background: #D3D2D3;
                    font-size: 2.4rem;
                    letter-spacing: 8px;
                    width: 315px;
                    height: 94px;
                }
            }

            .outskirts {
                position: relative;
                margin: 25px 0 75px;

                &::after {
                    content: 'OUTSKIRTS';
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    left: 0;
                    bottom: -50px;
                    border: 1px solid white;
                    background: #D3D2D3;
                    font-size: 2.4rem;
                    letter-spacing: 8px;
                    width: 315px;
                    height: 94px;
                }
            }

            .the-blocks {
                position: relative;
                margin: 25px 0 75px;

                &::after {
                    content: 'THE BLOCKS';
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    right: 0;
                    bottom: -50px;
                    border: 1px solid white;
                    background: #D3D2D3;
                    font-size: 2.4rem;
                    letter-spacing: 8px;
                    width: 315px;
                    height: 94px;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .project-paragraph {
                font-size: 1.8rem;
                display: block;
                width: 100%;
                padding: 0 23.75%;
            }
        }
    }
}