.page-container {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;

    h2 {
        font-weight: bold;
        font-size: 2.8rem;
        color: @subHeadColor;
        width: 100%;
    }

    .page-header {
        position: relative;

        img {
            z-index: 0;
            width: 100%;
            height: auto;
        }

        h2 {
            position: absolute;
            bottom: 8.5%;
            left: 8%;
            z-index: 1;
            letter-spacing: 0.25px;
            font-size: 6.4rem;
            line-height: 75px;
            color: @jumboColor;
            font-weight: bold;
        }
    }

    .content-section {
        width: 100%;
        padding: 50px 85px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .content-img, .content-text {
            width: 48%;

            @media (max-width: 500px) {
                width: 100%;
            }
        }

        button {
            border: 1px solid black;
            width: 135px;
            height: 45px;
            text-align: center;
            font-size: 1.6rem;
            margin: 0;
        }
            
        .the-villas {
            position: relative;
            width: 100%;
            height: auto;
            margin-top: 47px;

            &::after {
                content: 'THE VILLAS';
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 0;
                bottom: -38px;
                border: 1px solid white;
                background: #D3D2D3;
                font-size: 2.4rem;
                letter-spacing: 8px;
                width: 316px;
                height: 96px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
            
        .outskirts {
            position: relative;
            margin: 43px 0 88px;

            &::after {
                content: 'OUTSKIRTS';
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                left: 0;
                bottom: -50px;
                border: 1px solid white;
                background: #D3D2D3;
                font-size: 2.4rem;
                letter-spacing: 8px;
                width: 316px;
                height: 96px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .the-blocks {
            position: relative;
            margin: 43px 0 88px;

            &::after {
                content: 'THE BLOCKS';
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 0;
                bottom: -50px;
                border: 1px solid white;
                background: #D3D2D3;
                font-size: 2.4rem;
                letter-spacing: 8px;
                width: 316px;
                height: 96px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .project-text{
            width: 52%;
            margin: 0 auto;
            .project-paragraph {
                font-size: 1.8rem;
                line-height: 24px;
            }
        }
    }
}