footer {
	padding: 5%;
	color: white;
	height: 250px;
	width: 100%;
	background: #828282;
	display: flex;
	flex-direction: column;
	.address-section {
		// margin: 20px;
		display: flex;
		justify-content: space-evenly;
	}
	.copyright {
		align-self: center;
	}
}
