.container {
	footer {
		// padding: 5%;
		color: white;
		height: 250px;
		width: 100%;
		background: #828282;
		display: flex;
		flex-direction: column;
		@media @mobile {
			height: auto;
			padding: 0 5%;
		}

		h3 {
			font-size: 20px;
			line-height: 26px;
			font-weight: bold;
		}
		p {
			font-size: 14px;
			line-height: 26px;
		}
		.address-section {
			margin-top: 40px;
			display: flex;
			justify-content: space-evenly;
			@media @mobile {
				flex-direction: column;
			}
			input {
				border-radius: 5px;
				padding: 3%;
				font-size: 1.5rem;
				width: 100%;
				height: 25%;
				@media @mobile {
					height: 50px;
					margin-bottom: 10px;
				}
			}
			address {
				margin-top: 20px;
			}
		}
		.copyright {
			margin-top: 40px;
			align-self: center;
		}
	}
}
