.container {
	.nav-container {
		display: block;

		.nav-menu {
			padding: 10px 5%;
			height: auto;
			display: flex;
			align-content: baseline;
			justify-content: space-between;
			width: 100%;
			position: fixed;
			z-index: 1;
			top: 0;
			left: 0;
			background-color: rgb(159, 169, 181);
			overflow-y: hidden;
			transition: 0.5s;

			@media @mobile {
				margin-top: -2.9%;
			}

			.overlay-content {
				position: relative;
				top: 25%;
				width: 100%;
				text-align: center;
				margin-top: 30px;
				display: none;
			}

			a {
				padding: 8px;
				text-decoration: none;
				font-size: 48px;
				font-weight: bold;
				line-height: 85px;
				color: @background;
				display: block;
				transition: 0.3s;

				&:hover {
					color: @main-color;

					@media @mobile {
						font-size: 20px;
					}
				}
			}

			@media @mobile {
				font-size: 40px;
				top: 15px;
				right: 35px;
			}
		}

		.logo {
			font-weight: bold;
			font-size: 1.8rem;
			color: #ffffff;
		}

		.menu-icon {
			display: inline-block;
			cursor: pointer;
			.bar1,
			.bar2,
			.bar3 {
				border-radius: 4px;
				width: 35px;
				height: 4px;
				background-color: white;
				margin: 5px 0;
				transition: 0.5s;

				&:hover {
					color: #222222;
				}
			}
			.change .bar1 {
				transform: rotate(-45deg) translate(-9px, 6px);
			}

			.change .bar2 {
				opacity: 0;
			}

			.change .bar3 {
				transform: rotate(45deg) translate(-8px, -8px);
			}
		}
		.fullpage {
			height: 100%;
		}
	}
}
