.nav-container {
	display: block;

	.nav-menu {
		padding: 10px 5%;
		height: 50px;
		display: flex;
		align-content: baseline;
		justify-content: space-between;
		width: 100%;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgb(159, 169, 181);
		overflow-y: hidden;
		transition: 0.5s;

		@media @mobile {
		}
		.nav-links {
			display: flex;
			flex-direction: column;
			font-size: 30px;
			overflow-x: hidden;
			transition: 0.5s;
			padding: 60px;
			height: auto;
			visibility: hidden;
			a {
				color: #ffffff;
				margin-top: 20px;
				text-decoration: none;
			}
		}

		.show-links {
			visibility: visible;
		}
	}

	.logo {
		font-weight: bold;
		font-size: 1.8rem;
		color: #ffffff;
	}

	.menu-icon {
		display: inline-block;
		cursor: pointer;
	}
	.bar1,
	.bar2,
	.bar3 {
		border-radius: 4px;
		width: 35px;
		height: 4px;
		background-color: white;
		margin: 5px 0;
		transition: 0.5s;

		&:hover {
			color: #222222;
		}
	}
	.change {
		.bar1 {
			transform: rotate(-45deg) translate(-5px, 6px);
		}

		.bar2 {
			opacity: 0;
		}

		.bar3 {
			transform: rotate(45deg) translate(-6px, -8px);
		}
	}
	.fullpage {
		height: 100vh;
		transition: 0.4s;
	}
}
