.menu {
    .width-100;
    position: fixed;
    background-color: @lambda-color-home-bg;
    height: 50px;
    z-index: 1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu h1 {
    padding: 20px;
    margin-left: 30px;
    line-height: 5px;
    font-size: 2.4rem;
    font-family: Roboto, Arial, sans-serif;
    color: white;
}

.hamburger {
    margin: 5px;
    cursor: pointer;
    .bar1,
    .bar2,
    .bar3 {
        margin: 5px 30px;
        width: 35px;
        height: 4px;
        background-color: @lambda-color-white;
        border-radius: 2px;
        transition: 0.4s;
    }
    &:hover {
        opacity: 0.8;
    }
}

nav {
    margin-top: 85px;
    display: none; // display: flex;
    flex-direction: column;
    a {
        line-height: 84px;
        text-decoration: none;
        font-weight: bold;
        font-size: 3.2rem;
        color: white;
        &:hover {
            color: @tab-hover-bg-color;
        }
    }
}

.menu--active {
    height: 550px;
    position: fixed;
    opacity: 0.9;
    nav {
        display: flex;
    }
    .bar1 {
        -webkit-transform: rotate(-38deg) translate(0px, 9px);
        transform: rotate(-38deg) translate(0px, 9px);
    }
    .bar2 {
        opacity: 0;
    }
    .bar3 {
        -webkit-transform: rotate(41deg) translate(-2px, -12px);
        transform: rotate(41deg) translate(-2px, -12px);
    }
}