.recent-projects {
    display: grid;
    grid-template-columns: 8.3% auto 8.2%;
    grid-template-rows: auto 46px 700px 10px 700px 8px 700px;
    h3 {
        margin-left: 1px;
        font-size: 2.4rem;
        align-self: end;
        grid-column-start: 2;
        font-weight: bold;
        grid-row-start: 1;
    }
    section:nth-child(2) {
        grid-row-start: 3;
    }
    section:nth-child(3) {
        grid-row-start: 5;
    }
    section:nth-child(4) {
        grid-row-start: 7;
    }
}

.project-item {
    display: grid;
    grid-column-start: 2;
    img {
        grid-row-start: 1;
        z-index: 1;
    }
    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        font-size: 23px;
        letter-spacing: 0.85rem;
        align-self: stretch;
        justify-self: stretch;
        background-color: rgb(216, 216, 216);
        border: 1px white solid;
    }
    p {
        word-spacing: 0.01rem;
        font-size: 1.79rem;
        line-height: 2.36rem;
        letter-spacing: 0.003rem;
        &:nth-child(3) {
            grid-row-start: 4;
            grid-column-start: 2;
            grid-column-end: 4;
            align-self: end;
        }
        &:nth-child(4) {
            grid-row-start: 5;
            grid-column-start: 2;
            grid-column-end: 4;
            align-self: end;
        }
    }
}

.project-item.flow-right {
    grid-template-columns: 202px 336px 108px auto 1px;
    grid-template-rows: 175px 56px 40px 170px 167px;
    h2 {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 5;
    }
}

.project-item.flow-left {
    grid-template-columns: 202px 113px 335px 203px;
    grid-template-rows: 174px 55px 39px 171px 168px;
    h2 {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
