.recent-projects {
    display: grid;
    grid-template-columns: 8.2% auto 8.2%;
    grid-template-rows: auto 46px 700px 700px 700px;
    h3 {
        margin-left: 1px;
        font-size: 2.4rem;
        align-self: end;
        grid-column-start: 2;
        font-weight: bold;
        grid-row-start: 1;
    }
    section:nth-child(2) {
        grid-row-start: 3;
    }
    section:nth-child(3) {
        grid-row-start: 5;
        display: none;
    }
    section:nth-child(4) {
        grid-row-start: 7;
        display: none;
    }
}
.project-item.flow-right {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 176px 55px 40px 170px 168px;
    grid-template-columns: 204px 335px 97px 220px;
    img {
        grid-row-start: 1;
        z-index: 1;
    }
    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 3;
        grid-column-end: 5;
        z-index: 2;
        font-size: 23px;
        letter-spacing: 0.75rem;
        word-spacing: 0.4rem;
        align-self: stretch;
        justify-self: stretch;
        background-color: rgb(216, 216, 216);
    }
    p {
        word-spacing: 0.01rem;
        font-size: 1.79rem;
        line-height: 2.38rem;
        letter-spacing: 0.001rem;
        &:nth-child(3) {
            grid-row-start: 4;
            grid-column-start: 2;
            grid-column-end: 4;
            align-self: end;
        }
        &:nth-child(4) {
            grid-row-start: 5;
            grid-column-start: 2;
            grid-column-end: 4;
            align-self: end;
        }
    }
}
