.recent-projects {
    display: grid;
    grid-template-columns: 8.2% auto 8.2%;
    grid-template-rows: auto 700px 700px 700px;
    h3 {
        font-size: 2.4rem;
        align-self: end;
        grid-column-start: 2;
        font-weight: bold;
        grid-row-start: 1;
    }
    :nth-child(2) {
        grid-row-start: 2;
    }
    :nth-child(3) {
        grid-row-start: 5;
    }
    :nth-child(4) {
        grid-row-start: 7;
    }
}
.project-item {
    grid-column-start: 2;
    display: none;
    .project-text {
        display: grid;
        grid-template-rows: 125px 38px auto auto auto;

        grid-template-columns: 8.1% auto 8%;
        :nth-child(3) {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
        img {
            grid-column-start: 2;
            grid-row-start: 3;
        }
    }
}
