footer {
  background: #A4A4A4;
  color: white;
  max-width: 1040px;
  width: 100%;
  padding: 60px 7.5% 0;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    margin-bottom: 40px;

    h4 {
      font-weight: bold;
    }
    input {
      margin-top: 20px;
      width: 275px;
      height: 40px;
      padding: 0 5px;
      border-radius: 10px;
    }
    p {
      font-size: 1.2rem;
      line-height: 2.5;
    }
    span {
      font-size: 1rem;
    }
    @media @phone {
      flex-direction: column;
      align-items: flex-start;
      
      form {
        margin-bottom: 20px;
      }
      address {
        margin-bottom: 20px;
      }
    }
  }
  .copyright {
    text-align: center;
  }
}