.projects-page {
  header {
    display: flex;
    align-items: flex-end;
    background-image: url('../img/projects/projects-jumbotron.jpg');
    background-size: cover;
    height: 200px;
    padding: 50px 7.5%;
    font-size: 6rem;
    font-weight: bold;
    color: white;
  }
  .carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 25px 0 50px;

    .left-button, .right-button {
      display: flex;
      justify-content: center;
      align-items: center;
      background: slategray;
      color: white;
      border: 1px solid white;
      font-size: 40px;
      border-radius: 50%;
      position: absolute;
      width: 50px;
      height: 50px;
      cursor: pointer;

      &:hover {
        color: black;
        border: 1px solid black;
      }
    }
    .left-button {
      top: 50%; 
      left: 25px;
      transform: translate(0, -50%);
    }
    .right-button {
      top: 50%; 
      right: 25px;
      transform: translate(0, -50%);
    }
    img {
      width: 0%;
      height: 500px;
      transition: all 0.5s;
    }
    .img-active {
      width: 100%;
      transition: all 0.5s;
    }
  }
}