.services-page {
  header {
    display: flex;
    align-items: flex-end;
    background-image: url('../img/services/services-jumbotron.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    color: white;
    padding: 20px 7.5%;
    font-size: 6rem;
    font-weight: bold;
    
    @media @phone {
      background-image: url('../img/services/services-mobile-jumbotron.png');
      background-position: bottom left;
      padding: 75px 7.5% 25px;
    }
  }
  .top-content {
    max-width: 800px;
    width: 100%;
    margin: 50px auto;
    font-size: 1.6rem;
    line-height: 1.5;
    
    @media @phone {
      width: 94%;
      margin: 25px 3%;
    }
  }
  .tabs {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  .tabs-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    .tabs-link {
      border: 1px solid black;
      font-weight: bold;
      font-size: 2rem;
      padding: 15px 30px;

      &:hover {
        background: #48A0BC;
        color: white;
      }
    }
    .tabs-link-selected {
      background: #48A0BC;
      color: white;
    }
    @media @phone {
      flex-direction: column;
      width: 94%;
      text-align: center;
      margin: 0 3% 25px;

      .tabs-link {
        margin-bottom: 20px;
      }
    }
  }
  .tabs-items {

    .tabs-item {
      display: none;
      margin-bottom: 30px;

      h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 20px;
      }
      p {
        line-height: 1.5;
        font-size: 1.6rem;
        margin-bottom: 20px;
      }
    }
    .tabs-item-selected {
      display: flex;
    }
    @media @phone {
      margin: 0 3% 30px;

      .tabs-item-selected {
        flex-direction: column;
      }
    }
  }
}