.services-jumbotron {
  background: url("../img/services/services-jumbotron.png");
  background-size: cover;
  height: 25vh;
  width: 100%;
  padding: 30px 0;
  .services-header {
    margin-top: 5%;
    h1 {
      font-weight: @jumbotron-font-weight;
      font-size: @jumbotron-font-size;
      line-height: @jumbotron-line-height;
      color: @jumbotron-color;
    }
  }
}
.services-description {
  margin-top: 50px;
  margin-bottom: 50px;
}
.tabs {
  display: flex;
  justify-content: space-between;
  .tab {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 150px;
    border: 1px solid #222222;
  }
}
.tab-content {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;

  h1 {
    font-weight: @subheader-font-weight;
    font-size: @subheader-font-size;
    color: @subheader-color;
  }
  .service-description {
    width: 50%;
    margin-right: 30px;
    p {
      margin: 30px 0;
    }
  }
  .service-img {
    width: 50%;
    align-self: center;
    img {
      width: 100%;
    }
  }
}
