* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.tabs {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  .tab {
    padding: 20px 40px;
    background: lightgray;
    border: 1px solid black;

    cursor: pointer;

    .tab:hover {
      background: @tab-hover-bg;
      background-color: @tab-selected-bg;
      color: @tab-hover-color;
    }
  }

  // .link[data-tab='1'] {
  //   color: red;
  // }
}

.tab-content {
  width: 100%;
  margin-top: 20px;
  background: lightgray;

  .service-description {
    height: 50px;
    padding: 20px;
    border: 1px solid black;
    display: none;
  }

  // .change {
  //   display: block;
  // }
}
