* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.tabs {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: @subheader-font-color;
  font-weight: @subheader-font-weight;
  font-size: @subheader-font-size;

  .tab {
    padding: 20px 40px;
    background: lightgray;
    border: 1px solid black;

    cursor: pointer;

    .tab:hover {
      background: @tab-hover-bg;
      background-color: @tab-selected-bg;
      color: @tab-hover-color;
    }
  }

  // .link[data-tab='1'] {
  //   color: red;
  // }
}

.tab-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;

  @media @mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .desktop {
    display: block;

    @media @mobile {
      display: none;
    }
  }

  .service-description {
    width: 50%;
    height: 50%;
    padding: 20px;

    // display: none;
  }

  // .change {
  //   display: block;
  // }
}
