.services {

  header {
    .banner {
      .background('../img/services/services-jumbotron.png');
      height: 200px;

      .title {
        margin: 20px;
      }
    }
  }

  section {
    .service-description {
      margin: 60px 0;

      @media @mobile {
        .mobile-width;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }

    .tabs {
      .flex(row, space-between);
      flex-wrap: wrap;
      margin-bottom: 60px;

      @media @mobile {
        .flex(column, space-between, center);
      }

      button {
        &:hover {
          background: #222222;
          color: white;
        }

        @media @mobile {
          margin-bottom: 20px;
          .mobile-width;
        }
      }
    }

    .tab-selected {
      background: #5E9FB9;
      color: white;
    }

    .tabs-item-selected {
      display: flex!important;
    }

    .tab-content {
      .wrapper {
        .flex();
        display: none;
        margin-bottom: 60px;

        @media @mobile {
          .flex(column, flex-start, center);
          display: none;
        }
      }
    }

    .tab-content-text {
      .flex(column);
      width: 45%;
      margin: 0 20px;
      height: 260px;

      @media @mobile {
        .mobile-width;
      }

      h4 {
        color: @main-color;
        font-size: 1.2rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .tab-content-img {
      width: 43%;
      height: 230px;
      margin: 0 20px;
      align-self: flex-end;

      @media @mobile {
        .mobile-width;
        align-self: auto;
      }
    }

    .pre-construction-img {
      .background('../img/services/services-tab-pre-construction-img.png');
    }

    .construction-img {
      .background('../img/services/services-tab-construction-img.png');
    }

    .design-build-img {
      .background('../img/services/services-tab-design-build-img.png');
    }

    .sustainability-img {
      .background('../img/services/services-tab-sustainability-img.png');
    }
  }
}