.services {

  header {
    .banner {
      .background('../img/services/services-jumbotron.png');
      height: 200px;

      .title {
        margin: 20px;
      }
    }
  }

  section {
    .service-description {
      margin: 60px 0;
    }

    .tabs {
      .flex(row, space-between);
      flex-wrap: wrap;
      margin-bottom: 60px;
    }

    .tab-selected {
      background: #5E9FB9
    }

    .tab {
      &:hover {
        background: #222222;
      }
    }

    .tab-content {
      .flex();
      margin-bottom: 60px;
    }

    .tab-content-text {
      .flex(column);
      width: 45%;
      margin: 0 20px;
      height: 260px;

      h4 {
        color: @main-color;
        font-size: 1.2rem;
      }

      p {
        font-size: 1rem;
      }
    }

    .tab-content-img {
      width: 43%;
      height: 230px;
      margin: 0 20px;
      align-self: flex-end;
    }

    .pre-construction-img {
      .background('../img/services/services-tab-pre-construction-img.png');
    }
  }
}