.outskirts {
  width: 100%;
}

  .outskirts .img {
    width: 100%;
    height: 200px;
    margin-top: 40px;
    background-image: url('./../../assets/home/home-mobile-outskirts-img.png');
    background-size: cover;
  }

  .outskirts .titleBox {
    width: 85%;
    height: 90px;
    margin: 0px auto;
    margin-top: -20px;
    background-color: #d8d8d8;
    border: 1px solid #d8d8d8;
  }

    .outskirts .title {
      font-size: 24px;
      text-transform: uppercase;
      text-align: center;
      margin-top: 34px;
      letter-spacing: 5px;
    }

    .outskirts p {
      padding: 0 20px 0 20px;
      line-height: 24px;
      margin-top: 20px;
    }