.dropdown {
  z-index: 3;
  cursor: pointer;

  .dropdown-content {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 5;
    top: 50px;
    left: 0;
    background-color: @gray-background;
    opacity: 0.9;
  }

  .dropdown-link {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 85px;
    color: @white;
    &:hover {
      color: @accent;
    }
  }
  .dropdown-show {
    display: flex;
    flex-direction: column;
  }
}