.dropdown {
  z-index: 2;
  position: absolute;
  right: 70px;
  cursor: pointer;
  @media @mobile {
    padding-right: 0px;
  }
  .dropdown-button {
    padding: 15px;
    color: @white;
    font-size: 20px;
    font-weight: bold;
    @media @mobile {
      padding: 15px 22px 0px 0px;
    }
  }
}

.dropdown-content {
  max-width: 1024px;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  background-color: @gray;
  height: 100vh;
  z-index: 1;
  opacity: 0.9;

  h3 {
    position: absolute;
    top: 22px;
    left: 84px;
    color: @white;
  }

  .dropdown-links {
    display: flex;
    flex-flow: column nowrap;
    width: 17%;
    margin: 0 auto;
    padding-top: 173px;
    .dropdown-link {
      padding: 18px 0;
      text-decoration: none;
      &:hover {
        color: black;
      }
    }
  }

  .hamburger-close {
    position: absolute;
    right: 86px;
    top: 24px;
    cursor: pointer;
  }
}

.dropdown-hidden {
  display: none;
}






