.dropdown {

  // .dropdown-button {

  // }

  .dropdown-content {
    width: 100%;
    position: absolute;
    background-color: @gray-background;
    display: flex;
    align-items: center;
  }

  .dropdown-link {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 85px;
    color: @white;
    &:hover {
      color: @accent;
    }
  }
  .dropdown-hidden {
    display: none;
  }
}