footer {
  width: 100%;
  background-color: #828282;
}

  .wrap {
    width: 90%;
    margin: 0px auto;
    padding: 20px 0 30px 0;
  }

    .letsTalk h3 {
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }

    .letsTalk input {
      width: 96%;
      padding: 15px 0 15px 10px;
      border-radius: 3px;
      margin-top: 10px;
      border: 1px solid #ffffff;
    }

    .letsTalk p {
      font-size: 14px;
      color: #ffffff;
      padding: 10px 0 0 0;
    }

  .card ul {
    margin-top: 25px;
  }

  .card li {
    color: #ffffff;
    font-size: 14px;
    margin-top: 8px;
  }

  .card li:nth-child(1) {
    font-size: 20px;
  }

  .copy {
    margin-left: 20px;
    padding: 30px 0 20px 0;
    color: #ffffff;
    font-size: 14px;
  }