.recent-projects {
  @media @mobile {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
  }
  .projects {
    margin-top: 75px;

    @media @mobile {
      margin-top: 0;
    }

    .the-villas {
      width: 100%;
      position: relative;
    }

    .project-headers {
      width: 100%;
      height: 25%;
      margin: 0 auto;
      @media @mobile {
      }

      .project-header-odd {
        @media @mobile {
          width: 100%;
        }
      }

      .desktop-block {
        display: block;
        @media @mobile {
          display: none;
        }

        .the-villa {
          display: block;
          @media @mobile {
            display: none;
          }
          @media @mobile {
            background-image: url("img/home/home-mobile-villas-img.png");
            display: block;
            width: 100%;
          }
        }

        .the-block {
          background-image: url("img/home/home-mobile-the-blocks-img.png");
          // display: none;
          @media @mobile {
            display: block;
            justify-content: center;
            width: 100%;
          }
        }

        .outskirts {
          @media @mobile {
            background-image: url("img/home/home/home-mobile-outskirts-img.png");
            display: block;
          }
        }
      }

      // .mobile {
      //   display: none;

      //   @media @mobile {
      //     display: block;
      //     margin-bottom: 8%;
      //   }
      // }

      .overlay {
        width: 23%;
        height: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        background-color: @recent-projects-square;
        text-decoration: none;
        color: @button-border;
        letter-spacing: 7px;
        font-size: 1.4rem;
        background-color: #d8d8d8;
        border: 1px solid #d8d8d8;

        position: absolute;
        bottom: -45px;
        right: 0;

        @media @mobile {
          padding: 35px 30px;
          top: 94%;
          left: 0;
          text-align: center;
        }
      }

      .overlay-odd {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 23%;
        height: 100px;
        margin: 0 auto;
        position: absolute;
        bottom: -45px;
        left: 0;
        letter-spacing: 0.25rem;
        text-align: center;
        text-transform: uppercase;
        background-color: @recent-projects-square;
        text-decoration: none;
        color: @button-border;
        letter-spacing: 7px;
        font-size: 1.4rem;
        background-color: #d8d8d8;
        border: 1px solid #d8d8d8;

        @media @mobile {
          padding: 35px 30px;
          top: 94%;
          left: 0;
          text-align: center;
        }
      }
      .img-even {
        width: 100%;
        height: 25%;
        margin: 0 auto;
        display: block;
        @media @mobile {
          display: none;
        }
      }
    }

    .description {
      margin: 11% auto;
      width: 56%;

      @media @mobile {
        text-align: center;
        width: 100%;
        margin: 0;
      }
      p {
        @media @mobile {
          text-align: center;
          padding-left: 25px;
          margin-top: -20px;
        }
      }
    }
  }
}
