.projects {
  margin-top: 75px;

  .the-villas {
    width: 100%;
    position: relative;
  }

  .project-header-odd {
    .img-odd {
      width: 100%;
      height: 25%;
      margin: 0 auto;
    }
    .overlay {
      width: 23%;
      height: 100px;

      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 0.25rem;
      text-transform: uppercase;

      position: absolute;
      bottom: -45px;
      right: 0;
    }
    .project-header-even {
      position: absolute;
      bottom: -45%;
      left: 0;

      .img-even {
        width: 100%;
        height: 25%;
        margin: 0 auto;
      }
    }
  }

  .description {
    margin: 11% auto;
    width: 56%;
  }
}
