.menu {
    .width-100;
    background-color:#97a5b6;
    height: 50px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    justify-content: space-between;
  


    h1 {
        padding: 20px;
        margin-left: 30px;
        line-height: 5px;
        font-size: 1.2rem;
        font-family: Roboto, Arial, sans-serif;
        color: white;
    }
    nav {
        display: flex;
        flex-direction: column;
        display: none;
        
         
        a {
            text-decoration: none;
            font-size: .9rem;
            color: white;
        }
    }

}