.menu {
    .width-100;
    background-color: @lambda-color-home-bg;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
     display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
    h1 {
        padding: 20px;
        margin-left: 30px;
        line-height: 5px;
        font-size: 1.4rem;
        font-family: Roboto, Arial, sans-serif;
        color: white;
    }
    .hamburger{
       margin: 5px;
       cursor: pointer;
       .bar1, .bar2, .bar3 {
        margin: 5px 30px;
        width: 35px;
        height: 4px;
        background-color: @lambda-color-white;
        border-radius: 2px;
        transition: 0.4s;
    }
}


    nav {
        display: flex;
        flex-direction: column;
        display: none;
        a {
            text-decoration: none;
            font-size: .9rem;
            color: white;
        }
    }
}