.about {
  section {
    padding: 0;
  }

  header {
    .banner {
      .background('../img/about/about-jumbotron.jpg');
      height: 200px;

      .title {
        margin: 20px;
      }
    }
  }

  .about-column {
    .flex(row, space-between, center, 100%);
    flex-wrap: wrap;
    min-height: 614px;
    position: relative;
    padding: 50px;
    .border-box();
  }

  .about-text {
    top: 37px;
    left: 20px;
    width: 42%;
    height: 250px;

    @media @mobile {
      width: 92%;
    }
  }

  .person-column {
    .flex(column, center, center);
    width: 42%;
  }

  .person {
    .border-radius(50%);
    height: 120px;
    width: 120px;
    position: relative;
    border: 6px solid @grey-background;

    .person-title {
      .flex(row, center, center);
      background: @grey-background;
      position: absolute;
      bottom: -69px;
      right: 50%;
      transform: translateX(50%);
      .title-box();
    }
  }

  .person-1 {
    .background('../img/about/person.png');
  }

  .person-2 {
    .background('../img/about/person-2.jpeg');
  }

  .person-3 {
    .background('../img/about/person-3.jpeg');
  }

  .person-info {
    .flex(column, center, center);
    padding-top: 42px;
    width: 200px;
    height: 100px;

    b {
      font-weight: bold;
    }
  }

  .person-row {
    .flex(row, space-between, center, 100%);
    margin-top: 40px;

    .person-column {

    }
  }

  /*.wave {
    height: 425px;
    width: 100%;
    .background('../img/about/about-wave.svg')
  }*/

}