.about {
  section {
    padding: 0;
  }

  header {
    .banner {
      .background('../img/about/about-jumbotron.jpg');
      height: 200px;

      .title {
        margin: 20px;
      }
    }
  }

  .about-column {
    .flex(column, flex-end);
    height: 500px;
    position: relative;
  }

  .about-text {
    text-align: center;
    position: absolute;
    top: 37px;
    left: 20px;
    width: 42%;
    height: 250px;

    @media @mobile {
      width: 92%;
    }
  }

  .wave {
    height: 425px;
    width: 100%;
    .background('../img/about/about-wave.svg')
  }

}