section.nav{
    @media @desktop{
        display: flex;
        width:100%;
    }
    nav.navigation{
        background-color: gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:100%;
        height: 50px;

        @media @desktop{
            display: flex;
            width:100%;
        }
        .nav-logo{
            h1.header{
                padding-top:10px;
                padding-left:20px;
                font-size: 24px;
                font-weight: bold;
                color:#ffffff;
                @media @desktop{
                    color:#ffffff;
                    padding-left:100px;
                }
            }
        }
        .menu-open{
            display: flex;
            flex-direction: row;
            height: 20px;
            padding-right:20px;
            @media @desktop{
                padding-right:100px;
            }
            img{
                align-items: flex-end
            }
        }
        .nav-expanded{
            display: none;
            @media @desktop{
                padding-left:40px;
            }
        }
    }
}