//
// nav {
//   display: flex;
//   justify-content: center;
//   margin: auto;
//   flex-wrap: wrap;
//   width: 100%;
//   height: 30px;
//   padding: 10px 0;
//       max-width: 1024px;
//   background-color: @blue-grey;
//     position: absolute;
//     z-index: 1;
//     @media @phone {
//   height:44px;
//
// }
//
//   div {
//     display: flex;
// font-size: 1.7rem;
//     width: 100%;
// justify-content: space-between;
// align-items: center;
//
// @media @phone {
//   padding-top: 0px;
//     display: flex;
// align-items: center;
//
//
// }
//
//   }
//   h1{
//     font-family: @main-font;
//     font-weight: 700;
//     color: @white;
//     font-size: 1.3em;
//     padding-left: 88px;
//
//       @media @phone {
//     font-size: 1.7em;
//       padding-left: 18px;
// //
//   }
//   }
//   img {
//
//     padding-right: 85px;
//   height: 20px;
//   width: auto;
//
//   @media @phone {
//     height: 24px;
//     width: auto;
//         padding-right: 18px;
//
//
// }
//   }
.nav{
  position: fixed;
}

.menu-button {
  position: absolute;
  right: 88px;
  top: 15px;
  cursor: pointer;
  @media @phone {
      right: 28px;
    //
  }

}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 167px;
  margin-right: auto;
  width: 75.5%;
  height: 82.5vh;
  /* This give the height 100% of the screen or, '100% of View Height' */
  background-color: @blue-grey;
  border-left: none;
  border-bottom: none;
  font-family: @main-font;
  font-weight: 700;

  a:link {
    text-decoration: none;
    color: @white;
  }

  a:visited {
    color: @white;
  }

  a:hover {
    color: @black;
  }
  z-index: 1;
  /* This set the layer level of the element, it has precendence over initial level of 1*/
  @media @phone {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: @blue-grey;
    border-left: none;
    border-bottom: none;
    z-index: 2;
    margin-left: 0;
    float: left;
  }
}

ul {
  list-style-type: none;
  font-size: 4.8em;
  padding: 160px 0 0 420px;

  text-align: center;
  @media @phone {
      padding: 100px 0 0 80px;
        font-size: 5.8em;
  }

  li {
    padding: 18px 0;
    text-align: left;
    @media @phone {

    }

  }

}

.menu--open {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  position: fixed;
  flex-wrap: wrap;
  width: 100%;
  color: white;
  height: 30px;
  padding: 10px 0;
  font-size: 1.7em;
  top: 0;
  max-width: 1024px;
  background-color: @blue-grey;

  z-index: 1;

  h1 {
    font-family: @main-font;
    font-weight: 700;
    color: @white;
    font-size: 1.45em;
    padding-left: 85px;
    padding-top: 2px;
    @media @phone {
      font-size: 1.7em;
      padding-left: 18px;
      //
    }
  }
}
