.header {
  width:inherit;
  // width: 75vw;
  height: 35px;
  background-color: #388E3C;
  color: white;
 display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
   top: 0;
  z-index: 2;

 
}
