nav {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0;
  background-color: @main-color;

  div {
    display: flex;
    font-size: 1.7rem;
    width: 100%;
    justify-content: space-around;
    margin: 10px 0;
  }

  .menu {
    display: none;
    position: fixed;
    top: 75px;
    left: 0;
    width: 350px;
    height: 100vh;
    /* This give the height 100% of the screen or, '100% of View Height' */
    border-left: none;
    border-bottom: none;
    z-index: 2;
    /* This set the layer level of the element, it has precendence over initial level of 1*/
  }
}
