.header-content {
  display: flex;
  justify-content: space-between;

  .header-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    button {
      width: 9rem;
    }
  }
};