@import './variables.less';

.button {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0);
  // border: 1px solid black;
  cursor: pointer;

  &:hover {
    span {
      background-color: @nav-button-hover-color;
    }
    background-color: @nav-button-hover-bg-color;
  }

  span {
    // border: 1px solid black;
    border-radius: 50px;
    display: block;
    width: 35px;
    background-color: white;
    height: 4px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  }

  span:nth-child(2) {
    margin-top: 4px;
    margin-bottom: 4px;
  }

}

.open {

}

.close {
  span:nth-child(1) {
    // background-color: red;
    width: 30px;
    transform: rotate(45deg) translateY(5.5px) translateX(5.5px);
  }

  span:nth-child(2) {
    width: 0px;
  }

  span:nth-child(3) {
    // background-color: blue;
    width: 30px;
    transform: rotate(-45deg) translateY(-5.5px) translateX(5.5px);
  }

}
