/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0b1 | 201101
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt, var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:’’;
  content:none;
}
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/* Your Code Goes Here */
@import'mixins.less';
.container {
  box-sizing: border-box;
  max-width: 1024px;
  margin: auto;
  font-family: Roboto, Arial, sans-serif;
  background-color: #FFFFFF;
  color: #222222;
    .top-bar {
      padding: 14px;
      background-color: #828282;
      color: #FFFFFF;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
     h2 {
       font-size: 22px;
       margin-left: 74px;
       align-self: center;
     }
     .hamburger {
       margin-right: 72px;
     }
    }
  .jumbo-desk {
    height: 547px;
    width: 100%;
    z-index: -1;
  }
  .overlap {
    position: relative;
    bottom: 60px;
    left: 40px;
    font-weight: //@jumbo-weight;
    font-size:/// @jumbo-size;
    line-height: //@jumbo-line-height;
    color:// @jumbo-color;

  }
  .smithJones {
    display: flex;
    flex-direction: row;
    margin: 53px 0 0 0;
    .smithJones-text {
      border: 1px solid black;
      width: 50%;
    h3 {
      font-size: 24px;
      margin: 0 0 0 2px;
      padding: 46px 0 0 80px;
        p {

        }
    }
  }
    .penGraph {
      margin: 0 0 0 0;
    }
  }
}
