.main-navigation {
  background-color: @SJ-nav-background;
  color: @SJ-nav-color;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 8.4rem;
  color: @SJ-color-white;

  @media @mobile {
    height: 80px;
    padding: 14px 1% 14px 4.5%;
  }

  h3 { // S&J
    font-weight: bold;
    font-size: 2.4rem;

    @media @mobile {
      font-size: 3.75rem;
    }
  } //h3

  .dropdown { // holds button & all hidden links


    @media @mobile {
        padding: 20px;
    }

    .menu-button { // hamburger img
        cursor: pointer;
        // position: absolute;
        // right: 85px;

          @media @mobile {
            height: 35px;
            width: auto;
          }
    } // img hambuger

    .menu-button-x { // hides hamburger btn
      display: none;
    }

      .button-X {
        display: none;
      }

      .button-X-show {
        display: block;
        font-size: 2.4rem;
        font-weight: bold;
        cursor: pointer;

        @media @mobile {
          font-size: 3.75rem;
        }
      }



    .hidden-menu-content { // div holding all a links
      color: @SJ-nav-color;
      display: none;
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      opacity: 0.9;

      background-color: @SJ-nav-background;
      border-left: none;
      border-bottom: none;
      z-index: 12; 
      height: 550px;
      padding-top: 100px;


    } // hidden-menu-content

    .hidden-link {  // a links
      display: flex;
      flex-direction: column; 
      align-items: center;
      color: @SJ-nav-color;
      text-decoration: none;
      font-size: 5rem;
      padding-top: 30px;
      line-height: 6rem;

      &:hover {
        color: black;
      }

    } // hidden-link




    .hidden-menu-content--open { // 
      display: block
    }

  } // header dropdown
} // .main-navigation







