.menu-button {
    border: 2px solid red;
    position: absolute;
    cursor: pointer;
}

.menu {
    border: 2px solid red;

    
    // display: none;
}

// .menu nav a {
//     text-decoration: none;

// }

// .menu-open {
//     display: block;
// }





