
.btn-toggle {
    display: block;
}

.full-screen {
    // .brd();
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // height: 100%;
    // width: 84%;
    top: 0%;
    bottom: 0%;
    background: rgba(155, 163, 173, 0.9);	
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
}