
.btn-toggle {
    display: block;
}

.full-screen {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 0%;
    bottom: 0px;
    background: rgba(155, 163, 173, 0.9);
  
}

.menu-toggle {
    // display: flex;
    // flex-direction: column;
    top: 0%;
    
    
    @media @mobile-small {
        width: 80%;       
    }
}