.tab{
    .section-width;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    .display-flex-column;
    margin: 50px auto;
    @media @mobile{
        margin: 10px auto;
    } 

    .btn-tab{
        .display-flex-spacebtween;
        flex-wrap: wrap;
        background: #f6f6f6;
        box-shadow: inset 0 1px 1px 1px rgba(0,0,0,0.1);
        padding: 10px 2%;
        @media @mobile{
            .display-flex-column;  
        } 

        &--link{
         border-radius: 5px;
         background: @color-white;
        .linkBtn(10px 30px, 1.5rem,@color-LightGrey2);
        transition: color 1s ease, margin-left 1s ease,background 1s ease; 
        @media @mobile{
            margin-bottom: 10px  
        } 
    }

        &--link:hover{
            margin-left: 1%;
            background: @color-LightGrey2;
           color: white;
           }
    }
    .btn-link-selected{
        .btnLinkSelected;
    }
    .btn-link-selected:hover{
        .btnLinkSelected;
    }

    .tab-description{
        display: none;
        margin: 10px;
 
        &--title{
            font-size: 1.8rem;
            margin: 20px 0;
        }

        &-content{
            display: flex;
            
            @media @mobile{
                flex-wrap: wrap; 
            } 

            &--text{
                width: 60%;
                margin-right: 3%;
                @media @mobile{
                    width: 90%;
                    margin: 1px auto; 
                } 

                .tabtext{
                    font-size: 1.2rem;
                    line-height: 1.5;
                    margin-bottom: 20px;
                    @media @mobile{
                        font-size: 1.1rem;
                        text-align: justify;
                    } 
                }
            }

            &--image1{
                height: 300px;
                .home-image(url(../img/services/services-tab-pre-construction-img.png)); 
            @media @mobile{
                .home-image-mobile(url(../img/services/services-tab-mobile-pre-construction-img.png)) ;
            }
            }

            &--image2{
                height: 300px;
                .home-image(url(../img/services/services-tab-construction-img.png)); 
            @media @mobile{
                .home-image-mobile(url(../img/services/services-tab-mobile-construction-img.png)) ;
            }
            }

            &--image3{
                height: 300px;
                .home-image(url(../img/services/services-tab-design-build-img.png)); 
            @media @mobile{
                .home-image-mobile(url(../img/services/services-tab-mobile-design-build-img.png)) ;
            }
            }

            &--image4{
                height: 300px;
                .home-image(url(../img/services/services-tab-sustainability-img.png)); 
            @media @mobile{
                .home-image-mobile(url(../img/services/services-tab-mobile-sustainability-img.png)) ;
            }
            }
            
        }
        
    }

    .tab-element-selected{
       .display-flex-column;
       
    }
}
   