
.content{
    width: 90%;
    margin: 10px auto;
    @media @mobile{
     margin: 5px auto;
    } 
    &--text{
        font-size: 1.6rem;
        line-height: 1.6;
        font-weight: normal;
        text-align: left;
        margin: 10px 0;
        @media @mobile{
            font-size: 1.2rem;
        } 
    }
}