.tab{
    .section-width;
    
    .display-flex-column;
    margin: 50px auto;

    .btn-tab{
        .display-flex-spacebtween;

        &--link{
         border-radius: 5px;
        .linkBtn(10px 30px, 2rem,@color : @color-DarkGrey );
        }
    }

    .tab-description{
        
        margin: 10px;
        .display-flex-column;

        &--title{
            font-size: 1.8rem;
            margin: 20px 0;
        }

        &-content{
            display: flex;
         

            &--text{
                width: 60%;
                margin-right: 3%;

                .tabtext{
                    font-size: 1.2rem;
                    line-height: 1.5;
                    margin-bottom: 20px;
                }
            }

            &--image1{
                height: 400px;
                .home-image(url(../img/services/services-tab-pre-construction-img.png)); 
            @media @mobile{
                .home-image-mobile(url(../img/services/services-tab-mobile-pre-construction-img.png)) ;
            }
            }

            &--image2{
                height: 400px;
                .home-image(url(../img/services/services-tab-construction-img.png)); 
            @media @mobile{
                .home-image-mobile(url(../img/home/home-mobile-img-1.png)) ;
            }
            }

            &--image3{
                height: 400px;
                .home-image(url(../img/services/services-tab-design-build-img.png)); 
            @media @mobile{
                .home-image-mobile(url(../img/services/services-tab-mobile-design-build-img.png)) ;
            }
            }

            &--image4{
                height: 400px;
                .home-image(url(../img/services/services-tab-sustainability-img.png)); 
            @media @mobile{
                .home-image-mobile(url(../img/services/services-tab-mobile-sustainability-img.png)) ;
            }
            }
            
        }
        
    }
}
   