
.content{
    width: 90%;
    margin: 10px auto;
    @media @mobile{
        width: 90%;
        margin: 20px auto;
    } 
    &--text{
        font-size: 1.6rem;
        line-height: 1.5;
        font-weight: normal;
        text-align: justify;
        margin: 20px 0;
        @media @mobile{
            font-size: 1rem;
        } 
    }
}