.services-container{
    .width-100;
    @media @mobile{
        cursor: pointer;
    }
    .services-jumbotron {
        background-image: url(../img/services/services-jumbotron.png);
        height: 600px;
        .jumbo;
        .width-100;
        .flex(none, flex-end, none);
        @media @mobile {
            background-image: url(../img/services/services-mobile-jumbotron.png);
            height: 260px;
            .jumbo;
        }
        .header {
            line-height: 85px;
            padding: 50px;
            margin-left: 15px;
            .font(@size: 6.4rem, @weight: bold, @height: 84px);
            @media @mobile {
                .font(@size: 5.3rem, @weight: bold);
                margin: 0;
                padding: 20px;
            }
        }
    }


}