
.services-container{
   .width-100;
.services-jumbotron {
    background-image: url('/img/services/services-jumbotron.png');
    height: 600px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    .header {
        line-height: 85px;
        padding: 50px;
        margin-left: 15px;
    .font(@size:6.4rem, @weight: bold, @height: 84px);
   
      
    }
}

}