@import './../assets/variables.less';

.tabComponent {
  width: 90%;
  margin: 0px auto;

  @media @tablet {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .tabText {
    margin: 10px 0 0 0;
    @media @tablet { width: 48%; }

    h2 {
      font-size: 24px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin: 20px 0 0 0;
        &:last-child { margin: 30px 0 30px 0; }
    }
  }

  .tabImg {
    background-image: url('./../../img/services/services-tab-mobile-pre-construction-img.png');
    background-size: cover;
    width: 100%;
    height: 280px;
    margin-bottom: 30px;

    @media @tablet {
      width: 48%;
      background-image: url('./../../img/services/services-tab-pre-construction-img.png');
      margin: 60px 0 0 0;
    }
  }
}