/* COLORS */
@white: #fff;
@black: #222;
@grey: #D8D8D8;
@mainColor: #5E9FB9;
@footerGrey: #828282;
@headerColor: #99a4af;

/* FONTS */
@font: 'Roboto', sans-serif;

/* MEDIA QUERIES */
@tablet: ~"(min-width: 736px)";
@desktop: ~"(min-width: 1100px)";
