@import '_variables';
.white-btn {
    text-transform: capitalize;
    background: @general-white;
    border-color: #222222;
}
.jumbo-text-style {
    color: @general-white;
    font-weight: bold;
    font-size: 6.4rem;
}