header {
  .grid();

  width: 100vw;
  height: 100vh;
  background: url(../img/home/home-jumbotron.png) center center no-repeat fixed;
  background-size: cover;

  @media @phone {
    height: calc(100vw * 0.8125);
    background: url(../img/home/home-mobile-jumbotron.png) no-repeat;
    background-size: cover;
  }

  .header__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    .grid-center-column();
    padding: 0 0 50px 0;
    color: @brand-color-white;
    .font-bold();
    font-size: 6.4rem;
    line-height: 7.5rem;

    @media @tablet {
      font-size: 5rem;
      line-height: 5.85rem;
      padding: 0 0 23px;
    }

    @media @phone {
      padding: 0 @gutter-width-phone 23px;
      font-size: 3.6rem;
      line-height: 4.2rem;
    }

    p {
      transform: translateX(10px);
      opacity: 0;
      transition: all .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);

      &.is-showing {
        transform: translateX(0);
        opacity: 1;
      }
    }

  }

  // styles for contact and services
  &.header--contact, &.header--services {
    height: 250px;

    @media @phone {
      height: 260px;
    }

    .header__content {
      padding: 0 0 @gutter-width-phone 0;

      @media @phone {
        padding: 0 0 23px @gutter-width-phone;
      }
    }
  }

  &.header--contact {
    background: url(../img/contact/contact-jumbotron.png) center center / cover no-repeat;

    @media @phone {
      background: url(../img/contact/contact-mobile-jumbotron.png) center center / cover no-repeat;
    }
  }

  &.header--services {
    background: url(../img/services/services-jumbotron.png) center center / cover no-repeat;

    @media @phone {
      background: url(../img/services/services-mobile-jumbotron.png) center center / cover no-repeat;
    }
  }

}